<table>
    <thead>
        <tr>
            <th>Xs</th>
            <th>Small</th>
            <th>Medium</th>
            <th>Large</th>
            <th>Extra large</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>320px</code></td>
            <td><code>480px</code></td>
            <td><code>768px</code></td>
            <td><code>980px</code></td>
            <td><code>1200px</code></td>
        </tr>
        <tr>
            <td><code>$xsSize</code></td>
            <td><code>map-get($grid-breakpoints, sm)</code></td>
            <td><code>map-get($grid-breakpoints, md)</code></td>
            <td><code>map-get($grid-breakpoints, lg)</code></td>
            <td><code>map-get($grid-breakpoints, xl)</code></td>
        </tr>
    </tbody>
</table>