@media #{($breakpoint-lg-only)}
  .search-bar 
    .search-body 
      input 
        &:focus 
          outline: #{($baseUnit * 0.3)} solid $colourSweetCorn
          box-shadow: none

  .search-results 
    .teaser 
      a 
        &:focus 
          background-color: $colourSweetCorn
          text-decoration: none
          border: #{($baseUnit * 0.3)} solid $colourSweetCorn

          img 
            outline: #{($baseUnit * 0.3)} solid $colourSweetCorn

  .search-body 
    input 
      &:focus 
        outline: #{($baseUnit * 0.3)} solid $colourSweetCorn
        box-shadow: none