@media #{($breakpoint-sm-down)} 
  .search-bar
    margin: #{(-$baseUnit*2)} #{(-$baseUnit)} 0 #{(-$baseUnit)}

    .search-body
      .search-form
        margin-left: #{($baseUnit*2)}
        margin-right: #{($baseUnit*2)}