@media #{$breakpoint-lg-up}
  .download
    .download
      &-title
        a
          &:focus
            background-color: $colourSweetCorn
            box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn
            text-decoration: none
            color: darken($colourRed, 10%)