$downloadImageWidth: 100px

.download
  display: grid
  grid-template-areas: 'download-category' 'download-title' 'download-date' 'download-description' 'download-actions' 'download-requests'
  margin: 0 0 ($baseUnit * 2) 0
  padding: 0

  &.with-image
    grid-template-areas: 'download-image download-category' 'download-image download-title' 'download-image download-date' 'download-image download-description' 'download-image download-actions' 'download-image download-requests'
    grid-template-columns: $downloadImageWidth 1fr
    grid-column-gap: $baseUnit * 2

    .download
      &-category,
      &-title,
      &-date,
      &-actions,
      &-requests
        @supports not (display: grid)
          margin-left: $downloadImageWidth + 20px

  .download
    &-image
      grid-area: download-image
      -ms-grid-row: 1
      -ms-grid-row-span: 5
      margin: 0
      padding: 0

      @supports not (display: grid)
        float: left
        width: $downloadImageWidth
        margin-right: $baseUnit * 2

      img
        width: 100px

    &-category
      +grid-ms-fallback(3, 1)

      grid-area: download-category
      margin-bottom: 0
      display: flex
      align-items: center

      .icon
        margin-right: $baseUnit / 2

    &-title
      +grid-ms-fallback(3, 2)

      grid-area: download-title
      color: $colourGrey
      margin-bottom: 0
      font-family: $boldFontFamily
      font-size: map-get($headingFontSizes, 'normal')
      line-height: map-get($headingLineHeights, 'normal')

      a
        color: $colourRed

        &:hover
          color: darken($colourRed, 10%)

    &-date
      +grid-ms-fallback(3, 3)

      grid-area: download-date

    &-description
      +grid-ms-fallback(3, 4)

      grid-area: download-description

      @supports not (display: grid)
        margin-left: $downloadImageWidth + 20px

    &-actions
      +grid-ms-fallback(3, 5)

      grid-area: download-actions
      margin-bottom: 0

      .btn
        margin-right: $baseUnit
        margin-bottom: $baseUnit * 1.5
        display: inline-block

        &:last-child
          margin-right: 0

    &-requests
      +grid-ms-fallback(3, 6)

      grid-area: download-requests

    &-filesize
      font-family: $brandFamily

    &-link,
    &-description,
    &-date
      margin-bottom: $baseUnit * 1.5

@import download-lg-up
