@media #{$breakpoint-sm-down}
  .box
    &.box-horizontal
      .box-header
        .box-title
          margin-left: inherit

        img
          position: static
          width: 100%

      .box-body
        margin-left: inherit

      .box-footer
        margin-left: inherit