@media #{$breakpoint-lg-only}
  .box
    &.box-shadow
      &:nth-child(2)
        margin-left: ($baseUnit*3)

    .box-header
      .box-title
        a
          &:focus
            background-color: $colourSweetCorn
            box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
            text-decoration: none
            color: $colourBlack

            &:hover
              color: $colourBlack

    .box-body
      a
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          text-decoration: none
          color: $colourBlack

    .box-footer
      a:not(.btn)
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          text-decoration: none
          color: $colourBlack

          .icon
            fill: $colourBlack

          &:after
            color: $colourBlack

  .call-to-action-group
    .box
      .box-header
        flex-grow: 0

      .box-body
        padding-bottom: ($baseUnit / 2)
        padding-top: ($baseUnit / 2)
        flex-grow: 1