@media #{$breakpoint-xl-up}
  .box
    &.box-inline
      &.float-left
        margin-left: 0
        margin-right: $baseUnit*3

    &.box-shadow
      &:nth-child(2)
        margin-left: ($baseUnit*3)

    .box-header
      a:not(.btn)
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          text-decoration: none
          color: $colourBlack

          &:hover
            color: $colourBlack

        &:hover
          color: $colourLinkHover

    .box-body
      a
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          text-decoration: none
          color: $colourBlack

    .box-footer
      a:not(.btn)
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          text-decoration: none
          color: $colourBlack 

          .icon
            fill: $colourBlack

          &:after
            color: $colourBlack

    &.box-primary
      .box-header
        a
          &:hover
            color: $colourWhite

    &.box-inverse
      .box-header
        a
          &:hover
            color: $colourWhite

    &.box-success
      .box-header
        a
          &:hover
            color: $colourWhite

  .call-to-action-group
    .box
      .box-body
        padding-bottom: $baseUnit
        padding-top: 0px