@media #{$breakpoint-md-only}
  .box
    &.box-shadow
      &:nth-child(2)
        margin-left: ($baseUnit*3)

    &-group
      > div
        border-left: $baseUnit*0.1 solid $border-color

        &:first-child
          border-left: none

        &:nth-child(2)
          .box-title
            margin-top: calc(1.5rem + #{$baseUnit*0.5})
        
        .box-body
          border-bottom: none
