.box
  +border-radius(0)

  padding: 0
  margin-bottom: $baseUnit * 2
  display: block

  +clearfix

  border: ($baseUnit * 0.1) solid $colourGreyLight

  .list
    a
      word-break: break-word

  &.with-icon
    .box-header
      position: relative

      .icon
        +square(50px)

        position: relative
        top: #{-$baseUnit * 0.5}
        left: $baseUnit * 2
        background-color: $colourBlack
        fill: $colourWhite
        text-align: center
        line-height: $baseUnit * 5
        padding: $baseUnit * 1.3

      img
        margin-top: -$baseUnit * 5

  &.box-larger
    .box-title
      font-family: $boldFontFamily
      font-size: map-get($headingFontSizes, 'xl')
      line-height: map-get($headingLineHeights, 'xl')

  &.box-horizontal
    overflow: hidden
    position: relative

    .box-title
      margin-left: 50%

    .box-header
      img
        position: absolute
        width: 50%

    .box-body
      margin-left: 50%

    .box-footer
      margin-left: 50%

      .icon
        fill: $colourBlack

  &.box-quote
    background-color: $colourGreyLightest
    border: none

    .quote
      +clearfix

      padding: $baseUnit * 2
      border: none

      .quote-body
        border-left: none
        padding: 0

      .quote-author,
      .quote-source
        color: darken($colourRed, 5%)

      &.with-icon
        .quote-body
          border-left: none
          margin-top: $baseUnit
          margin-left: $baseUnit

        .icon
          margin-bottom: 0

  &.box-inverse
    background-color: $colourTintDarkest
    border: none
    color: $colourWhite

    a
      color: $colourWhite

    .box-header
      color: $colourWhite

      .box-title
        color: $colourWhite

        a:hover
          color: $colourWhite

    .box-footer
      a
        color: $colourWhite

      .icon
        fill: $colourWhite

    select
      background-color: $colourWhite
      color: $colourBlack

    .quote-author
      color: $colourWhite

    .list-links
      a:after
        color: $colourWhite

    .table
      color: $colourWhite

    .search-form
      &-query
        border: none

  &.box-primary
    background-color: $colourRed
    border: none
    color: $colourWhite

    .box-header
      color: $colourWhite

      .box-title
        color: $colourWhite

    h2
      color: $colourWhite
      margin-bottom: $baseUnit

    a
      color: $colourWhite

      &:hover
        color: $colourWhite

    .list
      margin-left: $baseUnit * 2
      margin-bottom: $baseUnit
      padding-right: $baseUnit

      li
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        margin-bottom: $baseUnit / 2

      svg
        fill: $colourWhite
        margin-right: $baseUnit
        margin-bottom: -$baseUnit * 0.2

    .box-footer
      .icon
        fill: $colourWhite

      a
        color: $colourWhite

    &.box-contact
      h2
        margin-left: $baseUnit * 2
        padding-top: $baseUnit * 2

      ul
        a
          display: inline

      .icon
        +square(map-get($svgWidths, 'sm'))

        fill: $colourWhite
        margin: 0 ($baseUnit * 0.5) #{$baseUnit * 0.5} #{$baseUnit * 2}

      a
        display: inline-block
        margin-bottom: $baseUnit * 2.5

  &.box-success
    border: none
    background-color: $colourBtnSuccessBackground

    .box-title
      color: $colourWhite

    .box-body
      color: $colourWhite

  &.box-secondary
    .box-header
      background: $colourAlto
      padding-bottom: $baseUnit

      & + .box-body
        padding-top: $baseUnit * 2

    .box-body
      background: $colourConcrete

      table
        padding-top: $baseUnit

      p
        overflow: hidden
        text-overflow: ellipsis

    .box-footer
      padding-top: $baseUnit * 2
      background: $colourAlto

  &.box-calendar
    #next,
    .next
      text-align: right

      .icon
        padding-right: 0
        padding-left: $baseUnit / 2

    #prev,
    .prev
      text-align: left

    #today
      background: $colourRed

  &.box-recent-posts
    .date
      color: $colourTintLight

  &.box-inline
    &.float-left
      margin-left: 0
      margin-right: $baseUnit * 2

  &.box-shadow
    padding: $baseUnit * 2.5
    background-color: $colourWhite
    border: none
    box-shadow: 0px 0px $baseUnit 0px rgba($colourBlack, 0.1)
    margin-bottom: 0
    border-bottom: ($baseUnit * 0.1) solid $colourGreyLightest

    .box-body
      min-height: $baseUnit * 15

      table:last-of-type
        margin-bottom: $baseUnit * 1.8

  .box-header
    +clearfix

    margin-top: 0

    > a
      display: block

      &.btn
        margin: $baseUnit * 2

    a.box-title
      text-decoration: underline

    img
      width: 100%

    .box-title
      padding: #{$baseUnit * 2} #{$baseUnit * 2} 0 #{$baseUnit * 2}

    .badge-group
      list-style: none
      padding: #{$baseUnit * 2.5} #{$baseUnit * 2} 0 0
      margin: 0

      li
        float: left

        +clearfix

        margin-left: $baseUnit * 0.5

  .box-title
    font-family: $boldFontFamily
    font-size: map-get($headingFontSizes, 'normal')
    line-height: map-get($headingLineHeights, 'normal')
    margin-bottom: $baseUnit

    a
      &:after
        content: ''

    select
      margin: 0 0 0 ($baseUnit * 2)

    &-suffix
      @extend .mb-5

  .box-body
    padding: $baseUnit * 2

    .download
      margin-bottom: 0

      &-requests
        margin-top: $baseUnit * 1.5

    .lead
      font-size: map-get($headingFontSizes, 'sm')
      line-height: map-get($headingLineHeights, 'sm')

    .profile:last-child,
    p:last-child,
    .btn:last-child
      margin-bottom: 0

    .icon-tick
      color: $colourGreen

    &.box-group
      .list-links
        margin-left: 0
        margin-bottom: $baseUnit * 2

    .box-body p:last-of-type
      margin-bottom: 0

    select
      width: 100%

    table:last-of-type
      margin-bottom: 0

    .list:last-child,
    .list-links:last-child
      margin-bottom: 0
      padding-bottom: 0

    .form-actions
      padding: 0
      background-color: transparent
      border-top: none
      margin-top: 0

    .form-inline,
    .form-horizontal
      margin-bottom: 0

      input,
      textarea,
      select
        margin-bottom: $baseUnit

  .box-header + .box-body
    padding: 0 #{$baseUnit * 2} #{$baseUnit * 2} #{$baseUnit * 2}

  .box-footer
    padding: 0 #{$baseUnit * 2} #{$baseUnit * 2} #{$baseUnit * 2}

    > *
      margin-bottom: 0

    .icon
      margin: 0 0 ($baseUnit * 0.1) #{$baseUnit * 0.5}

      +square(12px)

    a
      font-family: $brandFamily
      text-decoration: none

      &:hover
        text-decoration: underline

      &.btn
        font-family: $boldFontFamily
        font-style: normal

        &:after
          content: ''
          margin-left: 0

        &:last-child
          margin-bottom: 0

        &:hover
          text-decoration: none

  .box-heading
    margin-bottom: $baseUnit

  &.box-facilities
    border: none
    background: lighten($colourTintLightest, 5%)

    .box
      &-title
        padding: $baseUnit * 3 #{$baseUnit * 2} #{$baseUnit * 2} #{$baseUnit * 2}
        margin-bottom: 0

      &-body
        font-size: map-get($fontSizes, 'sm')
        padding-bottom: $baseUnit
        padding-left: $baseUnit * 3.1

        .facility
          margin-bottom: $baseUnit * 1.5
          padding-left: $baseUnit * 3.4
          text-indent: -$baseUnit * 3.4

          .icon
            +square(map-get($svgWidths, 'md'))

      &-footer
        padding-bottom: $baseUnit * 3.5

  &-group
    &.with-title
      .box-title
        margin-bottom: $baseUnit * 0.5

    .box-body
      border-bottom: ($baseUnit * 0.1) solid $border-color

    > div:last-child
      .box-body
        border-bottom: none

  .profile
    text-align: left

.call-to-action-group
  box-shadow: 0px 0px $baseUnit 0px rgba($colourBlack, 0.1)
  display: flex
  flex-wrap: wrap
  justify-content: center
  flex-grow: 1

  .box
    border: none
    border-bottom: ($baseUnit * 0.1) solid $colourGreyLighter
    border-right: ($baseUnit * 0.1) solid $colourGreyLighter
    padding: #{$baseUnit * 3} #{$baseUnit * 2}
    margin-bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .box-header
      max-width: 100%
      flex-grow: 1

      h3
        font-family: $boldFontFamily

      .icon
        +square(100%)

        max-width: $baseUnit * 9
        max-height: $baseUnit * 9

    .box-body
      max-width: 100%
      padding: 0
      padding-bottom: $baseUnit
      padding-top: $baseUnit

      form
        margin: 0

        .control-group
          margin: 0

      h3
        margin: 0
        font-family: $boldFontFamily

    .box-body + .box-header
      padding: 0

    .box-footer
      max-width: 100%
      padding: 0
      margin: 0

      button
        margin: 0

@import box-xs-down
@import box-xs-only
@import box-sm-down
@import box-md-down
@import box-md-only
@import box-lg-only
@import box-xl-up
