<div class="filter filter--full-width filter--with-mode" data-map=".map" data-list=".cards__items">
  <div class="filter__items">
    <a href="#" class="btn btn-outline-info active" data-action="filter" data-group=".filter__items"
      data-target="all">All
      facilities
    </a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
      data-target=".study-spaces">
      Study spaces</a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
      data-target=".clinic-scenarios">
      Clinic scenarios</a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
      data-target=".research">Research</a>
  </div>
  <div class="filter__mode">
    <div class="tabs tabs--with-slider">
      <ul class="nav nav-tabs">
        <li class="nav-item ">
          <a class="nav-link active" href="#card-items" id="tab-link-items" role="tab" data-toggle="tab"
            aria-selected="true">
            ${require-svg('list')} List view
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#card-map" id="tab-link-map" role="tab" data-toggle="tab" aria-selected="false">
            ${require-svg('map-pin-no-shadow')} Map view
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>