<div class="filter filter--with-mode">
  <div class="filter__items">
    <a href="#" class="btn btn-outline-info active" data-action="filter" data-group=".card__items" data-target="all">All
      facilities
    </a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".card__items" data-target=".study-spaces">
      Study spaces</a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".card__items"
      data-target=".clinic-scenarios">
      Clinic scenarios</a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".card__items"
      data-target=".research">Research</a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".card__items"
      data-target=".lecture-theatres">Lecture
      theatres
    </a>
  </div>
  <div class="filter__mode">
    <a href="" class="btn btn-text active">List view</a>
    <a href="" class="btn btn-text">Map view</a>
  </div>
</div>