<div class="filter">
  <div class="filter__items">
    <a href="#" class="btn btn-outline-info active" data-action="filter" data-target="all"
      data-filter-group=".card__items">All
      facilities
    </a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".card__items" data-target=".study-spaces">
      Study spaces</a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".card__items"
      data-target=".clinic-scenarios">
      Clinic scenarios</a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".card__items"
      data-target=".research">Research</a>
    <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".card__items"
      data-target=".lecture-theatres">Lecture
      theatres
    </a>
  </div>
</div>