<ul class="list list-horizontal pipe-separated">
    <li><strong aria-label="Document version">Version 2.0</strong></li>
    <li><strong id="document-effective-date" aria-label="Document effective date">Effective date: </strong> <time
            class="ml-5" datetime="2018-05-05" aria-labelledby="document-effective-date">22/05/18</time></li>
    <li><strong id="document-review-date" aria-label="Date of next review">Date of Next Review: </strong> <span
            class="ml-5" aria-labelledby="document-review-date">05/2019</span></li>
    <li><strong id="document-last-updated" aria-label="Last updated">Last updated:</strong> <time class="ml-5"
            datetime="2017-11-10" aria-labelledby="document-last-updated">10/11/17</time></li>
</ul>