<ul class="list list-links" list-="">
    <li><a href="#">List item ${require-svg('chevron-right')}</a></li>
    <li><a href="#">List item two ${require-svg('chevron-right')}</a></li>
    <li><a href="#">List item three ${require-svg('chevron-right')}</a></li>
</ul>
<ol class="list list-links" id="document-toc-content">
    <li><a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
            Introduction
            Introduction</a></li>
    <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of further
            information</a></li>
    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions Regulations</a></li>
    <li><a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
            Introduction Introduction</a></li>
    <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
            further information</a></li>
    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
            Regulations</a></li>
    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
    <li><a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
            Introduction Introduction</a></li>
    <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
            further information</a></li>
    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
            Regulations</a></li>
    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
    <li>
        <a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
            Introduction Introduction</a>
        <ol>
            <li><a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
                    Introduction Introduction</a></li>
            <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
                    further information</a></li>
            <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
            <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions Regulations</a>
            </li>
            <li><a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
                    Introduction Introduction</a></li>
            <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
                    further information</a></li>
            <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
            <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                    Regulations</a></li>
            <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
            <li><a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
                    Introduction Introduction</a></li>
            <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
                    further information</a></li>
            <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
            <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                    Regulations</a></li>
            <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
            <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a>
                <ol>
                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                            Introduction
                            Introduction Introduction</a></li>
                    <li><a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information">Sources of
                            further information</a></li>
                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                            Regulations</a>
                    </li>
                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                            Introduction
                            Introduction Introduction</a></li>
                    <li><a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information">Sources of
                            further information</a></li>
                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                            Regulations</a></li>
                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                            Introduction
                            Introduction Introduction</a></li>
                    <li><a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information">Sources of
                            further information</a></li>
                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                            Regulations</a></li>
                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a>
                        <ol>
                            <li><a href="#Introduction-Introduction-Introduction-Introduction"
                                    aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                                    Introduction
                                    Introduction Introduction</a></li>
                            <li><a href="#Sources-of-further-information"
                                    aria-label="Skip to Sources of further information">Sources
                                    of
                                    further information</a></li>
                            <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                            <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                                    Regulations</a></li>
                            <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a>
                                <ol>
                                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                                            Introduction
                                            Introduction Introduction</a></li>
                                    <li><a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information">Sources of
                                            further information</a></li>
                                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                                    <li><a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations">Admissions
                                            Regulations</a></li>
                                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                                            Introduction
                                            Introduction Introduction</a></li>
                                    <li><a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information">Sources of
                                            further information</a></li>
                                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                                    <li><a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations">Admissions
                                            Regulations</a></li>
                                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                                            Introduction
                                            Introduction Introduction</a></li>
                                    <li><a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information">Sources of
                                            further information</a></li>
                                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                                    <li><a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations">Admissions
                                            Regulations</a></li>
                                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>