<ul class="list list-horizontal list-icons">
  <li><a href="#" title="Facebook">${require-svg('facebook')}</a></li>
  <li><a href="#" title="Twitter">${require-svg('twitter')}</a></li>
</ul>
<h3>Icons MD</h3>
<ul class="list list-horizontal list-icons icons-md">
  <li><a href="#" title="Facebook">${require-svg('facebook')}</a></li>
  <li><a href="#" title="Twitter">${require-svg('twitter')}</a></li>
</ul>

<h3>Icons LG</h3>
<ul class="list list-horizontal list-icons icons-lg">
  <li><a href="#" title="Facebook">${require-svg('facebook')}</a></li>
  <li><a href="#" title="Twitter">${require-svg('twitter')}</a></li>
</ul>