<ul class="list list-links list-links-large list-columns-3">
  <li><a href="#">List item 1</a></li>
  <li><a href="#">List item 2</a></li>
  <li><a href="#">List item 3</a></li>
  <li><a href="#">List item 4</a></li>
  <li><a href="#">List item 5</a></li>
  <li><a href="#">List item 6</a></li>
  <li><a href="#">List item 7</a></li>
  <li><a href="#">List item 8</a></li>
  <li><a href="#">List item 9</a></li>
  <li><a href="#">List item 10</a></li>
  <li><a href="#">List item 11</a></li>
  <li><a href="#">List item 12</a></li>
  <li><a href="#">List item 13</a></li>
  <li><a href="#">List item 14</a></li>
</ul>