<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css" rel="stylesheet" />
<style>
  #content-map {
    width: 100%;
    height: 700px;
    position: relative;
  }

  #map-filters {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    font-size: 1.0625rem;
  }

  #map-filters .nav {
    margin-bottom: 0;
  }

  .box.box-rounded {
    border-radius: 5px;
  }

  .box.box-translucent {
    opacity: 0.8;
  }

  .collapse-box {
    top: 15px;
    position: absolute;
    right: 10px;
  }

  .collapse-box i {
    color: #ffffff;
  }

  #map-filters.collapsed {
    height: 43px;
    width: 47px;
  }

  #map-filters.collapsed .box-header,
  #map-filters.collapsed .box-body {
    display: none;
  }

  .mapboxgl-popup-content {
    padding: 15px !important;
    border-radius: 0;
    max-width: 300px;
  }

  /** Start Quote - Need to look at this **/

  .map-popup-quote-wrapper {
    margin: 2em 0 1em;
    font-size: 16px;
    line-height: 21px;
  }

  .map-popup-quote {
    position: absolute;
    font-size: 18px;
    color: #e5e5e5;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1em;
  }

  .quote-left {
    left: 0px;
    top: 0px;
    font-size: 100px;
  }

  .quote-right {
    right: 0px;
    bottom: -50px;
    font-size: 100px;
  }

  /** End Quote **/

  .mapboxgl-popup-content .profile,
  .mapboxgl-popup-content .profile .profile-subtitle,
  .mapboxgl-popup-content .teaser,
  .mapboxgl-popup-content .video {
    margin-bottom: 0;
  }

  .mapboxgl-popup-content .teaser-category {
    color: #d4374a;
  }

  /* Landscape phone to portrait tablet */

  @media (max-width: 767px) {
    .mapboxgl-popup-content {
      max-width: 150px;
      padding: 0 !important;
    }

    .mapboxgl-popup-content .teaser .teaser-body p {
      display: none;
    }

    .mapboxgl-popup-content .teaser .teaser-title {
      padding: 0 5px 5px 5px;
      font-size: 16px;
      line-height: 18px;
    }

    .mapboxgl-popup-content .teaser .teaser-body .teaser-category {
      display: block;
      padding: 5px 5px 0 5px;
      font-size: 12px;
      line-height: 12px;
    }

    .mapboxgl-popup-content .teaser .teaser-body .teaser-date {
      /*display:block;*/
    }

    .mapboxgl-popup-content .teaser .teaser-image {
      margin: 0;
    }

    .mapboxgl-popup-content .video {
      padding: 4px;
      box-sizing: border-box;
    }

    .mapboxgl-popup-content .map-popup-quote.quote-left {
      left: -25px;
      top: 0px;
      font-size: 60px;
    }

    .mapboxgl-popup-content .map-popup-quote.quote-right {
      display: none;
    }

    .mapboxgl-popup-content .map-popup-quote-wrapper {
      margin: 0;
      padding: 5px 5px 0;
      font-size: 14px;
      line-height: 18px;
      text-indent: 25px;
    }

    .mapboxgl-popup-content .map-popup-title {
      padding: 5px;
      font-size: 16px;
      line-height: 16px;
      margin: 0;
    }

    .mapboxgl-popup-content .profile {
      padding: 4px 4px 4px 54px;
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content-map">
        <section id="map-filters" class="box box-inverse box-rounded box-translucent">
          <header class="box-header">
            <h1 class="box-title">Filter by:</h1>
          </header>
          <div class="box-body">
            <ul class="nav nav-pills flex-column"></ul>
          </div>
          <a href="#" class="pull-right collapse-box visible-phone"><span class="icon icon-contract"></span></a>
        </section>
      </div>

      <script>
        var contentMapConfig = {};

        contentMapConfig['feed'] = [];

        contentMapConfig['highlightsCount'] = {
          layer1: 5,
          layer2: 10,
          layer3: 9,
          layer4: 11
        };

        contentMapConfig['categories'] = [
          {
            category: 'layer1',
            label: {
              en: 'Public value',
              cy: 'Public value'
            },
            colour: '#d3374a'
          },
          {
            category: 'layer2',
            label: {
              en: 'Education',
              cy: 'Education'
            },
            colour: '#c8bb8d'
          },
          {
            category: 'layer3',
            label: {
              en: 'Research',
              cy: 'Research'
            },
            colour: '#00a654'
          },
          {
            category: 'layer4',
            label: {
              en: 'Partnerships and engagement',
              cy: 'Partnerships and engagement'
            },
            colour: '#006aaf'
          }
        ];

        contentMapConfig['highlights'] = {
          type: 'FeatureCollection',
          features: [
            {
              type: 'Feature',
              geometry: {
                coordinates: [9.375585, 47.432149],
                type: 'Point'
              },
              properties: {
                test: 'true',
                name: 'School welcomes distinguished Public Value advocate',
                type: 'layer1',
                marker: 'marker-d3374a',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/250310-school-welcomes-distinguished-public-value-advocate'><img srcset='https://cardiff.imgix.net/__data/assets/image/0019/250309/MK-Timo-workshop.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0019/250309/MK-Timo-workshop.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0019/250309/MK-Timo-workshop.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Image of Professor Martin Kitchener with Professor Timo Meynhardt'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/250310-school-welcomes-distinguished-public-value-advocate'>School welcomes distinguished Public Value advocate</a></h1><p class='teaser-date'>20 April 2016</p><p>Professor Timo Meynhardt leads academic workshop alongside Cardiff Business School’s Dean</p></div></section></div>",
                label: 'Pu'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [-73.973422, 40.751778],
                type: 'Point'
              },
              properties: {
                name: 'Business School joins responsible management education initiative',
                type: 'layer1',
                marker: 'marker-d3374a',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/190451-business-school-joins-responsible-management-education-initiative'><img srcset='https://cardiff.imgix.net/__data/assets/image/0009/199782/responsibility.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0009/199782/responsibility.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0009/199782/responsibility.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/190451-business-school-joins-responsible-management-education-initiative'>Business School joins responsible management education initiative</a></h1><p class='teaser-date'>20 January 2016</p><p>Cardiff Business School announces that it has signed up to the Principles for Responsible Management Education initiative.</p></div></section></div>",
                label: 'Pu'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [12.3482444, 51.3398906],
                type: 'Point'
              },
              properties: {
                name: 'Working lunch with public value advocate',
                type: 'layer1',
                marker: 'marker-d3374a',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1025436-working-lunch-with-public-value-advocate'><img srcset='https://cardiff.imgix.net/__data/assets/image/0017/1025450/Professor-Timo-Meynhardt-delivering-workshop.JPG?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0017/1025450/Professor-Timo-Meynhardt-delivering-workshop.JPG?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0017/1025450/Professor-Timo-Meynhardt-delivering-workshop.JPG?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Professor Timo Meynhardt delivering workshop'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1025436-working-lunch-with-public-value-advocate'>Working lunch with public value advocate</a></h1><p class='teaser-date'>5 December 2017</p><p>Professor Timo Meynhardt leads public value teaching workshop</p></div></section></div>",
                label: 'Pu'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [76.1029198, 10.7957937],
                type: 'Point'
              },
              properties: {
                name: 'Forecasting for social good in India',
                type: 'layer1',
                marker: 'marker-d3374a',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1123152-forecasting-for-social-good-in-india'><img srcset='https://cardiff.imgix.net/__data/assets/image/0009/1124010/Black-and-white-photograph-of-street-in-India.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0009/1124010/Black-and-white-photograph-of-street-in-India.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0009/1124010/Black-and-white-photograph-of-street-in-India.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Crowded street in rain'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1123152-forecasting-for-social-good-in-india'>Forecasting for social good in India</a></h1><p class='teaser-date'>14 March 2018</p><p>Essential skills shared at International workshop</p></div></section></div>",
                label: 'Pu'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [-50.8842236, -22.5254399],
                type: 'Point'
              },
              properties: {
                name: 'Citizen science in rural Brazil',
                type: 'layer1',
                marker: 'marker-d3374a',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1137798-citizen-science-in-rural-brazil'><img srcset='https://cardiff.imgix.net/__data/assets/image/0005/1137839/Tim-Edwards-in-Brazil.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0005/1137839/Tim-Edwards-in-Brazil.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0005/1137839/Tim-Edwards-in-Brazil.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Tim Edwards in Brazil'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1137798-citizen-science-in-rural-brazil'>Citizen science in rural Brazil</a></h1><p class='teaser-date'>29 March 2018</p><p>Interdisciplinary team aim to extend environmental achievements</p></div></section></div>",
                label: 'Pu'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [116.347827, 39.932595],
                type: 'Point'
              },
              properties: {
                test: '',
                name: 'Chinese delegation welcomed to Cardiff',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/381331-chinese-delegation-welcomed-to-cardiff'><img srcset='https://cardiff.imgix.net/__data/assets/image/0008/374732/Developing-links-with-China.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0008/374732/Developing-links-with-China.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0008/374732/Developing-links-with-China.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Developing links with China'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/381331-chinese-delegation-welcomed-to-cardiff'>Chinese delegation welcomed to Cardiff</a></h1><p class='teaser-date'>8 July 2016</p><p>Cardiff furthers strategic links with China though new professional development programme</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [100.490582, 13.755966],
                type: 'Point'
              },
              properties: {
                name: 'Alumnus recognised at British Council awards',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/555583-alumnus-recognised-at-british-council-awards'><img srcset='https://cardiff.imgix.net/__data/assets/image/0005/555575/Ruth-Banomyong.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0005/555575/Ruth-Banomyong.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0005/555575/Ruth-Banomyong.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Image of Dr Ruth Banomyong '></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/555583-alumnus-recognised-at-british-council-awards'>Alumnus recognised at British Council awards</a></h1><p class='teaser-date'>27 January 2017</p><p>International Logistics graduate nominated for Professional Achievement  at Alumni Awards</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [8.534722, 47.363704],
                type: 'Point'
              },
              properties: {
                name: 'Foursome prepare for prestigious European placement ',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/445889-foursome-prepare-for-prestigious-european-placement'><img srcset='https://cardiff.imgix.net/__data/assets/image/0009/445869/zurich.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0009/445869/zurich.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0009/445869/zurich.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/445889-foursome-prepare-for-prestigious-european-placement'>Foursome prepare for prestigious European placement </a></h1><p class='teaser-date'>23 August 2016</p><p>Students and recent graduates embark on yearlong placement with Deloitte Consulting in Switzerland</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [114.178436, 22.302874],
                type: 'Point'
              },
              properties: {
                name: 'Hong Kong study tour visits the School',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/421510-school-welcomes-hong-kong-study-tour'><img srcset='https://cardiff.imgix.net/__data/assets/image/0010/421489/HK-Tour-1.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0010/421489/HK-Tour-1.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0010/421489/HK-Tour-1.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Image of students from Hong Kong Polytechnic University’s Global Supply Chain Management programme'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/421510-school-welcomes-hong-kong-study-tour'>Hong Kong study tour visits the School</a></h1><p class='teaser-date'>5 August 2016</p><p>Study tour from the Hong Kong Polytechnic University welcomed to Cardiff Business School</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [-5.341817, 36.144021],
                type: 'Point'
              },
              properties: {
                name: 'Entrepreneurial student achieves business and environmental success',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/260953-entrepreneurial-student-achieves-business-and-environmental-success'><img srcset='https://cardiff.imgix.net/__data/assets/image/0020/260930/JP-Gibraltar-bins.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0020/260930/JP-Gibraltar-bins.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0020/260930/JP-Gibraltar-bins.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/260953-entrepreneurial-student-achieves-business-and-environmental-success'>Entrepreneurial student achieves business and environmental success</a></h1><p class='teaser-date'>26 April 2016</p><p>Second year Business Management student’s design and entrepreneurial skill recognised by the Government of Gibraltar</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [114.3867731, 30.4787103],
                type: 'Point'
              },
              properties: {
                name: 'Students’ trip to China ‘an incredible experience’',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/968469-students-trip-to-china-an-incredible-experience'><img srcset='https://cardiff.imgix.net/__data/assets/image/0006/975759/Students-on-trip-to-China.png?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0006/975759/Students-on-trip-to-China.png?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0006/975759/Students-on-trip-to-China.png?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Students on trip to China'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/968469-students-trip-to-china-an-incredible-experience'>Students’ trip to China ‘an incredible experience’</a></h1><p class='teaser-date'>18 October 2017</p><p>International exchange programme a resounding success</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [100.4882531, 13.757791],
                type: 'Point'
              },
              properties: {
                name: 'Thai achievers set for Cardiff',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1011932-thai-achievers-set-for-cardiff'><img srcset='https://cardiff.imgix.net/__data/assets/image/0006/1011957/Professor-Anthony-Beresford-and-Dr-Ruth-Banomyong.JPG?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0006/1011957/Professor-Anthony-Beresford-and-Dr-Ruth-Banomyong.JPG?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0006/1011957/Professor-Anthony-Beresford-and-Dr-Ruth-Banomyong.JPG?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Professor Anthony Beresford and Dr Ruth Banomyong'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1011932-thai-achievers-set-for-cardiff'>Thai achievers set for Cardiff</a></h1><p class='teaser-date'>22 November 2017</p><p>MoU formalises strong international relationship</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [47.9175779, 29.3393526],
                type: 'Point'
              },
              properties: {
                name: 'Kuwait University joins us for a week long intensive leadership programme',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/985934-kuwait-university-joins-us-for-a-week-long-intensive-leadership-programme'><img srcset='https://cardiff.imgix.net/__data/assets/image/0006/985938/AEJ_4274.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0006/985938/AEJ_4274.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0006/985938/AEJ_4274.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Kuwait Delegates'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/985934-kuwait-university-joins-us-for-a-week-long-intensive-leadership-programme'>Kuwait University joins us for a week long intensive leadership programme</a></h1><p class='teaser-date'>27 October 2017</p><p>Kuwait University joins us for a week long intensive leadership programme</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [114.3304693, 30.535008],
                type: 'Point'
              },
              properties: {
                name: 'Cardiff welcomes China delegation for 13 week Management and Innovation programme',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/792401-cardiff-welcomes-china-delegation-for-13-week-management-and-innovation-programme'><img srcset='https://cardiff.imgix.net/__data/assets/image/0004/792373/China-Scholarship-Council_Welcome-Dinner_press-release.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0004/792373/China-Scholarship-Council_Welcome-Dinner_press-release.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0004/792373/China-Scholarship-Council_Welcome-Dinner_press-release.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='China Scholarship Council 2017.'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/792401-cardiff-welcomes-china-delegation-for-13-week-management-and-innovation-programme'>Cardiff welcomes China delegation for 13 week Management and Innovation programme</a></h1><p class='teaser-date'>23 June 2017</p><p>Development programme marks further collaboration between Wales and China</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [100.6424888, 13.8080094],
                type: 'Point'
              },
              properties: {
                name: 'From Cardiff to Bangkok',
                type: 'layer2',
                marker: 'marker-c8bb8d',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1112205-from-cardiff-to-bangkok'><img srcset='https://cardiff.imgix.net/__data/assets/image/0019/1112491/Professor-Anthony-Beresford-delivering-keynote-lecture-in-Thailand.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0019/1112491/Professor-Anthony-Beresford-delivering-keynote-lecture-in-Thailand.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0019/1112491/Professor-Anthony-Beresford-delivering-keynote-lecture-in-Thailand.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Professor Anthony Beresford delivering keynote lecture in Thailand'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1112205-from-cardiff-to-bangkok'>From Cardiff to Bangkok</a></h1><p class='teaser-date'>27 February 2018</p><p>Conference keynote for International Transport expert</p></div></section></div>",
                label: 'Ed'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [-46.634444, -23.548342],
                type: 'Point'
              },
              properties: {
                test: '',
                name: 'Reciprocal exchange strengthens ties in South America',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/779071-reciprocal-exchange-strengthens-ties-in-south-america'><img srcset='https://cardiff.imgix.net/__data/assets/image/0009/779139/Sao-Paulo-visit.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0009/779139/Sao-Paulo-visit.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0009/779139/Sao-Paulo-visit.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Group image of Brazilian delegation of students outside Cardiff Business School'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/779071-reciprocal-exchange-strengthens-ties-in-south-america'>Reciprocal exchange strengthens ties in South America</a></h1><p class='teaser-date'>9 June 2017</p><p>School welcomes five visiting PhD students from Sao Paulo, Brazil</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [-74.652635, 40.344738],
                type: 'Point'
              },
              properties: {
                name: 'Decision-making and policy masterclass',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/757977-decision-making-and-policy-masterclass'><img srcset='https://cardiff.imgix.net/__data/assets/image/0004/757975/decision-making.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0004/757975/decision-making.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0004/757975/decision-making.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/757977-decision-making-and-policy-masterclass'>Decision-making and policy masterclass</a></h1><p class='teaser-date'>23 May 2017</p><p>Academi Wales and Cardiff Business School host Professor Eldar Shafir</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [127.027794, 37.590782],
                type: 'Point'
              },
              properties: {
                name: 'School ranks highly with Korean colleagues',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/654369-school-ranks-highly-with-korean-colleagues'><img srcset='https://cardiff.imgix.net/_media/shared-images/schools/business-school/pgtc.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/_media/shared-images/schools/business-school/pgtc.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/_media/shared-images/schools/business-school/pgtc.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/654369-school-ranks-highly-with-korean-colleagues'>School ranks highly with Korean colleagues</a></h1><p class='teaser-date'>16 March 2017</p><p>School places 86th in Korea University Business School rankings</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [139.748617, 35.657387],
                type: 'Point'
              },
              properties: {
                name: 'Research collaboration generates results',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/560172-research-collaboration-generates-results'><img srcset='https://cardiff.imgix.net/__data/assets/image/0007/560149/interconnected-people.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0007/560149/interconnected-people.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0007/560149/interconnected-people.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/560172-research-collaboration-generates-results'>Research collaboration generates results</a></h1><p class='teaser-date'>1 February 2017</p><p>School delivers communication and relationship research for Yusen Logistics</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [121.501421, 31.298813],
                type: 'Point'
              },
              properties: {
                name: 'Academics secure major ESRC grant',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/548560-academics-secure-major-esrc-grant'><img srcset='https://cardiff.imgix.net/__data/assets/image/0007/548557/Banking-city-line.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0007/548557/Banking-city-line.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0007/548557/Banking-city-line.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/548560-academics-secure-major-esrc-grant'>Academics secure major ESRC grant</a></h1><p class='teaser-date'>19 January 2017</p><p>Grant worth £330,000 for research on the Chinese economy</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [2.33514, 48.861275],
                type: 'Point'
              },
              properties: {
                name: 'Academics scoop prestigious book prize in Paris',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/527540-academics-scoop-prestigious-book-prize-in-paris'><img srcset='https://cardiff.imgix.net/__data/assets/image/0003/527538/Book-award-win.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0003/527538/Book-award-win.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0003/527538/Book-award-win.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Image of Dr Robert Mason and Barry Evans receive their prize'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/527540-academics-scoop-prestigious-book-prize-in-paris'>Academics scoop prestigious book prize in Paris</a></h1><p class='teaser-date'>9 December 2016</p><p>Dr Robert Mason and Mr Barry Evans have won the Prix des Associations</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [5.3195662, 60.3878586],
                type: 'Point'
              },
              properties: {
                name: 'Major EU funding for digital transformation project',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1006174-major-eu-funding-for-digital-transformation-project'><img srcset='https://cardiff.imgix.net/__data/assets/image/0005/1006178/GettyImages-838379014.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0005/1006178/GettyImages-838379014.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0005/1006178/GettyImages-838379014.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='ICT'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1006174-major-eu-funding-for-digital-transformation-project'>Major EU funding for digital transformation project</a></h1><p class='teaser-date'>16 November 2017</p><p>University part of international research team to assess role of ICT in government collaboration</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [73.7927563, 18.5247663],
                type: 'Point'
              },
              properties: {
                name: 'In the driving seat',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1048668-in-the-driving-seat'><img srcset='https://cardiff.imgix.net/__data/assets/image/0020/1048700/Car-manufacture.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0020/1048700/Car-manufacture.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0020/1048700/Car-manufacture.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Car manufacture'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1048668-in-the-driving-seat'>In the driving seat</a></h1><p class='teaser-date'>4 January 2018</p><p>Cardiff leads the way following Industry 4.0 award win</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [4.8000159, 45.75801],
                type: 'Point'
              },
              properties: {
                name: 'Taking stock: Cardiff Business School checks out sales ',
                type: 'layer3',
                marker: 'marker-00a654',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1040729-taking-stock-cardiff-business-school-checks-out-sales'><img srcset='https://cardiff.imgix.net/__data/assets/image/0009/1040769/GettyImages-178436825.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0009/1040769/GettyImages-178436825.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0009/1040769/GettyImages-178436825.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Warehouse stock'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1040729-taking-stock-cardiff-business-school-checks-out-sales'>Taking stock: Cardiff Business School checks out sales </a></h1><p class='teaser-date'>3 January 2018</p><p>European project investigates store inventories.</p></div></section></div>",
                label: 'Re'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [144.96171, -37.79631],
                type: 'Point'
              },
              properties: {
                test: '',
                name: 'Developing new links Down Under',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/237730-developing-new-links-down-under'><img srcset='https://cardiff.imgix.net/__data/assets/image/0003/237729/MK-MoU-signing-Melbourne.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0003/237729/MK-MoU-signing-Melbourne.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0003/237729/MK-MoU-signing-Melbourne.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Professor Mark Considine, Dean, Faculty of Arts, University of Melbourne, Professor Martin Kitchener, Dean, Cardiff Business School and  Professor Helen Sullivan, Foundation Director of the Melbourne School of Government (MSoG) '></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/237730-developing-new-links-down-under'>Developing new links Down Under</a></h1><p class='teaser-date'>12 April 2016</p><p>Cardiff Business School and the Melbourne School of Government celebrate new research opportunities as they sign Memorandum of Understanding (MoU)</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [114.388951, 30.478729],
                type: 'Point'
              },
              properties: {
                name: 'Renewing international relationships',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/740515-renewing-international-relationships'><img srcset='https://cardiff.imgix.net/__data/assets/image/0019/740521/jigsaw-pieces-people.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0019/740521/jigsaw-pieces-people.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0019/740521/jigsaw-pieces-people.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/740515-renewing-international-relationships'>Renewing international relationships</a></h1><p class='teaser-date'>30 April 2017</p><p>School renews working relationship with Zhongnan University of Economics and Law (ZUEL)</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [-76.473598, 42.453481],
                type: 'Point'
              },
              properties: {
                name: 'School signs new international partnership',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/735293-school-signs-new-international-partnership'><img srcset='https://cardiff.imgix.net/__data/assets/image/0009/618651/international-exchange-globe.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0009/618651/international-exchange-globe.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0009/618651/international-exchange-globe.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Students holding a globe'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/735293-school-signs-new-international-partnership'>School signs new international partnership</a></h1><p class='teaser-date'>26 April 2017</p><p>Strengthening research and exchange ties</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [12.530063, 55.681466],
                type: 'Point'
              },
              properties: {
                name: 'Danish delegation visits the School',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/654429-danish-delegation-visits-the-school'><img srcset='https://cardiff.imgix.net/__data/assets/image/0017/654110/Copenhagen-Bs-visit.png?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0017/654110/Copenhagen-Bs-visit.png?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0017/654110/Copenhagen-Bs-visit.png?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/654429-danish-delegation-visits-the-school'>Danish delegation visits the School</a></h1><p class='teaser-date'>16 March 2017</p><p>Welcoming Copenhagen Business School’s Department of Marketing</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [118.098198, 24.437032],
                type: 'Point'
              },
              properties: {
                name: 'Celebrating Chinese New Year',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/581829-celebrating-chinese-new-year'><img srcset='https://cardiff.imgix.net/__data/assets/image/0003/581790/chinese-lantern.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0003/581790/chinese-lantern.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0003/581790/chinese-lantern.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/581829-celebrating-chinese-new-year'>Celebrating Chinese New Year</a></h1><p class='teaser-date'>15 February 2017</p><p>Community event brings staff and students together</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [73.855471, 18.520953],
                type: 'Point'
              },
              properties: {
                name: 'School signs industry MoU in India',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/557503-school-signs-industry-mou-in-india'><img srcset='https://cardiff.imgix.net/__data/assets/image/0005/557501/ACMA-MoU-1.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0005/557501/ACMA-MoU-1.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0005/557501/ACMA-MoU-1.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Image of Professor Peter Wells and Dr Maneesh Kumar, with other panel members, at the ACMA event in Pune, India'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/557503-school-signs-industry-mou-in-india'>School signs industry MoU in India</a></h1><p class='teaser-date'>30 January 2017</p><p>Logistics and Operations Management academics sign Memorandum of Understanding (MoU) with the Automotive Components Manufacturer Association of India (ACMA)</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [116.397074, 39.912789],
                type: 'Point'
              },
              properties: {
                name: 'China visit for Deputy Dean',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/532121-china-visit-for-deputy-dean'><img srcset='https://cardiff.imgix.net/__data/assets/image/0017/532115/Deputy-Dean-China-visit.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0017/532115/Deputy-Dean-China-visit.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0017/532115/Deputy-Dean-China-visit.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt=''></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/532121-china-visit-for-deputy-dean'>China visit for Deputy Dean</a></h1><p class='teaser-date'>16 December 2016</p><p>Professor Mohamed Naim has recently returned from a three-day visit to China.</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [25.90668, -24.60202],
                type: 'Point'
              },
              properties: {
                name: 'School welcomes Botswanan tour party',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/210752-school-welcomes-botswanan-tour-party'><img srcset='https://cardiff.imgix.net/__data/assets/image/0016/210751/botswana-crop.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0016/210751/botswana-crop.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0016/210751/botswana-crop.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Botswanan students at the Postgraduate Teaching Centre'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/210752-school-welcomes-botswanan-tour-party'>School welcomes Botswanan tour party</a></h1><p class='teaser-date'>29 February 2016</p><p>Postgraduate Teaching Centre plays host to Botswanan rugby team from prestigious private school.</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [101.6548036, 3.1405628],
                type: 'Point'
              },
              properties: {
                name: 'School signs two new MoUs with Malaysian institutions',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical'><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/138808-school-signs-two-new-mous-with-malaysian-institutions'>School signs two new MoUs with Malaysian institutions</a></h1><p class='teaser-date'>18 June 2015</p><p>Cardiff Business School has signed MoUs (Memorandum of Understanding) with two respected institutions in Malaysia.</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [-90.436417, 38.693614],
                type: 'Point'
              },
              properties: {
                name: 'International honour society installed at Cardiff Business School',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical'><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/138833-international-honour-society-installed-at-cardiff-business-school'>International honour society installed at Cardiff Business School</a></h1><p class='teaser-date'>23 April 2015</p><p>Cardiff Business School has been officially inducted in to the Beta Gamma Sigma (BGS) society, an international honour society which recognises excellence in business.</p></div></section></div>",
                label: 'Pa'
              }
            },
            {
              type: 'Feature',
              geometry: {
                coordinates: [32.5290859, 0.3132008],
                type: 'Point'
              },
              properties: {
                name: 'Celebrating women in Enterprise',
                type: 'layer4',
                marker: 'marker-006aaf',
                schema: 'news',
                iconLabel: 'La',
                html:
                  "<section class='teaser teaser-vertical with-image'><figure class='teaser-image'><a href='https://www.cardiff.ac.uk/news/view/1017212-celebrating-women-in-enterprise'><img srcset='https://cardiff.imgix.net/__data/assets/image/0006/1017393/Panel-of-speakers-at-Celebrating-Women-in-Enterprise-event.jpg?w=300&h=169&fit=crop&q=60&auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0006/1017393/Panel-of-speakers-at-Celebrating-Women-in-Enterprise-event.jpg?w=150&h=84&fit=crop&q=60&auto=format 150w' src='https://cardiff.imgix.net/__data/assets/image/0006/1017393/Panel-of-speakers-at-Celebrating-Women-in-Enterprise-event.jpg?w=300&h=169&fit=crop&q=60&auto=format' sizes='(max-width: 350px) 150px, 300px' alt='Panel of speakers at Celebrating Women in Enterprise event'></a></figure><div class='teaser-body'><p class='teaser-category'>News</p><h1 class='teaser-title'><a href='https://www.cardiff.ac.uk/news/view/1017212-celebrating-women-in-enterprise'>Celebrating women in Enterprise</a></h1><p class='teaser-date'>27 November 2017</p><p>Audience encouraged to ‘be the change’ at global entrepreneurship week event</p></div></section></div>",
                label: 'Pa'
              }
            }
          ]
        };
      </script>
    </div>
  </div>
  <!-- end row -->
</div>
