.quote-rich
  .quote
    &-body
      font-family: $boldFontFamily
      font-size: map-get($font22, 'size')
      line-height: map-get($font22, 'line-height')
      border-left: none
      margin: 0 0 $baseUnit 0
      padding: 0
      color: $colourBlack

    &-author
      font-size: map-get($font17, 'size')

  &-small
    .quote-body
      font-size: map-get($font20, "size")
      line-height: map-get($lineHeights, "lg")

  &:not(.quote-rich-thumbnail)
    .quote-body
      font-size: map-get($font26, 'size')
      line-height: map-get($font26, 'line-height')

    &.quote-rich-small
      .quote-body
        font-size: map-get($font20, "size")
        line-height: map-get($lineHeights, "lg")

    &.with-image
      padding: 0
      overflow: visible
      border: none

      img
        margin: 0
        width: 100%
        height: 100%

      .quote-image-wrapper
        width: 100%
        overflow: hidden

      .quote-main
        background-color: $colourWhite
        position: relative
        margin: -$quoteRichMainOffset #{($baseUnit * 2)} 0
        padding: ($baseUnit * 2.3)

  &-thumbnail
    &.with-image
      margin-top: $baseUnit * 2
      padding: #{$baseUnit * 2} #{$baseUnit * 6} #{$baseUnit * 2} #{$baseUnit * 2.5}
      border-top: ($baseUnit * 0.2) solid $colourGreyLighter
      border-bottom: ($baseUnit * 0.2) solid $colourGreyLighter

      .quote-main
        margin: ($baseUnit * 2) 0 0
        padding: 0
        text-align: center

      img
        +square(100px)

        display: block
        margin: 0 auto
