$quoteRichPortaitMainOffsetLeft: 45px
$quoteRichPortaitMainOffsetTop: 75px
$quoteRichPortaitImageWidth: 335px

@media #{$breakpoint-sm-up}
  .quote-rich
    &.with-image
      align-items: flex-start
      flex-direction: row

    &:not(.quote-rich-thumbnail)
      .quote-main
        margin: #{$quoteRichPortaitMainOffsetTop} 0 0 -#{$quoteRichPortaitMainOffsetLeft}

        .quote-image-wrapper,
        .image
          max-width: #{$quoteRichPortaitImageWidth}
