@media #{$breakpoint-md-up}
  .quote-rich
    &-thumbnail.with-image
      display: flex
      flex-direction: row

      img
        margin: 0 ($baseUnit*3) 0 0

      .quote-main
        text-align: left
        margin: 0

  .col
    &-md
      &-9, &-12
        +quoteRichLandscape

    &-lg
      &-6,
      &-8,
      &-9,
      &-12
        +quoteRichLandscape
