@media #{$breakpoint-lg-only}
  .list
    &.list-icons
      li
        a
          &:focus
            background-color: $colourSweetCorn
            outline: none
            .icon
              color: $colourBlack

            .icon-tile
              box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn

    li
      a
        &:focus
          outline: none
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn