<div class="timeline">

  <header class="timeline-header">
    <h1 class="timeline-title">Human Genome Project</h1>
    <nav class="timeline-navigation">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="#decade-1980">1980s</a></li>
        <li class="nav-item"><a class="nav-link" href="#decade-1990">1990s</a></li>
        <li class="nav-item"><a class="nav-link" href="#decade-2000">2000s</a></li>
      </ul>
    </nav>
  </header>

  <section class="timeline-decade" id="decade-1980">
    <header class="timeline-decade-header">
      <h1 class="timeline-decade-title">1980s</h1>
    </header>
    <div class="timeline-decade-body">
      <div class="timeline-line"></div>
      <ol class="timeline-items">
        <li class="timeline-item float-left">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1984 <small>Project begins</small></h2>
          </div>
          <div class="timeline-item-body">
            <p>The project began with the culmination of several years of work supported by the US Department of Energy, in
              particular workshops in 1984[7] and 1986 and a subsequent initiative of the US Department of Energy.</p>
          </div>
        </li>
        <li class="timeline-item float-right">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1985</h2>
          </div>
          <div class="timeline-item-body">
            <p>Candidate technologies were already being considered for the proposed undertaking at least as early as 1985.</p>
          </div>
        </li>
      </ol>
    </div>
  </section>

  <section class="timeline-decade" id="decade-1990">
    <header class="timeline-decade-header">
      <h1 class="timeline-decade-title">1990s</h1>
    </header>
    <div class="timeline-decade-body">
      <div class="timeline-line"></div>
      <ol class="timeline-items">
        <li class="timeline-item important float-right">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1996 <small>Healy resigns</small></h2>
          </div>
          <div class="timeline-item-body">
            <img class="timeline-item-thumbnail" src="http://sites.cardiff.ac.uk/uikit/files/2013/07/watson.jpg">
            <p class="lead">Largely due to his disagreement with his boss, Bernadine Healy, over the issue of patenting genes, Watson was
              forced to resign in 1992. He was replaced by Francis Collins in April 1993</p>
          </div>
        </li>
      </ol>
    </div>
  </section>

  <section class="timeline-decade" id="decade-2000">
    <header class="timeline-decade-header">
      <h1 class="timeline-decade-title">2000s</h1>
    </header>
    <div class="timeline-decade-body">
      <div class="timeline-line"></div>
      <ol class="timeline-items">
        <li class="timeline-item float-right">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">2000</h2>
          </div>
          <div class="timeline-item-body">
            <p>Due to widespread international cooperation and advances in the field of genomics (especially in sequence analysis),
              as well as major advances in computing technology, a 'rough draft' of the genome was finished in 2000 (announced
              jointly by U.S. President Bill Clinton and the British Prime Minister Tony Blair</p>
          </div>
        </li>
      </ol>
    </div>
  </section>

  <footer class="timeline-footer">
    <p class="footer-terminus">2006</p>
  </footer>

</div>