@media #{$breakpoint-lg-up}  
  .r-feature
    .page-title
      font-size: map-get($font60, 'size')
      line-height: map-get($font60, 'line-height')

    .content-group.content-group-feature
      padding: ($baseUnit*10) 0
