@media #{$breakpoint-md-only}
  .l-home
    .content-group
      .col-md-3
        .teaser-homepage
          .teaser-title
            font-family: $brandFamily
            font-size: map-get($fontSizes, 'lg')
            line-height: 1.625rem
          
    .quote-homepage
      position: relative
      min-height: 0
      padding: $baseUnit*2 0

      .quote
        &.with-image
          padding-left: 0
          padding-right: 0
        
      .quote-image
        position: relative
        right: $baseUnit*10
        display: none
      
      blockquote
        &.quote-body
          padding-right: 0

          p
            font-family: $boldFontFamily
            font-size: map-get($headingFontSizes, 'lg')
            line-height: map-get($headingLineHeights, 'large')
        
      figcaption
        &.quote-author
            font-family: $boldFontFamily
            font-size: map-get($headingFontSizes, 'normal')
      
      .btn
        margin-top: $baseUnit*2
        margin-bottom: $baseUnit*2