$panelWidth: 375px
@media #{$breakpoint-lg-up}
  .map
    #map
      &:focus
        box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn

      a, img
        &:focus
          box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn
          outline: none

    .leaflet-control-attribution
      a
        color: $colourBtnLinkColour
        text-decoration: underline

        &:focus
          background-color: $colourSweetCorn

    .leaflet-marker-pane
      img
        &:focus
          box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn

  &.interactive-map
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15)
    .map-box
      height: auto

    #map
      +aspect-16-9()
      height: 0

    &.map
      &--with-panel
        display: grid
        flex-direction: row
        grid-template-columns: $panelWidth 1fr
        grid-template-rows: 1fr
        position: relative
        overflow: hidden

        .map-body
          grid-area: 1/1/2/4

        .map__panel,
        .leaflet-control-container .leaflet-top.leaflet-left
          transition: left $standardAnimationDuration $standardAnimationCubic

        .map__panel
          left: -100%
          z-index: 1040
          background-color: $colourWhite
          grid-area: 1/1/2/2
          position: relative
          display: flex

          &__contents
            +square(100%)
            overflow: hidden
            position: relative

            &__inner
              height: 100%
              display: flex
              flex-wrap: nowrap
              flex-grow: 0
              flex-shrink: 0
              position: absolute
              left: 0
              transition: left $standardAnimationDuration $standardAnimationCubic

            .card
              flex-basis: $panelWidth
              width: $panelWidth
              margin: 0
              flex-shrink: 0
              overflow-y: auto

          &__controls
            position: absolute
            display: flex
            align-items: center
            justify-items: center
            right: -1 * ($baseUnit*2.5 )
            top: 0
            bottom: 0
            margin: auto 0
            width: $baseUnit*2.5
            height: $baseUnit*5.5
            background-color: $colourWhite
            border: none
            box-shadow: 0 0 $baseUnit 0 rgba(0,0,0,0.15)

            &:focus
              outline: $baseUnit*0.3 solid $colourSweetCorn

            svg
              margin: 0
              transition: transform $standardAnimationDuration $standardAnimationCubic

          &--view
            .map__panel__contents__inner
              left: -#{$panelWidth}

      &--panel-open
        .map__panel
          left: 0

          &__controls
            box-shadow: none
            border-left: $baseUnit*0.1 solid $colourSilverLight

            svg
              transform: rotate(180deg)

        .leaflet-control-container
          .leaflet-top.leaflet-left
            left: $panelWidth
