.map
  margin: 0 0 ($baseUnit*2)
  display: table
  width: 100%

  .map
    &-body
      width: 100%
      height: ($baseUnit*20)
      background: $colourGreyLight

  &.map
    &-large .map-body
      height: ($baseUnit*40)

    &-small .map-body
      height: ($baseUnit*10)

  .caption
    background: $colourGreyLighter
    padding: $baseUnit
    display: table-caption
    caption-side: bottom

  .gmnoprint img
    max-width: none

  .float-left
    margin: 0 ($baseUnit*2) ($baseUnit*2) 0
    width: 50%

    .map-body
      height: ($baseUnit*20)

  .float-right
    margin: 0 0 ($baseUnit*2) ($baseUnit*2)
    width: 50%

    .map-body
      height: ($baseUnit*20)

  .leaflet-div-icon
    width: 24px !important
    height: 32px !important
    border: none
    background: none

    &-text
      position: absolute
      top: 3px
      bottom: 0
      right: 0
      left: 0
      font-family: $boldFontFamily
      color: $colourWhite
      margin-bottom: 7px
      margin-left: 1px
      display: flex
      justify-content: center
      align-items: center

    .icon
      fill: $colourRed
      margin: 0
  &.interactive-map
    .map__panel
      display: none

    .map-svg-marker
      svg
        transition: fill $veryShortAnimationDuration $standardAnimationCubic
        fill: $colourWhite

      &:hover,
      &.active
        svg
          fill: $colourRed

  &--full-width
    .map-body
      width: 100%
      height: 600px

@import 'map-lg-up'
