<div class="row">
  <div class="col">
  </div>

</div>
<div class="cards cards--with-filter">
  ${require('../filter/variations/full-width.html')}

  <div class="tab-content">
    <div id="card-items" class="tab-pane active position-relative">

      <div class="cards__items controls py-10 " id="card-carousel">
        ${require('variations/card.html')}
        ${require('variations/card-2.html')}
        ${require('variations/card-3.html')}
        ${require('variations/card-2.html')}
        ${require('variations/card-3.html')}
      </div>
      <div class="controls-item controls-item-prev disabled">
        <a href="#" class=" " data-target="#card-carousel" tabindex="-1">
          ${require-svg('chevron-left')}
        </a>

      </div>
      <div class="controls-item controls-item-next" tabindex="-1">
        <a href="#" class="" data-target="#card-carousel">
          ${require-svg('chevron-right')}
        </a>
      </div>
    </div>

    <div class="tab-pane" id="card-map">
      <div class="interactive-map map map--full-width map--with-panel" data-map-data="mapData2435274">
        <div class="map__panel">
          <div class="map__panel__contents">
            <div class="map__panel__contents__inner">
              <div class="map__panel__contents__list card card--flat">

              </div>
              <div class="map__panel__contents__view card card--flat">

              </div>
            </div>

          </div>
          <button class="map__panel__controls">
            <span class="sr-only">Close panel</span>
            ${require-svg('chevron-right')}
          </button>
        </div>
        <div class="map-body">
          <div id="map" style="height:100%;"></div>
        </div>


      </div>
      <script>
        window.mapData2435274 = { panel: { title: 'Facilities and locations', enabled: true }, items: [{ filters: [{ key: 'study-spaces', text: 'Study spaces' }], category: "Heath Park Campus", "teaser": "Main Building Restaurant offers hot and cold breakfasts and lunches.", "name": "Main Building Restaurant", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0011/87455/18.02.15-mh-Cardiff-Univ-Restaurants-74.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "https://www.youtube.com/watch?v=nqF84ms-zf8", "text": "Watch a video on youtube", "aria": "Watch a video on youtube", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 31.97 24\"><title>Youtube</title><path d=\"M26,4l0,0a6,6,0,0,1,6,6V22a6,6,0,0,1-6,6H6a6,6,0,0,1-6-6V10A5.88,5.88,0,0,1,1.78,5.75,5.9,5.9,0,0,1,6,4H26ZM22,16L12,8V24Z\" transform=\"translate(0 -4)\"/></svg>" }, { "url": "https://www.google.com", "text": "View a 360 image", "aria": "View a 360 image", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 32 28\"><title>Camera</title><path d=\"M25.5,6H31a1,1,0,0,1,1,1V29a0.92,0.92,0,0,1-.28.69A1,1,0,0,1,31,30H1a1,1,0,0,1-.69-0.31A1,1,0,0,1,0,29V7A1,1,0,0,1,.31,6.28,0.92,0.92,0,0,1,1,6H6.5L8,3a1,1,0,0,1,.31-0.72A0.92,0.92,0,0,1,9,2H23a1,1,0,0,1,1,1ZM16,26a8,8,0,0,0,5.66-13.66A8,8,0,1,0,16,26Zm0-12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,14Z\" transform=\"translate(0 -2)\"/></svg>" }, { "url": "http://maps.google.com/maps?q=51.487942,-3.178361", "data": "data-lat=\"51.487942\" data-long=\"-3.178361\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"><title>map-marker-icon</title><path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/><path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/></svg>" }], "coordinates": { "lat": 51.487942, "long": -3.178361 } }, { filters: [{ key: 'clinic-scenarios', text: 'Clinic scenarios' }], category: "Heath Park Campus", "teaser": "Serving barista coffee, iced coffees, smoothies, cold drinks, danishes, sandwiches, soup, pasties/sausage rolls, jacket potatoes, fresh cakes, snacks and confectionery.", "name": "Glamorgan Café", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0003/87348/18.02.15-mh-Cardiff-Univ-Restaurants-62.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "http://maps.google.com/maps?q=51.4859,-3.182322", "data": "data-lat=\"51.4859\" data-long=\"-3.182322\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"><title>map-marker-icon</title><path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/><path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/></svg>" }], "coordinates": { "lat": 51.4859, "long": -3.182322 } }, { filters: [{ key: 'research', text: 'Research' }], category: "Heath Park Campus", "teaser": "The Coffee Shop incorporates a deli bar which is open from 11.45am to 2.00pm daily and provides freshly made paninis which are made to order.", "name": "Hadyn Ellis Café", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0008/87353/18.02.15-mh-Cardiff-Univ-Restaurants-40.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "http://maps.google.com/maps?q=51.492314,-3.183178", "data": "data-lat=\"51.492314\" data-long=\"-3.183178\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"><title>map-marker-icon</title><path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/><path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/></svg>" }], "coordinates": { "lat": 51.492314, "long": -3.183178 } }] };
      </script>
    </div>

  </div>
</div>