<div class="highlight">
  ${require-svg('star-outline')}
  <div class="highlight-body">
    <p class="highlight-title">Professionally accredited</p>
    <p>Accredited by the <a href="">Royal Society of Chemistry</a></p>
    <img class="image" src="https://via.placeholder.com/150x55" />
  </div>
</div>
