.comments
  .comments-title
    margin-top: ($baseUnit*4)
    
  .list-comments
    margin: 0
    padding: 0
    list-style: none

  .comment-body
    border-bottom: ($baseUnit*0.2) solid $colourGreyLightest
    padding: ($baseUnit*2) 0

  .comment-meta
    font-size: map-get($fontSizes, 'sm')

  .comment-meta a
    color: $colourGrey

.comments-wordpress
  .says
    display: none

  textarea#comment
    width: 100%
    box-sizing: border-box