.btn
  display: block
  margin-bottom: $baseUnit * 2

  .icon
    +square(map-get($svgWidths, 'sm'))

    display: inline-block
    margin: 0 #{$baseUnit * 0.7} 0 -#{$baseUnit * 0.2}

  &.icon-right
    .icon
      margin: 0 -#{$baseUnit * 0.2} 0 #{$baseUnit * 0.7}

  &.btn-filter
    margin-bottom: $baseUnit * 2

    .icon
      +square($iconSize20)

      margin: 0 0 0 ($baseUnit * 0.7)

  &-outline
    color: $colourBlack
    background-color: $colourTransparent
    background-image: none
    border: solid #{$baseUnit * 0.1} $colourSilver

    &:focus,
    &:active,
    &:hover,
    &.active
      background-color: $colourTransparent

    &.disabled
      &:focus,
      &.focus
        border-color: $colourGreyLight

    &-link
      border: ($baseUnit * 0.1) solid $colourBtnLinkColourHover
      color: $colourBtnLinkColour
      background-color: $colourBtnLinkBackground

      &:hover,
      &:focus
        background-color: $colourBtnLinkBackground

  &-link
    color: $colourBtnLinkColour
    background-color: $colourBtnLinkBackground

    &:hover
      color: $colourBtnLinkColourHover
      background-color: $colourBtnLinkBackgroundHover

    &:focus
      color: $colourBtnLinkColour
      background-color: $colourBtnLinkBackgroundHover

  &-group
    padding: 0

    &-title
      margin-right: $baseUnit * 2
      font-family: $boldFontFamily
      color: $colourBlack
      margin-bottom: $baseUnit * 0.5
      text-transform: uppercase

  &.btn-content-toggle
    display: block
    margin: 3px auto 0

    &--left
      margin: 3px 0 0 -1rem

    .icon
      transition: transform $standardAnimationCubic $standardAnimationDuration

    &.active
      .icon
        transform: rotate(180deg)

  &-toolbar
    margin-top: 0
    display: inline-block
    margin-bottom: $baseUnit * 2

    &.no-margin-bottom
      margin-bottom: 0

  &-within-input,
  &-within-input-left
    display: flex
    position: absolute
    top: $baseUnit * 0.3
    bottom: $baseUnit * 0.3
    background-color: $colourWhite

    &:focus,
    &:hover
      background-color: $colourWhite

    .icon
      margin-right: 0

  &-within-input
    display: flex
    position: absolute
    right: $baseUnit * 0.3

    ~ input[type='text'],
    ~ input[type='password'],
    ~ input[type='number'],
    ~ input[type='email'],
    ~ input[type='url'],
    ~ input[type='search'],
    ~ input[type='tel']
      padding-right: 40px

  &-within-input-left
    left: $baseUnit * 0.3

    ~ input[type='text'],
    ~ input[type='password'],
    ~ input[type='number'],
    ~ input[type='email'],
    ~ input[type='url'],
    ~ input[type='search'],
    ~ input[type='tel']
      padding-left: 40px

  &[type='submit']
    appearance: none

  &--loading
    color: $colourTransparent
    position: relative
    cursor: wait

    .icon
      fill: $colourTransparent

    &:focus,
    &:hover
      color: $colourTransparent

    &:before
      position: absolute
      content: ''
      left: 0
      right: 0
      bottom: 0
      top: 0
      margin: auto
      width: $baseUnit*2
      height: $baseUnit*2

      border-radius: 50%
      border: $baseUnit*0.3 solid $colourGreyDarker
      border-top: $baseUnit*0.3 solid $colourTransparent
      animation: spin 1s linear infinite

    &.btn
      background-color: $colourBtnInverseBackground

      &-primary
        background-color: $colourBtnPrimaryBackground

      &-info
        background-color: $colourBtnInfoBackground

      &-success
        background-color: $colourBtnSuccessBackground

      &-warning
        background-color: $colourBtnWarningBackground

      &-inverse
        background-color: $colourBtnInverseBackground

        &:hover
          .icon
            fill: $colourTransparent

      &-danger
        background-color: $colourBtnDangerBackground

        &:hover
          .icon
            fill: $colourTransparent

      &-primary,
      &-info,
      &-success
        &:before
          border: $baseUnit*0.3 solid $colourWhite
          border-top: $baseUnit*0.3 solid $colourTransparent

  @keyframes spin
    from
      transform: rotate(0deg)

    to
      transform: rotate(360deg)

@import button-md-up
@import button-lg-up
