<div class="row">
  <div class="col-sm-6">
    <ul class="list w-100 list-no-disc">
      ${require-variable('globals/vars/colour', '$colourAlto', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}</li>
      ${require-variable('globals/vars/colour', '$colourConcrete', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}</li>
      ${require-variable('globals/vars/colour', '$colourAzureRadiance', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}</li>
      ${require-variable('globals/vars/colour', '$colourCararra', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}</li>
      ${require-variable('globals/vars/colour', '$colourHusk', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}</li>
      ${require-variable('globals/vars/colour', '$colourThunder', '
      <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourPickledBlueWood', '
      <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourYuma', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}</li>
      ${require-variable('globals/vars/colour', '$colourBlueZodiac', '
      <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourHaiti', '
      <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourBossanova', '
      <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourAtlantis', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourGreenHaze', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      <li class="py-2" style="background-color: #233e8b; color: white;">$colourPrussianBlue</li>
      ${require-variable('globals/vars/colour', '$colourWildSand', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourPeppermint', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourPearlLusta', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list w-100 list-no-disc">
      ${require-variable('globals/vars/colour', '$colourLinkWater', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourPoloBlue', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourGreenHaze', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourBrickRed', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourGreenHaze', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourPanache', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourAlabaster', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourHavelockBlue', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourTapa', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourDustyGrey', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourLocalNaviation', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourRegentGrey', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourBlueZodiac', '
      <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourMineShaft', '
      <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourCabaret', '
      <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
      ')}
      ${require-variable('globals/vars/colour', '$colourTimberwolf', '
      <li class="p-2" style="background-color: computed;">name: computed</li>
      ')}
    </ul>
  </div>
</div>