<ul class="list w-100 list-no-disc">
  ${require-variable('globals/vars/colour', '$colourBlack', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourRed', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreen', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourLink', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourWhite', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourEnergyYellow', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourSweetCorn', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')}
</ul>
