<ul class="list w-100 list-no-disc">
  ${require-variable('globals/vars/colour', '$colourTintDarkest', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreyDarkest', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreyDarker', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreyDark', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGrey', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourTintDarker', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourTintDark', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourTintLight', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourSilver', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreyNickel', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourTintLighter', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourPrimeGrey', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreyLight', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreySoft', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreyLighter', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourTintLightest', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreyLightest', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourGreySofter', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourWildSandGrey', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')}
</ul>
