<ul class="list w-100 list-no-disc">
  ${require-variable('globals/vars/colour', '$colourAlertWarningBackground', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourSuccess', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourInfo', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourSteelBlue', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourJade', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')}
</ul>
