<ul class="list w-100 list-no-disc">
  ${require-variable('globals/vars/colour', '$colourOceanGreen', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourAffair', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourAllports', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourCerise', '
  <li class="p-2" style="background-color: computed; color: white;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourAlgaeGreen', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourAeroBlue', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourMalibu', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourAnakiwa', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourLavender', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourMauve', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourHotPink', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')} ${require-variable('globals/vars/colour', '$colourLavenderRose', '
  <li class="p-2" style="background-color: computed;">name: computed</li>
  ')}
</ul>
