.thumbnails
  margin-left: 0
  margin-bottom: ($baseUnit*2)
  list-style: none
  display: flex
  flex-wrap: wrap

  li
    @include square(70px)
    margin-bottom: ($baseUnit)
    margin-right: ($baseUnit)
  
  &-logos
    li
      @include square(auto)

  &-flex
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    list-style: none
    margin: 0
  
  &-condensed
    margin-bottom: $baseUnit
    margin-left: 0

    li
      margin: 0 $baseUnit $baseUnit 0

.thumbnail
  padding: 0
  border: none
  @include border-radius(0)

  &:focus
    border: none
    outline: none
    box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn

  img
    margin: 0

  &.with-modal
    display: inline-block
    position: relative
    color: $colourGrey
    
    .icon
      @include square(24px)
      position: absolute
      fill: $colourWhite
      text-shadow: ($baseUnit*0.1) #{($baseUnit*0.1)} #{($baseUnit*0.3)} rgba($colourBlack, 0.75)
      filter: drop-shadow(($baseUnit*0.1) ($baseUnit*0.1) ($baseUnit*0.3) rgba($colourBlack, 0.75))
      display: block
      padding: 0
      line-height: 1
      top: 23px
      left: 23px
      margin: auto

      &:hover
        text-decoration: none

  .caption
    padding: ($baseUnit*0.3)
    font-size: map-get($fontSizes, 'xss')
    color: $colourGrey

.thumbnails
a.thumbnail,
a.thumbnail:hover,
a.thumbnail:focus
  @include box-shadow(none)

a.thumbnail:hover img,
a.thumbnail:focus img
  @include box-shadow(0 ($baseUnit/10) ($baseUnit/5) rgba($colourBlack, 0.2))	

@import 'thumbnails-md-up'
@import 'thumbnails-xl-up'