<div class="search-global collapse" id="search-global" role="search" aria-label="Global search navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12 offset-lg-2 col-lg-8">
        <div class="search-form">
          <form class="mb-0" method="get" action="/search">
            <input name="collection" value="website-meta" type="hidden" />
            <input name="form" value="searn=" type="hidden" />
            <div class="d-flex">
              <div class="search-form-container">
                <label class="search-form-label" for="query"><span class="sr-only">Search the website</span> ${require-svg('search')}</label>
                <input type="search" autofocus class="search-form-query" name="query" id="query" placeholder="Search the website" value="" />
                <a href="#" class="search-form-clear" aria-label="Clear search query">
                  <span aria-hidden="true">${require-svg('close')}</span>
                </a>
              </div>
              <input type="submit" class="btn btn-success d-none d-lg-block" value="Search" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
