<figure class="image with-link">

    <picture class="w-100">
        <source media="(min-width: 1200px)"
          srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&amp;h=420&amp;auto=format&amp;fit=crop">
        <source media="(min-width: 980px)"
          srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=940&amp;h=420&amp;auto=format&amp;fit=crop">
        <source media="(min-width: 768px)"
          srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=768&amp;h=407&amp;auto=format&amp;fit=crop">
        <source media="(min-width: 640px)"
          srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop">
        <source media="(min-width: 1px)"
          srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=502&amp;h=282&amp;q=60&amp;fit=crop&amp;auto=format">
        <img
          src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&amp;h=420&amp;auto=format&amp;fit=crop"
          alt="Phials of green liquid" class="w-100"> </picture>

  
    <div class="link-wrapper">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.6137 82.3486">
            <title>icon-international</title>
            <path d="M35.7885,61.5435A35.7445,35.7445,0,0,0,61.23,51.0044a1.3108,1.3108,0,0,0,0-1.8535l-1.98-1.98a1.3106,1.3106,0,0,0-1.8535,1.8535L58.4311,50.06A33.1777,33.1777,0,0,1,11.5375,3.1675l.7891.7886A1.3107,1.3107,0,0,0,14.18,2.1025L12.4467.3691a1.3481,1.3481,0,0,0-1.8535,0A35.716,35.716,0,0,0,27.5439,60.59v8.7327H21.92A11.7237,11.7237,0,0,0,10.2094,81.0337,1.31,1.31,0,0,0,11.52,82.3442H46.1889a1.3107,1.3107,0,0,0,1.3105-1.3105A11.7243,11.7243,0,0,0,35.7875,69.3228H30.165v-8.22A36.4316,36.4316,0,0,0,35.7885,61.5435Zm8.9951,18.18H12.9247A9.1047,9.1047,0,0,1,21.92,71.9438H35.7875A9.104,9.104,0,0,1,44.7836,79.7231Z" transform="translate(0 0.0044)" style="fill:#383735"></path>
            <path d="M53.8676,7.4849a25.5542,25.5542,0,1,0,0,36.1572A25.3994,25.3994,0,0,0,53.8676,7.4849Zm3.4729,10.2128-.4075-.4072-4.6811,4.681a41.9828,41.9828,0,0,0-5.7388-7.1326,43.2931,43.2931,0,0,0-4.251-3.717l5.2748-5.2747A23.0625,23.0625,0,0,1,52.03,9.3218,22.7929,22.7929,0,0,1,57.3405,17.6977ZM53.603,31.105c1.0907,3.998.8147,7.3746-.7492,9.6874L44.98,32.9183l6.702-6.7017A26.4577,26.4577,0,0,1,53.603,31.105ZM25.7245,7.0889a17.3017,17.3017,0,0,1,4.5225.66,28.937,28.937,0,0,1,8.0018,3.7116l-7.3635,7.3636L20.5605,8.5A9.0855,9.0855,0,0,1,25.7245,7.0889Zm-7.0019,3.2466L29.048,20.6614,21.6864,28.023a28.9548,28.9548,0,0,1-3.7119-8.002C16.8845,16.0244,17.16,12.6486,18.7226,10.3355Zm12.1625,12.163,10.42,10.42-7.23,7.23A39.1507,39.1507,0,0,1,26.9018,34.45a40.6456,40.6456,0,0,1-3.7-4.2681ZM43.142,34.7559,51.0154,42.63c-2.3116,1.5618-5.6863,1.8381-9.6839.7477a26.46,26.46,0,0,1-4.89-1.9217Zm0-3.675-10.42-10.42,7.6857-7.6855a40.6527,40.6527,0,0,1,4.267,3.7,39.1529,39.1529,0,0,1,5.699,7.1733ZM45.1231,4.5863l-5.002,5.002A31.9268,31.9268,0,0,0,30.93,5.2422,20.5321,20.5321,0,0,0,26.574,4.53a22.8807,22.8807,0,0,1,18.5491.0568ZM14.7562,16.3842a20.5771,20.5771,0,0,0,.712,4.32,31.9117,31.9117,0,0,0,4.3458,9.1908l-4.9909,4.9909A23.059,23.059,0,0,1,14.7562,16.3842Zm1.3217,20.9211,5.2694-5.2692a43.2869,43.2869,0,0,0,3.7176,4.251,41.9726,41.9726,0,0,0,7.1319,5.7388L27.516,46.7065l.4094.41a22.5023,22.5023,0,0,1-11.8475-9.8108ZM30.11,47.7877l4.3988-4.3987a29.563,29.563,0,0,0,6.1394,2.4953,20.6828,20.6828,0,0,0,4.3088.7169A23.0647,23.0647,0,0,1,30.11,47.7877ZM56.8215,34.741a20.5828,20.5828,0,0,0-.7117-4.32,29.5712,29.5712,0,0,0-2.4948-6.1382l4.398-4.3978A23.0663,23.0663,0,0,1,56.8215,34.741Z" transform="translate(0 0.0044)" style="fill:#c6a55a"></path>
          </svg>
        <div class="link-body">
            <h3 class="link-title"><a href="">View a 360 tour of medicine</a></h3>
            <p>Maecenas bibendum commodo ipsum at ornare. Ut urna metus, viverra ac malesuada quis, gravida non enim. Praesent et eros vel purus ullamcorper auctor. Praesent et eros vel purus ullamcorper auctor.</p>
        </div>    
    </div>
  </figure>