<!-- Button to trigger modal -->
<a href="#demo-with-caption-download" role="button" class="d-block" data-toggle="modal">

  <figure class="image">
    <img src="http://placehold.it/370x210" alt="Placeholder">
    <figcaption class="caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima earum quam eaque
      explicabo libero veniam
      possimus ducimus labore distinctio. Illum accusantium tempore assumenda eveniet. Ducimus, ipsum. At nisi
      asperiores dicta?</figcaption>
  </figure>
  <span class="d-inline-flex align-items-center mt-10"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32.03 32.03">
      <title>Zoom in</title>
      <path
        d="M29.66,32a0.92,0.92,0,0,0,.69-0.28l1.41-1.41A1.7,1.7,0,0,0,32,29.66a1.27,1.27,0,0,0-.31-0.72l-9.62-9.66A0.08,0.08,0,0,1,22,19.22l-0.09-.06a0.8,0.8,0,0,1-.22-0.09A12.09,12.09,0,0,0,24,12a11.68,11.68,0,0,0-3.56-8.53A11.55,11.55,0,0,0,12,0,11.35,11.35,0,0,0,3.5,3.56,11.49,11.49,0,0,0,0,12a11.59,11.59,0,0,0,3.5,8.44A11.47,11.47,0,0,0,12,24a12.09,12.09,0,0,0,7.09-2.31l0.19,0.38L29,31.75A0.92,0.92,0,0,0,29.66,32ZM17.72,6.38A7.59,7.59,0,0,1,20,12a7.5,7.5,0,0,1-2.28,5.63A7.5,7.5,0,0,1,12.06,20a7.61,7.61,0,0,1-5.66-2.31,7.93,7.93,0,0,1,0-11.38A7.74,7.74,0,0,1,12.06,4a7.5,7.5,0,0,1,5.66,2.37h0ZM11,11H7v2h4v4h2V13h4V11H13V7H11v4Z"
        transform="translate(0 0)" />
    </svg> <span class="ml-5">Open expanded view</span></span>
</a>


<!-- Modal -->
<div id="demo-with-caption-download" class="modal modal-image fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close-modal" data-dismiss="modal">
          Close ${require-svg("close")}
        </button>
      </div>

      <div class="modal-body">
        <figure class="image image--downloadable">
          <img src="http://placehold.it/1200x675" alt="Placeholder">
          <figcaption class="caption image__caption">
            <p class="image__caption__content">adsadas</p>
            <a href="#" class="btn btn-success image__download">Download image</a>
          </figcaption>
        </figure>
      </div>

    </div>
  </div>
</div>