<figure class="image with-video">
  <img srcset="
  https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=1170&h=420&auto=format&fit=crop 1170w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=940&h=420&auto=format&fit=crop 1170w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=768&h=407&auto=format&fit=crop 768w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=640&h=360&auto=format&fit=crop 640w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=380&h=214&auto=format&fit=crop 380w
    "
    src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&h=420&q=60&fit=crop&auto=format"
    sizes="(max-width: 767px) 502px, (max-width: 979px) 704px, (max-width: 1199px) 940px, (min-width: 1200px) 1150px"
    alt="Students walking" />
  <div>

    <a href="https://www.youtube.com/watch?v=ub7StpyE-Vk" class="video video--lazy" data-youtubeid="ub7StpyE-Vk"
      data-overlay-content="true">
      <img class="lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format"
        data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text"> </a>
    </a></div>

</figure>