<p class="alert">This is the default alert.</p>
<p class="alert alert-info">This is the info alert.</p>
<p class="alert alert-error">This is the error alert.</p>
<p class="alert alert-success">This is the success alert.</p>