<p class="alert with-button">This is the default alert. <a class="btn btn-success" href="">More</a></p>
<p class="alert alert-info with-button">This is the info alert. <a class="btn btn-success" href="">More</a></p>
<p class="alert alert-error with-button">This is the error alert. <a class="btn btn-success" href="">More</a></p>
<p class="alert alert-success with-button">This is the success alert. <a class="btn btn-success" href="">More</a></p>