@media #{$breakpoint-md-down}
  .callout
    margin-right: 0

    .video-callout 
      background-color: $colourWhite

      .video 
        padding-left: ($baseUnit*2)
        padding-right: ($baseUnit*2)