/* Desktop and up */
@media #{$breakpoint-xl-up} 
  .callout
    margin-left: 0

    &.section
      .callout-container  
        flex: 1 1 50%
        margin: ($baseUnit*4) 0 ($baseUnit*4) ($baseUnit*4)
        display: flex
        align-items: center
  
    .callout-container 
      border-left: ($baseUnit*0.2) solid $colourWhite
      margin-top: ($baseUnit*2)

      h3 
        padding-top: $baseUnit
        padding-left: ($baseUnit*3)

    &.with-video 
      margin-top: ($baseUnit*3)

      .video-container 
        flex: 1 1 50%

      .video
        margin-top: -($baseUnit*3)
        padding-bottom: ($baseUnit*3)

      .callout-container 
        margin: ($baseUnit*4) 0
        margin-left: ($baseUnit*3)
        margin-top: ($baseUnit*2)
        width: calc(50% - #{$baseUnit*3})
        flex: 1 1 calc(50% - #{$baseUnit*3})
        display: flex
        align-items: center

      .callout-container 
        border-left: ($baseUnit*0.2) solid $colourWhite

        h3 
          padding-left: ($baseUnit*3)
          padding-bottom: ($baseUnit*3)

      &.video-callout
        &:after,
        &:before 
          content: ""
          background-color: $colourWhite
          height: 30px
          position: absolute
          width: 100%
          top: 0px

        &:after 
          top: 291px