.callout
  position: relative
  background-color: $colourRed

  .callout-container
    margin: 0 #{($baseUnit*2)}

  h3 
    color: $colourWhite
    padding-top: ($baseUnit*3)
    padding-bottom: $baseUnit

  &.video-callout 
    background-color: $colourWildSand
    padding-bottom: #{($baseUnit*3)}
    position: relative
    z-index: 0

    &:before 
      content: ""
      z-index: -1
  
    &:after 
      content: ""
      z-index: -1
  
    .video 
      margin-bottom: 0

@import 'callout-xs-only'
@import 'callout-md-down'
@import 'callout-md-only'
@import 'callout-lg-only'
@import 'callout-xl-up'