@media #{$breakpoint-md-only}
  .callout
    margin-left: 0

    &.section,
    &.with-video
      .row
        .callout-container
          h3
            margin-left: ($baseUnit*2)
            padding-bottom: ($baseUnit*3)

          .video-container 
            padding-right: ($baseUnit*17.5)

    .callout-container 
      margin-left: - ($baseUnit*2)
      margin-right: ($baseUnit*2)

    &.video-callout
      &:after,
      &:before
        content: ""
        background-color: $colourWhite
        height: 30px
        position: absolute
        width: 100%
        top: 0px
  
      &:after
        top: 168px