/* 980 - 1199 */
@media #{$breakpoint-lg-only}
  .callout  
    margin-left: 0
    &.section
      .callout-container  
        flex: 1 1 50%
        margin: ($baseUnit*4) 0 ($baseUnit*4) ($baseUnit*4)
        display: flex
        align-items: center

    .callout-container 
      border-left: ($baseUnit*0.2) solid $colourWhite
      margin-top: ($baseUnit*2)

      h3 
        padding-top: $baseUnit
        padding-left: ($baseUnit*3)

    &.with-video
      .callout-container  
        flex: 1 1 50%
        margin: ($baseUnit * 4) 0 ($baseUnit*4) ($baseUnit*4)
        display: flex
        align-items: center

      .video-container
        flex: 1 1 50%
        margin-right: $baseUnit

    .callout-container 
      border-left: ($baseUnit * 0.2) solid $colourWhite
      margin-top: ($baseUnit * 2)

      h3 
        padding-top: $baseUnit
        padding-left: ($baseUnit * 3)
  
    &.video-callout
      &:after,
      &:before 
        content: ""
        background-color: $colourWhite
        height: 30px
        position: absolute
        width: 100%
        top: 0px

      &:after
        top: 229px