.controls
  &-item
    &-prev,
    &-next
      a
        +square(36px)
        display: inline-flex
        align-items: center
        justify-content: center
        background-color: $colourGreyDarker
        opacity: 1
        border-radius: 50%
        cursor: pointer

        .icon
          +square(20px)
          transition: all $veryShortAnimationDuration ease-in-out
          fill: $colourWhite
          margin: 0

        &:hover
          .icon
            +square(18px)

    &.disabled
      opacity: 0.5 !important
      a
        cursor: not-allowed

        &:hover
          .icon
            +square(20px)

    &-next
      a
        padding-right: 7px
        padding-left: 9px

    &-prev
      a
        padding-left: 7px
        padding-right: 9px
        margin-right: $baseUnit

@import controls-lg-up
