@media #{$breakpoint-lg-up}
  .accordion
    &-section-header-title
      &:focus
        outline: #{$baseUnit * 0.3} solid $colourSweetCorn
        background-color: transparent
        text-decoration: none