.accordion

  &-section
    @extend %no-border

    border-bottom: ($baseUnit * 0.2) solid $colourGreyLighter

    &:last-child
      border: none

    &-header
      cursor: pointer
      position: relative

      &-title
        display: block
        margin-top: 0
        margin-bottom: 0
        font-size: map-get($headingFontSizes, 'normal')
        line-height: map-get($headingLineHeights, 'normal')
        font-family: $boldFontFamily
        padding: #{$baseUnit + 4} 0 #{$baseUnit + 2}
        color: $colourLink
        text-decoration: none

        .icon
          @extend %rotate-0

          @extend %transition

          display: inline-block
          fill: $colourGrey
          line-height: map-get($lineHeights, 'normal')
          margin-right: $baseUnit * 1.5

        &:focus,
        &:hover
          text-decoration: none

        &:not(.collapsed)
          .icon
            @extend %rotate-90

  &-cpd-course
    .accordion-section-header
      background-color: $colourGreySoft

      &-title
        @extend .d-flex
        @extend .justify-content-between
        @extend .align-items-center
        color: $colourGreyDarker
        padding: $baseUnit

        .accordion-summary,
        .accordion-title
          margin: $baseUnit / 2

        .accordion-summary
          font-size: map-get($fontSizes, 'sm')
          line-height: map-get($lineHeights, 'small')

        .icon
          @extend .icon-md

          margin-right: $baseUnit

      .icon
        fill: $colourGreyDarkest

    .accordion-section-body
      background-color: $colourGreyLightest

    &.icon-left
      .accordion-section-header-title
        padding: #{$baseUnit - 2} #{$baseUnit + 5}

    &:last-child
      border: none

  &-inner
    border-top: none
    padding: #{$baseUnit - 1} #{$baseUnit + 5}

  &-large
    .accordion-section
      &-header
        &-title
          color: $colourLink
          padding: $baseUnit * 2.5 #{$baseUnit * 1.5}
          font: normal normal #{$headingFontSizeLG} #{$boldFontFamily}

        &-supplement
          font-size: $smallFontSize
          color: $colourGreyDarker

  &-mobile
    width: 100%

    .accordion-section
      border-bottom: ($baseUnit * 0.1) solid $colourGreyLighter

      &-header
        &-title
          font-family: $boldFontFamily
          line-height: map-get($lineHeights, 'large')
          padding: #{$baseUnit * 0.8} #{$baseUnit * 1.5} #{$baseUnit * 0.8} #{$baseUnit * 4.7}
          text-indent: -$baseUnit * 3.2

          .icon
            margin-right: $baseUnit

          &.collapsed
            .icon
              fill: $colourGreyLight

      .accordion-toggle
        display: flex

  &--link
    .accordion-section-header-title
      color: $colourLink

      &:hover
        color: $colourLinkHover

  &--sm
    .accordion-section-header-title
      display: flex
      font-size: map-get($font17, 'size')
      line-height: map-get($font17, 'line-height')
      padding: 0
      margin-bottom: $baseUnit * 0.5

      .icon
        +square(map-get($svgWidths, 'xs'))

        margin-top: $baseUnit * 0.5
        margin-right: $baseUnit

  h3,
  h4
    font-family: $boldFontFamily
    margin-bottom: $baseUnit * 1.2

  h3
    font-size: map-get($font20, 'size')
    line-height: map-get($font18, 'line-height')

  h4
    font-size: map-get($font18, 'size')
    line-height: map-get($font18, 'line-height')

@import accordion-md-up
@import accordion-lg-up
