<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <div class="highlight-group col-md-6">
            ${require('variations/highlight.html')} ${require('variations/highlight.html')} ${require('variations/highlight.html')}
            ${require('variations/highlight.html')}
          </div>
          <div class="highlight-group col-md-6">
            ${require('variations/highlight.html')} ${require('variations/highlight.html')} ${require('variations/highlight.html')}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
