.com  
  color: #93a1a1 !important
.lit  
  color: #195f91 !important
.pun, .opn, .clo  
  color: #93a1a1 !important
.fun  
  color: #dc322f !important
.str, .atv  
  color: #D14 !important
.kwd, .prettyprint .tag  
  color: #1e347b !important
.typ, .atn, .dec, .var  
  color: teal !important
.pln  
  color: #48484c !important

pre
  display: block
  font-size: 16px
  border-radius: 4px
  font-family: Monaco,Menlo,Consolas,'Courier New',monospace
  line-height: 24px
  word-break: break-all
  word-wrap: break-word
  white-space: pre-wrap

.prettyprint 
  padding: #{($baseUnit)} !important
  border: #{($baseUnit * 0.1)} solid #e1e1e8 !important
  max-height: 400px !important
  overflow: auto
  tab-size: 2

.prettyprint.linenums 
  box-shadow: inset #{($baseUnit*4)} 0 0 #fbfbfc, inset #{($baseUnit*4.1)} 0 0 #ececf0 !important


// Specify class=linenums on a pre to get line numbering 
.prettyprint ol.linenums 
  margin: 0 0 0 #{($baseUnit * 3) + 3} !important

.prettyprint ol.linenums li 
  padding-left: #{($baseUnit + 2)}
  color: #bebec5
  line-height: 20px
  text-shadow: 0 #{($baseUnit * 0.1)} 0 $colourWhite
  list-style-type: decimal !important
  background-color: transparent

// End prettyprint.sass