@media #{$breakpoint-lg-up}
  .quote
    .quote-author
      a
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit * 0.3) $colourSweetCorn
          text-decoration: none
