$quoteRichMainOffset: $baseUnit*7.5
.quote
  border-top: ($baseUnit * 0.2) solid $colourGreyLighter
  border-bottom: ($baseUnit * 0.2) solid $colourGreyLighter
  margin: 0 0 ($baseUnit * 2) 0
  padding: #{($baseUnit * 2)} #{($baseUnit * 6)}

  &-body
    font-family: $brandFamily
    font-size: map-get($headingFontSizes, 'normal')
    border-left: none
    margin: 0 0 $baseUnit 0
    padding: 0

    p
      margin-bottom: inherit
      font-size: map-get($font19, 'size')
      line-height: map-get($font19, 'line-height')

  &-author
    font-family: $boldFontFamily
    color: $colourRed

    .quote-source
      font-family: $brandFamily
      display: block

  &.with-icon
    .icon
      +square(map-get($svgWidths, 'md'))
      fill: $colourTintDark
      margin-bottom: ($baseUnit * 0.3)

  &.quote-large
    margin: ($baseUnit * 4) 0 #{($baseUnit * 2)} 0

    .quote-body
      font-family: $boldFontFamily
      border-left: none
      padding: 0
      margin-bottom: $baseUnit

      p
        font-size: map-get($headingFontSizes, 'lg')
        line-height: $quoteLineHeightLarge

  &.quote-testimonial.with-image
    .quote-image
      margin: 0 0 $baseUnit $baseUnit
      float: right
      width: 100px

  &.quote-vertical
    padding-left: ($baseUnit * 6)
    text-align: center

    .quote-image
      float: none
      margin: 0 auto $baseUnit
      display: block
      width: 100px

  &.with-image
    padding-left: ($baseUnit * 15)
    overflow: hidden

    .quote-image
      float: left
      margin-left: #{(-$baseUnit * 13)}
      margin-top: ($baseUnit / 2)
      width: 100px

.float-right .quote
  padding: ($baseUnit * 2)

.float-left .quote
  padding: ($baseUnit * 2)

.col-md-3 > .quote
  .quote-image
    margin-left: ($baseUnit * 1.5)
    width: 80px
    float: right
    margin-top: 0

  .quote-body
    p
      font-size: map-get($font17, 'size')

@import 'rich/rich'
@import 'quote-xs-down'
@import 'rich/rich-sm-up'
@import 'rich/rich-md-up'
@import 'quote-md-only'
@import 'quote-lg-up'
