<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron left</title>
          <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z" transform="translate(-6.13 0)"></path>
        </svg>
        <span class="hidden-text">Previous</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item">
      <a class="page-link" href="#">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
        <title>Chevron right</title>
        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"/>
        <span class="hidden-text">Next
        </svg></span>
      </a>
    </li>
  </ul>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
        <title>Chevron left</title>
        <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z" transform="translate(-6.13 0)"></path>
        </svg>
      </a>
    </li class="page-item">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item active"><a class="page-link" href="#">5</a></li>
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"/>
        </svg>
        <span class="hidden-text">Next</span>
      </a>
    </li>
  </ul>
</nav>