<ul class="list list-tags">
  <li class="tag tag-dismissible">
    <a href="#">
      ${require-svg('close')} Tag one
    </a>
  </li>
  <li class="tag tag-dismissible">
    <a href="#">
      ${require-svg('close')} Tag two
    </a>
  </li>
  <li class="tag tag-dismissible">
    <a href="#">
      ${require-svg('close')} Tag three
    </a>
  </li>
</ul>