<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-primary">${require-svg('cog')} Button
  primary</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-success">${require-svg('cog')} Button
  success</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-info">${require-svg('cog')} Button info</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-inverse">${require-svg('cog')} Button
  inverse</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-warning">${require-svg('cog')} Button
  warning</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-danger">${require-svg('cog')} Button
  danger</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading">${require-svg('cog')} Button default</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-link">Button link</a>