<a href="#" class="btn btn-lg btn-primary">${require-svg('cog')} Button lg primary</a>
<a href="#" class="btn btn-lg btn-success">${require-svg('cog')} Button lg success</a>
<a href="#" class="btn btn-lg btn-info">${require-svg('cog')} Button lg info</a>
<a href="#" class="btn btn-lg btn-inverse">${require-svg('cog')} Button lg inverse</a>
<a href="#" class="btn btn-lg btn-warning">${require-svg('cog')} Button lg warning</a>
<a href="#" class="btn btn-lg btn-danger">${require-svg('cog')} Button lg danger</a>
<a href="#" class="btn btn-lg">${require-svg('cog')} Button lg default</a>