<div class="btn-group col-md-3" role="group" aria-label="Button group">
  <a href="#" class="btn btn-outline-info">2019</a>
  <a href="#" class="btn btn-outline-info">${require-svg('tick')} 2020</a>
</div>
<div class="btn-group col-md-4" role="group" aria-label="Button group">
  <a href="#" class="btn btn-outline-info">2019</a>
  <a href="#" class="btn btn-outline-info">${require-svg('tick')} 2020</a>
  <a href="#" class="btn btn-outline-info">${require-svg('tick')} 2021</a>
</div>
