<div class="btn-toolbar d-flex">
  <div class="mr-2 d-flex flex-column">
    <p class="btn-group-title bold">Level of study</p>
    <div id="levels" class="btn-group" data-toggle="buttons-radio">
      <button class="btn btn-sm active" data-level="ug">Undergraduate</button>
      <button class="btn btn-sm" data-level="pg">Postgraduate</button>
    </div>
  </div>
  <div class="mr-2 d-flex flex-column">
    <p class="btn-group-title">Nationality</p>
    <div id="nationality" class="btn-group float-left" data-toggle="buttons-radio">
      <button class="btn btn-sm active" data-nationality="eu">UK or EU</button>
      <button class="btn btn-sm" data-nationality="int">Outside EU</button>
    </div>
  </div>
  <div class="mr-2 d-flex flex-column">
    <p class="btn-group-title">Accommodation</p>
    <div id="accommodation" class="btn-group float-left" data-toggle="buttons-radio">
      <button class="btn btn-sm active" data-accommodation="residences">University</button>
      <button class="btn btn-sm" data-accommodation="private">Private</button>
    </div>
  </div>
  <div>
    <p class="btn-group-title">Currency</p>
    <div id="currencies" class="btn-group float-left" data-toggle="buttons-radio">
      <button class="btn btn-sm active" data-currency="GBP">£</button>
      <button class="btn btn-sm" data-currency="USD">$</button>
      <button class="btn btn-sm" data-currency="EUR">€</button>
      <button class="btn btn-sm" data-currency="CNY">CNY</button>
      <button class="btn btn-sm" data-currency="INR">INR</button>
    </div>
  </div>
</div>
