<a href="#" class="btn btn-primary">${require-svg('cog')} Button primary</a>
<a href="#" class="btn btn-success">${require-svg('cog')} Button success</a>
<a href="#" class="btn btn-info">${require-svg('cog')} Button info</a>
<a href="#" class="btn btn-inverse">${require-svg('cog')} Button inverse</a>
<a href="#" class="btn btn-warning">${require-svg('cog')} Button warning</a>
<a href="#" class="btn btn-danger">${require-svg('cog')} Button danger</a>
<a href="#" class="btn">${require-svg('cog')} Button default</a>
<a href="#" class="btn btn-link">Button link</a>