<a href="#" class="btn btn-sm btn-primary">${require-svg('cog')} Button sm primary</a>
<a href="#" class="btn btn-sm btn-success">${require-svg('cog')} Button sm success</a>
<a href="#" class="btn btn-sm btn-info">${require-svg('cog')} Button sm info</a>
<a href="#" class="btn btn-sm btn-inverse">${require-svg('cog')} Button sm inverse</a>
<a href="#" class="btn btn-sm btn-warning">${require-svg('cog')} Button sm warning</a>
<a href="#" class="btn btn-sm btn-danger">${require-svg('cog')} Button sm danger</a>
<a href="#" class="btn btn-sm">${require-svg('cog')} Button sm default</a>