<a href="#" class="btn btn-outline-primary">${require-svg('cog')} Button outline primary</a>
<a href="#" class="btn btn-outline-success">${require-svg('cog')} Button outline success</a>
<a href="#" class="btn btn-outline-info">${require-svg('cog')} Button outline info</a>
<a href="#" class="btn btn-outline-warning">${require-svg('cog')} Button outline warning</a>
<a href="#" class="btn btn-outline">${require-svg('cog')} Button outline default</a>
<a href="#" class="btn btn-outline-link">Button outline link</a>