@media #{$breakpoint-lg-up}
  .nav-pills
    li
      &.active
        a
          &:focus
            background-color: $colourRed
            box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn

      a
        &:focus
          outline: none
          box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn