.nav-pills
  margin-left: 0
  
  li
    &.active
      a
        background-color: $colourRed
        color: $colourWhite

        &:hover
          background-color: $colourRed

          &:focus
            background-color: $colourRed

  li a
    background-color: $colourTintLightest
    color: $colourBlack
    margin: #{$baseUnit * 0.2} #{$baseUnit * 0.4} #{$baseUnit * 0.2} 0
    line-height: $baseUnit * 1.4

  li a:hover
    background-color: $colourTintLighter
    text-decoration: none

@import 'pills-lg-up'