<div class="nav-section sticky-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="nav-section-title lead">Music (BA)</h2>
        <span class="nav-section-subtitle">Music (BA)</span>
        <nav class="navbar">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#overview">Course overview</a></li>
            <li class="nav-item"><a class="nav-link" href="#requirements">Entry requirements</a></li>
            <li class="nav-item"><a class="nav-link" href="#fees">Tuition fees</a></li>
            <li class="nav-item"><a class="nav-link" href="#structure">Course structure</a></li>
            <li class="nav-item"><a class="nav-link" href="#assessment">Learning and assessment</a></li>
            <li class="nav-item"><a class="nav-link" href="#careers">Careers and placements</a></li>
            <li class="dropdown dropdown-more nav-item">
              <a href="#" class="nav-link dropdown-toggle">More</a>
              <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>