<div class="nav-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar">
          <ul class="nav">
            <li class="nav-item active"><a class="nav-link" href="#overview">Course overview</a></li>
            <li class="nav-item"><a class="nav-link" href="#entry-requirements">Entry requirements</a></li>
            <li class="nav-item"><a class="nav-link" href="#tuition-fees">Tuition fees</a></li>
            <li class="nav-item"><a class="nav-link" href="#course-structure">Course structure</a></li>
            <li class="nav-item"><a class="nav-link" href="#learning-and-assessment">Learning and assessment</a></li>
            <li class="nav-item"><a class="nav-link" href="#careers">Careers and placements</a></li>
            <li class="nav-item"><a class="nav-link" href="#entry-requirements5">Entry requirements</a></li>
            <li class="nav-item "><a class="nav-link" href="#tuition-fees4">Tuition fees</a></li>
            <li class="nav-item"><a class="nav-link" href="#course-structure3">Course structure</a></li>
            <li class="nav-item"><a class="nav-link" href="#learning-and-assessment2">Learning and assessment</a></li>
            <li class="nav-item"><a class="nav-link" href="#careers2">Careers and placements</a></li>
            <li class="dropdown dropdown-more nav-item invisible">
              <a href="#" class="nav-link dropdown-toggle">More</a>
              <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
