.badge
  padding-left: $baseUnit * 0.6
  padding-right: $baseUnit * 0.6
  color: $colourBlack

  &--lg
    padding: $baseUnit * 0.7

  &.badge--outline
    border: ($baseUnit * 0.1) solid $colourBlack
    background: $colourTransparent
    text-transform: uppercase
    border-radius: $baseUnit * 0.4

    &.badge
      &-success
        border-color: $colourBtnSuccessBackground
        color: $colourText

      &-important,
      &-danger
        border-color: $colourValencia
        color: $colourValencia

      &-info
        border-color: $colourScienceBlue
        color: $colourScienceBlue

      &-inverse
        border-color: $colourGrey
        color: $colourGrey

.label
  +border-radius($baseUnit * 0.2)

  padding: #{$baseUnit * 0.2} #{$baseUnit * 0.5}
  color: $colourText

.badge, .label
  line-height: map-get($lineHeights, 'smaller')
  font-family: $boldFontFamily
  font-size: map-get($fontSizes, 'xs')
  background: $colourGreyLight
  white-space: normal

  &-success
    background: $colourBtnSuccessBackground
    color: $colourWhite

  &-warning
    background: $colourEnergyYellow
    color: $colourBlack

  &-important
    background: $colourRed
    color: $colourWhite

  &-info
    background: $colourBtnInfoBackground
    color: $colourWhite

  &-inverse
    background: $colourBlack
    color: $colourWhite
