<div class="validate">
  <p class="sq-form-errors-message">This is a Squiz form error message</p>

  <form class="form-horizontal" method="get" novalidate="novalidate">
    <fieldset>
      <legend>Test form</legend>

      <div class="control-group">
        <label class="control-label" for="firstname">First name</label>
        <div class="controls">
          <input type="text" id="firstname" name="firstname" class="col-md-3" required="" aria-required="true" />
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <input type="submit" name="submit" class="btn btn-primary" value="Submit" />
    </div>
  </form>

  <h3>Squiz form</h3>

  <form novalidate="novalidate">
    <fieldset class="sq-form-section">
      <legend class="sq-form-section-title">Personal details - name</legend>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q1">Title</label>
        <div class="sq-form-question-answer">
          <input type="text" name="q749271:q1" value="" size="5" maxlength="10" id="q749271_q1" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text sq-form-question-error">
        <label class="sq-form-question-title" for="q749271_q2">First name <abbr class="sq-form-required-field" title="required">*</abbr></label>
        <em class="sq-form-question-note">This is a Squiz note.</em>
        <div class="sq-form-question-answer">
          <input type="text" name="q749271:q2" value="" size="30" maxlength="300" id="q749271_q2" class="sq-form-field" />
        </div>
        <p id="error_749271_q2" class="sq-form-error">This field is required. Please enter a value.</p>
      </div>
      <div class="sq-form-question sq-form-question-text sq-form-question-error">
        <label class="sq-form-question-title" for="q749271_q3">Last name <abbr class="sq-form-required-field" title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input type="text" name="q749271:q3" value="" size="30" maxlength="300" id="q749271_q3" class="sq-form-field" />
        </div>
        <p id="error_749271_q3" class="sq-form-error">This field is required. Please enter a value.</p>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q4"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q4" value="757776" size="30" maxlength="300" id="q749271_q4" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q5"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q5" value="Managing Finance I" size="30" maxlength="300" id="q749271_q5" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q6"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q6" value="165.00" size="30" maxlength="300" id="q749271_q6" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q7"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q7" value="BAM17A1361A" size="30" maxlength="300" id="q749271_q7" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q8"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q8" value="5 October 2017" size="30" maxlength="300" id="q749271_q8" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q10"> </label>
        <div class="sq-form-question-answer">
          <input
            type="hidden"
            name="q749271:q10"
            value="https://wwwstaging.cardiff.ac.uk/part-time-courses-for-adults/courses/view/managing-finance-i"
            size="30"
            maxlength="300"
            id="q749271_q10"
            class="sq-form-field"
          />
        </div>
      </div>

      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q762617_q1"
          >Do you require any access arrangements, reasonable adjustments or additional support?</label
        >
        <em class="sq-form-question-note">For example, access to a lift, large print handouts, or extra time for assessment.</em>
        <div class="sq-form-question-answer"><textarea name="q762617:q1" cols="30" rows="5" id="q762617_q1" class="sq-form-field"></textarea></div>
      </div>
    </fieldset>

    <fieldset class="sq-form-section">
      <legend class="sq-form-section-title">Previous student</legend>
      <div class="sq-form-question sq-form-question-option-list ">
        <fieldset>
          <legend class="sq-form-question-title">Have you studied a short course with us before?</legend>
          <div class="sq-form-question-answer">
            <ul>
              <li>
                <input type="radio" name="q749369:q1" id="q749369_q1_0" value="0" class="sq-form-field" />
                <label for="q749369_q1_0">Yes</label>
              </li>
              <li>
                <input type="radio" name="q749369:q1" id="q749369_q1_1" value="1" class="sq-form-field" />
                <label for="q749369_q1_1">No</label>
              </li>
            </ul>
          </div>
        </fieldset>
      </div>
    </fieldset>
  </form>

  <form method="get" novalidate="novalidate">
    <fieldset id="fieldset-name">
      <legend>Name</legend>
      <div class="control-group error">
        <label>Title</label>
        <input
          class="input-block-level"
          type="text"
          style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;'
        />
        <span class="help-block">Please enter your title</span>
      </div>
      <div class="control-group">
        <label>First name</label>
        <input class="input-block-level input-error" type="text" value="Tom" />
      </div>
      <div class="control-group">
        <label>Last name</label>
        <input class="input-block-level" type="text" value="Jones" />
      </div>
      <button type="submit" class="btn btn-large btn-block btn-success">Continue</button>
    </fieldset>

    <fieldset id="fieldset-name">
      <legend>Date of birth</legend>

      <div class="control-group pull-left">
        <label>Day</label>
        <input class="col-md-1" type="number" min="1" max="31" />
      </div>
      <div class="control-group pull-left">
        <label>Month</label>
        <input class="col-md-1" type="number" min="1" max="12" />
      </div>
      <div class="control-group">
        <label>Year</label>
        <input class="col-md-2" type="number" />
      </div>
      <p class="help-block">Example: 10 03 1990</p>
    </fieldset>

    <fieldset>
      <legend>Do you have a Cardiff University account?</legend>
      <label id="account-yes" class="radio radio-outline">
        <input type="radio" name="account" value="yes" />
        Yes
      </label>
      <label id="account-no" class="radio radio-outline">
        <input type="radio" name="account" value="no" />
        No
      </label>

      <button id="button-continue" type="submit" class="btn btn-large btn-block btn-success hidden">Continue</button>
    </fieldset>
  </form>
</div>
