.well
  padding: $baseUnit * 2
  border: #{$baseUnit / 10} solid $colourPrimeGrey
  background-color: $colourWildSandGrey
  margin-bottom: $baseUnit * 2
  min-height: 20px
  box-shadow: inset 0 #{$baseUnit / 10} #{$baseUnit / 10} rgba($colourBlack, 0.05)

  &-small
    padding: $baseUnit * 1

  &-large
    padding: $baseUnit * 2.5

    .well-section
      +flex(1 1 100%)

      padding: $baseUnit * 2

      &:first-child
        margin-right: $baseUnit

  h1, h2, h3, h4, h5, h6
    color: $colourBlack
    margin: #{$baseUnit + 2} 0
    text-rendering: optimizeLegibility

  h2
    font-family: $boldFontFamily
    font-size: map-get($headingFontSizes, 'sm')
    line-height: map-get($headingLineHeights, 'sm')
    margin-bottom: 10px
    margin-top: 0

  .btn
    margin-bottom: 0

  p:last-child
    margin-bottom: 0

@import well-sm-up
@import well-lg-up
@import well-xl-up
