@media #{$breakpoint-md-up}
  .cookie-banner
    .btn
      &:first-child
        margin-right: $baseUnit*2

  .with-cookie-banner
    .GeckoChatWidget
      .ChatButton-custom
        bottom: $baseUnit*18 !important

      .UnreadMessages
        bottom: $baseUnit*26 !important

    #unibuddy-popcard-iframe
      bottom: $baseUnit*18 !important
