@media #{$breakpoint-lg-up}
  .cookie-banner
    padding: $baseUnit*3 0 $baseUnit

    p
      margin-bottom: $baseUnit*2

    .btn
      margin-bottom: $baseUnit*2
      
      &:last-child
        margin-bottom: $baseUnit*2

  .with-cookie-banner
    .GeckoChatWidget
      .ChatButton-custom
        bottom: $baseUnit*14 !important

      .UnreadMessages
        bottom: $baseUnit*22 !important

    #unibuddy-popcard-iframe
      bottom: $baseUnit*14 !important
