@media #{$breakpoint-sm-up}
  
  .with-cookie-banner
    .GeckoChatWidget
      .ChatButton-custom
        bottom: $baseUnit*25 !important

      .UnreadMessages
        bottom: $baseUnit*33 !important

    #unibuddy-popcard-iframe
      bottom: $baseUnit*25 !important