@media #{$breakpoint-xl-up}
  
  .with-cookie-banner
    .GeckoChatWidget
      .ChatButton-custom
        bottom: $baseUnit*12 !important

      .UnreadMessages
        bottom: $baseUnit*20 !important

    #unibuddy-popcard-iframe
      bottom: $baseUnit*12 !important
