.cookie-banner
  position: fixed
  bottom: 0
  left: 0
  grid-area: cookie-banner
  width: 100%
  padding: $baseUnit*3 $baseUnit
  background: $colourGreyDarker
  font-size: map-get($fontSizes, "normal")
  color: $colourWhite
  z-index: 1040

  .btn
    &:last-child
      margin-bottom: 0

.with-cookie-banner
  .GeckoChatWidget
    .ChatButton-custom
      bottom: $baseUnit*27 !important

    .UnreadMessages
      bottom: $baseUnit*35 !important

    .ChatContainer
      bottom: $baseUnit*16 !important

  #unibuddy-popcard-iframe
    bottom: $baseUnit*27!important

@import 'cookie-banner-sm-up'
@import 'cookie-banner-md-up'
@import 'cookie-banner-lg-up'
@import 'cookie-banner-xl-up'
