<div class="quote-homepage">
    <figure class="quote with-image">
      <blockquote class="quote-body"><p>My Cardiff University education gave me the skills I needed to find a job. I couldn’t have secured my first role without the writing and editing abilities I learned.</p></blockquote>
                      <figcaption class="quote-author">Maria Mellor (BA 2017)</figcaption>
                                          <a class="btn btn-primary btn-lg ga-event" href="https://blogs.cardiff.ac.uk/alumni/2017/11/23/maria-mellor-ba-2017/" data-action="click-button" data-category="Main homepage" data-label="1554319 - Maria Mellor (BA 2017)  - Quote">Maria's career success</a>
                      <div class="quote-image">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0006/1535604/maria-quote.png?w=250&amp;h=308&amp;fit=crop&amp;auto=format 250w,
        https://cardiff.imgix.net/__data/assets/image/0006/1535604/maria-quote.png?w=300&amp;h=370&amp;fit=crop&amp;auto=format 300w" src="https://cardiff.imgix.net/__data/assets/image/0006/1535604/maria-quote.png?w=250&amp;h=308&amp;fit=crop&amp;auto=format" sizes="(min-width: 980px) 250w, (min-width:1200px) 300w" alt="">
      </div>
    </figure>
    <svg class="opening-quote" id="opening-quote" data-name="opening-quote" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157.01 119.67"><defs><style>.cls-1{fill:#ff0000;opacity:0.5;}</style></defs><title>opening-quote</title><path class="cls-1" d="M219.67,810.86H291.5V752.69H259.17s0.44-15.44,8.83-23.83a36,36,0,0,1,23.17-10.17v-27.5s-22,.08-45.67,17.46c-27.12,19.88-26,44.71-26,44.71S219.92,810.61,219.67,810.86Z" transform="translate(-219.49 -691.19)"></path><path class="cls-1" d="M304.67,810.86h71.83V752.69H344.17s0.44-15.44,8.83-23.83a36,36,0,0,1,23.17-10.17v-27.5s-22,.08-45.67,17.46c-27.12,19.88-26,44.71-26,44.71S304.92,810.61,304.67,810.86Z" transform="translate(-219.49 -691.19)"></path></svg>
    <svg class="closing-quote" id="closing-quote" data-name="closing-quote" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157.01 119.67"><defs><style>.cls-1{fill:#d4d2ca;opacity:0.5;}</style></defs><title>closing-quote</title><path class="cls-1" d="M376.33,691.19H304.5v58.17h32.33s-0.44,15.44-8.83,23.83a36,36,0,0,1-23.17,10.17v27.5s22-.08,45.67-17.46c27.13-19.87,26-44.71,26-44.71S376.08,691.44,376.33,691.19Z" transform="translate(-219.49 -691.19)"></path><path class="cls-1" d="M291.33,691.19H219.49v58.17h32.33s-0.44,15.44-8.83,23.83a36,36,0,0,1-23.17,10.17v27.5s22-.08,45.67-17.46c27.13-19.87,26-44.71,26-44.71S291.08,691.44,291.33,691.19Z" transform="translate(-219.49 -691.19)"></path></svg>
  </div>