<figure class="quote quote-large">
  <blockquote class="quote-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.</p>
  </blockquote>
  <figcaption class="quote-author">
    <a href="#">Professor Colin Riordan<cite class="quote-source">Vice-Chancellor, Cardiff University</cite></a>
  </figcaption>
</figure>