<div class="profile profile-large profile-staff with-image vcard" aria-label="Profile information">
    <figure class="profile-image photo">
        <img class="rounded-circle" src="//placehold.it/200x200" alt="Professor Huw Barrett" srcset="">
    </figure>
    <h1 id="page-title" class="profile-title fn">Professor Huw Barrett</h1>
    <p class="profile-subtitle">Professor of Modern History, Director of Postgraduate Studies</p>
    <p class="profile-subtitle"><a href="https://www.cardiff.ac.uk/history-archaeology-religion">School of History, Archaeology and Religion </a></p>
    <p class="profile-subtitle"><a href="https://www.cardiff.ac.uk/history-archaeology-religion">School of Engineering </a></p>                                                                                                                                                                  
    <div class="row">
        <div class="col-md-6">
            <dl class="profile-contact">
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66"><title>Email</title><path d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z" transform="translate(0 -5.19)"></path></svg></dt>
                <dd><a href="mailto:barretthd@cardiff.ac.uk">barretthd@cardiff.ac.uk</a></dd>
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81"><title>Telephone</title><path d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z" transform="translate(0 -3.09)"></path></svg></dt>
                <dd><a href="tel:+44(0)2920870299">+44 (0)29 2087 0299</a></dd>
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.06 32"><title>Campuses</title><path d="M20.88,0H30V32H20.88V0Zm6.59,3.88h-4v4h4v-4Zm-12.09,4H18V32H2V7.88H4.41V4.31H5.75V7.88H9.41V5.66h6V7.88Zm-6.81,4h-4v4h4v-4Zm6.81,0h-4v4h4v-4Zm12.09,0h-4v4h4v-4Zm-18.91,8h-4v4h4v-4Zm6.81,0h-4v4h4v-4Zm12.09,0h-4v4h4v-4Z" transform="translate(-1.97)"></path></svg></dt>
                <dd class="profile-contact-location" data-toggle="tooltip" title="" data-original-title="">Communicat, 3rd Floor, Ty Dewi Sant, Heath Park Campus, Cardiff, CF14 4XN</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="profile-contact">
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><title>Comment</title><path d="M16,2A18,18,0,0,0,4.69,5.78,11.93,11.93,0,0,0,0,15a11,11,0,0,0,1.62,5.69,12.89,12.89,0,0,0,4.31,4.41A4.1,4.1,0,0,1,6,26a4.71,4.71,0,0,1-1.19,3A8.77,8.77,0,0,1,2,31.16V32a22.77,22.77,0,0,0,6-.84,13,13,0,0,0,5.53-3.31c0.41,0,.84.09,1.25,0.09S15.59,28,16,28a18,18,0,0,0,11.34-3.81A11.89,11.89,0,0,0,32,15a12,12,0,0,0-4.66-9.22A18.14,18.14,0,0,0,16,2h0Z" transform="translate(0 -2)"></path></svg></dt>
                <dd>Media commentator</dd>
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.94"><title>Users</title><path d="M10.75,25.72a0.79,0.79,0,0,0-.22.13l-0.12.09s-0.06,0-.09.06H0c0-1.72,1.78-3.34,3.81-4.59A17.57,17.57,0,0,1,9,19.16a0.48,0.48,0,0,0,.34-0.31,2.93,2.93,0,0,0,.25-1.12V17.47a2.71,2.71,0,0,1-.25-0.31q-0.28-.33-0.66-0.84a6.76,6.76,0,0,1-1.19-2.84,1.46,1.46,0,0,1-1.09-1.34,2,2,0,0,1,.44-2q0-.33-0.09-1.5A5.87,5.87,0,0,1,7,6.25C7.5,4.62,8.78,3.06,12,3.06A5.19,5.19,0,0,1,16,4.5a5.1,5.1,0,0,1,1.16,3,6.49,6.49,0,0,0-1.5.69,5.63,5.63,0,0,0-1.22,1,6.36,6.36,0,0,0-1.56,3.44,14.16,14.16,0,0,0-.09,3l-0.12.31a3.19,3.19,0,0,0-.22.72,3.82,3.82,0,0,0-.09.91,3.43,3.43,0,0,0,0,.56,4.6,4.6,0,0,0,.25,1.09,3.59,3.59,0,0,0,.5.91,2.37,2.37,0,0,0,.63.72,7.11,7.11,0,0,0,.66,1.56,7.43,7.43,0,0,0,.75,1.22c-0.72.25-1.47,0.56-2.22,0.91s-1.5.81-2.22,1.22h0ZM23,25.16a18,18,0,0,1,5.25,2.25C30.22,28.66,32,30.28,32,32H8c0-1.72,1.78-3.34,3.81-4.59A17.57,17.57,0,0,1,17,25.16a0.48,0.48,0,0,0,.34-0.31,2.93,2.93,0,0,0,.25-1.12V23.47a2.71,2.71,0,0,1-.25-0.31q-0.28-.33-0.66-0.84a6.76,6.76,0,0,1-1.19-2.84,1.46,1.46,0,0,1-1.09-1.34,2,2,0,0,1,.44-2q0-.33-0.09-1.5A5.87,5.87,0,0,1,15,12.25c0.47-1.62,1.75-3.19,5-3.19a5.3,5.3,0,0,1,3.53,1,5.45,5.45,0,0,1,1.72,4.63,14.79,14.79,0,0,0-.12,1.5,2,2,0,0,1,.44,2,1.46,1.46,0,0,1-1.09,1.34A6.07,6.07,0,0,1,24,21a9.7,9.7,0,0,1-1.34,2.13l-0.28.31v0.25s0,0.34.06,0.56a1,1,0,0,0,.53.88h0Z" transform="translate(0 -3.06)"></path></svg></dt>
                <dd>Available for postgraduate supervision</dd>
            </dl>
        </div>
    </div>
</div>