<div class="profile profile-staff vcard">
  <h1 class="profile-title fn"><a href="#"><span class="profile-title-prefix">Professor</span> Firstname Lastname <span class="profile-title-suffix"><abbr title="Commander of the Most Excellent Order of the British Empire">CBE</abbr> <abbr title="Fellow of the Royal Society">FRS</acronym></span></a></h1>
  <h2 class="profile-subtitle"><span class="profile-position">Director</span>
    <span class="comma">,</span> <a class="link-academicschool" href="#">School of Biosciences</a></h2>
</div>