<ul class="list list-profiles">
  <li class="profile profile-small profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/50x50" /></a></figure>
    <p class="profile-title fn"><a href="#">Mark Jones</a></p>
    <p class="profile-subtitle">First year <a class="link-course" href="#">Software Engineering</a></p>
  </li>
  <li class="profile profile-small profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/50x50" /></a></figure>
    <p class="profile-title fn"><a href="#">Helen Sanders</a></p>
    <p class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a></p>
  </li>
  <li class="profile profile-small profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/50x50" /></a></figure>
    <p class="profile-title fn"><a href="#">James Smith</a></p>
    <p class="profile-subtitle">Third year <a class="link-course" href="#">Archaeology</a></p>
  </li>
</ul>