<section class="hero hero-section-page">
  <div class="hero-image-wrapper">
    <img class="lazy"
      srcset="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&h=1080&auto=format&fit=crop 1920w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1600&h=900&auto=format&fit=crop 1600w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1024&h=576&auto=format&fit=crop 1024w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=768&h=432&auto=format&fit=crop 768w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=640&h=360&auto=format&fit=crop 640w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=380&h=214&auto=format&fit=crop 380w"
      data-src="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&h=1080&auto=format&fit=crop"
      sizes="100vw" class="hero-image" alt="Students walking"
      src="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&h=380&auto=format&fit=crop&q=20"
    data-sizes="100vw"/>
  </div>
</section>