<section class="hero" data-video="" aria-label="Homepage video">
  <div class="hero-image-wrapper">
    <img
      srcset="
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1920&amp;h=1080&amp;auto=format&amp;fit=crop 1920w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1600&amp;h=900&amp;auto=format&amp;fit=crop  1600w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1024&amp;h=576&amp;auto=format&amp;fit=crop  1024w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=768&amp;h=432&amp;auto=format&amp;fit=crop    768w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop    640w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=380&amp;h=214&amp;auto=format&amp;fit=crop    380w
      "
      src="https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1920&amp;h=1080&amp;auto=format&amp;fit=crop"
      sizes="100vw"
      class="hero-image"
      alt="Students exiting main building"
    />
  </div>
  <div class="hero-content-wrapper">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6">
              <h2 class="hero-title">Clearing and adjustment 2019</h2>
              <p class="hero-copy">
                Want to study at an innovative university in a city students love? We have places available for entry in
                September 2019.
              </p>
              <a
                class="btn btn-lg btn-primary text-center ga-event"
                href="https://www.cardiff.ac.uk/clearing"
                data-action="click-button"
                data-category="Main homepage"
                data-label="783879 - Clearing and adjustment 2019 - Hero"
                >Find out more</a
              >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
