<section
  class="hero"
  data-video="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&profile_id=174"
  aria-label="Homepage video"
>
  <video
    class="hero-video d-none d-lg-block"
    id="hero-video"
    loop=""
    muted=""
    poster="//cardiff.imgix.net?w=1663&amp;h=500&amp;auto=format&amp;fit=crop"
    autoplay=""
  >
    <source src="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&amp;profile_id=174" type="video/mp4" />
    <source src="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&amp;profile_id=174" type="video/mp4" />
  </video>
  <div class="hero-image-wrapper hidden-desktop">
    <img
      class="lazy"
      data-srcset="
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1920&h=1080&auto=format&fit=crop 1920w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1600&h=900&auto=format&fit=crop  1600w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1024&h=576&auto=format&fit=crop  1024w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=768&h=432&auto=format&fit=crop    768w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=640&h=360&auto=format&fit=crop    640w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=380&h=214&auto=format&fit=crop    380w
      "
      data-src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1920&h=1080&auto=format&fit=crop"
      data-sizes="100vw"
      class="hero-image"
      alt="Students walking"
    />
  </div>
  <div class="hero-content-wrapper">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6">
            <h2 class="hero-title">Welcome to a <strong>global university</strong></h2>
            <p class="hero-copy">
              With over 7,500 international students from more than 100 countries you’ll be part of a vibrant community that celebrates its diverse
              culture.
            </p>
            <a
              class="btn btn-lg btn-primary text-center ga-event"
              href="http://www.cardiff.ac.uk/study"
              data-action="click-button"
              data-category="Main homepage"
              data-label="28722 - Welcome to a <strong>global university</strong> - Hero"
              >Study with us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
