<h2>Facets</h2>
<div class="row">
  <div class="d-none d-lg-block col-lg-4">
    <form class="form-new" method="GET" action="">
      ${require('variations/facet-checkbox.html')}
      ${require('variations/facet-radio.html')}
      ${require('variations/facet-daterange.html')}
    </form>
  </div>
  <div class="col-lg-8">
    <div class="search-results">
      <form class="form-inline form-large" action="" method="GET" role="search">
        <input type="hidden" name="collection" value="website-events">
        <input name="query" id="query" title="Search query" type="search" value="" accesskey="q" placeholder="Search all events" class="form-control input-lg query search-query col-md-6">
        <button type="submit" class="btn btn-primary btn-lg d-none d-lg-block">${require-svg('search')}Search</button>
        <button type="submit" class="search-submit d-block d-lg-none">${require-svg('search')}</button>
      </form>
      ${require('variations/facet-selected.html')}
    </div>
  </div>

</div>
</div>
