<nav class="nav-global nav-homepage-primary" aria-label="Primary navigation homepage">
  <div class="navbar">
    <div class="nav-global-menu d-lg-none">
      <a href="#" class="nav-global-btn d-flex d-lg-none" id="openNavigation">
          ${require-svg('menu')} <span class="d-xs-none" id="openNavigationText">Menu</span>
      </a>
    </div>
    <div class="nav-global-logo">
      <a href="https://www.cardiff.ac.uk">
        ${require-svg('logo')} <span class="sr-only">Homepage</span>
      </a>
    </div>
    <ul class="nav nav-global-links d-none d-lg-flex">
      <li class="nav-item ">
        <a class="nav-link with-dropdown" href="/about/" aria-label="About the University">Amdanom ni</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3 col-lg-2">
              <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link nav-title">Our profile</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Our strategy</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Who we are</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Our social, economic and cultural impact</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Annual Review</a></li>
                <li class="nav-item"><a href="#" class="nav-link">History</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Facts and figures</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Rankings</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Quality marks</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">National Student Survey</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2">
              <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link nav-title">Organisation</a></li>
                <li class="nav-item"><a href="#" class="nav-link">University Executive Board</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Governance</a></li>
                <li class="nav-item"><a href="#" class="nav-link">College structure</a></li>3
                <li class="nav-item"><a href="#" class="nav-link">Professional Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Honorary Officers</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-lg-2">
              <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title nav-title-section">Honours and awards</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title nav-title-section">Honorary Fellows</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title nav-title-section">Our location</a></li>
              </ul>
            </div>
            <div class="d-none d-lg-block col-lg-4">
              <div class="nav-global-links-dropdown-highlight">
                <p class="nav-global-links-dropdown-highlight-bold"><span class="text-sm -mb-5">A leading</span><span class="text-md">university</span></p>
                <p class="text-lg">in the heart of a <br>thriving capital city</p>
                <p class="nav-global-links-dropdown-highlight-bold"><span class="text-sm -mb-5">Prifysgol</span><span class="text-md">flaenllaw</span></p>
                <p class="text-lg">yng nghanol prifddinas <br>sy’n ffynnu</p>
              </div>
            </div>
          </div>
        </nav>
        
      </li>
      <li class="nav-item">
        <a href="/study/" class="nav-link with-dropdown" aria-label="Study at Cardiff University">Astudio</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Undergraduate</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Courses</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Prospectus</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Open Days and visits</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Why study with us?</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Meet our student bloggers</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Applying</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Funding</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Tuition fees</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Parents and supporters</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Teachers and careers advisers</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Postgraduate</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Taught</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Research</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Applying </a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Funding</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Tuition fees</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Postgraduate Open Days</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Visit us</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Prospectus</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">International</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Your country</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Funding and fees</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">EU students</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">English language requirements</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">English and Foundation Programmes</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Study abroad in Cardiff</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Erasmus+</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">International Summer Schools</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Visit us</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Brexit for international students</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Tier 4 visa pilot</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Student life</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Accommodation</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Part-time courses for adults</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Continuing professional development</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <div class="nav-global-links-dropdown-highlight"> 
                  <p class="nav-global-links-dropdown-highlight-bold -mb-15"><span class="text-xs">Over</span></p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-xxl">95</span><span class="text-lg">%</span></p>
                  <p class="text-lg">of our undergraduates enter employment or further study shortly after graduating</p>
                  <p class="mt-40 text-xs">(HESA 2016/17)</p> 
                  <p class="nav-global-links-dropdown-highlight-bold -mb-15"><span class="text-xs">Mae dros</span></p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-xxl">95</span><span class="text-lg">%</span></p>
                  <p class="text-lg">o’n hisraddedigion mewn <br>cyflogaeth neu astudiaeth <br>bellach yn fuan ar ôl graddio</p>
                  <p class="mt-40 text-xs">(HESA 2016/17)</p>
                </div>
              </div>
            </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="/research/" class="nav-link with-dropdown" aria-label="Research at the University">Ymchwil</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Explore</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Research topics</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Find a research unit</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Academic publications</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Research Institutes</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Research facilities</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link nav-title">Innovation and impact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Research impact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Honours and accolades</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Strategic alliances</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Quality and performance</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Our research environment</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Supporting researchers</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Working collaboratively</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Integrity and ethics</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Funding and awards</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">News and features</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <div class="nav-global-links-dropdown-highlight">
  
                  <p class="nav-global-links-dropdown-highlight-bold mb-10"><span class="text-lg">Top 5</span></p>
                  <p class="text-lg mt-10">UK University for <br>research quality</p>
                  <p class="mt-40 text-xs">(REF 2014)</p>
                     <p class="nav-global-links-dropdown-highlight-bold"><span class="text-sm">Ymhlith y 5</span></p>
                    <p class="text-lg"><strong></strong>prifysgol orau am ansawdd ein hymchwil</p>
                    <p class="mt-40 text-xs">(REF 2014)</p>
                 
                </div>
              </div>
            </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="/international/" class="nav-link with-dropdown" aria-label="Our international profile">Rhyngwladol</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">International partnerships</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Xiamen University</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">KU Leuven</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Unicamp</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">University of Namibia</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">University of Bremen</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Exchange partners</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link nav-title">International research</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Meet our people</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block offset-lg-2 col-md-4">
                <div class="nav-global-links-dropdown-highlight">
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-xs">Welcoming and</span><span class="text-md">ambitious </span></p>
                  <p class="text-lg">we are truly a global <br>university</p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-xs">Croesawgar ac</span><span class="text-sm">uchelgeisiol </span></p>
                  <p class="text-lg">rydym yn brifysgol <br>fyd-eang</p>
                </div>
              </div>
            </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="/innovation/" class="nav-link with-dropdown" aria-label="Innovation at the University">Arloesedd</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Our vision</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Partners</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Students</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Staff</a></li>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Our innovators</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Innovation Campus</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Our partnerships</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">News</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block offset-lg-4 col-lg-4">
                <div class="nav-global-links-dropdown-highlight">
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-md">£</span><span class="text-xl">600</span><span class="text-md">m</span></p>
                  <p class="text-lg">invested in our biggest <br>campus upgrade for a <br>generation</p>
                  <p class="text-lg">Buddsoddwyd</p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-md">£</span><span class="text-xl">600</span><span class="text-md">m</span></p>
                  <p class="text-lg">yn y gwaith uwchraddio <br>mwyaf ar ein campws ers <br>cenhedlaeth</p>
                </div>
              </div>
            </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="/business/" class="nav-link with-dropdown" aria-label="Business with the University">Busnes</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Why work with us</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Who we work with</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">For suppliers</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Strategic directions</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Offer a discount to our staff</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link nav-title">Use our expertise</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Business consultancy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Funded opportunities</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Licence our research findings</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Knowledge exchange</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Advertise a civic engagement opportunity</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Develop your workforce</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Professional education</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">IT skills training and certification</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Recruit our graduates</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Knowledge Transfer Partnerships</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">KESS 2</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Facilities</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Networking and events</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Business news</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <div class="nav-global-links-dropdown-highlight">
                  <p class="text-lg">Working to make</p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-sm">a better</span> <span class="text-lg -mt-15">future</span></p>
                  <p class="text-lg">for Wales and the world</p>
                </div>
              </div>
            </div>
        </nav>
      </li>
    </ul>
    <div class="nav-global-context ml-auto">
      <a href="/cy" lang="cy" class="" aria-label="Welsh version of this page"><span class="d-xs-none d-md-none d-lg-inline-block">Cymraeg</span> ${require-svg('welsh')}</a>
    </div>
    <div class="nav-global-search d-lg-none">
      <a href="/search" data-toggle="collapse" data-target="#search-global" aria-expanded="false" aria-controls="search-global">${require-svg('search')}</a>
    </div>
  </div>
</nav>
