<div id="cu-cookie-alert" class="cookie-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-6">
        <p class="text-white">Rydym yn defnyddio cwcis i gasglu gwybodaeth am ba mor dda mae ein gwefan a'n hysbysebu yn gweithio.</p>
      </div>
      <div class="col-lg-7 col-xl-6 text-lg-right">
        <a href="#" class="btn btn-success" id="accept-cookie-message">Caniatáu pob cwci</a>
        <a href="https://www.cardiff.ac.uk/help/cookie-opt-in" class="btn btn-success">Newid gosodiadau cwcis</a>
      </div>
    </div>
  </div>
</div>