@media #{$breakpoint-md-up}
  .cards
    .card
      flex-basis: 60%

  .card
    .btn
      display: inline-flex

    .card
      &__body
        padding: ($baseUnit * 2)

      &__footer
        padding: 0 $baseUnit*2 $baseUnit*3
