
@media (min-width: 1400px)
  main
    &:not(.r-standard)
      .cards
        .controls-item
          &-prev
            left: -$cardsLgGutters
            background-image: linear-gradient(to left, $colourTransparent, $colourWhite 90%)

          &-next
            right: -$cardsLgGutters
            background-image: linear-gradient(to right, $colourTransparent, $colourWhite 90%)

        &__items
          width: calc(100% + #{$cardsLgGutters*2})
          margin-left: -$cardsLgGutters
          padding-left: 0

          .card
            &--first,
            &:first-child
              margin-left: $cardsLgGutters

            &--last,
            &:last-child
              position: relative

              &::after
                position: absolute
                content: ''
                right: -$cardsLgGutters
                width: $cardsLgGutters
                height: 100%
