.cards
  position: relative
  --offset: calc( ((100vw - 100%) / 2) )

  &__items
    @extend .x-scroll
    @extend .snap

    display: flex
    width: calc(100% + (var(--offset) * 2) - (var(--scrollbar-width) + 1px))
    margin-left: calc(var(--offset) * -1)
    padding-left: var(--offset)
    overflow-y: hidden
    position: relative

    .card
      @extend .clearfix

      &--last,
      &:last-child
        position: relative

        &::after
          position: absolute
          content: ''
          right: -20px
          width: 20px
          height: 100%

  .controls-item
    display: none

  .card
    display: flex
    margin-right: $baseUnit*2
    flex-grow: 0
    flex-shrink: 0
    max-width: 100%

.card
  margin-bottom: $baseUnit*2
  box-shadow: 0 0 $baseUnit 0 rgba(0,0,0,0.15)
  border: none

  &__header
    position: sticky
    top: 0
    border-bottom: $baseUnit*0.1 solid $colourSilver

  img
    width: 100%

  .btn
    align-items: center
    display: inline-flex
    max-width: fit-content
    text-align: left

  &--flat
    box-shadow: none

  &__category
    @extend .text-red
    @extend .f-fg-med

    margin-bottom: $baseUnit*0.5
    font-size: map-get($font15, 'size')
    line-height: map-get($font15, 'line-height')

  &__title
    @extend .f-fg-med

    font-size: map-get($font22, 'size')
    line-height: map-get($font22, 'line-height')

    + .card__subtitle
      margin: -#{$card-spacer-y} 0 #{$card-spacer-y}

  &__subtitle
    font-size: map-get($font15, 'size')
    line-height: map-get($font15, 'line-height')
    color: $colourGrey
    display: flex

  .card
    &__body
      display: block
      width: 100%
      padding: $baseUnit*2
      margin-bottom: $baseUnit*2

      .list
        li
          &:last-child
            margin-bottom: 0

          p
            margin-bottom: 0

        &:last-child
          margin-bottom: 0

      p:last-child
        margin-bottom: 0

    &__footer
      padding: $baseUnit*2
      align-self: baseline
      width: 100%

      .list-icons
        padding-bottom: 0
        margin-bottom: 0

        li
          margin-right: 0

          .icon
            margin: 0 $baseUnit $baseUnit*0.9 0
            +square($iconSize20)

      p:last-child
        margin-bottom: 0

      .text-sm
        margin-bottom: 0

@import 'card-md-up'
@import 'card-lg-up'
@import 'card-xl-up'
