@media #{$breakpoint-lg-up}
  .cards
    position: relative

    &__items
      padding-left: $cardsLgGutters

      .card
        &--last,
        &:last-child
          position: relative

          &::after
            position: absolute
            content: ''
            right: -$cardsLgGutters
            width: $cardsLgGutters
            height: 100%

      &.d-none ~ .controls-item
        display: none

    .controls-item
      position: absolute
      top: 0

      &-next,
      &-prev
        display: flex
        align-items: center
        height: 100%
        width: 100px

        a
          display: none

      &-prev
        left: calc((var(--offset) - (var(--scrollbar-width) / 2)) * -1)

        a
          margin-right: 20px
          margin-left: auto

      &-next
        right: calc((var(--offset) - (var(--scrollbar-width) / 2)) * -1)

        a
          margin-left: 20px

    .card
      flex-basis: 350px
