<figure class="video">
  <div class="video-body">
    <iframe
      title="Some video title"
      src="https://www.youtube.com/embed/6x82O2ngg6A?enablejsapi=1&autoplay=0&origin=http://localhost"
      allow="accelerometer; encrypted-media; gyroscope"
      allowfullscreen
    ></iframe>
  </div>
</figure>
