<a href="https://www.youtube.com/watch?v=ub7StpyE-Vk"class="video video--lazy" data-youtubeid="ub7StpyE-Vk">
  <img class="lazy" src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format" data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text">  </a>
</a>