$offset: $baseUnit * 3
$linkWidth: 6.875rem
$marginLeft: $baseUnit * 2

@media #{$breakpoint-lg-up}
  .back-to-top
    margin-top: 0

    &.position-sticky
      bottom: $baseUnit * 4
      margin-top: -$documentPaddingBottom
      transform: translateY($baseUnit * 6.5)

      &.back-to-top--loaded
        transition: transform $shortAnimationDuration $standardAnimationCubic, opacity $shortAnimationDuration $standardAnimationCubic

        &.active
          transform: translateY(-$baseUnit * 2.4)
          opacity: 1
