$back-to-top-button-height: $baseUnit * 3
$back-to-top-button-margin: $baseUnit * 3

.back-to-top
  margin-top: calc(-1 * (#{$baseUnit * 10} + #{1.18575rem})
  opacity: 1

  &--loaded
    opacity: 0

    &.active
      opacity: 1

  a
    display: inline-flex
    align-items: center

  .icon
    margin-right: $baseUnit
    fill: currentColor

@import back-to-top-lg-up
