.component-example
  position: relative
  margin: 0 0 $baseUnit*1.5 0
  padding: $baseUnit*3.9 $baseUnit*1.9 $baseUnit*1.4
  background-color: $colourWhite
  border: $baseUnit*0.1 solid $colourPrimeGrey
  border-radius: $baseUnit*0.4

  &:after
    content: "Example"
    position: absolute
    top: 0
    left: 0

    padding: $baseUnit*0.3 $baseUnit*0.7
    background-color: $colourWildSandGrey
    border: $baseUnit*0.1 solid $colourPrimeGrey
    color: $colourTintPrime
    border-radius: $baseUnit*0.4 0 $baseUnit*0.4 0
    font-size: map-get($fontSizes, 'xs')
    font-weight: bold

.show-grid [class*="span"]
  background-color: $colourGreyLighter
  text-align: center
  border-radius: $baseUnit*0.3
  min-height: $baseUnit*4
  line-height: $baseUnit*4

.component-example + .prettyprint
  margin-top: -#{ $baseUnit*2}
  padding-top: $baseUnit*1.5

.show-grid
  margin-top: $baseUnit*1
  margin-bottom: $baseUnit*2
