<h2>Pills</h2>
<ul class="nav nav-pills" id="myTab" data-action="filter" role="tablist">
  <li class="nav-item active">
    <a class="nav-link " href="#" data-target="all" aria-selected="true">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="home-tab" href="#" data-target=".undergraduate" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" href="#" data-target=".postgraduate" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" href="#" data-target=".international" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="no-data-target-pill" href="#" role="tab" aria-controls="contact" aria-selected="false">No data-target</a>
  </li>
</ul>
<div class="filter-content">
  <h2 class="filter-content-title">Title</h2>
  <div class="filter-pane undergraduate" role="tabpanel" aria-labelledby="home-tab">>
    Undergraduate content
  </div>
  <div class="filter-pane postgraduate" role="tabpanel" aria-labelledby="profile-tab">
    Postgraduate content
  </div>
  <div class="filter-pane international" role="tabpanel" aria-labelledby="contact-tab">
    International content
  </div>
  <div class="filter-pane undergraduate" role="tabpanel" aria-labelledby="home-tab">
    Undergraduate content
  </div>
  <div class="filter-pane international" role="tabpanel" aria-labelledby="contact-tab">
    International content
  </div>
  <div class="filter-pane postgraduate" role="tabpanel" aria-labelledby="profile-tab">
    Postgraduate content
  </div>
</div>