<ul class="event-schedule">
  <li class="event-schedule__item" data-delay="180" data-timestamp-start="1605174180625"
    data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      ${require-svg('dropbox')}
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-important my-5">Live now</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      ${require-svg('dropbox')}
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-inverse my-5">Mae'r digwyddiad hwn ar ben</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      ${require-svg('dropbox')}
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-info my-5">Cofrestru ar agor</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      ${require-svg('dropbox')}
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-important my-5">Yn fyw nawr</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      ${require-svg('dropbox')}
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-info my-5">Ar gael cyn bo hir</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
</ul>