<ul class="event-schedule event-schedule--horizontal">
  <li class="event-schedule__item" data-registration-open="true" data-timestamp-start="1609459200000"
    data-timestamp-end="1609459200000">
    <a class="event-schedule__item__body" href="#" title="Twitter">
      <div class="event-schedule__item__icon">${require-svg('twitter')}</div>
      <div>
        <span class="d-block event-schedule__item__title">Multiline text goes here, more text here</span>
        <span class="badge badge--outline badge--lg badge-important mt-10">Live now</span>
      </div>
    </a>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642">
    <a class="event-schedule__item__body" href="#" title="Twitter">
      <div class="event-schedule__item__icon">${require-svg('twitter')}</div>
      <div>
        <span class="d-block event-schedule__item__title">Multiline text goes here, more text here</span>
        <span class="badge badge--outline badge--lg badge-info mt-10">Coming soon</span>
      </div>
    </a>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642">
    <a class="event-schedule__item__body" href="#" title="Twitter">
      <div class="event-schedule__item__icon">${require-svg('twitter')}</div>
      <div>
        <span class="d-block event-schedule__item__title">Multiline text goes here, more text here</span>
        <span class="badge badge--outline badge--lg badge-info mt-10">Registration open</span>
      </div>
    </a>
  </li>
</ul>
<ul class="event-schedule event-schedule--horizontal">
  <li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642">
    <div class="event-schedule__item__body">
      <div class="event-schedule__item__icon">${require-svg('twitter')}</div>
      <div>
        <span class="d-block event-schedule__item__title">Multiline text goes here, more text here</span>
        <span class="badge badge--outline badge--lg badge-inverse mt-10">Event ended</span>
      </div>
    </div>
  </li>
</ul>