/* Import fonts
+font-face($FranklinGothicBook, 'FranklinGothic-Book')
+font-face($FranklinGothicBookIt, 'FranklinGothic-BookIt')
+font-face($FranklinGothicDemi, 'FranklinGothic-Demi')
+font-face($FranklinGothicMed, 'FranklinGothic-Med')
+font-face($FranklinGothicMedIt, 'FranklinGothic-MedIt')
+font-face($FranklinGothicURW, 'FranklinGothicURW-Lig')

body
  line-height: map-get($lineHeights, 'normal')

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol
  margin-top: 0
  margin-bottom: #{$baseUnit * 2.4}
  text-shadow: none

html,
h1,
h2,
h3,
h4,
h5,
h6
  -webkit-font-smoothing: antialiased

h1
  font: normal $headingFontSizeXXXL $boldFontFamily

.page-title
  font: normal $headingFontSizeXXL $boldFontFamily

h2
  font: normal $headingFontSizeXL $brandFamily

h3
  font: normal $headingFontSizeLG $brandFamily

h4
  font: normal $headingFontSize $boldFontFamily

h5
  font: normal $headingFontSizeSM $brandFamily

h6
  font: normal normal $headingFontSizeXS $brandFamily

h1, h2
  & + .lead
    margin-bottom: $baseUnit * 3

/* Link styling
.content,
.footer-local
  h1, h2, h3, h4, h5, h6
    a
      color: $colourLink
      text-decoration: underline

      &:hover
        color: $colourLinkHover

  p, li, td
    a
      text-decoration: underline

      &.btn
        text-decoration: none

a
  text-decoration: none

  &:hover
    color: $colourLinkHover

  em
    font-family: $sansFontFamily
    text-decoration: none

i,
em
  font-family: $italicFamily
  font-style: normal

b,
strong
  font-family: $boldFontFamily

.brand
  font-family: $FranklinGothicMed, $sansFontFamily

.text-white
  color: $colourWhite

.btn-italic
  font-family: $sansFontFamily

.page-header
  border-bottom: 0 solid $colourGreyLighter
  margin: 0
  padding: 0

  h1
    margin: #{$baseUnit * 3} 0 #{$baseUnit * 4} 0
    padding: 0

  h2
    margin: 0 0 $baseUnit 0

  h3
    border-bottom: 1px solid #d0d0d0
    padding-bottom: #{$baseUnit * 2}

.lead
  line-height: map-get($headingLineHeights, 'normal')
  font-size: map-get($headingFontSizes, 'normal')

.lead-small
  font-size: map-get($headingFontSizes, 'smer')
  line-height: map-get($headingLineHeights, 'smaller')

.media
  .caption
    font-family: $brandFamily
    background-color: $colourGreyLighter
    padding: $baseUnit

  em
    font-family: $brandFamily

.smaller
  font-size: smaller

  > *
    line-height: 16px

.small
  h2
    font-family: $boldFontFamily
    font-size: map-get($font19, 'size')
    line-height: map-get($font19, 'line-height')
    margin-top: $baseUnit*3
    margin-bottom: $baseUnit

  h3
    font-family: $boldFontFamily
    font-size: map-get($font17, 'size')
    line-height: map-get($font17, 'line-height')
    margin-top: $baseUnit*2
    margin-bottom: $baseUnit/2

  h4
    font-family: $boldFontFamily
    font-size: map-get($font15, 'size')
    line-height: map-get($font15, 'line-height')
    margin-top: $baseUnit*2
    margin-bottom: $baseUnit/2

  p, li 
    line-height: map-get($lineHeights, 'sm')

  p
    margin-bottom: $baseUnit/2

dl
  dt
    dfn
      font-style: normal

  dd
    margin-bottom: #{$baseUnit / 2}
    font-style: normal

abbr[title],
acronym[title]
  cursor: help
  border-bottom: 1px dotted $colourTintLight

.hidden-text
  display: none
  font: 0 / 0

h1, h2, h3, h4, h5, h6
  color: $colourGreyDarker

  a
    color: $colourGreyDarker

.page-parent
  @extend h1

  color: $colourRed

  &.sub-section
    display: none
    visibility: hidden

.page-section-heading
  text-align: center
  margin-bottom: $baseUnit * 4

  &:after
    content: ''
    display: block
    margin: ($baseUnit * 2) auto 0
    width: 25px
    height: 5px
    background-color: $colourRed

@media #{$breakpoint-lg-up}
  .page-parent
    &.sub-section
      display: inline-block
      visibility: visible
      font-size: map-get($headingFontSizes, 'xxxl')
      line-height: map-get($headingLineHeights, 'xxxl')
      margin-bottom: $baseUnit * 2.4

      &:hover
        text-decoration: none
        color: $colourRed

      &:focus
        color: $colourRed
