@media #{$breakpoint-md-up}
  .hero
    overflow: hidden
    height: 432px

    &-section-page
      display: block
      visibility: visible
      height: 380px
      margin-top: -$baseUnit*0.1
    
    &-image-wrapper      
      top: 50%
      transform: translateY(-50%)
      margin: 0px

    &-content-wrapper
      position: absolute
      top: calc(50% - 15px)
      left: 50%
      width: map-get($container-max-widths, 'xl')
      text-align: left
      transform: translate(-50%, -50%)
      background: none

      .hero-content
        background: none

        .hero-title
          color: $colourWhite
          margin-bottom: $baseUnit*2
          text-shadow: 0 0 ($baseUnit*1.5) rgba($colourBlack, 0.75)

        .hero-copy
          color: $colourWhite
          margin-bottom: ($baseUnit*3)
          text-shadow: 0 0 $baseUnit rgba($colourBlack, 0.9)