@media #{$breakpoint-lg-up}
  .hero
    &-content-wrapper
      .hero-content
        .hero-title
          font-size: 70px
          line-height: 73px

    &-video
      position: relative
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
      height: auto