.hero
  position: relative
  height: auto
  overflow: visible

  .hero-video
    display: none

  &-content-wrapper
    position: relative
    background-color: $colourWhite
    margin-bottom: $baseUnit*4
    width: 100%
    transform: translate(0, 0)
    left: 0
    top: 0

    .hero-content
      background-color: $colourWhite
      text-align: left
      position: relative
      top: 0
      left: 0
      transform: translateY(0)
      width: 100%

    .hero-title
      color: $colourBlack
      margin-top: ($baseUnit*2)
      text-align: left
      word-wrap: break-word
      overflow-wrap: break-word
      text-shadow: none
      font: normal normal 55px / 58px #{$brandFamily}
      margin-bottom: $baseUnit*2
      padding: 0

      strong
        font-family: $FranklinGothicDemi
        font-weight: norma

      span
        font-size: 36px
        line-height: 40px
        display: block

    .hero-copy
      color: $colourBlack
      text-align: left
      text-shadow: none
      font-size: map-get($headingFontSizes, 'normal')
      line-height: map-get($headingLineHeights, 'lg')

  &-image-wrapper
    transform: translateY(0)
    position: relative
    top: 0
    margin-left: -$baseUnit
    margin-right: -$baseUnit

    img
      width: 100%

  &-section-page
    grid-area: hero-section
    display: none
    visibility: hidden

@import 'hero-xs-up'
@import 'hero-md-up'
@import 'hero-lg-up'