<div role="navigation" aria-label="skip-content">
  <a class="skip-content" href="#page-title">Skip to content</a>
</div>
${require('../nav-secondary/nav-secondary.html')} ${require('../search-global/search-global.html')} ${require('../nav-global/nav-global.html')}
${require('../nav-mobile/nav-mobile.html')} ${require('../breadcrumb/variations/breadcrumb.html')}
