<div id="content">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h2>Image</h2>
                    ${require('variations/image.html')}
                    <h3>Image with caption</h3>
                    ${require('variations/image-caption.html')}
                    <h3>LAzy</h3>

                    ${require('variations/image-lazy.html')}

                </div>
            </div>
        </div>
    </div>
</div>



