<div class="progress-set" data-type="time-spent">
  <select class="progress-select" aria-label="Select Learning Year" style="display: inline-block;"
    ><option value="1">Year 1</option
    ><option value="2">Year 2</option
    ><option value="3">Year 3</option></select
  >
  <div class="progress-group" data-year="1">
    <h3 style="display: none;">Year 1</h3>
    <div class="progress-content-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress"><div class="bar bar-1" style="width: 22%;"></div></div>
      <p class="progress-percent">22%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress"><div class="bar bar-2" style="width: 78%;"></div></div>
      <p class="progress-percent">78%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress"><div class="bar bar-3" style="width: 0%;"></div></div>
      <p class="progress-percent">0%</p>
    </div>
  </div>
  <div class="progress-group" data-year="2" style="display: none;">
    <h3 style="display: none;">Year 2</h3>
    <div class="progress-content-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress"><div class="bar bar-1" style="width: 24%;"></div></div>
      <p class="progress-percent">24%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress"><div class="bar bar-2" style="width: 76%;"></div></div>
      <p class="progress-percent">76%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress"><div class="bar bar-3" style="width: 0%;"></div></div>
      <p class="progress-percent">0%</p>
    </div>
  </div>
  <div class="progress-group" data-year="3" style="display: none;">
    <h3 style="display: none;">Year 3</h3>
    <div class="progress-content-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress"><div class="bar bar-1" style="width: 22%;"></div></div>
      <p class="progress-percent">22%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress"><div class="bar bar-2" style="width: 78%;"></div></div>
      <p class="progress-percent">78%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress"><div class="bar bar-3" style="width: 0%;"></div></div>
      <p class="progress-percent">0%</p>
    </div>
  </div>
</div>
