.notice
  color: $colourGreyDarker
  border-left: solid 4px $colourSilver
  position: relative
  padding: $alert-padding-y $alert-padding-x
  margin-bottom: $alert-margin-bottom

  p, ul
    margin-bottom: 0

  strong
    font-family: $boldFontFamily
    font-weight: normal

    a
      text-decoration: underline

      &:visited,
      &:active
        text-decoration: none

      &:hover
        text-decoration: underline

  .notice-title, h1, h2, h3, h4, h5, h6
    display: block
    font-family: $brandFamily
    font-size: map-get($font24, 'size')
    line-height: map-get($font24, 'line-height')
    margin-bottom: $baseUnit
