<div class="accordion accordion-large" id="clearing-vacancies">
  <div class="accordion-section">
    <div class="accordion-section-header">
      <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#vacancy-1">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
        </svg> Accounting(BSc)
        <span class="accordion-section-header-supplement float-right">N400</span>
      </a>
    </div>
    <div id="vacancy-1" class="accordion-section-body in collapse" style="height: auto;">
      <div class="accordion-inner">
        <div class="row">
          <div class="col-md-8">
            <figure class="image pull-right">
              <a href="//www.cardiff.ac.uk/clearing/vacancies#image-popover-1" data-toggle="modal">
                <img class="" alt="Image alt text " src="//placehold.it/270x150">
              </a>
            </figure>
            <div id="image-popover-1" class="modal modal-image hide fade" tabindex="-1" role="dialog"
              aria-hidden="true">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                  class="icon-close icon-small"></span></button>
              <div class="modal-body">
                <figure class="image">
                  <img src="//placehold.it/270x150" alt="Image alt text">
                </figure>
              </div>
            </div>
            <p>You will benefit from teaching of the highest standard delivered by leading international experts,
              whether pioneering</p>
          </div>
          <div class="col-md-4">
            <div class="box box-inverse">
              <header class="box-header">
                <h1 class="box-title">About this course</h1>
              </header>
              <div class="box-body">
                <ul class="list">
                  <li>100 % satisfied with the quality of the course (UNISTATS)</li>
                </ul>

              </div>
              <footer class="box-footer">
                <a class="btn btn-success btn-block btn-large"
                  href="http://www.cardiff.ac.uk/study/undergraduate/courses/course/accounting-bsc">Full course
                  details</a>
              </footer>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>