<div class="  accordion-body squiz-bodycopy" desc="MET898 Counselling Skills for Genetic Healthcare"
  id="met898_counselling_skills_for_genetic_healthcare_792128">
  <p>The course is designed to enable development of the student&rsquo;s counselling skills through providing or
    strengthening the theoretical underpinnings to their counselling and through extensive practical work. Students will
    develop competence to support service users through periods of loss, when making an adjustment to the genetic
    condition or their genetic status, or when making life decisions related to the genetic condition.</p>
  <h2>Dates</h2>
  <p>8 March - 11 March 2021 (This course will only run if the required numbers are met.)</p>
  <h2>Who is it for?</h2>
  <p>This Masters-level module is aimed at practitioners who work with individuals or families who have or are at risk
    of a genetic condition, in any setting. It is suitable for those working as genetic counsellors, for other health
    professionals working with individuals or families affected by a genetic condition (e.g. haemophilia,
    haemoglobinopathy, familial cancer, inherited cardiac conditions) and for professionals offering screening for
    genetic conditions</p>
  <h2>What will I learn?</h2>
  <p>Students will develop competence to support service users through periods of loss, when making an adjustment to the
    genetic condition or their genetic status, or when making life decisions related to the genetic
    condition.&nbsp;&nbsp;At the end of the course, students will be able to:</p>
  <h3>Knowledge and understanding</h3>
  <div>
    <ul>
      <li>Demonstrate understanding of counselling theory in relation to genetic healthcare.</li>
      <li>Understand the use of counselling techniques in relation to genetic healthcare.</li>
      <li>Understand ethical principles relevant to genetic healthcare.</li>
    </ul>
    <h3>Cognitive/intellectual skills</h3>
    <ul>
      <li>Integrate ethical principles into counselling practice.</li>
      <li>Evaluate and act on situations in which referral to another health practitioner may be indicated.</li>
      <li>Apply an awareness of the impact of his or her own personal or professional issues on the counselling
        relationship.</li>
      <li>Utilise relevant counselling theories in the practice of counselling in a genetic context.</li>
    </ul>
    <h3>Practical skills</h3>
    <ul>
      <li>Use a range of skills and competences to conduct a counselling consultation in a safe and appropriate manner.
      </li>
      <li>Engage constructively in peer supervision.</li>
    </ul>
  </div>
  <h2>What will it cover?</h2>
  <p>The course provides or strengthens the theoretical underpinnings to the student&rsquo;s counselling and includes
    extensive practical work to develop counselling skills.&nbsp;&nbsp;Students will practise and develop a number of
    skills, particularly practical counselling and communication techniques.</p>
  <p>This module will be delivered face-to-face in one four-day residential teaching block. The teaching sessions
    actively involve participants throughout, encouraging engagement, contribution and reflection from students and
    interaction within the group.&nbsp;&nbsp;The teaching sessions will comprise lectures, group discussion,
    experiential exercises and skills practice involving role play and case discussion. The style of delivery
    significantly contributes to the development of practical skills and enhances opportunities for shared learning,
    also contributing to a strong group identity which facilitates learning in this context. A strong, supportive
    environment also creates an atmosphere in which personal and professional reflection is nurtured alongside
    development of the participants&rsquo; skills base and theoretical understanding.</p>
  <p>This is a Cardiff University credit-bearing module.&nbsp;&nbsp;The assessments will be based around your clinical
    practice and you will also be asked to contribute examples from practice during the course when we are discussing
    relevant topics, for example, ethical issues.&nbsp;&nbsp;The methods of assessment are consistent with the Genetic
    Counsellor Registration Board portfolio requirements.</p>
  <p>Students may opt to be assessed for accreditation of 20 or 30 credits at Level 7 or, if they wish, complete the
    course without undergoing assessment and receive a Certificate of Attendance. Students should inform the course
    tutor which academic option that they wish to pursue before the start of the module.</p>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET899 Counselling Skills for Genetic Healthcare (30 credits)"
  id="met899_counselling_skills_for_genetic_healthcare_30_credits_792173">
  <p>The course is designed to enable development of the student&rsquo;s counselling skills through providing or
    strengthening the theoretical underpinnings to their counselling and through extensive practical work. Students will
    develop competence to support service users through periods of loss, when making an adjustment to the genetic
    condition or their genetic status, or when making life decisions related to the genetic condition.</p>
  <h2>Dates</h2>
  <p>8 March - 11 March 2021 (This course will only run if the required numbers are met.)</p>
  <h2>Who is it for?</h2>
  <p>This Masters-level module is aimed at practitioners who work with individuals or families who have or are at risk
    of a genetic condition, in any setting. It is suitable for those working as genetic counsellors, for other health
    professionals working with individuals or families affected by a genetic condition (e.g. haemophilia,
    haemoglobinopathy, familial cancer, inherited cardiac conditions) and for professionals offering screening for
    genetic conditions.</p>
  <h2>What will I learn?</h2>
  <p>Students will develop competence to support service users through periods of loss, when making an adjustment to the
    genetic condition or their genetic status or when making life decisions related to the genetic
    condition.&nbsp;&nbsp;At the end of the course, students will be able to:</p>
  <h3>Knowledge and understanding</h3>
  <ul>
    <li>Demonstrate understanding of counselling theory in relation to genetic healthcare.</li>
    <li>Understand the use of counselling techniques in relation to genetic healthcare.</li>
    <li>Understand ethical principles relevant to genetic healthcare.</li>
  </ul>
  <h3>Cognitive/intellectual skills</h3>
  <ul>
    <li>Synthesise evidence regarding the practice of genetic counselling to inform best practice</li>
    <li>Integrate ethical principles into counselling practice.</li>
    <li>Evaluate and act on situations in which referral to another health practitioner may be indicated.</li>
    <li>Apply an awareness of the impact of his or her own personal or professional issues on the counselling
      relationship.</li>
    <li>Utilise relevant counselling theories in the practice of counselling in a genetic context.</li>
  </ul>
  <h3>Practical skills</h3>
  <ul>
    <li>Use a range of skills and competences to conduct a counselling consultation in a safe and appropriate manner.
    </li>
    <li>Engage constructively in peer supervision.</li>
  </ul>
  <h2>What will it cover?</h2>
  <p>The course provides or strengthens the theoretical underpinnings to the student&rsquo;s counselling and includes
    extensive practical work to develop counselling skills. Students will practise and develop a number of skills,
    particularly practical counselling and communication techniques.</p>
  <p><strong> </strong></p>
  <p>This module will be delivered face-to-face in one four-day residential teaching block. The teaching sessions
    actively involve participants throughout, encouraging engagement, contribution and reflection from students and
    interaction within the group. The teaching sessions will comprise lectures, group discussion, experiential exercises
    and skills practice involving role play and case discussion. The style of delivery significantly contributes to the
    development of practical skills and enhances opportunities for shared learning, also contributing to a strong group
    identity which facilitates learning in this context. A strong, supportive environment also creates an atmosphere in
    which personal and professional reflection is nurtured alongside development of the participants&rsquo; skills base
    and theoretical understanding.</p>
  <p>This is a Cardiff University credit-bearing module. The assessments will be based around your clinical practice and
    you will also be asked to contribute examples from practice during the course when we are discussing relevant
    topics, for example, ethical issues. The methods of assessment are consistent with the Genetic Counsellor
    Registration Board portfolio requirements.</p>
  <p>Students may opt to be assessed for accreditation of 20 or 30 credits at Level 7 or, if they wish, complete the
    course without undergoing assessment and receive a Certificate of Attendance. Students should inform the course
    tutor which academic option that they wish to pursue before the start of the module.</p>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET821 Introduction to Healthcare"
  id="met821_introduction_to_healthcare_926780">
  <p>This module is also available as part of the <a
      href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/genetic-and-genomic-counselling-msc">MSc
      in Genetic and Genomic Counselling</a>.</p>
  <p>The overall aim of this introductory module is to provide all students with a broad knowledge and understanding of
    healthcare-related science (pharmacology, therapeutics, physics, epidemiology), contextualised to the practice of
    genetic and genomic counselling. The module provides the key concepts that underpin the organisation, structure and
    function of the body and psychosocial aspects of health and disease. Principles of patient care-centred, patient
    safety, service delivery, research and innovation will also be introduced. A key focus of this module is
    professional practice, including critical review of frameworks that underpin professional practice and quality
    improvement, enabling students to gain the knowledge, skills, experience and tools to develop, improve and maintain
    high standards of patient care.</p>
  <h2>Dates</h2>
  <p>12 October 2020 - 25 March 2021</p>
  <h2>Who is it for?</h2>
  <p>The module is suitable for those working in clinical healthcare, who wish to learn more about genetics and
    genomics, or who are considering a career in genetic counselling</p>
  <h2>What will I learn?</h2>
  <p>In addition to theoretical and subject-specific skill-sets that are taught as part of this module, this module also
    emphasises development of translational skills that enhance employability. These include:</p>
  <ul type="disc">
    <li>Enhancing self-directed study skills</li>
    <li>Developing good scientific writing, presentation and critical evaluation skills</li>
    <li>Populating personal development portfolios with relevant and professionally recognised materials</li>
  </ul>
  <p>At the end of the module, students will be able to:</p>
  <h3>Scientific Principles underpinning genetic counselling practice</h3>
  <ol type="1" start="1">
    <li>Describe the cellular, tissue and system&rsquo;s responses to a range of genetic diseases</li>
    <li>Explain the main principles and core concepts of the sociology of health and illness and the relevance of these
      to clinical genetics practice</li>
    <li>Explain the principles of genetic epidemiology, public health and health protection and discuss in relation to
      genetic screening programmes</li>
    <li>Explain the principles of clinical pharmacology and therapeutics and discuss the relevance of these to patients
      of clinical genetics services</li>
    <li>Explain the principles of physics that underpin healthcare science and how these apply to treatment for patients
      referred to clinical genetics</li>
  </ol>
  <h3>Professional Practice</h3>
  <ol type="1" start="1">
    <li>Appraise professionalism, the importance of this for genetic counselling practice, genetic counselling patients,
      the practice of healthcare science and the wider healthcare system;</li>
    <li>Critically evaluate the structures, processes and methodologies that underpin healthcare quality improvement and
      patient safety, and critique the quality mechanisms used in clinical genetics and genetic/genomic counselling</li>
    <li>Explain the principles of effective written and verbal communication and feedback, and how these are applied to
      address the needs and assure the dignity of patients, the public and other healthcare professionals</li>
  </ol>
  <h3>Clinical Leadership</h3>
  <ol type="1" start="1">
    <li>Evaluate a range of leadership models, including those that underpin healthcare practice</li>
    <li>Reflect on own personal values, principles and assumptions and how these influence own personal leadership style
    </li>
    <li>Critique the ways in which patients and the public in your country are engaged with and have influence over how
      healthcare and healthcare education are delivered.</li>
  </ol>
  <h2>What will it cover?</h2>
  <ul>
    <li>Introduction to the UK National Health Service (NHS) and principles underlying healthcare in other countries
    </li>
    <li>Introduction to communication in healthcare</li>
    <li>Feedback models and characteristics of effective feedback</li>
    <li>Professionalism and professional practice in healthcare</li>
    <li>Introduction to leadership in healthcare: theories and models of leadership, personal qualities and behaviours
      that promote shared leadership</li>
    <li>Introduction to quality improvement in healthcare: patient safety and healthcare quality; quality control &amp;
      quality assurance</li>
    <li>Clinical governance, risk management and compliance</li>
    <li>The human body in health and disease: organisation, structure and function of the body; organ systems;
      pathophysiology: cellular, tissue and systems responses to disease</li>
    <li>Epidemiology, public health and health protection</li>
    <li>Comparing the national screening programmes offered internationally</li>
    <li>Introduction to clinical pharmacology and therapeutics</li>
    <li>Basic principles of physics underpinning common measurement techniques used in healthcare science</li>
  </ul>
  <p>The taught content of the module will be delivered using a combination of online plenaries, specialist online
    discussion boards, case-based formative work and live-streaming video-conferenced discussions. Students will be
    actively encouraged to ask/email/message questions to the lecturers to gain further understanding and feedback on
    the topics covered. Students will also have access to innovative teaching materials relating this module, uploaded
    to Learning Central, during or after a particular teaching session has been timetabled. These materials will take
    the form of interactive and immersive content designed to elucidate complex concepts in ways that are easy for
    students to assimilate. In parallel with these, students will be provided with a work book and a case study to work
    through in a self-directed fashion to aid their understanding and learning about the topics. Students will be
    encouraged to utilise the formative module quiz throughout the module and consider this as a &lsquo;progress
    test&rsquo; to map the trajectory of their learning. Specifically, students will be encouraged to take the quiz
    prior to the start of the module, and again at the end of the module, after which they will be guided towards the
    learning resources for the questions they found challenging. The module is assessed by formative and summative
    assessments.</p>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET822 Introduction to Genetic and Genomic Counselling"
  id="met822_introduction_to_genetic_and_genomic_counselling_926789">
  <p>This module is also available as part of the <a
      href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/genetic-and-genomic-counselling-msc">MSc
      in Genetic and Genomic Counselling</a>.</p>
  <p>This module provides the student with an introduction to the scope and diversity of genetic and genomic counselling
    practice. Such practice is wholly patient-centred and key themes such as the importance of the partnership between
    the patient and counsellor and collaborative decision-making will be explored. In support of this, the module also
    provides students with an introduction to the challenges of living with a chronic disease or disability, and the
    opportunity to broaden their perspective beyond clinical genetics. Students will be introduced to the wide range of
    health and social care services and patient support groups they may interact with to provide good care to their
    patients. Students will draw on their previous caring experience to further develop insight into the impact of
    living with a chronic disease or disability, as this will contribute significantly to their ability to develop
    genetic and genomic counselling practice that is patient-centred.</p>
  <h2>Dates</h2>
  <p>28 September 2020 - 30 June 2021</p>
  <h2>Who is it for?</h2>
  <p>The module is suitable for those working in clinical healthcare, who wish to learn more about genetics and
    genomics, or who are considering a career in genetic counselling</p>
  <h2>What will I learn?</h2>
  <p>In addition to theoretical and subject-specific skill-sets that are taught as part of this module, this module also
    emphasises development of translational skills (such as communication skills and team working) that enhance
    employability. The student will, in a safe learning environment, develop the following skills.</p>
  <ol>
    <li>Develop skills that support the communication of complex information</li>
    <li>Taking a medical history</li>
    <li>Taking a family history</li>
    <li>Presentation skills</li>
  </ol>
  <p>At the end of the module, students will be able to:</p>
  <ol>
    <li>Critique the ways in which an individual with a chronic disease or disability may have their needs met by health
      and social care services</li>
    <li>Predict the impact on the family of a member with a chronic disease or disability</li>
    <li>Analyse the place of diagnostic services in the management of a person with a chronic disease or disability</li>
    <li>Reflect on personal and professional attitudes, beliefs and values relating to chronic disease and/or disability
    </li>
    <li>Discuss the medical, psychological, social and familial challenges faced by individuals and families referred
      for genetic and genomic counselling.</li>
    <li>Explain the current and historical ethos, values, scope, context and diversity of genetic and genomic
      counselling practice internationally.</li>
    <li>Appraise the value and ethos of patient-centred care and effective ways of embedding patient-centred care in
      genetic and genomic counselling practice.</li>
    <li>Critically evaluate the range of approaches used to achieve positive patient outcomes in genetic and genomic
      counselling practice.</li>
    <li>Discuss the concepts of probability, risk communication, and uncertainty in healthcare and the principles that
      support effective communication of risk and uncertainty.</li>
    <li>Evaluate a range of effective approaches to explaining complex genetic concepts that facilitate patients&rsquo;
      effective use of genetic information and testing.</li>
    <li>Appraise the range of information, health service and third sector resources relating to genetic conditions and
      tests available to genetic counsellors and families.</li>
    <li>Discuss the use of family trees and generate risk figures for specific individuals in a family, using knowledge
      of inheritance patterns and appropriate conditional information that will influence risk.</li>
    <li>Critically evaluate the principles underpinning medical history taking and discuss their application in genetic
      counselling practice.</li>
  </ol>
  <h2>What will it cover?</h2>
  <p>Genetic and genomic counselling in the UK and internationally: The genetic counsellor role in the UK and how this
    differs internationally</p>
  <ul>
    <li>patient experiences</li>
    <li>how to take a 3-generation family tree: Theory and practice</li>
    <li>how to take a medical / obstetric history: Theory and practice</li>
    <li>genetic risk assessment: Predicting risk to specified family members in the context of dominant, recessive,
      X-linked inheritance patterns: Theory and practice</li>
    <li>introduction to genetic risk communication</li>
    <li>explaining inheritance</li>
    <li>patient empowerment: Supporting autonomy</li>
    <li>introduction to critical reflective practice and importance for practice-based continuous professional learning
    </li>
    <li>the impact of culture, equality and diversity on genetic and genomic counselling practice</li>
    <li>introduction to the psychosocial impact of disability and theories of psychosocial adjustment; disabilities
      common to many genetic conditions</li>
    <li>introduction to chronic disease: common chronic diseases that can have a genetic basis; chronic disease
      self-management.</li>
  </ul>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET824 Research Methods" id="met824_research_methods_926817">
  <p>This module is also available as part of the <a
      href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/genetic-and-genomic-counselling-msc">MSc
      in Genetic and Genomic Counselling</a>.</p>
  <p>This module provides an introduction to research methods and their application to genetic and genomic counselling
    research. Research will be distinguished from audit, service development, service evaluation and innovation, and the
    relationships between and amongst these activities will be explored. The module will provide an overview of the
    structure of a research project and MSc dissertation report, as well as project management methods. Overall
    approaches and methods for data collection and analysis in quantitative and qualitative research paradigms and
    systematic reviews will be covered, as well as their application to genetic and genomic counselling research. There
    is a very strong emphasis on the development and application of critical appraisal skills throughout the module,
    providing the necessary grounding for students who intend to progress on to an MSc dissertation project.</p>
  <h2>Dates</h2>
  <p>9 November 2020 - 22 July 2021</p>
  <h2>Who is it for?</h2>
  <p>The module is suitable for those working in clinical healthcare, who wish to learn more about genetics and
    genomics, or who are considering a career in genetic counselling. It is also suitable for those intending to
    progress on to an MSc dissertation project.</p>
  <h2>What will I learn?</h2>
  <p>In addition to theoretical foundations for clinical research that are taught as part of this module, students will
    also develop practical research skills. The student will:</p>
  <ul>
    <li>Undertake an evidence-based literature review, critically appraise the output, draw appropriate conclusions and
      report the findings, and where appropriate, use the findings to inform a research project.</li>
    <li>Identify, discuss and critically evaluate a research, service development and evaluation, innovation and
      clinical audit that has resulted in an improvement in patient care or service delivery in genetic and genomic
      counselling.</li>
  </ul>
  <p>At the end of the module, students will be able to</p>
  <ul>
    <li>Critically evaluate how research, service development and evaluation, innovation and clinical audit can improve
      patient care, promote innovation and improve service delivery in genetic and genomic counselling.</li>
    <li>Justify application of a range of research methods/approaches (qualitative and quantitative, systematic review,
      clinical trials) to answering research, service development and evaluation, innovation and clinical audit
      questions.</li>
    <li>Explain and justify current ethical and governance frameworks and processes applied to the conduct of research
      with human subjects, service evaluation and clinical audit.</li>
    <li>Critically evaluate the literature/evidence base to identify a research, service evaluation, audit or innovation
      question relevant to genetic counselling patient care or service delivery</li>
    <li>Develop and justify a novel approach to answering the question from idea generation through ethical and
      governance approaches to dissemination/implementation, including patient involvement and intellectual property.
    </li>
    <li>Justify the data collection and analysis methods to ensure the validity, reliability and appropriateness in
      relation to the research, service evaluation, audit or innovation question and aims of the study</li>
    <li>Critique the concept of evidence-based practice in genetic and genomic counselling, methods for development of
      clinical guidelines, and the role of current statutory and advisory regulatory bodies.</li>
    <li>Identify potential sources of genetic and genomic counselling research and innovation funding.</li>
    <li>Describe the process and requirements for publication in peer-reviewed journals and the current criteria and
      metrics for assessing the quality of published research.</li>
  </ul>
  <h2>What will it cover?</h2>
  <ul>
    <li>Study designs in healthcare.</li>
    <li>Evidence-based practice.</li>
    <li>Research paradigms: Qualitative and Quantitative approaches.</li>
    <li>Research questions; role of the literature review; research design.</li>
    <li>Populations, samples and statistically representative samples.</li>
    <li>Statistical significance and confidence intervals.</li>
    <li>Statistical tests: t tests, analysis of variance, regression, chi-squared tests.</li>
    <li>Quantitative research: Sampling, data collection, analysis and interpretation; Strengths and limitations of a
      range of quantitative approaches (surveys, experiments, prospective studies, case-control studies); critical
      appraisal.</li>
    <li>Surveys, (Patient-reported) outcome measures; validity, reliability and responsiveness of (Patient-reported)
      outcome measures.</li>
    <li>Qualitative research: Sampling, data collection, analysis and interpretation; interviews; transcription, coding
      and visual representations; Strengths and limitations of a range of qualitative methods (Interpretive
      Phenomenological analysis, Grounded theory, Ethnography, Discourse analysis, Narrative analysis, Framework
      analysis); critical appraisal.</li>
    <li>Systematic reviews and meta-analysis.</li>
    <li>Validity, reliability and generalizability of study findings.</li>
    <li>Research governance and ethical conduct of research; informed consent.</li>
    <li>Dissemination and implementation of research findings; standards for research reporting (e.g. CONSORT, TIDieR).
    </li>
    <li>Research project management.</li>
    <li>Use of theoretical frameworks in genetic and genomic counselling research (including Health Psychology theory).
    </li>
  </ul>
  <p>The module content will be delivered mainly through timetabled online student contact sessions. Teaching sessions
    will be conducted using a combination of: flipped classrooms, online didactic lectures, online group discussion and
    extensive experiential formative exercises. Formative work will include critical appraisal of published research,
    with students required to post their critique on the online discussion board. Participation in the formative work is
    compulsory. Students will also have access to innovative teaching materials relating this module, uploaded to
    Learning Central, before, during and after the student contact sessions. These materials will take the form of
    interactive and immersive content designed to support development of critical skills. Students will be given a
    number of opportunities in class to practice skills in critical appraisal of published research, and this will be
    assessed in the Research Proposal and Literature Review assignments.</p>
</div>

<div class="  accordion-body squiz-bodycopy"
  desc="MET825 Introduction to Genetics, Genomics, Molecular Science and Bioinformatics"
  id="met825_introduction_to_genetics,_genomics,_molecular_science_and_bioinformatics_926819">
  <p>This module is also available as part of the <a
      href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/genetic-and-genomic-counselling-msc">MSc
      in Genetic and Genomic Counselling</a>.</p>
  <p>This module will provide the student with an introduction to human genetics and molecular science, and a knowledge
    and understanding of bioinformatics tools. It will cover the delivery and organisation of a genetics laboratory
    service, and the partnership of genetics with other clinical specialisms to manage genetic and genomic disorders.
    Students will be introduced to how bioinformatics strategies can be applied to genomic and genetic data to generate
    information and knowledge that contributes to patient care and care pathways within a clinical setting. The module
    will also introduce the ethical and governance framework appropriate for working with patient data in a healthcare
    setting.</p>
  <h2>Dates</h2>
  <p>9 November 2020 - 30 June 2021</p>
  <h2>Who is it for?</h2>
  <p>The module is suitable for those working in clinical healthcare, who wish to learn more about genetics and
    genomics, or who are considering a career in genetic counselling</p>
  <h2>What will I learn?</h2>
  <p>In addition to theoretical and subject-specific skill-sets that are taught as part of this module, it also
    emphasises development of translational skills that enhance employability. These include:</p>
  <ul>
    <li>enhancing self-directed study skills</li>
    <li>developing good scientific writing and critical evaluation skills</li>
    <li>interpreting and analysing clinical bioinformatics data</li>
    <li>populating personal portfolios with relevant material.</li>
  </ul>
  <p>At the end of the module, students will be able to:</p>
  <ol>
    <li>explain nucleic acid structure and function, and discuss the flow of information from DNA to RNA to protein in
      the cell</li>
    <li>explain chromosome structure and function</li>
    <li>explain and apply the nomenclature used to describe the human genome</li>
    <li>discuss patterns of inheritance</li>
    <li>discuss the role of polymorphisms in Mendelian and complex disorders and give examples of polymorphisms involved
      in genetic disease</li>
    <li>describe the biological background to diagnostic genetic testing and genetics, and the role of bioinformatics
    </li>
    <li>explain the theory of sequence analysis and the use of genome analysis tools and bioinformatics databases</li>
    <li>describe and evaluate the design, operation and performance of methods used in the investigation of genetic and
      genomic alterations in association with disease</li>
    <li>describe the partnership of Clinical Bioinformatics and Genetics with other clinical specialisms in the
      investigation and management of genetic disorders and the contribution to safe and effective patient care</li>
    <li>discuss the governance and ethical frameworks in place within the NHS and how they apply to bioinformatics.</li>
  </ol>
  <h2>What will it cover?</h2>
  <ul>
    <li>Introduction to the human genome</li>
    <li>chromosome structure and function</li>
    <li>meiosis and mitosis</li>
    <li>nucleic acid structure and function; the central dogma</li>
    <li>introduction to the molecular basis of disease</li>
    <li>patterns of inheritance: autosomal dominant and recessive, X-linked and non-Mendelian disorders</li>
    <li>molecular genetic testing: DNA extraction, fragment analysis, PCR and DNA sequencing,</li>
    <li>cytogenetic testing: cell culture, chromosome analysis, FISH, microarray</li>
    <li>analytical and clinical sensitivity and specificity of these tests</li>
    <li>analysis and interpretation of genetic variation in a clinical context</li>
    <li>potential applications of relevant emerging genetic and genomic testing in healthcare; types of sequencing,
      applications and limitations; quality control; analysis, annotation and interpretation</li>
    <li>fundamentals of bioinformatics: Similarity/homology; sequence alignment and annotation; variant identification;
      gene ontology (GO) and human phenotype ontology (HPO)</li>
    <li>statistics and Bioinformatics in genetics/genomics: Hardy-Weinberg, Bayes theorem, risks in pedigrees; use of
      statistical models to call variants with accuracy; introduction to R scripting</li>
    <li>clinical applications of Bioinformatics; use of databases e.g. dbSNP, DECIPHER, Orphanet, Diagnostic Mutation
      Database (DMuDB)/NGRL Universal Browser</li>
    <li>genetic test reports; Governance frameworks; standard operating procedures.</li>
  </ul>
  <p>The taught content of the module will be delivered using online plenaries and presentations, specialist online
    discussion boards and live-streaming video-conferenced case-based discussions (with anonymised patient cases
    relating to the module&rsquo;s content). Students will be encouraged to ask/email/message questions to the lecturers
    to gain further understanding and feedback on the topics covered. Students will also have access to teaching
    materials relating to this module, uploaded to Learning Central during or after a particular teaching session has
    been timetabled. These materials will take the form of interactive and immersive content designed to elucidate
    complex bioinformatics and genetics/genomics concepts in ways that are easy for students to assimilate. In parallel
    with these, students will be provided with suitable case studies to work through in a self-directed fashion to aid
    their understanding and revision of the topics. Students will be encouraged to utilise the formative module quiz
    throughout the module and consider this as a &lsquo;progress test&rsquo; to map the trajectory of their learning.
    Specifically, they will be encouraged to take the quiz prior to the start of the module, and again at the end of the
    module, after which they will be guided towards the learning resources for the questions they found challenging. The
    module is assessed by formative and summative assessments.</p>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET826 Applied Genetics and Bioinformatics in Clinical Care"
  id="met826_applied_genetics_and_bioinformatics_in_clinical_care_926822">
  <p>This module is also available as part of the <a
      href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/genetic-and-genomic-counselling-msc">MSc
      in Genetic and Genomic Counselling</a>.</p>
  <p>This module will provide the student with the knowledge base across a breadth of commonly encountered genetic
    conditions. It will equip students with the skills to apply knowledge as they work in partnership with patients,
    their families and clinical colleagues and consider the genetic counselling service from a patient perspective. Some
    relevant prior knowledge is assumed. Using case based learning they will understand the diagnosis, course and
    prognosis, management, inheritance and recurrence risks for the most commonly encountered genetic conditions. The
    importance of collaborative decision making, treating patients and their families with empathy and respect and
    supporting choice and autonomy will be embedded into all learning. A comprehensive approach across life stages is
    undertaken. The emphasis will be on developing genetic counsellor professional competencies relating to clinical
    assessment and provision of accurate clinical and genetic information.</p>
  <h2>Dates</h2>
  <p>28 September 2020 - 22 April 2021</p>
  <h2>Who is it for?</h2>
  <p>The module is suitable for those working in clinical healthcare, who wish to learn more about genetics and
    genomics, or who are considering a career in genetic counselling.</p>
  <ul>
    <li>Please contact Dr Nicola Taverner (<a href="mailto:tavernern@cardiff.ac.uk">tavernern@cardiff.ac.uk</a>) prior
      to applying for this module to discuss your prior genetics knowledge, because this module assumes significant
      prior knowledge of human genetics.&rdquo;</li>
  </ul>
  <h2>What will I learn?</h2>
  <p>In addition to theoretical and subject-specific skill-sets that are taught as part of this module, it also
    emphasises development of translational skills that enhance employability. These include:</p>
  <ul>
    <li>writing an online blog</li>
    <li>enhancing self-directed study skills</li>
    <li>developing good scientific writing and critical evaluation skills</li>
    <li>interpreting and analysing clinical bioinformatics data</li>
    <li>populating personal portfolios with relevant material</li>
    <li>producing, delivering and evaluating online learning</li>
  </ul>
  <p>At the end of the module, students will be able to:</p>
  <ol>
    <li>Describe the clinical presentation of a range of commonly encountered genetic conditions that present in
      differing clinical situations (such as prenatal, paediatrics, inherited cancer and adult-onset conditions) and
      discuss their impact at different stages of life.</li>
    <li>Explain the genetic mechanisms and inheritance patterns associated with a range of inherited conditions (e.g.
      single gene variants, chromosomal abnormalities, triplet repeats, imprinting, mitochondrial disease) and also the
      genetic contribution to multi-factorial conditions.</li>
    <li>Explore the concept of differential diagnoses and describe a range of investigations used to discriminate
      between conditions, including their evidence base.</li>
    <li>Obtain and critique guidelines and resources relevant to particular clinical situations.</li>
    <li>Describe different methods used to calculate risks from family pedigrees and empiric data, and critique
      different ways of presenting risk.</li>
    <li>Explore how psychosocial issues are considered during genetic diagnosis and discuss the importance of the
      partnership with the individual/family.</li>
    <li>Discuss and interpret how genetic and genomic testing may be applied to individual clinical situations, and how
      this may impact on collaborative decision-making and supporting the family.</li>
    <li>Describe and critically evaluate the selection and differentiation of a range of current genomic testing
      strategies used to sequence targeted parts of the genome or the whole exome/genome and how they are applied within
      prenatal, childhood and adult settings.</li>
    <li>Explain how genomic results are generated and how data is filtered using bioinformatic pipelines.</li>
    <li>Evaluate and utilise approaches for the interpretation of genomic results and the use of genotype and phenotype
      data in establishing pathogenicity.</li>
    <li>Describe the use of genomic results in personalised/precision medicine, pharmacogenetics and emerging
      therapeutics.</li>
    <li>Appraise the broader use of genomic screening for disease risk prediction.</li>
    <li>Discuss the role of the genetic counsellor in the partnership of genetics with other clinical specialisms in the
      diagnosis of genetic disorders.</li>
    <li>Critique theories and approaches to adult education and how to apply these to education of healthcare colleagues
      in genetics and genomics.</li>
  </ol>
  <h2>What will it cover?</h2>
  <ul>
    <li>Genetic basis of disease and the mechanisms of pathogenesis and breadth of genetic conditions</li>
    <li>key life stages when diagnosis may occur: prenatal, paediatric and adult</li>
    <li>prenatal diagnosis: screening (including national screening programmes), non-invasive prenatal
      diagnosis/testing, genetic single gene/array and combined screening such as biochemical and ultrasound; clinical,
      scientific, ethical and legal requirements of prenatal testing</li>
    <li>clinical presentation and assessment of patients; Selection of appropriate diagnostic tests; clinical,
      scientific, ethical and legal requirements of diagnostic testing</li>
    <li>presymptomatic and carrier testing; clinical, scientific, ethical and legal requirements of pediatric,
      presymptomatic and carrier testing</li>
    <li>interpreting laboratory reports; timely and appropriate communication of genetic test results, risk and
      management options, including screening and prevention options</li>
    <li>risk analysis and risk communication</li>
    <li>theories and approaches to adult education</li>
    <li>best practice guidelines, including NICE guidelines</li>
    <li>patient-centred care</li>
    <li>multidisciplinary working</li>
    <li>research opportunities for different patient groups and role of Good Clinical Practice</li>
    <li>genetics education in healthcare; adult learning theory; learning styles; lesson plans and design</li>
    <li>benefits and challenges of genetic and genomic technologies in genetic counselling practice: pre-conception and
      reproductive genetic counselling; the diagnostic odyssey</li>
    <li>genomics testing strategies: gene-focused; targeted panels; whole genome / whole exome; sensitivity and
      specificity of genetic / genomic tests; appropriate application of these strategies for detection of sequence and
      copy number variants, and chromosome rearrangements</li>
    <li>bioinformatics pipelines: the reference sequence; alignment, annotation and calling of sequence variants;
      filtering strategies for the identification of pathogenic variants; prediction of variant impact on protein
      structure and function; establishing the clinical significance of results</li>
    <li>data management and regulatory issues in genomics</li>
    <li>genomic screening</li>
    <li>role of the genetic counsellor in the genomics era.</li>
  </ul>
  <p>The taught content of the module will be delivered using online plenaries and presentations, specialist online
    discussion boards and live-streaming video-conferenced case-based discussions (with anonymised patient cases
    relating to the module&rsquo;s content). Students will be actively encouraged to ask/email/message questions to the
    lecturers to gain further understanding and feedback on the topics covered. They will be asked to select two
    conditions from an initial list, which are inherited in different ways and have a different impact, and complete a
    blog each week to reflect on how what they have learned is relevant to these particular conditions. This blog will
    form the basis for an assessed case study. Students will also have access to innovative teaching materials relating
    to this module, uploaded to Learning Central, during or after a particular teaching session has been timetabled.
    These materials will include cases through which students can practice using online databases such as ClinVar, OMIM
    and Decipher to establish pathogenicity of variants. Students will be encouraged to utilise the formative module
    quiz throughout the module and consider this as a &lsquo;progress test&rsquo; to map the trajectory of their
    learning. Specifically, they will be encouraged to take the quiz prior to the start of the module, and again at the
    end of the module, after which they will be guided towards the learning resources for the questions they found
    challenging. The module is assessed by formative and summative assessments.</p>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET894 Practical Skills in Genetic Healthcare"
  id="met894_practical_skills_in_genetic_healthcare_792236">
  <p>With genetics and genomics becoming increasingly important across healthcare, this module is designed for
    healthcare professionals to build a foundation of knowledge and skills for work in genetic healthcare. It includes
    development of practical clinical skills such as family history taking and writing patient correspondence,
    scientific concepts underpinning genetic healthcare and use of counselling skills.</p>
  <p>This Masters-level module provides the practical and theoretical foundation in genetics for clinical healthcare.
  </p>
  <h2>Dates</h2>
  <p>This module is not currently running.</p>
  <h2>Who is it for?</h2>
  <p>It is appropriate for health professionals working in primary care or specialist areas such as cardiology,
    neurology, haemophilia, thrombophilia, oncology and fetal medicine.</p>
  <h2>What will I learn?</h2>
  <p>At the end of this course, students will be able to:</p>
  <h3>Knowledge and Understanding</h3>
  <ul>
    <li>Integrate information about the family medical history in a way that facilitates genetic diagnosis.</li>
    <li>Apply knowledge of the emotional, social, psychological and ethical aspects of genetic conditions to take the
      family medical history.</li>
    <li>Synthesise information about the structure of genes and chromosomes to develop understanding of disease-causing
      changes.</li>
    <li>Apply advanced practical and ethical principles in respect of diagnostic, predictive, carrier and prenatal
      genetic testing.</li>
  </ul>
  <h3>Cognitive/intellectual skills</h3>
  <ul>
    <li>Make a risk assessment for an individual at risk of a Mendelian condition (such as hypertrophic cardiomyopathy).
    </li>
    <li>Explain genetic concepts and tests to clients in a way that facilitates informed decision-making.</li>
  </ul>
  <h3>Practical Skills</h3>
  <ul>
    <li>Take an accurate family history from a client in a way which is sensitive to the client&rsquo;s situation and
      needs.</li>
    <li>Draw an accurate family tree using a range of accepted symbols.</li>
    <li>Utilise counselling skills to support clients in decision-making in a genetic healthcare setting.</li>
    <li>Convey information and results sensitively in a genetic healthcare setting.</li>
  </ul>
  <h2>What will it cover?</h2>
  <p>The module will enable health professionals to:</p>
  <ul>
    <li>Manage a genetic consultation in the relevant practice setting.</li>
    <li>Understand the core genetic scientific concepts that underpin the diagnosis and management of individuals and
      families in the care setting in which the professional works, for example the causes of genetic disease.</li>
    <li>Understand the ethical, legal and social aspects of genetic testing.</li>
    <li>Provide appropriate psychosocial support to individuals and families affected by a genetic condition.</li>
  </ul>
  <p>The module content will be delivered mainly through two timetabled residential face-to-face student contact
    sessions in Cardiff, each block being 3 days long. Between the two teaching blocks, there will be three timetabled
    webcast teaching sessions. Webcasting is a technique that allows you to watch a teaching session via your own PC.
    You can comment on the material, ask questions and debate via chat rooms that run concurrently during the session.
    The webcast lectures will be recorded so you can go back to them later if you wish. In between the two blocks you
    should allow around 4-5 hours per week for study, including the webcast.</p>
  <p>This is a Cardiff University credit-bearing module. The assessments will be based around your clinical practice and
    you will also be asked to contribute examples from practice during the course when we are discussing relevant
    topics, for example, ethical issues.</p>
  <p>Students may opt to be assessed for accreditation of 20 or 30 credits at Level 7 or, if they wish, complete the
    course without undergoing assessment and receive a Certificate of Attendance. Students should inform the course
    tutor which academic option that they wish to pursue before the start of the module.</p>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET895 Practical Skills in Genetic Healthcare (30 credits)"
  id="met895_practical_skills_in_genetic_healthcare_792262">
  <p>With genetics and genomics becoming increasingly important across healthcare, this module is designed for
    healthcare professionals to build a foundation of knowledge and skills for work in genetic healthcare. It includes
    development of practical clinical skills such as family history taking and writing patient correspondence,
    scientific concepts underpinning genetic healthcare and use of counselling skills.</p>
  <p>This master's-level module provides the practical and theoretical foundation in genetics for clinical healthcare.
  </p>
  <h2>Dates</h2>
  <p>This module is not currently running.</p>
  <h2>Who is it for?</h2>
  <p>It is appropriate for health professionals working in primary care or specialist areas such as cardiology,
    neurology, haemophilia, thrombophilia, oncology and fetal medicine.</p>
  <h2>What will I learn?</h2>
  <p>At the end of this course, students will be able to:</p>
  <h3>Knowledge and Understanding</h3>
  <div>
    <ul>
      <li>Integrate information about the family medical history in a way that facilitates the genetic diagnosis.</li>
      <li>Apply knowledge of the emotional, social, psychological and ethical aspects of genetic conditions to take the
        family medical history.</li>
      <li>Synthesise information about the structure of genes and chromosomes to develop understanding of
        disease-causing changes.</li>
      <li>Relate the core processes involved in normal development of the embryo and the fetus to the development of the
        embryo to structural abnormalities of relevant body systemsIntegrate knowledge of genomics to enhance
        understanding of genetic factors in common disease (such as coronary heart disease).</li>
      <li>Integrate knowledge of genomics to enhance understanding of genetic factors in common disease (such as
        coronary heart disease).</li>
      <li>Apply advanced practical and ethical principles in respect of diagnostic, predictive, carrier and prenatal
        genetic testing.</li>
    </ul>
  </div>
  <h3>Cognitive/intellectual skills</h3>
  <ul>
    <li>Make a risk assessment for an individual at risk of a Mendelian condition (such as hypertrophic cardiomyopathy).
    </li>
    <li>Explain genetic concepts and tests to clients in a way that facilitates informed decision-making.</li>
  </ul>
  <h3>Practical Skills</h3>
  <ul>
    <li>Take an accurate family history from a client in a way which is sensitive to the client&rsquo;s situation and
      needs.</li>
    <li>Draw an accurate family tree using a range of accepted symbols.</li>
    <li>Utilise counselling skills to support clients in decision-making in a genetic healthcare setting.</li>
    <li>Convey information and results sensitively in a genetic healthcare setting.</li>
  </ul>
  <h2>What will it cover?</h2>
  <p>The module will enable health professionals to:</p>
  <ul>
    <li>Manage a genetic consultation in the relevant practice setting.</li>
    <li>Understand the core genetic scientific concepts that underpin the diagnosis and management of individuals and
      families in the care setting in which the professional works, for example the causes of genetic disease.</li>
    <li>Understand the ethical, legal and social aspects of genetic testing.</li>
    <li>Provide appropriate psychosocial support to individuals and families affected by a genetic condition.</li>
  </ul>
  <p>The module content will be delivered mainly through two timetabled residential face-to-face student contact
    sessions in Cardiff, each block being 3 days long. Between the two teaching blocks, there will be three timetabled
    webcast teaching sessions. Webcasting is a technique that allows you to watch a teaching session via your own PC.
    You can comment on the material, ask questions and debate via chat rooms that run concurrently during the session.
    The webcast lectures will be recorded so you can go back to them later if you wish. In between the two blocks you
    should allow around 4-5 hours per week for study, including the webcast.</p>
  <p>This is a Cardiff University credit-bearing module. The assessments will be based around your clinical practice and
    you will also be asked to contribute examples from practice during the course when we are discussing relevant
    topics, for example, ethical issues.</p>
  <p>Students may opt to be assessed for accreditation of 20 or 30 credits at Level 7 or, if they wish, complete the
    course without undergoing assessment and receive a Certificate of Attendance. Students should inform the course
    tutor which academic option that they wish to pursue before the start of the module.</p>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET896 Genetic Science for Health Professionals"
  id="met896_genetic_science_for_health_professionals_792189">
  <p>Increasing genetic knowledge is impacting on all areas of healthcare. This course provides an understanding of the
    basic mechanisms of human genetics and inherited genetic disease. It introduces students to the main structures and
    functions of the human genome, to the chromosomes and the critical protein-coding genes. The molecular and
    structural basis of the many different types of human mutations, and how they are mapped, characterised and
    routinely diagnosed will be outlined.</p>
  <h2>Dates</h2>
  <p>This module is not currently running.</p>
  <h2>Who is it for?</h2>
  <p>This Masters-level module builds on basic biological principles to develop practitioners&rsquo; skills in a
    clinical setting. It is aimed at healthcare professionals who work with individuals or families who have or are at
    risk of a genetic condition, in any setting. It is appropriate for health professionals working in primary care or
    specialist areas such as cardiology, neurology, haemophilia, thrombophilia, oncology and fetal medicine.</p>
  <h2>What will I learn?</h2>
  <p style="text-align:justify">At the end of the course, students will be able to:</p>
  <h3>Knowledge and understanding</h3>
  <ul>
    <li>Demonstrate an in-depth understanding of the structure, replication and variations in genetic material.</li>
    <li>Understand the principles of heredity and apply these to clinical situations.</li>
  </ul>
  <h3>Cognitive/intellectual skills</h3>
  <ul>
    <li>Apply knowledge of genetic variation to enhance their understanding of mechanisms that cause genetic
      disease/conditions.</li>
    <li>Understand genetic test results</li>
  </ul>
  <h3>Practical skills</h3>
  <ul>
    <li>Convey complex scientific principles related to heredity to patients in a way that facilitates understanding.
    </li>
    <li>Explain issues and practical aspects of genetic testing in a way that facilitates informed consent.</li>
  </ul>
  <h2>What will it cover?</h2>
  <p>Topics covered include structure, replication and variations in genetic material, and laboratory techniques for
    genetic testing. This will enable health professionals to integrate scientific knowledge into their communication
    with patients and other health professionals, and enhance their ability to evaluate genetic reports.</p>
  <p>This is a 10 week online module; you can comment on the material ask questions and debate via chat rooms that run
    concurrently during the session. The webcast lectures will be recorded so you can go back to them later if you wish.
    You should allow around 4-5 hours per week for study, including the webcast.</p>
  <p>This is a Cardiff University credit-bearing module. The assessments will be based around your clinical practice and
    you will also be asked to contribute examples from practice during the course when we are discussing relevant
    topics, for example, genetic testing issues. The methods of assessment are consistent with the Genetic Counsellor
    Registration Board portfolio requirements.</p>
  <p>Students may opt to be assessed for accreditation of 20 or 30 credits at Level 7 or, if they wish, complete the
    course without undergoing assessment and receive a Certificate of Attendance . Students should inform the course
    tutor which academic option that they wish to pursue before the start of the module.</p>
</div>

<div class="  accordion-body squiz-bodycopy" desc="MET897 Genetic Science for Health Professionals (30 credits)"
  id="met897_genetic_science_for_health_professionals_30_credits_792209">
  <p>Increasing genetic knowledge is impacting on all areas of healthcare. This course provides an understanding of the
    basic mechanisms of human genetics and inherited genetic disease. It introduces students to the main structures and
    functions of the human genome, to the chromosomes and the critical protein-coding genes. The molecular and
    structural basis of the many different types of human mutations, and how they are mapped, characterised and
    routinely diagnosed will be outlined.</p>
  <h2>Dates</h2>
  <p>This module is not currently running.</p>
  <h2>Who is it for?</h2>
  <p>This Masters-level module builds on basic biological principles to develop practitioners&rsquo; skills in a
    clinical setting. It is aimed at healthcare professionals who work with individuals or families who have or are at
    risk of a genetic condition, in any setting. It is appropriate for health professionals working in primary care or
    specialist areas such as cardiology, neurology, haemophilia, thrombophilia, oncology and fetal medicine.</p>
  <h2>What will I learn?</h2>
  <p style="text-align:justify">At the end of the course, students will be able to:</p>
  <h3>Knowledge and understanding</h3>
  <ul>
    <li>Demonstrate an in-depth understanding of the structure, replication and variations in genetic material.</li>
    <li>Understand the principles of heredity and apply these to clinical situations.</li>
  </ul>
  <h3>Cognitive/intellectual skills</h3>
  <ul>
    <li>Apply knowledge of genetic variation to enhance their understanding of mechanisms that cause genetic
      disease/conditions.</li>
    <li>Interpret genetic test results.</li>
  </ul>
  <h3>Practical skills</h3>
  <ul>
    <li>Convey complex scientific principles related to heredity to patients in a way that facilitates understanding.
    </li>
    <li>Explain issues and practical aspects of genetic testing in a way that facilitates informed consent.</li>
    <li>Provide education to other health professionals on topics related to genetic testing.</li>
  </ul>
  <h2>What will it cover?</h2>
  <p>Topics covered include structure, replication and variations in genetic material, and laboratory techniques for
    genetic testing.&nbsp;&nbsp;This will enable health professionals to integrate scientific knowledge into their
    communication with patients and other health professionals, and enhance their ability to evaluate genetic reports.
  </p>
  <p>This is a 10 week online module; you can comment on the material ask questions and debate via chat rooms that run
    concurrently during the session. The webcast lectures will be recorded so you can go back to them later if you wish.
    You should allow around 4-5 hours per week for study, including the webcast.</p>
  <p>This is a Cardiff University credit-bearing module. The assessments will be based around your clinical practice and
    you will also be asked to contribute examples from practice during the course when we are discussing relevant
    topics, for example, genetic testing issues. The methods of assessment are consistent with the Genetic Counsellor
    Registration Board portfolio requirements.</p>
  <p>Students may opt to be assessed for accreditation of 20 or 30 credits at Level 7 or, if they wish, complete the
    course without undergoing assessment and receive a Certificate of Attendance . Students should inform the course
    tutor which academic option that they wish to pursue before the start of the module.</p>
</div>