<div class="accordion" id="faqs">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq-1">
        ${require-svg('chevron-right')} When is the start of the academic year?</a>
		</div>
		<div id="faq-1" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nibh ante, ultricies et ante vel, iaculis
					convallis
					mi. Vivamus malesuada hendrerit tincidunt. Curabitur arcu lacus, malesuada eget tellus ut, tristique
					scelerisque elit.
					Quisque venenatis leo et nunc pellentesque sagittis ut eu tellus. Morbi sed laoreet ipsum, id viverra lectus.
					Curabitur
					egestas turpis ac urna fermentum posuere. In tincidunt dolor id dui dignissim bibendum. Morbi tempor venenatis
					adipiscing.
					Ut sit amet tincidunt libero, sit amet sagittis enim. Fusce a hendrerit neque.</p>
				<p>Phasellus tincidunt aliquam velit, vel tincidunt felis rhoncus sed. Sed tincidunt urna nec mi malesuada
					tincidunt. Duis
					sed dui ultrices, sollicitudin libero id, interdum purus. Praesent rutrum tortor quis lacus pulvinar, nec
					laoreet nunc
					lobortis. Donec vel ligula pharetra, blandit erat nec, auctor lectus. Morbi accumsan pellentesque velit in
					blandit.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" href="#faq-2">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
        </svg> Which is the closest residence to the Business School?</a>
		</div>
		<div id="faq-2" class="accordion-body collapse">
			<div class="accordion-inner">
				Anim pariatur cliche...
			</div>
		</div>
	</div>
</div>