<div class="accordion accordion-mobile" id="accordionTab" data-collapse-all="false">
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="accordion-section icon-left border-none">
        <div class="accordion-section-header">
          <a class="accordion-section-header-title collapsed" data-parent=".tab-pane" data-toggle="collapse" href="#collapseOne">
            ${require-svg('chevron-right')} <span>Typical A level offer</span>
          </a>
        </div>
        <div id="collapseOne" class="accordion-section-body collapse" style="height: 0px;">
          <div class="accordion-inner">
            <p>
              AAB. Please note, General Studies, Critical Thinking and Citizenship Studies will not be accepted.&nbsp;
              &nbsp;
            </p>
            <p>
              Extended Project Qualification: Applicants with grade A in the EPQ will typically receive an offer one
              grade lower than the standard A level offer. Please note that any subject specifi3c requirements must still
              be met.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="accordion-section icon-left border-none">
        <div class="accordion-section-header">
          <a class="accordion-section-header-title" data-parent=".tab-pane" data-toggle="collapse" href="#collapseTwo">
           <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">           <title>Chevron right</title>           <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />         </svg><span>Typical Welsh Baccalaureate offer</span>
          </a>
        </div>
        <div id="collapseTwo" class="accordion-section-bodyin collapse" style="height: auto;">
          <div class="accordion-inner">
            <p>
              The Welsh Baccalaureate Advanced Skills Challenge Certificate will be accepted in lieu of one A-Level (at
              the grades listed above), excluding any specified subjects.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab3">
      <div class="accordion-section icon-left border-none">
        <div class="accordion-section-header">
          <a class="accordion-section-header-title collapsed" data-parent=".tab-pane" data-toggle="collapse" href="#collapseThree">
           <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">           <title>Chevron right</title>           <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />         </svg><span>Typical BTEC offer</span>
          </a>
        </div>
        <div id="collapseThree" class="accordion-section-body collapse">
          <div class="accordion-inner"><p>DDD&nbsp;Business only.</p></div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab4">
      <div class="accordion-section icon-left border-none">
        <div class="accordion-section-header">
          <a class="accordion-section-header-title collapsed" data-parent=".tab-pane" data-toggle="collapse" href="#collapseFour">
           <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">           <title>Chevron right</title>           <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />         </svg><span>Typical International Baccalaureate offer</span>
          </a>
        </div>
        <div id="collapseFour" class="accordion-section-body collapse">
          <div class="accordion-inner"><p>IB 35-32, or 665 in 3 HL subjects.</p></div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab5">
      <div class="accordion-section icon-left border-none">
        <div class="accordion-section-header">
          <a class="accordion-section-header-title collapsed" data-parent=".tab-pane" data-toggle="collapse" href="#collapseFive">
           <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">           <title>Chevron right</title>           <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />         </svg><span>Alternative qualifications</span>
          </a>
        </div>
        <div id="collapseFive" class="accordion-section-body collapse">
          <div class="accordion-inner">
            <p>
              Alternative qualifications may be accepted. For further information on entry requirements, see the
              <a href="https://www.cardiff.ac.uk/study/undergraduate/applying/admissions-criteria/business"
                >Cardiff Business School</a
              >
              admissions criteria pages.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab6">
      <div class="accordion-section icon-left border-none">
        <div class="accordion-section-header">
          <a class="accordion-section-header-title collapsed" data-parent=".tab-pane" data-toggle="collapse" href="#collapseSix">
           <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">           <title>Chevron right</title>           <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />         </svg><span>English language requirements</span>
          </a>
        </div>
        <div id="collapseSix" class="accordion-section-body collapse">
          <div class="accordion-inner">
            <h3>IELTS (academic)</h3>
            <p>At least 6.5 overall with a minimum of 5.5 in each sub-score.</p>
            <h3>TOEFL iBT</h3>
            <p>
              At least 90 with minimum scores of 17 for writing, 17 for listening, 18 for reading and 20 for speaking.
            </p>
            <h3>PTE Academic</h3>
            <p>62 with a minimum of 51 in all communicative skills.</p>
            <h3>Trinity ISE II/III</h3>
            <p>II: at least two Distinctions and two Merits.<br />III: at least a Pass in all components.</p>
            <h3>Other accepted qualifications</h3>
            <p>
              Please visit our English Language requirements page for more information on our
              <a href="https://www.cardiff.ac.uk/study/international/english-language-requirements"
                >other accepted language qualifications</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab7">
      <div class="accordion-section icon-left border-none">
        <div class="accordion-section-header">
          <a class="accordion-section-header-title collapsed" data-parent=".tab-pane" data-toggle="collapse" href="#collapseSeven">
           <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">           <title>Chevron right</title>           <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />         </svg><span>Other essential requirements</span>
          </a>
        </div>
        <div id="collapseSeven" class="accordion-section-body collapse">
          <div class="accordion-inner">
            <p>You will require GCSE Maths grade B or 6, and&nbsp; GCSE English Language Grade C or 4.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
