<div class="accordion accordion-accessible">
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_1"> coem on
        work <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_1">
      <p>stupid thing 'does this work'</p>
      <ul class="list">
        <li>working?</li>
      </ul>
      <p><a class="embed" href="http://instagram.com/p/zXkiAAgUcd">Surfer on ice in Iceland Instagram image</a></p>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_2"> damn you
        squiz <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_2">
      <p>why are you so annoying?</p>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_3"> numero 3
        <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_3">
      <ol>
        <li>tres content</li>
        <li>time to addd some stuff</li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_5"> no four
        just five <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_5">
      <p>no really there is no&nbsp;&nbsp;4</p>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_6"> 666 <svg
          class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_6">
      <p>number of the devil</p>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_7"> 7 heaven
        <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_7">
      <p>almost there</p>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_8"> 8 <svg
          class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_8">
      <p>8888</p>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_9"> 9 <svg
          class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_9">
      <p>test</p>
    </div>
  </div>
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533377_10"> 10 <svg
          class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533377_10">
      <p>1010101</p>
    </div>
  </div>
</div>
<div class="accordion accordion-accessible">
  <div class="accordion-section">
    <div class="accordion-section-header">
      <h2 class="accordion-section-header-title collapsed" data-toggle="collapse" href="#accordion-1533379_1"> 2nd
        example <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg> </h2>
    </div>
    <div class="accordion-section-body collapse" id="accordion-1533379_1">
      <p>is this working?</p>
    </div>
  </div>
</div>