<div class="accordion accordion-cpd-course" data-collapse-all="false" id="applying">
  <div class="accordion-section">
    <div class="accordion-section-header">
      <a class="accordion-section-header-title" data-toggle="collapse" href="#applying-1">
        <div class="accordion-section-header-title-content">
          <p class="accordion-title">10 September 2019</p>
          <p class="accordion-summary">Tuesdays from 17:00 to 19:30 plus 2 Saturday Day School</p>
        </div>
        <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg>
      </a>
    </div>
    <div id="applying-1" class="accordion-section-body collapse show" data-parent="#applying">
      <div class="accordion-inner">
        <table class="table footable-loaded footable">
          <tbody>
            <tr>
              <th scope="row">Duration</th>
              <td>12 weekly meetings plus 2 Saturday Day Schools</td>
            </tr>
            <tr>
              <th scope="row">Tutor</th>
              <td>Stephen Jennings</td>
            </tr>
            <tr>
              <th scope="row">Course code</th>
              <td>SOC19A4968A</td>
            </tr>
            <tr>
              <th scope="row">Fee</th>
              <td>£450.00</td>
            </tr>
            <tr>
              <th scope="row">Concessionary fee</th>
              <td>
                £360.00 (find out about
                <a
                  href="https://www.cardiff.ac.uk/part-time-courses-for-adults/courses/funding-and-paying-for-your-learning"
                  >eligibility and funding options</a
                >)
              </td>
            </tr>
          </tbody>
        </table>
        <a
          href="https://www.cardiff.ac.uk/part-time-courses-for-adults/courses/enrolment?code=SOC19A4968A&amp;course=772953&amp;date=10 September 2019&amp;days=Tuesdays+from+17%3A00+to+19%3A30+plus+2+Saturday+Day+School"
          class="btn btn-success btn-large"
          >Enrol now</a
        >
      </div>
    </div>
  </div>

  <div class="accordion-section">
    <div class="accordion-section-header">
      <a
        class="accordion-section-header-title collapsed"
        data-toggle="collapse"
        href="#applying-2"
      >
        <div cass="accordion-section-header-title-content">
          <p class="accordion-title">
            21 January 2019
          </p>
          <p class="accordion-summary">Tuesdays from 17:00 to 19:30 plus 2 Saturday Day School</p>
        </div>
        <svg class="icon icon-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
          <title>Chevron right</title>
          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
        </svg>
      </a>
    </div>
    <div id="applying-2" class="accordion-section-body collapse" data-parent="#applying">
      <div class="accordion-inner">
        <table class="table footable-loaded footable">
          <tbody>
            <tr>
              <th scope="row">Duration</th>
              <td>12 weekly meetings plus 2 Saturday Day Schools</td>
            </tr>
            <tr>
              <th scope="row">Tutor</th>
              <td>Stephen Jennings</td>
            </tr>
            <tr>
              <th scope="row">Course code</th>
              <td>SOC19A4968B</td>
            </tr>
            <tr>
              <th scope="row">Fee</th>
              <td>£450.00</td>
            </tr>
            <tr>
              <th scope="row">Concessionary fee</th>
              <td>
                £360.00 (find out about
                <a
                  href="https://www.cardiff.ac.uk/part-time-courses-for-adults/courses/funding-and-paying-for-your-learning"
                  >eligibility and funding options</a
                >)
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          Although this course has started there may still be places available.
          <a href="https://www.cardiff.ac.uk/part-time-courses-for-adults/contact">Get in touch</a> to find out more
          about late availability.
        </p>
      </div>
    </div>
  </div>
</div>
