<div id="gallery3" class="carousel slide" data-has-thumbnails="true" data-wrap="false" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0004/1240375/FLAT-4-KITCHEN.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1240375/FLAT-4-KITCHEN.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1240375/FLAT-4-KITCHEN.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1240375/FLAT-4-KITCHEN.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0004/1240375/FLAT-4-KITCHEN.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen in University Hall Studio">
      <div class="carousel-caption">
      <p>Kitchen in University Hall Studio</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0005/1240358/Bedroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1240358/Bedroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1240358/Bedroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1240358/Bedroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0005/1240358/Bedroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="">
      <div class="carousel-caption">
      <p>Bedroom in Cartwright Court 1 Bed Flat</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0003/1240365/Bathroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0003/1240365/Bathroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0003/1240365/Bathroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0003/1240365/Bathroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0003/1240365/Bathroom-in-Cartwright-Court-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bathroom in Cartwright Court 1 Bed Flat">
      <div class="carousel-caption">
      <p>Bathroom in Cartwright Court 1 Bed Flat</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0018/1240371/Kitchen-Lounge-in-Cartwright-Court-1-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240371/Kitchen-Lounge-in-Cartwright-Court-1-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240371/Kitchen-Lounge-in-Cartwright-Court-1-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240371/Kitchen-Lounge-in-Cartwright-Court-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0018/1240371/Kitchen-Lounge-in-Cartwright-Court-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen/Lounge in Cartwright Court 1 Bed Flat">
      <div class="carousel-caption">
      <p>Kitchen/Lounge in Cartwright Court 1 Bed Flat</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0009/1240389/FLAT-4-BEDROOM.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0009/1240389/FLAT-4-BEDROOM.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0009/1240389/FLAT-4-BEDROOM.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0009/1240389/FLAT-4-BEDROOM.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0009/1240389/FLAT-4-BEDROOM.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bedroom in University Hall Studio">
      <div class="carousel-caption">
      <p>Bedroom in University Hall Studio</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0006/1282956/KitchenLounge-in-Cartwright-Court-2-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1282956/KitchenLounge-in-Cartwright-Court-2-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1282956/KitchenLounge-in-Cartwright-Court-2-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1282956/KitchenLounge-in-Cartwright-Court-2-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0006/1282956/KitchenLounge-in-Cartwright-Court-2-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen/Lounge in Cartwright Court 2 Bed Flat">
      <div class="carousel-caption">
      <p>Kitchen/Lounge in Cartwright Court 2 Bed Flat
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0020/1240409/FLAT-2-LIVING-DINING.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1240409/FLAT-2-LIVING-DINING.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1240409/FLAT-2-LIVING-DINING.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1240409/FLAT-2-LIVING-DINING.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0020/1240409/FLAT-2-LIVING-DINING.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Lounge/Dining in University Hall 1 Bed Flat">
      <div class="carousel-caption">
      <p>Lounge/Dining in University Hall 1 Bed Flat</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0018/1240416/FLAT-2-KITCHEN.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240416/FLAT-2-KITCHEN.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240416/FLAT-2-KITCHEN.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240416/FLAT-2-KITCHEN.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0018/1240416/FLAT-2-KITCHEN.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen in University Hall 1 Bed Flat">
      <div class="carousel-caption">
      <p>Kitchen in University Hall 1 Bed Flat</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0004/1282891/Kitchen-in-Roy-Jenkins-Studio.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1282891/Kitchen-in-Roy-Jenkins-Studio.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1282891/Kitchen-in-Roy-Jenkins-Studio.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1282891/Kitchen-in-Roy-Jenkins-Studio.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0004/1282891/Kitchen-in-Roy-Jenkins-Studio.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen in Roy Jenkins Studio">
      <div class="carousel-caption">
      <p>Kitchen in Roy Jenkins Studio
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0005/1282892/Roy-Jenkins-Studio.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1282892/Roy-Jenkins-Studio.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1282892/Roy-Jenkins-Studio.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1282892/Roy-Jenkins-Studio.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0005/1282892/Roy-Jenkins-Studio.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Roy Jenkins Studio">
      <div class="carousel-caption">
      <p>Roy Jenkins Studio
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0019/1294210/Kitchen-in-Senghennydd-Hall-Studio.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1294210/Kitchen-in-Senghennydd-Hall-Studio.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1294210/Kitchen-in-Senghennydd-Hall-Studio.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1294210/Kitchen-in-Senghennydd-Hall-Studio.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0019/1294210/Kitchen-in-Senghennydd-Hall-Studio.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen in Senghennydd Hall Studio">
      <div class="carousel-caption">
      <p>Kitchen in Senghennydd Hall Studio
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0006/1294197/Bedroom-in-Senghennydd-Hall-Studio.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1294197/Bedroom-in-Senghennydd-Hall-Studio.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1294197/Bedroom-in-Senghennydd-Hall-Studio.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1294197/Bedroom-in-Senghennydd-Hall-Studio.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0006/1294197/Bedroom-in-Senghennydd-Hall-Studio.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bedroom in Senghennydd Hall Studio">
      <div class="carousel-caption">
      <p>Bedroom in Senghennydd Hall Studio
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0019/1240471/Dining-room-1.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1240471/Dining-room-1.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1240471/Dining-room-1.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1240471/Dining-room-1.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0019/1240471/Dining-room-1.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Dining in Talybont Court 3 Bed House">
      <div class="carousel-caption">
      <p>Dining in Talybont Court 3 Bed House</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0008/1294649/Kitchen-in-Sutdent-HousesFlats-Village-2-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1294649/Kitchen-in-Sutdent-HousesFlats-Village-2-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1294649/Kitchen-in-Sutdent-HousesFlats-Village-2-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1294649/Kitchen-in-Sutdent-HousesFlats-Village-2-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0008/1294649/Kitchen-in-Sutdent-HousesFlats-Village-2-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen in Student Houses/Flats Village 2 Bed Flat Miskin Street">
      <div class="carousel-caption">
      <p>Kitchen in Student Houses/Flats Village 2 Bed Flat Miskin Street
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0006/1294359/LoungeDining-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1294359/LoungeDining-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1294359/LoungeDining-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0006/1294359/LoungeDining-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0006/1294359/LoungeDining-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Lounge/Dining in Student Houses/Flats Village 1 Bed Flat">
      <div class="carousel-caption">
      <p>Lounge/Dining in Student Houses/Flats Village 1 Bed Flat
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0011/1294391/Kitchen-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0011/1294391/Kitchen-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0011/1294391/Kitchen-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0011/1294391/Kitchen-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0011/1294391/Kitchen-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen in Student Houses/Flats Village 1 Bed Flat">
      <div class="carousel-caption">
      <p>Kitchen in Student Houses/Flats Village 1 Bed Flat
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0004/1294636/Bathroom-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1294636/Bathroom-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1294636/Bathroom-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1294636/Bathroom-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0004/1294636/Bathroom-in-Student-HousesFlats-Village-1-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bathroom in Student Houses/Flats Village 1 Bed Flat">
      <div class="carousel-caption">
      <p>Bathroom in Student Houses/Flats Village 1 Bed Flat
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0017/1240424/FLAT-1-KITCHEN-DINING-LIVING.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0017/1240424/FLAT-1-KITCHEN-DINING-LIVING.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0017/1240424/FLAT-1-KITCHEN-DINING-LIVING.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0017/1240424/FLAT-1-KITCHEN-DINING-LIVING.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0017/1240424/FLAT-1-KITCHEN-DINING-LIVING.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Lounge/Dining in University Hall 2 Bed Flat">
      <div class="carousel-caption">
      <p>Lounge/Dining in University Hall 2 Bed Flat</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0005/1240439/FLAT-1-BEDROOM-2.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1240439/FLAT-1-BEDROOM-2.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1240439/FLAT-1-BEDROOM-2.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1240439/FLAT-1-BEDROOM-2.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0005/1240439/FLAT-1-BEDROOM-2.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bedroom 2 in University Hall 2 Bed Flat">
      <div class="carousel-caption">
      <p>Bedroom 2 in University Hall 2 Bed Flat</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0019/1240426/FLAT-1-BEDROOM-1.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1240426/FLAT-1-BEDROOM-1.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1240426/FLAT-1-BEDROOM-1.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0019/1240426/FLAT-1-BEDROOM-1.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0019/1240426/FLAT-1-BEDROOM-1.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bedroom 1 in University Hall 2 Bed Flat">
      <div class="carousel-caption">
      <p>Bedroom 1 in University Hall 2 Bed Flat</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0008/1240469/Living-room-1.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1240469/Living-room-1.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1240469/Living-room-1.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1240469/Living-room-1.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0008/1240469/Living-room-1.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Lounge in Talybont Court 3 Bed House">
      <div class="carousel-caption">
      <p>Lounge in Talybont Court 3 Bed House</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0018/1240470/Kitchen-1.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240470/Kitchen-1.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240470/Kitchen-1.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0018/1240470/Kitchen-1.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0018/1240470/Kitchen-1.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Kitchen in Talybont Court 3 Bed House">
      <div class="carousel-caption">
      <p>Kitchen in Talybont Court 3 Bed House</p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0012/1294689/LoungeDining-in-Student-HousesFlats-Village-2-Bed-Flat.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0012/1294689/LoungeDining-in-Student-HousesFlats-Village-2-Bed-Flat.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0012/1294689/LoungeDining-in-Student-HousesFlats-Village-2-Bed-Flat.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0012/1294689/LoungeDining-in-Student-HousesFlats-Village-2-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0012/1294689/LoungeDining-in-Student-HousesFlats-Village-2-Bed-Flat.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Lounge/Dining in Student Houses/Flats Village 2 Bed Flat Cogan Terrace">
      <div class="carousel-caption">
      <p>Lounge/Dining in Student Houses/Flats Village 2 Bed Flat Cogan Terrace
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0004/1283449/Bathroom-in-Talybont-Court-3-Bed-House.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1283449/Bathroom-in-Talybont-Court-3-Bed-House.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1283449/Bathroom-in-Talybont-Court-3-Bed-House.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1283449/Bathroom-in-Talybont-Court-3-Bed-House.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0004/1283449/Bathroom-in-Talybont-Court-3-Bed-House.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bathroom in Talybont Court 3 Bed House">
      <div class="carousel-caption">
      <p>Bathroom in Talybont Court 3 Bed House
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0010/1283419/Bedroom-1-in-Talybont-Court-3-Bed-House.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1283419/Bedroom-1-in-Talybont-Court-3-Bed-House.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1283419/Bedroom-1-in-Talybont-Court-3-Bed-House.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0010/1283419/Bedroom-1-in-Talybont-Court-3-Bed-House.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0010/1283419/Bedroom-1-in-Talybont-Court-3-Bed-House.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bedroom 1 in Talybont Court 3 Bed House">
      <div class="carousel-caption">
      <p>Bedroom 1 in Talybont Court 3 Bed House
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0005/1283423/Bedroom-2-in-Talybont-Court-3-Bed-House.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1283423/Bedroom-2-in-Talybont-Court-3-Bed-House.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1283423/Bedroom-2-in-Talybont-Court-3-Bed-House.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0005/1283423/Bedroom-2-in-Talybont-Court-3-Bed-House.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0005/1283423/Bedroom-2-in-Talybont-Court-3-Bed-House.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bedroom 2 in Talybont Court 3 Bed House">
      <div class="carousel-caption">
      <p>Bedroom 2 in Talybont Court 3 Bed House
      </p>
      </div>
      
      </div><div class="carousel-item">
        <img srcset="https://cardiff.imgix.net/__data/assets/image/0011/1283429/Bedroom-3-in-Talybont-Court-3-Bed-House.JPG?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,
                    https://cardiff.imgix.net/__data/assets/image/0011/1283429/Bedroom-3-in-Talybont-Court-3-Bed-House.JPG?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,
                    https://cardiff.imgix.net/__data/assets/image/0011/1283429/Bedroom-3-in-Talybont-Court-3-Bed-House.JPG?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                    https://cardiff.imgix.net/__data/assets/image/0011/1283429/Bedroom-3-in-Talybont-Court-3-Bed-House.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w" src="https://cardiff.imgix.net/__data/assets/image/0011/1283429/Bedroom-3-in-Talybont-Court-3-Bed-House.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 570px" alt="Bedroom 3 in Talybont Court 3 Bed House">
      <div class="carousel-caption">
      <p>Bedroom 3 in Talybont Court 3 Bed House
      
      </p>
      </div>
      
      </div>  </div>
  <a class="carousel-control-prev" data-target="#gallery3" data-slide="prev" href="#">
    ${require-svg('chevron-left')}<span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-target="#gallery3" data-slide="next" href="#">
    ${require-svg('chevron-right')}<span class="sr-only">Next</span>
  </a>
</div>
