<div id="gallery1" class="carousel slide" data-has-indicators="false" data-has-thumbnails="false" data-wrap="false" data
  -interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active"> <img class="lazy"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0014/12281/22709.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0014/12281/22709.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0014/12281/22709.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0014/12281/22709.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
        data-src="https://cardiff.imgix.net/__data/assets/image/0014/12281/22709.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&h=259&fit=crop&q=60&auto=format"
        sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
        alt="John Lewis and Cardiff Central Library" />
      <div class="carousel-caption">
        <p>John Lewis and Cardiff Central Library</p>
      </div>
    </div>
    <div class="carousel-item "> <img class="lazy"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
        data-src="https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&h=259&fit=crop&q=60&auto=format"
        sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
        alt="The Lounge" />
      <div class="carousel-caption">
        <p>The Lounge</p>
      </div>
    </div>
    <div class="carousel-item "> <img class="lazy"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
        data-src="https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&h=259&fit=crop&q=60&auto=format"
        sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
        alt="The Lounge" />
      <div class="carousel-caption">
        <p>The Lounge</p>
      </div>
    </div>
    <div class="carousel-item "> <img class="lazy"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
        data-src="https://cardiff.imgix.net/__data/assets/image/0010/53668/The-Lounge.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&h=259&fit=crop&q=60&auto=format"
        sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
        alt="The Lounge" />
      <div class="carousel-caption">
        <p>The Lounge</p>
      </div>
    </div>
  </div> <a class="carousel-control-prev" data-target="#gallery1" data-slide="prev" href="#"> <svg class="icon"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
      <title>Chevron left</title>
      <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z" transform="translate(-6.13 0)"></path>
    </svg><span class="sr-only">Previous</span> </a> <a class="carousel-control-next" data-target="#gallery1"
    data-slide="next" href="#"> <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
      <title>Chevron right</title>
      <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
    </svg><span class="sr-only">Next</span> </a>
</div>