.content-toggle
  background-color: inherit
  position: relative

  &.gradient
    &:after
      content: ""
      position: absolute
      z-index: 1
      bottom: 0
      left: 0
      pointer-events: auto
      background-image: linear-gradient(to bottom, rgba($colourWhite, 0), $colourWhite 90%)
      width: 100%
      height: 4em

    &-anakiwa
      &:after
        background-image: linear-gradient(to bottom, rgba($colourAnakiwa, 0), $colourAnakiwa 90%)

    &-mauve
      &:after
        background-image: linear-gradient(to bottom, rgba($colourMauve, 0), $colourMauve 90%)

    &-wild-sand
      &:after
        background-image: linear-gradient(to bottom, rgba($colourWildSand, 0), $colourWildSand 90%)

    &-panache
      &:after
        background-image: linear-gradient(to bottom, rgba($colourPanache, 0), $colourPanache 90%)

    &-prussian-blue
      &:after
        background-image: linear-gradient(to bottom, rgba($colourPrussianBlue, 0), $colourPrussianBlue 90%)

.bg
  &-prussian-blue
    .btn-content-toggle
      color: $colourWhite
