<ul class="list list-facts clearfix">
	<li class="fact col-md-2"><span class="fact-bold">28,000</span> students</li>
	<li class="fact col-md-2"><dispanv class="fact-bold">6,000</span> staff</li>
	<li class="fact col-md-2"><span class="fact-bold">26</span> Academic Schools</li>
</ul>