<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  active"
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Alerts</h1>
      <p class="lead">An alert is used to inform the user that something has taken place on the page.</p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#With-buttons" class="nav-link">With buttons</a><li class="nav-item"><a href="#Colours" class="nav-link">Colours</a><li class="nav-item"><a href="#Dismissibe" class="nav-link">Dismissibe</a><li class="nav-item"><a href="#Fixed" class="nav-link">Fixed</a><li class="nav-item"><a href="#Links" class="nav-link">Links</a><li class="nav-item"><a href="#Site" class="nav-link">Site</a><li class="nav-item"><a href="#Squiz" class="nav-link">Squiz</a><li class="nav-item"><a href="#Squiz-no-desc-attribute" class="nav-link">Squiz no desc attribute</a><li class="nav-item"><a href="#Alert-with-icon" class="nav-link">Alert with icon</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p>Alerts can be <code>p</code>, <code>div</code> or <code>span</code> tags.</p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><p class="alert">This is the default alert. <a href="">More</a></p></div>
<pre class="prettyprint">&#60;p class="alert"&#62;This is the default alert. &#60;a href=""&#62;More&#60;/a&#62;&#60;/p&#62;</pre>
  
<h2 id="With-buttons">With buttons</h2>
<p></p>
<div class="component-example"><p class="alert with-button">This is the default alert. <a class="btn btn-success" href="">More</a></p>
<p class="alert alert-info with-button">This is the info alert. <a class="btn btn-success" href="">More</a></p>
<p class="alert alert-error with-button">This is the error alert. <a class="btn btn-success" href="">More</a></p>
<p class="alert alert-success with-button">This is the success alert. <a class="btn btn-success" href="">More</a></p></div>
<pre class="prettyprint">&#60;p class="alert with-button"&#62;This is the default alert. &#60;a class="btn btn-success" href=""&#62;More&#60;/a&#62;&#60;/p&#62;
&#60;p class="alert alert-info with-button"&#62;This is the info alert. &#60;a class="btn btn-success" href=""&#62;More&#60;/a&#62;&#60;/p&#62;
&#60;p class="alert alert-error with-button"&#62;This is the error alert. &#60;a class="btn btn-success" href=""&#62;More&#60;/a&#62;&#60;/p&#62;
&#60;p class="alert alert-success with-button"&#62;This is the success alert. &#60;a class="btn btn-success" href=""&#62;More&#60;/a&#62;&#60;/p&#62;</pre>
  
<h2 id="Colours">Colours</h2>
<p></p>
<div class="component-example"><p class="alert">This is the default alert.</p>
<p class="alert alert-info">This is the info alert.</p>
<p class="alert alert-error">This is the error alert.</p>
<p class="alert alert-success">This is the success alert.</p></div>
<pre class="prettyprint">&#60;p class="alert"&#62;This is the default alert.&#60;/p&#62;
&#60;p class="alert alert-info"&#62;This is the info alert.&#60;/p&#62;
&#60;p class="alert alert-error"&#62;This is the error alert.&#60;/p&#62;
&#60;p class="alert alert-success"&#62;This is the success alert.&#60;/p&#62;</pre>
  
<h2 id="Dismissibe">Dismissibe</h2>
<p></p>
<div class="component-example"><div class="alert alert-dismissible">
	<button type="button" class="close" data-dismiss="alert">×</button> Close this alert
</div></div>
<pre class="prettyprint">&#60;div class="alert alert-dismissible"&#62;
	&#60;button type="button" class="close" data-dismiss="alert"&#62;&#215;&#60;/button&#62; Close this alert
&#60;/div&#62;</pre>
  
<h2 id="Fixed">Fixed</h2>
<p></p>
<div class="component-example"><div class="alert alert-info alert-dismissible alert-fixed">
	Close this alert <button type="button" class="close" data-dismiss="alert">×</button>
</div></div>
<pre class="prettyprint">&#60;div class="alert alert-info alert-dismissible alert-fixed"&#62;
	Close this alert &#60;button type="button" class="close" data-dismiss="alert"&#62;&#215;&#60;/button&#62;
&#60;/div&#62;</pre>
  
<h2 id="Links">Links</h2>
<p></p>
<div class="component-example"><p class="alert">This is an alert with a link. <a href="">Link</a></p>
</div>
<pre class="prettyprint">&#60;p class="alert"&#62;This is an alert with a link. &#60;a href=""&#62;Link&#60;/a&#62;&#60;/p&#62;
</pre>
  
<h2 id="Site">Site</h2>
<p></p>
<div class="component-example"><div class="alert-site">
  <p><strong>Coronavirus (COVID-19)</strong>: <a href="#">Latest updated and information</a></p>
</div></div>
<pre class="prettyprint">&#60;div class="alert-site"&#62;
  &#60;p&#62;&#60;strong&#62;Coronavirus (COVID-19)&#60;/strong&#62;: &#60;a href="#"&#62;Latest updated and information&#60;/a&#62;&#60;/p&#62;
&#60;/div&#62;</pre>
  
<h2 id="Squiz">Squiz</h2>
<p></p>
<div class="component-example"><div class="alert-body squiz-bodycopy" id="content_container_1587234" desc="en=En title|cy=CY title">
  <p>
    Please be aware that continued construction of the Super Cycle Highway Scheme will be in place around the Cathays campus until mid-late October
    2019. Senghennydd Road will be closed from 07:30-17:30 from Monday 23 September to Saturday 28 September. During the closure period, Griffiths
    contract staff will direct traffic as appropriate. Please ensure you leave plenty of time to arrive at your class.
  </p>
</div>
</div>
<pre class="prettyprint">&#60;div class="alert-body squiz-bodycopy" id="content_container_1587234" desc="en=En title|cy=CY title"&#62;
  &#60;p&#62;
    Please be aware that continued construction of the Super Cycle Highway Scheme will be in place around the Cathays campus until mid-late October
    2019. Senghennydd Road will be closed from 07:30-17:30 from Monday 23 September to Saturday 28 September. During the closure period, Griffiths
    contract staff will direct traffic as appropriate. Please ensure you leave plenty of time to arrive at your class.
  &#60;/p&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Squiz-no-desc-attribute">Squiz no desc attribute</h2>
<p></p>
<div class="component-example"><div class="alert-body squiz-bodycopy">content</div></div>
<pre class="prettyprint">&#60;div class="alert-body squiz-bodycopy"&#62;content&#60;/div&#62;</pre>
  
<h2 id="Alert-with-icon">Alert with icon</h2>
<p></p>
<div class="component-example"><div class="alert with-icon">
  <div class="alert-icon">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.65 370.37"><title>Coronavirus (COVID-19)</title><path d="M373.94,239.61c-6.14-1.55-12.48,1-16.86,6.06-.27.32-23.8-8.28-35.44-12.32A129.15,129.15,0,0,0,325.17,208c4.85.81,11.29,1.78,11.4,2.07,2.24,5.8,6.26,9.68,10.85,9.69,7.07,0,12.84-9.09,12.88-20.36s-5.66-20.43-12.73-20.46c-4.69,0-8.8,4-11.05,10-.14.36-8-.45-12.06-.68a128.24,128.24,0,0,0-7.21-30.3c12.66-5.12,35.88-14.83,36.18-14.61,5.22,4,11.87,5.22,17.63,2.61,8.86-4,12.27-15.6,7.62-25.87s-15.62-15.33-24.48-11.31c-5.88,2.67-9.35,8.65-9.68,15.38,0,.42-24.53,11.2-35.36,16.2a129.49,129.49,0,0,0-18.92-25.89c4-2.85,10.82-8.07,11.14-7.93,5.72,2.46,11.3,2.29,14.52-1,5-5,2.47-15.53-5.56-23.44s-18.56-10.24-23.53-5.2c-3.28,3.33-3.3,9.07-.6,14.86.2.43-8.73,7.73-10.34,9.53A129.26,129.26,0,0,0,250,85.47c4.47-11.13,13.75-35.33,14.14-35.41,6.44-1.28,11.72-5.44,13.52-11.44,2.77-9.24-3.74-19.36-14.53-22.6s-21.8,1.63-24.57,10.86c-1.84,6.12.4,12.63,5.26,17.27.32.3-8.61,24.65-12,34.6a128.75,128.75,0,0,0-31.3-4.89c.49-3.93,1.19-15.38,1.55-15.56,5.62-2.69,9.16-7,8.81-11.58-.53-7-10.08-12.08-21.32-11.22s-19.92,7.25-19.38,14.31c.35,4.67,4.66,8.45,10.8,10.22.51.15,0,14.38.52,14.5l.21.07A128.88,128.88,0,0,0,153.64,81c-3.59-8.67-16.54-37.44-16.3-37.81,3.6-5.47,4.34-12.11,1.33-17.56-4.63-8.37-16.38-10.73-26.24-5.28s-14.11,16.66-9.49,25c3.07,5.55,9.27,8.46,16,8.21.48,0,13.7,28.47,17.16,35.07A129.4,129.4,0,0,0,112,105.09c-2.58-3.2-10-11.47-9.93-11.84,2-5.9,1.4-11.44-2.12-14.4C94.54,74.3,84.27,77.61,77,86.25s-8.74,19.31-3.32,23.86c3.59,3,9.31,2.58,14.87-.58.38-.21,7.34,7,9.84,9.17a129.41,129.41,0,0,0-16.09,23.54c-11-4.82-34.34-14.64-34.41-15C46.85,120.79,43,115.5,37.2,113.66c-8.86-2.83-18.83,3.58-22.26,14.31s1,21.74,9.85,24.57c5.87,1.88,12.23-.3,16.85-5.11.29-.31,22.57,8.67,32.87,12.58a128,128,0,0,0-6.83,32.11c-4.93-.54-12.82-1.21-13-1.52-2.59-5.65-6.84-9.27-11.43-9-7.06.41-12.25,9.87-11.6,21.12s6.91,20,14,19.64c4.68-.28,8.54-4.52,10.42-10.63.1-.35,7.23-.07,11.45-.06a128.48,128.48,0,0,0,6.65,33c-10.29,4.24-31.25,13.26-31.55,13-5.25-3.78-11.57-4.8-16.72-2.07-7.92,4.2-10.06,15.68-4.78,25.64s16,14.63,23.9,10.43c5.25-2.78,8-8.76,7.65-15.38,0-.42,20.1-9.49,29.17-13.83a129.41,129.41,0,0,0,19.55,27.76c-3.8,3.1-10.21,8.64-10.53,8.52-5.86-2.1-11.41-1.59-14.43,1.87-4.64,5.34-1.51,15.66,7,23.06s19.16,9.08,23.8,3.74c3.08-3.53,2.74-9.26-.31-14.87-.19-.36,6-6.19,8.73-9a129.13,129.13,0,0,0,28.12,17.15c-4.45,11.28-12.56,32.69-12.92,32.77-6.28,1.42-11.19,5.44-12.5,11-2,8.59,5.26,17.64,16.24,20.21s21.5-2.31,23.51-10.9c1.33-5.7-1.41-11.59-6.61-15.66-.31-.25,6.94-20.2,10.62-30.89a129.21,129.21,0,0,0,31.61,4.54c-.15,4.92-.19,13.24-.49,13.4-5.44,3-8.71,7.55-8.08,12.11,1,7,10.8,11.43,22,9.88s19.43-8.47,18.47-15.47c-.64-4.64-5.18-8.15-11.42-9.54-.36-.08-.65-7.25-1-11.45A128.79,128.79,0,0,0,245.69,322c5.46,10,18.92,33.67,18.73,34-3.19,5.79-3.41,12.64.06,18.09,5.33,8.39,17.37,10.28,26.88,4.23s12.9-17.75,7.56-26.14c-3.53-5.56-10-8.26-16.75-7.7-.44,0-13.85-22.63-19.24-31.24a129.37,129.37,0,0,0,26.85-21.59c3.46,3.56,8.53,8.6,8.45,8.91-1.63,6-.69,11.5,3,14.24,5.68,4.2,15.72.26,22.43-8.8s7.53-19.82,1.85-24c-3.77-2.79-9.45-2-14.81,1.49-.3.19-5.28-4.28-8.53-7a129,129,0,0,0,13.43-24.6c12.59,4.95,36.37,14,36.46,14.34,1.54,6.37,5.87,11.45,11.88,13,9.26,2.34,19-4.63,21.75-15.56S383.19,241.94,373.94,239.61ZM256.68,167.55l14.09-12A7,7,0,0,1,282,159l5,17.69a7,7,0,0,1-8.69,8.57l-19.09-5.69A7,7,0,0,1,256.68,167.55ZM235.84,126l10.91,14.79a7,7,0,0,1-5.12,11.08l-19.87,1.4A7,7,0,0,1,215.18,143l9-16.19A7,7,0,0,1,235.84,126Zm-18.9-24.54-5.39,17.57a7,7,0,0,1-11.94,2.49l-13-15.13A7,7,0,0,1,191,95l18.34-2.44A7,7,0,0,1,216.94,101.5Zm-47,15.78,2.65,18.19a7,7,0,0,1-9.73,7.36l-18.19-8.13a7,7,0,0,1-.94-12.2l15.53-10.07A7,7,0,0,1,169.92,117.28ZM111.78,229.5l-18.35-1.14a7,7,0,0,1-5.21-11l11.69-16.13A7,7,0,0,1,112,202.77L118.7,220A7,7,0,0,1,111.78,229.5Zm14-61.36-19,6.1A7,7,0,0,1,98,165.79l4.84-17.87A7,7,0,0,1,114,144.4l14.12,11.77A7,7,0,0,1,125.82,168.14ZM134.24,233l.2-19.92a7,7,0,0,1,10.81-5.74l15.42,10.23a7,7,0,0,1-.17,11.72L144.88,239A7,7,0,0,1,134.24,233Zm28.47,63.51-17.89-4.24a7,7,0,0,1-3.26-11.76l14.26-13.91a7,7,0,0,1,11.69,3.62l3.63,18.14A7,7,0,0,1,162.71,296.53ZM175.37,187l-18.18-8.13a7,7,0,0,1-.95-12.2l15.54-10.06a7,7,0,0,1,10.67,4.84l2.65,18.19A7,7,0,0,1,175.37,187ZM180,261.25l8.37-16.51a7,7,0,0,1,11.66-1.18L211.49,258a7,7,0,0,1-4.71,11.26L187,271.32A7,7,0,0,1,180,261.25Zm33.57-51.88-18.19-8.13a7,7,0,0,1-.94-12.21L210,179a7,7,0,0,1,10.67,4.84l2.65,18.2A7,7,0,0,1,213.59,209.37Zm10.11,77.11L229.8,269a7,7,0,0,1,11.4-2.72L254.45,279a7,7,0,0,1-3.17,11.78l-19.35,4.73A7,7,0,0,1,223.7,286.48Zm38.88-37.13-19.87,1.39a7,7,0,0,1-6.58-10.32l9-16.19a7,7,0,0,1,11.69-.76l10.91,14.8A7,7,0,0,1,262.58,249.35Zm31-20.82-14.3-13.87a7,7,0,0,1,3.3-11.78l18-4.13A7,7,0,0,1,309,207l-3.74,18A7,7,0,0,1,293.54,228.53Z" transform="translate(-13.78 -15.02)"></path></svg></div>
  <div class="alert-body">
    <h3>Coronavirus (COVID-19)</h3>
    <p>Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies. Sed ac augue nunc. Nulla facilisi. Donec sed lobortis mauris. Ut eget rutrum metus, id <a href="">fringilla tellus</a>. </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
</div>
<div class="alert alert-error with-icon">
  <div class="alert-icon">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.65 370.37"><title>Coronavirus (COVID-19)</title><path d="M373.94,239.61c-6.14-1.55-12.48,1-16.86,6.06-.27.32-23.8-8.28-35.44-12.32A129.15,129.15,0,0,0,325.17,208c4.85.81,11.29,1.78,11.4,2.07,2.24,5.8,6.26,9.68,10.85,9.69,7.07,0,12.84-9.09,12.88-20.36s-5.66-20.43-12.73-20.46c-4.69,0-8.8,4-11.05,10-.14.36-8-.45-12.06-.68a128.24,128.24,0,0,0-7.21-30.3c12.66-5.12,35.88-14.83,36.18-14.61,5.22,4,11.87,5.22,17.63,2.61,8.86-4,12.27-15.6,7.62-25.87s-15.62-15.33-24.48-11.31c-5.88,2.67-9.35,8.65-9.68,15.38,0,.42-24.53,11.2-35.36,16.2a129.49,129.49,0,0,0-18.92-25.89c4-2.85,10.82-8.07,11.14-7.93,5.72,2.46,11.3,2.29,14.52-1,5-5,2.47-15.53-5.56-23.44s-18.56-10.24-23.53-5.2c-3.28,3.33-3.3,9.07-.6,14.86.2.43-8.73,7.73-10.34,9.53A129.26,129.26,0,0,0,250,85.47c4.47-11.13,13.75-35.33,14.14-35.41,6.44-1.28,11.72-5.44,13.52-11.44,2.77-9.24-3.74-19.36-14.53-22.6s-21.8,1.63-24.57,10.86c-1.84,6.12.4,12.63,5.26,17.27.32.3-8.61,24.65-12,34.6a128.75,128.75,0,0,0-31.3-4.89c.49-3.93,1.19-15.38,1.55-15.56,5.62-2.69,9.16-7,8.81-11.58-.53-7-10.08-12.08-21.32-11.22s-19.92,7.25-19.38,14.31c.35,4.67,4.66,8.45,10.8,10.22.51.15,0,14.38.52,14.5l.21.07A128.88,128.88,0,0,0,153.64,81c-3.59-8.67-16.54-37.44-16.3-37.81,3.6-5.47,4.34-12.11,1.33-17.56-4.63-8.37-16.38-10.73-26.24-5.28s-14.11,16.66-9.49,25c3.07,5.55,9.27,8.46,16,8.21.48,0,13.7,28.47,17.16,35.07A129.4,129.4,0,0,0,112,105.09c-2.58-3.2-10-11.47-9.93-11.84,2-5.9,1.4-11.44-2.12-14.4C94.54,74.3,84.27,77.61,77,86.25s-8.74,19.31-3.32,23.86c3.59,3,9.31,2.58,14.87-.58.38-.21,7.34,7,9.84,9.17a129.41,129.41,0,0,0-16.09,23.54c-11-4.82-34.34-14.64-34.41-15C46.85,120.79,43,115.5,37.2,113.66c-8.86-2.83-18.83,3.58-22.26,14.31s1,21.74,9.85,24.57c5.87,1.88,12.23-.3,16.85-5.11.29-.31,22.57,8.67,32.87,12.58a128,128,0,0,0-6.83,32.11c-4.93-.54-12.82-1.21-13-1.52-2.59-5.65-6.84-9.27-11.43-9-7.06.41-12.25,9.87-11.6,21.12s6.91,20,14,19.64c4.68-.28,8.54-4.52,10.42-10.63.1-.35,7.23-.07,11.45-.06a128.48,128.48,0,0,0,6.65,33c-10.29,4.24-31.25,13.26-31.55,13-5.25-3.78-11.57-4.8-16.72-2.07-7.92,4.2-10.06,15.68-4.78,25.64s16,14.63,23.9,10.43c5.25-2.78,8-8.76,7.65-15.38,0-.42,20.1-9.49,29.17-13.83a129.41,129.41,0,0,0,19.55,27.76c-3.8,3.1-10.21,8.64-10.53,8.52-5.86-2.1-11.41-1.59-14.43,1.87-4.64,5.34-1.51,15.66,7,23.06s19.16,9.08,23.8,3.74c3.08-3.53,2.74-9.26-.31-14.87-.19-.36,6-6.19,8.73-9a129.13,129.13,0,0,0,28.12,17.15c-4.45,11.28-12.56,32.69-12.92,32.77-6.28,1.42-11.19,5.44-12.5,11-2,8.59,5.26,17.64,16.24,20.21s21.5-2.31,23.51-10.9c1.33-5.7-1.41-11.59-6.61-15.66-.31-.25,6.94-20.2,10.62-30.89a129.21,129.21,0,0,0,31.61,4.54c-.15,4.92-.19,13.24-.49,13.4-5.44,3-8.71,7.55-8.08,12.11,1,7,10.8,11.43,22,9.88s19.43-8.47,18.47-15.47c-.64-4.64-5.18-8.15-11.42-9.54-.36-.08-.65-7.25-1-11.45A128.79,128.79,0,0,0,245.69,322c5.46,10,18.92,33.67,18.73,34-3.19,5.79-3.41,12.64.06,18.09,5.33,8.39,17.37,10.28,26.88,4.23s12.9-17.75,7.56-26.14c-3.53-5.56-10-8.26-16.75-7.7-.44,0-13.85-22.63-19.24-31.24a129.37,129.37,0,0,0,26.85-21.59c3.46,3.56,8.53,8.6,8.45,8.91-1.63,6-.69,11.5,3,14.24,5.68,4.2,15.72.26,22.43-8.8s7.53-19.82,1.85-24c-3.77-2.79-9.45-2-14.81,1.49-.3.19-5.28-4.28-8.53-7a129,129,0,0,0,13.43-24.6c12.59,4.95,36.37,14,36.46,14.34,1.54,6.37,5.87,11.45,11.88,13,9.26,2.34,19-4.63,21.75-15.56S383.19,241.94,373.94,239.61ZM256.68,167.55l14.09-12A7,7,0,0,1,282,159l5,17.69a7,7,0,0,1-8.69,8.57l-19.09-5.69A7,7,0,0,1,256.68,167.55ZM235.84,126l10.91,14.79a7,7,0,0,1-5.12,11.08l-19.87,1.4A7,7,0,0,1,215.18,143l9-16.19A7,7,0,0,1,235.84,126Zm-18.9-24.54-5.39,17.57a7,7,0,0,1-11.94,2.49l-13-15.13A7,7,0,0,1,191,95l18.34-2.44A7,7,0,0,1,216.94,101.5Zm-47,15.78,2.65,18.19a7,7,0,0,1-9.73,7.36l-18.19-8.13a7,7,0,0,1-.94-12.2l15.53-10.07A7,7,0,0,1,169.92,117.28ZM111.78,229.5l-18.35-1.14a7,7,0,0,1-5.21-11l11.69-16.13A7,7,0,0,1,112,202.77L118.7,220A7,7,0,0,1,111.78,229.5Zm14-61.36-19,6.1A7,7,0,0,1,98,165.79l4.84-17.87A7,7,0,0,1,114,144.4l14.12,11.77A7,7,0,0,1,125.82,168.14ZM134.24,233l.2-19.92a7,7,0,0,1,10.81-5.74l15.42,10.23a7,7,0,0,1-.17,11.72L144.88,239A7,7,0,0,1,134.24,233Zm28.47,63.51-17.89-4.24a7,7,0,0,1-3.26-11.76l14.26-13.91a7,7,0,0,1,11.69,3.62l3.63,18.14A7,7,0,0,1,162.71,296.53ZM175.37,187l-18.18-8.13a7,7,0,0,1-.95-12.2l15.54-10.06a7,7,0,0,1,10.67,4.84l2.65,18.19A7,7,0,0,1,175.37,187ZM180,261.25l8.37-16.51a7,7,0,0,1,11.66-1.18L211.49,258a7,7,0,0,1-4.71,11.26L187,271.32A7,7,0,0,1,180,261.25Zm33.57-51.88-18.19-8.13a7,7,0,0,1-.94-12.21L210,179a7,7,0,0,1,10.67,4.84l2.65,18.2A7,7,0,0,1,213.59,209.37Zm10.11,77.11L229.8,269a7,7,0,0,1,11.4-2.72L254.45,279a7,7,0,0,1-3.17,11.78l-19.35,4.73A7,7,0,0,1,223.7,286.48Zm38.88-37.13-19.87,1.39a7,7,0,0,1-6.58-10.32l9-16.19a7,7,0,0,1,11.69-.76l10.91,14.8A7,7,0,0,1,262.58,249.35Zm31-20.82-14.3-13.87a7,7,0,0,1,3.3-11.78l18-4.13A7,7,0,0,1,309,207l-3.74,18A7,7,0,0,1,293.54,228.53Z" transform="translate(-13.78 -15.02)"></path></svg></div>
  <div class="alert-body">
    <h3>Coronavirus (COVID-19)</h3>
    <p>Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies. Sed ac augue nunc. Nulla facilisi. Donec sed lobortis mauris. Ut eget rutrum metus, id <a href="">fringilla tellus</a>. </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
</div>

<div class="alert alert-success with-icon">
  <div class="alert-icon">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.65 370.37"><title>Coronavirus (COVID-19)</title><path d="M373.94,239.61c-6.14-1.55-12.48,1-16.86,6.06-.27.32-23.8-8.28-35.44-12.32A129.15,129.15,0,0,0,325.17,208c4.85.81,11.29,1.78,11.4,2.07,2.24,5.8,6.26,9.68,10.85,9.69,7.07,0,12.84-9.09,12.88-20.36s-5.66-20.43-12.73-20.46c-4.69,0-8.8,4-11.05,10-.14.36-8-.45-12.06-.68a128.24,128.24,0,0,0-7.21-30.3c12.66-5.12,35.88-14.83,36.18-14.61,5.22,4,11.87,5.22,17.63,2.61,8.86-4,12.27-15.6,7.62-25.87s-15.62-15.33-24.48-11.31c-5.88,2.67-9.35,8.65-9.68,15.38,0,.42-24.53,11.2-35.36,16.2a129.49,129.49,0,0,0-18.92-25.89c4-2.85,10.82-8.07,11.14-7.93,5.72,2.46,11.3,2.29,14.52-1,5-5,2.47-15.53-5.56-23.44s-18.56-10.24-23.53-5.2c-3.28,3.33-3.3,9.07-.6,14.86.2.43-8.73,7.73-10.34,9.53A129.26,129.26,0,0,0,250,85.47c4.47-11.13,13.75-35.33,14.14-35.41,6.44-1.28,11.72-5.44,13.52-11.44,2.77-9.24-3.74-19.36-14.53-22.6s-21.8,1.63-24.57,10.86c-1.84,6.12.4,12.63,5.26,17.27.32.3-8.61,24.65-12,34.6a128.75,128.75,0,0,0-31.3-4.89c.49-3.93,1.19-15.38,1.55-15.56,5.62-2.69,9.16-7,8.81-11.58-.53-7-10.08-12.08-21.32-11.22s-19.92,7.25-19.38,14.31c.35,4.67,4.66,8.45,10.8,10.22.51.15,0,14.38.52,14.5l.21.07A128.88,128.88,0,0,0,153.64,81c-3.59-8.67-16.54-37.44-16.3-37.81,3.6-5.47,4.34-12.11,1.33-17.56-4.63-8.37-16.38-10.73-26.24-5.28s-14.11,16.66-9.49,25c3.07,5.55,9.27,8.46,16,8.21.48,0,13.7,28.47,17.16,35.07A129.4,129.4,0,0,0,112,105.09c-2.58-3.2-10-11.47-9.93-11.84,2-5.9,1.4-11.44-2.12-14.4C94.54,74.3,84.27,77.61,77,86.25s-8.74,19.31-3.32,23.86c3.59,3,9.31,2.58,14.87-.58.38-.21,7.34,7,9.84,9.17a129.41,129.41,0,0,0-16.09,23.54c-11-4.82-34.34-14.64-34.41-15C46.85,120.79,43,115.5,37.2,113.66c-8.86-2.83-18.83,3.58-22.26,14.31s1,21.74,9.85,24.57c5.87,1.88,12.23-.3,16.85-5.11.29-.31,22.57,8.67,32.87,12.58a128,128,0,0,0-6.83,32.11c-4.93-.54-12.82-1.21-13-1.52-2.59-5.65-6.84-9.27-11.43-9-7.06.41-12.25,9.87-11.6,21.12s6.91,20,14,19.64c4.68-.28,8.54-4.52,10.42-10.63.1-.35,7.23-.07,11.45-.06a128.48,128.48,0,0,0,6.65,33c-10.29,4.24-31.25,13.26-31.55,13-5.25-3.78-11.57-4.8-16.72-2.07-7.92,4.2-10.06,15.68-4.78,25.64s16,14.63,23.9,10.43c5.25-2.78,8-8.76,7.65-15.38,0-.42,20.1-9.49,29.17-13.83a129.41,129.41,0,0,0,19.55,27.76c-3.8,3.1-10.21,8.64-10.53,8.52-5.86-2.1-11.41-1.59-14.43,1.87-4.64,5.34-1.51,15.66,7,23.06s19.16,9.08,23.8,3.74c3.08-3.53,2.74-9.26-.31-14.87-.19-.36,6-6.19,8.73-9a129.13,129.13,0,0,0,28.12,17.15c-4.45,11.28-12.56,32.69-12.92,32.77-6.28,1.42-11.19,5.44-12.5,11-2,8.59,5.26,17.64,16.24,20.21s21.5-2.31,23.51-10.9c1.33-5.7-1.41-11.59-6.61-15.66-.31-.25,6.94-20.2,10.62-30.89a129.21,129.21,0,0,0,31.61,4.54c-.15,4.92-.19,13.24-.49,13.4-5.44,3-8.71,7.55-8.08,12.11,1,7,10.8,11.43,22,9.88s19.43-8.47,18.47-15.47c-.64-4.64-5.18-8.15-11.42-9.54-.36-.08-.65-7.25-1-11.45A128.79,128.79,0,0,0,245.69,322c5.46,10,18.92,33.67,18.73,34-3.19,5.79-3.41,12.64.06,18.09,5.33,8.39,17.37,10.28,26.88,4.23s12.9-17.75,7.56-26.14c-3.53-5.56-10-8.26-16.75-7.7-.44,0-13.85-22.63-19.24-31.24a129.37,129.37,0,0,0,26.85-21.59c3.46,3.56,8.53,8.6,8.45,8.91-1.63,6-.69,11.5,3,14.24,5.68,4.2,15.72.26,22.43-8.8s7.53-19.82,1.85-24c-3.77-2.79-9.45-2-14.81,1.49-.3.19-5.28-4.28-8.53-7a129,129,0,0,0,13.43-24.6c12.59,4.95,36.37,14,36.46,14.34,1.54,6.37,5.87,11.45,11.88,13,9.26,2.34,19-4.63,21.75-15.56S383.19,241.94,373.94,239.61ZM256.68,167.55l14.09-12A7,7,0,0,1,282,159l5,17.69a7,7,0,0,1-8.69,8.57l-19.09-5.69A7,7,0,0,1,256.68,167.55ZM235.84,126l10.91,14.79a7,7,0,0,1-5.12,11.08l-19.87,1.4A7,7,0,0,1,215.18,143l9-16.19A7,7,0,0,1,235.84,126Zm-18.9-24.54-5.39,17.57a7,7,0,0,1-11.94,2.49l-13-15.13A7,7,0,0,1,191,95l18.34-2.44A7,7,0,0,1,216.94,101.5Zm-47,15.78,2.65,18.19a7,7,0,0,1-9.73,7.36l-18.19-8.13a7,7,0,0,1-.94-12.2l15.53-10.07A7,7,0,0,1,169.92,117.28ZM111.78,229.5l-18.35-1.14a7,7,0,0,1-5.21-11l11.69-16.13A7,7,0,0,1,112,202.77L118.7,220A7,7,0,0,1,111.78,229.5Zm14-61.36-19,6.1A7,7,0,0,1,98,165.79l4.84-17.87A7,7,0,0,1,114,144.4l14.12,11.77A7,7,0,0,1,125.82,168.14ZM134.24,233l.2-19.92a7,7,0,0,1,10.81-5.74l15.42,10.23a7,7,0,0,1-.17,11.72L144.88,239A7,7,0,0,1,134.24,233Zm28.47,63.51-17.89-4.24a7,7,0,0,1-3.26-11.76l14.26-13.91a7,7,0,0,1,11.69,3.62l3.63,18.14A7,7,0,0,1,162.71,296.53ZM175.37,187l-18.18-8.13a7,7,0,0,1-.95-12.2l15.54-10.06a7,7,0,0,1,10.67,4.84l2.65,18.19A7,7,0,0,1,175.37,187ZM180,261.25l8.37-16.51a7,7,0,0,1,11.66-1.18L211.49,258a7,7,0,0,1-4.71,11.26L187,271.32A7,7,0,0,1,180,261.25Zm33.57-51.88-18.19-8.13a7,7,0,0,1-.94-12.21L210,179a7,7,0,0,1,10.67,4.84l2.65,18.2A7,7,0,0,1,213.59,209.37Zm10.11,77.11L229.8,269a7,7,0,0,1,11.4-2.72L254.45,279a7,7,0,0,1-3.17,11.78l-19.35,4.73A7,7,0,0,1,223.7,286.48Zm38.88-37.13-19.87,1.39a7,7,0,0,1-6.58-10.32l9-16.19a7,7,0,0,1,11.69-.76l10.91,14.8A7,7,0,0,1,262.58,249.35Zm31-20.82-14.3-13.87a7,7,0,0,1,3.3-11.78l18-4.13A7,7,0,0,1,309,207l-3.74,18A7,7,0,0,1,293.54,228.53Z" transform="translate(-13.78 -15.02)"></path></svg></div>
  <div class="alert-body">
    <h3>Coronavirus (COVID-19)</h3>
    <p>Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies. Sed ac augue nunc. Nulla facilisi. Donec sed lobortis mauris. Ut eget rutrum metus, id <a href="">fringilla tellus</a>. </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
</div>

<div class="alert alert-info with-icon">
  <div class="alert-icon">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.65 370.37"><title>Coronavirus (COVID-19)</title><path d="M373.94,239.61c-6.14-1.55-12.48,1-16.86,6.06-.27.32-23.8-8.28-35.44-12.32A129.15,129.15,0,0,0,325.17,208c4.85.81,11.29,1.78,11.4,2.07,2.24,5.8,6.26,9.68,10.85,9.69,7.07,0,12.84-9.09,12.88-20.36s-5.66-20.43-12.73-20.46c-4.69,0-8.8,4-11.05,10-.14.36-8-.45-12.06-.68a128.24,128.24,0,0,0-7.21-30.3c12.66-5.12,35.88-14.83,36.18-14.61,5.22,4,11.87,5.22,17.63,2.61,8.86-4,12.27-15.6,7.62-25.87s-15.62-15.33-24.48-11.31c-5.88,2.67-9.35,8.65-9.68,15.38,0,.42-24.53,11.2-35.36,16.2a129.49,129.49,0,0,0-18.92-25.89c4-2.85,10.82-8.07,11.14-7.93,5.72,2.46,11.3,2.29,14.52-1,5-5,2.47-15.53-5.56-23.44s-18.56-10.24-23.53-5.2c-3.28,3.33-3.3,9.07-.6,14.86.2.43-8.73,7.73-10.34,9.53A129.26,129.26,0,0,0,250,85.47c4.47-11.13,13.75-35.33,14.14-35.41,6.44-1.28,11.72-5.44,13.52-11.44,2.77-9.24-3.74-19.36-14.53-22.6s-21.8,1.63-24.57,10.86c-1.84,6.12.4,12.63,5.26,17.27.32.3-8.61,24.65-12,34.6a128.75,128.75,0,0,0-31.3-4.89c.49-3.93,1.19-15.38,1.55-15.56,5.62-2.69,9.16-7,8.81-11.58-.53-7-10.08-12.08-21.32-11.22s-19.92,7.25-19.38,14.31c.35,4.67,4.66,8.45,10.8,10.22.51.15,0,14.38.52,14.5l.21.07A128.88,128.88,0,0,0,153.64,81c-3.59-8.67-16.54-37.44-16.3-37.81,3.6-5.47,4.34-12.11,1.33-17.56-4.63-8.37-16.38-10.73-26.24-5.28s-14.11,16.66-9.49,25c3.07,5.55,9.27,8.46,16,8.21.48,0,13.7,28.47,17.16,35.07A129.4,129.4,0,0,0,112,105.09c-2.58-3.2-10-11.47-9.93-11.84,2-5.9,1.4-11.44-2.12-14.4C94.54,74.3,84.27,77.61,77,86.25s-8.74,19.31-3.32,23.86c3.59,3,9.31,2.58,14.87-.58.38-.21,7.34,7,9.84,9.17a129.41,129.41,0,0,0-16.09,23.54c-11-4.82-34.34-14.64-34.41-15C46.85,120.79,43,115.5,37.2,113.66c-8.86-2.83-18.83,3.58-22.26,14.31s1,21.74,9.85,24.57c5.87,1.88,12.23-.3,16.85-5.11.29-.31,22.57,8.67,32.87,12.58a128,128,0,0,0-6.83,32.11c-4.93-.54-12.82-1.21-13-1.52-2.59-5.65-6.84-9.27-11.43-9-7.06.41-12.25,9.87-11.6,21.12s6.91,20,14,19.64c4.68-.28,8.54-4.52,10.42-10.63.1-.35,7.23-.07,11.45-.06a128.48,128.48,0,0,0,6.65,33c-10.29,4.24-31.25,13.26-31.55,13-5.25-3.78-11.57-4.8-16.72-2.07-7.92,4.2-10.06,15.68-4.78,25.64s16,14.63,23.9,10.43c5.25-2.78,8-8.76,7.65-15.38,0-.42,20.1-9.49,29.17-13.83a129.41,129.41,0,0,0,19.55,27.76c-3.8,3.1-10.21,8.64-10.53,8.52-5.86-2.1-11.41-1.59-14.43,1.87-4.64,5.34-1.51,15.66,7,23.06s19.16,9.08,23.8,3.74c3.08-3.53,2.74-9.26-.31-14.87-.19-.36,6-6.19,8.73-9a129.13,129.13,0,0,0,28.12,17.15c-4.45,11.28-12.56,32.69-12.92,32.77-6.28,1.42-11.19,5.44-12.5,11-2,8.59,5.26,17.64,16.24,20.21s21.5-2.31,23.51-10.9c1.33-5.7-1.41-11.59-6.61-15.66-.31-.25,6.94-20.2,10.62-30.89a129.21,129.21,0,0,0,31.61,4.54c-.15,4.92-.19,13.24-.49,13.4-5.44,3-8.71,7.55-8.08,12.11,1,7,10.8,11.43,22,9.88s19.43-8.47,18.47-15.47c-.64-4.64-5.18-8.15-11.42-9.54-.36-.08-.65-7.25-1-11.45A128.79,128.79,0,0,0,245.69,322c5.46,10,18.92,33.67,18.73,34-3.19,5.79-3.41,12.64.06,18.09,5.33,8.39,17.37,10.28,26.88,4.23s12.9-17.75,7.56-26.14c-3.53-5.56-10-8.26-16.75-7.7-.44,0-13.85-22.63-19.24-31.24a129.37,129.37,0,0,0,26.85-21.59c3.46,3.56,8.53,8.6,8.45,8.91-1.63,6-.69,11.5,3,14.24,5.68,4.2,15.72.26,22.43-8.8s7.53-19.82,1.85-24c-3.77-2.79-9.45-2-14.81,1.49-.3.19-5.28-4.28-8.53-7a129,129,0,0,0,13.43-24.6c12.59,4.95,36.37,14,36.46,14.34,1.54,6.37,5.87,11.45,11.88,13,9.26,2.34,19-4.63,21.75-15.56S383.19,241.94,373.94,239.61ZM256.68,167.55l14.09-12A7,7,0,0,1,282,159l5,17.69a7,7,0,0,1-8.69,8.57l-19.09-5.69A7,7,0,0,1,256.68,167.55ZM235.84,126l10.91,14.79a7,7,0,0,1-5.12,11.08l-19.87,1.4A7,7,0,0,1,215.18,143l9-16.19A7,7,0,0,1,235.84,126Zm-18.9-24.54-5.39,17.57a7,7,0,0,1-11.94,2.49l-13-15.13A7,7,0,0,1,191,95l18.34-2.44A7,7,0,0,1,216.94,101.5Zm-47,15.78,2.65,18.19a7,7,0,0,1-9.73,7.36l-18.19-8.13a7,7,0,0,1-.94-12.2l15.53-10.07A7,7,0,0,1,169.92,117.28ZM111.78,229.5l-18.35-1.14a7,7,0,0,1-5.21-11l11.69-16.13A7,7,0,0,1,112,202.77L118.7,220A7,7,0,0,1,111.78,229.5Zm14-61.36-19,6.1A7,7,0,0,1,98,165.79l4.84-17.87A7,7,0,0,1,114,144.4l14.12,11.77A7,7,0,0,1,125.82,168.14ZM134.24,233l.2-19.92a7,7,0,0,1,10.81-5.74l15.42,10.23a7,7,0,0,1-.17,11.72L144.88,239A7,7,0,0,1,134.24,233Zm28.47,63.51-17.89-4.24a7,7,0,0,1-3.26-11.76l14.26-13.91a7,7,0,0,1,11.69,3.62l3.63,18.14A7,7,0,0,1,162.71,296.53ZM175.37,187l-18.18-8.13a7,7,0,0,1-.95-12.2l15.54-10.06a7,7,0,0,1,10.67,4.84l2.65,18.19A7,7,0,0,1,175.37,187ZM180,261.25l8.37-16.51a7,7,0,0,1,11.66-1.18L211.49,258a7,7,0,0,1-4.71,11.26L187,271.32A7,7,0,0,1,180,261.25Zm33.57-51.88-18.19-8.13a7,7,0,0,1-.94-12.21L210,179a7,7,0,0,1,10.67,4.84l2.65,18.2A7,7,0,0,1,213.59,209.37Zm10.11,77.11L229.8,269a7,7,0,0,1,11.4-2.72L254.45,279a7,7,0,0,1-3.17,11.78l-19.35,4.73A7,7,0,0,1,223.7,286.48Zm38.88-37.13-19.87,1.39a7,7,0,0,1-6.58-10.32l9-16.19a7,7,0,0,1,11.69-.76l10.91,14.8A7,7,0,0,1,262.58,249.35Zm31-20.82-14.3-13.87a7,7,0,0,1,3.3-11.78l18-4.13A7,7,0,0,1,309,207l-3.74,18A7,7,0,0,1,293.54,228.53Z" transform="translate(-13.78 -15.02)"></path></svg></div>
  <div class="alert-body">
    <h3>Coronavirus (COVID-19)</h3>
    <p>Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies. Sed ac augue nunc. Nulla facilisi. Donec sed lobortis mauris. Ut eget rutrum metus, id <a href="">fringilla tellus</a>. </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="alert with-icon"&#62;
  &#60;div class="alert-icon"&#62;
    &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.65 370.37"&#62;&#60;title&#62;Coronavirus (COVID-19)&#60;/title&#62;&#60;path d="M373.94,239.61c-6.14-1.55-12.48,1-16.86,6.06-.27.32-23.8-8.28-35.44-12.32A129.15,129.15,0,0,0,325.17,208c4.85.81,11.29,1.78,11.4,2.07,2.24,5.8,6.26,9.68,10.85,9.69,7.07,0,12.84-9.09,12.88-20.36s-5.66-20.43-12.73-20.46c-4.69,0-8.8,4-11.05,10-.14.36-8-.45-12.06-.68a128.24,128.24,0,0,0-7.21-30.3c12.66-5.12,35.88-14.83,36.18-14.61,5.22,4,11.87,5.22,17.63,2.61,8.86-4,12.27-15.6,7.62-25.87s-15.62-15.33-24.48-11.31c-5.88,2.67-9.35,8.65-9.68,15.38,0,.42-24.53,11.2-35.36,16.2a129.49,129.49,0,0,0-18.92-25.89c4-2.85,10.82-8.07,11.14-7.93,5.72,2.46,11.3,2.29,14.52-1,5-5,2.47-15.53-5.56-23.44s-18.56-10.24-23.53-5.2c-3.28,3.33-3.3,9.07-.6,14.86.2.43-8.73,7.73-10.34,9.53A129.26,129.26,0,0,0,250,85.47c4.47-11.13,13.75-35.33,14.14-35.41,6.44-1.28,11.72-5.44,13.52-11.44,2.77-9.24-3.74-19.36-14.53-22.6s-21.8,1.63-24.57,10.86c-1.84,6.12.4,12.63,5.26,17.27.32.3-8.61,24.65-12,34.6a128.75,128.75,0,0,0-31.3-4.89c.49-3.93,1.19-15.38,1.55-15.56,5.62-2.69,9.16-7,8.81-11.58-.53-7-10.08-12.08-21.32-11.22s-19.92,7.25-19.38,14.31c.35,4.67,4.66,8.45,10.8,10.22.51.15,0,14.38.52,14.5l.21.07A128.88,128.88,0,0,0,153.64,81c-3.59-8.67-16.54-37.44-16.3-37.81,3.6-5.47,4.34-12.11,1.33-17.56-4.63-8.37-16.38-10.73-26.24-5.28s-14.11,16.66-9.49,25c3.07,5.55,9.27,8.46,16,8.21.48,0,13.7,28.47,17.16,35.07A129.4,129.4,0,0,0,112,105.09c-2.58-3.2-10-11.47-9.93-11.84,2-5.9,1.4-11.44-2.12-14.4C94.54,74.3,84.27,77.61,77,86.25s-8.74,19.31-3.32,23.86c3.59,3,9.31,2.58,14.87-.58.38-.21,7.34,7,9.84,9.17a129.41,129.41,0,0,0-16.09,23.54c-11-4.82-34.34-14.64-34.41-15C46.85,120.79,43,115.5,37.2,113.66c-8.86-2.83-18.83,3.58-22.26,14.31s1,21.74,9.85,24.57c5.87,1.88,12.23-.3,16.85-5.11.29-.31,22.57,8.67,32.87,12.58a128,128,0,0,0-6.83,32.11c-4.93-.54-12.82-1.21-13-1.52-2.59-5.65-6.84-9.27-11.43-9-7.06.41-12.25,9.87-11.6,21.12s6.91,20,14,19.64c4.68-.28,8.54-4.52,10.42-10.63.1-.35,7.23-.07,11.45-.06a128.48,128.48,0,0,0,6.65,33c-10.29,4.24-31.25,13.26-31.55,13-5.25-3.78-11.57-4.8-16.72-2.07-7.92,4.2-10.06,15.68-4.78,25.64s16,14.63,23.9,10.43c5.25-2.78,8-8.76,7.65-15.38,0-.42,20.1-9.49,29.17-13.83a129.41,129.41,0,0,0,19.55,27.76c-3.8,3.1-10.21,8.64-10.53,8.52-5.86-2.1-11.41-1.59-14.43,1.87-4.64,5.34-1.51,15.66,7,23.06s19.16,9.08,23.8,3.74c3.08-3.53,2.74-9.26-.31-14.87-.19-.36,6-6.19,8.73-9a129.13,129.13,0,0,0,28.12,17.15c-4.45,11.28-12.56,32.69-12.92,32.77-6.28,1.42-11.19,5.44-12.5,11-2,8.59,5.26,17.64,16.24,20.21s21.5-2.31,23.51-10.9c1.33-5.7-1.41-11.59-6.61-15.66-.31-.25,6.94-20.2,10.62-30.89a129.21,129.21,0,0,0,31.61,4.54c-.15,4.92-.19,13.24-.49,13.4-5.44,3-8.71,7.55-8.08,12.11,1,7,10.8,11.43,22,9.88s19.43-8.47,18.47-15.47c-.64-4.64-5.18-8.15-11.42-9.54-.36-.08-.65-7.25-1-11.45A128.79,128.79,0,0,0,245.69,322c5.46,10,18.92,33.67,18.73,34-3.19,5.79-3.41,12.64.06,18.09,5.33,8.39,17.37,10.28,26.88,4.23s12.9-17.75,7.56-26.14c-3.53-5.56-10-8.26-16.75-7.7-.44,0-13.85-22.63-19.24-31.24a129.37,129.37,0,0,0,26.85-21.59c3.46,3.56,8.53,8.6,8.45,8.91-1.63,6-.69,11.5,3,14.24,5.68,4.2,15.72.26,22.43-8.8s7.53-19.82,1.85-24c-3.77-2.79-9.45-2-14.81,1.49-.3.19-5.28-4.28-8.53-7a129,129,0,0,0,13.43-24.6c12.59,4.95,36.37,14,36.46,14.34,1.54,6.37,5.87,11.45,11.88,13,9.26,2.34,19-4.63,21.75-15.56S383.19,241.94,373.94,239.61ZM256.68,167.55l14.09-12A7,7,0,0,1,282,159l5,17.69a7,7,0,0,1-8.69,8.57l-19.09-5.69A7,7,0,0,1,256.68,167.55ZM235.84,126l10.91,14.79a7,7,0,0,1-5.12,11.08l-19.87,1.4A7,7,0,0,1,215.18,143l9-16.19A7,7,0,0,1,235.84,126Zm-18.9-24.54-5.39,17.57a7,7,0,0,1-11.94,2.49l-13-15.13A7,7,0,0,1,191,95l18.34-2.44A7,7,0,0,1,216.94,101.5Zm-47,15.78,2.65,18.19a7,7,0,0,1-9.73,7.36l-18.19-8.13a7,7,0,0,1-.94-12.2l15.53-10.07A7,7,0,0,1,169.92,117.28ZM111.78,229.5l-18.35-1.14a7,7,0,0,1-5.21-11l11.69-16.13A7,7,0,0,1,112,202.77L118.7,220A7,7,0,0,1,111.78,229.5Zm14-61.36-19,6.1A7,7,0,0,1,98,165.79l4.84-17.87A7,7,0,0,1,114,144.4l14.12,11.77A7,7,0,0,1,125.82,168.14ZM134.24,233l.2-19.92a7,7,0,0,1,10.81-5.74l15.42,10.23a7,7,0,0,1-.17,11.72L144.88,239A7,7,0,0,1,134.24,233Zm28.47,63.51-17.89-4.24a7,7,0,0,1-3.26-11.76l14.26-13.91a7,7,0,0,1,11.69,3.62l3.63,18.14A7,7,0,0,1,162.71,296.53ZM175.37,187l-18.18-8.13a7,7,0,0,1-.95-12.2l15.54-10.06a7,7,0,0,1,10.67,4.84l2.65,18.19A7,7,0,0,1,175.37,187ZM180,261.25l8.37-16.51a7,7,0,0,1,11.66-1.18L211.49,258a7,7,0,0,1-4.71,11.26L187,271.32A7,7,0,0,1,180,261.25Zm33.57-51.88-18.19-8.13a7,7,0,0,1-.94-12.21L210,179a7,7,0,0,1,10.67,4.84l2.65,18.2A7,7,0,0,1,213.59,209.37Zm10.11,77.11L229.8,269a7,7,0,0,1,11.4-2.72L254.45,279a7,7,0,0,1-3.17,11.78l-19.35,4.73A7,7,0,0,1,223.7,286.48Zm38.88-37.13-19.87,1.39a7,7,0,0,1-6.58-10.32l9-16.19a7,7,0,0,1,11.69-.76l10.91,14.8A7,7,0,0,1,262.58,249.35Zm31-20.82-14.3-13.87a7,7,0,0,1,3.3-11.78l18-4.13A7,7,0,0,1,309,207l-3.74,18A7,7,0,0,1,293.54,228.53Z" transform="translate(-13.78 -15.02)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/div&#62;
  &#60;div class="alert-body"&#62;
    &#60;h3&#62;Coronavirus (COVID-19)&#60;/h3&#62;
    &#60;p&#62;Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies. Sed ac augue nunc. Nulla facilisi. Donec sed lobortis mauris. Ut eget rutrum metus, id &#60;a href=""&#62;fringilla tellus&#60;/a&#62;. &#60;/p&#62;
    &#60;ul&#62;
      &#60;li&#62;List item one&#60;/li&#62;
      &#60;li&#62;List item two&#60;/li&#62;
      &#60;li&#62;List item three&#60;/li&#62;
    &#60;/ul&#62;
  &#60;/div&#62;
&#60;/div&#62;
&#60;div class="alert alert-error with-icon"&#62;
  &#60;div class="alert-icon"&#62;
    &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.65 370.37"&#62;&#60;title&#62;Coronavirus (COVID-19)&#60;/title&#62;&#60;path d="M373.94,239.61c-6.14-1.55-12.48,1-16.86,6.06-.27.32-23.8-8.28-35.44-12.32A129.15,129.15,0,0,0,325.17,208c4.85.81,11.29,1.78,11.4,2.07,2.24,5.8,6.26,9.68,10.85,9.69,7.07,0,12.84-9.09,12.88-20.36s-5.66-20.43-12.73-20.46c-4.69,0-8.8,4-11.05,10-.14.36-8-.45-12.06-.68a128.24,128.24,0,0,0-7.21-30.3c12.66-5.12,35.88-14.83,36.18-14.61,5.22,4,11.87,5.22,17.63,2.61,8.86-4,12.27-15.6,7.62-25.87s-15.62-15.33-24.48-11.31c-5.88,2.67-9.35,8.65-9.68,15.38,0,.42-24.53,11.2-35.36,16.2a129.49,129.49,0,0,0-18.92-25.89c4-2.85,10.82-8.07,11.14-7.93,5.72,2.46,11.3,2.29,14.52-1,5-5,2.47-15.53-5.56-23.44s-18.56-10.24-23.53-5.2c-3.28,3.33-3.3,9.07-.6,14.86.2.43-8.73,7.73-10.34,9.53A129.26,129.26,0,0,0,250,85.47c4.47-11.13,13.75-35.33,14.14-35.41,6.44-1.28,11.72-5.44,13.52-11.44,2.77-9.24-3.74-19.36-14.53-22.6s-21.8,1.63-24.57,10.86c-1.84,6.12.4,12.63,5.26,17.27.32.3-8.61,24.65-12,34.6a128.75,128.75,0,0,0-31.3-4.89c.49-3.93,1.19-15.38,1.55-15.56,5.62-2.69,9.16-7,8.81-11.58-.53-7-10.08-12.08-21.32-11.22s-19.92,7.25-19.38,14.31c.35,4.67,4.66,8.45,10.8,10.22.51.15,0,14.38.52,14.5l.21.07A128.88,128.88,0,0,0,153.64,81c-3.59-8.67-16.54-37.44-16.3-37.81,3.6-5.47,4.34-12.11,1.33-17.56-4.63-8.37-16.38-10.73-26.24-5.28s-14.11,16.66-9.49,25c3.07,5.55,9.27,8.46,16,8.21.48,0,13.7,28.47,17.16,35.07A129.4,129.4,0,0,0,112,105.09c-2.58-3.2-10-11.47-9.93-11.84,2-5.9,1.4-11.44-2.12-14.4C94.54,74.3,84.27,77.61,77,86.25s-8.74,19.31-3.32,23.86c3.59,3,9.31,2.58,14.87-.58.38-.21,7.34,7,9.84,9.17a129.41,129.41,0,0,0-16.09,23.54c-11-4.82-34.34-14.64-34.41-15C46.85,120.79,43,115.5,37.2,113.66c-8.86-2.83-18.83,3.58-22.26,14.31s1,21.74,9.85,24.57c5.87,1.88,12.23-.3,16.85-5.11.29-.31,22.57,8.67,32.87,12.58a128,128,0,0,0-6.83,32.11c-4.93-.54-12.82-1.21-13-1.52-2.59-5.65-6.84-9.27-11.43-9-7.06.41-12.25,9.87-11.6,21.12s6.91,20,14,19.64c4.68-.28,8.54-4.52,10.42-10.63.1-.35,7.23-.07,11.45-.06a128.48,128.48,0,0,0,6.65,33c-10.29,4.24-31.25,13.26-31.55,13-5.25-3.78-11.57-4.8-16.72-2.07-7.92,4.2-10.06,15.68-4.78,25.64s16,14.63,23.9,10.43c5.25-2.78,8-8.76,7.65-15.38,0-.42,20.1-9.49,29.17-13.83a129.41,129.41,0,0,0,19.55,27.76c-3.8,3.1-10.21,8.64-10.53,8.52-5.86-2.1-11.41-1.59-14.43,1.87-4.64,5.34-1.51,15.66,7,23.06s19.16,9.08,23.8,3.74c3.08-3.53,2.74-9.26-.31-14.87-.19-.36,6-6.19,8.73-9a129.13,129.13,0,0,0,28.12,17.15c-4.45,11.28-12.56,32.69-12.92,32.77-6.28,1.42-11.19,5.44-12.5,11-2,8.59,5.26,17.64,16.24,20.21s21.5-2.31,23.51-10.9c1.33-5.7-1.41-11.59-6.61-15.66-.31-.25,6.94-20.2,10.62-30.89a129.21,129.21,0,0,0,31.61,4.54c-.15,4.92-.19,13.24-.49,13.4-5.44,3-8.71,7.55-8.08,12.11,1,7,10.8,11.43,22,9.88s19.43-8.47,18.47-15.47c-.64-4.64-5.18-8.15-11.42-9.54-.36-.08-.65-7.25-1-11.45A128.79,128.79,0,0,0,245.69,322c5.46,10,18.92,33.67,18.73,34-3.19,5.79-3.41,12.64.06,18.09,5.33,8.39,17.37,10.28,26.88,4.23s12.9-17.75,7.56-26.14c-3.53-5.56-10-8.26-16.75-7.7-.44,0-13.85-22.63-19.24-31.24a129.37,129.37,0,0,0,26.85-21.59c3.46,3.56,8.53,8.6,8.45,8.91-1.63,6-.69,11.5,3,14.24,5.68,4.2,15.72.26,22.43-8.8s7.53-19.82,1.85-24c-3.77-2.79-9.45-2-14.81,1.49-.3.19-5.28-4.28-8.53-7a129,129,0,0,0,13.43-24.6c12.59,4.95,36.37,14,36.46,14.34,1.54,6.37,5.87,11.45,11.88,13,9.26,2.34,19-4.63,21.75-15.56S383.19,241.94,373.94,239.61ZM256.68,167.55l14.09-12A7,7,0,0,1,282,159l5,17.69a7,7,0,0,1-8.69,8.57l-19.09-5.69A7,7,0,0,1,256.68,167.55ZM235.84,126l10.91,14.79a7,7,0,0,1-5.12,11.08l-19.87,1.4A7,7,0,0,1,215.18,143l9-16.19A7,7,0,0,1,235.84,126Zm-18.9-24.54-5.39,17.57a7,7,0,0,1-11.94,2.49l-13-15.13A7,7,0,0,1,191,95l18.34-2.44A7,7,0,0,1,216.94,101.5Zm-47,15.78,2.65,18.19a7,7,0,0,1-9.73,7.36l-18.19-8.13a7,7,0,0,1-.94-12.2l15.53-10.07A7,7,0,0,1,169.92,117.28ZM111.78,229.5l-18.35-1.14a7,7,0,0,1-5.21-11l11.69-16.13A7,7,0,0,1,112,202.77L118.7,220A7,7,0,0,1,111.78,229.5Zm14-61.36-19,6.1A7,7,0,0,1,98,165.79l4.84-17.87A7,7,0,0,1,114,144.4l14.12,11.77A7,7,0,0,1,125.82,168.14ZM134.24,233l.2-19.92a7,7,0,0,1,10.81-5.74l15.42,10.23a7,7,0,0,1-.17,11.72L144.88,239A7,7,0,0,1,134.24,233Zm28.47,63.51-17.89-4.24a7,7,0,0,1-3.26-11.76l14.26-13.91a7,7,0,0,1,11.69,3.62l3.63,18.14A7,7,0,0,1,162.71,296.53ZM175.37,187l-18.18-8.13a7,7,0,0,1-.95-12.2l15.54-10.06a7,7,0,0,1,10.67,4.84l2.65,18.19A7,7,0,0,1,175.37,187ZM180,261.25l8.37-16.51a7,7,0,0,1,11.66-1.18L211.49,258a7,7,0,0,1-4.71,11.26L187,271.32A7,7,0,0,1,180,261.25Zm33.57-51.88-18.19-8.13a7,7,0,0,1-.94-12.21L210,179a7,7,0,0,1,10.67,4.84l2.65,18.2A7,7,0,0,1,213.59,209.37Zm10.11,77.11L229.8,269a7,7,0,0,1,11.4-2.72L254.45,279a7,7,0,0,1-3.17,11.78l-19.35,4.73A7,7,0,0,1,223.7,286.48Zm38.88-37.13-19.87,1.39a7,7,0,0,1-6.58-10.32l9-16.19a7,7,0,0,1,11.69-.76l10.91,14.8A7,7,0,0,1,262.58,249.35Zm31-20.82-14.3-13.87a7,7,0,0,1,3.3-11.78l18-4.13A7,7,0,0,1,309,207l-3.74,18A7,7,0,0,1,293.54,228.53Z" transform="translate(-13.78 -15.02)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/div&#62;
  &#60;div class="alert-body"&#62;
    &#60;h3&#62;Coronavirus (COVID-19)&#60;/h3&#62;
    &#60;p&#62;Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies. Sed ac augue nunc. Nulla facilisi. Donec sed lobortis mauris. Ut eget rutrum metus, id &#60;a href=""&#62;fringilla tellus&#60;/a&#62;. &#60;/p&#62;
    &#60;ul&#62;
      &#60;li&#62;List item one&#60;/li&#62;
      &#60;li&#62;List item two&#60;/li&#62;
      &#60;li&#62;List item three&#60;/li&#62;
    &#60;/ul&#62;
  &#60;/div&#62;
&#60;/div&#62;

&#60;div class="alert alert-success with-icon"&#62;
  &#60;div class="alert-icon"&#62;
    &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.65 370.37"&#62;&#60;title&#62;Coronavirus (COVID-19)&#60;/title&#62;&#60;path d="M373.94,239.61c-6.14-1.55-12.48,1-16.86,6.06-.27.32-23.8-8.28-35.44-12.32A129.15,129.15,0,0,0,325.17,208c4.85.81,11.29,1.78,11.4,2.07,2.24,5.8,6.26,9.68,10.85,9.69,7.07,0,12.84-9.09,12.88-20.36s-5.66-20.43-12.73-20.46c-4.69,0-8.8,4-11.05,10-.14.36-8-.45-12.06-.68a128.24,128.24,0,0,0-7.21-30.3c12.66-5.12,35.88-14.83,36.18-14.61,5.22,4,11.87,5.22,17.63,2.61,8.86-4,12.27-15.6,7.62-25.87s-15.62-15.33-24.48-11.31c-5.88,2.67-9.35,8.65-9.68,15.38,0,.42-24.53,11.2-35.36,16.2a129.49,129.49,0,0,0-18.92-25.89c4-2.85,10.82-8.07,11.14-7.93,5.72,2.46,11.3,2.29,14.52-1,5-5,2.47-15.53-5.56-23.44s-18.56-10.24-23.53-5.2c-3.28,3.33-3.3,9.07-.6,14.86.2.43-8.73,7.73-10.34,9.53A129.26,129.26,0,0,0,250,85.47c4.47-11.13,13.75-35.33,14.14-35.41,6.44-1.28,11.72-5.44,13.52-11.44,2.77-9.24-3.74-19.36-14.53-22.6s-21.8,1.63-24.57,10.86c-1.84,6.12.4,12.63,5.26,17.27.32.3-8.61,24.65-12,34.6a128.75,128.75,0,0,0-31.3-4.89c.49-3.93,1.19-15.38,1.55-15.56,5.62-2.69,9.16-7,8.81-11.58-.53-7-10.08-12.08-21.32-11.22s-19.92,7.25-19.38,14.31c.35,4.67,4.66,8.45,10.8,10.22.51.15,0,14.38.52,14.5l.21.07A128.88,128.88,0,0,0,153.64,81c-3.59-8.67-16.54-37.44-16.3-37.81,3.6-5.47,4.34-12.11,1.33-17.56-4.63-8.37-16.38-10.73-26.24-5.28s-14.11,16.66-9.49,25c3.07,5.55,9.27,8.46,16,8.21.48,0,13.7,28.47,17.16,35.07A129.4,129.4,0,0,0,112,105.09c-2.58-3.2-10-11.47-9.93-11.84,2-5.9,1.4-11.44-2.12-14.4C94.54,74.3,84.27,77.61,77,86.25s-8.74,19.31-3.32,23.86c3.59,3,9.31,2.58,14.87-.58.38-.21,7.34,7,9.84,9.17a129.41,129.41,0,0,0-16.09,23.54c-11-4.82-34.34-14.64-34.41-15C46.85,120.79,43,115.5,37.2,113.66c-8.86-2.83-18.83,3.58-22.26,14.31s1,21.74,9.85,24.57c5.87,1.88,12.23-.3,16.85-5.11.29-.31,22.57,8.67,32.87,12.58a128,128,0,0,0-6.83,32.11c-4.93-.54-12.82-1.21-13-1.52-2.59-5.65-6.84-9.27-11.43-9-7.06.41-12.25,9.87-11.6,21.12s6.91,20,14,19.64c4.68-.28,8.54-4.52,10.42-10.63.1-.35,7.23-.07,11.45-.06a128.48,128.48,0,0,0,6.65,33c-10.29,4.24-31.25,13.26-31.55,13-5.25-3.78-11.57-4.8-16.72-2.07-7.92,4.2-10.06,15.68-4.78,25.64s16,14.63,23.9,10.43c5.25-2.78,8-8.76,7.65-15.38,0-.42,20.1-9.49,29.17-13.83a129.41,129.41,0,0,0,19.55,27.76c-3.8,3.1-10.21,8.64-10.53,8.52-5.86-2.1-11.41-1.59-14.43,1.87-4.64,5.34-1.51,15.66,7,23.06s19.16,9.08,23.8,3.74c3.08-3.53,2.74-9.26-.31-14.87-.19-.36,6-6.19,8.73-9a129.13,129.13,0,0,0,28.12,17.15c-4.45,11.28-12.56,32.69-12.92,32.77-6.28,1.42-11.19,5.44-12.5,11-2,8.59,5.26,17.64,16.24,20.21s21.5-2.31,23.51-10.9c1.33-5.7-1.41-11.59-6.61-15.66-.31-.25,6.94-20.2,10.62-30.89a129.21,129.21,0,0,0,31.61,4.54c-.15,4.92-.19,13.24-.49,13.4-5.44,3-8.71,7.55-8.08,12.11,1,7,10.8,11.43,22,9.88s19.43-8.47,18.47-15.47c-.64-4.64-5.18-8.15-11.42-9.54-.36-.08-.65-7.25-1-11.45A128.79,128.79,0,0,0,245.69,322c5.46,10,18.92,33.67,18.73,34-3.19,5.79-3.41,12.64.06,18.09,5.33,8.39,17.37,10.28,26.88,4.23s12.9-17.75,7.56-26.14c-3.53-5.56-10-8.26-16.75-7.7-.44,0-13.85-22.63-19.24-31.24a129.37,129.37,0,0,0,26.85-21.59c3.46,3.56,8.53,8.6,8.45,8.91-1.63,6-.69,11.5,3,14.24,5.68,4.2,15.72.26,22.43-8.8s7.53-19.82,1.85-24c-3.77-2.79-9.45-2-14.81,1.49-.3.19-5.28-4.28-8.53-7a129,129,0,0,0,13.43-24.6c12.59,4.95,36.37,14,36.46,14.34,1.54,6.37,5.87,11.45,11.88,13,9.26,2.34,19-4.63,21.75-15.56S383.19,241.94,373.94,239.61ZM256.68,167.55l14.09-12A7,7,0,0,1,282,159l5,17.69a7,7,0,0,1-8.69,8.57l-19.09-5.69A7,7,0,0,1,256.68,167.55ZM235.84,126l10.91,14.79a7,7,0,0,1-5.12,11.08l-19.87,1.4A7,7,0,0,1,215.18,143l9-16.19A7,7,0,0,1,235.84,126Zm-18.9-24.54-5.39,17.57a7,7,0,0,1-11.94,2.49l-13-15.13A7,7,0,0,1,191,95l18.34-2.44A7,7,0,0,1,216.94,101.5Zm-47,15.78,2.65,18.19a7,7,0,0,1-9.73,7.36l-18.19-8.13a7,7,0,0,1-.94-12.2l15.53-10.07A7,7,0,0,1,169.92,117.28ZM111.78,229.5l-18.35-1.14a7,7,0,0,1-5.21-11l11.69-16.13A7,7,0,0,1,112,202.77L118.7,220A7,7,0,0,1,111.78,229.5Zm14-61.36-19,6.1A7,7,0,0,1,98,165.79l4.84-17.87A7,7,0,0,1,114,144.4l14.12,11.77A7,7,0,0,1,125.82,168.14ZM134.24,233l.2-19.92a7,7,0,0,1,10.81-5.74l15.42,10.23a7,7,0,0,1-.17,11.72L144.88,239A7,7,0,0,1,134.24,233Zm28.47,63.51-17.89-4.24a7,7,0,0,1-3.26-11.76l14.26-13.91a7,7,0,0,1,11.69,3.62l3.63,18.14A7,7,0,0,1,162.71,296.53ZM175.37,187l-18.18-8.13a7,7,0,0,1-.95-12.2l15.54-10.06a7,7,0,0,1,10.67,4.84l2.65,18.19A7,7,0,0,1,175.37,187ZM180,261.25l8.37-16.51a7,7,0,0,1,11.66-1.18L211.49,258a7,7,0,0,1-4.71,11.26L187,271.32A7,7,0,0,1,180,261.25Zm33.57-51.88-18.19-8.13a7,7,0,0,1-.94-12.21L210,179a7,7,0,0,1,10.67,4.84l2.65,18.2A7,7,0,0,1,213.59,209.37Zm10.11,77.11L229.8,269a7,7,0,0,1,11.4-2.72L254.45,279a7,7,0,0,1-3.17,11.78l-19.35,4.73A7,7,0,0,1,223.7,286.48Zm38.88-37.13-19.87,1.39a7,7,0,0,1-6.58-10.32l9-16.19a7,7,0,0,1,11.69-.76l10.91,14.8A7,7,0,0,1,262.58,249.35Zm31-20.82-14.3-13.87a7,7,0,0,1,3.3-11.78l18-4.13A7,7,0,0,1,309,207l-3.74,18A7,7,0,0,1,293.54,228.53Z" transform="translate(-13.78 -15.02)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/div&#62;
  &#60;div class="alert-body"&#62;
    &#60;h3&#62;Coronavirus (COVID-19)&#60;/h3&#62;
    &#60;p&#62;Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies. Sed ac augue nunc. Nulla facilisi. Donec sed lobortis mauris. Ut eget rutrum metus, id &#60;a href=""&#62;fringilla tellus&#60;/a&#62;. &#60;/p&#62;
    &#60;ul&#62;
      &#60;li&#62;List item one&#60;/li&#62;
      &#60;li&#62;List item two&#60;/li&#62;
      &#60;li&#62;List item three&#60;/li&#62;
    &#60;/ul&#62;
  &#60;/div&#62;
&#60;/div&#62;

&#60;div class="alert alert-info with-icon"&#62;
  &#60;div class="alert-icon"&#62;
    &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.65 370.37"&#62;&#60;title&#62;Coronavirus (COVID-19)&#60;/title&#62;&#60;path d="M373.94,239.61c-6.14-1.55-12.48,1-16.86,6.06-.27.32-23.8-8.28-35.44-12.32A129.15,129.15,0,0,0,325.17,208c4.85.81,11.29,1.78,11.4,2.07,2.24,5.8,6.26,9.68,10.85,9.69,7.07,0,12.84-9.09,12.88-20.36s-5.66-20.43-12.73-20.46c-4.69,0-8.8,4-11.05,10-.14.36-8-.45-12.06-.68a128.24,128.24,0,0,0-7.21-30.3c12.66-5.12,35.88-14.83,36.18-14.61,5.22,4,11.87,5.22,17.63,2.61,8.86-4,12.27-15.6,7.62-25.87s-15.62-15.33-24.48-11.31c-5.88,2.67-9.35,8.65-9.68,15.38,0,.42-24.53,11.2-35.36,16.2a129.49,129.49,0,0,0-18.92-25.89c4-2.85,10.82-8.07,11.14-7.93,5.72,2.46,11.3,2.29,14.52-1,5-5,2.47-15.53-5.56-23.44s-18.56-10.24-23.53-5.2c-3.28,3.33-3.3,9.07-.6,14.86.2.43-8.73,7.73-10.34,9.53A129.26,129.26,0,0,0,250,85.47c4.47-11.13,13.75-35.33,14.14-35.41,6.44-1.28,11.72-5.44,13.52-11.44,2.77-9.24-3.74-19.36-14.53-22.6s-21.8,1.63-24.57,10.86c-1.84,6.12.4,12.63,5.26,17.27.32.3-8.61,24.65-12,34.6a128.75,128.75,0,0,0-31.3-4.89c.49-3.93,1.19-15.38,1.55-15.56,5.62-2.69,9.16-7,8.81-11.58-.53-7-10.08-12.08-21.32-11.22s-19.92,7.25-19.38,14.31c.35,4.67,4.66,8.45,10.8,10.22.51.15,0,14.38.52,14.5l.21.07A128.88,128.88,0,0,0,153.64,81c-3.59-8.67-16.54-37.44-16.3-37.81,3.6-5.47,4.34-12.11,1.33-17.56-4.63-8.37-16.38-10.73-26.24-5.28s-14.11,16.66-9.49,25c3.07,5.55,9.27,8.46,16,8.21.48,0,13.7,28.47,17.16,35.07A129.4,129.4,0,0,0,112,105.09c-2.58-3.2-10-11.47-9.93-11.84,2-5.9,1.4-11.44-2.12-14.4C94.54,74.3,84.27,77.61,77,86.25s-8.74,19.31-3.32,23.86c3.59,3,9.31,2.58,14.87-.58.38-.21,7.34,7,9.84,9.17a129.41,129.41,0,0,0-16.09,23.54c-11-4.82-34.34-14.64-34.41-15C46.85,120.79,43,115.5,37.2,113.66c-8.86-2.83-18.83,3.58-22.26,14.31s1,21.74,9.85,24.57c5.87,1.88,12.23-.3,16.85-5.11.29-.31,22.57,8.67,32.87,12.58a128,128,0,0,0-6.83,32.11c-4.93-.54-12.82-1.21-13-1.52-2.59-5.65-6.84-9.27-11.43-9-7.06.41-12.25,9.87-11.6,21.12s6.91,20,14,19.64c4.68-.28,8.54-4.52,10.42-10.63.1-.35,7.23-.07,11.45-.06a128.48,128.48,0,0,0,6.65,33c-10.29,4.24-31.25,13.26-31.55,13-5.25-3.78-11.57-4.8-16.72-2.07-7.92,4.2-10.06,15.68-4.78,25.64s16,14.63,23.9,10.43c5.25-2.78,8-8.76,7.65-15.38,0-.42,20.1-9.49,29.17-13.83a129.41,129.41,0,0,0,19.55,27.76c-3.8,3.1-10.21,8.64-10.53,8.52-5.86-2.1-11.41-1.59-14.43,1.87-4.64,5.34-1.51,15.66,7,23.06s19.16,9.08,23.8,3.74c3.08-3.53,2.74-9.26-.31-14.87-.19-.36,6-6.19,8.73-9a129.13,129.13,0,0,0,28.12,17.15c-4.45,11.28-12.56,32.69-12.92,32.77-6.28,1.42-11.19,5.44-12.5,11-2,8.59,5.26,17.64,16.24,20.21s21.5-2.31,23.51-10.9c1.33-5.7-1.41-11.59-6.61-15.66-.31-.25,6.94-20.2,10.62-30.89a129.21,129.21,0,0,0,31.61,4.54c-.15,4.92-.19,13.24-.49,13.4-5.44,3-8.71,7.55-8.08,12.11,1,7,10.8,11.43,22,9.88s19.43-8.47,18.47-15.47c-.64-4.64-5.18-8.15-11.42-9.54-.36-.08-.65-7.25-1-11.45A128.79,128.79,0,0,0,245.69,322c5.46,10,18.92,33.67,18.73,34-3.19,5.79-3.41,12.64.06,18.09,5.33,8.39,17.37,10.28,26.88,4.23s12.9-17.75,7.56-26.14c-3.53-5.56-10-8.26-16.75-7.7-.44,0-13.85-22.63-19.24-31.24a129.37,129.37,0,0,0,26.85-21.59c3.46,3.56,8.53,8.6,8.45,8.91-1.63,6-.69,11.5,3,14.24,5.68,4.2,15.72.26,22.43-8.8s7.53-19.82,1.85-24c-3.77-2.79-9.45-2-14.81,1.49-.3.19-5.28-4.28-8.53-7a129,129,0,0,0,13.43-24.6c12.59,4.95,36.37,14,36.46,14.34,1.54,6.37,5.87,11.45,11.88,13,9.26,2.34,19-4.63,21.75-15.56S383.19,241.94,373.94,239.61ZM256.68,167.55l14.09-12A7,7,0,0,1,282,159l5,17.69a7,7,0,0,1-8.69,8.57l-19.09-5.69A7,7,0,0,1,256.68,167.55ZM235.84,126l10.91,14.79a7,7,0,0,1-5.12,11.08l-19.87,1.4A7,7,0,0,1,215.18,143l9-16.19A7,7,0,0,1,235.84,126Zm-18.9-24.54-5.39,17.57a7,7,0,0,1-11.94,2.49l-13-15.13A7,7,0,0,1,191,95l18.34-2.44A7,7,0,0,1,216.94,101.5Zm-47,15.78,2.65,18.19a7,7,0,0,1-9.73,7.36l-18.19-8.13a7,7,0,0,1-.94-12.2l15.53-10.07A7,7,0,0,1,169.92,117.28ZM111.78,229.5l-18.35-1.14a7,7,0,0,1-5.21-11l11.69-16.13A7,7,0,0,1,112,202.77L118.7,220A7,7,0,0,1,111.78,229.5Zm14-61.36-19,6.1A7,7,0,0,1,98,165.79l4.84-17.87A7,7,0,0,1,114,144.4l14.12,11.77A7,7,0,0,1,125.82,168.14ZM134.24,233l.2-19.92a7,7,0,0,1,10.81-5.74l15.42,10.23a7,7,0,0,1-.17,11.72L144.88,239A7,7,0,0,1,134.24,233Zm28.47,63.51-17.89-4.24a7,7,0,0,1-3.26-11.76l14.26-13.91a7,7,0,0,1,11.69,3.62l3.63,18.14A7,7,0,0,1,162.71,296.53ZM175.37,187l-18.18-8.13a7,7,0,0,1-.95-12.2l15.54-10.06a7,7,0,0,1,10.67,4.84l2.65,18.19A7,7,0,0,1,175.37,187ZM180,261.25l8.37-16.51a7,7,0,0,1,11.66-1.18L211.49,258a7,7,0,0,1-4.71,11.26L187,271.32A7,7,0,0,1,180,261.25Zm33.57-51.88-18.19-8.13a7,7,0,0,1-.94-12.21L210,179a7,7,0,0,1,10.67,4.84l2.65,18.2A7,7,0,0,1,213.59,209.37Zm10.11,77.11L229.8,269a7,7,0,0,1,11.4-2.72L254.45,279a7,7,0,0,1-3.17,11.78l-19.35,4.73A7,7,0,0,1,223.7,286.48Zm38.88-37.13-19.87,1.39a7,7,0,0,1-6.58-10.32l9-16.19a7,7,0,0,1,11.69-.76l10.91,14.8A7,7,0,0,1,262.58,249.35Zm31-20.82-14.3-13.87a7,7,0,0,1,3.3-11.78l18-4.13A7,7,0,0,1,309,207l-3.74,18A7,7,0,0,1,293.54,228.53Z" transform="translate(-13.78 -15.02)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/div&#62;
  &#60;div class="alert-body"&#62;
    &#60;h3&#62;Coronavirus (COVID-19)&#60;/h3&#62;
    &#60;p&#62;Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies. Sed ac augue nunc. Nulla facilisi. Donec sed lobortis mauris. Ut eget rutrum metus, id &#60;a href=""&#62;fringilla tellus&#60;/a&#62;. &#60;/p&#62;
    &#60;ul&#62;
      &#60;li&#62;List item one&#60;/li&#62;
      &#60;li&#62;List item two&#60;/li&#62;
      &#60;li&#62;List item three&#60;/li&#62;
    &#60;/ul&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
