<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  active"
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Buttons</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#Button-outline" class="nav-link">Button outline</a><li class="nav-item"><a href="#Button-group" class="nav-link">Button group</a><li class="nav-item"><a href="#Button-group-with-headings" class="nav-link">Button group with headings</a><li class="nav-item"><a href="#Small" class="nav-link">Small</a><li class="nav-item"><a href="#large" class="nav-link">large</a><li class="nav-item"><a href="#Loading" class="nav-link">Loading</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><a href="#" class="btn btn-primary"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button primary</a>
<a href="#" class="btn btn-success"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button success</a>
<a href="#" class="btn btn-info"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button info</a>
<a href="#" class="btn btn-inverse"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button inverse</a>
<a href="#" class="btn btn-warning"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button warning</a>
<a href="#" class="btn btn-danger"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button danger</a>
<a href="#" class="btn"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button default</a>
<a href="#" class="btn btn-link">Button link</a></div>
<pre class="prettyprint">&#60;a href="#" class="btn btn-primary"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button primary&#60;/a&#62;
&#60;a href="#" class="btn btn-success"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button success&#60;/a&#62;
&#60;a href="#" class="btn btn-info"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button info&#60;/a&#62;
&#60;a href="#" class="btn btn-inverse"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button inverse&#60;/a&#62;
&#60;a href="#" class="btn btn-warning"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button warning&#60;/a&#62;
&#60;a href="#" class="btn btn-danger"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button danger&#60;/a&#62;
&#60;a href="#" class="btn"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button default&#60;/a&#62;
&#60;a href="#" class="btn btn-link"&#62;Button link&#60;/a&#62;</pre>
  
<h2 id="Button-outline">Button outline</h2>
<p></p>
<div class="component-example"><a href="#" class="btn btn-outline-primary"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button outline primary</a>
<a href="#" class="btn btn-outline-success"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button outline success</a>
<a href="#" class="btn btn-outline-info"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button outline info</a>
<a href="#" class="btn btn-outline-warning"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button outline warning</a>
<a href="#" class="btn btn-outline"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button outline default</a>
<a href="#" class="btn btn-outline-link">Button outline link</a></div>
<pre class="prettyprint">&#60;a href="#" class="btn btn-outline-primary"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button outline primary&#60;/a&#62;
&#60;a href="#" class="btn btn-outline-success"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button outline success&#60;/a&#62;
&#60;a href="#" class="btn btn-outline-info"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button outline info&#60;/a&#62;
&#60;a href="#" class="btn btn-outline-warning"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button outline warning&#60;/a&#62;
&#60;a href="#" class="btn btn-outline"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button outline default&#60;/a&#62;
&#60;a href="#" class="btn btn-outline-link"&#62;Button outline link&#60;/a&#62;</pre>
  
<h2 id="Button-group">Button group</h2>
<p></p>
<div class="component-example"><div class="btn-group col-md-3" role="group" aria-label="Button group">
  <a href="#" class="btn btn-outline-info">2019</a>
  <a href="#" class="btn btn-outline-info"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25">
  <title>Tick</title>
  <path d="M12,29L0,17l5-5,7,7L27,4l5,5Z" transform="translate(0 -4)" />
</svg> 2020</a>
</div>
<div class="btn-group col-md-4" role="group" aria-label="Button group">
  <a href="#" class="btn btn-outline-info">2019</a>
  <a href="#" class="btn btn-outline-info"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25">
  <title>Tick</title>
  <path d="M12,29L0,17l5-5,7,7L27,4l5,5Z" transform="translate(0 -4)" />
</svg> 2020</a>
  <a href="#" class="btn btn-outline-info"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25">
  <title>Tick</title>
  <path d="M12,29L0,17l5-5,7,7L27,4l5,5Z" transform="translate(0 -4)" />
</svg> 2021</a>
</div>
</div>
<pre class="prettyprint">&#60;div class="btn-group col-md-3" role="group" aria-label="Button group"&#62;
  &#60;a href="#" class="btn btn-outline-info"&#62;2019&#60;/a&#62;
  &#60;a href="#" class="btn btn-outline-info"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25"&#62;
  &#60;title&#62;Tick&#60;/title&#62;
  &#60;path d="M12,29L0,17l5-5,7,7L27,4l5,5Z" transform="translate(0 -4)" /&#62;
&#60;/svg&#62; 2020&#60;/a&#62;
&#60;/div&#62;
&#60;div class="btn-group col-md-4" role="group" aria-label="Button group"&#62;
  &#60;a href="#" class="btn btn-outline-info"&#62;2019&#60;/a&#62;
  &#60;a href="#" class="btn btn-outline-info"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25"&#62;
  &#60;title&#62;Tick&#60;/title&#62;
  &#60;path d="M12,29L0,17l5-5,7,7L27,4l5,5Z" transform="translate(0 -4)" /&#62;
&#60;/svg&#62; 2020&#60;/a&#62;
  &#60;a href="#" class="btn btn-outline-info"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25"&#62;
  &#60;title&#62;Tick&#60;/title&#62;
  &#60;path d="M12,29L0,17l5-5,7,7L27,4l5,5Z" transform="translate(0 -4)" /&#62;
&#60;/svg&#62; 2021&#60;/a&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Button-group-with-headings">Button group with headings</h2>
<p></p>
<div class="component-example"><div class="btn-toolbar d-flex">
  <div class="mr-2 d-flex flex-column">
    <p class="btn-group-title bold">Level of study</p>
    <div id="levels" class="btn-group" data-toggle="buttons-radio">
      <button class="btn btn-sm active" data-level="ug">Undergraduate</button>
      <button class="btn btn-sm" data-level="pg">Postgraduate</button>
    </div>
  </div>
  <div class="mr-2 d-flex flex-column">
    <p class="btn-group-title">Nationality</p>
    <div id="nationality" class="btn-group float-left" data-toggle="buttons-radio">
      <button class="btn btn-sm active" data-nationality="eu">UK or EU</button>
      <button class="btn btn-sm" data-nationality="int">Outside EU</button>
    </div>
  </div>
  <div class="mr-2 d-flex flex-column">
    <p class="btn-group-title">Accommodation</p>
    <div id="accommodation" class="btn-group float-left" data-toggle="buttons-radio">
      <button class="btn btn-sm active" data-accommodation="residences">University</button>
      <button class="btn btn-sm" data-accommodation="private">Private</button>
    </div>
  </div>
  <div>
    <p class="btn-group-title">Currency</p>
    <div id="currencies" class="btn-group float-left" data-toggle="buttons-radio">
      <button class="btn btn-sm active" data-currency="GBP">£</button>
      <button class="btn btn-sm" data-currency="USD">$</button>
      <button class="btn btn-sm" data-currency="EUR">€</button>
      <button class="btn btn-sm" data-currency="CNY">CNY</button>
      <button class="btn btn-sm" data-currency="INR">INR</button>
    </div>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div class="btn-toolbar d-flex"&#62;
  &#60;div class="mr-2 d-flex flex-column"&#62;
    &#60;p class="btn-group-title bold"&#62;Level of study&#60;/p&#62;
    &#60;div id="levels" class="btn-group" data-toggle="buttons-radio"&#62;
      &#60;button class="btn btn-sm active" data-level="ug"&#62;Undergraduate&#60;/button&#62;
      &#60;button class="btn btn-sm" data-level="pg"&#62;Postgraduate&#60;/button&#62;
    &#60;/div&#62;
  &#60;/div&#62;
  &#60;div class="mr-2 d-flex flex-column"&#62;
    &#60;p class="btn-group-title"&#62;Nationality&#60;/p&#62;
    &#60;div id="nationality" class="btn-group float-left" data-toggle="buttons-radio"&#62;
      &#60;button class="btn btn-sm active" data-nationality="eu"&#62;UK or EU&#60;/button&#62;
      &#60;button class="btn btn-sm" data-nationality="int"&#62;Outside EU&#60;/button&#62;
    &#60;/div&#62;
  &#60;/div&#62;
  &#60;div class="mr-2 d-flex flex-column"&#62;
    &#60;p class="btn-group-title"&#62;Accommodation&#60;/p&#62;
    &#60;div id="accommodation" class="btn-group float-left" data-toggle="buttons-radio"&#62;
      &#60;button class="btn btn-sm active" data-accommodation="residences"&#62;University&#60;/button&#62;
      &#60;button class="btn btn-sm" data-accommodation="private"&#62;Private&#60;/button&#62;
    &#60;/div&#62;
  &#60;/div&#62;
  &#60;div&#62;
    &#60;p class="btn-group-title"&#62;Currency&#60;/p&#62;
    &#60;div id="currencies" class="btn-group float-left" data-toggle="buttons-radio"&#62;
      &#60;button class="btn btn-sm active" data-currency="GBP"&#62;&#163;&#60;/button&#62;
      &#60;button class="btn btn-sm" data-currency="USD"&#62;{{{escapedHTML}}}#60;/button&#62;
      &#60;button class="btn btn-sm" data-currency="EUR"&#62;&#8364;&#60;/button&#62;
      &#60;button class="btn btn-sm" data-currency="CNY"&#62;CNY&#60;/button&#62;
      &#60;button class="btn btn-sm" data-currency="INR"&#62;INR&#60;/button&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Small">Small</h2>
<p></p>
<div class="component-example"><a href="#" class="btn btn-sm btn-primary"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button sm primary</a>
<a href="#" class="btn btn-sm btn-success"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button sm success</a>
<a href="#" class="btn btn-sm btn-info"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button sm info</a>
<a href="#" class="btn btn-sm btn-inverse"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button sm inverse</a>
<a href="#" class="btn btn-sm btn-warning"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button sm warning</a>
<a href="#" class="btn btn-sm btn-danger"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button sm danger</a>
<a href="#" class="btn btn-sm"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button sm default</a></div>
<pre class="prettyprint">&#60;a href="#" class="btn btn-sm btn-primary"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button sm primary&#60;/a&#62;
&#60;a href="#" class="btn btn-sm btn-success"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button sm success&#60;/a&#62;
&#60;a href="#" class="btn btn-sm btn-info"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button sm info&#60;/a&#62;
&#60;a href="#" class="btn btn-sm btn-inverse"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button sm inverse&#60;/a&#62;
&#60;a href="#" class="btn btn-sm btn-warning"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button sm warning&#60;/a&#62;
&#60;a href="#" class="btn btn-sm btn-danger"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button sm danger&#60;/a&#62;
&#60;a href="#" class="btn btn-sm"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button sm default&#60;/a&#62;</pre>
  
<h2 id="large">large</h2>
<p></p>
<div class="component-example"><a href="#" class="btn btn-lg btn-primary"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button lg primary</a>
<a href="#" class="btn btn-lg btn-success"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button lg success</a>
<a href="#" class="btn btn-lg btn-info"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button lg info</a>
<a href="#" class="btn btn-lg btn-inverse"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button lg inverse</a>
<a href="#" class="btn btn-lg btn-warning"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button lg warning</a>
<a href="#" class="btn btn-lg btn-danger"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button lg danger</a>
<a href="#" class="btn btn-lg"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button lg default</a></div>
<pre class="prettyprint">&#60;a href="#" class="btn btn-lg btn-primary"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button lg primary&#60;/a&#62;
&#60;a href="#" class="btn btn-lg btn-success"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button lg success&#60;/a&#62;
&#60;a href="#" class="btn btn-lg btn-info"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button lg info&#60;/a&#62;
&#60;a href="#" class="btn btn-lg btn-inverse"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button lg inverse&#60;/a&#62;
&#60;a href="#" class="btn btn-lg btn-warning"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button lg warning&#60;/a&#62;
&#60;a href="#" class="btn btn-lg btn-danger"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button lg danger&#60;/a&#62;
&#60;a href="#" class="btn btn-lg"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button lg default&#60;/a&#62;</pre>
  
<h2 id="Loading">Loading</h2>
<p></p>
<div class="component-example"><a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-primary"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button
  primary</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-success"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button
  success</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-info"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button info</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-inverse"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button
  inverse</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-warning"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button
  warning</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-danger"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button
  danger</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
  <title>Cog</title>
  <path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" />
</svg> Button default</a>
<a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-link">Button link</a></div>
<pre class="prettyprint">&#60;a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-primary"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button
  primary&#60;/a&#62;
&#60;a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-success"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button
  success&#60;/a&#62;
&#60;a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-info"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button info&#60;/a&#62;
&#60;a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-inverse"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button
  inverse&#60;/a&#62;
&#60;a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-warning"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button
  warning&#60;/a&#62;
&#60;a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-danger"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button
  danger&#60;/a&#62;
&#60;a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32"&#62;
  &#60;title&#62;Cog&#60;/title&#62;
  &#60;path d="M27,13.38l4-3.06L28.38,5.69,23.59,7.81,19,5.22,18.63,0H13.38L13,5.25,8.31,7.78,3.62,5.69,1,10.31l4,3.06v5.25c-1.09.78-2.06,1.56-2.78,2.13-0.34.28-.62,0.53-0.84,0.69L1,21.69l2.62,4.63,4.81-2.12,4.34,2.59L13.38,32h5.25l0.06-.44C18.75,31,18.84,30,19,28.75l0.19-2,4.41-2.56,4.78,2.09L31,21.69a2.71,2.71,0,0,0-.31-0.25l-2.16-1.66c-0.47-.37-1-0.75-1.53-1.16V13.37h0ZM16,12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,12Z"
    transform="translate(-1 0)" /&#62;
&#60;/svg&#62; Button default&#60;/a&#62;
&#60;a href="#" aria-live="polite" aria-busy="true" class="btn btn--loading btn-link"&#62;Button link&#60;/a&#62;</pre>
  

    </main>
  </div>
</div>
