<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  active"
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Chart</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Line-chart" class="nav-link">Line chart</a><li class="nav-item"><a href="#Bar-chart" class="nav-link">Bar chart</a><li class="nav-item"><a href="#Collapsed-table" class="nav-link">Collapsed table</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p><p>You can customise the chart type by passing <code>data-chart-type="line|bar"</code></p><p>You can add a title by passing <code>data-title="string"</code>. X and Y axis title can be set via <code>data-x|y-title="string"</code></p><p>Ti toggle the legend, set the <code>data-show-legend="true|false"</code></p>
      <h2 id="Line-chart">Line chart</h2>
<p></p>
<div class="component-example"><div class="col-12">
  <!-- Area where chart prints -->
  <div id="chart-2471357" class="chart chart-highcharts mb-20 overflow-hidden"></div>

  <!-- chart table -->
  <div class="chart-table" data-title="title for chart A" data-type="line" data-x-axis-title="X axis title goes here"
    data-y-axis-title="Y axis title goes here" data-show-legend="true" data-assetid="2471357">
    <table id="table99998a" class="table">
      <thead>
        <tr>
          <th id="table99998r1c1">Date</th>
          <th id="table99998r1c2"> New student cases</th>
          <th id="table99998r1c3"> 7 day rolling average</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td headers="table99998r1c1">05/10/2020</td>
          <td headers="table99998r1c2">1,100.99</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">06/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">07/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">08/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3">2</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">09/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">55</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">10/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">11/10/2020</td>
          <td headers="table99998r1c2">76</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">12/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">99</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">13/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">23</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">14/10/2020</td>
          <td headers="table99998r1c2">29</td>
          <td headers="table99998r1c3">33</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">15/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3">27</td>
        </tr>
      </tbody>
    </table>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="col-12"&#62;
  &#60;!-- Area where chart prints --&#62;
  &#60;div id="chart-2471357" class="chart chart-highcharts mb-20 overflow-hidden"&#62;&#60;/div&#62;

  &#60;!-- chart table --&#62;
  &#60;div class="chart-table" data-title="title for chart A" data-type="line" data-x-axis-title="X axis title goes here"
    data-y-axis-title="Y axis title goes here" data-show-legend="true" data-assetid="2471357"&#62;
    &#60;table id="table99998a" class="table"&#62;
      &#60;thead&#62;
        &#60;tr&#62;
          &#60;th id="table99998r1c1"&#62;Date&#60;/th&#62;
          &#60;th id="table99998r1c2"&#62; New student cases&#60;/th&#62;
          &#60;th id="table99998r1c3"&#62; 7 day rolling average&#60;/th&#62;
        &#60;/tr&#62;
      &#60;/thead&#62;
      &#60;tbody&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;05/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;1,100.99&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;06/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;07/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;08/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;16&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;2&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;09/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;55&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;10/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;16&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;11/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;76&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;12/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;99&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;13/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;23&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;14/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;29&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;33&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;15/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;16&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;27&#60;/td&#62;
        &#60;/tr&#62;
      &#60;/tbody&#62;
    &#60;/table&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Bar-chart">Bar chart</h2>
<p></p>
<div class="component-example">
<div class="col-12">
  <!-- Area where chart prints -->
  <div id="chart-2471358" class="chart chart-highcharts mb-20 overflow-hidden"></div>

  <!-- chart table -->
  <div class="chart-table" data-title="title for chart A" data-type="bar" data-x-axis-title="X axis title goes here"
    data-y-axis-title="Y axis title goes here" data-show-legend="true" data-assetid="2471358">
    <table id="table99998a" class="table">
      <thead>
        <tr>
          <th id="table99998r1c1">Date</th>
          <th id="table99998r1c2"> New student cases</th>
          <th id="table99998r1c3"> 7 day rolling average</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td headers="table99998r1c1">05/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">06/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">07/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">08/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3">2</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">09/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">55</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">10/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">11/10/2020</td>
          <td headers="table99998r1c2">76</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">12/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">99</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">13/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">23</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">14/10/2020</td>
          <td headers="table99998r1c2">29</td>
          <td headers="table99998r1c3">33</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">15/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3">27</td>
        </tr>
      </tbody>
    </table>
  </div>
</div></div>
<pre class="prettyprint">
&#60;div class="col-12"&#62;
  &#60;!-- Area where chart prints --&#62;
  &#60;div id="chart-2471358" class="chart chart-highcharts mb-20 overflow-hidden"&#62;&#60;/div&#62;

  &#60;!-- chart table --&#62;
  &#60;div class="chart-table" data-title="title for chart A" data-type="bar" data-x-axis-title="X axis title goes here"
    data-y-axis-title="Y axis title goes here" data-show-legend="true" data-assetid="2471358"&#62;
    &#60;table id="table99998a" class="table"&#62;
      &#60;thead&#62;
        &#60;tr&#62;
          &#60;th id="table99998r1c1"&#62;Date&#60;/th&#62;
          &#60;th id="table99998r1c2"&#62; New student cases&#60;/th&#62;
          &#60;th id="table99998r1c3"&#62; 7 day rolling average&#60;/th&#62;
        &#60;/tr&#62;
      &#60;/thead&#62;
      &#60;tbody&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;05/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;06/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;07/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;08/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;16&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;2&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;09/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;55&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;10/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;16&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;11/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;76&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;12/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;99&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;13/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;23&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;14/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;29&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;33&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td headers="table99998r1c1"&#62;15/10/2020&#60;/td&#62;
          &#60;td headers="table99998r1c2"&#62;16&#60;/td&#62;
          &#60;td headers="table99998r1c3"&#62;27&#60;/td&#62;
        &#60;/tr&#62;
      &#60;/tbody&#62;
    &#60;/table&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Collapsed-table">Collapsed table</h2>
<p></p>
<div class="component-example"><div id="chart-2471357c" class="chart chart-highcharts" style="margin-bottom: 20px; overflow: hidden;">
</div>

<!-- chart A table -->
<div class="chart-table" data-title="title for chart A" data-type="line" data-x-axis-title="X axis title goes here"
  data-y-axis-title="Y axis title goes here" data-show-legend="true" data-assetid="2471357c">

  <table id="table99998a" class="table table-collapse">
    <thead>
      <tr>
        <th id="table99998r1c13">Date</th>
        <th id="table99998r1c23"> New student cases</th>
        <th id="table99998r1c33"> 7 day rolling average</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table99998r1c1">01/10/2020</td>
        <td headers="table99998r1c2">1</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">02/10/2020</td>
        <td headers="table99998r1c2">2</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">03/10/2020</td>
        <td headers="table99998r1c2">3</td>
        <td headers="table99998r1c3">237</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">04/10/2020</td>
        <td headers="table99998r1c2">4</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">05/10/2020</td>
        <td headers="table99998r1c2">5</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">06/10/2020</td>
        <td headers="table99998r1c2">6</td>
        <td headers="table99998r1c3">27</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">07/10/2020</td>
        <td headers="table99998r1c2">7</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">08/10/2020</td>
        <td headers="table99998r1c2">8</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">09/10/2020</td>
        <td headers="table99998r1c2">9</td>
        <td headers="table99998r1c3">27</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">10/10/2020</td>
        <td headers="table99998r1c2">10</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">11/10/2020</td>
        <td headers="table99998r1c2">11</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">12/10/2020</td>
        <td headers="table99998r1c2">12</td>
        <td headers="table99998r1c3">27</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">13/10/2020</td>
        <td headers="table99998r1c2">13</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">14/10/2020</td>
        <td headers="table99998r1c2">14</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">15/10/2020</td>
        <td headers="table99998r1c2">15</td>
        <td headers="table99998r1c3">27</td>
      </tr>
    </tbody>
  </table>
</div></div>
<pre class="prettyprint">&#60;div id="chart-2471357c" class="chart chart-highcharts" style="margin-bottom: 20px; overflow: hidden;"&#62;
&#60;/div&#62;

&#60;!-- chart A table --&#62;
&#60;div class="chart-table" data-title="title for chart A" data-type="line" data-x-axis-title="X axis title goes here"
  data-y-axis-title="Y axis title goes here" data-show-legend="true" data-assetid="2471357c"&#62;

  &#60;table id="table99998a" class="table table-collapse"&#62;
    &#60;thead&#62;
      &#60;tr&#62;
        &#60;th id="table99998r1c13"&#62;Date&#60;/th&#62;
        &#60;th id="table99998r1c23"&#62; New student cases&#60;/th&#62;
        &#60;th id="table99998r1c33"&#62; 7 day rolling average&#60;/th&#62;
      &#60;/tr&#62;
    &#60;/thead&#62;
    &#60;tbody&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;01/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;1&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;02/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;2&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;33&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;03/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;3&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;237&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;04/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;4&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;05/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;5&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;33&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;06/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;6&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;27&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;07/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;7&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;08/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;8&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;33&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;09/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;9&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;27&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;10/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;10&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;11/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;11&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;33&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;12/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;12&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;27&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;13/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;13&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;14/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;14&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;33&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td headers="table99998r1c1"&#62;15/10/2020&#60;/td&#62;
        &#60;td headers="table99998r1c2"&#62;15&#60;/td&#62;
        &#60;td headers="table99998r1c3"&#62;27&#60;/td&#62;
      &#60;/tr&#62;
    &#60;/tbody&#62;
  &#60;/table&#62;
&#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
