<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  active"
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Content group</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Content-group-with-image" class="nav-link">Content group with image</a><li class="nav-item"><a href="#Content-group-centered" class="nav-link">Content group centered</a><li class="nav-item"><a href="#Content-group-with-promo" class="nav-link">Content group with promo</a><li class="nav-item"><a href="#Content-group-with-promo-w/-image" class="nav-link">Content group with promo w/ image</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Content-group-with-image">Content group with image</h2>
<p></p>
<div class="component-example"><section class="content-group content-group-feature with-image">
  <div class="image-wrapper">
    <img
      data-srcset="https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=1170&amp;h=420&amp;fit=crop&amp;q=70&amp;auto=format 1200w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=940&amp;h=420&amp;fit=crop&amp;q=70&amp;auto=format 968w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=700&amp;h=394&amp;fit=crop&amp;q=60&amp;auto=format 700w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=550&amp;h=309&amp;fit=crop&amp;q=60&amp;auto=format  550w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=450&amp;h=253&amp;fit=crop&amp;q=60&amp;auto=format 450w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format 150w"
      data-src="https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      sizes="(max-width: 767px) 100vw, (max-width: 970px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 370px"
      alt="alt text"
      class="lazy">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h3>sdfsfsdfsdfsdfds</h3>
        <p>sdfsd fsd fsdf sdf sd fsdfsdfdsf</p>
      </div>
    </div>
  </div>
</section></div>
<pre class="prettyprint">&#60;section class="content-group content-group-feature with-image"&#62;
  &#60;div class="image-wrapper"&#62;
    &#60;img
      data-srcset="https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=1170&#38;amp;h=420&#38;amp;fit=crop&#38;amp;q=70&#38;amp;auto=format 1200w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=940&#38;amp;h=420&#38;amp;fit=crop&#38;amp;q=70&#38;amp;auto=format 968w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=700&#38;amp;h=394&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 700w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=550&#38;amp;h=309&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  550w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=450&#38;amp;h=253&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 450w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=300&#38;amp;h=169&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=250&#38;amp;h=141&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 250w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=150&#38;amp;h=84&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 150w"
      data-src="https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=570&#38;amp;h=321&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      sizes="(max-width: 767px) 100vw, (max-width: 970px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 370px"
      alt="alt text"
      class="lazy"&#62;
  &#60;/div&#62;
  &#60;div class="container"&#62;
    &#60;div class="row"&#62;
      &#60;div class="col-md-6 offset-md-6"&#62;
        &#60;h3&#62;sdfsfsdfsdfsdfds&#60;/h3&#62;
        &#60;p&#62;sdfsd fsd fsdf sdf sd fsdfsdfdsf&#60;/p&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/section&#62;</pre>
  
<h2 id="Content-group-centered">Content group centered</h2>
<p></p>
<div class="component-example"><section id="content_container_2434743" class="content-group content-group--centered with-background bg-tuatara">
  <div class="row">
    <div class="ml-auto mr-auto col-md-8">
      <h2 id="content_container_2434743-title">Work with us</h2>
      <p>We’re recruiting researchers to join our award winning team</p>
      <a class="ga-event call-to-action-link btn btn-success btn-lg"
        data-category="Content container: Full width call to action" data-action="Link 1" data-label="View vacancies"
        href="https://cardiff-dev-web.squiz.cloud/geography-planning">View vacancies</a>
      <a class="ga-event call-to-action-link btn btn-success btn-lg"
        data-category="Content container: Full width call to action" data-action="Link 2" data-label="See more about us"
        href="https://cardiff-dev-web.squiz.cloud/search">See more about us</a>
    </div>
  </div>

</section></div>
<pre class="prettyprint">&#60;section id="content_container_2434743" class="content-group content-group--centered with-background bg-tuatara"&#62;
  &#60;div class="row"&#62;
    &#60;div class="ml-auto mr-auto col-md-8"&#62;
      &#60;h2 id="content_container_2434743-title"&#62;Work with us&#60;/h2&#62;
      &#60;p&#62;We&#8217;re recruiting researchers to join our award winning team&#60;/p&#62;
      &#60;a class="ga-event call-to-action-link btn btn-success btn-lg"
        data-category="Content container: Full width call to action" data-action="Link 1" data-label="View vacancies"
        href="https://cardiff-dev-web.squiz.cloud/geography-planning"&#62;View vacancies&#60;/a&#62;
      &#60;a class="ga-event call-to-action-link btn btn-success btn-lg"
        data-category="Content container: Full width call to action" data-action="Link 2" data-label="See more about us"
        href="https://cardiff-dev-web.squiz.cloud/search"&#62;See more about us&#60;/a&#62;
    &#60;/div&#62;
  &#60;/div&#62;

&#60;/section&#62;</pre>
  
<h2 id="Content-group-with-promo">Content group with promo</h2>
<p></p>
<div class="component-example"><div
  class="content-group content-group-feature mt-0 content-group-feature--with-promo with-background bg-prussian-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title" id="page-title">Architecture</h1>
        <p class="lead">We are a leading school of architecture with a commitment to helping to create a built
          environment that enhances people’s lives, without destroying the planet for future generations.</p>
      </div>
      <div class="col-md d-flex justify-content-md-end">
        <a href="#" class="content-group-feature__promo">
          <span class="content-group-feature__promo__text">
            Mae ein Diwrnod Agored Rhithwir yn digwydd heddiw
          </span>
          <span class="content-group-feature__promo__date">21 April 2021</span>
          <span class="content-group-feature__promo__ring" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div></div>
<pre class="prettyprint">&#60;div
  class="content-group content-group-feature mt-0 content-group-feature--with-promo with-background bg-prussian-blue"&#62;
  &#60;div class="container"&#62;
    &#60;div class="row"&#62;
      &#60;div class="col-md-8"&#62;
        &#60;h1 class="page-title" id="page-title"&#62;Architecture&#60;/h1&#62;
        &#60;p class="lead"&#62;We are a leading school of architecture with a commitment to helping to create a built
          environment that enhances people&#8217;s lives, without destroying the planet for future generations.&#60;/p&#62;
      &#60;/div&#62;
      &#60;div class="col-md d-flex justify-content-md-end"&#62;
        &#60;a href="#" class="content-group-feature__promo"&#62;
          &#60;span class="content-group-feature__promo__text"&#62;
            Mae ein Diwrnod Agored Rhithwir yn digwydd heddiw
          &#60;/span&#62;
          &#60;span class="content-group-feature__promo__date"&#62;21 April 2021&#60;/span&#62;
          &#60;span class="content-group-feature__promo__ring" aria-hidden="true"&#62;&#60;/span&#62;
        &#60;/a&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;</pre>
  
<h2 id="Content-group-with-promo-w/-image">Content group with promo w/ image</h2>
<p></p>
<div class="component-example"><div class="content-group content-group-feature mt-0 content-group-feature--with-promo with-image">
  <div class="image-wrapper">
    <img
      srcset="https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1920&amp;h=1080&amp;auto=format&amp;fit=crop&amp;q=60 1920w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1600&amp;h=900&amp;auto=format&amp;fit=crop&amp;q=60 1600w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1024&amp;h=576&amp;auto=format&amp;fit=crop&amp;q=60 1024ww,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=768&amp;h=432&amp;auto=format&amp;fit=crop&amp;q=60 768w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop&amp;q=60 640w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=380&amp;h=214&amp;auto=format&amp;fit=crop&amp;q=60 380w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format 150w"
      src="https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
      sizes="100vw" alt="Student working on a model ">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title" id="page-title">Architecture</h1>
        <p class="lead">We are a leading school of architecture with a commitment to helping to create a built
          environment that enhances people’s lives, without destroying the planet for future generations.</p>
      </div>
      <div class="col-md d-flex justify-content-md-end">
        <a href="#" class="content-group-feature__promo">
          <span class="content-group-feature__promo__text">
            Mae ein Diwrnod Agored Rhithwir yn digwydd heddiw
          </span>
          <span class="content-group-feature__promo__date">21 April 2021</span>
          <span class="content-group-feature__promo__ring" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div></div>
<pre class="prettyprint">&#60;div class="content-group content-group-feature mt-0 content-group-feature--with-promo with-image"&#62;
  &#60;div class="image-wrapper"&#62;
    &#60;img
      srcset="https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1920&#38;amp;h=1080&#38;amp;auto=format&#38;amp;fit=crop&#38;amp;q=60 1920w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1600&#38;amp;h=900&#38;amp;auto=format&#38;amp;fit=crop&#38;amp;q=60 1600w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1024&#38;amp;h=576&#38;amp;auto=format&#38;amp;fit=crop&#38;amp;q=60 1024ww,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=768&#38;amp;h=432&#38;amp;auto=format&#38;amp;fit=crop&#38;amp;q=60 768w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=640&#38;amp;h=360&#38;amp;auto=format&#38;amp;fit=crop&#38;amp;q=60 640w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=380&#38;amp;h=214&#38;amp;auto=format&#38;amp;fit=crop&#38;amp;q=60 380w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=250&#38;amp;h=141&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 250w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=150&#38;amp;h=84&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 150w"
      src="https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=570&#38;amp;h=321&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format"
      sizes="100vw" alt="Student working on a model "&#62;
  &#60;/div&#62;
  &#60;div class="container"&#62;
    &#60;div class="row"&#62;
      &#60;div class="col-md-8"&#62;
        &#60;h1 class="page-title" id="page-title"&#62;Architecture&#60;/h1&#62;
        &#60;p class="lead"&#62;We are a leading school of architecture with a commitment to helping to create a built
          environment that enhances people&#8217;s lives, without destroying the planet for future generations.&#60;/p&#62;
      &#60;/div&#62;
      &#60;div class="col-md d-flex justify-content-md-end"&#62;
        &#60;a href="#" class="content-group-feature__promo"&#62;
          &#60;span class="content-group-feature__promo__text"&#62;
            Mae ein Diwrnod Agored Rhithwir yn digwydd heddiw
          &#60;/span&#62;
          &#60;span class="content-group-feature__promo__date"&#62;21 April 2021&#60;/span&#62;
          &#60;span class="content-group-feature__promo__ring" aria-hidden="true"&#62;&#60;/span&#62;
        &#60;/a&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
