<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  active"
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Content toggle</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#Blue-background" class="nav-link">Blue background</a><li class="nav-item"><a href="#Left-aligned" class="nav-link">Left aligned</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><div class="content-group gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-toggle gradient" style="height: 400px; overflow: hidden;">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non neque velit nisi dolorem cum dignissimos animi laudantium eveniet blanditiis,
          nam quae possimus, expedita laboriosam adipisci voluptatem corporis rem ullam minus. Unde at necessitatibus ex beatae omnis laboriosam
          veniam quas expedita minima iusto libero sapiente ut modi, sunt, fuga ea delectus eligendi placeat officia quo nulla quae distinctio
          laudantium? Distinctio, placeat. Laudantium at aperiam tempore maiores quisquam. Facere nam ex repudiandae nihil perferendis ea dignissimos,
          magni rerum corporis est dolore voluptate quas temporibus laborum quasi deleniti accusantium consequatur iste, atque minima. Ad eos
          consequatur quos enim, ipsum quidem dolores minus error accusamus tempore ipsam, quis eligendi sunt sint corporis corrupti totam culpa,
          voluptatum et dolore perspiciatis cumque hic. Corporis, sint vitae. Iusto, cumque nostrum ullam facilis tenetur nesciunt, assumenda
          cupiditate obcaecati animi impedit vitae qui esse autem labore. Corporis deserunt error consequatur ad sapiente sequi obcaecati doloremque
          sit, commodi nostrum nam? Quos reprehenderit voluptate nulla eligendi impedit tenetur quis tempora deleniti eum earum, doloribus dolores
          dolorem cupiditate molestiae sit distinctio. Eveniet quae voluptatum asperiores officia. Tempore quae impedit nulla sit dolorem. Dignissimos
          pariatur quas temporibus aut nam in at labore inventore quod repudiandae, nulla saepe nihil aliquid voluptas eaque hic exercitationem amet
          esse numquam. Mollitia eius laborum molestias illum quam itaque? Laborum numquam beatae atque sapiente ea molestiae, dolore deserunt hic
          harum tempore temporibus nisi voluptas in voluptate sunt perspiciatis, facere asperiores voluptates, obcaecati ipsum quibusdam ipsa
          accusamus? Vero, officia laudantium? Minima, fugit magni culpa beatae eveniet accusamus aperiam enim ipsum! Aliquam sunt, voluptatibus id
          sapiente delectus corporis perspiciatis nobis, architecto eius obcaecati voluptate modi quibusdam, nihil sed quisquam fugit ea? Sunt odit
          optio incidunt ex alias dolores vitae dolorum sapiente iure maiores? Nisi reprehenderit excepturi magnam animi. Itaque in illo quasi aliquam
          perspiciatis officiis autem suscipit tempora. Dolor, impedit libero? Quidem quam obcaecati alias in perferendis, tempore iusto atque eius
          repudiandae voluptatum modi ut perspiciatis harum laboriosam id aspernatur sed quibusdam doloribus autem laudantium voluptatibus voluptas
          eveniet libero? Ipsum, culpa! Maiores impedit optio sapiente quibusdam ullam ducimus sit nisi, dolore necessitatibus voluptates ab iste
          molestiae, itaque deleniti, a alias blanditiis cumque sequi nemo labore. Excepturi autem ullam facilis alias dignissimos. Deleniti
          cupiditate expedita architecto voluptate perferendis corporis dolorum tempore dignissimos. Doloribus laboriosam eligendi voluptatum aperiam
          ex accusantium illum, voluptates odit. Similique impedit dolore quaerat, voluptas illo inventore quas totam optio? Hic similique minima
          animi tempore omnis provident quisquam. Debitis aliquid esse optio repellat quia mollitia facere deserunt soluta veniam, vitae accusamus
          beatae reiciendis voluptatem vel a fugit! Labore, blanditiis autem. Ullam mollitia ipsum quidem exercitationem distinctio iste possimus,
          dolor sunt nam asperiores quibusdam? Hic doloremque deserunt, accusantium delectus nihil quo corporis consectetur mollitia architecto.
          Temporibus eligendi autem nobis ipsam ullam. Quam quas perspiciatis optio atque cum, ipsa sunt natus magni. Impedit libero numquam illum.
          Tenetur error perferendis, omnis ducimus inventore voluptatum, et, pariatur animi rem unde iusto quae doloribus cupiditate. Dolores
          explicabo error dolor omnis nam inventore laudantium in exercitationem neque voluptatem reiciendis, tempora, impedit ratione amet asperiores
          doloremque sint fugit debitis esse fugiat quis aut ea! Et, eligendi illum.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div class="content-group gradient"&#62;
  &#60;div class="container"&#62;
    &#60;div class="row"&#62;
      &#60;div class="col-md-12"&#62;
        &#60;div class="content-toggle gradient" style="height: 400px; overflow: hidden;"&#62;
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non neque velit nisi dolorem cum dignissimos animi laudantium eveniet blanditiis,
          nam quae possimus, expedita laboriosam adipisci voluptatem corporis rem ullam minus. Unde at necessitatibus ex beatae omnis laboriosam
          veniam quas expedita minima iusto libero sapiente ut modi, sunt, fuga ea delectus eligendi placeat officia quo nulla quae distinctio
          laudantium? Distinctio, placeat. Laudantium at aperiam tempore maiores quisquam. Facere nam ex repudiandae nihil perferendis ea dignissimos,
          magni rerum corporis est dolore voluptate quas temporibus laborum quasi deleniti accusantium consequatur iste, atque minima. Ad eos
          consequatur quos enim, ipsum quidem dolores minus error accusamus tempore ipsam, quis eligendi sunt sint corporis corrupti totam culpa,
          voluptatum et dolore perspiciatis cumque hic. Corporis, sint vitae. Iusto, cumque nostrum ullam facilis tenetur nesciunt, assumenda
          cupiditate obcaecati animi impedit vitae qui esse autem labore. Corporis deserunt error consequatur ad sapiente sequi obcaecati doloremque
          sit, commodi nostrum nam? Quos reprehenderit voluptate nulla eligendi impedit tenetur quis tempora deleniti eum earum, doloribus dolores
          dolorem cupiditate molestiae sit distinctio. Eveniet quae voluptatum asperiores officia. Tempore quae impedit nulla sit dolorem. Dignissimos
          pariatur quas temporibus aut nam in at labore inventore quod repudiandae, nulla saepe nihil aliquid voluptas eaque hic exercitationem amet
          esse numquam. Mollitia eius laborum molestias illum quam itaque? Laborum numquam beatae atque sapiente ea molestiae, dolore deserunt hic
          harum tempore temporibus nisi voluptas in voluptate sunt perspiciatis, facere asperiores voluptates, obcaecati ipsum quibusdam ipsa
          accusamus? Vero, officia laudantium? Minima, fugit magni culpa beatae eveniet accusamus aperiam enim ipsum! Aliquam sunt, voluptatibus id
          sapiente delectus corporis perspiciatis nobis, architecto eius obcaecati voluptate modi quibusdam, nihil sed quisquam fugit ea? Sunt odit
          optio incidunt ex alias dolores vitae dolorum sapiente iure maiores? Nisi reprehenderit excepturi magnam animi. Itaque in illo quasi aliquam
          perspiciatis officiis autem suscipit tempora. Dolor, impedit libero? Quidem quam obcaecati alias in perferendis, tempore iusto atque eius
          repudiandae voluptatum modi ut perspiciatis harum laboriosam id aspernatur sed quibusdam doloribus autem laudantium voluptatibus voluptas
          eveniet libero? Ipsum, culpa! Maiores impedit optio sapiente quibusdam ullam ducimus sit nisi, dolore necessitatibus voluptates ab iste
          molestiae, itaque deleniti, a alias blanditiis cumque sequi nemo labore. Excepturi autem ullam facilis alias dignissimos. Deleniti
          cupiditate expedita architecto voluptate perferendis corporis dolorum tempore dignissimos. Doloribus laboriosam eligendi voluptatum aperiam
          ex accusantium illum, voluptates odit. Similique impedit dolore quaerat, voluptas illo inventore quas totam optio? Hic similique minima
          animi tempore omnis provident quisquam. Debitis aliquid esse optio repellat quia mollitia facere deserunt soluta veniam, vitae accusamus
          beatae reiciendis voluptatem vel a fugit! Labore, blanditiis autem. Ullam mollitia ipsum quidem exercitationem distinctio iste possimus,
          dolor sunt nam asperiores quibusdam? Hic doloremque deserunt, accusantium delectus nihil quo corporis consectetur mollitia architecto.
          Temporibus eligendi autem nobis ipsam ullam. Quam quas perspiciatis optio atque cum, ipsa sunt natus magni. Impedit libero numquam illum.
          Tenetur error perferendis, omnis ducimus inventore voluptatum, et, pariatur animi rem unde iusto quae doloribus cupiditate. Dolores
          explicabo error dolor omnis nam inventore laudantium in exercitationem neque voluptatem reiciendis, tempora, impedit ratione amet asperiores
          doloremque sint fugit debitis esse fugiat quis aut ea! Et, eligendi illum.
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
 the .content-toggle should not be placed between .row and a column. This will break on IE 10 and IE 11 
<h2 id="Blue-background">Blue background</h2>
<p></p>
<div class="component-example"><div class="content-toggle bg-anakiwa">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="content-toggle gradient gradient-anakiwa" style="height: 400px; overflow: hidden;">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non neque velit nisi dolorem cum dignissimos animi laudantium eveniet blanditiis,
          nam quae possimus, expedita laboriosam adipisci voluptatem corporis rem ullam minus. Unde at necessitatibus ex beatae omnis laboriosam
          veniam quas expedita minima iusto libero sapiente ut modi, sunt, fuga ea delectus eligendi placeat officia quo nulla quae distinctio
          laudantium? Distinctio, placeat. Laudantium at aperiam tempore maiores quisquam. Facere nam ex repudiandae nihil perferendis ea dignissimos,
          magni rerum corporis est dolore voluptate quas temporibus laborum quasi deleniti accusantium consequatur iste, atque minima. Ad eos
          consequatur quos enim, ipsum quidem dolores minus error accusamus tempore ipsam, quis eligendi sunt sint corporis corrupti totam culpa,
          voluptatum et dolore perspiciatis cumque hic. Corporis, sint vitae. Iusto, cumque nostrum ullam facilis tenetur nesciunt, assumenda
          cupiditate obcaecati animi impedit vitae qui esse autem labore. Corporis deserunt error consequatur ad sapiente sequi obcaecati doloremque
          sit, commodi nostrum nam? Quos reprehenderit voluptate nulla eligendi impedit tenetur quis tempora deleniti eum earum, doloribus dolores
          dolorem cupiditate molestiae sit distinctio. Eveniet quae voluptatum asperiores officia. Tempore quae impedit nulla sit dolorem. Dignissimos
          pariatur quas temporibus aut nam in at labore inventore quod repudiandae, nulla saepe nihil aliquid voluptas eaque hic exercitationem amet
          esse numquam. Mollitia eius laborum molestias illum quam itaque? Laborum numquam beatae atque sapiente ea molestiae, dolore deserunt hic
          harum tempore temporibus nisi voluptas in voluptate sunt perspiciatis, facere asperiores voluptates, obcaecati ipsum quibusdam ipsa
          accusamus? Vero, officia laudantium? Minima, fugit magni culpa beatae eveniet accusamus aperiam enim ipsum! Aliquam sunt, voluptatibus id
          sapiente delectus corporis perspiciatis nobis, architecto eius obcaecati voluptate modi quibusdam, nihil sed quisquam fugit ea? Sunt odit
          optio incidunt ex alias dolores vitae dolorum sapiente iure maiores? Nisi reprehenderit excepturi magnam animi. Itaque in illo quasi aliquam
          perspiciatis officiis autem suscipit tempora. Dolor, impedit libero? Quidem quam obcaecati alias in perferendis, tempore iusto atque eius
          repudiandae voluptatum modi ut perspiciatis harum laboriosam id aspernatur sed quibusdam doloribus autem laudantium voluptatibus voluptas
          eveniet libero? Ipsum, culpa! Maiores impedit optio sapiente quibusdam ullam ducimus sit nisi, dolore necessitatibus voluptates ab iste
          molestiae, itaque deleniti, a alias blanditiis cumque sequi nemo labore. Excepturi autem ullam facilis alias dignissimos. Deleniti
          cupiditate expedita architecto voluptate perferendis corporis dolorum tempore dignissimos. Doloribus laboriosam eligendi voluptatum aperiam
          ex accusantium illum, voluptates odit. Similique impedit dolore quaerat, voluptas illo inventore quas totam optio? Hic similique minima
          animi tempore omnis provident quisquam. Debitis aliquid esse optio repellat quia mollitia facere deserunt soluta veniam, vitae accusamus
          beatae reiciendis voluptatem vel a fugit! Labore, blanditiis autem. Ullam mollitia ipsum quidem exercitationem distinctio iste possimus,
          dolor sunt nam asperiores quibusdam? Hic doloremque deserunt, accusantium delectus nihil quo corporis consectetur mollitia architecto.
          Temporibus eligendi autem nobis ipsam ullam. Quam quas perspiciatis optio atque cum, ipsa sunt natus magni. Impedit libero numquam illum.
          Tenetur error perferendis, omnis ducimus inventore voluptatum, et, pariatur animi rem unde iusto quae doloribus cupiditate. Dolores
          explicabo error dolor omnis nam inventore laudantium in exercitationem neque voluptatem reiciendis, tempora, impedit ratione amet asperiores
          doloremque sint fugit debitis esse fugiat quis aut ea! Et, eligendi illum.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div class="content-toggle bg-anakiwa"&#62;
  &#60;div class="container"&#62;
    &#60;div class="row"&#62;
      &#60;div class="col-md-10"&#62;
        &#60;div class="content-toggle gradient gradient-anakiwa" style="height: 400px; overflow: hidden;"&#62;
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non neque velit nisi dolorem cum dignissimos animi laudantium eveniet blanditiis,
          nam quae possimus, expedita laboriosam adipisci voluptatem corporis rem ullam minus. Unde at necessitatibus ex beatae omnis laboriosam
          veniam quas expedita minima iusto libero sapiente ut modi, sunt, fuga ea delectus eligendi placeat officia quo nulla quae distinctio
          laudantium? Distinctio, placeat. Laudantium at aperiam tempore maiores quisquam. Facere nam ex repudiandae nihil perferendis ea dignissimos,
          magni rerum corporis est dolore voluptate quas temporibus laborum quasi deleniti accusantium consequatur iste, atque minima. Ad eos
          consequatur quos enim, ipsum quidem dolores minus error accusamus tempore ipsam, quis eligendi sunt sint corporis corrupti totam culpa,
          voluptatum et dolore perspiciatis cumque hic. Corporis, sint vitae. Iusto, cumque nostrum ullam facilis tenetur nesciunt, assumenda
          cupiditate obcaecati animi impedit vitae qui esse autem labore. Corporis deserunt error consequatur ad sapiente sequi obcaecati doloremque
          sit, commodi nostrum nam? Quos reprehenderit voluptate nulla eligendi impedit tenetur quis tempora deleniti eum earum, doloribus dolores
          dolorem cupiditate molestiae sit distinctio. Eveniet quae voluptatum asperiores officia. Tempore quae impedit nulla sit dolorem. Dignissimos
          pariatur quas temporibus aut nam in at labore inventore quod repudiandae, nulla saepe nihil aliquid voluptas eaque hic exercitationem amet
          esse numquam. Mollitia eius laborum molestias illum quam itaque? Laborum numquam beatae atque sapiente ea molestiae, dolore deserunt hic
          harum tempore temporibus nisi voluptas in voluptate sunt perspiciatis, facere asperiores voluptates, obcaecati ipsum quibusdam ipsa
          accusamus? Vero, officia laudantium? Minima, fugit magni culpa beatae eveniet accusamus aperiam enim ipsum! Aliquam sunt, voluptatibus id
          sapiente delectus corporis perspiciatis nobis, architecto eius obcaecati voluptate modi quibusdam, nihil sed quisquam fugit ea? Sunt odit
          optio incidunt ex alias dolores vitae dolorum sapiente iure maiores? Nisi reprehenderit excepturi magnam animi. Itaque in illo quasi aliquam
          perspiciatis officiis autem suscipit tempora. Dolor, impedit libero? Quidem quam obcaecati alias in perferendis, tempore iusto atque eius
          repudiandae voluptatum modi ut perspiciatis harum laboriosam id aspernatur sed quibusdam doloribus autem laudantium voluptatibus voluptas
          eveniet libero? Ipsum, culpa! Maiores impedit optio sapiente quibusdam ullam ducimus sit nisi, dolore necessitatibus voluptates ab iste
          molestiae, itaque deleniti, a alias blanditiis cumque sequi nemo labore. Excepturi autem ullam facilis alias dignissimos. Deleniti
          cupiditate expedita architecto voluptate perferendis corporis dolorum tempore dignissimos. Doloribus laboriosam eligendi voluptatum aperiam
          ex accusantium illum, voluptates odit. Similique impedit dolore quaerat, voluptas illo inventore quas totam optio? Hic similique minima
          animi tempore omnis provident quisquam. Debitis aliquid esse optio repellat quia mollitia facere deserunt soluta veniam, vitae accusamus
          beatae reiciendis voluptatem vel a fugit! Labore, blanditiis autem. Ullam mollitia ipsum quidem exercitationem distinctio iste possimus,
          dolor sunt nam asperiores quibusdam? Hic doloremque deserunt, accusantium delectus nihil quo corporis consectetur mollitia architecto.
          Temporibus eligendi autem nobis ipsam ullam. Quam quas perspiciatis optio atque cum, ipsa sunt natus magni. Impedit libero numquam illum.
          Tenetur error perferendis, omnis ducimus inventore voluptatum, et, pariatur animi rem unde iusto quae doloribus cupiditate. Dolores
          explicabo error dolor omnis nam inventore laudantium in exercitationem neque voluptatem reiciendis, tempora, impedit ratione amet asperiores
          doloremque sint fugit debitis esse fugiat quis aut ea! Et, eligendi illum.
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Left-aligned">Left aligned</h2>
<p></p>
<div class="component-example"><div class="content-group gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-toggle content-toggle--left gradient" style="height: 400px; overflow: hidden;">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non neque velit nisi dolorem cum dignissimos animi laudantium eveniet blanditiis,
          nam quae possimus, expedita laboriosam adipisci voluptatem corporis rem ullam minus. Unde at necessitatibus ex beatae omnis laboriosam
          veniam quas expedita minima iusto libero sapiente ut modi, sunt, fuga ea delectus eligendi placeat officia quo nulla quae distinctio
          laudantium? Distinctio, placeat. Laudantium at aperiam tempore maiores quisquam. Facere nam ex repudiandae nihil perferendis ea dignissimos,
          magni rerum corporis est dolore voluptate quas temporibus laborum quasi deleniti accusantium consequatur iste, atque minima. Ad eos
          consequatur quos enim, ipsum quidem dolores minus error accusamus tempore ipsam, quis eligendi sunt sint corporis corrupti totam culpa,
          voluptatum et dolore perspiciatis cumque hic. Corporis, sint vitae. Iusto, cumque nostrum ullam facilis tenetur nesciunt, assumenda
          cupiditate obcaecati animi impedit vitae qui esse autem labore. Corporis deserunt error consequatur ad sapiente sequi obcaecati doloremque
          sit, commodi nostrum nam? Quos reprehenderit voluptate nulla eligendi impedit tenetur quis tempora deleniti eum earum, doloribus dolores
          dolorem cupiditate molestiae sit distinctio. Eveniet quae voluptatum asperiores officia. Tempore quae impedit nulla sit dolorem. Dignissimos
          pariatur quas temporibus aut nam in at labore inventore quod repudiandae, nulla saepe nihil aliquid voluptas eaque hic exercitationem amet
          esse numquam. Mollitia eius laborum molestias illum quam itaque? Laborum numquam beatae atque sapiente ea molestiae, dolore deserunt hic
          harum tempore temporibus nisi voluptas in voluptate sunt perspiciatis, facere asperiores voluptates, obcaecati ipsum quibusdam ipsa
          accusamus? Vero, officia laudantium? Minima, fugit magni culpa beatae eveniet accusamus aperiam enim ipsum! Aliquam sunt, voluptatibus id
          sapiente delectus corporis perspiciatis nobis, architecto eius obcaecati voluptate modi quibusdam, nihil sed quisquam fugit ea? Sunt odit
          optio incidunt ex alias dolores vitae dolorum sapiente iure maiores? Nisi reprehenderit excepturi magnam animi. Itaque in illo quasi aliquam
          perspiciatis officiis autem suscipit tempora. Dolor, impedit libero? Quidem quam obcaecati alias in perferendis, tempore iusto atque eius
          repudiandae voluptatum modi ut perspiciatis harum laboriosam id aspernatur sed quibusdam doloribus autem laudantium voluptatibus voluptas
          eveniet libero? Ipsum, culpa! Maiores impedit optio sapiente quibusdam ullam ducimus sit nisi, dolore necessitatibus voluptates ab iste
          molestiae, itaque deleniti, a alias blanditiis cumque sequi nemo labore. Excepturi autem ullam facilis alias dignissimos. Deleniti
          cupiditate expedita architecto voluptate perferendis corporis dolorum tempore dignissimos. Doloribus laboriosam eligendi voluptatum aperiam
          ex accusantium illum, voluptates odit. Similique impedit dolore quaerat, voluptas illo inventore quas totam optio? Hic similique minima
          animi tempore omnis provident quisquam. Debitis aliquid esse optio repellat quia mollitia facere deserunt soluta veniam, vitae accusamus
          beatae reiciendis voluptatem vel a fugit! Labore, blanditiis autem. Ullam mollitia ipsum quidem exercitationem distinctio iste possimus,
          dolor sunt nam asperiores quibusdam? Hic doloremque deserunt, accusantium delectus nihil quo corporis consectetur mollitia architecto.
          Temporibus eligendi autem nobis ipsam ullam. Quam quas perspiciatis optio atque cum, ipsa sunt natus magni. Impedit libero numquam illum.
          Tenetur error perferendis, omnis ducimus inventore voluptatum, et, pariatur animi rem unde iusto quae doloribus cupiditate. Dolores
          explicabo error dolor omnis nam inventore laudantium in exercitationem neque voluptatem reiciendis, tempora, impedit ratione amet asperiores
          doloremque sint fugit debitis esse fugiat quis aut ea! Et, eligendi illum.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div class="content-group gradient"&#62;
  &#60;div class="container"&#62;
    &#60;div class="row"&#62;
      &#60;div class="col-md-12"&#62;
        &#60;div class="content-toggle content-toggle--left gradient" style="height: 400px; overflow: hidden;"&#62;
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non neque velit nisi dolorem cum dignissimos animi laudantium eveniet blanditiis,
          nam quae possimus, expedita laboriosam adipisci voluptatem corporis rem ullam minus. Unde at necessitatibus ex beatae omnis laboriosam
          veniam quas expedita minima iusto libero sapiente ut modi, sunt, fuga ea delectus eligendi placeat officia quo nulla quae distinctio
          laudantium? Distinctio, placeat. Laudantium at aperiam tempore maiores quisquam. Facere nam ex repudiandae nihil perferendis ea dignissimos,
          magni rerum corporis est dolore voluptate quas temporibus laborum quasi deleniti accusantium consequatur iste, atque minima. Ad eos
          consequatur quos enim, ipsum quidem dolores minus error accusamus tempore ipsam, quis eligendi sunt sint corporis corrupti totam culpa,
          voluptatum et dolore perspiciatis cumque hic. Corporis, sint vitae. Iusto, cumque nostrum ullam facilis tenetur nesciunt, assumenda
          cupiditate obcaecati animi impedit vitae qui esse autem labore. Corporis deserunt error consequatur ad sapiente sequi obcaecati doloremque
          sit, commodi nostrum nam? Quos reprehenderit voluptate nulla eligendi impedit tenetur quis tempora deleniti eum earum, doloribus dolores
          dolorem cupiditate molestiae sit distinctio. Eveniet quae voluptatum asperiores officia. Tempore quae impedit nulla sit dolorem. Dignissimos
          pariatur quas temporibus aut nam in at labore inventore quod repudiandae, nulla saepe nihil aliquid voluptas eaque hic exercitationem amet
          esse numquam. Mollitia eius laborum molestias illum quam itaque? Laborum numquam beatae atque sapiente ea molestiae, dolore deserunt hic
          harum tempore temporibus nisi voluptas in voluptate sunt perspiciatis, facere asperiores voluptates, obcaecati ipsum quibusdam ipsa
          accusamus? Vero, officia laudantium? Minima, fugit magni culpa beatae eveniet accusamus aperiam enim ipsum! Aliquam sunt, voluptatibus id
          sapiente delectus corporis perspiciatis nobis, architecto eius obcaecati voluptate modi quibusdam, nihil sed quisquam fugit ea? Sunt odit
          optio incidunt ex alias dolores vitae dolorum sapiente iure maiores? Nisi reprehenderit excepturi magnam animi. Itaque in illo quasi aliquam
          perspiciatis officiis autem suscipit tempora. Dolor, impedit libero? Quidem quam obcaecati alias in perferendis, tempore iusto atque eius
          repudiandae voluptatum modi ut perspiciatis harum laboriosam id aspernatur sed quibusdam doloribus autem laudantium voluptatibus voluptas
          eveniet libero? Ipsum, culpa! Maiores impedit optio sapiente quibusdam ullam ducimus sit nisi, dolore necessitatibus voluptates ab iste
          molestiae, itaque deleniti, a alias blanditiis cumque sequi nemo labore. Excepturi autem ullam facilis alias dignissimos. Deleniti
          cupiditate expedita architecto voluptate perferendis corporis dolorum tempore dignissimos. Doloribus laboriosam eligendi voluptatum aperiam
          ex accusantium illum, voluptates odit. Similique impedit dolore quaerat, voluptas illo inventore quas totam optio? Hic similique minima
          animi tempore omnis provident quisquam. Debitis aliquid esse optio repellat quia mollitia facere deserunt soluta veniam, vitae accusamus
          beatae reiciendis voluptatem vel a fugit! Labore, blanditiis autem. Ullam mollitia ipsum quidem exercitationem distinctio iste possimus,
          dolor sunt nam asperiores quibusdam? Hic doloremque deserunt, accusantium delectus nihil quo corporis consectetur mollitia architecto.
          Temporibus eligendi autem nobis ipsam ullam. Quam quas perspiciatis optio atque cum, ipsa sunt natus magni. Impedit libero numquam illum.
          Tenetur error perferendis, omnis ducimus inventore voluptatum, et, pariatur animi rem unde iusto quae doloribus cupiditate. Dolores
          explicabo error dolor omnis nam inventore laudantium in exercitationem neque voluptatem reiciendis, tempora, impedit ratione amet asperiores
          doloremque sint fugit debitis esse fugiat quis aut ea! Et, eligendi illum.
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  

    </main>
  </div>
</div>
