<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  active"
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Dictionary</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#Vertical" class="nav-link">Vertical</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><article class="dictionary">
  <ul class="nav nav-pills nav-dictionary">
    <li class="nav-item"><a class="nav-link" href="#letter-a">A</a></li>
    <li class="nav-item active"><a class="nav-link" href="#letter-b">B</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-c">C</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-d">D</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-e">E</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-f">F</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-g">G</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-h">H</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-i">I</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-j">J</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-k">K</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-l">L</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-m">M</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-n">N</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-o">O</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-p">P</a></li>
    <li class="nav-item"><a class="nav-link disabled" tabindex="-1" aria-disabled="true">Q</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-r">R</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-s">S</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-t">T</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-u">U</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-v">V</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-w">W</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-x">X</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-y">Y</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-z">Z</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-09">0–9</a></li>
  </ul>
  <section class="dictionary-letter" id="letter-a">
    <h1 class="dictionary-letter-title">A</h1>
    <ul class="dictionary-terms">
      <li class="dictionary-term"><a href="#">Aberconway Hall</a></li>
      <li class="dictionary-term"><a href="#">Aberdare Hall</a></li>
      <li class="dictionary-term"><a href="#">About the University</a></li>
      <li class="dictionary-term"><a href="#">Academic Integrity</a></li>
      <li class="dictionary-term"><a href="#">Academic Quality System</a></li>
      <li class="dictionary-term">
        Academic Registry <small>See <a href="#">Registry</a></small>
      </li>
      <li class="dictionary-term"><a href="#">Academic Regulations Handbook</a></li>
      <li class="dictionary-term"><a href="#">Academic Research Misconduct</a></li>
      <li class="dictionary-term"><a href="#">Access to Information</a></li>
      <li class="dictionary-term"><a href="#">Access to University</a></li>
      <li class="dictionary-term"><a href="#">Accessibility</a></li>
      <li class="dictionary-term">
        Accident <small>See <a href="#">Reporting an accident</a></small>
      </li>
      <li class="dictionary-term">
        <a href="#">Accommodation</a> <small>See also <a href="#">Residences</a></small>
      </li>
    </ul>
  </section>
  <section class="dictionary-letter" id="letter-b">
    <h1 class="dictionary-letter-title">B</h1>
    <ul class="dictionary-terms">
      <li class="dictionary-term"><a href="#">Buildings</a></li>
    </ul>
  </section>
</article>
</div>
<pre class="prettyprint">&#60;article class="dictionary"&#62;
  &#60;ul class="nav nav-pills nav-dictionary"&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-a"&#62;A&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item active"&#62;&#60;a class="nav-link" href="#letter-b"&#62;B&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-c"&#62;C&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-d"&#62;D&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-e"&#62;E&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-f"&#62;F&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-g"&#62;G&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-h"&#62;H&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-i"&#62;I&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-j"&#62;J&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-k"&#62;K&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-l"&#62;L&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-m"&#62;M&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-n"&#62;N&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-o"&#62;O&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-p"&#62;P&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link disabled" tabindex="-1" aria-disabled="true"&#62;Q&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-r"&#62;R&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-s"&#62;S&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-t"&#62;T&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-u"&#62;U&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-v"&#62;V&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-w"&#62;W&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-x"&#62;X&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-y"&#62;Y&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-z"&#62;Z&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-09"&#62;0&#8211;9&#60;/a&#62;&#60;/li&#62;
  &#60;/ul&#62;
  &#60;section class="dictionary-letter" id="letter-a"&#62;
    &#60;h1 class="dictionary-letter-title"&#62;A&#60;/h1&#62;
    &#60;ul class="dictionary-terms"&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Aberconway Hall&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Aberdare Hall&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;About the University&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Academic Integrity&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Academic Quality System&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;
        Academic Registry &#60;small&#62;See &#60;a href="#"&#62;Registry&#60;/a&#62;&#60;/small&#62;
      &#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Academic Regulations Handbook&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Academic Research Misconduct&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Access to Information&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Access to University&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Accessibility&#60;/a&#62;&#60;/li&#62;
      &#60;li class="dictionary-term"&#62;
        Accident &#60;small&#62;See &#60;a href="#"&#62;Reporting an accident&#60;/a&#62;&#60;/small&#62;
      &#60;/li&#62;
      &#60;li class="dictionary-term"&#62;
        &#60;a href="#"&#62;Accommodation&#60;/a&#62; &#60;small&#62;See also &#60;a href="#"&#62;Residences&#60;/a&#62;&#60;/small&#62;
      &#60;/li&#62;
    &#60;/ul&#62;
  &#60;/section&#62;
  &#60;section class="dictionary-letter" id="letter-b"&#62;
    &#60;h1 class="dictionary-letter-title"&#62;B&#60;/h1&#62;
    &#60;ul class="dictionary-terms"&#62;
      &#60;li class="dictionary-term"&#62;&#60;a href="#"&#62;Buildings&#60;/a&#62;&#60;/li&#62;
    &#60;/ul&#62;
  &#60;/section&#62;
&#60;/article&#62;
</pre>
  
<h2 id="Vertical">Vertical</h2>
<p></p>
<div class="component-example"><div class="dictionary dictionary-vertical">
  <ul class="nav nav-pills nav-dictionary">
    <li class="nav-item"><a class="nav-link" href="#letter-a">A</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-b">B</a></li>
  </ul>
  <section class="dictionary-letter" id="letter-a">
    <h3 class="dictionary-letter-title sticky-top">A</h3>
    <div class="dictionary-content">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 50%">
              Course
            </th>
            <th style="width: 25%">
              Qualification
            </th>
            <th style="width: 25%">
              Mode
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
          
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="dictionary-letter" id="letter-b">
    <h3 class="dictionary-letter-title sticky-top">B</h3>
    <div class="dictionary-content">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 50%">
              Course
            </th>
            <th style="width: 25%">
              Qualification
            </th>
            <th style="width: 25%">
              Mode
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
</div>
<pre class="prettyprint">&#60;div class="dictionary dictionary-vertical"&#62;
  &#60;ul class="nav nav-pills nav-dictionary"&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-a"&#62;A&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#letter-b"&#62;B&#60;/a&#62;&#60;/li&#62;
  &#60;/ul&#62;
  &#60;section class="dictionary-letter" id="letter-a"&#62;
    &#60;h3 class="dictionary-letter-title sticky-top"&#62;A&#60;/h3&#62;
    &#60;div class="dictionary-content"&#62;
      &#60;table class="table"&#62;
        &#60;thead&#62;
          &#60;tr&#62;
            &#60;th style="width: 50%"&#62;
              Course
            &#60;/th&#62;
            &#60;th style="width: 25%"&#62;
              Qualification
            &#60;/th&#62;
            &#60;th style="width: 25%"&#62;
              Mode
            &#60;/th&#62;
          &#60;/tr&#62;
        &#60;/thead&#62;
        &#60;tbody&#62;
          &#60;tr&#62;
            &#60;td&#62;
              &#60;a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
          
                &#62;Cognitive and Behavioural Therapies&#60;/a
              &#62;
            &#60;/td&#62;
            &#60;td&#62;PgDip&#60;/td&#62;
            &#60;td&#62;&#60;/td&#62;
          &#60;/tr&#62;
          &#60;tr&#62;
            &#60;td&#62;
              &#60;a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                &#62;Cognitive and Behavioural Therapies&#60;/a
              &#62;
            &#60;/td&#62;
            &#60;td&#62;PgDip&#60;/td&#62;
            &#60;td&#62;&#60;/td&#62;
          &#60;/tr&#62;
          &#60;tr&#62;
            &#60;td&#62;
              &#60;a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                &#62;Cognitive and Behavioural Therapies&#60;/a
              &#62;
            &#60;/td&#62;
            &#60;td&#62;PgDip&#60;/td&#62;
            &#60;td&#62;&#60;/td&#62;
          &#60;/tr&#62;
        &#60;/tbody&#62;
      &#60;/table&#62;
    &#60;/div&#62;
  &#60;/section&#62;
  &#60;section class="dictionary-letter" id="letter-b"&#62;
    &#60;h3 class="dictionary-letter-title sticky-top"&#62;B&#60;/h3&#62;
    &#60;div class="dictionary-content"&#62;
      &#60;table class="table"&#62;
        &#60;thead&#62;
          &#60;tr&#62;
            &#60;th style="width: 50%"&#62;
              Course
            &#60;/th&#62;
            &#60;th style="width: 25%"&#62;
              Qualification
            &#60;/th&#62;
            &#60;th style="width: 25%"&#62;
              Mode
            &#60;/th&#62;
          &#60;/tr&#62;
        &#60;/thead&#62;
        &#60;tbody&#62;
          &#60;tr&#62;
            &#60;td&#62;
              &#60;a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                &#62;Cognitive and Behavioural Therapies&#60;/a
              &#62;
            &#60;/td&#62;
            &#60;td&#62;PgDip&#60;/td&#62;
            &#60;td&#62;&#60;/td&#62;
          &#60;/tr&#62;
          &#60;tr&#62;
            &#60;td&#62;
              &#60;a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                &#62;Cognitive and Behavioural Therapies&#60;/a
              &#62;
            &#60;/td&#62;
            &#60;td&#62;PgDip&#60;/td&#62;
            &#60;td&#62;&#60;/td&#62;
          &#60;/tr&#62;
          &#60;tr&#62;
            &#60;td&#62;
              &#60;a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                &#62;Cognitive and Behavioural Therapies&#60;/a
              &#62;
            &#60;/td&#62;
            &#60;td&#62;PgDip&#60;/td&#62;
            &#60;td&#62;&#60;/td&#62;
          &#60;/tr&#62;
        &#60;/tbody&#62;
      &#60;/table&#62;
    &#60;/div&#62;
  &#60;/section&#62;
&#60;/div&#62;
</pre>
<p class="alert">When using the sticky headings, the component must be placed within the grid and full width. i.e. dictiontion-vertial must be placed within col-sm-12.</p><p class="alert">IE 10, and 11: Sticky polyfill will not work when nested within a tab/ pill.</p>  In order for the title to stick to the top of the window, sticky-top must be used.<br />On mobile devices, the stuck-title will be 100% of the device's viewport.

    </main>
  </div>
</div>
