<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  active"
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Downloads</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#With-image" class="nav-link">With image</a><li class="nav-item"><a href="#With-category" class="nav-link">With category</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><div class="download">
	<h2 class="download-title">Annual Review 2012</h2>
	<p class="download-date">10 January 2013</p>
  <p class="download-actions">
    <a class="btn btn-primary" href="#">
      View document
    </a>
    <a class="btn btn-primary" href="#">
      Download document <span class="download-filesize">(PDF, 7.3MB)</span>
    </a>
  </p>
	<div class="download-requests accordion accordion--sm accordion--link">
		<div class="accordion-section">
			<div class="accordion-section-header">
				<a class="accordion-section-header-title collapsed" aria-label="Request file" data-toggle="collapse"
					href="#accordion-a1533379_1">
					<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg>Request an accessible format</a>
			</div>
			<div class="accordion-section-body collapse" id="accordion-a1533379_1">
				<p>If this document cannot be read by your assistive software, you can request an accessible version by
					emailing <a
						href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%23ASSETID)&body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20(Generated%20by%20Squiz)%0D%0ADocument%20URL%3A%20(Generated%20by%20Squiz)%0D%0APage%20URL%3A%20(Generated%20by%20Squiz)%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance.">web@cardiff.ac.uk</a>.
					Please include the assistive tools you use and the format you require.</p>
			</div>
		</div>
	</div>
</div></div>
<pre class="prettyprint">&#60;div class="download"&#62;
	&#60;h2 class="download-title"&#62;Annual Review 2012&#60;/h2&#62;
	&#60;p class="download-date"&#62;10 January 2013&#60;/p&#62;
  &#60;p class="download-actions"&#62;
    &#60;a class="btn btn-primary" href="#"&#62;
      View document
    &#60;/a&#62;
    &#60;a class="btn btn-primary" href="#"&#62;
      Download document &#60;span class="download-filesize"&#62;(PDF, 7.3MB)&#60;/span&#62;
    &#60;/a&#62;
  &#60;/p&#62;
	&#60;div class="download-requests accordion accordion--sm accordion--link"&#62;
		&#60;div class="accordion-section"&#62;
			&#60;div class="accordion-section-header"&#62;
				&#60;a class="accordion-section-header-title collapsed" aria-label="Request file" data-toggle="collapse"
					href="#accordion-a1533379_1"&#62;
					&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;Request an accessible format&#60;/a&#62;
			&#60;/div&#62;
			&#60;div class="accordion-section-body collapse" id="accordion-a1533379_1"&#62;
				&#60;p&#62;If this document cannot be read by your assistive software, you can request an accessible version by
					emailing &#60;a
						href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%23ASSETID)&#38;body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20(Generated%20by%20Squiz)%0D%0ADocument%20URL%3A%20(Generated%20by%20Squiz)%0D%0APage%20URL%3A%20(Generated%20by%20Squiz)%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance."&#62;web@cardiff.ac.uk&#60;/a&#62;.
					Please include the assistive tools you use and the format you require.&#60;/p&#62;
			&#60;/div&#62;
		&#60;/div&#62;
	&#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="With-image">With image</h2>
<p></p>
<div class="component-example"><section class="download with-image">
  <figure class="download-image">
    <img src="//www.placehold.it/50x70" />
  </figure>
  <h2 class="download-title">Annual Review 2012</h2>
  <p class="download-date">10 January 2013</p>
  <p class="download-description">
    The Uiversity's achievements, successes and distinctions in 2012. This review highlights some of the University
    recent chievements, successes and distinctions.
  </p>
  <p class="download-actions">
    <a class="btn btn-primary" href="#">
      View document
    </a>
    <a class="btn btn-primary" href="#">
      Download document <span class="download-filesize">(PDF, 7.3MB)</span>
    </a>
  </p>
  <div class="download-requests accordion accordion--sm accordion--link">
    <div class="accordion-section">
      <div class="accordion-section-header">
        <a class="accordion-section-header-title collapsed" aria-label="Request file" data-toggle="collapse"
          href="#accordion-a1533379_1">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg>Request an accessible format</a>
      </div>
      <div class="accordion-section-body collapse" id="accordion-a1533379_1">
        <p>If this document cannot be read by your assistive software, you can request an accessible version by
          emailing <a
            href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%23ASSETID)&body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20(Generated%20by%20Squiz)%0D%0ADocument%20URL%3A%20(Generated%20by%20Squiz)%0D%0APage%20URL%3A%20(Generated%20by%20Squiz)%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance.">web@cardiff.ac.uk</a>.
          Please include the assistive tools you use and the format you require.</p>
      </div>
    </div>
  </div>

</section></div>
<pre class="prettyprint">&#60;section class="download with-image"&#62;
  &#60;figure class="download-image"&#62;
    &#60;img src="//www.placehold.it/50x70" /&#62;
  &#60;/figure&#62;
  &#60;h2 class="download-title"&#62;Annual Review 2012&#60;/h2&#62;
  &#60;p class="download-date"&#62;10 January 2013&#60;/p&#62;
  &#60;p class="download-description"&#62;
    The Uiversity's achievements, successes and distinctions in 2012. This review highlights some of the University
    recent chievements, successes and distinctions.
  &#60;/p&#62;
  &#60;p class="download-actions"&#62;
    &#60;a class="btn btn-primary" href="#"&#62;
      View document
    &#60;/a&#62;
    &#60;a class="btn btn-primary" href="#"&#62;
      Download document &#60;span class="download-filesize"&#62;(PDF, 7.3MB)&#60;/span&#62;
    &#60;/a&#62;
  &#60;/p&#62;
  &#60;div class="download-requests accordion accordion--sm accordion--link"&#62;
    &#60;div class="accordion-section"&#62;
      &#60;div class="accordion-section-header"&#62;
        &#60;a class="accordion-section-header-title collapsed" aria-label="Request file" data-toggle="collapse"
          href="#accordion-a1533379_1"&#62;
          &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;Request an accessible format&#60;/a&#62;
      &#60;/div&#62;
      &#60;div class="accordion-section-body collapse" id="accordion-a1533379_1"&#62;
        &#60;p&#62;If this document cannot be read by your assistive software, you can request an accessible version by
          emailing &#60;a
            href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%23ASSETID)&#38;body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20(Generated%20by%20Squiz)%0D%0ADocument%20URL%3A%20(Generated%20by%20Squiz)%0D%0APage%20URL%3A%20(Generated%20by%20Squiz)%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance."&#62;web@cardiff.ac.uk&#60;/a&#62;.
          Please include the assistive tools you use and the format you require.&#60;/p&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;

&#60;/section&#62;</pre>
  
<h2 id="With-category">With category</h2>
<p></p>
<div class="component-example"><section class="download with-image">
  <figure class="download-image">
    <img src="//www.placehold.it/50x70" />
  </figure>
  <p class="download-category" style="margin-bottom:0;">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 32.03">
      <title>File</title>
      <path
        d="M29.94,10.5l0,19A2.51,2.51,0,0,1,27.44,32L4.5,32a2.52,2.52,0,0,1-1.78-.75A2.59,2.59,0,0,1,2,29.47l0-27A2.5,2.5,0,0,1,2.72.72,2.57,2.57,0,0,1,4.47,0l15,0a6.42,6.42,0,0,1,2.28.5,5.91,5.91,0,0,1,2,1.25l4.47,4.47,0,0a5.91,5.91,0,0,1,1.25,2A6.42,6.42,0,0,1,29.94,10.5Zm-2,19.19a0.17,0.17,0,0,0,0-.19l0,0,0-19.5-8,0,0-7.91A0.47,0.47,0,0,0,19.84,2a0.1,0.1,0,0,1-.12,0,0.24,0.24,0,0,0-.12,0,0.14,0.14,0,0,1-.16,0l-15,0a0.18,0.18,0,0,0-.19,0,0.66,0.66,0,0,0-.16.09A0.31,0.31,0,0,0,4,2.31a0.61,0.61,0,0,1-.06.19l0,27a0.44,0.44,0,0,0,.16.31,0.43,0.43,0,0,0,.31.16l23,0A0.66,0.66,0,0,1,27.66,30a0.31,0.31,0,0,0,.16-0.12,0.69,0.69,0,0,0,.09-0.16h0ZM21.94,8l5.13,0A0.47,0.47,0,0,1,27,7.91l-0.16-.19a0.16,0.16,0,0,1-.09-0.06L22.28,3.19,22.16,3A0.16,0.16,0,0,1,22.06,3a0.11,0.11,0,0,0-.09,0Z"
        transform="translate(-1.97 0.03)"></path>
    </svg>Document
  </p>
  <h2 class="download-title">Annual Review 2012</h2>
  <p class="download-date">10 January 2013</p>
  <p class="download-description">
    The Uiversity's achievements, successes and distinctions in 2012. This review highlights some of the University
    recent chievements, successes and distinctions.
  </p>
  <p class="download-actions">
    <a class="btn btn-primary" href="#">
      View document
    </a>
    <a class="btn btn-primary" href="#">
      Download document <span class="download-filesize">(PDF, 7.3MB)</span>
    </a>
  </p>
  <div class="download-requests accordion accordion--sm accordion--link">
    <div class="accordion-section">
      <div class="accordion-section-header">
        <a class="accordion-section-header-title collapsed" aria-label="Request file" data-toggle="collapse"
          href="#accordion-a1533379_1">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg>Request an accessible format</a>
      </div>
      <div class="accordion-section-body collapse" id="accordion-a1533379_1">
        <p>If this document cannot be read by your assistive software, you can request an accessible version by
          emailing <a
            href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%23ASSETID)&body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20(Generated%20by%20Squiz)%0D%0ADocument%20URL%3A%20(Generated%20by%20Squiz)%0D%0APage%20URL%3A%20(Generated%20by%20Squiz)%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance.">web@cardiff.ac.uk</a>.
          Please include the assistive tools you use and the format you require.</p>
      </div>
    </div>
  </div>

</section></div>
<pre class="prettyprint">&#60;section class="download with-image"&#62;
  &#60;figure class="download-image"&#62;
    &#60;img src="//www.placehold.it/50x70" /&#62;
  &#60;/figure&#62;
  &#60;p class="download-category" style="margin-bottom:0;"&#62;
    &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 32.03"&#62;
      &#60;title&#62;File&#60;/title&#62;
      &#60;path
        d="M29.94,10.5l0,19A2.51,2.51,0,0,1,27.44,32L4.5,32a2.52,2.52,0,0,1-1.78-.75A2.59,2.59,0,0,1,2,29.47l0-27A2.5,2.5,0,0,1,2.72.72,2.57,2.57,0,0,1,4.47,0l15,0a6.42,6.42,0,0,1,2.28.5,5.91,5.91,0,0,1,2,1.25l4.47,4.47,0,0a5.91,5.91,0,0,1,1.25,2A6.42,6.42,0,0,1,29.94,10.5Zm-2,19.19a0.17,0.17,0,0,0,0-.19l0,0,0-19.5-8,0,0-7.91A0.47,0.47,0,0,0,19.84,2a0.1,0.1,0,0,1-.12,0,0.24,0.24,0,0,0-.12,0,0.14,0.14,0,0,1-.16,0l-15,0a0.18,0.18,0,0,0-.19,0,0.66,0.66,0,0,0-.16.09A0.31,0.31,0,0,0,4,2.31a0.61,0.61,0,0,1-.06.19l0,27a0.44,0.44,0,0,0,.16.31,0.43,0.43,0,0,0,.31.16l23,0A0.66,0.66,0,0,1,27.66,30a0.31,0.31,0,0,0,.16-0.12,0.69,0.69,0,0,0,.09-0.16h0ZM21.94,8l5.13,0A0.47,0.47,0,0,1,27,7.91l-0.16-.19a0.16,0.16,0,0,1-.09-0.06L22.28,3.19,22.16,3A0.16,0.16,0,0,1,22.06,3a0.11,0.11,0,0,0-.09,0Z"
        transform="translate(-1.97 0.03)"&#62;&#60;/path&#62;
    &#60;/svg&#62;Document
  &#60;/p&#62;
  &#60;h2 class="download-title"&#62;Annual Review 2012&#60;/h2&#62;
  &#60;p class="download-date"&#62;10 January 2013&#60;/p&#62;
  &#60;p class="download-description"&#62;
    The Uiversity's achievements, successes and distinctions in 2012. This review highlights some of the University
    recent chievements, successes and distinctions.
  &#60;/p&#62;
  &#60;p class="download-actions"&#62;
    &#60;a class="btn btn-primary" href="#"&#62;
      View document
    &#60;/a&#62;
    &#60;a class="btn btn-primary" href="#"&#62;
      Download document &#60;span class="download-filesize"&#62;(PDF, 7.3MB)&#60;/span&#62;
    &#60;/a&#62;
  &#60;/p&#62;
  &#60;div class="download-requests accordion accordion--sm accordion--link"&#62;
    &#60;div class="accordion-section"&#62;
      &#60;div class="accordion-section-header"&#62;
        &#60;a class="accordion-section-header-title collapsed" aria-label="Request file" data-toggle="collapse"
          href="#accordion-a1533379_1"&#62;
          &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;Request an accessible format&#60;/a&#62;
      &#60;/div&#62;
      &#60;div class="accordion-section-body collapse" id="accordion-a1533379_1"&#62;
        &#60;p&#62;If this document cannot be read by your assistive software, you can request an accessible version by
          emailing &#60;a
            href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%23ASSETID)&#38;body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20(Generated%20by%20Squiz)%0D%0ADocument%20URL%3A%20(Generated%20by%20Squiz)%0D%0APage%20URL%3A%20(Generated%20by%20Squiz)%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance."&#62;web@cardiff.ac.uk&#60;/a&#62;.
          Please include the assistive tools you use and the format you require.&#60;/p&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;

&#60;/section&#62;</pre>
  

    </main>
  </div>
</div>
