<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  active"
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Events</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><div id="content" class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="content_container_888801">
          <p></p>
          <div id="content_container_888811">
            <div class="row">
              <div class="col-md-12">
                <h1 id="page-title">
                  The Ying and Yang of introducing honey bees to Cardiff University's Cathays campus by Prof Les
                  Baillie, Pharmabees
                </h1>
              </div>
              <div class="col-md-12">
                <div class="event-dates">
                  <div class="event-dates-item">
                    <span class="lead">
                      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.56 32">
                        <title>Calendar</title>
                        <path d="M29.78,4.44V32H2.22V4.44H5.5V2.72a2.59,2.59,0,0,1,.75-2A3,3,0,0,1,8.37,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h1.94V2.72a2.59,2.59,0,0,1,.75-2A3,3,0,0,1,16,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h1.94V2.72a2.61,2.61,0,0,1,.78-2A2.88,2.88,0,0,1,23.69,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h3.25ZM7,2.72V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31,1.07,1.07,0,0,0,.31-0.87V2.72a1.22,1.22,0,0,0-.31-0.94,1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,7,2.72Zm7.66,0V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31,1.07,1.07,0,0,0,.31-0.87V2.72A1.22,1.22,0,0,0,17,1.78a1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,14.69,2.72Zm7.66,0V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31A1.07,1.07,0,0,0,25,7.31V2.72a1.22,1.22,0,0,0-.31-0.94,1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,22.34,2.72Zm5.16,7.84H4.5V29.72h23V10.56ZM16.06,22.34a3,3,0,0,1-1.34,2.59,5.47,5.47,0,0,1-3.31.91A7.1,7.1,0,0,1,10,25.72a7.3,7.3,0,0,1-1.31-.37L9,23.44a12.63,12.63,0,0,0,1.34.38,6.18,6.18,0,0,0,1.34.09,2.45,2.45,0,0,0,1.44-.41,1.25,1.25,0,0,0,.53-1A1.27,1.27,0,0,0,13,21.25a5.14,5.14,0,0,0-2.25-.44V18.88a3.67,3.67,0,0,0,1.75-.44,1.06,1.06,0,0,0,.63-1,0.93,0.93,0,0,0-.31-0.78,2,2,0,0,0-1.25-.28,4.94,4.94,0,0,0-1.16.16A11.84,11.84,0,0,0,9.28,17L9,15a7.93,7.93,0,0,1,1.53-.47,8.9,8.9,0,0,1,1.59-.09,4.64,4.64,0,0,1,2.66.66,2.08,2.08,0,0,1,.94,1.72,2.41,2.41,0,0,1-.59,1.63,4.22,4.22,0,0,1-1.81,1.06v0a4.79,4.79,0,0,1,2,1,2.28,2.28,0,0,1,.69,1.75h0Zm1.84-6,3.38-1.69h1.16V25.69H20.09V17.5l-1.94.72Z"
                          transform="translate(-2.22 0)"></path>
                      </svg>
                      Friday, 17 May 2019
                    </span>
                  </div>
                  <div class="event-dates-item">
                    <span class="lead">
                      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <title>Clock outline</title>
                        <path d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                          transform="translate(0 0)" />
                      </svg>
                      12:00-13:00
                    </span>
                  </div>
                </div>
              </div>

              <!-- Begin event alerts -->
              <div class="col-md-12">
                <p class="notice">This event has ended.</p> 
              </div>

              <!-- End event alerts -->
              <div class="col-md-3">
                <div class="event-metadata">
                  <!--Begin Booking message and button -->
                  <!--End Booking message and button -->
                  <!--Begin Event metadata -->
                  <div class="event-section">
                    <ul class="list list-icons">
                      <li>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                          <title>Ticket</title>
                          <path d="M29,7l2.31,2.31a2.41,2.41,0,0,1,0,3.38L12.69,31.31a2.41,2.41,0,0,1-3.38,0L7,29l1-1a3,3,0,0,0,.84-2A2.88,2.88,0,0,0,6,23.16,3,3,0,0,0,4,24L3,25,0.69,22.69a2.41,2.41,0,0,1,0-3.38L19.31,0.69a2.41,2.41,0,0,1,3.38,0L25,3,24,4a3.14,3.14,0,0,0-.84,2A2.88,2.88,0,0,0,26,8.84,3,3,0,0,0,28,8Zm-3,7L18,6,6,18l8,8ZM14,22l8-8-4-4-8,8Z"
                            transform="translate(0 0)" />
                        </svg>
                        Free
                      </li>
                      <li>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
                          <title>Marker</title>
                          <path d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                            transform="translate(-6 0)" />
                        </svg>
                        0.01<br />
                        33 Park Place<br />
                        Cathays<br />
                        Cardiff<br />
                        CF10 3BA<br />
                      </li>
                    </ul>
                  </div>
                </div>

                <!--End Event metadata -->
                <!--Start Contact -->
                <div class="event-section">
                  <h3>Contact</h3>
                  <ul class="list list-icons text-sm text-truncate">
                    <li>
                      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                        <title>Email</title>
                        <path d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                          transform="translate(0 -5.19)" />
                      </svg><span class="hidden-text">Email: </span>
                      <a href="mailto:sustainableplaces@cardiff.ac.uk">sustainableplaces@cardiff.ac.uk</a>
                    </li>
                    <li>
                      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                        <title>Telephone</title>
                        <path d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                          transform="translate(0 -3.09)" />
                      </svg><span class="hidden-text">Telephone: </span>
                      <a href="tel:+44 (0)29 2087 9271">+44 (0)29 2087 9271</a>
                    </li>
                  </ul>
                </div>
                <!--End Contact -->
                <!--Start Calendar -->
                <div class="event-section">
                  <h3>Add to calendar</h3>
                  <ul class="list list-links">
                    <li><a href="https://www.cardiff.ac.uk/events/export-event?id=1495154">iCal</a></li>
                    <li><a href="https://www.cardiff.ac.uk/events/export-event?id=1495154">Outlook</a></li>
                    <li>
                      <a
                        href="https://www.google.com/calendar/event?action=TEMPLATE&amp;text=The Ying and Yang of introducing honey bees to Cardiff University's Cathays campus by Prof Les Baillie, Pharmabees&amp;dates=20190517T120000/20190517T130000&amp;details=&amp;location=33 Park Place,CF10 3BA &amp;trp=true&amp;sprop=Cardiff%20University&amp;sprop=https://www.cardiff.ac.uk/events/view/1495154-the-ying-and-yang-of-introducing-honey-bees-to-cardiff-universitys-cathays-campus-by-prof-les-baillie,-pharmabees"
                        >Google Calendar</a
                      >
                    </li>
                  </ul>
                </div>
                <!--End Calendar -->
              </div>

              <div class="col-md-6">
                <p>
                  The award-winning&nbsp;<a href="https://www.cardiff.ac.uk/pharmabees" target="_blank" rel="noopener"
                    >Pharmabees project</a
                  >&nbsp;is part of Cardiff University’s civic mission to support education, the creation of new jobs,
                  and enhance the wellbeing of the people of Cardiff and beyond.&nbsp; Taking the honey bee as its model
                  the project has developed a series of innovative teaching activities designed to inspire the next
                  generation of Welsh scientists and entrepreneurs.
                </p>
                <p>&nbsp;</p>
                <p>
                  In partnership with Welsh companies, the project is developing life affirming honey-based products and
                  is actively involved in community projects focused on promoting social cohesion through the creation
                  of pollinator-friendly urban spaces. To date, approximately 1 million honey bees have been introduced
                  across the university’s Cathays Campus and there is concern that this misguided attempt to support
                  local pollinators may be doing more harm than good. The challenge is to develop a strategy which
                  benefits all at-risk communities, both human and insect.
                </p>
              </div>
              <div class="col-md-3">
                <div class="box">
                  <header class="box-header">
                    <figure class="map map map-link">
                      <div class="map-body">
                        <div
                          id="map0"
                          style="height: 100%; position: relative;"
                          class="leaflet-container leaflet-fade-anim"
                          tabindex="0"
                        >
                          <a class="map map-link" href="https://maps.google.com/maps?q=51.486254, -3.176425&amp;z=16"
                            >View The Ying and Yang of introducing honey bees to Cardiff University's Cathays campus by
                            Prof Les Baillie, Pharmabees on Google Maps</a
                          >
                          <div class="leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="leaflet-tile-pane">
                              <div class="leaflet-layer">
                                <div class="leaflet-tile-container"></div>
                                <div class="leaflet-tile-container leaflet-zoom-animated">
                                  <img
                                    class="leaflet-tile leaflet-tile-loaded"
                                    src="https://b.tiles.mapbox.com/v4/cardiffuni.jooi2b3i/16/32189/21798.png?access_token=pk.eyJ1IjoiY2FyZGlmZnVuaSIsImEiOiJsSDQwWW9FIn0.3xwcUeOa2HzlF4Fl8EJ3Xg"
                                    style="height: 256px; width: 256px; left: -58px; top: -47px;"
                                  /><img
                                    class="leaflet-tile leaflet-tile-loaded"
                                    src="https://a.tiles.mapbox.com/v4/cardiffuni.jooi2b3i/16/32190/21798.png?access_token=pk.eyJ1IjoiY2FyZGlmZnVuaSIsImEiOiJsSDQwWW9FIn0.3xwcUeOa2HzlF4Fl8EJ3Xg"
                                    style="height: 256px; width: 256px; left: 198px; top: -47px;"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="leaflet-objects-pane">
                              <div class="leaflet-shadow-pane"></div>
                              <div class="leaflet-overlay-pane"></div>
                              <div class="leaflet-marker-pane">
                                <img
                                  src="https://a.tiles.mapbox.com/v4/marker/pin-s+d4374a.png?access_token=pk.eyJ1IjoiY2FyZGlmZnVuaSIsImEiOiJsSDQwWW9FIn0.3xwcUeOa2HzlF4Fl8EJ3Xg"
                                  class="leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                                  tabindex="0"
                                  style="margin-left: -10px; margin-top: -25px; width: 20px; height: 50px; transform: translate3d(134px, 100px, 0px); z-index: 100;"
                                />
                              </div>
                              <div class="leaflet-popup-pane"></div>
                            </div>
                          </div>
                          <div class="leaflet-control-container">
                            <div class="leaflet-top leaflet-left">
                              <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                                <a class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a
                                ><a class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a>
                              </div>
                            </div>
                            <div class="leaflet-top leaflet-right">
                              <div class="leaflet-control-grid map-tooltip leaflet-control" style="display: none;">
                                <a class="close" href="#" title="close">close</a>
                                <div class="map-tooltip-content"></div>
                              </div>
                            </div>
                            <div class="leaflet-bottom leaflet-left"></div>
                            <div class="leaflet-bottom leaflet-right">
                              <div class="map-legends wax-legends leaflet-control" style="display: none;"></div>
                              <div class="leaflet-control-attribution leaflet-control">
                                <a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a>
                                <a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap</a>
                                <a
                                  class="mapbox-improve-map"
                                  href="https://www.mapbox.com/map-feedback/#cardiffuni.jooi2b3i/-3.176/51.486/16"
                                  target="_blank"
                                  >Improve this map</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </figure>
                  </header>
                  <div class="box-body">
                    0.01<br />
                    33 Park Place<br />
                    Cathays<br />
                    Cardiff<br />
                    CF10 3BA<br />
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div id="content" class="content"&#62;
  &#60;div class="container"&#62;
    &#60;div class="row"&#62;
      &#60;div class="col-md-12"&#62;
        &#60;div id="content_container_888801"&#62;
          &#60;p&#62;&#60;/p&#62;
          &#60;div id="content_container_888811"&#62;
            &#60;div class="row"&#62;
              &#60;div class="col-md-12"&#62;
                &#60;h1 id="page-title"&#62;
                  The Ying and Yang of introducing honey bees to Cardiff University's Cathays campus by Prof Les
                  Baillie, Pharmabees
                &#60;/h1&#62;
              &#60;/div&#62;
              &#60;div class="col-md-12"&#62;
                &#60;div class="event-dates"&#62;
                  &#60;div class="event-dates-item"&#62;
                    &#60;span class="lead"&#62;
                      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.56 32"&#62;
                        &#60;title&#62;Calendar&#60;/title&#62;
                        &#60;path d="M29.78,4.44V32H2.22V4.44H5.5V2.72a2.59,2.59,0,0,1,.75-2A3,3,0,0,1,8.37,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h1.94V2.72a2.59,2.59,0,0,1,.75-2A3,3,0,0,1,16,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h1.94V2.72a2.61,2.61,0,0,1,.78-2A2.88,2.88,0,0,1,23.69,0a3,3,0,0,1,2.09.72,2.59,2.59,0,0,1,.75,2V4.44h3.25ZM7,2.72V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31,1.07,1.07,0,0,0,.31-0.87V2.72a1.22,1.22,0,0,0-.31-0.94,1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,7,2.72Zm7.66,0V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31,1.07,1.07,0,0,0,.31-0.87V2.72A1.22,1.22,0,0,0,17,1.78a1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,14.69,2.72Zm7.66,0V7.31a1.07,1.07,0,0,0,.31.87,1.5,1.5,0,0,0,1,.31,1.47,1.47,0,0,0,1-.31A1.07,1.07,0,0,0,25,7.31V2.72a1.22,1.22,0,0,0-.31-0.94,1.47,1.47,0,0,0-1-.25,1.52,1.52,0,0,0-1,.25A1.22,1.22,0,0,0,22.34,2.72Zm5.16,7.84H4.5V29.72h23V10.56ZM16.06,22.34a3,3,0,0,1-1.34,2.59,5.47,5.47,0,0,1-3.31.91A7.1,7.1,0,0,1,10,25.72a7.3,7.3,0,0,1-1.31-.37L9,23.44a12.63,12.63,0,0,0,1.34.38,6.18,6.18,0,0,0,1.34.09,2.45,2.45,0,0,0,1.44-.41,1.25,1.25,0,0,0,.53-1A1.27,1.27,0,0,0,13,21.25a5.14,5.14,0,0,0-2.25-.44V18.88a3.67,3.67,0,0,0,1.75-.44,1.06,1.06,0,0,0,.63-1,0.93,0.93,0,0,0-.31-0.78,2,2,0,0,0-1.25-.28,4.94,4.94,0,0,0-1.16.16A11.84,11.84,0,0,0,9.28,17L9,15a7.93,7.93,0,0,1,1.53-.47,8.9,8.9,0,0,1,1.59-.09,4.64,4.64,0,0,1,2.66.66,2.08,2.08,0,0,1,.94,1.72,2.41,2.41,0,0,1-.59,1.63,4.22,4.22,0,0,1-1.81,1.06v0a4.79,4.79,0,0,1,2,1,2.28,2.28,0,0,1,.69,1.75h0Zm1.84-6,3.38-1.69h1.16V25.69H20.09V17.5l-1.94.72Z"
                          transform="translate(-2.22 0)"&#62;&#60;/path&#62;
                      &#60;/svg&#62;
                      Friday, 17 May 2019
                    &#60;/span&#62;
                  &#60;/div&#62;
                  &#60;div class="event-dates-item"&#62;
                    &#60;span class="lead"&#62;
                      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
                        &#60;title&#62;Clock outline&#60;/title&#62;
                        &#60;path d="M16,0A16,16,0,0,1,27.34,27.31a16,16,0,0,1-22.66,0,16,16,0,0,1,0-22.66A15.86,15.86,0,0,1,16,0Zm0,28A12,12,0,0,0,24.5,7.5a12,12,0,1,0-17,17A11.82,11.82,0,0,0,16,28Zm2-12.81V8L14,8v8.81l6.59,6.59,2.81-2.84Z"
                          transform="translate(0 0)" /&#62;
                      &#60;/svg&#62;
                      12:00-13:00
                    &#60;/span&#62;
                  &#60;/div&#62;
                &#60;/div&#62;
              &#60;/div&#62;

              &#60;!-- Begin event alerts --&#62;
              &#60;div class="col-md-12"&#62;
                &#60;p class="notice"&#62;This event has ended.&#60;/p&#62; 
              &#60;/div&#62;

              &#60;!-- End event alerts --&#62;
              &#60;div class="col-md-3"&#62;
                &#60;div class="event-metadata"&#62;
                  &#60;!--Begin Booking message and button --&#62;
                  &#60;!--End Booking message and button --&#62;
                  &#60;!--Begin Event metadata --&#62;
                  &#60;div class="event-section"&#62;
                    &#60;ul class="list list-icons"&#62;
                      &#60;li&#62;
                        &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
                          &#60;title&#62;Ticket&#60;/title&#62;
                          &#60;path d="M29,7l2.31,2.31a2.41,2.41,0,0,1,0,3.38L12.69,31.31a2.41,2.41,0,0,1-3.38,0L7,29l1-1a3,3,0,0,0,.84-2A2.88,2.88,0,0,0,6,23.16,3,3,0,0,0,4,24L3,25,0.69,22.69a2.41,2.41,0,0,1,0-3.38L19.31,0.69a2.41,2.41,0,0,1,3.38,0L25,3,24,4a3.14,3.14,0,0,0-.84,2A2.88,2.88,0,0,0,26,8.84,3,3,0,0,0,28,8Zm-3,7L18,6,6,18l8,8ZM14,22l8-8-4-4-8,8Z"
                            transform="translate(0 0)" /&#62;
                        &#60;/svg&#62;
                        Free
                      &#60;/li&#62;
                      &#60;li&#62;
                        &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32"&#62;
                          &#60;title&#62;Marker&#60;/title&#62;
                          &#60;path d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                            transform="translate(-6 0)" /&#62;
                        &#60;/svg&#62;
                        0.01&#60;br /&#62;
                        33 Park Place&#60;br /&#62;
                        Cathays&#60;br /&#62;
                        Cardiff&#60;br /&#62;
                        CF10 3BA&#60;br /&#62;
                      &#60;/li&#62;
                    &#60;/ul&#62;
                  &#60;/div&#62;
                &#60;/div&#62;

                &#60;!--End Event metadata --&#62;
                &#60;!--Start Contact --&#62;
                &#60;div class="event-section"&#62;
                  &#60;h3&#62;Contact&#60;/h3&#62;
                  &#60;ul class="list list-icons text-sm text-truncate"&#62;
                    &#60;li&#62;
                      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66"&#62;
                        &#60;title&#62;Email&#60;/title&#62;
                        &#60;path d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                          transform="translate(0 -5.19)" /&#62;
                      &#60;/svg&#62;&#60;span class="hidden-text"&#62;Email: &#60;/span&#62;
                      &#60;a href="mailto:sustainableplaces@cardiff.ac.uk"&#62;sustainableplaces@cardiff.ac.uk&#60;/a&#62;
                    &#60;/li&#62;
                    &#60;li&#62;
                      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81"&#62;
                        &#60;title&#62;Telephone&#60;/title&#62;
                        &#60;path d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                          transform="translate(0 -3.09)" /&#62;
                      &#60;/svg&#62;&#60;span class="hidden-text"&#62;Telephone: &#60;/span&#62;
                      &#60;a href="tel:+44 (0)29 2087 9271"&#62;+44 (0)29 2087 9271&#60;/a&#62;
                    &#60;/li&#62;
                  &#60;/ul&#62;
                &#60;/div&#62;
                &#60;!--End Contact --&#62;
                &#60;!--Start Calendar --&#62;
                &#60;div class="event-section"&#62;
                  &#60;h3&#62;Add to calendar&#60;/h3&#62;
                  &#60;ul class="list list-links"&#62;
                    &#60;li&#62;&#60;a href="https://www.cardiff.ac.uk/events/export-event?id=1495154"&#62;iCal&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="https://www.cardiff.ac.uk/events/export-event?id=1495154"&#62;Outlook&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;
                      &#60;a
                        href="https://www.google.com/calendar/event?action=TEMPLATE&#38;amp;text=The Ying and Yang of introducing honey bees to Cardiff University's Cathays campus by Prof Les Baillie, Pharmabees&#38;amp;dates=20190517T120000/20190517T130000&#38;amp;details=&#38;amp;location=33 Park Place,CF10 3BA &#38;amp;trp=true&#38;amp;sprop=Cardiff%20University&#38;amp;sprop=https://www.cardiff.ac.uk/events/view/1495154-the-ying-and-yang-of-introducing-honey-bees-to-cardiff-universitys-cathays-campus-by-prof-les-baillie,-pharmabees"
                        &#62;Google Calendar&#60;/a
                      &#62;
                    &#60;/li&#62;
                  &#60;/ul&#62;
                &#60;/div&#62;
                &#60;!--End Calendar --&#62;
              &#60;/div&#62;

              &#60;div class="col-md-6"&#62;
                &#60;p&#62;
                  The award-winning&#38;nbsp;&#60;a href="https://www.cardiff.ac.uk/pharmabees" target="_blank" rel="noopener"
                    &#62;Pharmabees project&#60;/a
                  &#62;&#38;nbsp;is part of Cardiff University&#8217;s civic mission to support education, the creation of new jobs,
                  and enhance the wellbeing of the people of Cardiff and beyond.&#38;nbsp; Taking the honey bee as its model
                  the project has developed a series of innovative teaching activities designed to inspire the next
                  generation of Welsh scientists and entrepreneurs.
                &#60;/p&#62;
                &#60;p&#62;&#38;nbsp;&#60;/p&#62;
                &#60;p&#62;
                  In partnership with Welsh companies, the project is developing life affirming honey-based products and
                  is actively involved in community projects focused on promoting social cohesion through the creation
                  of pollinator-friendly urban spaces. To date, approximately 1 million honey bees have been introduced
                  across the university&#8217;s Cathays Campus and there is concern that this misguided attempt to support
                  local pollinators may be doing more harm than good. The challenge is to develop a strategy which
                  benefits all at-risk communities, both human and insect.
                &#60;/p&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3"&#62;
                &#60;div class="box"&#62;
                  &#60;header class="box-header"&#62;
                    &#60;figure class="map map map-link"&#62;
                      &#60;div class="map-body"&#62;
                        &#60;div
                          id="map0"
                          style="height: 100%; position: relative;"
                          class="leaflet-container leaflet-fade-anim"
                          tabindex="0"
                        &#62;
                          &#60;a class="map map-link" href="https://maps.google.com/maps?q=51.486254, -3.176425&#38;amp;z=16"
                            &#62;View The Ying and Yang of introducing honey bees to Cardiff University's Cathays campus by
                            Prof Les Baillie, Pharmabees on Google Maps&#60;/a
                          &#62;
                          &#60;div class="leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"&#62;
                            &#60;div class="leaflet-tile-pane"&#62;
                              &#60;div class="leaflet-layer"&#62;
                                &#60;div class="leaflet-tile-container"&#62;&#60;/div&#62;
                                &#60;div class="leaflet-tile-container leaflet-zoom-animated"&#62;
                                  &#60;img
                                    class="leaflet-tile leaflet-tile-loaded"
                                    src="https://b.tiles.mapbox.com/v4/cardiffuni.jooi2b3i/16/32189/21798.png?access_token=pk.eyJ1IjoiY2FyZGlmZnVuaSIsImEiOiJsSDQwWW9FIn0.3xwcUeOa2HzlF4Fl8EJ3Xg"
                                    style="height: 256px; width: 256px; left: -58px; top: -47px;"
                                  /&#62;&#60;img
                                    class="leaflet-tile leaflet-tile-loaded"
                                    src="https://a.tiles.mapbox.com/v4/cardiffuni.jooi2b3i/16/32190/21798.png?access_token=pk.eyJ1IjoiY2FyZGlmZnVuaSIsImEiOiJsSDQwWW9FIn0.3xwcUeOa2HzlF4Fl8EJ3Xg"
                                    style="height: 256px; width: 256px; left: 198px; top: -47px;"
                                  /&#62;
                                &#60;/div&#62;
                              &#60;/div&#62;
                            &#60;/div&#62;
                            &#60;div class="leaflet-objects-pane"&#62;
                              &#60;div class="leaflet-shadow-pane"&#62;&#60;/div&#62;
                              &#60;div class="leaflet-overlay-pane"&#62;&#60;/div&#62;
                              &#60;div class="leaflet-marker-pane"&#62;
                                &#60;img
                                  src="https://a.tiles.mapbox.com/v4/marker/pin-s+d4374a.png?access_token=pk.eyJ1IjoiY2FyZGlmZnVuaSIsImEiOiJsSDQwWW9FIn0.3xwcUeOa2HzlF4Fl8EJ3Xg"
                                  class="leaflet-marker-icon leaflet-zoom-animated leaflet-clickable"
                                  tabindex="0"
                                  style="margin-left: -10px; margin-top: -25px; width: 20px; height: 50px; transform: translate3d(134px, 100px, 0px); z-index: 100;"
                                /&#62;
                              &#60;/div&#62;
                              &#60;div class="leaflet-popup-pane"&#62;&#60;/div&#62;
                            &#60;/div&#62;
                          &#60;/div&#62;
                          &#60;div class="leaflet-control-container"&#62;
                            &#60;div class="leaflet-top leaflet-left"&#62;
                              &#60;div class="leaflet-control-zoom leaflet-bar leaflet-control"&#62;
                                &#60;a class="leaflet-control-zoom-in" href="#" title="Zoom in"&#62;+&#60;/a
                                &#62;&#60;a class="leaflet-control-zoom-out" href="#" title="Zoom out"&#62;-&#60;/a&#62;
                              &#60;/div&#62;
                            &#60;/div&#62;
                            &#60;div class="leaflet-top leaflet-right"&#62;
                              &#60;div class="leaflet-control-grid map-tooltip leaflet-control" style="display: none;"&#62;
                                &#60;a class="close" href="#" title="close"&#62;close&#60;/a&#62;
                                &#60;div class="map-tooltip-content"&#62;&#60;/div&#62;
                              &#60;/div&#62;
                            &#60;/div&#62;
                            &#60;div class="leaflet-bottom leaflet-left"&#62;&#60;/div&#62;
                            &#60;div class="leaflet-bottom leaflet-right"&#62;
                              &#60;div class="map-legends wax-legends leaflet-control" style="display: none;"&#62;&#60;/div&#62;
                              &#60;div class="leaflet-control-attribution leaflet-control"&#62;
                                &#60;a href="https://www.mapbox.com/about/maps/" target="_blank"&#62;&#169; Mapbox&#60;/a&#62;
                                &#60;a href="http://www.openstreetmap.org/about/" target="_blank"&#62;&#169; OpenStreetMap&#60;/a&#62;
                                &#60;a
                                  class="mapbox-improve-map"
                                  href="https://www.mapbox.com/map-feedback/#cardiffuni.jooi2b3i/-3.176/51.486/16"
                                  target="_blank"
                                  &#62;Improve this map&#60;/a
                                &#62;
                              &#60;/div&#62;
                            &#60;/div&#62;
                          &#60;/div&#62;
                        &#60;/div&#62;
                      &#60;/div&#62;
                    &#60;/figure&#62;
                  &#60;/header&#62;
                  &#60;div class="box-body"&#62;
                    0.01&#60;br /&#62;
                    33 Park Place&#60;br /&#62;
                    Cathays&#60;br /&#62;
                    Cardiff&#60;br /&#62;
                    CF10 3BA&#60;br /&#62;
                  &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  

    </main>
  </div>
</div>
