<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  active"
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Event Schedule</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#Horizontal" class="nav-link">Horizontal</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><ul class="event-schedule">
  <li class="event-schedule__item" data-delay="180" data-timestamp-start="1605174180625"
    data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44">
  <title>Dropbox</title>
  <path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" />
</svg>
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-important my-5">Live now</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44">
  <title>Dropbox</title>
  <path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" />
</svg>
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-inverse my-5">Mae'r digwyddiad hwn ar ben</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44">
  <title>Dropbox</title>
  <path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" />
</svg>
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-info my-5">Cofrestru ar agor</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44">
  <title>Dropbox</title>
  <path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" />
</svg>
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-important my-5">Yn fyw nawr</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625">
    <a href="/" class="event-schedule__item__icon">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44">
  <title>Dropbox</title>
  <path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" />
</svg>
    </a>
    <div class="event-schedule__item__body">
      <h3 class="event-schedule__item__title">
        <a href="#">Accomodation Q&A</a>
      </h3>
      <span class="badge badge--outline badge--lg badge-info my-5">Ar gael cyn bo hir</span>
      <p class="event-schedule__item__date">21 June, <span class="event-schedule__item__time">09:00 - 10:00</span></p>
    </div>
  </li>
</ul></div>
<pre class="prettyprint">&#60;ul class="event-schedule"&#62;
  &#60;li class="event-schedule__item" data-delay="180" data-timestamp-start="1605174180625"
    data-timestamp-end="1605174180625"&#62;
    &#60;a href="/" class="event-schedule__item__icon"&#62;
      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44"&#62;
  &#60;title&#62;Dropbox&#60;/title&#62;
  &#60;path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" /&#62;
&#60;/svg&#62;
    &#60;/a&#62;
    &#60;div class="event-schedule__item__body"&#62;
      &#60;h3 class="event-schedule__item__title"&#62;
        &#60;a href="#"&#62;Accomodation Q&#38;A&#60;/a&#62;
      &#60;/h3&#62;
      &#60;span class="badge badge--outline badge--lg badge-important my-5"&#62;Live now&#60;/span&#62;
      &#60;p class="event-schedule__item__date"&#62;21 June, &#60;span class="event-schedule__item__time"&#62;09:00 - 10:00&#60;/span&#62;&#60;/p&#62;
    &#60;/div&#62;
  &#60;/li&#62;
  &#60;li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625"&#62;
    &#60;a href="/" class="event-schedule__item__icon"&#62;
      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44"&#62;
  &#60;title&#62;Dropbox&#60;/title&#62;
  &#60;path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" /&#62;
&#60;/svg&#62;
    &#60;/a&#62;
    &#60;div class="event-schedule__item__body"&#62;
      &#60;h3 class="event-schedule__item__title"&#62;
        &#60;a href="#"&#62;Accomodation Q&#38;A&#60;/a&#62;
      &#60;/h3&#62;
      &#60;span class="badge badge--outline badge--lg badge-inverse my-5"&#62;Mae'r digwyddiad hwn ar ben&#60;/span&#62;
      &#60;p class="event-schedule__item__date"&#62;21 June, &#60;span class="event-schedule__item__time"&#62;09:00 - 10:00&#60;/span&#62;&#60;/p&#62;
    &#60;/div&#62;
  &#60;/li&#62;
  &#60;li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625"&#62;
    &#60;a href="/" class="event-schedule__item__icon"&#62;
      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44"&#62;
  &#60;title&#62;Dropbox&#60;/title&#62;
  &#60;path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" /&#62;
&#60;/svg&#62;
    &#60;/a&#62;
    &#60;div class="event-schedule__item__body"&#62;
      &#60;h3 class="event-schedule__item__title"&#62;
        &#60;a href="#"&#62;Accomodation Q&#38;A&#60;/a&#62;
      &#60;/h3&#62;
      &#60;span class="badge badge--outline badge--lg badge-info my-5"&#62;Cofrestru ar agor&#60;/span&#62;
      &#60;p class="event-schedule__item__date"&#62;21 June, &#60;span class="event-schedule__item__time"&#62;09:00 - 10:00&#60;/span&#62;&#60;/p&#62;
    &#60;/div&#62;
  &#60;/li&#62;
  &#60;li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625"&#62;
    &#60;a href="/" class="event-schedule__item__icon"&#62;
      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44"&#62;
  &#60;title&#62;Dropbox&#60;/title&#62;
  &#60;path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" /&#62;
&#60;/svg&#62;
    &#60;/a&#62;
    &#60;div class="event-schedule__item__body"&#62;
      &#60;h3 class="event-schedule__item__title"&#62;
        &#60;a href="#"&#62;Accomodation Q&#38;A&#60;/a&#62;
      &#60;/h3&#62;
      &#60;span class="badge badge--outline badge--lg badge-important my-5"&#62;Yn fyw nawr&#60;/span&#62;
      &#60;p class="event-schedule__item__date"&#62;21 June, &#60;span class="event-schedule__item__time"&#62;09:00 - 10:00&#60;/span&#62;&#60;/p&#62;
    &#60;/div&#62;
  &#60;/li&#62;
  &#60;li class="event-schedule__item" data-timestamp-start="1605174180625" data-timestamp-end="1605174180625"&#62;
    &#60;a href="/" class="event-schedule__item__icon"&#62;
      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.44"&#62;
  &#60;title&#62;Dropbox&#60;/title&#62;
  &#60;path d="M9.56,1.78l6.09,5L6,12.59l-6-5ZM26,12.59L16.41,6.75l6-5L32,7.63Zm-16.28,11L0.44,18.25,6,13.53,15,19ZM26.06,13.53l5.5,4.72-9.16,5.34L17,19Zm-0.47,9.28,0,0,0,1.72-9.22,5.66,0-10.72,6.09,5Zm-10-3.28,0,10.66L6.44,24.59l0-1.72L9.56,24.5ZM6.47,22.81v0.06l0,0Z"
    transform="translate(-0.03 -1.78)" /&#62;
&#60;/svg&#62;
    &#60;/a&#62;
    &#60;div class="event-schedule__item__body"&#62;
      &#60;h3 class="event-schedule__item__title"&#62;
        &#60;a href="#"&#62;Accomodation Q&#38;A&#60;/a&#62;
      &#60;/h3&#62;
      &#60;span class="badge badge--outline badge--lg badge-info my-5"&#62;Ar gael cyn bo hir&#60;/span&#62;
      &#60;p class="event-schedule__item__date"&#62;21 June, &#60;span class="event-schedule__item__time"&#62;09:00 - 10:00&#60;/span&#62;&#60;/p&#62;
    &#60;/div&#62;
  &#60;/li&#62;
&#60;/ul&#62;</pre>
  
<h2 id="Horizontal">Horizontal</h2>
<p></p>
<div class="component-example"><ul class="event-schedule event-schedule--horizontal">
  <li class="event-schedule__item" data-registration-open="true" data-timestamp-start="1609459200000"
    data-timestamp-end="1609459200000">
    <a class="event-schedule__item__body" href="#" title="Twitter">
      <div class="event-schedule__item__icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Twitter</title>
  <path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"></path>
  <rect width="32" height="32" style="fill:#55acee"></rect>
  <path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"></path>
</svg></div>
      <div>
        <span class="d-block event-schedule__item__title">Multiline text goes here, more text here</span>
        <span class="badge badge--outline badge--lg badge-important mt-10">Live now</span>
      </div>
    </a>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642">
    <a class="event-schedule__item__body" href="#" title="Twitter">
      <div class="event-schedule__item__icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Twitter</title>
  <path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"></path>
  <rect width="32" height="32" style="fill:#55acee"></rect>
  <path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"></path>
</svg></div>
      <div>
        <span class="d-block event-schedule__item__title">Multiline text goes here, more text here</span>
        <span class="badge badge--outline badge--lg badge-info mt-10">Coming soon</span>
      </div>
    </a>
  </li>
  <li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642">
    <a class="event-schedule__item__body" href="#" title="Twitter">
      <div class="event-schedule__item__icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Twitter</title>
  <path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"></path>
  <rect width="32" height="32" style="fill:#55acee"></rect>
  <path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"></path>
</svg></div>
      <div>
        <span class="d-block event-schedule__item__title">Multiline text goes here, more text here</span>
        <span class="badge badge--outline badge--lg badge-info mt-10">Registration open</span>
      </div>
    </a>
  </li>
</ul>
<ul class="event-schedule event-schedule--horizontal">
  <li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642">
    <div class="event-schedule__item__body">
      <div class="event-schedule__item__icon"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Twitter</title>
  <path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"></path>
  <rect width="32" height="32" style="fill:#55acee"></rect>
  <path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"></path>
</svg></div>
      <div>
        <span class="d-block event-schedule__item__title">Multiline text goes here, more text here</span>
        <span class="badge badge--outline badge--lg badge-inverse mt-10">Event ended</span>
      </div>
    </div>
  </li>
</ul></div>
<pre class="prettyprint">&#60;ul class="event-schedule event-schedule--horizontal"&#62;
  &#60;li class="event-schedule__item" data-registration-open="true" data-timestamp-start="1609459200000"
    data-timestamp-end="1609459200000"&#62;
    &#60;a class="event-schedule__item__body" href="#" title="Twitter"&#62;
      &#60;div class="event-schedule__item__icon"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Twitter&#60;/title&#62;
  &#60;path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"&#62;&#60;/path&#62;
  &#60;rect width="32" height="32" style="fill:#55acee"&#62;&#60;/rect&#62;
  &#60;path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/div&#62;
      &#60;div&#62;
        &#60;span class="d-block event-schedule__item__title"&#62;Multiline text goes here, more text here&#60;/span&#62;
        &#60;span class="badge badge--outline badge--lg badge-important mt-10"&#62;Live now&#60;/span&#62;
      &#60;/div&#62;
    &#60;/a&#62;
  &#60;/li&#62;
  &#60;li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642"&#62;
    &#60;a class="event-schedule__item__body" href="#" title="Twitter"&#62;
      &#60;div class="event-schedule__item__icon"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Twitter&#60;/title&#62;
  &#60;path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"&#62;&#60;/path&#62;
  &#60;rect width="32" height="32" style="fill:#55acee"&#62;&#60;/rect&#62;
  &#60;path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/div&#62;
      &#60;div&#62;
        &#60;span class="d-block event-schedule__item__title"&#62;Multiline text goes here, more text here&#60;/span&#62;
        &#60;span class="badge badge--outline badge--lg badge-info mt-10"&#62;Coming soon&#60;/span&#62;
      &#60;/div&#62;
    &#60;/a&#62;
  &#60;/li&#62;
  &#60;li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642"&#62;
    &#60;a class="event-schedule__item__body" href="#" title="Twitter"&#62;
      &#60;div class="event-schedule__item__icon"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Twitter&#60;/title&#62;
  &#60;path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"&#62;&#60;/path&#62;
  &#60;rect width="32" height="32" style="fill:#55acee"&#62;&#60;/rect&#62;
  &#60;path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/div&#62;
      &#60;div&#62;
        &#60;span class="d-block event-schedule__item__title"&#62;Multiline text goes here, more text here&#60;/span&#62;
        &#60;span class="badge badge--outline badge--lg badge-info mt-10"&#62;Registration open&#60;/span&#62;
      &#60;/div&#62;
    &#60;/a&#62;
  &#60;/li&#62;
&#60;/ul&#62;
&#60;ul class="event-schedule event-schedule--horizontal"&#62;
  &#60;li class="event-schedule__item" data-timestamp-start="1605092940642" data-timestamp-end="1605092940642"&#62;
    &#60;div class="event-schedule__item__body"&#62;
      &#60;div class="event-schedule__item__icon"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Twitter&#60;/title&#62;
  &#60;path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"&#62;&#60;/path&#62;
  &#60;rect width="32" height="32" style="fill:#55acee"&#62;&#60;/rect&#62;
  &#60;path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/div&#62;
      &#60;div&#62;
        &#60;span class="d-block event-schedule__item__title"&#62;Multiline text goes here, more text here&#60;/span&#62;
        &#60;span class="badge badge--outline badge--lg badge-inverse mt-10"&#62;Event ended&#60;/span&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/li&#62;
&#60;/ul&#62;</pre>
  

    </main>
  </div>
</div>
