<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  active"
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Facets</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Checkbox" class="nav-link">Checkbox</a><li class="nav-item"><a href="#Radio" class="nav-link">Radio</a><li class="nav-item"><a href="#Date-range" class="nav-link">Date range</a><li class="nav-item"><a href="#Selected-facets" class="nav-link">Selected facets</a><li class="nav-item"><a href="#Facet-modal" class="nav-link">Facet modal</a><li class="nav-item"><a href="#Facet-popup" class="nav-link">Facet popup</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Checkbox">Checkbox</h2>
<p></p>
<div class="component-example"><form class="form">
  <div class="facet">
    <div class="facet-heading">
      <a href="#facet-Type" class="facet-title" data-toggle="collapse" id="facet-label-1">
        Type of Student<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
    <title>Chevron down</title>
    <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"></path>
</svg>
      </a>
    </div>
    <div class="collapse show" id="facet-Type">
      <div class="facet-body">
        <div class="form-group">
          <p class="form-text text-muted">Show results based on distance from school.</p>
          <div role="group" aria-labelledby="facet-label-1">
            <div class="checkbox-option">
              <input type="checkbox" id="optionsCheckbox1" />
              <label for="optionsCheckbox1" class="checkbox-option-label"> Undergraduates</label>
            </div>
            <div class="checkbox-option">
              <input type="checkbox" id="optionsCheckbox2" />
              <label for="optionsCheckbox2" class="checkbox-option-label"> Postgraduates</label>
            </div>
            <div class="checkbox-option">
              <input type="checkbox" id="optionsCheckbox3" />
              <label for="optionsCheckbox3" class="checkbox-option-label"> Something else</label>
            </div>
          </div>
        </div>
        <a href="#" class="facet-show-more" data-facet="#">Show more</a>
      </div>
    </div>
  </div>
</form>
</div>
<pre class="prettyprint">&#60;form class="form"&#62;
  &#60;div class="facet"&#62;
    &#60;div class="facet-heading"&#62;
      &#60;a href="#facet-Type" class="facet-title" data-toggle="collapse" id="facet-label-1"&#62;
        Type of Student&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75"&#62;
    &#60;title&#62;Chevron down&#60;/title&#62;
    &#60;path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"&#62;&#60;/path&#62;
&#60;/svg&#62;
      &#60;/a&#62;
    &#60;/div&#62;
    &#60;div class="collapse show" id="facet-Type"&#62;
      &#60;div class="facet-body"&#62;
        &#60;div class="form-group"&#62;
          &#60;p class="form-text text-muted"&#62;Show results based on distance from school.&#60;/p&#62;
          &#60;div role="group" aria-labelledby="facet-label-1"&#62;
            &#60;div class="checkbox-option"&#62;
              &#60;input type="checkbox" id="optionsCheckbox1" /&#62;
              &#60;label for="optionsCheckbox1" class="checkbox-option-label"&#62; Undergraduates&#60;/label&#62;
            &#60;/div&#62;
            &#60;div class="checkbox-option"&#62;
              &#60;input type="checkbox" id="optionsCheckbox2" /&#62;
              &#60;label for="optionsCheckbox2" class="checkbox-option-label"&#62; Postgraduates&#60;/label&#62;
            &#60;/div&#62;
            &#60;div class="checkbox-option"&#62;
              &#60;input type="checkbox" id="optionsCheckbox3" /&#62;
              &#60;label for="optionsCheckbox3" class="checkbox-option-label"&#62; Something else&#60;/label&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
        &#60;a href="#" class="facet-show-more" data-facet="#"&#62;Show more&#60;/a&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/form&#62;
</pre>
  
<h2 id="Radio">Radio</h2>
<p></p>
<div class="component-example"><form class="form">
  <div class="facet">
    <div class="facet-heading">
      <a href="#facet-School" class="facet-title" data-toggle="collapse" id="facet-label-2">Academic Schools <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
    <title>Chevron down</title>
    <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"></path>
</svg> </a>
    </div>

    <div class="collapse show" id="facet-School">
      <div class="facet-body">
        <div class="form-group">
          <p class="form-text text-muted">Show results based on distance from school.</p>
          <div role="radiogroup" aria-labelledby="facet-label-2">
            <div class="radio-option">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="yes" />
              <label for="optionsRadios1" class="radio-option-label"> Undergraduates</label>
            </div>
            <div class="radio-option">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="yes" />
              <label for="optionsRadios2" class="radio-option-label"> Postgraduates</label>
            </div>
            <div class="radio-option">
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="yes" />
              <label for="optionsRadios3" class="radio-option-label"> Some other type</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<pre class="prettyprint">&#60;form class="form"&#62;
  &#60;div class="facet"&#62;
    &#60;div class="facet-heading"&#62;
      &#60;a href="#facet-School" class="facet-title" data-toggle="collapse" id="facet-label-2"&#62;Academic Schools &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75"&#62;
    &#60;title&#62;Chevron down&#60;/title&#62;
    &#60;path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"&#62;&#60;/path&#62;
&#60;/svg&#62; &#60;/a&#62;
    &#60;/div&#62;

    &#60;div class="collapse show" id="facet-School"&#62;
      &#60;div class="facet-body"&#62;
        &#60;div class="form-group"&#62;
          &#60;p class="form-text text-muted"&#62;Show results based on distance from school.&#60;/p&#62;
          &#60;div role="radiogroup" aria-labelledby="facet-label-2"&#62;
            &#60;div class="radio-option"&#62;
              &#60;input type="radio" name="optionsRadios" id="optionsRadios1" value="yes" /&#62;
              &#60;label for="optionsRadios1" class="radio-option-label"&#62; Undergraduates&#60;/label&#62;
            &#60;/div&#62;
            &#60;div class="radio-option"&#62;
              &#60;input type="radio" name="optionsRadios" id="optionsRadios2" value="yes" /&#62;
              &#60;label for="optionsRadios2" class="radio-option-label"&#62; Postgraduates&#60;/label&#62;
            &#60;/div&#62;
            &#60;div class="radio-option"&#62;
              &#60;input type="radio" name="optionsRadios" id="optionsRadios3" value="yes" /&#62;
              &#60;label for="optionsRadios3" class="radio-option-label"&#62; Some other type&#60;/label&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/form&#62;
</pre>
  
<h2 id="Date-range">Date range</h2>
<p></p>
<div class="component-example"><form class="form">
  <div class="facet">
    <div class="facet-heading">
      <a href="#facet-date" class="facet-title" data-toggle="collapse">Date<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
    <title>Chevron down</title>
    <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"></path>
</svg></a>
    </div>

    <div class="collapse show" id="facet-date">
      <div class="facet-body">
        <div class="form-group">
          <label for="date-from">From</label>
          <input class="form-control" type="date" id="date-from" />
        </div>
        <div class="form-group">
          <label for="date-to">To</label>
          <input class="form-control" type="date" id="date-to" />
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </div>
  </div>
</form>
</div>
<pre class="prettyprint">&#60;form class="form"&#62;
  &#60;div class="facet"&#62;
    &#60;div class="facet-heading"&#62;
      &#60;a href="#facet-date" class="facet-title" data-toggle="collapse"&#62;Date&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75"&#62;
    &#60;title&#62;Chevron down&#60;/title&#62;
    &#60;path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/a&#62;
    &#60;/div&#62;

    &#60;div class="collapse show" id="facet-date"&#62;
      &#60;div class="facet-body"&#62;
        &#60;div class="form-group"&#62;
          &#60;label for="date-from"&#62;From&#60;/label&#62;
          &#60;input class="form-control" type="date" id="date-from" /&#62;
        &#60;/div&#62;
        &#60;div class="form-group"&#62;
          &#60;label for="date-to"&#62;To&#60;/label&#62;
          &#60;input class="form-control" type="date" id="date-to" /&#62;
        &#60;/div&#62;
        &#60;button type="submit" class="btn btn-primary"&#62;Apply&#60;/button&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/form&#62;
</pre>
  
<h2 id="Selected-facets">Selected facets</h2>
<p></p>
<div class="component-example"><ul class="selected-facets">
  <li>
    <a href="#" title="Remove refinement" class="btn btn-sm btn-success"><svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
  <title>Close</title>
  <path d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z" transform="translate(-2 -2)" />
</svg>Selected facet</a>
  </li>
</ul>
</div>
<pre class="prettyprint">&#60;ul class="selected-facets"&#62;
  &#60;li&#62;
    &#60;a href="#" title="Remove refinement" class="btn btn-sm btn-success"&#62;&#60;svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"&#62;
  &#60;title&#62;Close&#60;/title&#62;
  &#60;path d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z" transform="translate(-2 -2)" /&#62;
&#60;/svg&#62;Selected facet&#60;/a&#62;
  &#60;/li&#62;
&#60;/ul&#62;
</pre>
  
<h2 id="Facet-modal">Facet modal</h2>
<p></p>
<div class="component-example"><a href="#modal2" role="button" class="btn btn-lg btn-info btn-filter d-lg-none d-block" data-toggle="modal" id="filter-results-model"
  >Filter results <svg class="icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 319.89">
    <defs>
        <style>.cls-1{fill:#fff;}</style>
    </defs>
    <title>filter-icon</title>
    <rect class="cls-1" width="400" height="40" rx="20"/>
    <rect class="cls-1" x="60" y="139.89" width="280" height="40" rx="20"/>
    <rect class="cls-1" x="120" y="279.89" width="160" height="40" rx="20"/>
</svg> 
</a>

<div id="modal2" class="modal modal-facet fade" tabindex="-1" role="dialog" aria-labelledby="filter-results-model" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Filter</p>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
  <title>Close</title>
  <path d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z" transform="translate(-2 -2)" />
</svg></button>
      </div>
      <div class="modal-body">
        <form action="/" method="get">
          <fieldset>
            <div class="form-group">
              <legend class="form-label" id="facet-label-4">Types of Students</legend>
              <p class="form-text text-muted">Select <strong>one</strong> type.</p>
              <div role="group" aria-labelledby="facet-label-4">
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox" id="optionsCheckbox4" />
                  <label for="optionsCheckbox4" class="checkbox-option-label">Undergraduates</label>
                </div>
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox" id="optionsCheckbox5" />
                  <label for="optionsCheckbox5" class="checkbox-option-label">Postgraduates</label>
                </div>
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox" id="optionsCheckbox6" />
                  <label for="optionsCheckbox6" class="checkbox-option-label">Something else</label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <p class="form-label" id="facet-label-5">Academic Schools</p>
              <p class="form-text text-muted">Show results based on distance from school.</p>
              <div role="radiogroup" aria-labelledby="facet-label-5">
                <div class="radio-option">
                  <input type="radio" name="optionsRadios" id="optionsRadios4" value="yes" />
                  <label for="optionsRadios4" class="radio-option-label">School of Chemistry</label>
                </div>
                <div class="radio-option">
                  <input type="radio" name="optionsRadios" id="optionsRadios5" value="yes" />
                  <label for="optionsRadios5" class="radio-option-label">Biosciences</label>
                </div>
                <div class="radio-option">
                  <input type="radio" name="optionsRadios" id="optionsRadios6" value="yes" />
                  <label for="optionsRadios6" class="radio-option-label">School of Computer Science & Informatics</label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <p class="form-label" id="facet-label-6">Catering</p>
              <div role="group" aria-labelledby="facet-label-6">
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox8" id="optionsCheckbox8" />
                  <label for="optionsCheckbox8" class="checkbox-option-label">Self-catered</label>
                </div>
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox8" id="optionsCheckbox9" />
                  <label for="optionsCheckbox9" class="checkbox-option-label">Catered</label>
                </div>
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox8" id="optionsCheckbox10" />
                  <label for="optionsCheckbox10" class="checkbox-option-label">All inclusive wow</label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-buttons sticky sticky-bottom">
            <button type="submit" class="btn btn-lg btn-info">View results</button>
            <a href="#" class="btn btn-link">Clear</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;a href="#modal2" role="button" class="btn btn-lg btn-info btn-filter d-lg-none d-block" data-toggle="modal" id="filter-results-model"
  &#62;Filter results &#60;svg class="icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 319.89"&#62;
    &#60;defs&#62;
        &#60;style&#62;.cls-1{fill:#fff;}&#60;/style&#62;
    &#60;/defs&#62;
    &#60;title&#62;filter-icon&#60;/title&#62;
    &#60;rect class="cls-1" width="400" height="40" rx="20"/&#62;
    &#60;rect class="cls-1" x="60" y="139.89" width="280" height="40" rx="20"/&#62;
    &#60;rect class="cls-1" x="120" y="279.89" width="160" height="40" rx="20"/&#62;
&#60;/svg&#62; 
&#60;/a&#62;

&#60;div id="modal2" class="modal modal-facet fade" tabindex="-1" role="dialog" aria-labelledby="filter-results-model" aria-hidden="true"&#62;
  &#60;div class="modal-dialog"&#62;
    &#60;div class="modal-content"&#62;
      &#60;div class="modal-header"&#62;
        &#60;p class="modal-title"&#62;Filter&#60;/p&#62;
        &#60;button type="button" class="close" data-dismiss="modal" aria-hidden="true"&#62;&#60;svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"&#62;
  &#60;title&#62;Close&#60;/title&#62;
  &#60;path d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z" transform="translate(-2 -2)" /&#62;
&#60;/svg&#62;&#60;/button&#62;
      &#60;/div&#62;
      &#60;div class="modal-body"&#62;
        &#60;form action="/" method="get"&#62;
          &#60;fieldset&#62;
            &#60;div class="form-group"&#62;
              &#60;legend class="form-label" id="facet-label-4"&#62;Types of Students&#60;/legend&#62;
              &#60;p class="form-text text-muted"&#62;Select &#60;strong&#62;one&#60;/strong&#62; type.&#60;/p&#62;
              &#60;div role="group" aria-labelledby="facet-label-4"&#62;
                &#60;div class="checkbox-option"&#62;
                  &#60;input type="checkbox" name="checkbox" id="optionsCheckbox4" /&#62;
                  &#60;label for="optionsCheckbox4" class="checkbox-option-label"&#62;Undergraduates&#60;/label&#62;
                &#60;/div&#62;
                &#60;div class="checkbox-option"&#62;
                  &#60;input type="checkbox" name="checkbox" id="optionsCheckbox5" /&#62;
                  &#60;label for="optionsCheckbox5" class="checkbox-option-label"&#62;Postgraduates&#60;/label&#62;
                &#60;/div&#62;
                &#60;div class="checkbox-option"&#62;
                  &#60;input type="checkbox" name="checkbox" id="optionsCheckbox6" /&#62;
                  &#60;label for="optionsCheckbox6" class="checkbox-option-label"&#62;Something else&#60;/label&#62;
                &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
          &#60;/fieldset&#62;

          &#60;fieldset&#62;
            &#60;div class="form-group"&#62;
              &#60;p class="form-label" id="facet-label-5"&#62;Academic Schools&#60;/p&#62;
              &#60;p class="form-text text-muted"&#62;Show results based on distance from school.&#60;/p&#62;
              &#60;div role="radiogroup" aria-labelledby="facet-label-5"&#62;
                &#60;div class="radio-option"&#62;
                  &#60;input type="radio" name="optionsRadios" id="optionsRadios4" value="yes" /&#62;
                  &#60;label for="optionsRadios4" class="radio-option-label"&#62;School of Chemistry&#60;/label&#62;
                &#60;/div&#62;
                &#60;div class="radio-option"&#62;
                  &#60;input type="radio" name="optionsRadios" id="optionsRadios5" value="yes" /&#62;
                  &#60;label for="optionsRadios5" class="radio-option-label"&#62;Biosciences&#60;/label&#62;
                &#60;/div&#62;
                &#60;div class="radio-option"&#62;
                  &#60;input type="radio" name="optionsRadios" id="optionsRadios6" value="yes" /&#62;
                  &#60;label for="optionsRadios6" class="radio-option-label"&#62;School of Computer Science &#38; Informatics&#60;/label&#62;
                &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
          &#60;/fieldset&#62;

          &#60;fieldset&#62;
            &#60;div class="form-group"&#62;
              &#60;p class="form-label" id="facet-label-6"&#62;Catering&#60;/p&#62;
              &#60;div role="group" aria-labelledby="facet-label-6"&#62;
                &#60;div class="checkbox-option"&#62;
                  &#60;input type="checkbox" name="checkbox8" id="optionsCheckbox8" /&#62;
                  &#60;label for="optionsCheckbox8" class="checkbox-option-label"&#62;Self-catered&#60;/label&#62;
                &#60;/div&#62;
                &#60;div class="checkbox-option"&#62;
                  &#60;input type="checkbox" name="checkbox8" id="optionsCheckbox9" /&#62;
                  &#60;label for="optionsCheckbox9" class="checkbox-option-label"&#62;Catered&#60;/label&#62;
                &#60;/div&#62;
                &#60;div class="checkbox-option"&#62;
                  &#60;input type="checkbox" name="checkbox8" id="optionsCheckbox10" /&#62;
                  &#60;label for="optionsCheckbox10" class="checkbox-option-label"&#62;All inclusive wow&#60;/label&#62;
                &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
          &#60;/fieldset&#62;

          &#60;div class="form-buttons sticky sticky-bottom"&#62;
            &#60;button type="submit" class="btn btn-lg btn-info"&#62;View results&#60;/button&#62;
            &#60;a href="#" class="btn btn-link"&#62;Clear&#60;/a&#62;
          &#60;/div&#62;
        &#60;/form&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Facet-popup">Facet popup</h2>
<p></p>
<div class="component-example"><a class="btn btn-lg btn-info btn-filter d-block d-md-none" id="launch-facet-menu-popup" href="#">Filter
  results<svg class="icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 319.89">
    <defs>
        <style>.cls-1{fill:#fff;}</style>
    </defs>
    <title>filter-icon</title>
    <rect class="cls-1" width="400" height="40" rx="20"/>
    <rect class="cls-1" x="60" y="139.89" width="280" height="40" rx="20"/>
    <rect class="cls-1" x="120" y="279.89" width="160" height="40" rx="20"/>
</svg> </a>
<div class="facet facet-popup d-none" id="facet-menu-popup">
  <div class="facet-heading">
    <h1 class="facet-title">Filter results <svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
  <title>Close</title>
  <path d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z" transform="translate(-2 -2)" />
</svg></h1>
  </div>
  <div class="facet-body">
    <ul class="facet-items">
      <li class="facet-group-title" data-facet="facet-popup-type"><a href="#facet-popup-type">Filter by role</a></li>
    </ul>
    <div class="facet-actions">
    </div>
  </div>
</div>
<div class="facet facet-popup d-none" id="facet-popup-type">
  <div class="facet-heading">
    <a href="#facet-Type" class="facet-title" id="facet-label-1">Filter by role</a>
  </div>
  <div class="facet-body" id="facet-Type">
    <form action="#" method="GET" role="search">
      <input type="hidden" name="collection" value="profiles">
      <input type="hidden" name="form" value="search-en">
      <input type="hidden" name="query" value="!nul">
      <input type="hidden" name="facetScope" value="f.URI%7CR=diuri">
      <div class="form-group">
        <div role="group" aria-labelledby="facet-label-1">
          <ul class="facet-items">
            <li class="facet-item">
              <div class="">
                  <input id="testInput10" type="checkbox" name="f.Type|B" value="media commentators">
                  <label class="checkbox-option-label" for="testInput10">Media commentator</label>    
              </div>
            </li>
            <li class="facet-item">
              <div class="">
                  <input id="testInput20" type="checkbox" name="f.Type|B"
                  value="available for postgraduate supervision">
                <label class="checkbox-option-label" for="testInput20">Postgraduate supervisor</label>  
              </div>
            </li>
            <li class="facet-item">
              <div class="">
                  <input id="testInput40" type="checkbox" name="f.Type|B" value="welsh speakers">
                  <label class="checkbox-option-label" for="testInput40">Welsh speaker</label>    
              </div>
            </li>
          </ul>  
        </div>
      </div>
      <div class="facet-actions">
              <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
              <button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
      </div>
    </form>
  </div>
</div></div>
<pre class="prettyprint">&#60;a class="btn btn-lg btn-info btn-filter d-block d-md-none" id="launch-facet-menu-popup" href="#"&#62;Filter
  results&#60;svg class="icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 319.89"&#62;
    &#60;defs&#62;
        &#60;style&#62;.cls-1{fill:#fff;}&#60;/style&#62;
    &#60;/defs&#62;
    &#60;title&#62;filter-icon&#60;/title&#62;
    &#60;rect class="cls-1" width="400" height="40" rx="20"/&#62;
    &#60;rect class="cls-1" x="60" y="139.89" width="280" height="40" rx="20"/&#62;
    &#60;rect class="cls-1" x="120" y="279.89" width="160" height="40" rx="20"/&#62;
&#60;/svg&#62; &#60;/a&#62;
&#60;div class="facet facet-popup d-none" id="facet-menu-popup"&#62;
  &#60;div class="facet-heading"&#62;
    &#60;h1 class="facet-title"&#62;Filter results &#60;svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"&#62;
  &#60;title&#62;Close&#60;/title&#62;
  &#60;path d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z" transform="translate(-2 -2)" /&#62;
&#60;/svg&#62;&#60;/h1&#62;
  &#60;/div&#62;
  &#60;div class="facet-body"&#62;
    &#60;ul class="facet-items"&#62;
      &#60;li class="facet-group-title" data-facet="facet-popup-type"&#62;&#60;a href="#facet-popup-type"&#62;Filter by role&#60;/a&#62;&#60;/li&#62;
    &#60;/ul&#62;
    &#60;div class="facet-actions"&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;
&#60;div class="facet facet-popup d-none" id="facet-popup-type"&#62;
  &#60;div class="facet-heading"&#62;
    &#60;a href="#facet-Type" class="facet-title" id="facet-label-1"&#62;Filter by role&#60;/a&#62;
  &#60;/div&#62;
  &#60;div class="facet-body" id="facet-Type"&#62;
    &#60;form action="#" method="GET" role="search"&#62;
      &#60;input type="hidden" name="collection" value="profiles"&#62;
      &#60;input type="hidden" name="form" value="search-en"&#62;
      &#60;input type="hidden" name="query" value="!nul"&#62;
      &#60;input type="hidden" name="facetScope" value="f.URI%7CR=diuri"&#62;
      &#60;div class="form-group"&#62;
        &#60;div role="group" aria-labelledby="facet-label-1"&#62;
          &#60;ul class="facet-items"&#62;
            &#60;li class="facet-item"&#62;
              &#60;div class=""&#62;
                  &#60;input id="testInput10" type="checkbox" name="f.Type|B" value="media commentators"&#62;
                  &#60;label class="checkbox-option-label" for="testInput10"&#62;Media commentator&#60;/label&#62;    
              &#60;/div&#62;
            &#60;/li&#62;
            &#60;li class="facet-item"&#62;
              &#60;div class=""&#62;
                  &#60;input id="testInput20" type="checkbox" name="f.Type|B"
                  value="available for postgraduate supervision"&#62;
                &#60;label class="checkbox-option-label" for="testInput20"&#62;Postgraduate supervisor&#60;/label&#62;  
              &#60;/div&#62;
            &#60;/li&#62;
            &#60;li class="facet-item"&#62;
              &#60;div class=""&#62;
                  &#60;input id="testInput40" type="checkbox" name="f.Type|B" value="welsh speakers"&#62;
                  &#60;label class="checkbox-option-label" for="testInput40"&#62;Welsh speaker&#60;/label&#62;    
              &#60;/div&#62;
            &#60;/li&#62;
          &#60;/ul&#62;  
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="facet-actions"&#62;
              &#60;button type="button" class="btn btn-lg facet-action-cancel"&#62;Cancel&#60;/button&#62;
              &#60;button type="submit" class="btn btn-lg btn-primary facet-action-apply"&#62;Apply&#60;/button&#62;
      &#60;/div&#62;
    &#60;/form&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
