<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  active"
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Forms</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Validation-box" class="nav-link">Validation box</a><li class="nav-item"><a href="#Radios" class="nav-link">Radios</a><li class="nav-item"><a href="#Checkboxes" class="nav-link">Checkboxes</a><li class="nav-item"><a href="#Date-picker" class="nav-link">Date picker</a><li class="nav-item"><a href="#Disabled-attributes" class="nav-link">Disabled attributes</a><li class="nav-item"><a href="#Optional-fields" class="nav-link">Optional fields</a><li class="nav-item"><a href="#Select" class="nav-link">Select</a><li class="nav-item"><a href="#Select-multiple" class="nav-link">Select multiple</a><li class="nav-item"><a href="#Textarea" class="nav-link">Textarea</a><li class="nav-item"><a href="#Auto-redirect" class="nav-link">Auto redirect</a><li class="nav-item"><a href="#Radio-button-group" class="nav-link">Radio button group</a><li class="nav-item"><a href="#Auto-redirect" class="nav-link">Auto redirect</a><li class="nav-item"><a href="#Bordered-radio-button-group" class="nav-link">Bordered radio button group</a><li class="nav-item"><a href="#Checkbox-button-group" class="nav-link">Checkbox button group</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Validation-box">Validation box</h2>
<p></p>
<div class="component-example"><form>
  <div class="validation-errors">
    <h4>The form had the following errors:</h4>
    <ul class="list">
      <li><a href="#error1">Please select an answer</a></li>
      <li><a href="#error2">Please select an answer</a></li>
      <li><a href="#error3">Please select an answer</a></li>
      <li><a href="#error4">Please select an answer</a></li>
      <li><a href="#error5">Please select an answer</a></li>
      <li><a href="#error6">Please select an answer</a></li>
    </ul>
  </div>
</form>
</div>
<pre class="prettyprint">&#60;form&#62;
  &#60;div class="validation-errors"&#62;
    &#60;h4&#62;The form had the following errors:&#60;/h4&#62;
    &#60;ul class="list"&#62;
      &#60;li&#62;&#60;a href="#error1"&#62;Please select an answer&#60;/a&#62;&#60;/li&#62;
      &#60;li&#62;&#60;a href="#error2"&#62;Please select an answer&#60;/a&#62;&#60;/li&#62;
      &#60;li&#62;&#60;a href="#error3"&#62;Please select an answer&#60;/a&#62;&#60;/li&#62;
      &#60;li&#62;&#60;a href="#error4"&#62;Please select an answer&#60;/a&#62;&#60;/li&#62;
      &#60;li&#62;&#60;a href="#error5"&#62;Please select an answer&#60;/a&#62;&#60;/li&#62;
      &#60;li&#62;&#60;a href="#error6"&#62;Please select an answer&#60;/a&#62;&#60;/li&#62;
    &#60;/ul&#62;
  &#60;/div&#62;
&#60;/form&#62;
</pre>
  
<h2 id="Radios">Radios</h2>
<p></p>
<div class="component-example"><form action="#" class="form-horizontal">
    <div class="form-group">
      <p class="form-label" id="form-label-1"> Have you previously received support for your disability?</p>
      <div class="controls" aria-labelledby="form-label-1">
        <div class="radio-option">
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="Yes" />
          <label class="radio-option-label" for="optionsRadios1">Yes</label>
        </div>
        <div class="radio-option">
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="No" />
          <label class="radio-option-label" for="optionsRadios2">No</label>
        </div>
      </div>
    </div>
</form>

<h3>With validation message</h3>
<form action="#" class="form-horizontal">
    <div class="form-group">
      <p class="form-label" id="form-label-2">Have you previously received support for your disability?</p>
      <p class="question-error-msg">Error message asking the user to complete the task</p>
      <div class="controls" aria-labelledby="form-label-2">
        <div class="radio-option">
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="Yes" />
          <label class="radio-option-label" for="optionsRadios3">Yes</label>
        </div>
        <div class="radio-option">
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="No" />
          <label class="radio-option-label" for="optionsRadios4">No</label>
        </div>
      </div>
    </div>
</form>
</div>
<pre class="prettyprint">&#60;form action="#" class="form-horizontal"&#62;
    &#60;div class="form-group"&#62;
      &#60;p class="form-label" id="form-label-1"&#62; Have you previously received support for your disability?&#60;/p&#62;
      &#60;div class="controls" aria-labelledby="form-label-1"&#62;
        &#60;div class="radio-option"&#62;
          &#60;input type="radio" name="optionsRadios" id="optionsRadios1" value="Yes" /&#62;
          &#60;label class="radio-option-label" for="optionsRadios1"&#62;Yes&#60;/label&#62;
        &#60;/div&#62;
        &#60;div class="radio-option"&#62;
          &#60;input type="radio" name="optionsRadios" id="optionsRadios2" value="No" /&#62;
          &#60;label class="radio-option-label" for="optionsRadios2"&#62;No&#60;/label&#62;
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
&#60;/form&#62;

&#60;h3&#62;With validation message&#60;/h3&#62;
&#60;form action="#" class="form-horizontal"&#62;
    &#60;div class="form-group"&#62;
      &#60;p class="form-label" id="form-label-2"&#62;Have you previously received support for your disability?&#60;/p&#62;
      &#60;p class="question-error-msg"&#62;Error message asking the user to complete the task&#60;/p&#62;
      &#60;div class="controls" aria-labelledby="form-label-2"&#62;
        &#60;div class="radio-option"&#62;
          &#60;input type="radio" name="optionsRadios" id="optionsRadios3" value="Yes" /&#62;
          &#60;label class="radio-option-label" for="optionsRadios3"&#62;Yes&#60;/label&#62;
        &#60;/div&#62;
        &#60;div class="radio-option"&#62;
          &#60;input type="radio" name="optionsRadios" id="optionsRadios4" value="No" /&#62;
          &#60;label class="radio-option-label" for="optionsRadios4"&#62;No&#60;/label&#62;
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
&#60;/form&#62;
</pre>
  
<h2 id="Checkboxes">Checkboxes</h2>
<p></p>
<div class="component-example"><form action="#" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<p class="form-label" id="form-label-checkbox-1">SOme text</p>
			<div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="Support in the classroom"
						aria-required="false" aria-invalid="false" id="supportOption1">
					<label class="checkbox-option-label" for="supportOption1">
						Support in the classroom.<br>
						<span class="form-hint">For example: LSA/TA</span>
					</label>
				</div>
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="One-to-one study skills"
						aria-required="false" aria-invalid="false" id="supportOption2">
					<label class="checkbox-option-label" for="supportOption2">
						One-to-one study skills
					</label>
				</div>
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="Recorded lessons/lectures"
						aria-required="false" aria-invalid="false" id="supportOption3">
					<label class="checkbox-option-label" for="supportOption3">
						Recorded lessons/lectures
					</label>
				</div>
			</div>
		</div>
	</fieldset>
</form>

<h3>With validation message</h3>
<form action="#" class="form-horizontal">
		<div class="form-group">
			<p class="form-label" id="form-label-checkbox-2">SOme text</p>
			<p class="question-error-msg">Validation text informing the user of something</p>
			<div class="controls" role="group" aria-labelledby="form-label-checkbox-2">
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="Support in the classroom"
						aria-required="false" aria-invalid="false" id="supportOption4">
					<label class="checkbox-option-label" for="supportOption4">
						Support in the classroom.<br>
						<span class="form-hint">For example: LSA/TA</span>
					</label>
				</div>
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="One-to-one study skills"
						aria-required="false" aria-invalid="false" id="supportOption5">
					<label class="checkbox-option-label" for="supportOption5">
						One-to-one study skills
					</label>
				</div>
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="Recorded lessons/lectures"
						aria-required="false" aria-invalid="false" id="supportOption6">
					<label class="checkbox-option-label" for="supportOption6">
						Recorded lessons/lectures
					</label>
				</div>
			</div>
		</div>
</form></div>
<pre class="prettyprint">&#60;form action="#" class="form-horizontal"&#62;
	&#60;fieldset&#62;
		&#60;div class="form-group"&#62;
			&#60;p class="form-label" id="form-label-checkbox-1"&#62;SOme text&#60;/p&#62;
			&#60;div class="controls" role="group" aria-labelledby="form-label-checkbox-1"&#62;
				&#60;div class="checkbox-option"&#62;
					&#60;input name="disabilityCategory" type="checkbox" value="Support in the classroom"
						aria-required="false" aria-invalid="false" id="supportOption1"&#62;
					&#60;label class="checkbox-option-label" for="supportOption1"&#62;
						Support in the classroom.&#60;br&#62;
						&#60;span class="form-hint"&#62;For example: LSA/TA&#60;/span&#62;
					&#60;/label&#62;
				&#60;/div&#62;
				&#60;div class="checkbox-option"&#62;
					&#60;input name="disabilityCategory" type="checkbox" value="One-to-one study skills"
						aria-required="false" aria-invalid="false" id="supportOption2"&#62;
					&#60;label class="checkbox-option-label" for="supportOption2"&#62;
						One-to-one study skills
					&#60;/label&#62;
				&#60;/div&#62;
				&#60;div class="checkbox-option"&#62;
					&#60;input name="disabilityCategory" type="checkbox" value="Recorded lessons/lectures"
						aria-required="false" aria-invalid="false" id="supportOption3"&#62;
					&#60;label class="checkbox-option-label" for="supportOption3"&#62;
						Recorded lessons/lectures
					&#60;/label&#62;
				&#60;/div&#62;
			&#60;/div&#62;
		&#60;/div&#62;
	&#60;/fieldset&#62;
&#60;/form&#62;

&#60;h3&#62;With validation message&#60;/h3&#62;
&#60;form action="#" class="form-horizontal"&#62;
		&#60;div class="form-group"&#62;
			&#60;p class="form-label" id="form-label-checkbox-2"&#62;SOme text&#60;/p&#62;
			&#60;p class="question-error-msg"&#62;Validation text informing the user of something&#60;/p&#62;
			&#60;div class="controls" role="group" aria-labelledby="form-label-checkbox-2"&#62;
				&#60;div class="checkbox-option"&#62;
					&#60;input name="disabilityCategory" type="checkbox" value="Support in the classroom"
						aria-required="false" aria-invalid="false" id="supportOption4"&#62;
					&#60;label class="checkbox-option-label" for="supportOption4"&#62;
						Support in the classroom.&#60;br&#62;
						&#60;span class="form-hint"&#62;For example: LSA/TA&#60;/span&#62;
					&#60;/label&#62;
				&#60;/div&#62;
				&#60;div class="checkbox-option"&#62;
					&#60;input name="disabilityCategory" type="checkbox" value="One-to-one study skills"
						aria-required="false" aria-invalid="false" id="supportOption5"&#62;
					&#60;label class="checkbox-option-label" for="supportOption5"&#62;
						One-to-one study skills
					&#60;/label&#62;
				&#60;/div&#62;
				&#60;div class="checkbox-option"&#62;
					&#60;input name="disabilityCategory" type="checkbox" value="Recorded lessons/lectures"
						aria-required="false" aria-invalid="false" id="supportOption6"&#62;
					&#60;label class="checkbox-option-label" for="supportOption6"&#62;
						Recorded lessons/lectures
					&#60;/label&#62;
				&#60;/div&#62;
			&#60;/div&#62;
		&#60;/div&#62;
&#60;/form&#62;</pre>
  
<h2 id="Date-picker">Date picker</h2>
<p></p>
<div class="component-example"><div class="form-group">
    <label for="date-from">From</label>
    <input class="form-control" type="date" id="date-from">
</div>
<div class="form-group">
    <label for="date-to">To</label>
    <input class="form-control" type="date" id="date-to">
</div></div>
<pre class="prettyprint">&#60;div class="form-group"&#62;
    &#60;label for="date-from"&#62;From&#60;/label&#62;
    &#60;input class="form-control" type="date" id="date-from"&#62;
&#60;/div&#62;
&#60;div class="form-group"&#62;
    &#60;label for="date-to"&#62;To&#60;/label&#62;
    &#60;input class="form-control" type="date" id="date-to"&#62;
&#60;/div&#62;</pre>
  
<h2 id="Disabled-attributes">Disabled attributes</h2>
<p></p>
<div class="component-example"><form action="#" class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="disabled">Text input - disabled</label>
      <div class="controls">
        <input type="text" class="form-control" id="disabled" class="col-md-3" placeholder="Type something…" disabled>
        <span class="help-block">Example block-level help text here.</span>
      </div>
    </div>
  </fieldset>
</form></div>
<pre class="prettyprint">&#60;form action="#" class="form-horizontal"&#62;
  &#60;fieldset&#62;
    &#60;div class="form-group"&#62;
      &#60;label for="disabled"&#62;Text input - disabled&#60;/label&#62;
      &#60;div class="controls"&#62;
        &#60;input type="text" class="form-control" id="disabled" class="col-md-3" placeholder="Type something&#8230;" disabled&#62;
        &#60;span class="help-block"&#62;Example block-level help text here.&#60;/span&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/fieldset&#62;
&#60;/form&#62;</pre>
  
<h2 id="Optional-fields">Optional fields</h2>
<p></p>
<div class="component-example"><form action="#" class="form-horizontal">
	<fieldset>
		<legend>Legend</legend>
		<div class="control-group optional">
			<label class="control-label" for="middlename">Middle name</label>
			<div class="controls">
				<input type="text" id="middlename" class="col-md-3">
				<span class="help-inline">Optional</span>
			</div>
		</div>
	</fieldset>
</form></div>
<pre class="prettyprint">&#60;form action="#" class="form-horizontal"&#62;
	&#60;fieldset&#62;
		&#60;legend&#62;Legend&#60;/legend&#62;
		&#60;div class="control-group optional"&#62;
			&#60;label class="control-label" for="middlename"&#62;Middle name&#60;/label&#62;
			&#60;div class="controls"&#62;
				&#60;input type="text" id="middlename" class="col-md-3"&#62;
				&#60;span class="help-inline"&#62;Optional&#60;/span&#62;
			&#60;/div&#62;
		&#60;/div&#62;
	&#60;/fieldset&#62;
&#60;/form&#62;</pre>
  
<h2 id="Select">Select</h2>
<p></p>
<div class="component-example"><form action="#" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="language">Language</label>
			<div class="controls">
				<select class="form-control" id="language">
					<option>English</option>
					<option>Welsh</option>
				</select>
			</div>
		</div>
	</fieldset>
</form>

<h3>With validation message</h3>
<form action="#" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="language2">Language</label>
			<p class="question-error-msg">Error message asking the user to complete the task</p>
			<div class="controls" >
				<select class="form-control" id="language2">
					<option>English</option>
					<option>Welsh</option>
				</select>
			</div>
		</div>
	</fieldset>
</form></div>
<pre class="prettyprint">&#60;form action="#" class="form-horizontal"&#62;
	&#60;fieldset&#62;
		&#60;div class="form-group"&#62;
			&#60;label for="language"&#62;Language&#60;/label&#62;
			&#60;div class="controls"&#62;
				&#60;select class="form-control" id="language"&#62;
					&#60;option&#62;English&#60;/option&#62;
					&#60;option&#62;Welsh&#60;/option&#62;
				&#60;/select&#62;
			&#60;/div&#62;
		&#60;/div&#62;
	&#60;/fieldset&#62;
&#60;/form&#62;

&#60;h3&#62;With validation message&#60;/h3&#62;
&#60;form action="#" class="form-horizontal"&#62;
	&#60;fieldset&#62;
		&#60;div class="form-group"&#62;
			&#60;label for="language2"&#62;Language&#60;/label&#62;
			&#60;p class="question-error-msg"&#62;Error message asking the user to complete the task&#60;/p&#62;
			&#60;div class="controls" &#62;
				&#60;select class="form-control" id="language2"&#62;
					&#60;option&#62;English&#60;/option&#62;
					&#60;option&#62;Welsh&#60;/option&#62;
				&#60;/select&#62;
			&#60;/div&#62;
		&#60;/div&#62;
	&#60;/fieldset&#62;
&#60;/form&#62;</pre>
  
<h2 id="Select-multiple">Select multiple</h2>
<p></p>
<div class="component-example"><form action="#" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="selectmultiple">Select multiple</label>
            <div class="controls">
                <select class="form-control" id="selectmultiple" multiple="multiple">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>

<form action="#" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="selectmultiple">Select multiple</label>
            <p class="question-error-msg">Error message asking the user to complete the task</p>
            <div class="controls">
                <select class="form-control" id="selectmultiple" multiple="multiple">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
        </div>
    </fieldset>
</form></div>
<pre class="prettyprint">&#60;form action="#" class="form-horizontal"&#62;
    &#60;fieldset&#62;
        &#60;div class="form-group"&#62;
            &#60;label for="selectmultiple"&#62;Select multiple&#60;/label&#62;
            &#60;div class="controls"&#62;
                &#60;select class="form-control" id="selectmultiple" multiple="multiple"&#62;
                    &#60;option&#62;Option 1&#60;/option&#62;
                    &#60;option&#62;Option 2&#60;/option&#62;
                    &#60;option&#62;Option 3&#60;/option&#62;
                    &#60;option&#62;Option 4&#60;/option&#62;
                &#60;/select&#62;
            &#60;/div&#62;
        &#60;/div&#62;
    &#60;/fieldset&#62;
&#60;/form&#62;

&#60;form action="#" class="form-horizontal"&#62;
    &#60;fieldset&#62;
        &#60;div class="form-group"&#62;
            &#60;label for="selectmultiple"&#62;Select multiple&#60;/label&#62;
            &#60;p class="question-error-msg"&#62;Error message asking the user to complete the task&#60;/p&#62;
            &#60;div class="controls"&#62;
                &#60;select class="form-control" id="selectmultiple" multiple="multiple"&#62;
                    &#60;option&#62;Option 1&#60;/option&#62;
                    &#60;option&#62;Option 2&#60;/option&#62;
                    &#60;option&#62;Option 3&#60;/option&#62;
                    &#60;option&#62;Option 4&#60;/option&#62;
                &#60;/select&#62;
            &#60;/div&#62;
        &#60;/div&#62;
    &#60;/fieldset&#62;
&#60;/form&#62;</pre>
  
<h2 id="Textarea">Textarea</h2>
<p></p>
<div class="component-example"><form action="#" class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="textarea">Text area</label>
			<div class="controls">
				<textarea rows="3" id="textarea"></textarea>
			</div>
		</div>
	</fieldset>
</form>

<h3>With validation message</h3>
<form action="#" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="textarea">Text area</label>
			<p class="question-error-msg">Error message asking the user to complete the task</p>
			<div class="controls">
				<textarea class="form-control" rows="3" id="textarea"></textarea>
			</div>
		</div>
	</fieldset>
</form></div>
<pre class="prettyprint">&#60;form action="#" class="form-horizontal"&#62;
	&#60;fieldset&#62;
		&#60;div class="control-group"&#62;
			&#60;label class="control-label" for="textarea"&#62;Text area&#60;/label&#62;
			&#60;div class="controls"&#62;
				&#60;textarea rows="3" id="textarea"&#62;&#60;/textarea&#62;
			&#60;/div&#62;
		&#60;/div&#62;
	&#60;/fieldset&#62;
&#60;/form&#62;

&#60;h3&#62;With validation message&#60;/h3&#62;
&#60;form action="#" class="form-horizontal"&#62;
	&#60;fieldset&#62;
		&#60;div class="form-group"&#62;
			&#60;label for="textarea"&#62;Text area&#60;/label&#62;
			&#60;p class="question-error-msg"&#62;Error message asking the user to complete the task&#60;/p&#62;
			&#60;div class="controls"&#62;
				&#60;textarea class="form-control" rows="3" id="textarea"&#62;&#60;/textarea&#62;
			&#60;/div&#62;
		&#60;/div&#62;
	&#60;/fieldset&#62;
&#60;/form&#62;</pre>
  
<h2 id="Auto-redirect">Auto redirect</h2>
<p></p>
<div class="component-example"><h3>Form w/ auto submit enabled</h3>
<form action="#">
  <fieldset>
    <legend id="form-label-checkbox-1">Radio w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">Master of Design Administration (full-time)</label>
        <input
          type="radio"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend id="form-label-checkbox-1">Checkbox w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">Master of Design Administration (full-time)</label>
        <input
          type="checkbox"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend id="form-label-checkbox-1">Select w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">First name</label>
        <select data-auto-redirect="true" class="form-control" id="course-options-list"
          ><option
            value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
            selected=""
            >Master of Design Administration (full-time)</option
          >
          <option value="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/master-of-design-administration-part-time"
            >Master of Design Administration (part-time)</option
          ></select
        >
      </div>
    </div>
  </fieldset>
</form>
</div>
<pre class="prettyprint">&#60;h3&#62;Form w/ auto submit enabled&#60;/h3&#62;
&#60;form action="#"&#62;
  &#60;fieldset&#62;
    &#60;legend id="form-label-checkbox-1"&#62;Radio w/ redirect mode&#60;/legend&#62;
    &#60;div class="form-group"&#62;
      &#60;div class="controls" role="group" aria-labelledby="form-label-checkbox-1"&#62;
        &#60;label for="course-options-list"&#62;Master of Design Administration (full-time)&#60;/label&#62;
        &#60;input
          type="radio"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        /&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/fieldset&#62;
  &#60;fieldset&#62;
    &#60;legend id="form-label-checkbox-1"&#62;Checkbox w/ redirect mode&#60;/legend&#62;
    &#60;div class="form-group"&#62;
      &#60;div class="controls" role="group" aria-labelledby="form-label-checkbox-1"&#62;
        &#60;label for="course-options-list"&#62;Master of Design Administration (full-time)&#60;/label&#62;
        &#60;input
          type="checkbox"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        /&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/fieldset&#62;
  &#60;fieldset&#62;
    &#60;legend id="form-label-checkbox-1"&#62;Select w/ redirect mode&#60;/legend&#62;
    &#60;div class="form-group"&#62;
      &#60;div class="controls" role="group" aria-labelledby="form-label-checkbox-1"&#62;
        &#60;label for="course-options-list"&#62;First name&#60;/label&#62;
        &#60;select data-auto-redirect="true" class="form-control" id="course-options-list"
          &#62;&#60;option
            value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
            selected=""
            &#62;Master of Design Administration (full-time)&#60;/option
          &#62;
          &#60;option value="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/master-of-design-administration-part-time"
            &#62;Master of Design Administration (part-time)&#60;/option
          &#62;&#60;/select
        &#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/fieldset&#62;
&#60;/form&#62;
</pre>
  
<h2 id="Radio-button-group">Radio button group</h2>
<p></p>
<div class="component-example"><form class="form">
    <div class="radio-btn-group">
      <div class="radio-option">
        <input type="radio" value="pgt-courses" name="collection" id="pgt-collection" checked />
        <label for="pgt-collection" class="radio-option-label">Taught</label>
      </div>
      <div class="radio-option">
        <input type="radio" value="pgr-courses" name="collection" id="pgr-collection" />
        <label for="pgr-collection" class="radio-option-label">Research</label>
      </div>
    </div>
  </form></div>
<pre class="prettyprint">&#60;form class="form"&#62;
    &#60;div class="radio-btn-group"&#62;
      &#60;div class="radio-option"&#62;
        &#60;input type="radio" value="pgt-courses" name="collection" id="pgt-collection" checked /&#62;
        &#60;label for="pgt-collection" class="radio-option-label"&#62;Taught&#60;/label&#62;
      &#60;/div&#62;
      &#60;div class="radio-option"&#62;
        &#60;input type="radio" value="pgr-courses" name="collection" id="pgr-collection" /&#62;
        &#60;label for="pgr-collection" class="radio-option-label"&#62;Research&#60;/label&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/form&#62;</pre>
<p class="alert"><strong>IOS 9.1 and IOS 10:</strong> Due to the flexbox support, input height does not fill height.</p>  
<h2 id="Auto-redirect">Auto redirect</h2>
<p></p>
<div class="component-example"><h3>Form w/ auto submit enabled</h3>
<form action="#">
  <fieldset>
    <legend id="form-label-checkbox-1">Radio w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">Master of Design Administration (full-time)</label>
        <input
          type="radio"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend id="form-label-checkbox-1">Checkbox w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">Master of Design Administration (full-time)</label>
        <input
          type="checkbox"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend id="form-label-checkbox-1">Select w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">First name</label>
        <select data-auto-redirect="true" class="form-control" id="course-options-list"
          ><option
            value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
            selected=""
            >Master of Design Administration (full-time)</option
          >
          <option value="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/master-of-design-administration-part-time"
            >Master of Design Administration (part-time)</option
          ></select
        >
      </div>
    </div>
  </fieldset>
</form>
</div>
<pre class="prettyprint">&#60;h3&#62;Form w/ auto submit enabled&#60;/h3&#62;
&#60;form action="#"&#62;
  &#60;fieldset&#62;
    &#60;legend id="form-label-checkbox-1"&#62;Radio w/ redirect mode&#60;/legend&#62;
    &#60;div class="form-group"&#62;
      &#60;div class="controls" role="group" aria-labelledby="form-label-checkbox-1"&#62;
        &#60;label for="course-options-list"&#62;Master of Design Administration (full-time)&#60;/label&#62;
        &#60;input
          type="radio"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        /&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/fieldset&#62;
  &#60;fieldset&#62;
    &#60;legend id="form-label-checkbox-1"&#62;Checkbox w/ redirect mode&#60;/legend&#62;
    &#60;div class="form-group"&#62;
      &#60;div class="controls" role="group" aria-labelledby="form-label-checkbox-1"&#62;
        &#60;label for="course-options-list"&#62;Master of Design Administration (full-time)&#60;/label&#62;
        &#60;input
          type="checkbox"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        /&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/fieldset&#62;
  &#60;fieldset&#62;
    &#60;legend id="form-label-checkbox-1"&#62;Select w/ redirect mode&#60;/legend&#62;
    &#60;div class="form-group"&#62;
      &#60;div class="controls" role="group" aria-labelledby="form-label-checkbox-1"&#62;
        &#60;label for="course-options-list"&#62;First name&#60;/label&#62;
        &#60;select data-auto-redirect="true" class="form-control" id="course-options-list"
          &#62;&#60;option
            value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
            selected=""
            &#62;Master of Design Administration (full-time)&#60;/option
          &#62;
          &#60;option value="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/master-of-design-administration-part-time"
            &#62;Master of Design Administration (part-time)&#60;/option
          &#62;&#60;/select
        &#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/fieldset&#62;
&#60;/form&#62;
</pre>
  
<h2 id="Bordered-radio-button-group">Bordered radio button group</h2>
<p></p>
<div class="component-example"><form class="form">
    <div class="radio-btn-group radio-btn-group-bordered">
      <div class="radio-option">
        <input type="radio" value="pgt-courses" name="collection" id="pgt-collection-bordered" checked />
        <label for="pgt-collection-bordered" class="radio-option-label">Taught</label>
      </div>
      <div class="radio-option">
        <input type="radio" value="pgr-courses" name="collection" id="pgr-collection-bordered" />
        <label for="pgr-collection-bordered" class="radio-option-label">Research</label>
      </div>
    </div>
</form>
</div>
<pre class="prettyprint">&#60;form class="form"&#62;
    &#60;div class="radio-btn-group radio-btn-group-bordered"&#62;
      &#60;div class="radio-option"&#62;
        &#60;input type="radio" value="pgt-courses" name="collection" id="pgt-collection-bordered" checked /&#62;
        &#60;label for="pgt-collection-bordered" class="radio-option-label"&#62;Taught&#60;/label&#62;
      &#60;/div&#62;
      &#60;div class="radio-option"&#62;
        &#60;input type="radio" value="pgr-courses" name="collection" id="pgr-collection-bordered" /&#62;
        &#60;label for="pgr-collection-bordered" class="radio-option-label"&#62;Research&#60;/label&#62;
      &#60;/div&#62;
    &#60;/div&#62;
&#60;/form&#62;
</pre>
<p class="alert">The radio group can container more then 2 items, however, it will <strong>not</strong> automatically wrap to the next line until mobile device</p><p class="alert"><strong>IOS 9.1 and IOS 10:</strong> Due to the flexbox support, input height does not fill height.</p> . 
<h2 id="Checkbox-button-group">Checkbox button group</h2>
<p></p>
<div class="component-example"><form action="" class="form">
  <div class="checkbox-btn-group">
    <div class="checkbox-option">
      <input type="checkbox" value="pgt-courses" name="checkbox-item" id="pgt-checkbox-item" checked />
      <label for="pgt-checkbox-item" class="checkbox-option-label">Taught</label>
    </div>
    <div class="checkbox-option">
      <input type="checkbox" value="pgr-courses" name="checkbox-item" id="pgr-checkbox-item" />
      <label for="pgr-checkbox-item" class="checkbox-option-label">Research</label>
    </div>
    <div class="checkbox-option">
      <input type="checkbox" value="pgr-courses" name="checkbox-item" id="op2-checkbox-item" />
      <label for="op2-checkbox-item" class="checkbox-option-label">Another opts</label>
    </div>
  </div>
</form>
</div>
<pre class="prettyprint">&#60;form action="" class="form"&#62;
  &#60;div class="checkbox-btn-group"&#62;
    &#60;div class="checkbox-option"&#62;
      &#60;input type="checkbox" value="pgt-courses" name="checkbox-item" id="pgt-checkbox-item" checked /&#62;
      &#60;label for="pgt-checkbox-item" class="checkbox-option-label"&#62;Taught&#60;/label&#62;
    &#60;/div&#62;
    &#60;div class="checkbox-option"&#62;
      &#60;input type="checkbox" value="pgr-courses" name="checkbox-item" id="pgr-checkbox-item" /&#62;
      &#60;label for="pgr-checkbox-item" class="checkbox-option-label"&#62;Research&#60;/label&#62;
    &#60;/div&#62;
    &#60;div class="checkbox-option"&#62;
      &#60;input type="checkbox" value="pgr-courses" name="checkbox-item" id="op2-checkbox-item" /&#62;
      &#60;label for="op2-checkbox-item" class="checkbox-option-label"&#62;Another opts&#60;/label&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/form&#62;
</pre>
<p class="alert"><strong>IOS 9.1 and IOS 10:</strong> Due to the flexbox support, input height does not fill height.</p>  

    </main>
  </div>
</div>
