<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  active"
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Heros</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Section" class="nav-link">Section</a><li class="nav-item"><a href="#Video" class="nav-link">Video</a><li class="nav-item"><a href="#No-video" class="nav-link">No video</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Section">Section</h2>
<p></p>
<div class="component-example"><section class="hero hero-section-page">
  <div class="hero-image-wrapper">
    <img class="lazy"
      srcset="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&h=1080&auto=format&fit=crop 1920w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1600&h=900&auto=format&fit=crop 1600w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1024&h=576&auto=format&fit=crop 1024w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=768&h=432&auto=format&fit=crop 768w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=640&h=360&auto=format&fit=crop 640w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=380&h=214&auto=format&fit=crop 380w"
      data-src="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&h=1080&auto=format&fit=crop"
      sizes="100vw" class="hero-image" alt="Students walking"
      src="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&h=380&auto=format&fit=crop&q=20"
    data-sizes="100vw"/>
  </div>
</section></div>
<pre class="prettyprint">&#60;section class="hero hero-section-page"&#62;
  &#60;div class="hero-image-wrapper"&#62;
    &#60;img class="lazy"
      srcset="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&#38;h=1080&#38;auto=format&#38;fit=crop 1920w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1600&#38;h=900&#38;auto=format&#38;fit=crop 1600w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1024&#38;h=576&#38;auto=format&#38;fit=crop 1024w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=768&#38;h=432&#38;auto=format&#38;fit=crop 768w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=640&#38;h=360&#38;auto=format&#38;fit=crop 640w,
      https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=380&#38;h=214&#38;auto=format&#38;fit=crop 380w"
      data-src="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&#38;h=1080&#38;auto=format&#38;fit=crop"
      sizes="100vw" class="hero-image" alt="Students walking"
      src="https://cardiff.imgix.net/__data/assets/image/0009/19296/students-outside-glamorgan-building.jpg?w=1920&#38;h=380&#38;auto=format&#38;fit=crop&#38;q=20"
    data-sizes="100vw"/&#62;
  &#60;/div&#62;
&#60;/section&#62;</pre>
  
<h2 id="Video">Video</h2>
<p></p>
<div class="component-example"><section
  class="hero"
  data-video="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&profile_id=174"
  aria-label="Homepage video"
>
  <video
    class="hero-video d-none d-lg-block"
    id="hero-video"
    loop=""
    muted=""
    poster="//cardiff.imgix.net?w=1663&amp;h=500&amp;auto=format&amp;fit=crop"
    autoplay=""
  >
    <source src="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&amp;profile_id=174" type="video/mp4" />
    <source src="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&amp;profile_id=174" type="video/mp4" />
  </video>
  <div class="hero-image-wrapper hidden-desktop">
    <img
      class="lazy"
      data-srcset="
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1920&h=1080&auto=format&fit=crop 1920w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1600&h=900&auto=format&fit=crop  1600w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1024&h=576&auto=format&fit=crop  1024w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=768&h=432&auto=format&fit=crop    768w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=640&h=360&auto=format&fit=crop    640w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=380&h=214&auto=format&fit=crop    380w
      "
      data-src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1920&h=1080&auto=format&fit=crop"
      data-sizes="100vw"
      class="hero-image"
      alt="Students walking"
    />
  </div>
  <div class="hero-content-wrapper">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6">
            <h2 class="hero-title">Welcome to a <strong>global university</strong></h2>
            <p class="hero-copy">
              With over 7,500 international students from more than 100 countries you’ll be part of a vibrant community that celebrates its diverse
              culture.
            </p>
            <a
              class="btn btn-lg btn-primary text-center ga-event"
              href="http://www.cardiff.ac.uk/study"
              data-action="click-button"
              data-category="Main homepage"
              data-label="28722 - Welcome to a <strong>global university</strong> - Hero"
              >Study with us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<pre class="prettyprint">&#60;section
  class="hero"
  data-video="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&#38;profile_id=174"
  aria-label="Homepage video"
&#62;
  &#60;video
    class="hero-video d-none d-lg-block"
    id="hero-video"
    loop=""
    muted=""
    poster="//cardiff.imgix.net?w=1663&#38;amp;h=500&#38;amp;auto=format&#38;amp;fit=crop"
    autoplay=""
  &#62;
    &#60;source src="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&#38;amp;profile_id=174" type="video/mp4" /&#62;
    &#60;source src="https://player.vimeo.com/external/201650966.hd.mp4?s=7ebc0bb05189588da01abf142ad9fc9c2da5c1db&#38;amp;profile_id=174" type="video/mp4" /&#62;
  &#60;/video&#62;
  &#60;div class="hero-image-wrapper hidden-desktop"&#62;
    &#60;img
      class="lazy"
      data-srcset="
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1920&#38;h=1080&#38;auto=format&#38;fit=crop 1920w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1600&#38;h=900&#38;auto=format&#38;fit=crop  1600w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1024&#38;h=576&#38;auto=format&#38;fit=crop  1024w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=768&#38;h=432&#38;auto=format&#38;fit=crop    768w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=640&#38;h=360&#38;auto=format&#38;fit=crop    640w,
        https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=380&#38;h=214&#38;auto=format&#38;fit=crop    380w
      "
      data-src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1920&#38;h=1080&#38;auto=format&#38;fit=crop"
      data-sizes="100vw"
      class="hero-image"
      alt="Students walking"
    /&#62;
  &#60;/div&#62;
  &#60;div class="hero-content-wrapper"&#62;
    &#60;div class="hero-content"&#62;
      &#60;div class="container"&#62;
        &#60;div class="row"&#62;
          &#60;div class="col-sm-12 col-md-8 col-lg-6"&#62;
            &#60;h2 class="hero-title"&#62;Welcome to a &#60;strong&#62;global university&#60;/strong&#62;&#60;/h2&#62;
            &#60;p class="hero-copy"&#62;
              With over 7,500 international students from more than 100 countries you&#8217;ll be part of a vibrant community that celebrates its diverse
              culture.
            &#60;/p&#62;
            &#60;a
              class="btn btn-lg btn-primary text-center ga-event"
              href="http://www.cardiff.ac.uk/study"
              data-action="click-button"
              data-category="Main homepage"
              data-label="28722 - Welcome to a &#60;strong&#62;global university&#60;/strong&#62; - Hero"
              &#62;Study with us&#60;/a
            &#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/section&#62;
</pre>
  
<h2 id="No-video">No video</h2>
<p></p>
<div class="component-example"><section class="hero" data-video="" aria-label="Homepage video">
  <div class="hero-image-wrapper">
    <img
      srcset="
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1920&amp;h=1080&amp;auto=format&amp;fit=crop 1920w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1600&amp;h=900&amp;auto=format&amp;fit=crop  1600w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1024&amp;h=576&amp;auto=format&amp;fit=crop  1024w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=768&amp;h=432&amp;auto=format&amp;fit=crop    768w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop    640w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=380&amp;h=214&amp;auto=format&amp;fit=crop    380w
      "
      src="https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1920&amp;h=1080&amp;auto=format&amp;fit=crop"
      sizes="100vw"
      class="hero-image"
      alt="Students exiting main building"
    />
  </div>
  <div class="hero-content-wrapper">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6">
              <h2 class="hero-title">Clearing and adjustment 2019</h2>
              <p class="hero-copy">
                Want to study at an innovative university in a city students love? We have places available for entry in
                September 2019.
              </p>
              <a
                class="btn btn-lg btn-primary text-center ga-event"
                href="https://www.cardiff.ac.uk/clearing"
                data-action="click-button"
                data-category="Main homepage"
                data-label="783879 - Clearing and adjustment 2019 - Hero"
                >Find out more</a
              >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<pre class="prettyprint">&#60;section class="hero" data-video="" aria-label="Homepage video"&#62;
  &#60;div class="hero-image-wrapper"&#62;
    &#60;img
      srcset="
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1920&#38;amp;h=1080&#38;amp;auto=format&#38;amp;fit=crop 1920w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1600&#38;amp;h=900&#38;amp;auto=format&#38;amp;fit=crop  1600w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1024&#38;amp;h=576&#38;amp;auto=format&#38;amp;fit=crop  1024w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=768&#38;amp;h=432&#38;amp;auto=format&#38;amp;fit=crop    768w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=640&#38;amp;h=360&#38;amp;auto=format&#38;amp;fit=crop    640w,
        https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=380&#38;amp;h=214&#38;amp;auto=format&#38;amp;fit=crop    380w
      "
      src="https://cardiff.imgix.net/__data/assets/image/0020/1525034/students-exiting-main-building.jpg?w=1920&#38;amp;h=1080&#38;amp;auto=format&#38;amp;fit=crop"
      sizes="100vw"
      class="hero-image"
      alt="Students exiting main building"
    /&#62;
  &#60;/div&#62;
  &#60;div class="hero-content-wrapper"&#62;
    &#60;div class="hero-content"&#62;
      &#60;div class="container"&#62;
        &#60;div class="row"&#62;
          &#60;div class="col-sm-12 col-md-8 col-lg-6"&#62;
              &#60;h2 class="hero-title"&#62;Clearing and adjustment 2019&#60;/h2&#62;
              &#60;p class="hero-copy"&#62;
                Want to study at an innovative university in a city students love? We have places available for entry in
                September 2019.
              &#60;/p&#62;
              &#60;a
                class="btn btn-lg btn-primary text-center ga-event"
                href="https://www.cardiff.ac.uk/clearing"
                data-action="click-button"
                data-category="Main homepage"
                data-label="783879 - Clearing and adjustment 2019 - Hero"
                &#62;Find out more&#60;/a
              &#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/section&#62;
</pre>
  

    </main>
  </div>
</div>
