<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  active"
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Images</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#Lazy-loading" class="nav-link">Lazy loading</a><li class="nav-item"><a href="#Captions" class="nav-link">Captions</a><li class="nav-item"><a href="#Floats" class="nav-link">Floats</a><li class="nav-item"><a href="#With-video" class="nav-link">With video</a><li class="nav-item"><a href="#With-link" class="nav-link">With link</a><li class="nav-item"><a href="#Downloadable" class="nav-link">Downloadable</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><figure class="image">
  <img src="http://placehold.it/370x210" alt="Placeholder">
</figure></div>
<pre class="prettyprint">&#60;figure class="image"&#62;
  &#60;img src="http://placehold.it/370x210" alt="Placeholder"&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Lazy-loading">Lazy loading</h2>
<p></p>
<div class="component-example"><img class="image lazy"
  data-srcset="
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=700&amp;h=394&amp;fit=crop&amp;q=60&amp;auto=format 700w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=550&amp;h=309&amp;fit=crop&amp;q=60&amp;auto=format 550w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=450&amp;h=253&amp;fit=crop&amp;q=60&amp;auto=format 450w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format  150w
  "
  data-src="https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format "
  data-sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 1199px) 460px, (min-width: 1200px) 570px"
  alt="Autumn PG Open Day 2019"
/>
</div>
<pre class="prettyprint">&#60;img class="image lazy"
  data-srcset="
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=700&#38;amp;h=394&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 700w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=550&#38;amp;h=309&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 550w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=450&#38;amp;h=253&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 450w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=300&#38;amp;h=169&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 300w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=250&#38;amp;h=141&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format 250w,
    https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=150&#38;amp;h=84&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  150w
  "
  data-src="https://cardiff.imgix.net/__data/assets/image/0005/1667642/Autumn-image-for-website.jpg?w=570&#38;amp;h=321&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format "
  data-sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 1199px) 460px, (min-width: 1200px) 570px"
  alt="Autumn PG Open Day 2019"
/&#62;
</pre>
  
<h2 id="Captions">Captions</h2>
<p></p>
<div class="component-example"><figure class="image">
  <img src="http://placehold.it/370x210" alt="Placeholder">
  <figcaption class="caption">Figure 1. This is an image with a caption.</figcaption>
</figure></div>
<pre class="prettyprint">&#60;figure class="image"&#62;
  &#60;img src="http://placehold.it/370x210" alt="Placeholder"&#62;
  &#60;figcaption class="caption"&#62;Figure 1. This is an image with a caption.&#60;/figcaption&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Floats">Floats</h2>
<p></p>
<div class="component-example"><figure class="image float-left">
  <img src="//placehold.it/170x75" alt="Placeholder">
</figure>
<figure class="image float-right">
  <img src="//placehold.it/170x75" alt="Placeholder">
</figure></div>
<pre class="prettyprint">&#60;figure class="image float-left"&#62;
  &#60;img src="//placehold.it/170x75" alt="Placeholder"&#62;
&#60;/figure&#62;
&#60;figure class="image float-right"&#62;
  &#60;img src="//placehold.it/170x75" alt="Placeholder"&#62;
&#60;/figure&#62;</pre>
  
<h2 id="With-video">With video</h2>
<p></p>
<div class="component-example"><figure class="image with-video">
  <img srcset="
  https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=1170&h=420&auto=format&fit=crop 1170w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=940&h=420&auto=format&fit=crop 1170w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=768&h=407&auto=format&fit=crop 768w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=640&h=360&auto=format&fit=crop 640w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=380&h=214&auto=format&fit=crop 380w
    "
    src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&h=420&q=60&fit=crop&auto=format"
    sizes="(max-width: 767px) 502px, (max-width: 979px) 704px, (max-width: 1199px) 940px, (min-width: 1200px) 1150px"
    alt="Students walking" />
  <div>

    <a href="https://www.youtube.com/watch?v=ub7StpyE-Vk" class="video video--lazy" data-youtubeid="ub7StpyE-Vk"
      data-overlay-content="true">
      <img class="lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format"
        data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text"> </a>
    </a></div>

</figure></div>
<pre class="prettyprint">&#60;figure class="image with-video"&#62;
  &#60;img srcset="
  https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=1170&#38;h=420&#38;auto=format&#38;fit=crop 1170w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=940&#38;h=420&#38;auto=format&#38;fit=crop 1170w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=768&#38;h=407&#38;auto=format&#38;fit=crop 768w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=640&#38;h=360&#38;auto=format&#38;fit=crop 640w,          https://cardiff.imgix.net/__data/assets/image/0004/1701265/geopl.jpg?w=380&#38;h=214&#38;auto=format&#38;fit=crop 380w
    "
    src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&#38;h=420&#38;q=60&#38;fit=crop&#38;auto=format"
    sizes="(max-width: 767px) 502px, (max-width: 979px) 704px, (max-width: 1199px) 940px, (min-width: 1200px) 1150px"
    alt="Students walking" /&#62;
  &#60;div&#62;

    &#60;a href="https://www.youtube.com/watch?v=ub7StpyE-Vk" class="video video--lazy" data-youtubeid="ub7StpyE-Vk"
      data-overlay-content="true"&#62;
      &#60;img class="lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&#38;h=180&#38;fit=crop&#38;q=60&#38;auto=format"
        data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text"&#62; &#60;/a&#62;
    &#60;/a&#62;&#60;/div&#62;

&#60;/figure&#62;</pre>
  
<h2 id="With-link">With link</h2>
<p></p>
<div class="component-example"><figure class="image with-icon-and-text">

  <picture>
    <source media="(min-width: 1200px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&amp;h=420&amp;auto=format&amp;fit=crop">
    <source media="(min-width: 980px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=940&amp;h=420&amp;auto=format&amp;fit=crop">
    <source media="(min-width: 768px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=768&amp;h=407&amp;auto=format&amp;fit=crop">
    <source media="(min-width: 640px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop">
    <source media="(min-width: 1px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=502&amp;h=282&amp;q=60&amp;fit=crop&amp;auto=format">
    <img
      src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&amp;h=420&amp;auto=format&amp;fit=crop"
      alt="Phials of green liquid" loading="lazy"> </picture>


  <div class="image-main">
    <svg class="icon icon-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.6137 82.3486">
      <title>icon-international</title>
      <path
        d="M35.7885,61.5435A35.7445,35.7445,0,0,0,61.23,51.0044a1.3108,1.3108,0,0,0,0-1.8535l-1.98-1.98a1.3106,1.3106,0,0,0-1.8535,1.8535L58.4311,50.06A33.1777,33.1777,0,0,1,11.5375,3.1675l.7891.7886A1.3107,1.3107,0,0,0,14.18,2.1025L12.4467.3691a1.3481,1.3481,0,0,0-1.8535,0A35.716,35.716,0,0,0,27.5439,60.59v8.7327H21.92A11.7237,11.7237,0,0,0,10.2094,81.0337,1.31,1.31,0,0,0,11.52,82.3442H46.1889a1.3107,1.3107,0,0,0,1.3105-1.3105A11.7243,11.7243,0,0,0,35.7875,69.3228H30.165v-8.22A36.4316,36.4316,0,0,0,35.7885,61.5435Zm8.9951,18.18H12.9247A9.1047,9.1047,0,0,1,21.92,71.9438H35.7875A9.104,9.104,0,0,1,44.7836,79.7231Z"
        transform="translate(0 0.0044)" class="fill"></path>
      <path
        d="M53.8676,7.4849a25.5542,25.5542,0,1,0,0,36.1572A25.3994,25.3994,0,0,0,53.8676,7.4849Zm3.4729,10.2128-.4075-.4072-4.6811,4.681a41.9828,41.9828,0,0,0-5.7388-7.1326,43.2931,43.2931,0,0,0-4.251-3.717l5.2748-5.2747A23.0625,23.0625,0,0,1,52.03,9.3218,22.7929,22.7929,0,0,1,57.3405,17.6977ZM53.603,31.105c1.0907,3.998.8147,7.3746-.7492,9.6874L44.98,32.9183l6.702-6.7017A26.4577,26.4577,0,0,1,53.603,31.105ZM25.7245,7.0889a17.3017,17.3017,0,0,1,4.5225.66,28.937,28.937,0,0,1,8.0018,3.7116l-7.3635,7.3636L20.5605,8.5A9.0855,9.0855,0,0,1,25.7245,7.0889Zm-7.0019,3.2466L29.048,20.6614,21.6864,28.023a28.9548,28.9548,0,0,1-3.7119-8.002C16.8845,16.0244,17.16,12.6486,18.7226,10.3355Zm12.1625,12.163,10.42,10.42-7.23,7.23A39.1507,39.1507,0,0,1,26.9018,34.45a40.6456,40.6456,0,0,1-3.7-4.2681ZM43.142,34.7559,51.0154,42.63c-2.3116,1.5618-5.6863,1.8381-9.6839.7477a26.46,26.46,0,0,1-4.89-1.9217Zm0-3.675-10.42-10.42,7.6857-7.6855a40.6527,40.6527,0,0,1,4.267,3.7,39.1529,39.1529,0,0,1,5.699,7.1733ZM45.1231,4.5863l-5.002,5.002A31.9268,31.9268,0,0,0,30.93,5.2422,20.5321,20.5321,0,0,0,26.574,4.53a22.8807,22.8807,0,0,1,18.5491.0568ZM14.7562,16.3842a20.5771,20.5771,0,0,0,.712,4.32,31.9117,31.9117,0,0,0,4.3458,9.1908l-4.9909,4.9909A23.059,23.059,0,0,1,14.7562,16.3842Zm1.3217,20.9211,5.2694-5.2692a43.2869,43.2869,0,0,0,3.7176,4.251,41.9726,41.9726,0,0,0,7.1319,5.7388L27.516,46.7065l.4094.41a22.5023,22.5023,0,0,1-11.8475-9.8108ZM30.11,47.7877l4.3988-4.3987a29.563,29.563,0,0,0,6.1394,2.4953,20.6828,20.6828,0,0,0,4.3088.7169A23.0647,23.0647,0,0,1,30.11,47.7877ZM56.8215,34.741a20.5828,20.5828,0,0,0-.7117-4.32,29.5712,29.5712,0,0,0-2.4948-6.1382l4.398-4.3978A23.0663,23.0663,0,0,1,56.8215,34.741Z"
        transform="translate(0 0.0044)" class="fill-gold"></path>
    </svg>
    <div class="image-body">
      <h3 class="image-title"><a href="#">View a 360 tour of medicine</a></h3>
      <p>Maecenas bibendum commodo ipsum at ornare. Ut urna metus, viverra ac malesuada quis, gravida non enim. Praesent
        et eros vel purus ullamcorper auctor. Praesent et eros vel purus ullamcorper auctor.</p>
    </div>
  </div>
</figure> </div>
<pre class="prettyprint">&#60;figure class="image with-icon-and-text"&#62;

  &#60;picture&#62;
    &#60;source media="(min-width: 1200px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&#38;amp;h=420&#38;amp;auto=format&#38;amp;fit=crop"&#62;
    &#60;source media="(min-width: 980px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=940&#38;amp;h=420&#38;amp;auto=format&#38;amp;fit=crop"&#62;
    &#60;source media="(min-width: 768px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=768&#38;amp;h=407&#38;amp;auto=format&#38;amp;fit=crop"&#62;
    &#60;source media="(min-width: 640px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=640&#38;amp;h=360&#38;amp;auto=format&#38;amp;fit=crop"&#62;
    &#60;source media="(min-width: 1px)"
      srcset="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=502&#38;amp;h=282&#38;amp;q=60&#38;amp;fit=crop&#38;amp;auto=format"&#62;
    &#60;img
      src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&#38;amp;h=420&#38;amp;auto=format&#38;amp;fit=crop"
      alt="Phials of green liquid" loading="lazy"&#62; &#60;/picture&#62;


  &#60;div class="image-main"&#62;
    &#60;svg class="icon icon-light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.6137 82.3486"&#62;
      &#60;title&#62;icon-international&#60;/title&#62;
      &#60;path
        d="M35.7885,61.5435A35.7445,35.7445,0,0,0,61.23,51.0044a1.3108,1.3108,0,0,0,0-1.8535l-1.98-1.98a1.3106,1.3106,0,0,0-1.8535,1.8535L58.4311,50.06A33.1777,33.1777,0,0,1,11.5375,3.1675l.7891.7886A1.3107,1.3107,0,0,0,14.18,2.1025L12.4467.3691a1.3481,1.3481,0,0,0-1.8535,0A35.716,35.716,0,0,0,27.5439,60.59v8.7327H21.92A11.7237,11.7237,0,0,0,10.2094,81.0337,1.31,1.31,0,0,0,11.52,82.3442H46.1889a1.3107,1.3107,0,0,0,1.3105-1.3105A11.7243,11.7243,0,0,0,35.7875,69.3228H30.165v-8.22A36.4316,36.4316,0,0,0,35.7885,61.5435Zm8.9951,18.18H12.9247A9.1047,9.1047,0,0,1,21.92,71.9438H35.7875A9.104,9.104,0,0,1,44.7836,79.7231Z"
        transform="translate(0 0.0044)" class="fill"&#62;&#60;/path&#62;
      &#60;path
        d="M53.8676,7.4849a25.5542,25.5542,0,1,0,0,36.1572A25.3994,25.3994,0,0,0,53.8676,7.4849Zm3.4729,10.2128-.4075-.4072-4.6811,4.681a41.9828,41.9828,0,0,0-5.7388-7.1326,43.2931,43.2931,0,0,0-4.251-3.717l5.2748-5.2747A23.0625,23.0625,0,0,1,52.03,9.3218,22.7929,22.7929,0,0,1,57.3405,17.6977ZM53.603,31.105c1.0907,3.998.8147,7.3746-.7492,9.6874L44.98,32.9183l6.702-6.7017A26.4577,26.4577,0,0,1,53.603,31.105ZM25.7245,7.0889a17.3017,17.3017,0,0,1,4.5225.66,28.937,28.937,0,0,1,8.0018,3.7116l-7.3635,7.3636L20.5605,8.5A9.0855,9.0855,0,0,1,25.7245,7.0889Zm-7.0019,3.2466L29.048,20.6614,21.6864,28.023a28.9548,28.9548,0,0,1-3.7119-8.002C16.8845,16.0244,17.16,12.6486,18.7226,10.3355Zm12.1625,12.163,10.42,10.42-7.23,7.23A39.1507,39.1507,0,0,1,26.9018,34.45a40.6456,40.6456,0,0,1-3.7-4.2681ZM43.142,34.7559,51.0154,42.63c-2.3116,1.5618-5.6863,1.8381-9.6839.7477a26.46,26.46,0,0,1-4.89-1.9217Zm0-3.675-10.42-10.42,7.6857-7.6855a40.6527,40.6527,0,0,1,4.267,3.7,39.1529,39.1529,0,0,1,5.699,7.1733ZM45.1231,4.5863l-5.002,5.002A31.9268,31.9268,0,0,0,30.93,5.2422,20.5321,20.5321,0,0,0,26.574,4.53a22.8807,22.8807,0,0,1,18.5491.0568ZM14.7562,16.3842a20.5771,20.5771,0,0,0,.712,4.32,31.9117,31.9117,0,0,0,4.3458,9.1908l-4.9909,4.9909A23.059,23.059,0,0,1,14.7562,16.3842Zm1.3217,20.9211,5.2694-5.2692a43.2869,43.2869,0,0,0,3.7176,4.251,41.9726,41.9726,0,0,0,7.1319,5.7388L27.516,46.7065l.4094.41a22.5023,22.5023,0,0,1-11.8475-9.8108ZM30.11,47.7877l4.3988-4.3987a29.563,29.563,0,0,0,6.1394,2.4953,20.6828,20.6828,0,0,0,4.3088.7169A23.0647,23.0647,0,0,1,30.11,47.7877ZM56.8215,34.741a20.5828,20.5828,0,0,0-.7117-4.32,29.5712,29.5712,0,0,0-2.4948-6.1382l4.398-4.3978A23.0663,23.0663,0,0,1,56.8215,34.741Z"
        transform="translate(0 0.0044)" class="fill-gold"&#62;&#60;/path&#62;
    &#60;/svg&#62;
    &#60;div class="image-body"&#62;
      &#60;h3 class="image-title"&#62;&#60;a href="#"&#62;View a 360 tour of medicine&#60;/a&#62;&#60;/h3&#62;
      &#60;p&#62;Maecenas bibendum commodo ipsum at ornare. Ut urna metus, viverra ac malesuada quis, gravida non enim. Praesent
        et eros vel purus ullamcorper auctor. Praesent et eros vel purus ullamcorper auctor.&#60;/p&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/figure&#62; </pre>
  
<h2 id="Downloadable">Downloadable</h2>
<p></p>
<div class="component-example"><!-- Button to trigger modal -->
<a href="#demo-with-caption-download" role="button" class="d-block" data-toggle="modal">

  <figure class="image">
    <img src="http://placehold.it/370x210" alt="Placeholder">
    <figcaption class="caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima earum quam eaque
      explicabo libero veniam
      possimus ducimus labore distinctio. Illum accusantium tempore assumenda eveniet. Ducimus, ipsum. At nisi
      asperiores dicta?</figcaption>
  </figure>
  <span class="d-inline-flex align-items-center mt-10"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32.03 32.03">
      <title>Zoom in</title>
      <path
        d="M29.66,32a0.92,0.92,0,0,0,.69-0.28l1.41-1.41A1.7,1.7,0,0,0,32,29.66a1.27,1.27,0,0,0-.31-0.72l-9.62-9.66A0.08,0.08,0,0,1,22,19.22l-0.09-.06a0.8,0.8,0,0,1-.22-0.09A12.09,12.09,0,0,0,24,12a11.68,11.68,0,0,0-3.56-8.53A11.55,11.55,0,0,0,12,0,11.35,11.35,0,0,0,3.5,3.56,11.49,11.49,0,0,0,0,12a11.59,11.59,0,0,0,3.5,8.44A11.47,11.47,0,0,0,12,24a12.09,12.09,0,0,0,7.09-2.31l0.19,0.38L29,31.75A0.92,0.92,0,0,0,29.66,32ZM17.72,6.38A7.59,7.59,0,0,1,20,12a7.5,7.5,0,0,1-2.28,5.63A7.5,7.5,0,0,1,12.06,20a7.61,7.61,0,0,1-5.66-2.31,7.93,7.93,0,0,1,0-11.38A7.74,7.74,0,0,1,12.06,4a7.5,7.5,0,0,1,5.66,2.37h0ZM11,11H7v2h4v4h2V13h4V11H13V7H11v4Z"
        transform="translate(0 0)" />
    </svg> <span class="ml-5">Open expanded view</span></span>
</a>


<!-- Modal -->
<div id="demo-with-caption-download" class="modal modal-image fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close-modal" data-dismiss="modal">
          Close <svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
  <title>Close</title>
  <path d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z" transform="translate(-2 -2)" />
</svg>
        </button>
      </div>

      <div class="modal-body">
        <figure class="image image--downloadable">
          <img src="http://placehold.it/1200x675" alt="Placeholder">
          <figcaption class="caption image__caption">
            <p class="image__caption__content">adsadas</p>
            <a href="#" class="btn btn-success image__download">Download image</a>
          </figcaption>
        </figure>
      </div>

    </div>
  </div>
</div></div>
<pre class="prettyprint">&#60;!-- Button to trigger modal --&#62;
&#60;a href="#demo-with-caption-download" role="button" class="d-block" data-toggle="modal"&#62;

  &#60;figure class="image"&#62;
    &#60;img src="http://placehold.it/370x210" alt="Placeholder"&#62;
    &#60;figcaption class="caption"&#62;Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima earum quam eaque
      explicabo libero veniam
      possimus ducimus labore distinctio. Illum accusantium tempore assumenda eveniet. Ducimus, ipsum. At nisi
      asperiores dicta?&#60;/figcaption&#62;
  &#60;/figure&#62;
  &#60;span class="d-inline-flex align-items-center mt-10"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32.03 32.03"&#62;
      &#60;title&#62;Zoom in&#60;/title&#62;
      &#60;path
        d="M29.66,32a0.92,0.92,0,0,0,.69-0.28l1.41-1.41A1.7,1.7,0,0,0,32,29.66a1.27,1.27,0,0,0-.31-0.72l-9.62-9.66A0.08,0.08,0,0,1,22,19.22l-0.09-.06a0.8,0.8,0,0,1-.22-0.09A12.09,12.09,0,0,0,24,12a11.68,11.68,0,0,0-3.56-8.53A11.55,11.55,0,0,0,12,0,11.35,11.35,0,0,0,3.5,3.56,11.49,11.49,0,0,0,0,12a11.59,11.59,0,0,0,3.5,8.44A11.47,11.47,0,0,0,12,24a12.09,12.09,0,0,0,7.09-2.31l0.19,0.38L29,31.75A0.92,0.92,0,0,0,29.66,32ZM17.72,6.38A7.59,7.59,0,0,1,20,12a7.5,7.5,0,0,1-2.28,5.63A7.5,7.5,0,0,1,12.06,20a7.61,7.61,0,0,1-5.66-2.31,7.93,7.93,0,0,1,0-11.38A7.74,7.74,0,0,1,12.06,4a7.5,7.5,0,0,1,5.66,2.37h0ZM11,11H7v2h4v4h2V13h4V11H13V7H11v4Z"
        transform="translate(0 0)" /&#62;
    &#60;/svg&#62; &#60;span class="ml-5"&#62;Open expanded view&#60;/span&#62;&#60;/span&#62;
&#60;/a&#62;


&#60;!-- Modal --&#62;
&#60;div id="demo-with-caption-download" class="modal modal-image fade" tabindex="-1" role="dialog" aria-hidden="true"&#62;
  &#60;div class="modal-dialog"&#62;
    &#60;div class="modal-content"&#62;
      &#60;div class="modal-header"&#62;

        &#60;button type="button" class="close-modal" data-dismiss="modal"&#62;
          Close &#60;svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"&#62;
  &#60;title&#62;Close&#60;/title&#62;
  &#60;path d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z" transform="translate(-2 -2)" /&#62;
&#60;/svg&#62;
        &#60;/button&#62;
      &#60;/div&#62;

      &#60;div class="modal-body"&#62;
        &#60;figure class="image image--downloadable"&#62;
          &#60;img src="http://placehold.it/1200x675" alt="Placeholder"&#62;
          &#60;figcaption class="caption image__caption"&#62;
            &#60;p class="image__caption__content"&#62;adsadas&#60;/p&#62;
            &#60;a href="#" class="btn btn-success image__download"&#62;Download image&#60;/a&#62;
          &#60;/figcaption&#62;
        &#60;/figure&#62;
      &#60;/div&#62;

    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
