<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  active"
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Lists</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Unordered" class="nav-link">Unordered</a><li class="nav-item"><a href="#Ordered" class="nav-link">Ordered</a><li class="nav-item"><a href="#Contacts" class="nav-link">Contacts</a><li class="nav-item"><a href="#List-icons" class="nav-link">List icons</a><li class="nav-item"><a href="#List-publicationspublications" class="nav-link">List publicationspublications</a><li class="nav-item"><a href="#List-pipe" class="nav-link">List pipe</a><li class="nav-item"><a href="#List-steps" class="nav-link">List steps</a><li class="nav-item"><a href="#List-links" class="nav-link">List links</a><li class="nav-item"><a href="#List-links-Columns" class="nav-link">List links Columns</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Unordered">Unordered</h2>
<p></p>
<div class="component-example"><ul class="list">
  <li><a href="#">List item</a></li>
  <li><a href="#">List item two</a></li>
  <li><a href="#">List item three</a></li>
</ul></div>
<pre class="prettyprint">&#60;ul class="list"&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item two&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item three&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;</pre>
  
<h2 id="Ordered">Ordered</h2>
<p></p>
<div class="component-example"><ol class="list">
  <li><a href="#">List item</a></li>
  <li><a href="#">List item two</a></li>
  <li><a href="#">List item three</a></li>
</ol></div>
<pre class="prettyprint">&#60;ol class="list"&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item two&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item three&#60;/a&#62;&#60;/li&#62;
&#60;/ol&#62;</pre>
  
<h2 id="Contacts">Contacts</h2>
<p></p>
<div class="component-example"><ul class="list list-contact">
  <li><a href="#">List item</a></li>
  <li><a href="#">List item two</a></li>
  <li><a href="#">List item three</a></li>
</ul></div>
<pre class="prettyprint">&#60;ul class="list list-contact"&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item two&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item three&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;</pre>
  
<h2 id="List-icons">List icons</h2>
<p></p>
<div class="component-example"><ul class="list list-horizontal list-icons">
  <li><a href="#" title="Facebook"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
  <title>facebook</title>
  <style>
    .icon-background {
      fill: #1877f2;
    }
    .icon-foreground {
      fill: #ffffff;
    }
  </style>
  <path class="icon-background" d="M1024,512C1024,229.23,794.77,0,512,0S0,229.23,0,512c0,255.55,187.23,467.37,432,505.78V660H302V512H432V399.2C432,270.88,508.44,200,625.39,200c56,0,114.61,10,114.61,10V336H675.44c-63.6,0-83.44,39.47-83.44,80v96H734L711.3,660H592v357.78C836.77,979.37,1024,767.55,1024,512Z"></path>
  <path class="icon-foreground" d="M711.3,660,734,512H592V416c0-40.49,19.84-80,83.44-80H740V210s-58.59-10-114.61-10C508.44,200,432,270.88,432,399.2V512H302V660H432v357.78a517.58,517.58,0,0,0,160,0V660Z"></path>
</svg></a></li>
  <li><a href="#" title="Twitter"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Twitter</title>
  <path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"></path>
  <rect width="32" height="32" style="fill:#55acee"></rect>
  <path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"></path>
</svg></a></li>
</ul>
<h3>Icons MD</h3>
<ul class="list list-horizontal list-icons icons-md">
  <li><a href="#" title="Facebook"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
  <title>facebook</title>
  <style>
    .icon-background {
      fill: #1877f2;
    }
    .icon-foreground {
      fill: #ffffff;
    }
  </style>
  <path class="icon-background" d="M1024,512C1024,229.23,794.77,0,512,0S0,229.23,0,512c0,255.55,187.23,467.37,432,505.78V660H302V512H432V399.2C432,270.88,508.44,200,625.39,200c56,0,114.61,10,114.61,10V336H675.44c-63.6,0-83.44,39.47-83.44,80v96H734L711.3,660H592v357.78C836.77,979.37,1024,767.55,1024,512Z"></path>
  <path class="icon-foreground" d="M711.3,660,734,512H592V416c0-40.49,19.84-80,83.44-80H740V210s-58.59-10-114.61-10C508.44,200,432,270.88,432,399.2V512H302V660H432v357.78a517.58,517.58,0,0,0,160,0V660Z"></path>
</svg></a></li>
  <li><a href="#" title="Twitter"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Twitter</title>
  <path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"></path>
  <rect width="32" height="32" style="fill:#55acee"></rect>
  <path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"></path>
</svg></a></li>
</ul>

<h3>Icons LG</h3>
<ul class="list list-horizontal list-icons icons-lg">
  <li><a href="#" title="Facebook"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
  <title>facebook</title>
  <style>
    .icon-background {
      fill: #1877f2;
    }
    .icon-foreground {
      fill: #ffffff;
    }
  </style>
  <path class="icon-background" d="M1024,512C1024,229.23,794.77,0,512,0S0,229.23,0,512c0,255.55,187.23,467.37,432,505.78V660H302V512H432V399.2C432,270.88,508.44,200,625.39,200c56,0,114.61,10,114.61,10V336H675.44c-63.6,0-83.44,39.47-83.44,80v96H734L711.3,660H592v357.78C836.77,979.37,1024,767.55,1024,512Z"></path>
  <path class="icon-foreground" d="M711.3,660,734,512H592V416c0-40.49,19.84-80,83.44-80H740V210s-58.59-10-114.61-10C508.44,200,432,270.88,432,399.2V512H302V660H432v357.78a517.58,517.58,0,0,0,160,0V660Z"></path>
</svg></a></li>
  <li><a href="#" title="Twitter"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Twitter</title>
  <path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"></path>
  <rect width="32" height="32" style="fill:#55acee"></rect>
  <path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"></path>
</svg></a></li>
</ul></div>
<pre class="prettyprint">&#60;ul class="list list-horizontal list-icons"&#62;
  &#60;li&#62;&#60;a href="#" title="Facebook"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"&#62;
  &#60;title&#62;facebook&#60;/title&#62;
  &#60;style&#62;
    .icon-background {
      fill: #1877f2;
    }
    .icon-foreground {
      fill: #ffffff;
    }
  &#60;/style&#62;
  &#60;path class="icon-background" d="M1024,512C1024,229.23,794.77,0,512,0S0,229.23,0,512c0,255.55,187.23,467.37,432,505.78V660H302V512H432V399.2C432,270.88,508.44,200,625.39,200c56,0,114.61,10,114.61,10V336H675.44c-63.6,0-83.44,39.47-83.44,80v96H734L711.3,660H592v357.78C836.77,979.37,1024,767.55,1024,512Z"&#62;&#60;/path&#62;
  &#60;path class="icon-foreground" d="M711.3,660,734,512H592V416c0-40.49,19.84-80,83.44-80H740V210s-58.59-10-114.61-10C508.44,200,432,270.88,432,399.2V512H302V660H432v357.78a517.58,517.58,0,0,0,160,0V660Z"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#" title="Twitter"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Twitter&#60;/title&#62;
  &#60;path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"&#62;&#60;/path&#62;
  &#60;rect width="32" height="32" style="fill:#55acee"&#62;&#60;/rect&#62;
  &#60;path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;
&#60;h3&#62;Icons MD&#60;/h3&#62;
&#60;ul class="list list-horizontal list-icons icons-md"&#62;
  &#60;li&#62;&#60;a href="#" title="Facebook"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"&#62;
  &#60;title&#62;facebook&#60;/title&#62;
  &#60;style&#62;
    .icon-background {
      fill: #1877f2;
    }
    .icon-foreground {
      fill: #ffffff;
    }
  &#60;/style&#62;
  &#60;path class="icon-background" d="M1024,512C1024,229.23,794.77,0,512,0S0,229.23,0,512c0,255.55,187.23,467.37,432,505.78V660H302V512H432V399.2C432,270.88,508.44,200,625.39,200c56,0,114.61,10,114.61,10V336H675.44c-63.6,0-83.44,39.47-83.44,80v96H734L711.3,660H592v357.78C836.77,979.37,1024,767.55,1024,512Z"&#62;&#60;/path&#62;
  &#60;path class="icon-foreground" d="M711.3,660,734,512H592V416c0-40.49,19.84-80,83.44-80H740V210s-58.59-10-114.61-10C508.44,200,432,270.88,432,399.2V512H302V660H432v357.78a517.58,517.58,0,0,0,160,0V660Z"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#" title="Twitter"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Twitter&#60;/title&#62;
  &#60;path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"&#62;&#60;/path&#62;
  &#60;rect width="32" height="32" style="fill:#55acee"&#62;&#60;/rect&#62;
  &#60;path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;

&#60;h3&#62;Icons LG&#60;/h3&#62;
&#60;ul class="list list-horizontal list-icons icons-lg"&#62;
  &#60;li&#62;&#60;a href="#" title="Facebook"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"&#62;
  &#60;title&#62;facebook&#60;/title&#62;
  &#60;style&#62;
    .icon-background {
      fill: #1877f2;
    }
    .icon-foreground {
      fill: #ffffff;
    }
  &#60;/style&#62;
  &#60;path class="icon-background" d="M1024,512C1024,229.23,794.77,0,512,0S0,229.23,0,512c0,255.55,187.23,467.37,432,505.78V660H302V512H432V399.2C432,270.88,508.44,200,625.39,200c56,0,114.61,10,114.61,10V336H675.44c-63.6,0-83.44,39.47-83.44,80v96H734L711.3,660H592v357.78C836.77,979.37,1024,767.55,1024,512Z"&#62;&#60;/path&#62;
  &#60;path class="icon-foreground" d="M711.3,660,734,512H592V416c0-40.49,19.84-80,83.44-80H740V210s-58.59-10-114.61-10C508.44,200,432,270.88,432,399.2V512H302V660H432v357.78a517.58,517.58,0,0,0,160,0V660Z"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#" title="Twitter"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Twitter&#60;/title&#62;
  &#60;path d="M27.56,0H4.44A4.44,4.44,0,0,0,0,4.44V27.56A4.44,4.44,0,0,0,4.44,32H27.56A4.44,4.44,0,0,0,32,27.56V4.44A4.44,4.44,0,0,0,27.56,0ZM16,9.78A6.22,6.22,0,1,1,9.78,16,6.22,6.22,0,0,1,16,9.78ZM28.44,27.56a0.89,0.89,0,0,1-.89.89H4.44a0.89,0.89,0,0,1-.89-0.89V13.33h3a9.78,9.78,0,1,0,18.8,0h3V27.56Zm0-18.67a0.89,0.89,0,0,1-.89.89H23.11a0.89,0.89,0,0,1-.89-0.89V4.44a0.89,0.89,0,0,1,.89-0.89h4.44a0.89,0.89,0,0,1,.89.89V8.89Z"&#62;&#60;/path&#62;
  &#60;rect width="32" height="32" style="fill:#55acee"&#62;&#60;/rect&#62;
  &#60;path d="M26.71,9.44a9.34,9.34,0,0,1-2.68.74,4.69,4.69,0,0,0,2.06-2.59,9.36,9.36,0,0,1-3,1.13,4.68,4.68,0,0,0-8,4.26A13.27,13.27,0,0,1,5.51,8.1,4.68,4.68,0,0,0,7,14.34a4.66,4.66,0,0,1-2.12-.58v0.06A4.68,4.68,0,0,0,8.59,18.4a4.69,4.69,0,0,1-2.11.08,4.68,4.68,0,0,0,4.37,3.25,9.38,9.38,0,0,1-5.81,2,9.52,9.52,0,0,1-1.12-.07,13.29,13.29,0,0,0,20.46-11.2q0-.3,0-0.6A9.5,9.5,0,0,0,26.71,9.44Z" style="fill:#fff"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;</pre>
  
<h2 id="List-publicationspublications">List publicationspublications</h2>
<p></p>
<div class="component-example"><ul class="list list-publications">
  <li class="publication">
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A025348Z.html"
      >Cushion, S.
    </a>
    ,
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      >Lewis, J. M. W.
    </a>
    and Ramsay, G. N. 2012.
    <i
      ><a href="http://orca.cf.ac.uk/29724/"
        >The impact of interventionist regulation in reshaping news agendas: A
        comparative analysis of public and commercially funded television
        journalism.</a
      ></i
    >
    <i>Journalism</i> 13 (7), pp.831-849. (<a
      href="http://dx.doi.org/10.1177/1464884911431536"
      target="_blank"
      class="external"
      >10.1177/1464884911431536</a
    >)
  </li>
  <li class="publication">
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A025348Z.html"
      >Cushion, S.
    </a>
    ,
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      >Lewis, J. M. W.
    </a>
    and
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A1647846.html"
      >Ramsay, G.
    </a>
    2010.
    <i
      ><a href="http://orca.cf.ac.uk/47130/"
        >Four nations impartiality review follow-up: An analysis of reporting
        devolution.</a
      ></i
    >
    Project Report.[Online].London: BBC Trust PublicationsAvailable at<a
      href="http://www.bbc.co.uk/bbctrust/our_work/services/television/other/nations_follow_up.html"
      >http://www.bbc.co.uk/bbctrust/our_work/services/television/other/nations_follow_up.html</a
    >.
  </li>
  <li class="publication">
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A025348Z.html"
      >Cushion, S.
    </a>
    ,
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      >Lewis, J. M. W.
    </a>
    and
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A052818P.html"
      >Groves, C. R.
    </a>
    2009.
    <i
      ><a href="http://orca.cf.ac.uk/5524/"
        >Prioritizing hand-shaking over policy-making: A study of how the 2007
        devolved elections was reported on BBC UK network coverage.</a
      ></i
    >
    <i>Cyfrwng: Media Wales Journal</i> 6 , pp.7-32.
  </li>
  <li class="publication">
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A025348Z.html"
      >Cushion, S.
    </a>
    ,
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      >Lewis, J. M. W.
    </a>
    and
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A052818P.html"
      >Groves, C. R.
    </a>
    2009.
    <i
      ><a href="http://orca.cf.ac.uk/5523/"
        >Reflecting the four nations? An analysis of reporting devolution on UK
        network news media.</a
      ></i
    >
    <i>Journalism Studies</i> 10 (5), pp.655-671. (<a
      href="http://dx.doi.org/10.1080/14616700902797242"
      target="_blank"
      class="external"
      >10.1080/14616700902797242</a
    >)
  </li>
  <li class="publication">
    <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      >Lewis, J. M. W. et al.</a
    >
    2008.
    <i
      ><a href="http://orca.cf.ac.uk/5539/"
        >Four Nations Impartiality Review: An analysis of reporting
        devolution.</a
      ></i
    >
    Project Report.[Online].Cardiff UniversityAvailable at<a
      href="http://www.bbc.co.uk/bbctrust/assets/files/pdf/review_report_research/impartiality/appendix_a_cardiff_u_analysis.pdf"
      >http://www.bbc.co.uk/bbctrust/assets/files/pdf/review_report_research/impartiality/appendix_a_cardiff_u_analysis.pdf</a
    >.
  </li>
</ul>
</div>
<pre class="prettyprint">&#60;ul class="list list-publications"&#62;
  &#60;li class="publication"&#62;
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A025348Z.html"
      &#62;Cushion, S.
    &#60;/a&#62;
    ,
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      &#62;Lewis, J. M. W.
    &#60;/a&#62;
    and Ramsay, G. N. 2012.
    &#60;i
      &#62;&#60;a href="http://orca.cf.ac.uk/29724/"
        &#62;The impact of interventionist regulation in reshaping news agendas: A
        comparative analysis of public and commercially funded television
        journalism.&#60;/a
      &#62;&#60;/i
    &#62;
    &#60;i&#62;Journalism&#60;/i&#62; 13 (7), pp.831-849. (&#60;a
      href="http://dx.doi.org/10.1177/1464884911431536"
      target="_blank"
      class="external"
      &#62;10.1177/1464884911431536&#60;/a
    &#62;)
  &#60;/li&#62;
  &#60;li class="publication"&#62;
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A025348Z.html"
      &#62;Cushion, S.
    &#60;/a&#62;
    ,
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      &#62;Lewis, J. M. W.
    &#60;/a&#62;
    and
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A1647846.html"
      &#62;Ramsay, G.
    &#60;/a&#62;
    2010.
    &#60;i
      &#62;&#60;a href="http://orca.cf.ac.uk/47130/"
        &#62;Four nations impartiality review follow-up: An analysis of reporting
        devolution.&#60;/a
      &#62;&#60;/i
    &#62;
    Project Report.[Online].London: BBC Trust PublicationsAvailable at&#60;a
      href="http://www.bbc.co.uk/bbctrust/our_work/services/television/other/nations_follow_up.html"
      &#62;http://www.bbc.co.uk/bbctrust/our_work/services/television/other/nations_follow_up.html&#60;/a
    &#62;.
  &#60;/li&#62;
  &#60;li class="publication"&#62;
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A025348Z.html"
      &#62;Cushion, S.
    &#60;/a&#62;
    ,
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      &#62;Lewis, J. M. W.
    &#60;/a&#62;
    and
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A052818P.html"
      &#62;Groves, C. R.
    &#60;/a&#62;
    2009.
    &#60;i
      &#62;&#60;a href="http://orca.cf.ac.uk/5524/"
        &#62;Prioritizing hand-shaking over policy-making: A study of how the 2007
        devolved elections was reported on BBC UK network coverage.&#60;/a
      &#62;&#60;/i
    &#62;
    &#60;i&#62;Cyfrwng: Media Wales Journal&#60;/i&#62; 6 , pp.7-32.
  &#60;/li&#62;
  &#60;li class="publication"&#62;
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A025348Z.html"
      &#62;Cushion, S.
    &#60;/a&#62;
    ,
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      &#62;Lewis, J. M. W.
    &#60;/a&#62;
    and
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A052818P.html"
      &#62;Groves, C. R.
    &#60;/a&#62;
    2009.
    &#60;i
      &#62;&#60;a href="http://orca.cf.ac.uk/5523/"
        &#62;Reflecting the four nations? An analysis of reporting devolution on UK
        network news media.&#60;/a
      &#62;&#60;/i
    &#62;
    &#60;i&#62;Journalism Studies&#60;/i&#62; 10 (5), pp.655-671. (&#60;a
      href="http://dx.doi.org/10.1080/14616700902797242"
      target="_blank"
      class="external"
      &#62;10.1080/14616700902797242&#60;/a
    &#62;)
  &#60;/li&#62;
  &#60;li class="publication"&#62;
    &#60;a href="http://orca.cf.ac.uk/view/allcardiffauthors/A048623U.html"
      &#62;Lewis, J. M. W. et al.&#60;/a
    &#62;
    2008.
    &#60;i
      &#62;&#60;a href="http://orca.cf.ac.uk/5539/"
        &#62;Four Nations Impartiality Review: An analysis of reporting
        devolution.&#60;/a
      &#62;&#60;/i
    &#62;
    Project Report.[Online].Cardiff UniversityAvailable at&#60;a
      href="http://www.bbc.co.uk/bbctrust/assets/files/pdf/review_report_research/impartiality/appendix_a_cardiff_u_analysis.pdf"
      &#62;http://www.bbc.co.uk/bbctrust/assets/files/pdf/review_report_research/impartiality/appendix_a_cardiff_u_analysis.pdf&#60;/a
    &#62;.
  &#60;/li&#62;
&#60;/ul&#62;
</pre>
  
<h2 id="List-pipe">List pipe</h2>
<p></p>
<div class="component-example"><ul class="list list-horizontal pipe-separated">
    <li><strong aria-label="Document version">Version 2.0</strong></li>
    <li><strong id="document-effective-date" aria-label="Document effective date">Effective date: </strong> <time
            class="ml-5" datetime="2018-05-05" aria-labelledby="document-effective-date">22/05/18</time></li>
    <li><strong id="document-review-date" aria-label="Date of next review">Date of Next Review: </strong> <span
            class="ml-5" aria-labelledby="document-review-date">05/2019</span></li>
    <li><strong id="document-last-updated" aria-label="Last updated">Last updated:</strong> <time class="ml-5"
            datetime="2017-11-10" aria-labelledby="document-last-updated">10/11/17</time></li>
</ul></div>
<pre class="prettyprint">&#60;ul class="list list-horizontal pipe-separated"&#62;
    &#60;li&#62;&#60;strong aria-label="Document version"&#62;Version 2.0&#60;/strong&#62;&#60;/li&#62;
    &#60;li&#62;&#60;strong id="document-effective-date" aria-label="Document effective date"&#62;Effective date: &#60;/strong&#62; &#60;time
            class="ml-5" datetime="2018-05-05" aria-labelledby="document-effective-date"&#62;22/05/18&#60;/time&#62;&#60;/li&#62;
    &#60;li&#62;&#60;strong id="document-review-date" aria-label="Date of next review"&#62;Date of Next Review: &#60;/strong&#62; &#60;span
            class="ml-5" aria-labelledby="document-review-date"&#62;05/2019&#60;/span&#62;&#60;/li&#62;
    &#60;li&#62;&#60;strong id="document-last-updated" aria-label="Last updated"&#62;Last updated:&#60;/strong&#62; &#60;time class="ml-5"
            datetime="2017-11-10" aria-labelledby="document-last-updated"&#62;10/11/17&#60;/time&#62;&#60;/li&#62;
&#60;/ul&#62;</pre>
  
<h2 id="List-steps">List steps</h2>
<p></p>
<div class="component-example"><ul class="list list-steps">
  <li><a href="#">List item</a></li>
  <li><a href="#">List item two</a></li>
  <li><a href="#">List item three</a></li>
</ul></div>
<pre class="prettyprint">&#60;ul class="list list-steps"&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item two&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item three&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;</pre>
  
<h2 id="List-links">List links</h2>
<p></p>
<div class="component-example"><ul class="list list-links" list-="">
    <li><a href="#">List item <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg></a></li>
    <li><a href="#">List item two <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg></a></li>
    <li><a href="#">List item three <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg></a></li>
</ul>
<ol class="list list-links" id="document-toc-content">
    <li><a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
            Introduction
            Introduction</a></li>
    <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of further
            information</a></li>
    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions Regulations</a></li>
    <li><a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
            Introduction Introduction</a></li>
    <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
            further information</a></li>
    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
            Regulations</a></li>
    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
    <li><a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
            Introduction Introduction</a></li>
    <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
            further information</a></li>
    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
            Regulations</a></li>
    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
    <li>
        <a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
            Introduction Introduction</a>
        <ol>
            <li><a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
                    Introduction Introduction</a></li>
            <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
                    further information</a></li>
            <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
            <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions Regulations</a>
            </li>
            <li><a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
                    Introduction Introduction</a></li>
            <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
                    further information</a></li>
            <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
            <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                    Regulations</a></li>
            <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
            <li><a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction Introduction
                    Introduction Introduction</a></li>
            <li><a href="#Sources-of-further-information" aria-label="Skip to Sources of further information">Sources of
                    further information</a></li>
            <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
            <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                    Regulations</a></li>
            <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
            <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a>
                <ol>
                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                            Introduction
                            Introduction Introduction</a></li>
                    <li><a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information">Sources of
                            further information</a></li>
                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                            Regulations</a>
                    </li>
                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                            Introduction
                            Introduction Introduction</a></li>
                    <li><a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information">Sources of
                            further information</a></li>
                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                            Regulations</a></li>
                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                            Introduction
                            Introduction Introduction</a></li>
                    <li><a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information">Sources of
                            further information</a></li>
                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                    <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                            Regulations</a></li>
                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a>
                        <ol>
                            <li><a href="#Introduction-Introduction-Introduction-Introduction"
                                    aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                                    Introduction
                                    Introduction Introduction</a></li>
                            <li><a href="#Sources-of-further-information"
                                    aria-label="Skip to Sources of further information">Sources
                                    of
                                    further information</a></li>
                            <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                            <li><a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations">Admissions
                                    Regulations</a></li>
                            <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a>
                                <ol>
                                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                                            Introduction
                                            Introduction Introduction</a></li>
                                    <li><a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information">Sources of
                                            further information</a></li>
                                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                                    <li><a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations">Admissions
                                            Regulations</a></li>
                                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                                            Introduction
                                            Introduction Introduction</a></li>
                                    <li><a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information">Sources of
                                            further information</a></li>
                                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                                    <li><a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations">Admissions
                                            Regulations</a></li>
                                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                                    <li><a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction">Introduction
                                            Introduction
                                            Introduction Introduction</a></li>
                                    <li><a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information">Sources of
                                            further information</a></li>
                                    <li><a href="#Assessment" aria-label="Skip to Assessment">Assessment</a></li>
                                    <li><a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations">Admissions
                                            Regulations</a></li>
                                    <li><a href="#Section-nine" aria-label="Skip to Section nine">Section nine</a></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol></div>
<pre class="prettyprint">&#60;ul class="list list-links" list-=""&#62;
    &#60;li&#62;&#60;a href="#"&#62;List item &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#"&#62;List item two &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#"&#62;List item three &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;
&#60;ol class="list list-links" id="document-toc-content"&#62;
    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction Introduction
            Introduction
            Introduction&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Sources-of-further-information" aria-label="Skip to Sources of further information"&#62;Sources of further
            information&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions Regulations&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction Introduction
            Introduction Introduction&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Sources-of-further-information" aria-label="Skip to Sources of further information"&#62;Sources of
            further information&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions
            Regulations&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction Introduction
            Introduction Introduction&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Sources-of-further-information" aria-label="Skip to Sources of further information"&#62;Sources of
            further information&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions
            Regulations&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
    &#60;li&#62;
        &#60;a href="#Introduction-Introduction-Introduction-Introduction"
            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction Introduction
            Introduction Introduction&#60;/a&#62;
        &#60;ol&#62;
            &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction Introduction
                    Introduction Introduction&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Sources-of-further-information" aria-label="Skip to Sources of further information"&#62;Sources of
                    further information&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions Regulations&#60;/a&#62;
            &#60;/li&#62;
            &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction Introduction
                    Introduction Introduction&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Sources-of-further-information" aria-label="Skip to Sources of further information"&#62;Sources of
                    further information&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions
                    Regulations&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                    aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction Introduction
                    Introduction Introduction&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Sources-of-further-information" aria-label="Skip to Sources of further information"&#62;Sources of
                    further information&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions
                    Regulations&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;
                &#60;ol&#62;
                    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction
                            Introduction
                            Introduction Introduction&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information"&#62;Sources of
                            further information&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions
                            Regulations&#60;/a&#62;
                    &#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction
                            Introduction
                            Introduction Introduction&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information"&#62;Sources of
                            further information&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions
                            Regulations&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction
                            Introduction
                            Introduction Introduction&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Sources-of-further-information"
                            aria-label="Skip to Sources of further information"&#62;Sources of
                            further information&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions
                            Regulations&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
                    &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;
                        &#60;ol&#62;
                            &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                                    aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction
                                    Introduction
                                    Introduction Introduction&#60;/a&#62;&#60;/li&#62;
                            &#60;li&#62;&#60;a href="#Sources-of-further-information"
                                    aria-label="Skip to Sources of further information"&#62;Sources
                                    of
                                    further information&#60;/a&#62;&#60;/li&#62;
                            &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
                            &#60;li&#62;&#60;a href="#Admissions-Regulations" aria-label="Skip to Admissions Regulations"&#62;Admissions
                                    Regulations&#60;/a&#62;&#60;/li&#62;
                            &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;
                                &#60;ol&#62;
                                    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction
                                            Introduction
                                            Introduction Introduction&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information"&#62;Sources of
                                            further information&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations"&#62;Admissions
                                            Regulations&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction
                                            Introduction
                                            Introduction Introduction&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information"&#62;Sources of
                                            further information&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations"&#62;Admissions
                                            Regulations&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Introduction-Introduction-Introduction-Introduction"
                                            aria-label="Skip to Introduction Introduction Introduction Introduction"&#62;Introduction
                                            Introduction
                                            Introduction Introduction&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Sources-of-further-information"
                                            aria-label="Skip to Sources of further information"&#62;Sources of
                                            further information&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Assessment" aria-label="Skip to Assessment"&#62;Assessment&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Admissions-Regulations"
                                            aria-label="Skip to Admissions Regulations"&#62;Admissions
                                            Regulations&#60;/a&#62;&#60;/li&#62;
                                    &#60;li&#62;&#60;a href="#Section-nine" aria-label="Skip to Section nine"&#62;Section nine&#60;/a&#62;&#60;/li&#62;
                                &#60;/ol&#62;
                            &#60;/li&#62;
                        &#60;/ol&#62;
                    &#60;/li&#62;
                &#60;/ol&#62;
            &#60;/li&#62;
        &#60;/ol&#62;
    &#60;/li&#62;
&#60;/ol&#62;</pre>
  
<h2 id="List-links-Columns">List links Columns</h2>
<p>Ability to view links in columns.</p><p><strong>Configuration</strong>:</p><ul class='list'><li><code>list-columns-2</code> On tablet and above the list will appear in a two column layout.</li><li><code>list-columns-3</code> On tablet and above, the list will appear in a three column layout.</li></ul></p>
<div class="component-example"><ul class="list list-links list-links-large list-columns-3">
  <li><a href="#">List item 1</a></li>
  <li><a href="#">List item 2</a></li>
  <li><a href="#">List item 3</a></li>
  <li><a href="#">List item 4</a></li>
  <li><a href="#">List item 5</a></li>
  <li><a href="#">List item 6</a></li>
  <li><a href="#">List item 7</a></li>
  <li><a href="#">List item 8</a></li>
  <li><a href="#">List item 9</a></li>
  <li><a href="#">List item 10</a></li>
  <li><a href="#">List item 11</a></li>
  <li><a href="#">List item 12</a></li>
  <li><a href="#">List item 13</a></li>
  <li><a href="#">List item 14</a></li>
</ul></div>
<pre class="prettyprint">&#60;ul class="list list-links list-links-large list-columns-3"&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 1&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 2&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 3&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 4&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 5&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 6&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 7&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 8&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 9&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 10&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 11&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 12&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 13&#60;/a&#62;&#60;/li&#62;
  &#60;li&#62;&#60;a href="#"&#62;List item 14&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;</pre>
 For single column layouts, use the standard list-links. 

    </main>
  </div>
</div>
