<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  active"
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Maps</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Interactive-map" class="nav-link">Interactive map</a><li class="nav-item"><a href="#basic" class="nav-link">basic</a><li class="nav-item"><a href="#Two-links" class="nav-link">Two links</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Interactive-map">Interactive map</h2>
<p>This can also be used without a panel</p>
<div class="component-example"><div class="interactive-map map map--full-width map--with-panel" data-map-data="mapData2435274">
  <div class="map__panel">
    <div class="map__panel__contents">
      <div class="map__panel__contents__inner">
        <div class="map__panel__contents__list card card--flat">

        </div>
        <div class="map__panel__contents__view card card--flat">

        </div>
      </div>

    </div>
    <button class="map__panel__controls">
      <span class="sr-only">Close panel</span>
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg>
    </button>
  </div>
  <div class="map-body">
    <div id="map" style="height:100%;"></div>
  </div>


</div>
<script>
  window.mapData2435274 = { panel: { title: 'Facilities and locations', enabled: true }, items: [{ filters: [{ key: 'study-spaces', text: 'Study spaces' }], category: "Heath Park Campus", "teaser": "Main Building Restaurant offers hot and cold breakfasts and lunches.", "name": "Main Building Restaurant", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0011/87455/18.02.15-mh-Cardiff-Univ-Restaurants-74.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "https://www.youtube.com/watch?v=nqF84ms-zf8", "text": "Watch a video on youtube", "aria": "Watch a video on youtube", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 31.97 24\"><title>Youtube</title><path d=\"M26,4l0,0a6,6,0,0,1,6,6V22a6,6,0,0,1-6,6H6a6,6,0,0,1-6-6V10A5.88,5.88,0,0,1,1.78,5.75,5.9,5.9,0,0,1,6,4H26ZM22,16L12,8V24Z\" transform=\"translate(0 -4)\"/></svg>" }, { "url": "https://www.google.com", "text": "View a 360 image", "aria": "View a 360 image", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 32 28\"><title>Camera</title><path d=\"M25.5,6H31a1,1,0,0,1,1,1V29a0.92,0.92,0,0,1-.28.69A1,1,0,0,1,31,30H1a1,1,0,0,1-.69-0.31A1,1,0,0,1,0,29V7A1,1,0,0,1,.31,6.28,0.92,0.92,0,0,1,1,6H6.5L8,3a1,1,0,0,1,.31-0.72A0.92,0.92,0,0,1,9,2H23a1,1,0,0,1,1,1ZM16,26a8,8,0,0,0,5.66-13.66A8,8,0,1,0,16,26Zm0-12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,14Z\" transform=\"translate(0 -2)\"/></svg>" }, { "url": "http://maps.google.com/maps?q=51.487942,-3.178361", "data": "data-lat=\"51.487942\" data-long=\"-3.178361\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"><title>map-marker-icon</title><path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/><path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/></svg>" }], "coordinates": { "lat": 51.487942, "long": -3.178361 } }, { filters: [{ key: 'clinic-scenarios', text: 'Clinic scenarios' }], category: "Heath Park Campus", "teaser": "Serving barista coffee, iced coffees, smoothies, cold drinks, danishes, sandwiches, soup, pasties/sausage rolls, jacket potatoes, fresh cakes, snacks and confectionery.", "name": "Glamorgan Café", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0003/87348/18.02.15-mh-Cardiff-Univ-Restaurants-62.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "http://maps.google.com/maps?q=51.4859,-3.182322", "data": "data-lat=\"51.4859\" data-long=\"-3.182322\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"><title>map-marker-icon</title><path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/><path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/></svg>" }], "coordinates": { "lat": 51.4859, "long": -3.182322 } }, { filters: [{ key: 'research', text: 'Research' }], category: "Heath Park Campus", "teaser": "The Coffee Shop incorporates a deli bar which is open from 11.45am to 2.00pm daily and provides freshly made paninis which are made to order.", "name": "Hadyn Ellis Café", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0008/87353/18.02.15-mh-Cardiff-Univ-Restaurants-40.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "http://maps.google.com/maps?q=51.492314,-3.183178", "data": "data-lat=\"51.492314\" data-long=\"-3.183178\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"><title>map-marker-icon</title><path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/><path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/></svg>" }], "coordinates": { "lat": 51.492314, "long": -3.183178 } }] }
</script></div>
<pre class="prettyprint">&#60;div class="interactive-map map map--full-width map--with-panel" data-map-data="mapData2435274"&#62;
  &#60;div class="map__panel"&#62;
    &#60;div class="map__panel__contents"&#62;
      &#60;div class="map__panel__contents__inner"&#62;
        &#60;div class="map__panel__contents__list card card--flat"&#62;

        &#60;/div&#62;
        &#60;div class="map__panel__contents__view card card--flat"&#62;

        &#60;/div&#62;
      &#60;/div&#62;

    &#60;/div&#62;
    &#60;button class="map__panel__controls"&#62;
      &#60;span class="sr-only"&#62;Close panel&#60;/span&#62;
      &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;
    &#60;/button&#62;
  &#60;/div&#62;
  &#60;div class="map-body"&#62;
    &#60;div id="map" style="height:100%;"&#62;&#60;/div&#62;
  &#60;/div&#62;


&#60;/div&#62;
&#60;script&#62;
  window.mapData2435274 = { panel: { title: 'Facilities and locations', enabled: true }, items: [{ filters: [{ key: 'study-spaces', text: 'Study spaces' }], category: "Heath Park Campus", "teaser": "Main Building Restaurant offers hot and cold breakfasts and lunches.", "name": "Main Building Restaurant", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0011/87455/18.02.15-mh-Cardiff-Univ-Restaurants-74.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "https://www.youtube.com/watch?v=nqF84ms-zf8", "text": "Watch a video on youtube", "aria": "Watch a video on youtube", "icon": "&#60;svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 31.97 24\"&#62;&#60;title&#62;Youtube&#60;/title&#62;&#60;path d=\"M26,4l0,0a6,6,0,0,1,6,6V22a6,6,0,0,1-6,6H6a6,6,0,0,1-6-6V10A5.88,5.88,0,0,1,1.78,5.75,5.9,5.9,0,0,1,6,4H26ZM22,16L12,8V24Z\" transform=\"translate(0 -4)\"/&#62;&#60;/svg&#62;" }, { "url": "https://www.google.com", "text": "View a 360 image", "aria": "View a 360 image", "icon": "&#60;svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 32 28\"&#62;&#60;title&#62;Camera&#60;/title&#62;&#60;path d=\"M25.5,6H31a1,1,0,0,1,1,1V29a0.92,0.92,0,0,1-.28.69A1,1,0,0,1,31,30H1a1,1,0,0,1-.69-0.31A1,1,0,0,1,0,29V7A1,1,0,0,1,.31,6.28,0.92,0.92,0,0,1,1,6H6.5L8,3a1,1,0,0,1,.31-0.72A0.92,0.92,0,0,1,9,2H23a1,1,0,0,1,1,1ZM16,26a8,8,0,0,0,5.66-13.66A8,8,0,1,0,16,26Zm0-12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,14Z\" transform=\"translate(0 -2)\"/&#62;&#60;/svg&#62;" }, { "url": "http://maps.google.com/maps?q=51.487942,-3.178361", "data": "data-lat=\"51.487942\" data-long=\"-3.178361\"", "text": "View location", "aria": "View location aria", "icon": "&#60;svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"&#62;&#60;title&#62;map-marker-icon&#60;/title&#62;&#60;path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/&#62;&#60;path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/&#62;&#60;/svg&#62;" }], "coordinates": { "lat": 51.487942, "long": -3.178361 } }, { filters: [{ key: 'clinic-scenarios', text: 'Clinic scenarios' }], category: "Heath Park Campus", "teaser": "Serving barista coffee, iced coffees, smoothies, cold drinks, danishes, sandwiches, soup, pasties/sausage rolls, jacket potatoes, fresh cakes, snacks and confectionery.", "name": "Glamorgan Caf&#233;", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0003/87348/18.02.15-mh-Cardiff-Univ-Restaurants-62.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "http://maps.google.com/maps?q=51.4859,-3.182322", "data": "data-lat=\"51.4859\" data-long=\"-3.182322\"", "text": "View location", "aria": "View location aria", "icon": "&#60;svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"&#62;&#60;title&#62;map-marker-icon&#60;/title&#62;&#60;path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/&#62;&#60;path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/&#62;&#60;/svg&#62;" }], "coordinates": { "lat": 51.4859, "long": -3.182322 } }, { filters: [{ key: 'research', text: 'Research' }], category: "Heath Park Campus", "teaser": "The Coffee Shop incorporates a deli bar which is open from 11.45am to 2.00pm daily and provides freshly made paninis which are made to order.", "name": "Hadyn Ellis Caf&#233;", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0008/87353/18.02.15-mh-Cardiff-Univ-Restaurants-40.JPG", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "links": [{ "url": "http://maps.google.com/maps?q=51.492314,-3.183178", "data": "data-lat=\"51.492314\" data-long=\"-3.183178\"", "text": "View location", "aria": "View location aria", "icon": "&#60;svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 319.36 398.03\"&#62;&#60;title&#62;map-marker-icon&#60;/title&#62;&#60;path class=\"icon-marker-fill\" d=\"M199.26,381.61c-6.92-.14-11.62-3.83-18-9.44-4.47-3.93-9.89-9.1-15.65-15a530.75,530.75,0,0,1-43.93-50.9c-29.12-38.39-63.83-95.69-63.83-150.64,0-33.95,16.39-68.81,45-95.65,27.88-26.18,63.27-41.2,97.1-41.2S269.14,33.83,297,60c28.57,26.84,45,61.7,45,95.65,0,86.29-86,178.72-112.32,205-6.11,6.09-10.48,10.1-13.07,12.39-5,4.4-9.68,8.56-17,8.56Z\" transform=\"translate(-40.23 -1.2)\"/&#62;&#60;path class=\"icon-marker-border\" d=\"M199.91,36.42c60.85,0,124.46,57.39,124.46,119.24,0,95.6-121.48,208.34-124.75,208.34h0c-4.89-.1-124.15-112.71-124.15-208.34,0-61.85,63.6-119.24,124.45-119.24m0-35.22c-38.26,0-78,16.75-109.16,46-32.1,30.15-50.52,69.7-50.52,108.49,0,27.09,7.42,56.65,22.05,87.84,11.11,23.7,26.37,48.41,45.36,73.44A550.77,550.77,0,0,0,153,369.55c6.06,6.17,11.8,11.65,16.59,15.86,6.5,5.71,15.41,13.53,29.28,13.81h.7c14.22,0,22.89-7.8,29.86-14.06,3.29-3,8.76-8.06,16.15-15.59a578,578,0,0,0,45.55-52.45c19.25-25.1,34.71-49.8,46-73.42,14.9-31.28,22.45-60.9,22.45-88,0-38.79-18.41-78.34-50.52-108.49C278,18,238.18,1.2,199.91,1.2Z\" transform=\"translate(-40.23 -1.2)\"/&#62;&#60;/svg&#62;" }], "coordinates": { "lat": 51.492314, "long": -3.183178 } }] }
&#60;/script&#62;</pre>
  
<h2 id="basic">basic</h2>
<p></p>
<div class="component-example"><a class="map map-link" href="//maps.google.com/maps?q=51.489133, -3.183158,&z=16">View location on Google Maps</a></div>
<pre class="prettyprint">&#60;a class="map map-link" href="//maps.google.com/maps?q=51.489133, -3.183158,&#38;z=16"&#62;View location on Google Maps&#60;/a&#62;</pre>
  
<h2 id="Two-links">Two links</h2>
<p></p>
<div class="component-example"><a class="map-link map-large map-two-marker" tabindex="-1" href="https://maps.google.com/maps?q=51.489998,-3.181923&z=16">qweqwewqeqweqweqwe</a>
<a tabindex="-1" href="https://maps.google.com/maps?q=51.489338,-3.181429&z=16">sdwerweqweqweqweqwe</a></div>
<pre class="prettyprint">&#60;a class="map-link map-large map-two-marker" tabindex="-1" href="https://maps.google.com/maps?q=51.489998,-3.181923&#38;z=16"&#62;qweqwewqeqweqweqwe&#60;/a&#62;
&#60;a tabindex="-1" href="https://maps.google.com/maps?q=51.489338,-3.181429&#38;z=16"&#62;sdwerweqweqweqweqwe&#60;/a&#62;</pre>
  

    </main>
  </div>
</div>
