<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  active"
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Global navigation</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Defualt" class="nav-link">Defualt</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Defualt">Defualt</h2>
<p></p>
<div class="component-example"><nav class="nav-global nav-homepage-primary" aria-label="Primary navigation homepage">
  <div class="navbar">
    <div class="nav-global-menu d-lg-none">
      <a href="#" class="nav-global-btn d-flex d-lg-none" id="openNavigation">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 20"><title>Menu</title><path class="bar" d="M 28 0 H 0 V 4 H 28 V 4 Z"></path><path class="bar" d="M 28 12 H 0 V 8 H 28 v 4 Z"></path><path class="bar" d="M 28 20 H 0 V 16 H 28 v 4 Z"></path></svg> <span class="d-xs-none" id="openNavigationText">Menu</span>
      </a>
    </div>
    <div class="nav-global-logo">
      <a href="https://www.cardiff.ac.uk">
        <svg class="icon" version="1.1" "Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<rect y="50.268" fill="#D73648" width="100" height="46.92"/>
<path fill="#FFFFFF" d="M91.187,65.104c-0.54,0.329-2.627,0.352-3.894,0.352c-0.024-1.523-0.024-3.189-0.024-4.762
	c0-0.846,0.049-1.749,0.071-2.64c0.022-0.446-0.118-0.681-0.916-0.681h-0.938c0.071,1.149,0.118,2.265,0.118,3.345v2.462
	c0,0.868-0.024,1.737-0.071,2.628c-0.022,0.352,0.047,0.681,0.845,0.681c3.894,0,4.199,0,4.199,0c0.327,0,0.609-0.399,0.609-0.657
	C91.187,65.832,91.187,65.598,91.187,65.104z M69.516,61.961l-1.007,0.023c0.117,0.353,0.117,1.337,0.117,1.969
	c0,0.447-0.025,0.895-0.025,1.339c-0.538,0.234-1.358,0.305-1.945,0.305c-2.184,0-3.474-1.548-3.474-3.636
	c0-2.087,1.198-3.73,3.402-3.73c1.197,0,2.438,0.728,3.025,1.268l0.282-0.798c0.117-0.422-0.047-0.68-0.305-0.797
	c-0.94-0.399-1.691-0.61-3.005-0.61c-3.049,0-5.277,1.431-5.277,4.668c0,3.099,2.275,4.646,5.209,4.646
	c1.102,0,2.649-0.306,3.753-0.634c0-0.446,0-0.822,0-1.197c0-0.727,0-1.384,0.022-2.134C70.313,62.29,70.031,61.938,69.516,61.961z
	 M78.433,73.107h-1.502c0.022,0.188-0.024,0.563-0.117,0.752c-0.305,0.633-0.681,1.29-1.031,1.924
	c-0.4,0.727-1.127,1.924-1.503,2.51c-0.913-1.478-1.688-3.003-2.511-4.527c-0.187-0.351-0.514-0.635-1.171-0.635h-1.831
	c1.572,2.254,2.791,4.294,4.104,6.521c0,1.291,0.024,2.956-0.092,4.317c-0.024,0.398,0.233,0.633,0.751,0.633h1.665
	c-0.165-1.642-0.165-3.495-0.165-5.066c1.078-1.948,2.323-3.754,3.66-5.724c0.094-0.143,0.141-0.282,0.116-0.399
	C78.809,73.249,78.69,73.107,78.433,73.107z M54.509,59.468c0-0.82,0.729-1.291,1.502-1.291c0.847,0,1.526,0.471,1.971,1.127
	c0.165-0.282,0.493-0.728,0.493-1.127c0-0.773-1.76-0.961-2.346-0.961c-1.571,0-3.12,0.868-3.12,2.582
	c0,3.049,4.271,2.205,4.271,4.199c0,0.961-0.682,1.548-1.643,1.548c-0.986,0-2.087-0.539-2.604-1.338
	c-0.07,0.353-0.235,0.727-0.235,1.103c0,0.375,0.143,0.657,0.494,0.821c0.562,0.305,1.29,0.445,1.924,0.445
	c1.805,0,3.542-1.031,3.542-3.003C58.757,60.711,54.509,61.579,54.509,59.468z M50.825,57.342l-1.22,0.024
	c0,0.328-0.491,1.22-1.007,2.087c-0.516,0.821-1.033,1.643-1.267,1.971c-0.729-1.173-1.431-2.368-2.135-3.543
	c-0.234-0.397-0.563-0.515-1.008-0.515h-1.478c1.267,1.735,2.439,3.519,3.566,5.349v1.033c0.023,0.844-0.071,1.759-0.071,2.251
	c0,0.376,0.329,0.47,0.611,0.47h1.243c-0.14-1.29-0.14-2.627-0.14-3.94c0.656-1.126,1.382-2.205,2.158-3.26
	c0.305-0.471,0.656-0.916,0.962-1.361c0.047-0.095,0.116-0.188,0.116-0.306C51.153,57.413,50.989,57.342,50.825,57.342z
	 M40.406,57.396h-5.161c0.023,0.493,0.07,0.939,0.117,1.432c0.023,0.867,0.047,2.699,0.047,3.356c0,1.572-0.07,2.414-0.07,3.634
	c0,0.47,0.258,0.656,0.704,0.656h1.126c-0.07-1.055-0.142-2.085-0.142-3.14v-1.196c0.821,0,2.886,0.024,3.613,0.235
	c0-0.423,0.117-1.221-0.516-1.221c-0.68,0-1.853,0.143-3.097,0.143v-1.903c0-0.351,0.024-0.703,0.048-1.056
	c0.961,0,2.957-0.023,3.871,0.328C40.946,58.195,41.086,57.396,40.406,57.396z M30.858,61.481c0-1.806,0.094-2.227,0.094-3.354
	c0-0.516-0.188-0.774-0.75-0.774h-1.08c0.094,0.892,0.142,1.854,0.142,4.223c0,2.252-0.094,2.746-0.094,4.13
	c0,0.47,0.235,0.75,0.703,0.75h1.126C30.905,65.424,30.858,63.899,30.858,61.481z M37.962,80.344
	c-0.939,0.469-2.182,0.469-3.543,0.469c-0.352,0-0.398-0.212-0.422-0.634c0-0.352,0-0.844,0-1.173v-2.111
	c1.268,0,2.604,0.047,3.448,0.329l0.047-0.728c0.023-0.492-0.259-0.681-0.938-0.681c-0.75,0-1.619,0.117-2.581,0.117
	c0-0.563,0.023-1.291,0.023-1.854c0-0.47,0.023-1.174,0.046-1.642c2.745,0,3.426,0.233,3.824,0.397c0-0.211,0-0.515,0-0.515
	c0-0.471-0.352-0.916-0.891-0.916c0,0-0.493,0-5.161,0c0.234,0.259,0.259,1.196,0.259,1.525c0.047,1.384,0.023,3.355,0.023,5.044
	c0,0.985-0.023,1.994-0.07,3.025c-0.023,0.517,0.094,0.823,0.634,0.823c1.454,0,4.457,0,4.457,0c0.47,0,0.845-0.236,0.845-0.729
	C37.962,81.094,37.962,80.883,37.962,80.344z M22.356,71.288c-1.595-0.821-3.659-1.289-5.536-1.289
	c-6.287,0-10.463,5.066-10.463,11.261c0,6.005,4.575,9.898,10.416,9.898c1.947,0,4.551-0.562,6.123-1.759l-0.235-1.994
	c-1.056,1.104-3.167,1.994-4.692,1.994c-5.184,0-8.633-4.292-8.633-9.29c0-4.269,2.439-8.491,7.131-8.491
	c1.572,0,3.167,0.493,4.341,1.524c0.562,0.493,1.29,1.478,1.36,2.205c0.445-0.68,1.196-1.876,1.196-2.698
	C23.366,72.015,22.85,71.547,22.356,71.288z M77.914,57.293c-3.003,0-5.043,1.597-5.043,4.669c0,2.887,2.251,4.645,5.043,4.645
	c2.815,0,5.066-1.736,5.066-4.645S80.731,57.293,77.914,57.293z M77.914,65.667c-2.109,0-3.167-1.782-3.167-3.706
	c0-1.947,1.058-3.73,3.167-3.73c2.135,0,3.19,1.736,3.19,3.73C81.104,64.12,80.331,65.667,77.914,65.667z M86.961,71.429
	c-1.667,0-3.4,0-5.09,0.023c0.21,0.258,0.352,0.821,0.374,1.195c0.118,1.549,0.188,3.05,0.188,4.622c-1.597,0-3.286,0-4.882,0.022
	c0.213,0.259,0.329,0.822,0.376,1.197c0.142,1.665,0.187,3.236,0.187,4.903c0,2.134-0.047,4.292-0.14,6.427
	c-0.022,0.329,0.28,0.563,0.635,0.563h3.8c4.104,0,7.154-2.205,7.365-6.334c2.604-0.891,4.316-3.026,4.316-6.287
	C94.092,73.211,91.184,71.429,86.961,71.429z M89.752,82.619c-0.329-3.189-2.322-4.763-5.207-5.208c0-1.761,0.069-3.285,0.141-4.903
	c0.538-0.07,0.82-0.116,1.384-0.116c3.378,0,5.723,2.017,5.723,5.489C91.794,79.922,91.137,81.657,89.752,82.619z M86.914,83.416
	h-1.596c-0.399,0-0.609-0.212-0.633-0.539c-0.094-1.406-0.165-2.813-0.165-4.081c1.737,0.773,2.862,2.369,2.956,4.599
	C87.289,83.394,87.101,83.416,86.914,83.416z M82.621,89.259h-1.618c-0.398,0-0.634-0.188-0.658-0.517
	c-0.093-1.548-0.14-2.957-0.14-4.529c0-1.945,0.047-4.011,0.164-5.864c0.516-0.07,0.843-0.095,1.383-0.095
	c0.235,0,0.471,0,0.682,0.024c0,1.9-0.048,3.8-0.142,5.701c0,0.329,0.282,0.539,0.633,0.539h3.801c0.235,0,0.491,0,0.727-0.024
	C87.219,87.241,85.717,89.259,82.621,89.259z M60.023,71.476c-2.087,0-4.364,0.047-6.171,0.047c0.354,0.492,0.493,1.433,0.589,3.332
	c0.069,1.384,0.116,2.792,0.116,4.199c0,1.713-0.022,3.426-0.071,5.137c-0.047,0.939-0.118,1.854-0.118,2.793
	c0,0.445,0.376,0.68,0.775,0.68h4.691c5.211,0,9.103-2.886,9.103-8.352C68.938,73.703,65.23,71.476,60.023,71.476z M60.07,86.278
	h-1.995c-0.469,0-0.702-0.164-0.796-0.633c-0.072-0.47-0.095-1.151-0.117-1.643c-0.047-1.056-0.071-2.627-0.071-3.941
	c0-2.415,0.116-4.832,0.211-7.225c0.564-0.094,1.149-0.142,1.735-0.142c4.178,0,7.062,2.369,7.062,6.756
	C66.1,83.323,64.222,86.278,60.07,86.278z M47.466,81.328c2.44-0.773,4.198-2.697,4.198-5.349c0-3.377-3.025-4.621-5.958-4.621
	c-1.9,0-3.824,0.048-5.748,0.072c0.234,0.397,0.328,1.358,0.328,1.853c0,2.322,0.047,4.433,0.047,6.052
	c0,4.481-0.211,7.062-0.211,7.906c0,0.352,0.14,0.398,0.445,0.398c1.009,0,1.97-0.022,2.956-0.022
	c-0.141-0.142-0.235-0.47-0.305-0.892c-0.211-1.502-0.305-3.262-0.305-4.903c0.633,0,1.357-0.023,1.99-0.047
	c0.829,1.311,1.856,2.836,3.026,4.387c1.769,2.319,4.17,4.996,6.967,4.996c0.727,0,1.354-0.07,2.082-0.141
	C53.706,89.864,49.437,84.285,47.466,81.328z M44.533,80.671c-0.563,0-1.079,0.024-1.642,0.024c0-0.728,0-1.737,0-2.839
	c0-1.689,0.023-3.614,0.141-5.254c0.492-0.049,1.056-0.095,1.595-0.095c2.393,0,4.315,1.267,4.315,3.848
	C48.943,78.96,47.043,80.671,44.533,80.671z M23.239,62.585c1.22-0.377,2.275-1.221,2.275-2.675c0-1.947-1.712-2.51-3.332-2.51
	c-0.727,0-1.478-0.023-2.205-0.023c-0.352,0-0.728,0.023-1.08,0.023c0.118,0.164,0.188,0.398,0.211,0.61
	c0.07,1.008,0.047,2.557,0.047,3.824c0,0.891-0.023,1.805-0.047,2.697c-0.023,0.446-0.046,0.868-0.046,1.314
	c0,0.421,0.258,0.586,0.657,0.586s0.798-0.022,1.197-0.048c-0.142-0.75-0.165-2.416-0.165-3.542c0.235,0,0.962,0,0.962,0
	c0.704,1.126,1.384,2.205,2.206,3.284c0.68,0.938,1.455,1.314,2.627,1.314c0.141,0,0.352,0,0.493,0
	C26.452,67.065,24.482,64.484,23.239,62.585z M21.245,62.093h-0.516v-0.915c0-0.681,0.023-2.3,0.046-3.004
	c0.282,0,0.54-0.022,0.798-0.022c1.196,0,2.322,0.681,2.322,1.971C23.896,61.67,22.535,62.116,21.245,62.093z M13.232,57.431
	l-3.308-0.023c0.141,0.212,0.188,0.938,0.211,1.643c0.047,1.313,0,2.65,0,3.94c0,0.915-0.046,1.807-0.046,2.721
	c0,0.422,0.187,0.752,0.656,0.752h1.126c-0.095-1.104-0.117-2.37-0.117-3.542c0.281,0.022,0.563,0.022,0.844,0.022
	c1.854,0,3.871-0.892,3.871-3.026C16.469,58.018,14.85,57.455,13.232,57.431z M12.481,62.192c-0.234,0-0.539-0.048-0.728-0.048
	c0,0,0-2.813,0-3.894l0.915-0.023c1.197-0.022,2.112,0.47,2.112,1.807C14.78,61.466,13.771,62.192,12.481,62.192z M31.79,85.035
	l-4.879-11.167c-0.164-0.421-0.305-0.703-0.797-0.703h-0.305l-5.63,11.963c-0.117,0.235-0.141,0.376-0.141,0.564
	c0,0.234,0.258,0.282,0.47,0.282h1.243c-0.024-0.072-0.024-0.189-0.024-0.282c0-0.212,0.047-0.446,0.141-0.703l1.196-2.909h4.833
	l1.314,3.261c0.164,0.398,0.352,0.61,0.821,0.61h2.393C32.19,85.785,31.908,85.293,31.79,85.035z M23.556,81.048l2.041-4.74
	l1.877,4.74H23.556z"/>
<rect y="1" fill="#D73648" width="100" height="46.919"/>
<path fill="#FFFFFF" d="M93.322,6.841h-9.665c0.329,1.9,0.376,5.349,0.376,9.336c0,3.214-0.259,8.657-0.259,9.619
	c0,0.609,0.35,0.938,0.961,0.938h2.463c-0.165-0.376-0.235-0.938-0.258-1.36c-0.212-2.886-0.282-5.819-0.282-8.704
	c0.399-0.023,1.339-0.093,1.479-0.093c1.383,0,3.307,0,4.575,0.539c0.116-0.305,0.28-0.633,0.28-0.961
	c0-0.727-0.751-0.892-1.339-0.892h-4.996c0-2.346,0.095-4.692,0.188-7.038h1.547c1.385,0,4.998,0,6.1,0.681
	c0.116-0.328,0.094-0.727,0.094-1.079C94.589,7.169,93.978,6.841,93.322,6.841z M80.958,7.873h-8.35
	c0.469,0.821,0.444,6.639,0.444,7.836c0,2.509-0.233,6.099-0.233,7.53c0,0.469,0.211,0.915,0.749,0.915h2.486
	c-0.233-0.634-0.351-1.759-0.397-3.237c-0.049-1.313-0.049-2.932-0.049-4.762c0.354,0,1.009-0.07,1.456-0.07
	c1.314,0,2.603,0.023,3.822,0.54c0-0.352,0.094-0.704,0.094-1.056c0-0.54-0.47-0.774-0.961-0.774h-4.387
	c0-1.854,0.094-3.684,0.164-5.536c0.539,0,1.08-0.023,1.618-0.023c1.526,0,3.683,0.047,5.067,0.68v-0.07
	C82.484,8.788,82.18,7.873,80.958,7.873z M69.187,16.271c0-1.337,0.045-2.675,0.069-3.988c0.022-0.704,0.094-1.431,0.094-2.135
	c0-0.352-0.352-0.539-0.657-0.539H66.44c0.329,1.666,0.305,4.457,0.305,6.217c0,1.29-0.022,2.603-0.069,3.917
	c0,0.586-0.049,1.22-0.049,1.807c0,0.446,0.282,0.774,0.729,0.774c0.727,0,1.431-0.023,2.157-0.047
	C69.209,21.198,69.187,17.515,69.187,16.271z M91.444,31.708l-1.197,0.023c-0.021,0.305-0.491,1.22-1.031,2.087
	c-0.492,0.821-1.031,1.642-1.244,1.947c-0.75-1.149-1.43-2.346-2.156-3.519c-0.235-0.399-0.54-0.516-0.986-0.516h-1.501
	c1.289,1.735,2.463,3.519,3.589,5.349v1.009c0,0.868-0.095,1.736-0.095,2.228c0,0.352,0.329,0.47,0.635,0.47h1.219
	c-0.116-1.291-0.141-2.581-0.141-3.894c0.656-1.126,1.407-2.206,2.158-3.261c0.329-0.469,0.656-0.915,0.961-1.36
	c0.07-0.094,0.117-0.188,0.117-0.305C91.773,31.778,91.608,31.708,91.444,31.708z M82.584,31.732h-6.64
	c-0.491,0-0.984,0.281-0.984,0.821v0.492c0.682-0.14,2.158-0.164,2.979-0.164c0.045,1.08,0.045,2.135,0.045,3.215
	c0,1.854-0.092,2.721-0.092,4.082c0,0.469,0.28,0.61,0.728,0.61h1.126c-0.142-1.291-0.142-2.581-0.142-4.622
	c0-1.08-0.022-2.486,0.024-3.284c0.891,0,1.758,0.118,2.392,0.118c0.446,0,0.563-0.446,0.563-0.822V31.732L82.584,31.732z
	 M73.452,35.813c0-1.807,0.094-2.229,0.094-3.355c0-0.516-0.188-0.774-0.751-0.774h-1.078c0.092,0.892,0.141,1.854,0.141,4.223
	c0,2.252-0.094,2.768-0.094,4.129c0,0.47,0.233,0.751,0.702,0.751h1.127C73.497,39.754,73.452,38.229,73.452,35.813z M65.208,33.796
	c0-0.821,0.728-1.267,1.501-1.267c0.845,0,1.524,0.445,1.971,1.103c0.163-0.281,0.493-0.727,0.493-1.126
	c0-0.774-1.762-0.939-2.324-0.939c-1.594,0-3.143,0.845-3.143,2.557c0,3.05,4.27,2.206,4.27,4.2c0,0.961-0.681,1.572-1.643,1.572
	c-0.986,0-2.089-0.564-2.604-1.361c-0.07,0.353-0.233,0.728-0.233,1.103c0,0.375,0.141,0.657,0.491,0.821
	c0.564,0.305,1.29,0.469,1.925,0.469c1.807,0,3.542-1.032,3.542-3.026C69.453,35.039,65.208,35.907,65.208,33.796z M52.131,39.426
	c-0.729,0.352-1.947,0.375-2.744,0.375h-0.633c-0.353,0-0.353-0.188-0.353-0.493c-0.024-0.235-0.024-1.9-0.024-2.135V36.47
	c0.917,0,2.464,0.023,3.309,0.281c0.022-0.234,0.047-0.492,0.047-0.727c0-0.422-0.305-0.539-0.68-0.539
	c-0.868,0-1.807,0.093-2.676,0.093c0-0.586,0-1.008,0-1.548c0-0.445,0.047-0.915,0.071-1.384c0.869,0,2.816,0,3.614,0.329
	c0-0.539,0-1.243-0.775-1.243H46.5c0.095,0.117,0.165,0.375,0.188,0.516c0.069,1.103,0.069,2.205,0.069,3.308
	c0,1.525-0.069,3.05-0.069,4.575c0,0.375,0.116,0.61,0.539,0.61h4.2c0.398,0,0.704-0.212,0.704-0.634V39.426L52.131,39.426z
	 M44.637,31.684h-1.269c0.117,0.352-0.164,1.149-0.305,1.455c-0.705,1.737-1.645,3.91-2.374,5.383
	c-0.473-0.984-1.193-2.748-1.78-4.155c-0.305-0.705-0.539-1.322-0.844-2.026c-0.234-0.539-0.586-0.633-1.149-0.657
	c-0.353,0-0.794-0.023-1.169-0.023c1.407,3.003,2.814,6.029,4.058,9.126h1.197c1.196-2.909,2.557-5.724,3.894-8.586
	c0.023-0.046,0.047-0.094,0.047-0.164C44.942,31.849,44.825,31.684,44.637,31.684z M22.404,7.732
	c-1.572-0.821-3.636-1.291-5.513-1.291c-6.287,0-10.463,5.067-10.463,11.261c0,6.03,4.575,9.9,10.416,9.9
	c1.947,0,4.551-0.563,6.123-1.759l-0.235-1.994c-1.056,1.126-3.167,1.994-4.715,1.994c-5.161,0-8.61-4.293-8.61-9.29
	c0-4.269,2.439-8.469,7.131-8.469c1.572,0,3.167,0.493,4.34,1.525c0.539,0.469,1.29,1.455,1.361,2.206
	c0.446-0.704,1.196-1.9,1.196-2.722C23.436,8.459,22.92,7.991,22.404,7.732z M33.829,35.813c0-1.807,0.093-2.229,0.093-3.355
	c0-0.516-0.164-0.774-0.727-0.774h-1.103c0.094,0.892,0.142,1.854,0.142,4.223c0,2.252-0.095,2.768-0.095,4.129
	c0,0.47,0.235,0.751,0.727,0.751h1.103C33.875,39.754,33.829,38.229,33.829,35.813z M28.896,31.732h-0.938
	c0.07,1.525,0.093,3.049,0.093,4.574v1.572c-2.205-2.041-4.246-4.129-6.404-6.24h-0.634c0.023,0.422,0.023,0.868,0.023,1.314
	c0,1.759,0.023,4.152-0.07,5.279c-0.071,1.196-0.164,1.501-0.164,2.159c0,0.305,0.164,0.399,0.47,0.399
	c0.329,0,0.656-0.024,1.008-0.024c-0.141-0.961-0.164-1.923-0.164-2.91c0-1.125,0.046-2.182,0.046-3.308
	c2.182,2.135,4.341,4.129,6.405,6.382h0.634c-0.047-1.525-0.07-3.05-0.07-4.551c0-0.845,0.07-1.619,0.094-2.394
	c0.023-0.657,0.117-1.384,0.117-1.783C29.341,31.896,29.178,31.732,28.896,31.732z M17.666,31.684h-0.845
	c0.14,0.961,0.164,1.572,0.164,2.534c0,0.539-0.024,1.524-0.024,2.299c0,1.854-0.562,3.308-2.721,3.308
	c-2.487,0-2.745-1.502-2.745-3.613c0-1.359,0.141-2.956,0.141-4.105c0-0.305-0.188-0.422-0.493-0.422H9.829
	c0.071,1.009,0.094,1.666,0.094,3.237c0,0.657-0.046,1.549-0.046,2.229c0,2.698,1.525,3.777,4.104,3.777
	c2.464,0,4.012-1.314,4.106-3.823c0.07-2.393,0.211-4.129,0.211-4.927C18.299,31.778,18.017,31.684,17.666,31.684z M55.246,7.944
	c-2.111,0-4.387,0.023-6.169,0.023c0.331,0.516,0.471,1.455,0.564,3.354c0.093,1.385,0.116,2.792,0.116,4.199
	c0,1.713-0.022,3.402-0.069,5.114c-0.024,0.938-0.095,1.876-0.095,2.814c0,0.422,0.375,0.681,0.774,0.681h4.669
	c5.231,0,9.126-2.886,9.126-8.352C64.161,10.172,60.455,7.944,55.246,7.944z M55.295,22.746h-1.996
	c-0.491,0-0.727-0.164-0.798-0.656c-0.093-0.47-0.093-1.125-0.115-1.618c-0.049-1.056-0.071-2.627-0.071-3.941
	c0-2.416,0.094-4.833,0.187-7.249c0.589-0.093,1.176-0.117,1.761-0.117c4.176,0,7.037,2.369,7.037,6.756
	C61.299,19.768,59.446,22.746,55.295,22.746z M58.908,36.893c1.218-0.352,2.275-1.196,2.275-2.651c0-1.947-1.689-2.51-3.333-2.51
	c-0.727,0-1.454-0.024-2.203-0.024c-0.353,0-0.704,0-1.08,0.024c0.141,0.164,0.188,0.398,0.21,0.609
	c0.07,1.009,0.048,2.535,0.048,3.801c0,0.915-0.022,1.831-0.048,2.721c-0.022,0.422-0.047,0.868-0.047,1.291
	c0,0.445,0.258,0.586,0.657,0.586c0.4,0,0.798-0.023,1.196-0.023c-0.141-0.751-0.163-2.417-0.163-3.542c0.233,0,0.961,0,0.961,0
	c0.704,1.126,1.382,2.181,2.204,3.284c0.681,0.938,1.454,1.313,2.629,1.313c0.14,0,0.35,0,0.491,0
	C62.121,41.396,60.175,38.792,58.908,36.893z M56.912,36.423h-0.516v-0.915c0-0.681,0.024-2.323,0.069-3.003
	c0.26,0,0.518-0.023,0.775-0.023c1.196,0,2.322,0.681,2.322,1.971C59.563,36,58.203,36.423,56.912,36.423z M32.749,21.457
	L27.871,10.29c-0.188-0.423-0.306-0.704-0.798-0.704l-0.305,0.023l-5.629,11.94c-0.118,0.258-0.142,0.376-0.142,0.586
	s0.258,0.258,0.47,0.258h1.243c-0.023-0.07-0.023-0.188-0.023-0.282c0-0.211,0.047-0.445,0.141-0.704l1.196-2.909h4.81l1.337,3.284
	c0.164,0.399,0.352,0.586,0.821,0.586h2.392C33.149,22.207,32.867,21.714,32.749,21.457z M24.492,17.467l2.065-4.738l1.876,4.738
	H24.492z M42.24,17.826c2.439-0.774,4.2-2.698,4.2-5.349c0-3.378-3.026-4.622-5.958-4.622c-1.9,0-3.824,0.047-5.748,0.07
	c0.234,0.399,0.329,1.36,0.329,1.854c0,2.322,0.046,4.434,0.046,6.053c0,4.481-0.212,7.061-0.212,7.905
	c0,0.352,0.141,0.399,0.446,0.399c1.008,0,1.971-0.023,2.956-0.023c-0.141-0.142-0.234-0.469-0.305-0.892
	c-0.211-1.501-0.305-3.261-0.305-4.903c0.634,0,1.356-0.023,1.99-0.048c0.828,1.311,1.856,2.836,3.025,4.388
	c1.768,2.32,4.17,4.997,6.968,4.997c0.727,0,1.355-0.07,2.082-0.141C48.48,26.361,44.211,20.782,42.24,17.826z M39.308,17.169
	c-0.563,0-1.08,0.023-1.642,0.023c0-0.728,0-1.736,0-2.838c0-1.689,0.023-3.613,0.141-5.254c0.493-0.047,1.056-0.094,1.595-0.094
	c2.393,0,4.317,1.267,4.317,3.847C43.718,15.457,41.817,17.169,39.308,17.169z"/>
<rect y="47.918" fill="#FFFFFF" width="100" height="2.35"/>
</svg>

 <span class="sr-only">Homepage</span>
      </a>
    </div>
    <ul class="nav nav-global-links d-none d-lg-flex">
      <li class="nav-item ">
        <a class="nav-link with-dropdown" href="/about/" aria-label="About the University">Amdanom ni</a>
        <nav class="nav-global-links-dropdown">
          <div class="row">
            <div class="col-md-3 col-lg-2">
              <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link nav-title">Our profile</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Our strategy</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Who we are</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Our social, economic and cultural impact</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Annual Review</a></li>
                <li class="nav-item"><a href="#" class="nav-link">History</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Facts and figures</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Rankings</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Quality marks</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">National Student Survey</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2">
              <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link nav-title">Organisation</a></li>
                <li class="nav-item"><a href="#" class="nav-link">University Executive Board</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Governance</a></li>
                <li class="nav-item"><a href="#" class="nav-link">College structure</a></li>3
                <li class="nav-item"><a href="#" class="nav-link">Professional Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Honorary Officers</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-lg-2">
              <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title nav-title-section">Honours and awards</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title nav-title-section">Honorary Fellows</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title nav-title-section">Our location</a></li>
              </ul>
            </div>
            <div class="d-none d-lg-block col-lg-4">
              <div class="nav-global-links-dropdown-highlight">
                <p class="nav-global-links-dropdown-highlight-bold"><span class="text-sm -mb-5">A leading</span><span class="text-md">university</span></p>
                <p class="text-lg">in the heart of a <br>thriving capital city</p>
                <p class="nav-global-links-dropdown-highlight-bold"><span class="text-sm -mb-5">Prifysgol</span><span class="text-md">flaenllaw</span></p>
                <p class="text-lg">yng nghanol prifddinas <br>sy’n ffynnu</p>
              </div>
            </div>
          </div>
        </nav>
        
      </li>
      <li class="nav-item">
        <a href="/study/" class="nav-link with-dropdown" aria-label="Study at Cardiff University">Astudio</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Undergraduate</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Courses</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Prospectus</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Open Days and visits</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Why study with us?</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Meet our student bloggers</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Applying</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Funding</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Tuition fees</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Parents and supporters</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Teachers and careers advisers</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Postgraduate</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Taught</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Research</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Applying </a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Funding</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Tuition fees</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Postgraduate Open Days</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Visit us</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Prospectus</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">International</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Your country</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Funding and fees</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">EU students</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">English language requirements</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">English and Foundation Programmes</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Study abroad in Cardiff</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Erasmus+</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">International Summer Schools</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Visit us</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Brexit for international students</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Tier 4 visa pilot</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Student life</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Accommodation</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Part-time courses for adults</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Continuing professional development</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <div class="nav-global-links-dropdown-highlight"> 
                  <p class="nav-global-links-dropdown-highlight-bold -mb-15"><span class="text-xs">Over</span></p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-xxl">95</span><span class="text-lg">%</span></p>
                  <p class="text-lg">of our undergraduates enter employment or further study shortly after graduating</p>
                  <p class="mt-40 text-xs">(HESA 2016/17)</p> 
                  <p class="nav-global-links-dropdown-highlight-bold -mb-15"><span class="text-xs">Mae dros</span></p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-xxl">95</span><span class="text-lg">%</span></p>
                  <p class="text-lg">o’n hisraddedigion mewn <br>cyflogaeth neu astudiaeth <br>bellach yn fuan ar ôl graddio</p>
                  <p class="mt-40 text-xs">(HESA 2016/17)</p>
                </div>
              </div>
            </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="/research/" class="nav-link with-dropdown" aria-label="Research at the University">Ymchwil</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Explore</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Research topics</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Find a research unit</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Academic publications</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Research Institutes</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Research facilities</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link nav-title">Innovation and impact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Research impact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Honours and accolades</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Strategic alliances</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Quality and performance</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Our research environment</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Supporting researchers</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Working collaboratively</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Integrity and ethics</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Funding and awards</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">News and features</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <div class="nav-global-links-dropdown-highlight">
  
                  <p class="nav-global-links-dropdown-highlight-bold mb-10"><span class="text-lg">Top 5</span></p>
                  <p class="text-lg mt-10">UK University for <br>research quality</p>
                  <p class="mt-40 text-xs">(REF 2014)</p>
                     <p class="nav-global-links-dropdown-highlight-bold"><span class="text-sm">Ymhlith y 5</span></p>
                    <p class="text-lg"><strong></strong>prifysgol orau am ansawdd ein hymchwil</p>
                    <p class="mt-40 text-xs">(REF 2014)</p>
                 
                </div>
              </div>
            </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="/international/" class="nav-link with-dropdown" aria-label="Our international profile">Rhyngwladol</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">International partnerships</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Xiamen University</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">KU Leuven</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Unicamp</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">University of Namibia</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">University of Bremen</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Exchange partners</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link nav-title">International research</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Meet our people</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block offset-lg-2 col-md-4">
                <div class="nav-global-links-dropdown-highlight">
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-xs">Welcoming and</span><span class="text-md">ambitious </span></p>
                  <p class="text-lg">we are truly a global <br>university</p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-xs">Croesawgar ac</span><span class="text-sm">uchelgeisiol </span></p>
                  <p class="text-lg">rydym yn brifysgol <br>fyd-eang</p>
                </div>
              </div>
            </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="/innovation/" class="nav-link with-dropdown" aria-label="Innovation at the University">Arloesedd</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Our vision</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Partners</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Students</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Staff</a></li>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Our innovators</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Innovation Campus</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Our partnerships</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">News</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block offset-lg-4 col-lg-4">
                <div class="nav-global-links-dropdown-highlight">
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-md">£</span><span class="text-xl">600</span><span class="text-md">m</span></p>
                  <p class="text-lg">invested in our biggest <br>campus upgrade for a <br>generation</p>
                  <p class="text-lg">Buddsoddwyd</p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-md">£</span><span class="text-xl">600</span><span class="text-md">m</span></p>
                  <p class="text-lg">yn y gwaith uwchraddio <br>mwyaf ar ein campws ers <br>cenhedlaeth</p>
                </div>
              </div>
            </div>
        </nav>
      </li>
      <li class="nav-item">
        <a href="/business/" class="nav-link with-dropdown" aria-label="Business with the University">Busnes</a>
        <nav class="nav-global-links-dropdown">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Why work with us</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Who we work with</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">For suppliers</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Strategic directions</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Offer a discount to our staff</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                  <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link nav-title">Use our expertise</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Business consultancy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Funded opportunities</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Licence our research findings</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Knowledge exchange</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Advertise a civic engagement opportunity</a></li>
                  </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Develop your workforce</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Professional education</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">IT skills training and certification</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Recruit our graduates</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Knowledge Transfer Partnerships</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">KESS 2</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2">
                <ul class="nav">
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Facilities</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Networking and events</a></li>
                  <li class="nav-item"><a href="#" class="nav-link nav-title">Business news</a></li>
                </ul>
              </div>
              <div class="d-none d-lg-block col-lg-4">
                <div class="nav-global-links-dropdown-highlight">
                  <p class="text-lg">Working to make</p>
                  <p class="nav-global-links-dropdown-highlight-bold"><span class="text-sm">a better</span> <span class="text-lg -mt-15">future</span></p>
                  <p class="text-lg">for Wales and the world</p>
                </div>
              </div>
            </div>
        </nav>
      </li>
    </ul>
    <div class="nav-global-context ml-auto">
      <a href="/cy" lang="cy" class="" aria-label="Welsh version of this page"><span class="d-xs-none d-md-none d-lg-inline-block">Cymraeg</span> <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <circle cx="12" cy="12" r="12" style="fill:#f58025"></circle>
  <path d="M11.88,9.48a2.28,2.28,0,0,0-2.19-2C8.18,7.47,7.23,8.83,7.23,11s1,3.51,2.45,3.51c1.12,0,1.92-.78,2.27-2.17l0.7,0.23a3,3,0,0,1-3,2.59c-2,0-3.24-1.62-3.24-4.19S7.71,6.82,9.7,6.82a3,3,0,0,1,2.94,2.45Z"
    style="fill:#fff"></path>
  <path d="M15.65,15.64A1.76,1.76,0,0,1,13.9,17.1,2.36,2.36,0,0,1,13.19,17V16.41a2.45,2.45,0,0,0,.68.11,1.27,1.27,0,0,0,1.19-1.07l0.2-.54-2-5.82H14l1.62,4.85L17.4,9.09h0.66Z"
    style="fill:#fff"></path>
</svg></a>
    </div>
    <div class="nav-global-search d-lg-none">
      <a href="/search" data-toggle="collapse" data-target="#search-global" aria-expanded="false" aria-controls="search-global"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Search</title>
  <path d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
    transform="translate(-0.03 0)" />
</svg></a>
    </div>
  </div>
</nav>
</div>
<pre class="prettyprint">&#60;nav class="nav-global nav-homepage-primary" aria-label="Primary navigation homepage"&#62;
  &#60;div class="navbar"&#62;
    &#60;div class="nav-global-menu d-lg-none"&#62;
      &#60;a href="#" class="nav-global-btn d-flex d-lg-none" id="openNavigation"&#62;
          &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 20"&#62;&#60;title&#62;Menu&#60;/title&#62;&#60;path class="bar" d="M 28 0 H 0 V 4 H 28 V 4 Z"&#62;&#60;/path&#62;&#60;path class="bar" d="M 28 12 H 0 V 8 H 28 v 4 Z"&#62;&#60;/path&#62;&#60;path class="bar" d="M 28 20 H 0 V 16 H 28 v 4 Z"&#62;&#60;/path&#62;&#60;/svg&#62; &#60;span class="d-xs-none" id="openNavigationText"&#62;Menu&#60;/span&#62;
      &#60;/a&#62;
    &#60;/div&#62;
    &#60;div class="nav-global-logo"&#62;
      &#60;a href="https://www.cardiff.ac.uk"&#62;
        &#60;svg class="icon" version="1.1" "Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"&#62;
&#60;rect y="50.268" fill="#D73648" width="100" height="46.92"/&#62;
&#60;path fill="#FFFFFF" d="M91.187,65.104c-0.54,0.329-2.627,0.352-3.894,0.352c-0.024-1.523-0.024-3.189-0.024-4.762
	c0-0.846,0.049-1.749,0.071-2.64c0.022-0.446-0.118-0.681-0.916-0.681h-0.938c0.071,1.149,0.118,2.265,0.118,3.345v2.462
	c0,0.868-0.024,1.737-0.071,2.628c-0.022,0.352,0.047,0.681,0.845,0.681c3.894,0,4.199,0,4.199,0c0.327,0,0.609-0.399,0.609-0.657
	C91.187,65.832,91.187,65.598,91.187,65.104z M69.516,61.961l-1.007,0.023c0.117,0.353,0.117,1.337,0.117,1.969
	c0,0.447-0.025,0.895-0.025,1.339c-0.538,0.234-1.358,0.305-1.945,0.305c-2.184,0-3.474-1.548-3.474-3.636
	c0-2.087,1.198-3.73,3.402-3.73c1.197,0,2.438,0.728,3.025,1.268l0.282-0.798c0.117-0.422-0.047-0.68-0.305-0.797
	c-0.94-0.399-1.691-0.61-3.005-0.61c-3.049,0-5.277,1.431-5.277,4.668c0,3.099,2.275,4.646,5.209,4.646
	c1.102,0,2.649-0.306,3.753-0.634c0-0.446,0-0.822,0-1.197c0-0.727,0-1.384,0.022-2.134C70.313,62.29,70.031,61.938,69.516,61.961z
	 M78.433,73.107h-1.502c0.022,0.188-0.024,0.563-0.117,0.752c-0.305,0.633-0.681,1.29-1.031,1.924
	c-0.4,0.727-1.127,1.924-1.503,2.51c-0.913-1.478-1.688-3.003-2.511-4.527c-0.187-0.351-0.514-0.635-1.171-0.635h-1.831
	c1.572,2.254,2.791,4.294,4.104,6.521c0,1.291,0.024,2.956-0.092,4.317c-0.024,0.398,0.233,0.633,0.751,0.633h1.665
	c-0.165-1.642-0.165-3.495-0.165-5.066c1.078-1.948,2.323-3.754,3.66-5.724c0.094-0.143,0.141-0.282,0.116-0.399
	C78.809,73.249,78.69,73.107,78.433,73.107z M54.509,59.468c0-0.82,0.729-1.291,1.502-1.291c0.847,0,1.526,0.471,1.971,1.127
	c0.165-0.282,0.493-0.728,0.493-1.127c0-0.773-1.76-0.961-2.346-0.961c-1.571,0-3.12,0.868-3.12,2.582
	c0,3.049,4.271,2.205,4.271,4.199c0,0.961-0.682,1.548-1.643,1.548c-0.986,0-2.087-0.539-2.604-1.338
	c-0.07,0.353-0.235,0.727-0.235,1.103c0,0.375,0.143,0.657,0.494,0.821c0.562,0.305,1.29,0.445,1.924,0.445
	c1.805,0,3.542-1.031,3.542-3.003C58.757,60.711,54.509,61.579,54.509,59.468z M50.825,57.342l-1.22,0.024
	c0,0.328-0.491,1.22-1.007,2.087c-0.516,0.821-1.033,1.643-1.267,1.971c-0.729-1.173-1.431-2.368-2.135-3.543
	c-0.234-0.397-0.563-0.515-1.008-0.515h-1.478c1.267,1.735,2.439,3.519,3.566,5.349v1.033c0.023,0.844-0.071,1.759-0.071,2.251
	c0,0.376,0.329,0.47,0.611,0.47h1.243c-0.14-1.29-0.14-2.627-0.14-3.94c0.656-1.126,1.382-2.205,2.158-3.26
	c0.305-0.471,0.656-0.916,0.962-1.361c0.047-0.095,0.116-0.188,0.116-0.306C51.153,57.413,50.989,57.342,50.825,57.342z
	 M40.406,57.396h-5.161c0.023,0.493,0.07,0.939,0.117,1.432c0.023,0.867,0.047,2.699,0.047,3.356c0,1.572-0.07,2.414-0.07,3.634
	c0,0.47,0.258,0.656,0.704,0.656h1.126c-0.07-1.055-0.142-2.085-0.142-3.14v-1.196c0.821,0,2.886,0.024,3.613,0.235
	c0-0.423,0.117-1.221-0.516-1.221c-0.68,0-1.853,0.143-3.097,0.143v-1.903c0-0.351,0.024-0.703,0.048-1.056
	c0.961,0,2.957-0.023,3.871,0.328C40.946,58.195,41.086,57.396,40.406,57.396z M30.858,61.481c0-1.806,0.094-2.227,0.094-3.354
	c0-0.516-0.188-0.774-0.75-0.774h-1.08c0.094,0.892,0.142,1.854,0.142,4.223c0,2.252-0.094,2.746-0.094,4.13
	c0,0.47,0.235,0.75,0.703,0.75h1.126C30.905,65.424,30.858,63.899,30.858,61.481z M37.962,80.344
	c-0.939,0.469-2.182,0.469-3.543,0.469c-0.352,0-0.398-0.212-0.422-0.634c0-0.352,0-0.844,0-1.173v-2.111
	c1.268,0,2.604,0.047,3.448,0.329l0.047-0.728c0.023-0.492-0.259-0.681-0.938-0.681c-0.75,0-1.619,0.117-2.581,0.117
	c0-0.563,0.023-1.291,0.023-1.854c0-0.47,0.023-1.174,0.046-1.642c2.745,0,3.426,0.233,3.824,0.397c0-0.211,0-0.515,0-0.515
	c0-0.471-0.352-0.916-0.891-0.916c0,0-0.493,0-5.161,0c0.234,0.259,0.259,1.196,0.259,1.525c0.047,1.384,0.023,3.355,0.023,5.044
	c0,0.985-0.023,1.994-0.07,3.025c-0.023,0.517,0.094,0.823,0.634,0.823c1.454,0,4.457,0,4.457,0c0.47,0,0.845-0.236,0.845-0.729
	C37.962,81.094,37.962,80.883,37.962,80.344z M22.356,71.288c-1.595-0.821-3.659-1.289-5.536-1.289
	c-6.287,0-10.463,5.066-10.463,11.261c0,6.005,4.575,9.898,10.416,9.898c1.947,0,4.551-0.562,6.123-1.759l-0.235-1.994
	c-1.056,1.104-3.167,1.994-4.692,1.994c-5.184,0-8.633-4.292-8.633-9.29c0-4.269,2.439-8.491,7.131-8.491
	c1.572,0,3.167,0.493,4.341,1.524c0.562,0.493,1.29,1.478,1.36,2.205c0.445-0.68,1.196-1.876,1.196-2.698
	C23.366,72.015,22.85,71.547,22.356,71.288z M77.914,57.293c-3.003,0-5.043,1.597-5.043,4.669c0,2.887,2.251,4.645,5.043,4.645
	c2.815,0,5.066-1.736,5.066-4.645S80.731,57.293,77.914,57.293z M77.914,65.667c-2.109,0-3.167-1.782-3.167-3.706
	c0-1.947,1.058-3.73,3.167-3.73c2.135,0,3.19,1.736,3.19,3.73C81.104,64.12,80.331,65.667,77.914,65.667z M86.961,71.429
	c-1.667,0-3.4,0-5.09,0.023c0.21,0.258,0.352,0.821,0.374,1.195c0.118,1.549,0.188,3.05,0.188,4.622c-1.597,0-3.286,0-4.882,0.022
	c0.213,0.259,0.329,0.822,0.376,1.197c0.142,1.665,0.187,3.236,0.187,4.903c0,2.134-0.047,4.292-0.14,6.427
	c-0.022,0.329,0.28,0.563,0.635,0.563h3.8c4.104,0,7.154-2.205,7.365-6.334c2.604-0.891,4.316-3.026,4.316-6.287
	C94.092,73.211,91.184,71.429,86.961,71.429z M89.752,82.619c-0.329-3.189-2.322-4.763-5.207-5.208c0-1.761,0.069-3.285,0.141-4.903
	c0.538-0.07,0.82-0.116,1.384-0.116c3.378,0,5.723,2.017,5.723,5.489C91.794,79.922,91.137,81.657,89.752,82.619z M86.914,83.416
	h-1.596c-0.399,0-0.609-0.212-0.633-0.539c-0.094-1.406-0.165-2.813-0.165-4.081c1.737,0.773,2.862,2.369,2.956,4.599
	C87.289,83.394,87.101,83.416,86.914,83.416z M82.621,89.259h-1.618c-0.398,0-0.634-0.188-0.658-0.517
	c-0.093-1.548-0.14-2.957-0.14-4.529c0-1.945,0.047-4.011,0.164-5.864c0.516-0.07,0.843-0.095,1.383-0.095
	c0.235,0,0.471,0,0.682,0.024c0,1.9-0.048,3.8-0.142,5.701c0,0.329,0.282,0.539,0.633,0.539h3.801c0.235,0,0.491,0,0.727-0.024
	C87.219,87.241,85.717,89.259,82.621,89.259z M60.023,71.476c-2.087,0-4.364,0.047-6.171,0.047c0.354,0.492,0.493,1.433,0.589,3.332
	c0.069,1.384,0.116,2.792,0.116,4.199c0,1.713-0.022,3.426-0.071,5.137c-0.047,0.939-0.118,1.854-0.118,2.793
	c0,0.445,0.376,0.68,0.775,0.68h4.691c5.211,0,9.103-2.886,9.103-8.352C68.938,73.703,65.23,71.476,60.023,71.476z M60.07,86.278
	h-1.995c-0.469,0-0.702-0.164-0.796-0.633c-0.072-0.47-0.095-1.151-0.117-1.643c-0.047-1.056-0.071-2.627-0.071-3.941
	c0-2.415,0.116-4.832,0.211-7.225c0.564-0.094,1.149-0.142,1.735-0.142c4.178,0,7.062,2.369,7.062,6.756
	C66.1,83.323,64.222,86.278,60.07,86.278z M47.466,81.328c2.44-0.773,4.198-2.697,4.198-5.349c0-3.377-3.025-4.621-5.958-4.621
	c-1.9,0-3.824,0.048-5.748,0.072c0.234,0.397,0.328,1.358,0.328,1.853c0,2.322,0.047,4.433,0.047,6.052
	c0,4.481-0.211,7.062-0.211,7.906c0,0.352,0.14,0.398,0.445,0.398c1.009,0,1.97-0.022,2.956-0.022
	c-0.141-0.142-0.235-0.47-0.305-0.892c-0.211-1.502-0.305-3.262-0.305-4.903c0.633,0,1.357-0.023,1.99-0.047
	c0.829,1.311,1.856,2.836,3.026,4.387c1.769,2.319,4.17,4.996,6.967,4.996c0.727,0,1.354-0.07,2.082-0.141
	C53.706,89.864,49.437,84.285,47.466,81.328z M44.533,80.671c-0.563,0-1.079,0.024-1.642,0.024c0-0.728,0-1.737,0-2.839
	c0-1.689,0.023-3.614,0.141-5.254c0.492-0.049,1.056-0.095,1.595-0.095c2.393,0,4.315,1.267,4.315,3.848
	C48.943,78.96,47.043,80.671,44.533,80.671z M23.239,62.585c1.22-0.377,2.275-1.221,2.275-2.675c0-1.947-1.712-2.51-3.332-2.51
	c-0.727,0-1.478-0.023-2.205-0.023c-0.352,0-0.728,0.023-1.08,0.023c0.118,0.164,0.188,0.398,0.211,0.61
	c0.07,1.008,0.047,2.557,0.047,3.824c0,0.891-0.023,1.805-0.047,2.697c-0.023,0.446-0.046,0.868-0.046,1.314
	c0,0.421,0.258,0.586,0.657,0.586s0.798-0.022,1.197-0.048c-0.142-0.75-0.165-2.416-0.165-3.542c0.235,0,0.962,0,0.962,0
	c0.704,1.126,1.384,2.205,2.206,3.284c0.68,0.938,1.455,1.314,2.627,1.314c0.141,0,0.352,0,0.493,0
	C26.452,67.065,24.482,64.484,23.239,62.585z M21.245,62.093h-0.516v-0.915c0-0.681,0.023-2.3,0.046-3.004
	c0.282,0,0.54-0.022,0.798-0.022c1.196,0,2.322,0.681,2.322,1.971C23.896,61.67,22.535,62.116,21.245,62.093z M13.232,57.431
	l-3.308-0.023c0.141,0.212,0.188,0.938,0.211,1.643c0.047,1.313,0,2.65,0,3.94c0,0.915-0.046,1.807-0.046,2.721
	c0,0.422,0.187,0.752,0.656,0.752h1.126c-0.095-1.104-0.117-2.37-0.117-3.542c0.281,0.022,0.563,0.022,0.844,0.022
	c1.854,0,3.871-0.892,3.871-3.026C16.469,58.018,14.85,57.455,13.232,57.431z M12.481,62.192c-0.234,0-0.539-0.048-0.728-0.048
	c0,0,0-2.813,0-3.894l0.915-0.023c1.197-0.022,2.112,0.47,2.112,1.807C14.78,61.466,13.771,62.192,12.481,62.192z M31.79,85.035
	l-4.879-11.167c-0.164-0.421-0.305-0.703-0.797-0.703h-0.305l-5.63,11.963c-0.117,0.235-0.141,0.376-0.141,0.564
	c0,0.234,0.258,0.282,0.47,0.282h1.243c-0.024-0.072-0.024-0.189-0.024-0.282c0-0.212,0.047-0.446,0.141-0.703l1.196-2.909h4.833
	l1.314,3.261c0.164,0.398,0.352,0.61,0.821,0.61h2.393C32.19,85.785,31.908,85.293,31.79,85.035z M23.556,81.048l2.041-4.74
	l1.877,4.74H23.556z"/&#62;
&#60;rect y="1" fill="#D73648" width="100" height="46.919"/&#62;
&#60;path fill="#FFFFFF" d="M93.322,6.841h-9.665c0.329,1.9,0.376,5.349,0.376,9.336c0,3.214-0.259,8.657-0.259,9.619
	c0,0.609,0.35,0.938,0.961,0.938h2.463c-0.165-0.376-0.235-0.938-0.258-1.36c-0.212-2.886-0.282-5.819-0.282-8.704
	c0.399-0.023,1.339-0.093,1.479-0.093c1.383,0,3.307,0,4.575,0.539c0.116-0.305,0.28-0.633,0.28-0.961
	c0-0.727-0.751-0.892-1.339-0.892h-4.996c0-2.346,0.095-4.692,0.188-7.038h1.547c1.385,0,4.998,0,6.1,0.681
	c0.116-0.328,0.094-0.727,0.094-1.079C94.589,7.169,93.978,6.841,93.322,6.841z M80.958,7.873h-8.35
	c0.469,0.821,0.444,6.639,0.444,7.836c0,2.509-0.233,6.099-0.233,7.53c0,0.469,0.211,0.915,0.749,0.915h2.486
	c-0.233-0.634-0.351-1.759-0.397-3.237c-0.049-1.313-0.049-2.932-0.049-4.762c0.354,0,1.009-0.07,1.456-0.07
	c1.314,0,2.603,0.023,3.822,0.54c0-0.352,0.094-0.704,0.094-1.056c0-0.54-0.47-0.774-0.961-0.774h-4.387
	c0-1.854,0.094-3.684,0.164-5.536c0.539,0,1.08-0.023,1.618-0.023c1.526,0,3.683,0.047,5.067,0.68v-0.07
	C82.484,8.788,82.18,7.873,80.958,7.873z M69.187,16.271c0-1.337,0.045-2.675,0.069-3.988c0.022-0.704,0.094-1.431,0.094-2.135
	c0-0.352-0.352-0.539-0.657-0.539H66.44c0.329,1.666,0.305,4.457,0.305,6.217c0,1.29-0.022,2.603-0.069,3.917
	c0,0.586-0.049,1.22-0.049,1.807c0,0.446,0.282,0.774,0.729,0.774c0.727,0,1.431-0.023,2.157-0.047
	C69.209,21.198,69.187,17.515,69.187,16.271z M91.444,31.708l-1.197,0.023c-0.021,0.305-0.491,1.22-1.031,2.087
	c-0.492,0.821-1.031,1.642-1.244,1.947c-0.75-1.149-1.43-2.346-2.156-3.519c-0.235-0.399-0.54-0.516-0.986-0.516h-1.501
	c1.289,1.735,2.463,3.519,3.589,5.349v1.009c0,0.868-0.095,1.736-0.095,2.228c0,0.352,0.329,0.47,0.635,0.47h1.219
	c-0.116-1.291-0.141-2.581-0.141-3.894c0.656-1.126,1.407-2.206,2.158-3.261c0.329-0.469,0.656-0.915,0.961-1.36
	c0.07-0.094,0.117-0.188,0.117-0.305C91.773,31.778,91.608,31.708,91.444,31.708z M82.584,31.732h-6.64
	c-0.491,0-0.984,0.281-0.984,0.821v0.492c0.682-0.14,2.158-0.164,2.979-0.164c0.045,1.08,0.045,2.135,0.045,3.215
	c0,1.854-0.092,2.721-0.092,4.082c0,0.469,0.28,0.61,0.728,0.61h1.126c-0.142-1.291-0.142-2.581-0.142-4.622
	c0-1.08-0.022-2.486,0.024-3.284c0.891,0,1.758,0.118,2.392,0.118c0.446,0,0.563-0.446,0.563-0.822V31.732L82.584,31.732z
	 M73.452,35.813c0-1.807,0.094-2.229,0.094-3.355c0-0.516-0.188-0.774-0.751-0.774h-1.078c0.092,0.892,0.141,1.854,0.141,4.223
	c0,2.252-0.094,2.768-0.094,4.129c0,0.47,0.233,0.751,0.702,0.751h1.127C73.497,39.754,73.452,38.229,73.452,35.813z M65.208,33.796
	c0-0.821,0.728-1.267,1.501-1.267c0.845,0,1.524,0.445,1.971,1.103c0.163-0.281,0.493-0.727,0.493-1.126
	c0-0.774-1.762-0.939-2.324-0.939c-1.594,0-3.143,0.845-3.143,2.557c0,3.05,4.27,2.206,4.27,4.2c0,0.961-0.681,1.572-1.643,1.572
	c-0.986,0-2.089-0.564-2.604-1.361c-0.07,0.353-0.233,0.728-0.233,1.103c0,0.375,0.141,0.657,0.491,0.821
	c0.564,0.305,1.29,0.469,1.925,0.469c1.807,0,3.542-1.032,3.542-3.026C69.453,35.039,65.208,35.907,65.208,33.796z M52.131,39.426
	c-0.729,0.352-1.947,0.375-2.744,0.375h-0.633c-0.353,0-0.353-0.188-0.353-0.493c-0.024-0.235-0.024-1.9-0.024-2.135V36.47
	c0.917,0,2.464,0.023,3.309,0.281c0.022-0.234,0.047-0.492,0.047-0.727c0-0.422-0.305-0.539-0.68-0.539
	c-0.868,0-1.807,0.093-2.676,0.093c0-0.586,0-1.008,0-1.548c0-0.445,0.047-0.915,0.071-1.384c0.869,0,2.816,0,3.614,0.329
	c0-0.539,0-1.243-0.775-1.243H46.5c0.095,0.117,0.165,0.375,0.188,0.516c0.069,1.103,0.069,2.205,0.069,3.308
	c0,1.525-0.069,3.05-0.069,4.575c0,0.375,0.116,0.61,0.539,0.61h4.2c0.398,0,0.704-0.212,0.704-0.634V39.426L52.131,39.426z
	 M44.637,31.684h-1.269c0.117,0.352-0.164,1.149-0.305,1.455c-0.705,1.737-1.645,3.91-2.374,5.383
	c-0.473-0.984-1.193-2.748-1.78-4.155c-0.305-0.705-0.539-1.322-0.844-2.026c-0.234-0.539-0.586-0.633-1.149-0.657
	c-0.353,0-0.794-0.023-1.169-0.023c1.407,3.003,2.814,6.029,4.058,9.126h1.197c1.196-2.909,2.557-5.724,3.894-8.586
	c0.023-0.046,0.047-0.094,0.047-0.164C44.942,31.849,44.825,31.684,44.637,31.684z M22.404,7.732
	c-1.572-0.821-3.636-1.291-5.513-1.291c-6.287,0-10.463,5.067-10.463,11.261c0,6.03,4.575,9.9,10.416,9.9
	c1.947,0,4.551-0.563,6.123-1.759l-0.235-1.994c-1.056,1.126-3.167,1.994-4.715,1.994c-5.161,0-8.61-4.293-8.61-9.29
	c0-4.269,2.439-8.469,7.131-8.469c1.572,0,3.167,0.493,4.34,1.525c0.539,0.469,1.29,1.455,1.361,2.206
	c0.446-0.704,1.196-1.9,1.196-2.722C23.436,8.459,22.92,7.991,22.404,7.732z M33.829,35.813c0-1.807,0.093-2.229,0.093-3.355
	c0-0.516-0.164-0.774-0.727-0.774h-1.103c0.094,0.892,0.142,1.854,0.142,4.223c0,2.252-0.095,2.768-0.095,4.129
	c0,0.47,0.235,0.751,0.727,0.751h1.103C33.875,39.754,33.829,38.229,33.829,35.813z M28.896,31.732h-0.938
	c0.07,1.525,0.093,3.049,0.093,4.574v1.572c-2.205-2.041-4.246-4.129-6.404-6.24h-0.634c0.023,0.422,0.023,0.868,0.023,1.314
	c0,1.759,0.023,4.152-0.07,5.279c-0.071,1.196-0.164,1.501-0.164,2.159c0,0.305,0.164,0.399,0.47,0.399
	c0.329,0,0.656-0.024,1.008-0.024c-0.141-0.961-0.164-1.923-0.164-2.91c0-1.125,0.046-2.182,0.046-3.308
	c2.182,2.135,4.341,4.129,6.405,6.382h0.634c-0.047-1.525-0.07-3.05-0.07-4.551c0-0.845,0.07-1.619,0.094-2.394
	c0.023-0.657,0.117-1.384,0.117-1.783C29.341,31.896,29.178,31.732,28.896,31.732z M17.666,31.684h-0.845
	c0.14,0.961,0.164,1.572,0.164,2.534c0,0.539-0.024,1.524-0.024,2.299c0,1.854-0.562,3.308-2.721,3.308
	c-2.487,0-2.745-1.502-2.745-3.613c0-1.359,0.141-2.956,0.141-4.105c0-0.305-0.188-0.422-0.493-0.422H9.829
	c0.071,1.009,0.094,1.666,0.094,3.237c0,0.657-0.046,1.549-0.046,2.229c0,2.698,1.525,3.777,4.104,3.777
	c2.464,0,4.012-1.314,4.106-3.823c0.07-2.393,0.211-4.129,0.211-4.927C18.299,31.778,18.017,31.684,17.666,31.684z M55.246,7.944
	c-2.111,0-4.387,0.023-6.169,0.023c0.331,0.516,0.471,1.455,0.564,3.354c0.093,1.385,0.116,2.792,0.116,4.199
	c0,1.713-0.022,3.402-0.069,5.114c-0.024,0.938-0.095,1.876-0.095,2.814c0,0.422,0.375,0.681,0.774,0.681h4.669
	c5.231,0,9.126-2.886,9.126-8.352C64.161,10.172,60.455,7.944,55.246,7.944z M55.295,22.746h-1.996
	c-0.491,0-0.727-0.164-0.798-0.656c-0.093-0.47-0.093-1.125-0.115-1.618c-0.049-1.056-0.071-2.627-0.071-3.941
	c0-2.416,0.094-4.833,0.187-7.249c0.589-0.093,1.176-0.117,1.761-0.117c4.176,0,7.037,2.369,7.037,6.756
	C61.299,19.768,59.446,22.746,55.295,22.746z M58.908,36.893c1.218-0.352,2.275-1.196,2.275-2.651c0-1.947-1.689-2.51-3.333-2.51
	c-0.727,0-1.454-0.024-2.203-0.024c-0.353,0-0.704,0-1.08,0.024c0.141,0.164,0.188,0.398,0.21,0.609
	c0.07,1.009,0.048,2.535,0.048,3.801c0,0.915-0.022,1.831-0.048,2.721c-0.022,0.422-0.047,0.868-0.047,1.291
	c0,0.445,0.258,0.586,0.657,0.586c0.4,0,0.798-0.023,1.196-0.023c-0.141-0.751-0.163-2.417-0.163-3.542c0.233,0,0.961,0,0.961,0
	c0.704,1.126,1.382,2.181,2.204,3.284c0.681,0.938,1.454,1.313,2.629,1.313c0.14,0,0.35,0,0.491,0
	C62.121,41.396,60.175,38.792,58.908,36.893z M56.912,36.423h-0.516v-0.915c0-0.681,0.024-2.323,0.069-3.003
	c0.26,0,0.518-0.023,0.775-0.023c1.196,0,2.322,0.681,2.322,1.971C59.563,36,58.203,36.423,56.912,36.423z M32.749,21.457
	L27.871,10.29c-0.188-0.423-0.306-0.704-0.798-0.704l-0.305,0.023l-5.629,11.94c-0.118,0.258-0.142,0.376-0.142,0.586
	s0.258,0.258,0.47,0.258h1.243c-0.023-0.07-0.023-0.188-0.023-0.282c0-0.211,0.047-0.445,0.141-0.704l1.196-2.909h4.81l1.337,3.284
	c0.164,0.399,0.352,0.586,0.821,0.586h2.392C33.149,22.207,32.867,21.714,32.749,21.457z M24.492,17.467l2.065-4.738l1.876,4.738
	H24.492z M42.24,17.826c2.439-0.774,4.2-2.698,4.2-5.349c0-3.378-3.026-4.622-5.958-4.622c-1.9,0-3.824,0.047-5.748,0.07
	c0.234,0.399,0.329,1.36,0.329,1.854c0,2.322,0.046,4.434,0.046,6.053c0,4.481-0.212,7.061-0.212,7.905
	c0,0.352,0.141,0.399,0.446,0.399c1.008,0,1.971-0.023,2.956-0.023c-0.141-0.142-0.234-0.469-0.305-0.892
	c-0.211-1.501-0.305-3.261-0.305-4.903c0.634,0,1.356-0.023,1.99-0.048c0.828,1.311,1.856,2.836,3.025,4.388
	c1.768,2.32,4.17,4.997,6.968,4.997c0.727,0,1.355-0.07,2.082-0.141C48.48,26.361,44.211,20.782,42.24,17.826z M39.308,17.169
	c-0.563,0-1.08,0.023-1.642,0.023c0-0.728,0-1.736,0-2.838c0-1.689,0.023-3.613,0.141-5.254c0.493-0.047,1.056-0.094,1.595-0.094
	c2.393,0,4.317,1.267,4.317,3.847C43.718,15.457,41.817,17.169,39.308,17.169z"/&#62;
&#60;rect y="47.918" fill="#FFFFFF" width="100" height="2.35"/&#62;
&#60;/svg&#62;

 &#60;span class="sr-only"&#62;Homepage&#60;/span&#62;
      &#60;/a&#62;
    &#60;/div&#62;
    &#60;ul class="nav nav-global-links d-none d-lg-flex"&#62;
      &#60;li class="nav-item "&#62;
        &#60;a class="nav-link with-dropdown" href="/about/" aria-label="About the University"&#62;Amdanom ni&#60;/a&#62;
        &#60;nav class="nav-global-links-dropdown"&#62;
          &#60;div class="row"&#62;
            &#60;div class="col-md-3 col-lg-2"&#62;
              &#60;ul class="nav"&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Our profile&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Our strategy&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Who we are&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Our social, economic and cultural impact&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Annual Review&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;History&#60;/a&#62;&#60;/li&#62;
              &#60;/ul&#62;
            &#60;/div&#62;
            &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Facts and figures&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Rankings&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Quality marks&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;National Student Survey&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
            &#60;/div&#62;
            &#60;div class="col-md-3 col-lg-2"&#62;
              &#60;ul class="nav"&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Organisation&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;University Executive Board&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Governance&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;College structure&#60;/a&#62;&#60;/li&#62;3
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Professional Services&#60;/a&#62;&#60;/li&#62;
                &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Honorary Officers&#60;/a&#62;&#60;/li&#62;
              &#60;/ul&#62;
            &#60;/div&#62;
            &#60;div class="col-md-3 col-lg-2"&#62;
              &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title nav-title-section"&#62;Honours and awards&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title nav-title-section"&#62;Honorary Fellows&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title nav-title-section"&#62;Our location&#60;/a&#62;&#60;/li&#62;
              &#60;/ul&#62;
            &#60;/div&#62;
            &#60;div class="d-none d-lg-block col-lg-4"&#62;
              &#60;div class="nav-global-links-dropdown-highlight"&#62;
                &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-sm -mb-5"&#62;A leading&#60;/span&#62;&#60;span class="text-md"&#62;university&#60;/span&#62;&#60;/p&#62;
                &#60;p class="text-lg"&#62;in the heart of a &#60;br&#62;thriving capital city&#60;/p&#62;
                &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-sm -mb-5"&#62;Prifysgol&#60;/span&#62;&#60;span class="text-md"&#62;flaenllaw&#60;/span&#62;&#60;/p&#62;
                &#60;p class="text-lg"&#62;yng nghanol prifddinas &#60;br&#62;sy&#8217;n ffynnu&#60;/p&#62;
              &#60;/div&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/nav&#62;
        
      &#60;/li&#62;
      &#60;li class="nav-item"&#62;
        &#60;a href="/study/" class="nav-link with-dropdown" aria-label="Study at Cardiff University"&#62;Astudio&#60;/a&#62;
        &#60;nav class="nav-global-links-dropdown"&#62;
            &#60;div class="row"&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Undergraduate&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Courses&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Prospectus&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Open Days and visits&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Why study with us?&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Meet our student bloggers&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Applying&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Funding&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Tuition fees&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Parents and supporters&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Teachers and careers advisers&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Contact us&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Postgraduate&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Taught&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Research&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Applying &#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Funding&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Tuition fees&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Postgraduate Open Days&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Visit us&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Prospectus&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Contact us&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;International&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Your country&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Funding and fees&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;EU students&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;English language requirements&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;English and Foundation Programmes&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Study abroad in Cardiff&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Erasmus+&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;International Summer Schools&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Visit us&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Brexit for international students&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Tier 4 visa pilot&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Contact us&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Student life&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Accommodation&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Part-time courses for adults&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Continuing professional development&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="d-none d-lg-block col-lg-4"&#62;
                &#60;div class="nav-global-links-dropdown-highlight"&#62; 
                  &#60;p class="nav-global-links-dropdown-highlight-bold -mb-15"&#62;&#60;span class="text-xs"&#62;Over&#60;/span&#62;&#60;/p&#62;
                  &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-xxl"&#62;95&#60;/span&#62;&#60;span class="text-lg"&#62;%&#60;/span&#62;&#60;/p&#62;
                  &#60;p class="text-lg"&#62;of our undergraduates enter employment or further study shortly after graduating&#60;/p&#62;
                  &#60;p class="mt-40 text-xs"&#62;(HESA 2016/17)&#60;/p&#62; 
                  &#60;p class="nav-global-links-dropdown-highlight-bold -mb-15"&#62;&#60;span class="text-xs"&#62;Mae dros&#60;/span&#62;&#60;/p&#62;
                  &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-xxl"&#62;95&#60;/span&#62;&#60;span class="text-lg"&#62;%&#60;/span&#62;&#60;/p&#62;
                  &#60;p class="text-lg"&#62;o&#8217;n hisraddedigion mewn &#60;br&#62;cyflogaeth neu astudiaeth &#60;br&#62;bellach yn fuan ar &#244;l graddio&#60;/p&#62;
                  &#60;p class="mt-40 text-xs"&#62;(HESA 2016/17)&#60;/p&#62;
                &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
        &#60;/nav&#62;
      &#60;/li&#62;
      &#60;li class="nav-item"&#62;
        &#60;a href="/research/" class="nav-link with-dropdown" aria-label="Research at the University"&#62;Ymchwil&#60;/a&#62;
        &#60;nav class="nav-global-links-dropdown"&#62;
            &#60;div class="row"&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Explore&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Research topics&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Find a research unit&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Academic publications&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Research Institutes&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Research facilities&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                  &#60;ul class="nav"&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Innovation and impact&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Research impact&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Honours and accolades&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Strategic alliances&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Quality and performance&#60;/a&#62;&#60;/li&#62;
                  &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Our research environment&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Supporting researchers&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Working collaboratively&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Integrity and ethics&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Funding and awards&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;News and features&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="d-none d-lg-block col-lg-4"&#62;
                &#60;div class="nav-global-links-dropdown-highlight"&#62;
  
                  &#60;p class="nav-global-links-dropdown-highlight-bold mb-10"&#62;&#60;span class="text-lg"&#62;Top 5&#60;/span&#62;&#60;/p&#62;
                  &#60;p class="text-lg mt-10"&#62;UK University for &#60;br&#62;research quality&#60;/p&#62;
                  &#60;p class="mt-40 text-xs"&#62;(REF 2014)&#60;/p&#62;
                     &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-sm"&#62;Ymhlith y 5&#60;/span&#62;&#60;/p&#62;
                    &#60;p class="text-lg"&#62;&#60;strong&#62;&#60;/strong&#62;prifysgol orau am ansawdd ein hymchwil&#60;/p&#62;
                    &#60;p class="mt-40 text-xs"&#62;(REF 2014)&#60;/p&#62;
                 
                &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
        &#60;/nav&#62;
      &#60;/li&#62;
      &#60;li class="nav-item"&#62;
        &#60;a href="/international/" class="nav-link with-dropdown" aria-label="Our international profile"&#62;Rhyngwladol&#60;/a&#62;
        &#60;nav class="nav-global-links-dropdown"&#62;
            &#60;div class="row"&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;International partnerships&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Xiamen University&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;KU Leuven&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Unicamp&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;University of Namibia&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;University of Bremen&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Exchange partners&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                  &#60;ul class="nav"&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;International research&#60;/a&#62;&#60;/li&#62;
                  &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Meet our people&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="d-none d-lg-block offset-lg-2 col-md-4"&#62;
                &#60;div class="nav-global-links-dropdown-highlight"&#62;
                  &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-xs"&#62;Welcoming and&#60;/span&#62;&#60;span class="text-md"&#62;ambitious &#60;/span&#62;&#60;/p&#62;
                  &#60;p class="text-lg"&#62;we are truly a global &#60;br&#62;university&#60;/p&#62;
                  &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-xs"&#62;Croesawgar ac&#60;/span&#62;&#60;span class="text-sm"&#62;uchelgeisiol &#60;/span&#62;&#60;/p&#62;
                  &#60;p class="text-lg"&#62;rydym yn brifysgol &#60;br&#62;fyd-eang&#60;/p&#62;
                &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
        &#60;/nav&#62;
      &#60;/li&#62;
      &#60;li class="nav-item"&#62;
        &#60;a href="/innovation/" class="nav-link with-dropdown" aria-label="Innovation at the University"&#62;Arloesedd&#60;/a&#62;
        &#60;nav class="nav-global-links-dropdown"&#62;
            &#60;div class="row"&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Our vision&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Partners&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Students&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Staff&#60;/a&#62;&#60;/li&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Our innovators&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Innovation Campus&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Our partnerships&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;News&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="d-none d-lg-block offset-lg-4 col-lg-4"&#62;
                &#60;div class="nav-global-links-dropdown-highlight"&#62;
                  &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-md"&#62;&#163;&#60;/span&#62;&#60;span class="text-xl"&#62;600&#60;/span&#62;&#60;span class="text-md"&#62;m&#60;/span&#62;&#60;/p&#62;
                  &#60;p class="text-lg"&#62;invested in our biggest &#60;br&#62;campus upgrade for a &#60;br&#62;generation&#60;/p&#62;
                  &#60;p class="text-lg"&#62;Buddsoddwyd&#60;/p&#62;
                  &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-md"&#62;&#163;&#60;/span&#62;&#60;span class="text-xl"&#62;600&#60;/span&#62;&#60;span class="text-md"&#62;m&#60;/span&#62;&#60;/p&#62;
                  &#60;p class="text-lg"&#62;yn y gwaith uwchraddio &#60;br&#62;mwyaf ar ein campws ers &#60;br&#62;cenhedlaeth&#60;/p&#62;
                &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
        &#60;/nav&#62;
      &#60;/li&#62;
      &#60;li class="nav-item"&#62;
        &#60;a href="/business/" class="nav-link with-dropdown" aria-label="Business with the University"&#62;Busnes&#60;/a&#62;
        &#60;nav class="nav-global-links-dropdown"&#62;
            &#60;div class="row"&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Why work with us&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Who we work with&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;For suppliers&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Strategic directions&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Contact us&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Offer a discount to our staff&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                  &#60;ul class="nav"&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Use our expertise&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Business consultancy&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Funded opportunities&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Licence our research findings&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Knowledge exchange&#60;/a&#62;&#60;/li&#62;
                    &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Advertise a civic engagement opportunity&#60;/a&#62;&#60;/li&#62;
                  &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Develop your workforce&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Professional education&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;IT skills training and certification&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Recruit our graduates&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;Knowledge Transfer Partnerships&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link"&#62;KESS 2&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="col-md-3 col-lg-2"&#62;
                &#60;ul class="nav"&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Facilities&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Networking and events&#60;/a&#62;&#60;/li&#62;
                  &#60;li class="nav-item"&#62;&#60;a href="#" class="nav-link nav-title"&#62;Business news&#60;/a&#62;&#60;/li&#62;
                &#60;/ul&#62;
              &#60;/div&#62;
              &#60;div class="d-none d-lg-block col-lg-4"&#62;
                &#60;div class="nav-global-links-dropdown-highlight"&#62;
                  &#60;p class="text-lg"&#62;Working to make&#60;/p&#62;
                  &#60;p class="nav-global-links-dropdown-highlight-bold"&#62;&#60;span class="text-sm"&#62;a better&#60;/span&#62; &#60;span class="text-lg -mt-15"&#62;future&#60;/span&#62;&#60;/p&#62;
                  &#60;p class="text-lg"&#62;for Wales and the world&#60;/p&#62;
                &#60;/div&#62;
              &#60;/div&#62;
            &#60;/div&#62;
        &#60;/nav&#62;
      &#60;/li&#62;
    &#60;/ul&#62;
    &#60;div class="nav-global-context ml-auto"&#62;
      &#60;a href="/cy" lang="cy" class="" aria-label="Welsh version of this page"&#62;&#60;span class="d-xs-none d-md-none d-lg-inline-block"&#62;Cymraeg&#60;/span&#62; &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"&#62;
  &#60;circle cx="12" cy="12" r="12" style="fill:#f58025"&#62;&#60;/circle&#62;
  &#60;path d="M11.88,9.48a2.28,2.28,0,0,0-2.19-2C8.18,7.47,7.23,8.83,7.23,11s1,3.51,2.45,3.51c1.12,0,1.92-.78,2.27-2.17l0.7,0.23a3,3,0,0,1-3,2.59c-2,0-3.24-1.62-3.24-4.19S7.71,6.82,9.7,6.82a3,3,0,0,1,2.94,2.45Z"
    style="fill:#fff"&#62;&#60;/path&#62;
  &#60;path d="M15.65,15.64A1.76,1.76,0,0,1,13.9,17.1,2.36,2.36,0,0,1,13.19,17V16.41a2.45,2.45,0,0,0,.68.11,1.27,1.27,0,0,0,1.19-1.07l0.2-.54-2-5.82H14l1.62,4.85L17.4,9.09h0.66Z"
    style="fill:#fff"&#62;&#60;/path&#62;
&#60;/svg&#62;&#60;/a&#62;
    &#60;/div&#62;
    &#60;div class="nav-global-search d-lg-none"&#62;
      &#60;a href="/search" data-toggle="collapse" data-target="#search-global" aria-expanded="false" aria-controls="search-global"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Search&#60;/title&#62;
  &#60;path d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
    transform="translate(-0.03 0)" /&#62;
&#60;/svg&#62;&#60;/a&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/nav&#62;
</pre>
  

    </main>
  </div>
</div>
