<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  active"
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">News</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Defualt" class="nav-link">Defualt</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Defualt">Defualt</h2>
<p></p>
<div class="component-example"><div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 id="page-title" class="news-title">Shortfall in public finances in Wales due to lower revenues, report finds</h1>
            <p class="news-date">2 July 2019</p>
            <figure class="image">
            <img srcset="https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=750&amp;h=422&amp;fit=crop&amp;q=60&amp;auto=format  750w,
                            https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w,
                            https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,
                            https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w" src="https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 1199px) 460px, (min-width: 1200px) 570px, 50vw" alt="Money and graph">
            <figcaption class="caption"></figcaption>
            </figure>
            <div id="content_container_1523656">
                <p class="lead">The state of Wales’ public finances will be discussed today (2 July) by experts from Cardiff University’s Wales Governance Centre.</p><p>At the inaugural Wales Fiscal Analysis conference, researchers will reveal findings from their upcoming report, <em>Government Expenditure and Revenue Wales 2019. </em>Their calculations provide more detailed analysis on recent Office for National Statistics figures showing that Wales’ net fiscal balance – the difference between total public spending for Wales and estimated public revenue – amounted to a deficit of £13.7 billion, or 19.4% of estimated GDP. This figure compares with a deficit of 2% of GDP for the UK as a whole.</p><p>Key findings include:</p><ul><li>Although Wales’ fiscal deficit has reduced substantially over recent years, the ONS’ calculation amounts to a funding gap of £4,380 for each person in Wales, compared with a UK-average of £630 per person.</li><li>The main reason for the shortfall in Wales is lower estimated revenues brought in from sources such as Income Tax and National Insurance. Due to lower average salaries in Wales, Income tax and National Insurance Contributions are around £1,690 per person lower than the UK-average. Total revenues in Wales are just 76% of the UK average per person.</li><li>Meanwhile, social security spending is £670 higher per person in Wales. Overall, public spending in Wales is 108% of the UK-average.</li><li>Analysis of all funding sources for Welsh public spending suggests spending on UK government programmes in Wales other than social security is significantly <em>lower</em> than comparable spending in England. Most notably, capital expenditure - such as on new public infrastructure - is lower for Wales, particularly on transport (76% of UK average) and science and technology (75%).</li><li>Total spending per head in Wales is significantly lower than claims that Wales “gets £120 for every £100 that's spent in England”. This 120% spending level only relates to Welsh Government funding received through the block grant. Total spending for Wales is just 11% per person higher than in England.</li></ul><p>Dr Ed Gareth Poole, academic lead of the Wales Fiscal Analysis project, said: “Regional economic imbalances in the UK remain as stark as ever. Although transfers between richer and poorer territories within single market areas are not unusual internationally, Wales’ fiscal gap is further evidence of the relatively weak state of the Welsh economy and tax base compared with the UK as a whole...”</p>
            </div>
            <div id="content_container_1523661">
                <div id="content_container_476525">
                    <figure class="quote with-image" data-assetid="1523660" data-paintlayoutid="7149" data-status="Live">
                    <a href="https://www.cardiff.ac.uk/people/view/330749-poole-ed">
                    <img class="quote-image img-circle" width="100" src="https://cardiff.imgix.net/__data/assets/image/0006/958479/Ed_2016.jpg?w=100&amp;h=100&amp;auto=format&amp;crop=faces&amp;fit=crop" alt="Ed Poole">
                    </a>
                    <blockquote class="quote-body">
                        <p>“While Wales’ net fiscal balance has reduced from 24% of estimated GDP since the time of the 2016 report, a £13.7 billion gap remains substantial.”</p>
                    </blockquote>
                    <figcaption class="quote-author">
                        <a href="https://www.cardiff.ac.uk/people/view/330749-poole-ed">Dr  Ed Poole<cite class="quote-source">, Senior Lecturer in Politics and International Relations</cite></a>
                    </figcaption>
                    </figure>
                </div>
            </div>
            <div id="content_container_1523658">
                <p>The research team will be publishing their complete analysis later this month. A second report due in the autumn will investigate how Wales’ fiscal gap could be narrowed.</p><p>Today’s conference at the Pierhead Building in Cardiff Bay will also cover the outlook for schools spending in Wales, the effect of austerity on local government, and the risks and opportunities presented by the devolution of taxes to the Welsh Government.</p><p>Guto Ifan, Research Associate at Wales Fiscal Analysis said: “Our research demonstrates an imbalance in the current constitutional set-up – it is not a reflection of the finances of an independent Wales.</p><p>“However, as a result of tax devolution, the relative performance of the Welsh economy and tax base has now become an important determinant of the funding available for Welsh public services. We hope the conference today and our forthcoming report will kick-start a debate about the future of our public finances.”</p>
            </div>
        </div>
    </div>
</div> </div>
<pre class="prettyprint">&#60;div class="container"&#62;
    &#60;div class="row"&#62;
        &#60;div class="offset-md-3 col-md-6"&#62;
            &#60;h1 id="page-title" class="news-title"&#62;Shortfall in public finances in Wales due to lower revenues, report finds&#60;/h1&#62;
            &#60;p class="news-date"&#62;2 July 2019&#60;/p&#62;
            &#60;figure class="image"&#62;
            &#60;img srcset="https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=750&#38;amp;h=422&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  750w,
                            https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=570&#38;amp;h=321&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  570w,
                            https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=460&#38;amp;h=259&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  460w,
                            https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=352&#38;amp;h=198&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  352w" src="https://cardiff.imgix.net/__data/assets/image/0010/1523665/GettyImages-683963174.jpg?w=570&#38;amp;h=321&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format " sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 1199px) 460px, (min-width: 1200px) 570px, 50vw" alt="Money and graph"&#62;
            &#60;figcaption class="caption"&#62;&#60;/figcaption&#62;
            &#60;/figure&#62;
            &#60;div id="content_container_1523656"&#62;
                &#60;p class="lead"&#62;The state of Wales&#8217; public finances will be discussed today (2 July) by experts from Cardiff University&#8217;s Wales Governance Centre.&#60;/p&#62;&#60;p&#62;At the inaugural Wales Fiscal Analysis conference, researchers will reveal findings from their upcoming report, &#60;em&#62;Government Expenditure and Revenue Wales 2019. &#60;/em&#62;Their calculations provide more detailed analysis on recent Office for National Statistics figures showing that Wales&#8217; net fiscal balance &#8211; the difference between total public spending for Wales and estimated public revenue &#8211; amounted to a deficit of &#163;13.7 billion, or 19.4% of estimated GDP. This figure compares with a deficit of 2% of GDP for the UK as a whole.&#60;/p&#62;&#60;p&#62;Key findings include:&#60;/p&#62;&#60;ul&#62;&#60;li&#62;Although Wales&#8217; fiscal deficit has reduced substantially over recent years, the ONS&#8217; calculation amounts to a funding gap of &#163;4,380 for each person in Wales, compared with a UK-average of &#163;630 per person.&#60;/li&#62;&#60;li&#62;The main reason for the shortfall in Wales is lower estimated revenues brought in from sources such as Income Tax and National Insurance. Due to lower average salaries in Wales, Income tax and National Insurance Contributions are around &#163;1,690 per person lower than the UK-average. Total revenues in Wales are just 76% of the UK average per person.&#60;/li&#62;&#60;li&#62;Meanwhile, social security spending is &#163;670 higher per person in Wales. Overall, public spending in Wales is 108% of the UK-average.&#60;/li&#62;&#60;li&#62;Analysis of all funding sources for Welsh public spending suggests spending on UK government programmes in Wales other than social security is significantly &#60;em&#62;lower&#60;/em&#62; than comparable spending in England. Most notably, capital expenditure - such as on new public infrastructure - is lower for Wales, particularly on transport (76% of UK average) and science and technology (75%).&#60;/li&#62;&#60;li&#62;Total spending per head in Wales is significantly lower than claims that Wales &#8220;gets &#163;120 for every &#163;100 that's spent in England&#8221;. This 120% spending level only relates to Welsh Government funding received through the block grant. Total spending for Wales is just 11% per person higher than in England.&#60;/li&#62;&#60;/ul&#62;&#60;p&#62;Dr Ed Gareth Poole, academic lead of the Wales Fiscal Analysis project, said: &#8220;Regional economic imbalances in the UK remain as stark as ever. Although transfers between richer and poorer territories within single market areas are not unusual internationally, Wales&#8217; fiscal gap is further evidence of the relatively weak state of the Welsh economy and tax base compared with the UK as a whole...&#8221;&#60;/p&#62;
            &#60;/div&#62;
            &#60;div id="content_container_1523661"&#62;
                &#60;div id="content_container_476525"&#62;
                    &#60;figure class="quote with-image" data-assetid="1523660" data-paintlayoutid="7149" data-status="Live"&#62;
                    &#60;a href="https://www.cardiff.ac.uk/people/view/330749-poole-ed"&#62;
                    &#60;img class="quote-image img-circle" width="100" src="https://cardiff.imgix.net/__data/assets/image/0006/958479/Ed_2016.jpg?w=100&#38;amp;h=100&#38;amp;auto=format&#38;amp;crop=faces&#38;amp;fit=crop" alt="Ed Poole"&#62;
                    &#60;/a&#62;
                    &#60;blockquote class="quote-body"&#62;
                        &#60;p&#62;&#8220;While Wales&#8217; net fiscal balance has reduced from 24% of estimated GDP since the time of the 2016 report, a &#163;13.7 billion gap remains substantial.&#8221;&#60;/p&#62;
                    &#60;/blockquote&#62;
                    &#60;figcaption class="quote-author"&#62;
                        &#60;a href="https://www.cardiff.ac.uk/people/view/330749-poole-ed"&#62;Dr  Ed Poole&#60;cite class="quote-source"&#62;, Senior Lecturer in Politics and International Relations&#60;/cite&#62;&#60;/a&#62;
                    &#60;/figcaption&#62;
                    &#60;/figure&#62;
                &#60;/div&#62;
            &#60;/div&#62;
            &#60;div id="content_container_1523658"&#62;
                &#60;p&#62;The research team will be publishing their complete analysis later this month. A second report due in the autumn will investigate how Wales&#8217; fiscal gap could be narrowed.&#60;/p&#62;&#60;p&#62;Today&#8217;s conference at the Pierhead Building in Cardiff Bay will also cover the outlook for schools spending in Wales, the effect of austerity on local government, and the risks and opportunities presented by the devolution of taxes to the Welsh Government.&#60;/p&#62;&#60;p&#62;Guto Ifan, Research Associate at Wales Fiscal Analysis said: &#8220;Our research demonstrates an imbalance in the current constitutional set-up &#8211; it is not a reflection of the finances of an independent Wales.&#60;/p&#62;&#60;p&#62;&#8220;However, as a result of tax devolution, the relative performance of the Welsh economy and tax base has now become an important determinant of the funding available for Welsh public services. We hope the conference today and our forthcoming report will kick-start a debate about the future of our public finances.&#8221;&#60;/p&#62;
            &#60;/div&#62;
        &#60;/div&#62;
    &#60;/div&#62;
&#60;/div&#62; </pre>
  

    </main>
  </div>
</div>
