<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  active"
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Profiles</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Defualt" class="nav-link">Defualt</a><li class="nav-item"><a href="#Small" class="nav-link">Small</a><li class="nav-item"><a href="#Large" class="nav-link">Large</a><li class="nav-item"><a href="#Vertical" class="nav-link">Vertical</a><li class="nav-item"><a href="#With-image" class="nav-link">With image</a><li class="nav-item"><a href="#With-image-(tablet)" class="nav-link">With image (tablet)</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Defualt">Defualt</h2>
<p></p>
<div class="component-example"><div class="profile profile-staff vcard">
  <h1 class="profile-title fn"><a href="#"><span class="profile-title-prefix">Professor</span> Firstname Lastname <span class="profile-title-suffix"><abbr title="Commander of the Most Excellent Order of the British Empire">CBE</abbr> <abbr title="Fellow of the Royal Society">FRS</acronym></span></a></h1>
  <h2 class="profile-subtitle"><span class="profile-position">Director</span>
    <span class="comma">,</span> <a class="link-academicschool" href="#">School of Biosciences</a></h2>
</div></div>
<pre class="prettyprint">&#60;div class="profile profile-staff vcard"&#62;
  &#60;h1 class="profile-title fn"&#62;&#60;a href="#"&#62;&#60;span class="profile-title-prefix"&#62;Professor&#60;/span&#62; Firstname Lastname &#60;span class="profile-title-suffix"&#62;&#60;abbr title="Commander of the Most Excellent Order of the British Empire"&#62;CBE&#60;/abbr&#62; &#60;abbr title="Fellow of the Royal Society"&#62;FRS&#60;/acronym&#62;&#60;/span&#62;&#60;/a&#62;&#60;/h1&#62;
  &#60;h2 class="profile-subtitle"&#62;&#60;span class="profile-position"&#62;Director&#60;/span&#62;
    &#60;span class="comma"&#62;,&#60;/span&#62; &#60;a class="link-academicschool" href="#"&#62;School of Biosciences&#60;/a&#62;&#60;/h2&#62;
&#60;/div&#62;</pre>
  
<h2 id="Small">Small</h2>
<p></p>
<div class="component-example"><ul class="list list-profiles">
  <li class="profile profile-small profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/50x50" /></a></figure>
    <p class="profile-title fn"><a href="#">Mark Jones</a></p>
    <p class="profile-subtitle">First year <a class="link-course" href="#">Software Engineering</a></p>
  </li>
  <li class="profile profile-small profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/50x50" /></a></figure>
    <p class="profile-title fn"><a href="#">Helen Sanders</a></p>
    <p class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a></p>
  </li>
  <li class="profile profile-small profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/50x50" /></a></figure>
    <p class="profile-title fn"><a href="#">James Smith</a></p>
    <p class="profile-subtitle">Third year <a class="link-course" href="#">Archaeology</a></p>
  </li>
</ul></div>
<pre class="prettyprint">&#60;ul class="list list-profiles"&#62;
  &#60;li class="profile profile-small profile-student with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/50x50" /&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;p class="profile-title fn"&#62;&#60;a href="#"&#62;Mark Jones&#60;/a&#62;&#60;/p&#62;
    &#60;p class="profile-subtitle"&#62;First year &#60;a class="link-course" href="#"&#62;Software Engineering&#60;/a&#62;&#60;/p&#62;
  &#60;/li&#62;
  &#60;li class="profile profile-small profile-student with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/50x50" /&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;p class="profile-title fn"&#62;&#60;a href="#"&#62;Helen Sanders&#60;/a&#62;&#60;/p&#62;
    &#60;p class="profile-subtitle"&#62;Second year &#60;a class="link-course" href="#"&#62;Biology&#60;/a&#62;&#60;/p&#62;
  &#60;/li&#62;
  &#60;li class="profile profile-small profile-student with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/50x50" /&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;p class="profile-title fn"&#62;&#60;a href="#"&#62;James Smith&#60;/a&#62;&#60;/p&#62;
    &#60;p class="profile-subtitle"&#62;Third year &#60;a class="link-course" href="#"&#62;Archaeology&#60;/a&#62;&#60;/p&#62;
  &#60;/li&#62;
&#60;/ul&#62;</pre>
  
<h2 id="Large">Large</h2>
<p></p>
<div class="component-example"><div class="profile profile-large profile-staff with-image vcard" aria-label="Profile information">
    <figure class="profile-image photo">
        <img class="rounded-circle" src="//placehold.it/200x200" alt="Professor Huw Barrett" srcset="">
    </figure>
    <h1 id="page-title" class="profile-title fn">Professor Huw Barrett</h1>
    <p class="profile-subtitle">Professor of Modern History, Director of Postgraduate Studies</p>
    <p class="profile-subtitle"><a href="https://www.cardiff.ac.uk/history-archaeology-religion">School of History, Archaeology and Religion </a></p>
    <p class="profile-subtitle"><a href="https://www.cardiff.ac.uk/history-archaeology-religion">School of Engineering </a></p>                                                                                                                                                                  
    <div class="row">
        <div class="col-md-6">
            <dl class="profile-contact">
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66"><title>Email</title><path d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z" transform="translate(0 -5.19)"></path></svg></dt>
                <dd><a href="mailto:barretthd@cardiff.ac.uk">barretthd@cardiff.ac.uk</a></dd>
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81"><title>Telephone</title><path d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z" transform="translate(0 -3.09)"></path></svg></dt>
                <dd><a href="tel:+44(0)2920870299">+44 (0)29 2087 0299</a></dd>
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.06 32"><title>Campuses</title><path d="M20.88,0H30V32H20.88V0Zm6.59,3.88h-4v4h4v-4Zm-12.09,4H18V32H2V7.88H4.41V4.31H5.75V7.88H9.41V5.66h6V7.88Zm-6.81,4h-4v4h4v-4Zm6.81,0h-4v4h4v-4Zm12.09,0h-4v4h4v-4Zm-18.91,8h-4v4h4v-4Zm6.81,0h-4v4h4v-4Zm12.09,0h-4v4h4v-4Z" transform="translate(-1.97)"></path></svg></dt>
                <dd class="profile-contact-location" data-toggle="tooltip" title="" data-original-title="">Communicat, 3rd Floor, Ty Dewi Sant, Heath Park Campus, Cardiff, CF14 4XN</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="profile-contact">
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"><title>Comment</title><path d="M16,2A18,18,0,0,0,4.69,5.78,11.93,11.93,0,0,0,0,15a11,11,0,0,0,1.62,5.69,12.89,12.89,0,0,0,4.31,4.41A4.1,4.1,0,0,1,6,26a4.71,4.71,0,0,1-1.19,3A8.77,8.77,0,0,1,2,31.16V32a22.77,22.77,0,0,0,6-.84,13,13,0,0,0,5.53-3.31c0.41,0,.84.09,1.25,0.09S15.59,28,16,28a18,18,0,0,0,11.34-3.81A11.89,11.89,0,0,0,32,15a12,12,0,0,0-4.66-9.22A18.14,18.14,0,0,0,16,2h0Z" transform="translate(0 -2)"></path></svg></dt>
                <dd>Media commentator</dd>
                <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.94"><title>Users</title><path d="M10.75,25.72a0.79,0.79,0,0,0-.22.13l-0.12.09s-0.06,0-.09.06H0c0-1.72,1.78-3.34,3.81-4.59A17.57,17.57,0,0,1,9,19.16a0.48,0.48,0,0,0,.34-0.31,2.93,2.93,0,0,0,.25-1.12V17.47a2.71,2.71,0,0,1-.25-0.31q-0.28-.33-0.66-0.84a6.76,6.76,0,0,1-1.19-2.84,1.46,1.46,0,0,1-1.09-1.34,2,2,0,0,1,.44-2q0-.33-0.09-1.5A5.87,5.87,0,0,1,7,6.25C7.5,4.62,8.78,3.06,12,3.06A5.19,5.19,0,0,1,16,4.5a5.1,5.1,0,0,1,1.16,3,6.49,6.49,0,0,0-1.5.69,5.63,5.63,0,0,0-1.22,1,6.36,6.36,0,0,0-1.56,3.44,14.16,14.16,0,0,0-.09,3l-0.12.31a3.19,3.19,0,0,0-.22.72,3.82,3.82,0,0,0-.09.91,3.43,3.43,0,0,0,0,.56,4.6,4.6,0,0,0,.25,1.09,3.59,3.59,0,0,0,.5.91,2.37,2.37,0,0,0,.63.72,7.11,7.11,0,0,0,.66,1.56,7.43,7.43,0,0,0,.75,1.22c-0.72.25-1.47,0.56-2.22,0.91s-1.5.81-2.22,1.22h0ZM23,25.16a18,18,0,0,1,5.25,2.25C30.22,28.66,32,30.28,32,32H8c0-1.72,1.78-3.34,3.81-4.59A17.57,17.57,0,0,1,17,25.16a0.48,0.48,0,0,0,.34-0.31,2.93,2.93,0,0,0,.25-1.12V23.47a2.71,2.71,0,0,1-.25-0.31q-0.28-.33-0.66-0.84a6.76,6.76,0,0,1-1.19-2.84,1.46,1.46,0,0,1-1.09-1.34,2,2,0,0,1,.44-2q0-.33-0.09-1.5A5.87,5.87,0,0,1,15,12.25c0.47-1.62,1.75-3.19,5-3.19a5.3,5.3,0,0,1,3.53,1,5.45,5.45,0,0,1,1.72,4.63,14.79,14.79,0,0,0-.12,1.5,2,2,0,0,1,.44,2,1.46,1.46,0,0,1-1.09,1.34A6.07,6.07,0,0,1,24,21a9.7,9.7,0,0,1-1.34,2.13l-0.28.31v0.25s0,0.34.06,0.56a1,1,0,0,0,.53.88h0Z" transform="translate(0 -3.06)"></path></svg></dt>
                <dd>Available for postgraduate supervision</dd>
            </dl>
        </div>
    </div>
</div></div>
<pre class="prettyprint">&#60;div class="profile profile-large profile-staff with-image vcard" aria-label="Profile information"&#62;
    &#60;figure class="profile-image photo"&#62;
        &#60;img class="rounded-circle" src="//placehold.it/200x200" alt="Professor Huw Barrett" srcset=""&#62;
    &#60;/figure&#62;
    &#60;h1 id="page-title" class="profile-title fn"&#62;Professor Huw Barrett&#60;/h1&#62;
    &#60;p class="profile-subtitle"&#62;Professor of Modern History, Director of Postgraduate Studies&#60;/p&#62;
    &#60;p class="profile-subtitle"&#62;&#60;a href="https://www.cardiff.ac.uk/history-archaeology-religion"&#62;School of History, Archaeology and Religion &#60;/a&#62;&#60;/p&#62;
    &#60;p class="profile-subtitle"&#62;&#60;a href="https://www.cardiff.ac.uk/history-archaeology-religion"&#62;School of Engineering &#60;/a&#62;&#60;/p&#62;                                                                                                                                                                  
    &#60;div class="row"&#62;
        &#60;div class="col-md-6"&#62;
            &#60;dl class="profile-contact"&#62;
                &#60;dt&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66"&#62;&#60;title&#62;Email&#60;/title&#62;&#60;path d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z" transform="translate(0 -5.19)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/dt&#62;
                &#60;dd&#62;&#60;a href="mailto:barretthd@cardiff.ac.uk"&#62;barretthd@cardiff.ac.uk&#60;/a&#62;&#60;/dd&#62;
                &#60;dt&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81"&#62;&#60;title&#62;Telephone&#60;/title&#62;&#60;path d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z" transform="translate(0 -3.09)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/dt&#62;
                &#60;dd&#62;&#60;a href="tel:+44(0)2920870299"&#62;+44 (0)29 2087 0299&#60;/a&#62;&#60;/dd&#62;
                &#60;dt&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.06 32"&#62;&#60;title&#62;Campuses&#60;/title&#62;&#60;path d="M20.88,0H30V32H20.88V0Zm6.59,3.88h-4v4h4v-4Zm-12.09,4H18V32H2V7.88H4.41V4.31H5.75V7.88H9.41V5.66h6V7.88Zm-6.81,4h-4v4h4v-4Zm6.81,0h-4v4h4v-4Zm12.09,0h-4v4h4v-4Zm-18.91,8h-4v4h4v-4Zm6.81,0h-4v4h4v-4Zm12.09,0h-4v4h4v-4Z" transform="translate(-1.97)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/dt&#62;
                &#60;dd class="profile-contact-location" data-toggle="tooltip" title="" data-original-title=""&#62;Communicat, 3rd Floor, Ty Dewi Sant, Heath Park Campus, Cardiff, CF14 4XN&#60;/dd&#62;
            &#60;/dl&#62;
        &#60;/div&#62;
        &#60;div class="col-md-6"&#62;
            &#60;dl class="profile-contact"&#62;
                &#60;dt&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30"&#62;&#60;title&#62;Comment&#60;/title&#62;&#60;path d="M16,2A18,18,0,0,0,4.69,5.78,11.93,11.93,0,0,0,0,15a11,11,0,0,0,1.62,5.69,12.89,12.89,0,0,0,4.31,4.41A4.1,4.1,0,0,1,6,26a4.71,4.71,0,0,1-1.19,3A8.77,8.77,0,0,1,2,31.16V32a22.77,22.77,0,0,0,6-.84,13,13,0,0,0,5.53-3.31c0.41,0,.84.09,1.25,0.09S15.59,28,16,28a18,18,0,0,0,11.34-3.81A11.89,11.89,0,0,0,32,15a12,12,0,0,0-4.66-9.22A18.14,18.14,0,0,0,16,2h0Z" transform="translate(0 -2)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/dt&#62;
                &#60;dd&#62;Media commentator&#60;/dd&#62;
                &#60;dt&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28.94"&#62;&#60;title&#62;Users&#60;/title&#62;&#60;path d="M10.75,25.72a0.79,0.79,0,0,0-.22.13l-0.12.09s-0.06,0-.09.06H0c0-1.72,1.78-3.34,3.81-4.59A17.57,17.57,0,0,1,9,19.16a0.48,0.48,0,0,0,.34-0.31,2.93,2.93,0,0,0,.25-1.12V17.47a2.71,2.71,0,0,1-.25-0.31q-0.28-.33-0.66-0.84a6.76,6.76,0,0,1-1.19-2.84,1.46,1.46,0,0,1-1.09-1.34,2,2,0,0,1,.44-2q0-.33-0.09-1.5A5.87,5.87,0,0,1,7,6.25C7.5,4.62,8.78,3.06,12,3.06A5.19,5.19,0,0,1,16,4.5a5.1,5.1,0,0,1,1.16,3,6.49,6.49,0,0,0-1.5.69,5.63,5.63,0,0,0-1.22,1,6.36,6.36,0,0,0-1.56,3.44,14.16,14.16,0,0,0-.09,3l-0.12.31a3.19,3.19,0,0,0-.22.72,3.82,3.82,0,0,0-.09.91,3.43,3.43,0,0,0,0,.56,4.6,4.6,0,0,0,.25,1.09,3.59,3.59,0,0,0,.5.91,2.37,2.37,0,0,0,.63.72,7.11,7.11,0,0,0,.66,1.56,7.43,7.43,0,0,0,.75,1.22c-0.72.25-1.47,0.56-2.22,0.91s-1.5.81-2.22,1.22h0ZM23,25.16a18,18,0,0,1,5.25,2.25C30.22,28.66,32,30.28,32,32H8c0-1.72,1.78-3.34,3.81-4.59A17.57,17.57,0,0,1,17,25.16a0.48,0.48,0,0,0,.34-0.31,2.93,2.93,0,0,0,.25-1.12V23.47a2.71,2.71,0,0,1-.25-0.31q-0.28-.33-0.66-0.84a6.76,6.76,0,0,1-1.19-2.84,1.46,1.46,0,0,1-1.09-1.34,2,2,0,0,1,.44-2q0-.33-0.09-1.5A5.87,5.87,0,0,1,15,12.25c0.47-1.62,1.75-3.19,5-3.19a5.3,5.3,0,0,1,3.53,1,5.45,5.45,0,0,1,1.72,4.63,14.79,14.79,0,0,0-.12,1.5,2,2,0,0,1,.44,2,1.46,1.46,0,0,1-1.09,1.34A6.07,6.07,0,0,1,24,21a9.7,9.7,0,0,1-1.34,2.13l-0.28.31v0.25s0,0.34.06,0.56a1,1,0,0,0,.53.88h0Z" transform="translate(0 -3.06)"&#62;&#60;/path&#62;&#60;/svg&#62;&#60;/dt&#62;
                &#60;dd&#62;Available for postgraduate supervision&#60;/dd&#62;
            &#60;/dl&#62;
        &#60;/div&#62;
    &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Vertical">Vertical</h2>
<p></p>
<div class="component-example"><div class="col-md-4">
  <div class="profile profile-vertical profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100"></a></figure>
    <h1 class="profile-title fn"><a href="#">Helen Sanders</a></h1>
    <h2 class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a><span class="comma">,</span> <a class="link-academicschool" href="#">School of Biosciences</a></h2>
  </div>
</div>
<div class="col-md-4">
  <div class="profile profile-vertical profile-staff with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100"></a></figure>
    <h1 class="profile-title fn"><a href="#">Professor Colin Riordan <span class="profile-title-suffix">BA PhD</span></a></h1>
    <h2 class="profile-subtitle"><span class="profile-position">Vice Chancellor</span></h2>
  </div>
</div>
<div class="col-md-4">
  <div class="profile profile-vertical profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100"></a></figure>
    <h1 class="profile-title fn"><a href="#">Helen Sanders</a></h1>
    <h2 class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a><span class="comma">,</span> <a class="link-academicschool" href="#">School of Biosciences</a></h2>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="col-md-4"&#62;
  &#60;div class="profile profile-vertical profile-student with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/100x100"&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;h1 class="profile-title fn"&#62;&#60;a href="#"&#62;Helen Sanders&#60;/a&#62;&#60;/h1&#62;
    &#60;h2 class="profile-subtitle"&#62;Second year &#60;a class="link-course" href="#"&#62;Biology&#60;/a&#62;&#60;span class="comma"&#62;,&#60;/span&#62; &#60;a class="link-academicschool" href="#"&#62;School of Biosciences&#60;/a&#62;&#60;/h2&#62;
  &#60;/div&#62;
&#60;/div&#62;
&#60;div class="col-md-4"&#62;
  &#60;div class="profile profile-vertical profile-staff with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/100x100"&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;h1 class="profile-title fn"&#62;&#60;a href="#"&#62;Professor Colin Riordan &#60;span class="profile-title-suffix"&#62;BA PhD&#60;/span&#62;&#60;/a&#62;&#60;/h1&#62;
    &#60;h2 class="profile-subtitle"&#62;&#60;span class="profile-position"&#62;Vice Chancellor&#60;/span&#62;&#60;/h2&#62;
  &#60;/div&#62;
&#60;/div&#62;
&#60;div class="col-md-4"&#62;
  &#60;div class="profile profile-vertical profile-student with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/100x100"&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;h1 class="profile-title fn"&#62;&#60;a href="#"&#62;Helen Sanders&#60;/a&#62;&#60;/h1&#62;
    &#60;h2 class="profile-subtitle"&#62;Second year &#60;a class="link-course" href="#"&#62;Biology&#60;/a&#62;&#60;span class="comma"&#62;,&#60;/span&#62; &#60;a class="link-academicschool" href="#"&#62;School of Biosciences&#60;/a&#62;&#60;/h2&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="With-image">With image</h2>
<p></p>
<div class="component-example"><div class="col-md-4">
  <div class="profile profile-vertical profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100"></a></figure>
    <h1 class="profile-title fn"><a href="#">Helen Sanders</a></h1>
    <h2 class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a><span class="comma">,</span> <a class="link-academicschool" href="#">School of Biosciences</a></h2>
  </div>
</div>
<div class="col-md-4">
  <div class="profile profile-vertical profile-staff with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100"></a></figure>
    <h1 class="profile-title fn"><a href="#">Professor Colin Riordan <span class="profile-title-suffix">BA PhD</span></a></h1>
    <h2 class="profile-subtitle"><span class="profile-position">Vice Chancellor</span></h2>
  </div>
</div>
<div class="col-md-4">
  <div class="profile profile-vertical profile-student with-image vcard">
    <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100"></a></figure>
    <h1 class="profile-title fn"><a href="#">Helen Sanders</a></h1>
    <h2 class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a><span class="comma">,</span> <a class="link-academicschool" href="#">School of Biosciences</a></h2>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="col-md-4"&#62;
  &#60;div class="profile profile-vertical profile-student with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/100x100"&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;h1 class="profile-title fn"&#62;&#60;a href="#"&#62;Helen Sanders&#60;/a&#62;&#60;/h1&#62;
    &#60;h2 class="profile-subtitle"&#62;Second year &#60;a class="link-course" href="#"&#62;Biology&#60;/a&#62;&#60;span class="comma"&#62;,&#60;/span&#62; &#60;a class="link-academicschool" href="#"&#62;School of Biosciences&#60;/a&#62;&#60;/h2&#62;
  &#60;/div&#62;
&#60;/div&#62;
&#60;div class="col-md-4"&#62;
  &#60;div class="profile profile-vertical profile-staff with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/100x100"&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;h1 class="profile-title fn"&#62;&#60;a href="#"&#62;Professor Colin Riordan &#60;span class="profile-title-suffix"&#62;BA PhD&#60;/span&#62;&#60;/a&#62;&#60;/h1&#62;
    &#60;h2 class="profile-subtitle"&#62;&#60;span class="profile-position"&#62;Vice Chancellor&#60;/span&#62;&#60;/h2&#62;
  &#60;/div&#62;
&#60;/div&#62;
&#60;div class="col-md-4"&#62;
  &#60;div class="profile profile-vertical profile-student with-image vcard"&#62;
    &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/100x100"&#62;&#60;/a&#62;&#60;/figure&#62;
    &#60;h1 class="profile-title fn"&#62;&#60;a href="#"&#62;Helen Sanders&#60;/a&#62;&#60;/h1&#62;
    &#60;h2 class="profile-subtitle"&#62;Second year &#60;a class="link-course" href="#"&#62;Biology&#60;/a&#62;&#60;span class="comma"&#62;,&#60;/span&#62; &#60;a class="link-academicschool" href="#"&#62;School of Biosciences&#60;/a&#62;&#60;/h2&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="With-image-(tablet)">With image (tablet)</h2>
<p></p>
<div class="component-example"><ul class="list list-profiles">
    <li class="profile profile-student with-md-image vcard">
        <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/100x100" /></a>
        </figure>
        <p class="profile-title fn"><a href="#">Mark Jones</a></p>
        <p class="profile-subtitle">First year <a class="link-course" href="#">Software Engineering</a></p>
    </li>
    <li class="profile profile-small profile-student with-md-image vcard">
        <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/50x50" /></a>
        </figure>
        <p class="profile-title fn"><a href="#">Helen Sanders</a></p>
        <p class="profile-subtitle">Second year <a class="link-course" href="#">Biology</a></p>
    </li>
    <li class="profile profile-small profile-student with-md-image vcard">
        <figure class="profile-image photo"><a href="#"><img class="rounded-circle" src="//placehold.it/50x50" /></a>
        </figure>
        <p class="profile-title fn"><a href="#">James Smith</a></p>
        <p class="profile-subtitle">Third year <a class="link-course" href="#">Archaeology</a></p>
    </li>
</ul></div>
<pre class="prettyprint">&#60;ul class="list list-profiles"&#62;
    &#60;li class="profile profile-student with-md-image vcard"&#62;
        &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/100x100" /&#62;&#60;/a&#62;
        &#60;/figure&#62;
        &#60;p class="profile-title fn"&#62;&#60;a href="#"&#62;Mark Jones&#60;/a&#62;&#60;/p&#62;
        &#60;p class="profile-subtitle"&#62;First year &#60;a class="link-course" href="#"&#62;Software Engineering&#60;/a&#62;&#60;/p&#62;
    &#60;/li&#62;
    &#60;li class="profile profile-small profile-student with-md-image vcard"&#62;
        &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/50x50" /&#62;&#60;/a&#62;
        &#60;/figure&#62;
        &#60;p class="profile-title fn"&#62;&#60;a href="#"&#62;Helen Sanders&#60;/a&#62;&#60;/p&#62;
        &#60;p class="profile-subtitle"&#62;Second year &#60;a class="link-course" href="#"&#62;Biology&#60;/a&#62;&#60;/p&#62;
    &#60;/li&#62;
    &#60;li class="profile profile-small profile-student with-md-image vcard"&#62;
        &#60;figure class="profile-image photo"&#62;&#60;a href="#"&#62;&#60;img class="rounded-circle" src="//placehold.it/50x50" /&#62;&#60;/a&#62;
        &#60;/figure&#62;
        &#60;p class="profile-title fn"&#62;&#60;a href="#"&#62;James Smith&#60;/a&#62;&#60;/p&#62;
        &#60;p class="profile-subtitle"&#62;Third year &#60;a class="link-course" href="#"&#62;Archaeology&#60;/a&#62;&#60;/p&#62;
    &#60;/li&#62;
&#60;/ul&#62;</pre>
  

    </main>
  </div>
</div>
