<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  active"
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Progress</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Defualt" class="nav-link">Defualt</a><li class="nav-item"><a href="#Animated" class="nav-link">Animated</a><li class="nav-item"><a href="#Label" class="nav-link">Label</a><li class="nav-item"><a href="#Multiple-states" class="nav-link">Multiple states</a><li class="nav-item"><a href="#Progress-sets" class="nav-link">Progress sets</a><li class="nav-item"><a href="#Stripped" class="nav-link">Stripped</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Defualt">Defualt</h2>
<p></p>
<div class="component-example"><div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div></div>
<pre class="prettyprint">&#60;div class="progress"&#62;
  &#60;div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Animated">Animated</h2>
<p></p>
<div class="component-example"><div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div></div>
<pre class="prettyprint">&#60;div class="progress"&#62;
  &#60;div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"&#62;&#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Label">Label</h2>
<p></p>
<div class="component-example"><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div></div>
<pre class="prettyprint">&#60;div class="progress"&#62;
  &#60;div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"&#62;25%&#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Multiple-states">Multiple states</h2>
<p></p>
<div class="component-example"><div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div></div>
<pre class="prettyprint">&#60;div class="progress"&#62;
  &#60;div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
  &#60;div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
  &#60;div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Progress-sets">Progress sets</h2>
<p></p>
<div class="component-example"><div class="progress-set" data-type="time-spent">
  <select class="progress-select" aria-label="Select Learning Year" style="display: inline-block;"
    ><option value="1">Year 1</option
    ><option value="2">Year 2</option
    ><option value="3">Year 3</option></select
  >
  <div class="progress-group" data-year="1">
    <h3 style="display: none;">Year 1</h3>
    <div class="progress-content-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress"><div class="bar bar-1" style="width: 22%;"></div></div>
      <p class="progress-percent">22%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress"><div class="bar bar-2" style="width: 78%;"></div></div>
      <p class="progress-percent">78%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress"><div class="bar bar-3" style="width: 0%;"></div></div>
      <p class="progress-percent">0%</p>
    </div>
  </div>
  <div class="progress-group" data-year="2" style="display: none;">
    <h3 style="display: none;">Year 2</h3>
    <div class="progress-content-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress"><div class="bar bar-1" style="width: 24%;"></div></div>
      <p class="progress-percent">24%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress"><div class="bar bar-2" style="width: 76%;"></div></div>
      <p class="progress-percent">76%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress"><div class="bar bar-3" style="width: 0%;"></div></div>
      <p class="progress-percent">0%</p>
    </div>
  </div>
  <div class="progress-group" data-year="3" style="display: none;">
    <h3 style="display: none;">Year 3</h3>
    <div class="progress-content-wrapper">
      <p class="progress-title">Scheduled learning and teaching activities</p>
      <div class="progress"><div class="bar bar-1" style="width: 22%;"></div></div>
      <p class="progress-percent">22%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Guided independent study</p>
      <div class="progress"><div class="bar bar-2" style="width: 78%;"></div></div>
      <p class="progress-percent">78%</p>
    </div>
    <div class="progress-content-wrapper">
      <p class="progress-title">Placements</p>
      <div class="progress"><div class="bar bar-3" style="width: 0%;"></div></div>
      <p class="progress-percent">0%</p>
    </div>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div class="progress-set" data-type="time-spent"&#62;
  &#60;select class="progress-select" aria-label="Select Learning Year" style="display: inline-block;"
    &#62;&#60;option value="1"&#62;Year 1&#60;/option
    &#62;&#60;option value="2"&#62;Year 2&#60;/option
    &#62;&#60;option value="3"&#62;Year 3&#60;/option&#62;&#60;/select
  &#62;
  &#60;div class="progress-group" data-year="1"&#62;
    &#60;h3 style="display: none;"&#62;Year 1&#60;/h3&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Scheduled learning and teaching activities&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-1" style="width: 22%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;22%&#60;/p&#62;
    &#60;/div&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Guided independent study&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-2" style="width: 78%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;78%&#60;/p&#62;
    &#60;/div&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Placements&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-3" style="width: 0%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;0%&#60;/p&#62;
    &#60;/div&#62;
  &#60;/div&#62;
  &#60;div class="progress-group" data-year="2" style="display: none;"&#62;
    &#60;h3 style="display: none;"&#62;Year 2&#60;/h3&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Scheduled learning and teaching activities&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-1" style="width: 24%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;24%&#60;/p&#62;
    &#60;/div&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Guided independent study&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-2" style="width: 76%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;76%&#60;/p&#62;
    &#60;/div&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Placements&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-3" style="width: 0%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;0%&#60;/p&#62;
    &#60;/div&#62;
  &#60;/div&#62;
  &#60;div class="progress-group" data-year="3" style="display: none;"&#62;
    &#60;h3 style="display: none;"&#62;Year 3&#60;/h3&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Scheduled learning and teaching activities&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-1" style="width: 22%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;22%&#60;/p&#62;
    &#60;/div&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Guided independent study&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-2" style="width: 78%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;78%&#60;/p&#62;
    &#60;/div&#62;
    &#60;div class="progress-content-wrapper"&#62;
      &#60;p class="progress-title"&#62;Placements&#60;/p&#62;
      &#60;div class="progress"&#62;&#60;div class="bar bar-3" style="width: 0%;"&#62;&#60;/div&#62;&#60;/div&#62;
      &#60;p class="progress-percent"&#62;0%&#60;/p&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Stripped">Stripped</h2>
<p></p>
<div class="component-example"><div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div></div>
<pre class="prettyprint">&#60;div class="progress"&#62;
  &#60;div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;
&#60;div class="progress"&#62;
  &#60;div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"&#62;&#60;/div&#62;
&#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
