<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  active"
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Quotes</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default-legacy-quote" class="nav-link">Default legacy quote</a><li class="nav-item"><a href="#Legacy-quote-with-image" class="nav-link">Legacy quote with image</a><li class="nav-item"><a href="#Legacy-quote-with-icon" class="nav-link">Legacy quote with icon</a><li class="nav-item"><a href="#Vertical-legacy-quote" class="nav-link">Vertical legacy quote</a><li class="nav-item"><a href="#Testimonial-legacy-quote" class="nav-link">Testimonial legacy quote</a><li class="nav-item"><a href="#Large-legacy-quote" class="nav-link">Large legacy quote</a><li class="nav-item"><a href="#Floating-legacy-quote" class="nav-link">Floating legacy quote</a><li class="nav-item"><a href="#Rich-quote-without-image" class="nav-link">Rich quote without image</a><li class="nav-item"><a href="#Rich-quote-with-image" class="nav-link">Rich quote with image</a><li class="nav-item"><a href="#Quote-rich-wih-a-thumbnail-image" class="nav-link">Quote rich wih a thumbnail image</a><li class="nav-item"><a href="#Quote-rich-small-variation" class="nav-link">Quote rich small variation</a><li class="nav-item"><a href="#Quote-rich-wih-coloured-background" class="nav-link">Quote rich wih coloured background</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default-legacy-quote">Default legacy quote</h2>
<p></p>
<div class="component-example"><figure class="quote">
  <blockquote class="quote-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
    quis lacus. Sed imperdiet urna vel risus euismod, quis rutrum libero convallis. Sed id mi nibh. Proin sed lobortis arcu.</blockquote>
  <figcaption class="quote-author">Author Name<cite class="quote-source">Publication</cite></figcaption>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote"&#62;
  &#60;blockquote class="quote-body"&#62;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
    quis lacus. Sed imperdiet urna vel risus euismod, quis rutrum libero convallis. Sed id mi nibh. Proin sed lobortis arcu.&#60;/blockquote&#62;
  &#60;figcaption class="quote-author"&#62;Author Name&#60;cite class="quote-source"&#62;Publication&#60;/cite&#62;&#60;/figcaption&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Legacy-quote-with-image">Legacy quote with image</h2>
<p></p>
<div class="component-example"><figure class="quote with-image">
  <img class="quote-image rounded-circle" alt="test "width="100" src="//placehold.it/100x100">
  <blockquote class="quote-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.</p>
  </blockquote>
  <figcaption class="quote-author">
    <a href="#">Professor Colin Riordan<cite class="quote-source">Vice-Chancellor, Cardiff University</cite></a>
  </figcaption>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote with-image"&#62;
  &#60;img class="quote-image rounded-circle" alt="test "width="100" src="//placehold.it/100x100"&#62;
  &#60;blockquote class="quote-body"&#62;
    &#60;p&#62;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.&#60;/p&#62;
  &#60;/blockquote&#62;
  &#60;figcaption class="quote-author"&#62;
    &#60;a href="#"&#62;Professor Colin Riordan&#60;cite class="quote-source"&#62;Vice-Chancellor, Cardiff University&#60;/cite&#62;&#60;/a&#62;
  &#60;/figcaption&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Legacy-quote-with-icon">Legacy quote with icon</h2>
<p></p>
<div class="component-example"><figure class="quote with-icon">
  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24">
  <title>Right quote</title>
  <path d="M0,28V16A12,12,0,0,1,12,4V8a8,8,0,0,0-8,8h8V28H0Zm20,0V16A12,12,0,0,1,32,4V8a8,8,0,0,0-8,8h8V28H20Z"
    transform="translate(0 -4)" />
</svg>
  <blockquote class="quote-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.
    </p>
  </blockquote>
  <figcaption class="quote-author">
    <a href="#author-url">Author Name</a>
    <cite class="quote-source">
      <a href="#">Publication</a>
    </cite>
  </figcaption>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote with-icon"&#62;
  &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24"&#62;
  &#60;title&#62;Right quote&#60;/title&#62;
  &#60;path d="M0,28V16A12,12,0,0,1,12,4V8a8,8,0,0,0-8,8h8V28H0Zm20,0V16A12,12,0,0,1,32,4V8a8,8,0,0,0-8,8h8V28H20Z"
    transform="translate(0 -4)" /&#62;
&#60;/svg&#62;
  &#60;blockquote class="quote-body"&#62;
    &#60;p&#62;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.
    &#60;/p&#62;
  &#60;/blockquote&#62;
  &#60;figcaption class="quote-author"&#62;
    &#60;a href="#author-url"&#62;Author Name&#60;/a&#62;
    &#60;cite class="quote-source"&#62;
      &#60;a href="#"&#62;Publication&#60;/a&#62;
    &#60;/cite&#62;
  &#60;/figcaption&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Vertical-legacy-quote">Vertical legacy quote</h2>
<p></p>
<div class="component-example"><figure class="quote quote-vertical with-image">
  <img class="quote-image rounded-circle" alt="test" width="100" src="//placehold.it/100x100">
  <blockquote class="quote-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.</p>
  </blockquote>
  <figcaption class="quote-author">
    <a href="#">Professor Colin Riordan<cite class="quote-source">Vice-Chancellor, Cardiff University</cite></a>
  </figcaption>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote quote-vertical with-image"&#62;
  &#60;img class="quote-image rounded-circle" alt="test" width="100" src="//placehold.it/100x100"&#62;
  &#60;blockquote class="quote-body"&#62;
    &#60;p&#62;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.&#60;/p&#62;
  &#60;/blockquote&#62;
  &#60;figcaption class="quote-author"&#62;
    &#60;a href="#"&#62;Professor Colin Riordan&#60;cite class="quote-source"&#62;Vice-Chancellor, Cardiff University&#60;/cite&#62;&#60;/a&#62;
  &#60;/figcaption&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Testimonial-legacy-quote">Testimonial legacy quote</h2>
<p></p>
<div class="component-example"><figure class="quote -testimonial with-image">
  <img class="quote-image rounded-circle" alt="test" width="100" src="//placehold.it/100x100">
  <blockquote class="quote-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.</p>
  </blockquote>
  <figcaption class="quote-author">
    <a href="#">Professor Colin Riordan<cite class="quote-source">Vice-Chancellor, Cardiff University</cite></a>
  </figcaption>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote -testimonial with-image"&#62;
  &#60;img class="quote-image rounded-circle" alt="test" width="100" src="//placehold.it/100x100"&#62;
  &#60;blockquote class="quote-body"&#62;
    &#60;p&#62;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.&#60;/p&#62;
  &#60;/blockquote&#62;
  &#60;figcaption class="quote-author"&#62;
    &#60;a href="#"&#62;Professor Colin Riordan&#60;cite class="quote-source"&#62;Vice-Chancellor, Cardiff University&#60;/cite&#62;&#60;/a&#62;
  &#60;/figcaption&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Large-legacy-quote">Large legacy quote</h2>
<p></p>
<div class="component-example"><figure class="quote quote-large">
  <blockquote class="quote-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.</p>
  </blockquote>
  <figcaption class="quote-author">
    <a href="#">Professor Colin Riordan<cite class="quote-source">Vice-Chancellor, Cardiff University</cite></a>
  </figcaption>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote quote-large"&#62;
  &#60;blockquote class="quote-body"&#62;
    &#60;p&#62;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
      quis lacus.&#60;/p&#62;
  &#60;/blockquote&#62;
  &#60;figcaption class="quote-author"&#62;
    &#60;a href="#"&#62;Professor Colin Riordan&#60;cite class="quote-source"&#62;Vice-Chancellor, Cardiff University&#60;/cite&#62;&#60;/a&#62;
  &#60;/figcaption&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Floating-legacy-quote">Floating legacy quote</h2>
<p></p>
<div class="component-example"><div class="box box-quote float-right col-md-4">
  <figure class="quote with-icon">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24">
  <title>Right quote</title>
  <path d="M0,28V16A12,12,0,0,1,12,4V8a8,8,0,0,0-8,8h8V28H0Zm20,0V16A12,12,0,0,1,32,4V8a8,8,0,0,0-8,8h8V28H20Z"
    transform="translate(0 -4)" />
</svg>
    <blockquote class="quote-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
        quis lacus.</p>
    </blockquote>
    <figcaption class="quote-author"><a href="#author-url">Author Name</a><cite class="quote-source"><a href="#">Publication</a></cite></figcaption>
  </figure>
</div></div>
<pre class="prettyprint">&#60;div class="box box-quote float-right col-md-4"&#62;
  &#60;figure class="quote with-icon"&#62;
    &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24"&#62;
  &#60;title&#62;Right quote&#60;/title&#62;
  &#60;path d="M0,28V16A12,12,0,0,1,12,4V8a8,8,0,0,0-8,8h8V28H0Zm20,0V16A12,12,0,0,1,32,4V8a8,8,0,0,0-8,8h8V28H20Z"
    transform="translate(0 -4)" /&#62;
&#60;/svg&#62;
    &#60;blockquote class="quote-body"&#62;
      &#60;p&#62;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mauris sem, sodales eget adipiscing sit amet, convallis
        quis lacus.&#60;/p&#62;
    &#60;/blockquote&#62;
    &#60;figcaption class="quote-author"&#62;&#60;a href="#author-url"&#62;Author Name&#60;/a&#62;&#60;cite class="quote-source"&#62;&#60;a href="#"&#62;Publication&#60;/a&#62;&#60;/cite&#62;&#60;/figcaption&#62;
  &#60;/figure&#62;
&#60;/div&#62;</pre>
  
<h2 id="Rich-quote-without-image">Rich quote without image</h2>
<p></p>
<div class="component-example"><figure class="quote quote-rich">
  <blockquote class="quote-body">"The living area is great for socialising with your flatmates."</blockquote>
  <figcaption class="quote-author">
    <a href="#">Elliot Howells, Undergraduate</a>
    <cite class="quote-source">
        <a href="">Publication</a>
    </cite>
  </figcaption>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote quote-rich"&#62;
  &#60;blockquote class="quote-body"&#62;"The living area is great for socialising with your flatmates."&#60;/blockquote&#62;
  &#60;figcaption class="quote-author"&#62;
    &#60;a href="#"&#62;Elliot Howells, Undergraduate&#60;/a&#62;
    &#60;cite class="quote-source"&#62;
        &#60;a href=""&#62;Publication&#60;/a&#62;
    &#60;/cite&#62;
  &#60;/figcaption&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Rich-quote-with-image">Rich quote with image</h2>
<p></p>
<div class="component-example"><figure class="quote quote-rich with-image">
  <div class="quote-image-wrapper">
      <img class="image lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=476&h=589&q=60&auto=format&fit=crop"
        srcset="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&h=589&q=60&crop=entrop&auto=format&fit=crop"
        data-src="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&h=589&q=60&crop=entrop&auto=format&fit=crop"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&h=589&q=60&crop=entrop&auto=format&fit=crop" alt="test">
  </div>
  <div class="quote-main">
    <blockquote class="quote-body">
      "I couldn't have had a better platform into the start of my career"
    </blockquote>
    <figcaption class="quote-author">
      <a href="#">Elliot Howells, Undergraduate</a>
        <cite class="quote-source">
            <a href="">Publication</a>
        </cite>
    </figcaption>
  </div>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote quote-rich with-image"&#62;
  &#60;div class="quote-image-wrapper"&#62;
      &#60;img class="image lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=476&#38;h=589&#38;q=60&#38;auto=format&#38;fit=crop"
        srcset="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&#38;h=589&#38;q=60&#38;crop=entrop&#38;auto=format&#38;fit=crop"
        data-src="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&#38;h=589&#38;q=60&#38;crop=entrop&#38;auto=format&#38;fit=crop"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&#38;h=589&#38;q=60&#38;crop=entrop&#38;auto=format&#38;fit=crop" alt="test"&#62;
  &#60;/div&#62;
  &#60;div class="quote-main"&#62;
    &#60;blockquote class="quote-body"&#62;
      "I couldn't have had a better platform into the start of my career"
    &#60;/blockquote&#62;
    &#60;figcaption class="quote-author"&#62;
      &#60;a href="#"&#62;Elliot Howells, Undergraduate&#60;/a&#62;
        &#60;cite class="quote-source"&#62;
            &#60;a href=""&#62;Publication&#60;/a&#62;
        &#60;/cite&#62;
    &#60;/figcaption&#62;
  &#60;/div&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Quote-rich-wih-a-thumbnail-image">Quote rich wih a thumbnail image</h2>
<p>This will inherit any background of a parent which has a class bg-{colour name}.</p>
<div class="component-example"><figure class="quote quote-rich with-image quote-rich-thumbnail">
  <img class="rounded-circle" alt="test "width="100" src="//placehold.it/100x100">
  <div class="quote-main">
    <blockquote class="quote-body">"The living area is great for socialising with your flatmates."</blockquote>
    <figcaption class="quote-author">
      <a href="">Elliot Howells, Undergraduate</a>
    </figcaption>
  </div>
</figure>
</div>
<pre class="prettyprint">&#60;figure class="quote quote-rich with-image quote-rich-thumbnail"&#62;
  &#60;img class="rounded-circle" alt="test "width="100" src="//placehold.it/100x100"&#62;
  &#60;div class="quote-main"&#62;
    &#60;blockquote class="quote-body"&#62;"The living area is great for socialising with your flatmates."&#60;/blockquote&#62;
    &#60;figcaption class="quote-author"&#62;
      &#60;a href=""&#62;Elliot Howells, Undergraduate&#60;/a&#62;
    &#60;/figcaption&#62;
  &#60;/div&#62;
&#60;/figure&#62;
</pre>
  
<h2 id="Quote-rich-small-variation">Quote rich small variation</h2>
<p>The small variation can be added to any rich variation.</p>
<div class="component-example"><figure class="quote quote-rich quote-rich-small with-image">
  <img src="https://via.placeholder.com/335x415" alt="test">
  <div class="quote-main">
      <blockquote class="quote-body">"The living area is great for socialising with your flatmates."</blockquote>
      <figcaption class="quote-author">
          Elliot Howells, Undergraduate
      </figcaption>
  </div>
</figure></div>
<pre class="prettyprint">&#60;figure class="quote quote-rich quote-rich-small with-image"&#62;
  &#60;img src="https://via.placeholder.com/335x415" alt="test"&#62;
  &#60;div class="quote-main"&#62;
      &#60;blockquote class="quote-body"&#62;"The living area is great for socialising with your flatmates."&#60;/blockquote&#62;
      &#60;figcaption class="quote-author"&#62;
          Elliot Howells, Undergraduate
      &#60;/figcaption&#62;
  &#60;/div&#62;
&#60;/figure&#62;</pre>
  
<h2 id="Quote-rich-wih-coloured-background">Quote rich wih coloured background</h2>
<p>This will inherit any background of a parent which has a class bg-{colour name}.</p>
<div class="component-example"><h3>With image</h3>
<div class="bg-panache">
    <div class="row">
        <div class="col-lg-6">
            <figure class="quote quote-rich with-image">
                <img src="https://via.placeholder.com/335x415" alt="test">
                <div class="quote-main">
                    <blockquote class="quote-body">"The living area is great for socialising with your flatmates."</blockquote>
                    <figcaption class="quote-author">
                        <a href="">Elliot Howells, Undergraduate</a>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div></div>
<pre class="prettyprint">&#60;h3&#62;With image&#60;/h3&#62;
&#60;div class="bg-panache"&#62;
    &#60;div class="row"&#62;
        &#60;div class="col-lg-6"&#62;
            &#60;figure class="quote quote-rich with-image"&#62;
                &#60;img src="https://via.placeholder.com/335x415" alt="test"&#62;
                &#60;div class="quote-main"&#62;
                    &#60;blockquote class="quote-body"&#62;"The living area is great for socialising with your flatmates."&#60;/blockquote&#62;
                    &#60;figcaption class="quote-author"&#62;
                        &#60;a href=""&#62;Elliot Howells, Undergraduate&#60;/a&#62;
                    &#60;/figcaption&#62;
                &#60;/div&#62;
            &#60;/figure&#62;
        &#60;/div&#62;
    &#60;/div&#62;
&#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
