<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  active"
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Search box</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><section class="search-box search-primary overlay-top" aria-label="Undergraduate course search">
    <div class="green-bg"></div>
    <div class="row">
        <div class="col-md-8">
        <h1 class="search-title">Find your course</h1>
        <div class="search-title-options">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
    <title>Chevron down</title>
    <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"></path>
</svg>
            <select aria-label="Course search selector">
            <option value="undergraduate">Undergraduate</option>
            <option value="pgt">Postgraduate taught</option>
            <option value="pgr">Postgraduate research</option>
            <option value="cpe">Part-time courses for adults</option>
            <option value="cpd">Professional development</option>
            </select>
        </div>
        <form
            id="coursefinder-search"
            class="search-box-form"
            method="get"
            action="https://www.cardiff.ac.uk/study/undergraduate/courses/search"
            aria-label="Undergraduate course search form"
        >
            <input name="collection" value="ug-courses" type="hidden" />
            <input id="course-search-box" type="text" class="search-input" name="query" placeholder="Enter course title or keyword" />
            <label class="sr-only" for="course-search-box">Enter course title or keyword</label>
            <button type="submit" class="search-submit"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <title>Search</title>
  <path d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
    transform="translate(-0.03 0)" />
</svg></button>
        </form>
        <ul class="search-related list list-links">
            <li>
            <a
                id="related-link-browse-by-az"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z - Undergraduate - Search box"
                >Browse by A-Z</a
            >
            </li>
            <li>
            <a
                id="related-link-browse-by-school"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school - Undergraduate - Search box"
                >Browse by School</a
            >
            </li>
            <li>
            <a
                id="related-link-browse-by-subject"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject - Undergraduate - Search box"
                >Browse by subject</a
            >
            </li>
        </ul>
        </div>
        <div class="col-md-4">
        <div class="call-to-action" id="undergraduate-call-to-action" style="display: block;">
            <p class="call-to-action-category">Next undergraduate Open Day</p>
            <h4 class="call-to-action-title">
            <a
                href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="Open day call to action UG - date"
                >Saturday 14 September 2019</a
            >
            </h4>
            <p>
            <a
                class="btn btn-lg btn-primary text-center ga-event"
                data-action="click-button"
                data-category="Main homepage"
                data-label="Open day call to action UG - book"
                href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
                >Find out more</a
            >
            </p>
            <a
            class="call-to-action-link ga-event"
            data-action="click-link"
            data-category="Main homepage"
            data-label="Open day call to action UG - register"
            href="http://undergraduate-enews.cardiff.ac.uk/h/t/B965104E0538C93A"
            >Register for upcoming dates <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg></a
            >
        </div>
        </div>
    </div>
</section>
</div>
<pre class="prettyprint">&#60;section class="search-box search-primary overlay-top" aria-label="Undergraduate course search"&#62;
    &#60;div class="green-bg"&#62;&#60;/div&#62;
    &#60;div class="row"&#62;
        &#60;div class="col-md-8"&#62;
        &#60;h1 class="search-title"&#62;Find your course&#60;/h1&#62;
        &#60;div class="search-title-options"&#62;
            &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75"&#62;
    &#60;title&#62;Chevron down&#60;/title&#62;
    &#60;path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"&#62;&#60;/path&#62;
&#60;/svg&#62;
            &#60;select aria-label="Course search selector"&#62;
            &#60;option value="undergraduate"&#62;Undergraduate&#60;/option&#62;
            &#60;option value="pgt"&#62;Postgraduate taught&#60;/option&#62;
            &#60;option value="pgr"&#62;Postgraduate research&#60;/option&#62;
            &#60;option value="cpe"&#62;Part-time courses for adults&#60;/option&#62;
            &#60;option value="cpd"&#62;Professional development&#60;/option&#62;
            &#60;/select&#62;
        &#60;/div&#62;
        &#60;form
            id="coursefinder-search"
            class="search-box-form"
            method="get"
            action="https://www.cardiff.ac.uk/study/undergraduate/courses/search"
            aria-label="Undergraduate course search form"
        &#62;
            &#60;input name="collection" value="ug-courses" type="hidden" /&#62;
            &#60;input id="course-search-box" type="text" class="search-input" name="query" placeholder="Enter course title or keyword" /&#62;
            &#60;label class="sr-only" for="course-search-box"&#62;Enter course title or keyword&#60;/label&#62;
            &#60;button type="submit" class="search-submit"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"&#62;
  &#60;title&#62;Search&#60;/title&#62;
  &#60;path d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
    transform="translate(-0.03 0)" /&#62;
&#60;/svg&#62;&#60;/button&#62;
        &#60;/form&#62;
        &#60;ul class="search-related list list-links"&#62;
            &#60;li&#62;
            &#60;a
                id="related-link-browse-by-az"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z - Undergraduate - Search box"
                &#62;Browse by A-Z&#60;/a
            &#62;
            &#60;/li&#62;
            &#60;li&#62;
            &#60;a
                id="related-link-browse-by-school"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school - Undergraduate - Search box"
                &#62;Browse by School&#60;/a
            &#62;
            &#60;/li&#62;
            &#60;li&#62;
            &#60;a
                id="related-link-browse-by-subject"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject - Undergraduate - Search box"
                &#62;Browse by subject&#60;/a
            &#62;
            &#60;/li&#62;
        &#60;/ul&#62;
        &#60;/div&#62;
        &#60;div class="col-md-4"&#62;
        &#60;div class="call-to-action" id="undergraduate-call-to-action" style="display: block;"&#62;
            &#60;p class="call-to-action-category"&#62;Next undergraduate Open Day&#60;/p&#62;
            &#60;h4 class="call-to-action-title"&#62;
            &#60;a
                href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="Open day call to action UG - date"
                &#62;Saturday 14 September 2019&#60;/a
            &#62;
            &#60;/h4&#62;
            &#60;p&#62;
            &#60;a
                class="btn btn-lg btn-primary text-center ga-event"
                data-action="click-button"
                data-category="Main homepage"
                data-label="Open day call to action UG - book"
                href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
                &#62;Find out more&#60;/a
            &#62;
            &#60;/p&#62;
            &#60;a
            class="call-to-action-link ga-event"
            data-action="click-link"
            data-category="Main homepage"
            data-label="Open day call to action UG - register"
            href="http://undergraduate-enews.cardiff.ac.uk/h/t/B965104E0538C93A"
            &#62;Register for upcoming dates &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;/a
            &#62;
        &#60;/div&#62;
        &#60;/div&#62;
    &#60;/div&#62;
&#60;/section&#62;
</pre>
  

    </main>
  </div>
</div>
