<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  active"
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Tables</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#States" class="nav-link">States</a><li class="nav-item"><a href="#Boreded" class="nav-link">Boreded</a><li class="nav-item"><a href="#Condensed" class="nav-link">Condensed</a><li class="nav-item"><a href="#Hover" class="nav-link">Hover</a><li class="nav-item"><a href="#Responsive" class="nav-link">Responsive</a><li class="nav-item"><a href="#Stripped" class="nav-link">Stripped</a><li class="nav-item"><a href="#Within-box" class="nav-link">Within box</a><li class="nav-item"><a href="#Sortable" class="nav-link">Sortable</a><li class="nav-item"><a href="#Hide-first-rows" class="nav-link">Hide first rows</a><li class="nav-item"><a href="#Hide-bottom-rows" class="nav-link">Hide bottom rows</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><p class="table-caption" aria-label="table caption">Fig 2. Table Caption Example</p>
<div class="table-responsive">
  <table class="table" aria-label="table content // unique table name maybe?">
      <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last Name</th>
            <th scope="col" class="contract-phone">Username</th>
            <th scope="col" class="contract-phone">Tel. No</th>
            <th scope="col" class="contract-phone">Username</th>
            <th scope="col" class="contract-phone">Tel. No</th>
            <th scope="col" class="contract-phone">Username</th>
            <th scope="col" class="contract-phone">Tel. No</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Smith</td>
            <td>@sagms36</td>
            <td>71515</td>
            <td>@sagms36</td>
            <td>71515</td>
            <td>@sagms36</td>
            <td>71515</td>
          </tr>
          <tr>
            <td>David</td>
            <td>Davies</td>
            <td>@sagdd24</td>
            <td>71539</td>
            <td>@sagdd24</td>
            <td>71539</td>
            <td>@sagdd24</td>
            <td>71539</td>
          </tr>
        </tbody>
    </table>
</div></div>
<pre class="prettyprint">&#60;p class="table-caption" aria-label="table caption"&#62;Fig 2. Table Caption Example&#60;/p&#62;
&#60;div class="table-responsive"&#62;
  &#60;table class="table" aria-label="table content // unique table name maybe?"&#62;
      &#60;thead&#62;
          &#60;tr&#62;
            &#60;th scope="col"&#62;First name&#60;/th&#62;
            &#60;th scope="col"&#62;Last Name&#60;/th&#62;
            &#60;th scope="col" class="contract-phone"&#62;Username&#60;/th&#62;
            &#60;th scope="col" class="contract-phone"&#62;Tel. No&#60;/th&#62;
            &#60;th scope="col" class="contract-phone"&#62;Username&#60;/th&#62;
            &#60;th scope="col" class="contract-phone"&#62;Tel. No&#60;/th&#62;
            &#60;th scope="col" class="contract-phone"&#62;Username&#60;/th&#62;
            &#60;th scope="col" class="contract-phone"&#62;Tel. No&#60;/th&#62;
          &#60;/tr&#62;
        &#60;/thead&#62;
        &#60;tbody&#62;
          &#60;tr&#62;
            &#60;td&#62;Mark&#60;/td&#62;
            &#60;td&#62;Smith&#60;/td&#62;
            &#60;td&#62;@sagms36&#60;/td&#62;
            &#60;td&#62;71515&#60;/td&#62;
            &#60;td&#62;@sagms36&#60;/td&#62;
            &#60;td&#62;71515&#60;/td&#62;
            &#60;td&#62;@sagms36&#60;/td&#62;
            &#60;td&#62;71515&#60;/td&#62;
          &#60;/tr&#62;
          &#60;tr&#62;
            &#60;td&#62;David&#60;/td&#62;
            &#60;td&#62;Davies&#60;/td&#62;
            &#60;td&#62;@sagdd24&#60;/td&#62;
            &#60;td&#62;71539&#60;/td&#62;
            &#60;td&#62;@sagdd24&#60;/td&#62;
            &#60;td&#62;71539&#60;/td&#62;
            &#60;td&#62;@sagdd24&#60;/td&#62;
            &#60;td&#62;71539&#60;/td&#62;
          &#60;/tr&#62;
        &#60;/tbody&#62;
    &#60;/table&#62;
&#60;/div&#62;</pre>
  
<h2 id="States">States</h2>
<p></p>
<div class="component-example"><div class="table-responsive">
    <p class="table-caption">Fig 2. Table Caption Example with context </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Telephone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <td>Mark</td>
          <td>Smith</td>
          <td>@sagms36</td>
          <td>71515</td>
        </tr>
        <tr class="table-warning">
          <td>David</td>
          <td>Davies</td>
          <td>@sagdd24</td>
          <td>71539</td>
        </tr>
        <tr class="table-success">
          <td>Rebecca</td>
          <td>Jones</td>
          <td>@sagrdj</td>
          <td>74965</td>
        </tr>
        <tr class="table-danger">
          <td>Frank</td>
          <td>Franklin</td>
          <td>@sagde21</td>
          <td>71300</td>
        </tr>
      </tbody>
    </table>
</div></div>
<pre class="prettyprint">&#60;div class="table-responsive"&#62;
    &#60;p class="table-caption"&#62;Fig 2. Table Caption Example with context &#60;/p&#62;
    &#60;table class="table"&#62;
      &#60;thead&#62;
        &#60;tr&#62;
          &#60;th scope="col"&#62;First name&#60;/th&#62;
          &#60;th scope="col"&#62;Last Name&#60;/th&#62;
          &#60;th scope="col"&#62;Username&#60;/th&#62;
          &#60;th scope="col"&#62;Telephone Number&#60;/th&#62;
        &#60;/tr&#62;
      &#60;/thead&#62;
      &#60;tbody&#62;
        &#60;tr class="table-info"&#62;
          &#60;td&#62;Mark&#60;/td&#62;
          &#60;td&#62;Smith&#60;/td&#62;
          &#60;td&#62;@sagms36&#60;/td&#62;
          &#60;td&#62;71515&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr class="table-warning"&#62;
          &#60;td&#62;David&#60;/td&#62;
          &#60;td&#62;Davies&#60;/td&#62;
          &#60;td&#62;@sagdd24&#60;/td&#62;
          &#60;td&#62;71539&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr class="table-success"&#62;
          &#60;td&#62;Rebecca&#60;/td&#62;
          &#60;td&#62;Jones&#60;/td&#62;
          &#60;td&#62;@sagrdj&#60;/td&#62;
          &#60;td&#62;74965&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr class="table-danger"&#62;
          &#60;td&#62;Frank&#60;/td&#62;
          &#60;td&#62;Franklin&#60;/td&#62;
          &#60;td&#62;@sagde21&#60;/td&#62;
          &#60;td&#62;71300&#60;/td&#62;
        &#60;/tr&#62;
      &#60;/tbody&#62;
    &#60;/table&#62;
&#60;/div&#62;</pre>
  
<h2 id="Boreded">Boreded</h2>
<p></p>
<div class="component-example"><div class="table-responsive">
    <p class="table-caption">Fig 2. Bordered Table Caption Example</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Telephone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Smith</td>
          <td>@sagms36</td>
          <td>71515</td>
        </tr>
        <tr>
          <td>David</td>
          <td>Davies</td>
          <td>@sagdd24</td>
          <td>71539</td>
        </tr>
      </tbody>
    </table>
</div></div>
<pre class="prettyprint">&#60;div class="table-responsive"&#62;
    &#60;p class="table-caption"&#62;Fig 2. Bordered Table Caption Example&#60;/p&#62;
    &#60;table class="table table-bordered"&#62;
      &#60;thead&#62;
        &#60;tr&#62;
          &#60;th scope="col"&#62;First name&#60;/th&#62;
          &#60;th scope="col"&#62;Last Name&#60;/th&#62;
          &#60;th scope="col"&#62;Username&#60;/th&#62;
          &#60;th scope="col"&#62;Telephone Number&#60;/th&#62;
        &#60;/tr&#62;
      &#60;/thead&#62;
      &#60;tbody&#62;
        &#60;tr&#62;
          &#60;td&#62;Mark&#60;/td&#62;
          &#60;td&#62;Smith&#60;/td&#62;
          &#60;td&#62;@sagms36&#60;/td&#62;
          &#60;td&#62;71515&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td&#62;David&#60;/td&#62;
          &#60;td&#62;Davies&#60;/td&#62;
          &#60;td&#62;@sagdd24&#60;/td&#62;
          &#60;td&#62;71539&#60;/td&#62;
        &#60;/tr&#62;
      &#60;/tbody&#62;
    &#60;/table&#62;
&#60;/div&#62;</pre>
  
<h2 id="Condensed">Condensed</h2>
<p></p>
<div class="component-example"><div class="table-responsive">
    <p class="table-caption">Fig 2. Condensed Table Caption Example </p>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Telephone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Smith</td>
          <td>@sagms36</td>
          <td>71515</td>
        </tr>
        <tr>
          <td>David</td>
          <td>Davies</td>
          <td>@sagdd24</td>
          <td>71539</td>
        </tr>
      </tbody>
    </table>
</div></div>
<pre class="prettyprint">&#60;div class="table-responsive"&#62;
    &#60;p class="table-caption"&#62;Fig 2. Condensed Table Caption Example &#60;/p&#62;
    &#60;table class="table table-condensed"&#62;
      &#60;thead&#62;
        &#60;tr&#62;
          &#60;th scope="col"&#62;First name&#60;/th&#62;
          &#60;th scope="col"&#62;Last Name&#60;/th&#62;
          &#60;th scope="col"&#62;Username&#60;/th&#62;
          &#60;th scope="col"&#62;Telephone Number&#60;/th&#62;
        &#60;/tr&#62;
      &#60;/thead&#62;
      &#60;tbody&#62;
        &#60;tr&#62;
          &#60;td&#62;Mark&#60;/td&#62;
          &#60;td&#62;Smith&#60;/td&#62;
          &#60;td&#62;@sagms36&#60;/td&#62;
          &#60;td&#62;71515&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;td&#62;David&#60;/td&#62;
          &#60;td&#62;Davies&#60;/td&#62;
          &#60;td&#62;@sagdd24&#60;/td&#62;
          &#60;td&#62;71539&#60;/td&#62;
        &#60;/tr&#62;
      &#60;/tbody&#62;
    &#60;/table&#62;
&#60;/div&#62;</pre>
  
<h2 id="Hover">Hover</h2>
<p></p>
<div class="component-example"><p class="table-caption">Fig 2. Table Caption Example with Hover Effects</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Telephone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Smith</td>
            <td>@sagms36</td>
            <td>71515</td>
          </tr>
          <tr>
            <td>David</td>
            <td>Davies</td>
            <td>@sagdd24</td>
            <td>71539</td>
          </tr>
        </tbody>
      </table>
</div></div>
<pre class="prettyprint">&#60;p class="table-caption"&#62;Fig 2. Table Caption Example with Hover Effects&#60;/p&#62;
&#60;div class="table-responsive"&#62;
    &#60;table class="table table-hover"&#62;
        &#60;thead&#62;
          &#60;tr&#62;
            &#60;th scope="col"&#62;First name&#60;/th&#62;
            &#60;th scope="col"&#62;Last Name&#60;/th&#62;
            &#60;th scope="col"&#62;Username&#60;/th&#62;
            &#60;th scope="col"&#62;Telephone Number&#60;/th&#62;
          &#60;/tr&#62;
        &#60;/thead&#62;
        &#60;tbody&#62;
          &#60;tr&#62;
            &#60;td&#62;Mark&#60;/td&#62;
            &#60;td&#62;Smith&#60;/td&#62;
            &#60;td&#62;@sagms36&#60;/td&#62;
            &#60;td&#62;71515&#60;/td&#62;
          &#60;/tr&#62;
          &#60;tr&#62;
            &#60;td&#62;David&#60;/td&#62;
            &#60;td&#62;Davies&#60;/td&#62;
            &#60;td&#62;@sagdd24&#60;/td&#62;
            &#60;td&#62;71539&#60;/td&#62;
          &#60;/tr&#62;
        &#60;/tbody&#62;
      &#60;/table&#62;
&#60;/div&#62;</pre>
  
<h2 id="Responsive">Responsive</h2>
<p></p>
<div class="component-example"><p class="table-caption">Fig 2. Responsive Table Caption Example</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last Name</th>
        <th scope="col" class="contract-phone">Username</th>
        <th scope="col" class="contract-phone">Tel. No</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Smith</td>
        <td>@sagms36</td>
        <td>71515</td>
      </tr>
      <tr>
        <td>David</td>
        <td>Davies</td>
        <td>@sagdd24</td>
        <td>71539</td>
      </tr>
    </tbody>
  </table>
</div></div>
<pre class="prettyprint">&#60;p class="table-caption"&#62;Fig 2. Responsive Table Caption Example&#60;/p&#62;
&#60;div class="table-responsive"&#62;
  &#60;table class="table"&#62;
    &#60;thead&#62;
      &#60;tr&#62;
        &#60;th scope="col"&#62;First name&#60;/th&#62;
        &#60;th scope="col"&#62;Last Name&#60;/th&#62;
        &#60;th scope="col" class="contract-phone"&#62;Username&#60;/th&#62;
        &#60;th scope="col" class="contract-phone"&#62;Tel. No&#60;/th&#62;
      &#60;/tr&#62;
    &#60;/thead&#62;
    &#60;tbody&#62;
      &#60;tr&#62;
        &#60;td&#62;Mark&#60;/td&#62;
        &#60;td&#62;Smith&#60;/td&#62;
        &#60;td&#62;@sagms36&#60;/td&#62;
        &#60;td&#62;71515&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td&#62;David&#60;/td&#62;
        &#60;td&#62;Davies&#60;/td&#62;
        &#60;td&#62;@sagdd24&#60;/td&#62;
        &#60;td&#62;71539&#60;/td&#62;
      &#60;/tr&#62;
    &#60;/tbody&#62;
  &#60;/table&#62;
&#60;/div&#62;</pre>
  
<h2 id="Stripped">Stripped</h2>
<p></p>
<div class="component-example"><p class="table-caption">Fig 2. Table Caption Example</p>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Telephone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Smith</td>
        <td>@sagms36</td>
        <td>71515</td>
      </tr>
      <tr>
        <td>David</td>
        <td>Davies</td>
        <td>@sagdd24</td>
        <td>71539</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<pre class="prettyprint">&#60;p class="table-caption"&#62;Fig 2. Table Caption Example&#60;/p&#62;
&#60;div class="table-responsive"&#62;
  &#60;table class="table table-striped"&#62;
    &#60;thead&#62;
      &#60;tr&#62;
        &#60;th scope="col"&#62;First name&#60;/th&#62;
        &#60;th scope="col"&#62;Last Name&#60;/th&#62;
        &#60;th scope="col"&#62;Username&#60;/th&#62;
        &#60;th scope="col"&#62;Telephone Number&#60;/th&#62;
      &#60;/tr&#62;
    &#60;/thead&#62;
    &#60;tbody&#62;
      &#60;tr&#62;
        &#60;td&#62;Mark&#60;/td&#62;
        &#60;td&#62;Smith&#60;/td&#62;
        &#60;td&#62;@sagms36&#60;/td&#62;
        &#60;td&#62;71515&#60;/td&#62;
      &#60;/tr&#62;
      &#60;tr&#62;
        &#60;td&#62;David&#60;/td&#62;
        &#60;td&#62;Davies&#60;/td&#62;
        &#60;td&#62;@sagdd24&#60;/td&#62;
        &#60;td&#62;71539&#60;/td&#62;
      &#60;/tr&#62;
    &#60;/tbody&#62;
  &#60;/table&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Within-box">Within box</h2>
<p></p>
<div class="component-example"><div class="box box-inverse">
  <div class="box-header"><h1 class="box-title">Key facts</h1></div>
  <div class="box-body">
    <table class="table">
      <tbody>
        <tr>
          <th></th>Start date</th>
          <td>
            4 Jan 2019
          </td>
        </tr>
        <tr>
          <th>End date</th>
          <td>6 Jan 2020</td>
        </tr>
        <tr>
          <th>Grant value</th>
          <td>£10,000</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            <ul class="list list-unstyled">
              <li>Hibernation</li>
            </ul>
          </td>
        </tr>
      </tbody>
      </table>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div class="box box-inverse"&#62;
  &#60;div class="box-header"&#62;&#60;h1 class="box-title"&#62;Key facts&#60;/h1&#62;&#60;/div&#62;
  &#60;div class="box-body"&#62;
    &#60;table class="table"&#62;
      &#60;tbody&#62;
        &#60;tr&#62;
          &#60;th&#62;&#60;/th&#62;Start date&#60;/th&#62;
          &#60;td&#62;
            4 Jan 2019
          &#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;th&#62;End date&#60;/th&#62;
          &#60;td&#62;6 Jan 2020&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;th&#62;Grant value&#60;/th&#62;
          &#60;td&#62;&#163;10,000&#60;/td&#62;
        &#60;/tr&#62;
        &#60;tr&#62;
          &#60;th&#62;Status&#60;/th&#62;
          &#60;td&#62;
            &#60;ul class="list list-unstyled"&#62;
              &#60;li&#62;Hibernation&#60;/li&#62;
            &#60;/ul&#62;
          &#60;/td&#62;
        &#60;/tr&#62;
      &#60;/tbody&#62;
      &#60;/table&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Sortable">Sortable</h2>
<p></p>
<div class="component-example"><table class="table table-sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    <tr data-assetid="372311" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://www.cardiff.ac.uk/master/website/documents/public-information/freedom-of-information/financial-procedures.pdf"
          >Financial procedures handbook</a
        >
      </td>
      <td>PDF</td>
      <td>1/07/2016</td>
    </tr>
    <tr data-assetid="1529238" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/1529238/Hos-and-Senior-Staff-Register-of-interests-2017-18.pdf"
          >Hos and Senior Staff Register of interests 2017-18.pdf</a
        >
      </td>
      <td>PDF</td>
      <td>10/07/2019</td>
    </tr>
    <tr data-assetid="245334" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/245334/FOI-Complaints-Procedure-April-16-V1.3.pdf"
          >FOI Complaints Procedure</a
        >
      </td>
      <td>PDF</td>
      <td>18/04/2016</td>
    </tr>
    <tr data-assetid="173325" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/173325/InformationChargingPolicyApril_2018_GDPRV1.2.pdf"
          >Information charging policy</a
        >
      </td>
      <td>PDF</td>
      <td>19/08/2019</td>
    </tr>
    <tr data-assetid="257949" data-type="word_doc" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/word_doc/0009/257949/FOI-Complaints-Procedure-April-16-V1-3-cym.doc"
          >FOI Complaints Procedure (Welsh)</a
        >
      </td>
      <td>Word</td>
      <td>25/04/2016</td>
    </tr>
    <tr data-assetid="89056" data-type="pdf_file" data-schema="file">
      <td>
        <a
          href="https://www.cardiff.ac.uk/master/website/documents/public-information/freedom-of-information/definition_document_for_universities_and_higher_education_institutions.pdf"
          >Definition document for universities and other higher education institutions.</a
        >
      </td>
      <td>PDF</td>
      <td>27/03/2015</td>
    </tr>
    <tr data-assetid="173326" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0004/173326/InformationChargingPolicyJuly2015V1-1Final-Cymraeg1.pdf"
          >Information charging policy (Cymraeg)</a
        >
      </td>
      <td>PDF</td>
      <td>8/12/2015</td>
    </tr>
  </tbody>
</table>
</div>
<pre class="prettyprint">&#60;table class="table table-sortable"&#62;
  &#60;thead&#62;
    &#60;tr&#62;
      &#60;th&#62;Name&#60;/th&#62;
      &#60;th&#62;Type&#60;/th&#62;
      &#60;th&#62;Last updated&#60;/th&#62;
    &#60;/tr&#62;
  &#60;/thead&#62;
  &#60;tbody&#62;
    &#60;tr data-assetid="372311" data-type="pdf_file" data-schema="file"&#62;
      &#60;td&#62;
        &#60;a href="https://www.cardiff.ac.uk/master/website/documents/public-information/freedom-of-information/financial-procedures.pdf"
          &#62;Financial procedures handbook&#60;/a
        &#62;
      &#60;/td&#62;
      &#60;td&#62;PDF&#60;/td&#62;
      &#60;td&#62;1/07/2016&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr data-assetid="1529238" data-type="pdf_file" data-schema="file"&#62;
      &#60;td&#62;
        &#60;a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/1529238/Hos-and-Senior-Staff-Register-of-interests-2017-18.pdf"
          &#62;Hos and Senior Staff Register of interests 2017-18.pdf&#60;/a
        &#62;
      &#60;/td&#62;
      &#60;td&#62;PDF&#60;/td&#62;
      &#60;td&#62;10/07/2019&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr data-assetid="245334" data-type="pdf_file" data-schema="file"&#62;
      &#60;td&#62;
        &#60;a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/245334/FOI-Complaints-Procedure-April-16-V1.3.pdf"
          &#62;FOI Complaints Procedure&#60;/a
        &#62;
      &#60;/td&#62;
      &#60;td&#62;PDF&#60;/td&#62;
      &#60;td&#62;18/04/2016&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr data-assetid="173325" data-type="pdf_file" data-schema="file"&#62;
      &#60;td&#62;
        &#60;a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/173325/InformationChargingPolicyApril_2018_GDPRV1.2.pdf"
          &#62;Information charging policy&#60;/a
        &#62;
      &#60;/td&#62;
      &#60;td&#62;PDF&#60;/td&#62;
      &#60;td&#62;19/08/2019&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr data-assetid="257949" data-type="word_doc" data-schema="file"&#62;
      &#60;td&#62;
        &#60;a href="https://wwwstaging.cardiff.ac.uk/__data/assets/word_doc/0009/257949/FOI-Complaints-Procedure-April-16-V1-3-cym.doc"
          &#62;FOI Complaints Procedure (Welsh)&#60;/a
        &#62;
      &#60;/td&#62;
      &#60;td&#62;Word&#60;/td&#62;
      &#60;td&#62;25/04/2016&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr data-assetid="89056" data-type="pdf_file" data-schema="file"&#62;
      &#60;td&#62;
        &#60;a
          href="https://www.cardiff.ac.uk/master/website/documents/public-information/freedom-of-information/definition_document_for_universities_and_higher_education_institutions.pdf"
          &#62;Definition document for universities and other higher education institutions.&#60;/a
        &#62;
      &#60;/td&#62;
      &#60;td&#62;PDF&#60;/td&#62;
      &#60;td&#62;27/03/2015&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr data-assetid="173326" data-type="pdf_file" data-schema="file"&#62;
      &#60;td&#62;
        &#60;a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0004/173326/InformationChargingPolicyJuly2015V1-1Final-Cymraeg1.pdf"
          &#62;Information charging policy (Cymraeg)&#60;/a
        &#62;
      &#60;/td&#62;
      &#60;td&#62;PDF&#60;/td&#62;
      &#60;td&#62;8/12/2015&#60;/td&#62;
    &#60;/tr&#62;
  &#60;/tbody&#62;
&#60;/table&#62;
</pre>
  
<h2 id="Hide-first-rows">Hide first rows</h2>
<p>To limit the amount of rows shown, add a data-limit to the table i.e. data-limit="2" will only show the last two items in the table.</p>
<div class="component-example"><table class="table table-collapse hide-top-rows" aria-label="covid table content" data-limit="2">
  <thead>
    <tr>
      <th scope="col">Dates</th>
      <th scope="col">New student cases</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>13/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>14/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>15/10/2020</td>
      <td>48</td>
    </tr>
    <tr>
      <td>16/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>17/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>18/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>19/10/2020</td>
      <td>48</td>
    </tr>
    <tr>
      <td>20/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>21/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>22/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>23/10/2020</td>
      <td>48</td>
    </tr>
  </tbody>
</table></div>
<pre class="prettyprint">&#60;table class="table table-collapse hide-top-rows" aria-label="covid table content" data-limit="2"&#62;
  &#60;thead&#62;
    &#60;tr&#62;
      &#60;th scope="col"&#62;Dates&#60;/th&#62;
      &#60;th scope="col"&#62;New student cases&#60;/th&#62;
    &#60;/tr&#62;
  &#60;/thead&#62;
  &#60;tbody&#62;
    &#60;tr&#62;
      &#60;td&#62;12/10/2020&#60;/td&#62;
      &#60;td&#62;49&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;13/10/2020&#60;/td&#62;
      &#60;td&#62;55&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;14/10/2020&#60;/td&#62;
      &#60;td&#62;73&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;15/10/2020&#60;/td&#62;
      &#60;td&#62;48&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;16/10/2020&#60;/td&#62;
      &#60;td&#62;49&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;17/10/2020&#60;/td&#62;
      &#60;td&#62;55&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;18/10/2020&#60;/td&#62;
      &#60;td&#62;73&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;19/10/2020&#60;/td&#62;
      &#60;td&#62;48&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;20/10/2020&#60;/td&#62;
      &#60;td&#62;49&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;21/10/2020&#60;/td&#62;
      &#60;td&#62;55&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;22/10/2020&#60;/td&#62;
      &#60;td&#62;73&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;23/10/2020&#60;/td&#62;
      &#60;td&#62;48&#60;/td&#62;
    &#60;/tr&#62;
  &#60;/tbody&#62;
&#60;/table&#62;</pre>
  
<h2 id="Hide-bottom-rows">Hide bottom rows</h2>
<p>To limit the amount of rows shown, add a data-limit to the table i.e. data-limit="2" will only show the first two items in the table.</p>
<div class="component-example"><table class="table table-collapse" aria-label="covid table content">
  <thead id="collapse-table-head">
    <tr>
      <th scope="col">Dates</th>
      <th scope="col">New student cases</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>13/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>14/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>15/10/2020</td>
      <td>48</td>
    </tr>
    <tr>
      <td>16/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>17/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>18/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>19/10/2020</td>
      <td>48</td>
    </tr>
    <tr>
      <td>20/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>21/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>22/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>23/10/2020</td>
      <td>48</td>
    </tr>

  </tbody>

</table></div>
<pre class="prettyprint">&#60;table class="table table-collapse" aria-label="covid table content"&#62;
  &#60;thead id="collapse-table-head"&#62;
    &#60;tr&#62;
      &#60;th scope="col"&#62;Dates&#60;/th&#62;
      &#60;th scope="col"&#62;New student cases&#60;/th&#62;
    &#60;/tr&#62;
  &#60;/thead&#62;
  &#60;tbody&#62;
    &#60;tr&#62;
      &#60;td&#62;12/10/2020&#60;/td&#62;
      &#60;td&#62;49&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;13/10/2020&#60;/td&#62;
      &#60;td&#62;55&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;14/10/2020&#60;/td&#62;
      &#60;td&#62;73&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;15/10/2020&#60;/td&#62;
      &#60;td&#62;48&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;16/10/2020&#60;/td&#62;
      &#60;td&#62;49&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;17/10/2020&#60;/td&#62;
      &#60;td&#62;55&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;18/10/2020&#60;/td&#62;
      &#60;td&#62;73&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;19/10/2020&#60;/td&#62;
      &#60;td&#62;48&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;20/10/2020&#60;/td&#62;
      &#60;td&#62;49&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;21/10/2020&#60;/td&#62;
      &#60;td&#62;55&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;22/10/2020&#60;/td&#62;
      &#60;td&#62;73&#60;/td&#62;
    &#60;/tr&#62;
    &#60;tr&#62;
      &#60;td&#62;23/10/2020&#60;/td&#62;
      &#60;td&#62;48&#60;/td&#62;
    &#60;/tr&#62;

  &#60;/tbody&#62;

&#60;/table&#62;</pre>
  

    </main>
  </div>
</div>
