<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  active"
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Tabs</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#Vertical" class="nav-link">Vertical</a><li class="nav-item"><a href="#Slider-tabs" class="nav-link">Slider tabs</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p>Default table view with active table displaying a red border on top.</p>
<div class="component-example"><ul class="nav nav-tabs">
  <li class="nav-item "><a class="nav-link active" href="#section1" data-toggle="tab">Section 1</a></li>
  <li class="nav-item"><a class="nav-link" href="#section2" data-toggle="tab">Section 2</a></li>
  <li class="nav-item"><a class="nav-link" href="#section3" data-toggle="tab">Section 3</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="section1">
    <p>Tab content for section 1.</p>
  </div>
  <div class="tab-pane" id="section2">
    <p>Tab content for section 2.</p>
  </div>
  <div class="tab-pane" id="section3">
    <p>Tab content for section 3.</p>
  </div>
</div></div>
<pre class="prettyprint">&#60;ul class="nav nav-tabs"&#62;
  &#60;li class="nav-item "&#62;&#60;a class="nav-link active" href="#section1" data-toggle="tab"&#62;Section 1&#60;/a&#62;&#60;/li&#62;
  &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#section2" data-toggle="tab"&#62;Section 2&#60;/a&#62;&#60;/li&#62;
  &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#section3" data-toggle="tab"&#62;Section 3&#60;/a&#62;&#60;/li&#62;
&#60;/ul&#62;

&#60;div class="tab-content"&#62;
  &#60;div class="tab-pane active" id="section1"&#62;
    &#60;p&#62;Tab content for section 1.&#60;/p&#62;
  &#60;/div&#62;
  &#60;div class="tab-pane" id="section2"&#62;
    &#60;p&#62;Tab content for section 2.&#60;/p&#62;
  &#60;/div&#62;
  &#60;div class="tab-pane" id="section3"&#62;
    &#60;p&#62;Tab content for section 3.&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Vertical">Vertical</h2>
<p>These combine the functionality of accordions an tabs. On desktop, they will appear as vertical tabs, then on mobile they will appear like accoordions. See the <a href="http://localhost:8080/docs/components/accordion">accordion docs for more </a>information.</p>
<div class="component-example"><div class="tabs-vertical">
  <ul class="nav nav-list">
    <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Typical A level offer</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Typical Welsh Baccalaureate offer</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Typical International Baccalaureate offer</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab4" data-toggle="tab">Alternative qualifications</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab5" data-toggle="tab">English language requirements</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab6" data-toggle="tab">Other qualifications</a></li>
  </ul>
  <div class="accordion accordion-mobile" id="accordion2">
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse"  href="#collapseOne">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg><span>Typical A level offer</span>
            </a>
          </div>
          <div id="collapseOne" class="accordion-section-body collapse" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>AAB including grade B plus practical endorsement in Chemistry. Ideally at least one
                other science or mathematical subject.</p>
              <p>Also grade C or higher in GCSE Maths and English
              or Welsh (as appropriate). General Studies and Critical Thinking are not accepted for
              entry.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseTwo">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg><span>Typical Welsh Baccalaureate offer</span>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-section-body collapse" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>WBQ core will be accepted in lieu of one A-level (at the grades specified above), excluding Chemistry.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab3">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseThree">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg><span>Typical International Baccalaureate offer</span>
            </a>
          </div>
          <div id="collapseThree" class="accordion-section-body collapse" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>34 points to include 10 points in total from Higher Level Chemistry and another science or Mathematical subject. Chemistry is to be at least 5 points within this total.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab4">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseFour">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg><span>Alternative qualifications</span>
            </a>
          </div>
          <div id="collapseFour" class="accordion-section-body collapse" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>Alternative qualifications may be accepted. For further information on entry requirements, see the Cardiff School of Law and Politics admissions criteria pages.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab5">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseFive">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg><span>English language requirements</span>
            </a>
          </div>
          <div id="collapseFive" class="accordion-section-body collapse in" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>If you are an overseas applicant and your first language is not English, please visit our English Language requirements page for more information on our accepted qualifications.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab6">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseSix">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg><span>Other qualifications</span>
            </a>
          </div>
          <div id="collapseSix" class="accordion-section-body collapse in" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>GCSE English Language Grade B or 6, IGCSE English First Language grade B, IGCSE English as a Second Language not accepted.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="tabs-vertical"&#62;
  &#60;ul class="nav nav-list"&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link active" href="#tab1" data-toggle="tab"&#62;Typical A level offer&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#tab2" data-toggle="tab"&#62;Typical Welsh Baccalaureate offer&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#tab3" data-toggle="tab"&#62;Typical International Baccalaureate offer&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#tab4" data-toggle="tab"&#62;Alternative qualifications&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#tab5" data-toggle="tab"&#62;English language requirements&#60;/a&#62;&#60;/li&#62;
    &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#tab6" data-toggle="tab"&#62;Other qualifications&#60;/a&#62;&#60;/li&#62;
  &#60;/ul&#62;
  &#60;div class="accordion accordion-mobile" id="accordion2"&#62;
    &#60;div class="tab-content"&#62;
      &#60;div class="tab-pane active" id="tab1"&#62;
        &#60;div class="accordion-section"&#62;
          &#60;div class="accordion-section-header"&#62;
            &#60;a class="accordion-section-header-title collapsed" data-toggle="collapse"  href="#collapseOne"&#62;
              &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;span&#62;Typical A level offer&#60;/span&#62;
            &#60;/a&#62;
          &#60;/div&#62;
          &#60;div id="collapseOne" class="accordion-section-body collapse" data-parent="#accordion2"&#62;
            &#60;div class="accordion-inner"&#62;
              &#60;p&#62;AAB including grade B plus practical endorsement in Chemistry. Ideally at least one
                other science or mathematical subject.&#60;/p&#62;
              &#60;p&#62;Also grade C or higher in GCSE Maths and English
              or Welsh (as appropriate). General Studies and Critical Thinking are not accepted for
              entry.&#60;/p&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="tab-pane" id="tab2"&#62;
        &#60;div class="accordion-section"&#62;
          &#60;div class="accordion-section-header"&#62;
            &#60;a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseTwo"&#62;
              &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;span&#62;Typical Welsh Baccalaureate offer&#60;/span&#62;
            &#60;/a&#62;
          &#60;/div&#62;
          &#60;div id="collapseTwo" class="accordion-section-body collapse" data-parent="#accordion2"&#62;
            &#60;div class="accordion-inner"&#62;
              &#60;p&#62;WBQ core will be accepted in lieu of one A-level (at the grades specified above), excluding Chemistry.&#60;/p&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="tab-pane" id="tab3"&#62;
        &#60;div class="accordion-section"&#62;
          &#60;div class="accordion-section-header"&#62;
            &#60;a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseThree"&#62;
              &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;span&#62;Typical International Baccalaureate offer&#60;/span&#62;
            &#60;/a&#62;
          &#60;/div&#62;
          &#60;div id="collapseThree" class="accordion-section-body collapse" data-parent="#accordion2"&#62;
            &#60;div class="accordion-inner"&#62;
              &#60;p&#62;34 points to include 10 points in total from Higher Level Chemistry and another science or Mathematical subject. Chemistry is to be at least 5 points within this total.&#60;/p&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="tab-pane" id="tab4"&#62;
        &#60;div class="accordion-section"&#62;
          &#60;div class="accordion-section-header"&#62;
            &#60;a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseFour"&#62;
              &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;span&#62;Alternative qualifications&#60;/span&#62;
            &#60;/a&#62;
          &#60;/div&#62;
          &#60;div id="collapseFour" class="accordion-section-body collapse" data-parent="#accordion2"&#62;
            &#60;div class="accordion-inner"&#62;
              &#60;p&#62;Alternative qualifications may be accepted. For further information on entry requirements, see the Cardiff School of Law and Politics admissions criteria pages.&#60;/p&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="tab-pane" id="tab5"&#62;
        &#60;div class="accordion-section"&#62;
          &#60;div class="accordion-section-header"&#62;
            &#60;a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseFive"&#62;
              &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;span&#62;English language requirements&#60;/span&#62;
            &#60;/a&#62;
          &#60;/div&#62;
          &#60;div id="collapseFive" class="accordion-section-body collapse in" data-parent="#accordion2"&#62;
            &#60;div class="accordion-inner"&#62;
              &#60;p&#62;If you are an overseas applicant and your first language is not English, please visit our English Language requirements page for more information on our accepted qualifications.&#60;/p&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="tab-pane" id="tab6"&#62;
        &#60;div class="accordion-section"&#62;
          &#60;div class="accordion-section-header"&#62;
            &#60;a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseSix"&#62;
              &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;span&#62;Other qualifications&#60;/span&#62;
            &#60;/a&#62;
          &#60;/div&#62;
          &#60;div id="collapseSix" class="accordion-section-body collapse in" data-parent="#accordion2"&#62;
            &#60;div class="accordion-inner"&#62;
              &#60;p&#62;GCSE English Language Grade B or 6, IGCSE English First Language grade B, IGCSE English as a Second Language not accepted.&#60;/p&#62;
            &#60;/div&#62;
          &#60;/div&#62;
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Slider-tabs">Slider tabs</h2>
<p>The tabs will have a slider that will underline the bottom of the active tab. This will automatically adjust it's width to match the active element's width.</p>
<div class="component-example"><div class="d-inline-block">
  <div class="tabs tabs--with-slider">
    <ul class="nav nav-tabs">
      <li class="nav-item ">
        <a class="nav-link active" href="#section1" role="tab" data-toggle="tab" aria-selected="true">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 20"><title>Menu</title><path class="bar" d="M 28 0 H 0 V 4 H 28 V 4 Z"></path><path class="bar" d="M 28 12 H 0 V 8 H 28 v 4 Z"></path><path class="bar" d="M 28 20 H 0 V 16 H 28 v 4 Z"></path></svg>Section 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2" role="tab" data-toggle="tab" aria-selected="false">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
  <title>Marker</title>
  <path d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
    transform="translate(-6 0)" />
</svg>Section 2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3" role="tab" data-toggle="tab" aria-selected="false">
          Section 3
        </a>
      </li>
    </ul>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="d-inline-block"&#62;
  &#60;div class="tabs tabs--with-slider"&#62;
    &#60;ul class="nav nav-tabs"&#62;
      &#60;li class="nav-item "&#62;
        &#60;a class="nav-link active" href="#section1" role="tab" data-toggle="tab" aria-selected="true"&#62;
          &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 20"&#62;&#60;title&#62;Menu&#60;/title&#62;&#60;path class="bar" d="M 28 0 H 0 V 4 H 28 V 4 Z"&#62;&#60;/path&#62;&#60;path class="bar" d="M 28 12 H 0 V 8 H 28 v 4 Z"&#62;&#60;/path&#62;&#60;path class="bar" d="M 28 20 H 0 V 16 H 28 v 4 Z"&#62;&#60;/path&#62;&#60;/svg&#62;Section 1
        &#60;/a&#62;
      &#60;/li&#62;
      &#60;li class="nav-item"&#62;
        &#60;a class="nav-link" href="#section2" role="tab" data-toggle="tab" aria-selected="false"&#62;
          &#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32"&#62;
  &#60;title&#62;Marker&#60;/title&#62;
  &#60;path d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
    transform="translate(-6 0)" /&#62;
&#60;/svg&#62;Section 2
        &#60;/a&#62;
      &#60;/li&#62;
      &#60;li class="nav-item"&#62;
        &#60;a class="nav-link" href="#section3" role="tab" data-toggle="tab" aria-selected="false"&#62;
          Section 3
        &#60;/a&#62;
      &#60;/li&#62;
    &#60;/ul&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
<p class="alert">Note, there slight difference in the markup to allow the slider to work</p><p class="alert">Slider markup is injected in via JS, do not add this structure in the HTML</p>  

    </main>
  </div>
</div>
