<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  active"
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Teasers</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#With-image" class="nav-link">With image</a><li class="nav-item"><a href="#With-video" class="nav-link">With video</a><li class="nav-item"><a href="#With-video-right" class="nav-link">With video right</a><li class="nav-item"><a href="#Image-small" class="nav-link">Image small</a><li class="nav-item"><a href="#Image-large" class="nav-link">Image large</a><li class="nav-item"><a href="#Image-larger" class="nav-link">Image larger</a><li class="nav-item"><a href="#Boxed-with-image" class="nav-link">Boxed with image</a><li class="nav-item"><a href="#Vertical" class="nav-link">Vertical</a><li class="nav-item"><a href="#Larger" class="nav-link">Larger</a><li class="nav-item"><a href="#Vertical-Within-col-2" class="nav-link">Vertical Within col-2</a><li class="nav-item"><a href="#Vertical-with-list" class="nav-link">Vertical with list</a><li class="nav-item"><a href="#Small" class="nav-link">Small</a><li class="nav-item"><a href="#Document" class="nav-link">Document</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><div class="teaser">
  <div class="teaser-body">
    <h1 class="teaser-title"><a href="#">Courses</a></h1>
    <p>Choose from <a href="#">over 300 courses</a> that you can tailor to suit your ambitions.</p>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="teaser"&#62;
  &#60;div class="teaser-body"&#62;
    &#60;h1 class="teaser-title"&#62;&#60;a href="#"&#62;Courses&#60;/a&#62;&#60;/h1&#62;
    &#60;p&#62;Choose from &#60;a href="#"&#62;over 300 courses&#60;/a&#62; that you can tailor to suit your ambitions.&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="With-image">With image</h2>
<p></p>
<div class="component-example"><div class="teaser with-image">
  <figure class="teaser-image" style="width:170px;">
    <a href="http://www.cardiff.ac.uk/news/view/159882-city-deal-takes-significant-step-forward">
        <img alt="" src="http://placehold.it/170x100" />
    </a>
  </figure>
  <div class="teaser-body">
    <h1 class="teaser-title">
      <a href="http://www.cardiff.ac.uk/news/view/159882-city-deal-takes-significant-step-forward">City Deal takes significant step forward</a>
    </h1>
    <p class="teaser-date">12 November 2015</p>
    <p>Vice-Chancellor welcomes submission by Cardiff Capital Region leaders to UK Government</p>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="teaser with-image"&#62;
  &#60;figure class="teaser-image" style="width:170px;"&#62;
    &#60;a href="http://www.cardiff.ac.uk/news/view/159882-city-deal-takes-significant-step-forward"&#62;
        &#60;img alt="" src="http://placehold.it/170x100" /&#62;
    &#60;/a&#62;
  &#60;/figure&#62;
  &#60;div class="teaser-body"&#62;
    &#60;h1 class="teaser-title"&#62;
      &#60;a href="http://www.cardiff.ac.uk/news/view/159882-city-deal-takes-significant-step-forward"&#62;City Deal takes significant step forward&#60;/a&#62;
    &#60;/h1&#62;
    &#60;p class="teaser-date"&#62;12 November 2015&#60;/p&#62;
    &#60;p&#62;Vice-Chancellor welcomes submission by Cardiff Capital Region leaders to UK Government&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="With-video">With video</h2>
<p></p>
<div class="component-example"><div class="teaser teaser--video">
  <a href="https://www.youtube.com/watch?v=ub7StpyE-Vk" class="video video--lazy" data-youtubeid="ub7StpyE-Vk" data-overlay-content="true">
    <img class="lazy" src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format" data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text">  </a>
  </a>
  <div class="teaser-body">
    <h3 class="teaser-title">Title goes here</h3>
    <p>Some text goes here</p>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div class="teaser teaser--video"&#62;
  &#60;a href="https://www.youtube.com/watch?v=ub7StpyE-Vk" class="video video--lazy" data-youtubeid="ub7StpyE-Vk" data-overlay-content="true"&#62;
    &#60;img class="lazy" src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&#38;h=180&#38;fit=crop&#38;q=60&#38;auto=format" data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text"&#62;  &#60;/a&#62;
  &#60;/a&#62;
  &#60;div class="teaser-body"&#62;
    &#60;h3 class="teaser-title"&#62;Title goes here&#60;/h3&#62;
    &#60;p&#62;Some text goes here&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  
<h2 id="With-video-right">With video right</h2>
<p></p>
<div class="component-example"><div class="teaser teaser--video">
  <a href="https://www.youtube.com/watch?v=ub7StpyE-Vk"class="video video--lazy order-2" data-youtubeid="ub7StpyE-Vk" data-overlay-content="true">
    <img class="lazy" src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format" data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text">  </a>
  </a>
  <div class="teaser-body order-1">
    <h3 class="teaser-title">Title goes here</h3>
    <p>Some text goes here</p>
  </div>
</div>
</div>
<pre class="prettyprint">&#60;div class="teaser teaser--video"&#62;
  &#60;a href="https://www.youtube.com/watch?v=ub7StpyE-Vk"class="video video--lazy order-2" data-youtubeid="ub7StpyE-Vk" data-overlay-content="true"&#62;
    &#60;img class="lazy" src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&#38;h=180&#38;fit=crop&#38;q=60&#38;auto=format" data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text"&#62;  &#60;/a&#62;
  &#60;/a&#62;
  &#60;div class="teaser-body order-1"&#62;
    &#60;h3 class="teaser-title"&#62;Title goes here&#60;/h3&#62;
    &#60;p&#62;Some text goes here&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;
</pre>
  
<h2 id="Image-small">Image small</h2>
<p></p>
<div class="component-example"><div class="teaser teaser-small with-image">
  <figure class="teaser-image"><a href="#"><img alt="" src="http://placehold.it/70x40"></a></figure>
  <div class="teaser-body">
    <h1 class="teaser-title"><a href="#">Better protecting victims of anti-social behaviour</a></h1>
    <p class="teaser-date">14 June 2013</p>
  </div>
</div>
<div class="teaser teaser-small with-image">
  <figure class="teaser-image"><a href="#"><img alt="" src="http://placehold.it/70x40"></a></figure>
  <div class="teaser-body">
    <h1 class="teaser-title"><a href="#">Risk expert predicted MMR crisis a decade ago</a></h1>
    <p class="teaser-date">19 June 2013</p>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="teaser teaser-small with-image"&#62;
  &#60;figure class="teaser-image"&#62;&#60;a href="#"&#62;&#60;img alt="" src="http://placehold.it/70x40"&#62;&#60;/a&#62;&#60;/figure&#62;
  &#60;div class="teaser-body"&#62;
    &#60;h1 class="teaser-title"&#62;&#60;a href="#"&#62;Better protecting victims of anti-social behaviour&#60;/a&#62;&#60;/h1&#62;
    &#60;p class="teaser-date"&#62;14 June 2013&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;
&#60;div class="teaser teaser-small with-image"&#62;
  &#60;figure class="teaser-image"&#62;&#60;a href="#"&#62;&#60;img alt="" src="http://placehold.it/70x40"&#62;&#60;/a&#62;&#60;/figure&#62;
  &#60;div class="teaser-body"&#62;
    &#60;h1 class="teaser-title"&#62;&#60;a href="#"&#62;Risk expert predicted MMR crisis a decade ago&#60;/a&#62;&#60;/h1&#62;
    &#60;p class="teaser-date"&#62;19 June 2013&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Image-large">Image large</h2>
<p></p>
<div class="component-example"><div class="teaser teaser-large with-image">
  <figure class="teaser-image"><a href="timeline"><img alt="" src="http://placehold.it/270x150"></a></figure>
  <div class="teaser-body">
    <h1 class="teaser-title"><a href="timeline">MRC Centre celebrates fifth anniversary</a></h1>
    <p class="teaser-date">5 July 2013</p>
    <p>Cardiff University’s MRC Centre for Neuropsychiatric Genetics and Genomics celebrates its five-year-anniversary.</p>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="teaser teaser-large with-image"&#62;
  &#60;figure class="teaser-image"&#62;&#60;a href="timeline"&#62;&#60;img alt="" src="http://placehold.it/270x150"&#62;&#60;/a&#62;&#60;/figure&#62;
  &#60;div class="teaser-body"&#62;
    &#60;h1 class="teaser-title"&#62;&#60;a href="timeline"&#62;MRC Centre celebrates fifth anniversary&#60;/a&#62;&#60;/h1&#62;
    &#60;p class="teaser-date"&#62;5 July 2013&#60;/p&#62;
    &#60;p&#62;Cardiff University&#8217;s MRC Centre for Neuropsychiatric Genetics and Genomics celebrates its five-year-anniversary.&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Image-larger">Image larger</h2>
<p></p>
<div class="component-example"><div class="teaser teaser-larger with-image">
  <figure class="teaser-image"><a href="#"><img alt="" src="http://placehold.it/370x210"></a></figure>
  <div class="teaser-body">
    <p class="teaser-category"><a href="#">Hadyn Ellis Distinguished Lectures</a></p>
    <h1 class="teaser-title"><a href="#">Sir David Attenborough to deliver high profile lecture</a></h1>
    <p class="teaser-date">5 July 2013</p>
    <p class="teaser-body">Britain’s best-known natural history film-maker, Sir David Attenborough, will be delivering
      this year’s Hadyn Ellis Distinguished
      Lecture, the sixth in the series.</p>
    <p class="teaser-comments"><a href="#"><span class="icon-comment"></span>32</a></p>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="teaser teaser-larger with-image"&#62;
  &#60;figure class="teaser-image"&#62;&#60;a href="#"&#62;&#60;img alt="" src="http://placehold.it/370x210"&#62;&#60;/a&#62;&#60;/figure&#62;
  &#60;div class="teaser-body"&#62;
    &#60;p class="teaser-category"&#62;&#60;a href="#"&#62;Hadyn Ellis Distinguished Lectures&#60;/a&#62;&#60;/p&#62;
    &#60;h1 class="teaser-title"&#62;&#60;a href="#"&#62;Sir David Attenborough to deliver high profile lecture&#60;/a&#62;&#60;/h1&#62;
    &#60;p class="teaser-date"&#62;5 July 2013&#60;/p&#62;
    &#60;p class="teaser-body"&#62;Britain&#8217;s best-known natural history film-maker, Sir David Attenborough, will be delivering
      this year&#8217;s Hadyn Ellis Distinguished
      Lecture, the sixth in the series.&#60;/p&#62;
    &#60;p class="teaser-comments"&#62;&#60;a href="#"&#62;&#60;span class="icon-comment"&#62;&#60;/span&#62;32&#60;/a&#62;&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Boxed-with-image">Boxed with image</h2>
<p></p>
<div class="component-example"><div class="teaser teaser-boxed with-image">
    <div class="teaser-body">
        <figure class="teaser-image">
            <a href="#">
                <img src="http://placehold.it/37x52" alt="placeholder">
            </a>
            <svg class="icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2499.48982 2441.99992">
                <title>microsoft-word</title>
                <path d="M1306.55227,0h169.80424V227.1628c303.83025,1.70372,607.38787-3.13484,910.94567,1.70372,64.74137-6.54229,115.55767,43.72884,109.606,108.47025,4.81581,559.38835-1.13588,1119.04936,2.83954,1678.43776-2.83954,57.35864,5.67907,120.96412-27.55479,171.78042-41.45714,29.53124-95.13586,25.85114-143.38508,28.1-284.27153-1.38562-568.225-.81785-852.45114-.81785v227.16279H1298.8971C866.74263,2363.06089,433.40687,2290.664.38913,2214.83713q-.443-993.67833,0-1987.10656C435.6555,151.63117,871.26285,77.53067,1306.575,0Z"
                    transform="translate(-0.25788)" style="fill:#2a5699" />
                <path d="M1476.35651,312.34885h937.04655v1817.3024H1476.35651v-227.1628h738.2791v-113.5814h-738.2791V1646.9303h738.2791V1533.3489h-738.2791V1391.37215h738.2791v-113.5814h-738.2791V1135.814h738.2791V1022.2326h-738.2791V880.25585h738.2791V766.67445h-738.2791V624.6977h738.2791V511.1163h-738.2791ZM587.01407,814.08337c53.95117-3.11216,107.90233-5.38375,161.85354-8.22329,37.75443,191.68,76.37212,383.04191,117.26141,573.85861,32.09806-197.06372,67.60369-393.55957,101.92794-590.328,56.7907-1.97636,113.5814-5.11113,170.09948-8.51861-64.17351,275.13958-120.39627,552.57353-190.54417,826.00937-47.43162,24.71525-118.42-1.13589-174.64275,2.83953-37.77714-187.95455-81.77862-374.81862-115.58042-563.63634-33.2112,183.434-76.37212,365.16421-114.42192,547.4851q-81.77859-4.25931-164.14783-9.94981c-47.11355-249.87908-102.49586-498.05442-146.49728-748.50144,48.54469-2.2716,97.38471-4.27066,145.95208-5.9744C407.51,1010.01119,440.74392,1190.0604,466.29974,1371.2,506.394,1185.51713,547.26054,999.81147,587.014,814.08328Z"
                    transform="translate(-0.25788)" style="fill:#fff" />
            </svg>
        </figure>
        <p class="teaser-category">Form</p>
        <h1 class="teaser-title">
            <a href="https://intranet.cardiff.ac.uk/staff/applications">Academic year</a>
        </h1>
        <p class="teaser-description">Download the latest WSA academic year calendar.</p>
    </div>
</div></div>
<pre class="prettyprint">&#60;div class="teaser teaser-boxed with-image"&#62;
    &#60;div class="teaser-body"&#62;
        &#60;figure class="teaser-image"&#62;
            &#60;a href="#"&#62;
                &#60;img src="http://placehold.it/37x52" alt="placeholder"&#62;
            &#60;/a&#62;
            &#60;svg class="icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2499.48982 2441.99992"&#62;
                &#60;title&#62;microsoft-word&#60;/title&#62;
                &#60;path d="M1306.55227,0h169.80424V227.1628c303.83025,1.70372,607.38787-3.13484,910.94567,1.70372,64.74137-6.54229,115.55767,43.72884,109.606,108.47025,4.81581,559.38835-1.13588,1119.04936,2.83954,1678.43776-2.83954,57.35864,5.67907,120.96412-27.55479,171.78042-41.45714,29.53124-95.13586,25.85114-143.38508,28.1-284.27153-1.38562-568.225-.81785-852.45114-.81785v227.16279H1298.8971C866.74263,2363.06089,433.40687,2290.664.38913,2214.83713q-.443-993.67833,0-1987.10656C435.6555,151.63117,871.26285,77.53067,1306.575,0Z"
                    transform="translate(-0.25788)" style="fill:#2a5699" /&#62;
                &#60;path d="M1476.35651,312.34885h937.04655v1817.3024H1476.35651v-227.1628h738.2791v-113.5814h-738.2791V1646.9303h738.2791V1533.3489h-738.2791V1391.37215h738.2791v-113.5814h-738.2791V1135.814h738.2791V1022.2326h-738.2791V880.25585h738.2791V766.67445h-738.2791V624.6977h738.2791V511.1163h-738.2791ZM587.01407,814.08337c53.95117-3.11216,107.90233-5.38375,161.85354-8.22329,37.75443,191.68,76.37212,383.04191,117.26141,573.85861,32.09806-197.06372,67.60369-393.55957,101.92794-590.328,56.7907-1.97636,113.5814-5.11113,170.09948-8.51861-64.17351,275.13958-120.39627,552.57353-190.54417,826.00937-47.43162,24.71525-118.42-1.13589-174.64275,2.83953-37.77714-187.95455-81.77862-374.81862-115.58042-563.63634-33.2112,183.434-76.37212,365.16421-114.42192,547.4851q-81.77859-4.25931-164.14783-9.94981c-47.11355-249.87908-102.49586-498.05442-146.49728-748.50144,48.54469-2.2716,97.38471-4.27066,145.95208-5.9744C407.51,1010.01119,440.74392,1190.0604,466.29974,1371.2,506.394,1185.51713,547.26054,999.81147,587.014,814.08328Z"
                    transform="translate(-0.25788)" style="fill:#fff" /&#62;
            &#60;/svg&#62;
        &#60;/figure&#62;
        &#60;p class="teaser-category"&#62;Form&#60;/p&#62;
        &#60;h1 class="teaser-title"&#62;
            &#60;a href="https://intranet.cardiff.ac.uk/staff/applications"&#62;Academic year&#60;/a&#62;
        &#60;/h1&#62;
        &#60;p class="teaser-description"&#62;Download the latest WSA academic year calendar.&#60;/p&#62;
    &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Vertical">Vertical</h2>
<p></p>
<div class="component-example"><div class="row">
  <div class="col-12">
    <div class="teaser teaser-vertical with-image">
      <figure class="teaser-image"><a href="#"><img alt="" src="http://placehold.it/270x150"></a></figure>
      <div class="teaser-body">
        <p class="teaser-category"><a href="#">Research</a></p>
        <h1 class="teaser-title"><a href="#">Children’s brain processing speed indicates risk of psychosis</a></h1>
        <p class="teaser-date">17 June 2013</p>
        <p>Findings improve our understanding of brain processes associated with psychotic experiences in childhood.</p>
        <p class="teaser-comments"><a href="#"><span class="icon-comment"></span>32</a></p>
      </div>
    </div>
    <div class="teaser teaser-vertical">
      <div class="teaser-body">
        <p class="teaser-category"><a href="#">Research without image</a></p>
        <h1 class="teaser-title"><a href="#">Children’s brain processing speed indicates risk of psychosis</a></h1>
        <p class="teaser-date">17 June 2013</p>
        <p>Findings improve our understanding of brain processes associated with psychotic experiences in childhood.</p>
        <p class="teaser-comments"><a href="#"><span class="icon-comment"></span>32</a></p>
      </div>
    </div>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="row"&#62;
  &#60;div class="col-12"&#62;
    &#60;div class="teaser teaser-vertical with-image"&#62;
      &#60;figure class="teaser-image"&#62;&#60;a href="#"&#62;&#60;img alt="" src="http://placehold.it/270x150"&#62;&#60;/a&#62;&#60;/figure&#62;
      &#60;div class="teaser-body"&#62;
        &#60;p class="teaser-category"&#62;&#60;a href="#"&#62;Research&#60;/a&#62;&#60;/p&#62;
        &#60;h1 class="teaser-title"&#62;&#60;a href="#"&#62;Children&#8217;s brain processing speed indicates risk of psychosis&#60;/a&#62;&#60;/h1&#62;
        &#60;p class="teaser-date"&#62;17 June 2013&#60;/p&#62;
        &#60;p&#62;Findings improve our understanding of brain processes associated with psychotic experiences in childhood.&#60;/p&#62;
        &#60;p class="teaser-comments"&#62;&#60;a href="#"&#62;&#60;span class="icon-comment"&#62;&#60;/span&#62;32&#60;/a&#62;&#60;/p&#62;
      &#60;/div&#62;
    &#60;/div&#62;
    &#60;div class="teaser teaser-vertical"&#62;
      &#60;div class="teaser-body"&#62;
        &#60;p class="teaser-category"&#62;&#60;a href="#"&#62;Research without image&#60;/a&#62;&#60;/p&#62;
        &#60;h1 class="teaser-title"&#62;&#60;a href="#"&#62;Children&#8217;s brain processing speed indicates risk of psychosis&#60;/a&#62;&#60;/h1&#62;
        &#60;p class="teaser-date"&#62;17 June 2013&#60;/p&#62;
        &#60;p&#62;Findings improve our understanding of brain processes associated with psychotic experiences in childhood.&#60;/p&#62;
        &#60;p class="teaser-comments"&#62;&#60;a href="#"&#62;&#60;span class="icon-comment"&#62;&#60;/span&#62;32&#60;/a&#62;&#60;/p&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Larger">Larger</h2>
<p></p>
<div class="component-example"><div class="teaser teaser-larger">
    <div class="teaser-body">
      <h1 class="teaser-title"><a href="#">Courses</a></h1>
      <p>Choose from <a href="#">over 300 courses</a> that you can tailor to suit your ambitions.</p>
    </div>
  </div></div>
<pre class="prettyprint">&#60;div class="teaser teaser-larger"&#62;
    &#60;div class="teaser-body"&#62;
      &#60;h1 class="teaser-title"&#62;&#60;a href="#"&#62;Courses&#60;/a&#62;&#60;/h1&#62;
      &#60;p&#62;Choose from &#60;a href="#"&#62;over 300 courses&#60;/a&#62; that you can tailor to suit your ambitions.&#60;/p&#62;
    &#60;/div&#62;
  &#60;/div&#62;</pre>
  
<h2 id="Vertical-Within-col-2">Vertical Within col-2</h2>
<p></p>
<div class="component-example"><div class="row">
  <div class="col-md-2">
    <div class="teaser teaser-small teaser-vertical with-image">
      <figure class="teaser-image"><a href="timeline"><img alt="" src="http://placehold.it/170x100"></a></figure>
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="timeline">Timeline</a></h1>
        <p>Show events along a timeline.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="teaser teaser-small teaser-vertical">
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="timeline">Timeline without image</a></h1>
        <p>Show events along a timeline.</p>
      </div>
    </div>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="row"&#62;
  &#60;div class="col-md-2"&#62;
    &#60;div class="teaser teaser-small teaser-vertical with-image"&#62;
      &#60;figure class="teaser-image"&#62;&#60;a href="timeline"&#62;&#60;img alt="" src="http://placehold.it/170x100"&#62;&#60;/a&#62;&#60;/figure&#62;
      &#60;div class="teaser-body"&#62;
        &#60;h1 class="teaser-title"&#62;&#60;a href="timeline"&#62;Timeline&#60;/a&#62;&#60;/h1&#62;
        &#60;p&#62;Show events along a timeline.&#60;/p&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
  &#60;div class="col-md-2"&#62;
    &#60;div class="teaser teaser-small teaser-vertical"&#62;
      &#60;div class="teaser-body"&#62;
        &#60;h1 class="teaser-title"&#62;&#60;a href="timeline"&#62;Timeline without image&#60;/a&#62;&#60;/h1&#62;
        &#60;p&#62;Show events along a timeline.&#60;/p&#62;
      &#60;/div&#62;
    &#60;/div&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Vertical-with-list">Vertical with list</h2>
<p></p>
<div class="component-example">
    <div class="teaser teaser-vertical teaser-large with-image">
        <figure class="teaser-image">
          <a href="https://www.cardiff.ac.uk/chemistry/research" aria-hidden="true">
            <img
              srcset="
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=750&amp;h=422&amp;fit=crop&amp;q=60&amp;auto=format  750w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=270&amp;h=152&amp;fit=crop&amp;q=60&amp;auto=format  270w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=220&amp;h=124&amp;fit=crop&amp;q=60&amp;auto=format  220w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format  166w"
              src="https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=270&amp;h=152&amp;fit=crop&amp;q=60&amp;auto=format "
              sizes="(max-width: 767px) 100vw, (max-width: 970px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
              alt="Chemistry connections">
          </a>
        </figure>
        <div class="teaser-body">
          <h2 class="teaser-title"><a href="https://www.cardiff.ac.uk/chemistry/research">Research</a></h2>
          <p>We are committed to tackling important scientific challenges of the 21st century through internationally leading
            research.</p>
          <ul class="list list-links" style="padding-top:10px;">
            <li><a href="https://www.cardiff.ac.uk/chemistry/research/impact">Impact<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg></a></li>
            <li><a href="https://www.cardiff.ac.uk/chemistry/research/sections">Sections<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg></a></li>
            <li><a href="https://www.cardiff.ac.uk/chemistry/research/facilities">Facilities<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
  <title>Chevron right</title>
  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
</svg></a></li>
          </ul>
        </div>
      </div>
</div>
<pre class="prettyprint">
    &#60;div class="teaser teaser-vertical teaser-large with-image"&#62;
        &#60;figure class="teaser-image"&#62;
          &#60;a href="https://www.cardiff.ac.uk/chemistry/research" aria-hidden="true"&#62;
            &#60;img
              srcset="
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=750&#38;amp;h=422&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  750w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=570&#38;amp;h=321&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  570w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=270&#38;amp;h=152&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  270w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=220&#38;amp;h=124&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  220w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=166&#38;amp;h=93&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format  166w"
              src="https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=270&#38;amp;h=152&#38;amp;fit=crop&#38;amp;q=60&#38;amp;auto=format "
              sizes="(max-width: 767px) 100vw, (max-width: 970px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
              alt="Chemistry connections"&#62;
          &#60;/a&#62;
        &#60;/figure&#62;
        &#60;div class="teaser-body"&#62;
          &#60;h2 class="teaser-title"&#62;&#60;a href="https://www.cardiff.ac.uk/chemistry/research"&#62;Research&#60;/a&#62;&#60;/h2&#62;
          &#60;p&#62;We are committed to tackling important scientific challenges of the 21st century through internationally leading
            research.&#60;/p&#62;
          &#60;ul class="list list-links" style="padding-top:10px;"&#62;
            &#60;li&#62;&#60;a href="https://www.cardiff.ac.uk/chemistry/research/impact"&#62;Impact&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="https://www.cardiff.ac.uk/chemistry/research/sections"&#62;Sections&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
            &#60;li&#62;&#60;a href="https://www.cardiff.ac.uk/chemistry/research/facilities"&#62;Facilities&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"&#62;
  &#60;title&#62;Chevron right&#60;/title&#62;
  &#60;path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" /&#62;
&#60;/svg&#62;&#60;/a&#62;&#60;/li&#62;
          &#60;/ul&#62;
        &#60;/div&#62;
      &#60;/div&#62;
</pre>
  
<h2 id="Small">Small</h2>
<p></p>
<div class="component-example"><div class="teaser teaser-small">
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://www.cardiff.ac.uk/news/view/1539595-eu-backing-for-world-class-magnetics-research">EU backing for
        world-class magnetics research </a></h2>
    <p class="teaser-date">24 July 2019</p>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="teaser teaser-small"&#62;
  &#60;div class="teaser-body"&#62;
    &#60;h2 class="teaser-title"&#62;&#60;a
        href="https://www.cardiff.ac.uk/news/view/1539595-eu-backing-for-world-class-magnetics-research"&#62;EU backing for
        world-class magnetics research &#60;/a&#62;&#60;/h2&#62;
    &#60;p class="teaser-date"&#62;24 July 2019&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  
<h2 id="Document">Document</h2>
<p></p>
<div class="component-example"><div class="teaser teaser--document with-image">
  <p class="teaser-category"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>Globe</title>
  <path d="M15,2a15,15,0,1,1,0,30A15,15,0,0,1,0,17,15,15,0,0,1,15,2ZM10.34,7.44L10,8a5.88,5.88,0,0,0-.31.63C9.53,9.06,9.31,9.53,9.16,10H14V4.16a2.78,2.78,0,0,0-.66.25,5,5,0,0,0-.69.41,6.52,6.52,0,0,0-1.22,1.09,10.24,10.24,0,0,0-1.09,1.53h0ZM16,10h4.84c-0.09-.22-0.16-0.47-0.25-0.69A12.87,12.87,0,0,0,20,8a5.49,5.49,0,0,1-.34-0.56,10.13,10.13,0,0,0-1.09-1.53,6.55,6.55,0,0,0-1.22-1.09,7.68,7.68,0,0,0-.66-0.41A3.67,3.67,0,0,0,16,4.16V10h0ZM5.81,7.81q-0.52.52-.94,1C4.59,9.22,4.28,9.63,4,10H7A15.68,15.68,0,0,1,8.09,7.44,11.33,11.33,0,0,1,9.41,5.28,11.54,11.54,0,0,0,7.5,6.38,10.52,10.52,0,0,0,5.81,7.81ZM23,10h3c-0.25-.37-0.56-0.78-0.84-1.16a13.7,13.7,0,0,0-.94-1A10.58,10.58,0,0,0,22.5,6.38a11.51,11.51,0,0,0-1.91-1.09,13.28,13.28,0,0,1,1.34,2.16A19,19,0,0,1,23,10h0ZM6.5,12H3a9,9,0,0,0-.62,2A10.61,10.61,0,0,0,2,16H6a14.66,14.66,0,0,1,.16-2.06c0.09-.66.19-1.31,0.31-1.94h0ZM14,12H8.56c-0.16.63-.25,1.31-0.34,2A10.67,10.67,0,0,0,8,16h6V12h0Zm2,0v4h6a14.19,14.19,0,0,0-.16-2c-0.12-.66-0.22-1.34-0.37-2H16Zm8,4h4a13.75,13.75,0,0,0-.31-2A11.21,11.21,0,0,0,27,12H23.5c0.13,0.63.22,1.28,0.31,1.94A14.51,14.51,0,0,1,24,16h0ZM3,22H6.5c-0.12-.62-0.22-1.28-0.31-1.94A14.51,14.51,0,0,1,6,18H2a10.6,10.6,0,0,0,.34,2A9,9,0,0,0,3,22H3Zm11-4H8a10.67,10.67,0,0,0,.19,2c0.09,0.66.19,1.34,0.34,2H14V18h0Zm2,4h5.44c0.16-.62.25-1.31,0.38-2A14.06,14.06,0,0,0,22,18H16v4Zm7.5,0H27a11.21,11.21,0,0,0,.66-2A13.9,13.9,0,0,0,28,18H24a14.66,14.66,0,0,1-.16,2.06c-0.09.66-.19,1.31-0.31,1.94h0ZM7,24H4c0.25,0.38.56,0.78,0.84,1.13a9.9,9.9,0,0,0,.94,1.06A10.58,10.58,0,0,0,7.5,27.63a11.51,11.51,0,0,0,1.91,1.09,11.33,11.33,0,0,1-1.31-2.16A15.79,15.79,0,0,1,7,24H7Zm2.12,0,0.28,0.69A7,7,0,0,0,10,26c0.09,0.22.22,0.41,0.31,0.59a9.78,9.78,0,0,0,1.09,1.5,6.78,6.78,0,0,0,1.22,1.13,3,3,0,0,0,.69.38,2,2,0,0,0,.66.28V24H9.16Zm10.5,2.56c0.09-.19.22-0.37,0.34-0.59s0.22-.41.31-0.62c0.19-.44.38-0.87,0.53-1.34H16v5.84a2.45,2.45,0,0,0,.69-0.28,3.51,3.51,0,0,0,.66-0.37,6.78,6.78,0,0,0,1.22-1.12,9.78,9.78,0,0,0,1.09-1.5h0Zm4.53-.37a10,10,0,0,0,.94-1.06c0.28-.34.59-0.75,0.84-1.12H23a19.07,19.07,0,0,1-1,2.56,13.28,13.28,0,0,1-1.34,2.16,11.54,11.54,0,0,0,1.91-1.09,10.52,10.52,0,0,0,1.69-1.44h0Z"
    transform="translate(0 -2)" />
</svg> Document</p>
  <div class="teaser-image">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon document-icon"
  viewBox="0 0 100 130" version="1.1">
  <title>Group Copy</title>
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g>
      <rect fill="#FFFFFF" x="0" y="0" width="100" height="130" />
      <line x1="12.5" y1="90.5" x2="88.5" y2="90.5" stroke="#CCCCCC" stroke-width="6" />
      <line x1="12.5" y1="102" x2="49.5" y2="102" stroke=" #CCCCCC" stroke-width="6" />
      <line x1="12.5" y1="79" x2="88.5" y2="79" stroke="#CCCCCC" stroke-width="6" />
      <path
        d="M15.3032227,49 L15.3032227,44.8764648 L18.4379883,44.8764648 L18.4379883,49 L20.7304688,49 L20.7304688,38.9951172 L18.4379883,38.9951172 L18.4379883,42.8916016 L15.3032227,42.8916016 L15.3032227,38.9951172 L13.003418,38.9951172 L13.003418,49 L15.3032227,49 Z M26.597168,49 L26.597168,40.9726562 L29.0654297,40.9726562 L29.0654297,38.9951172 L21.7338867,38.9951172 L21.7338867,40.9726562 L24.2241211,40.9726562 L24.2241211,49 L26.597168,49 Z M32.0390625,49 L32.0390625,40.8408203 L34.4926758,49 L36.1040039,49 L38.6235352,40.8408203 L38.6235352,49 L40.9746094,49 L40.9746094,38.9951172 L37.3271484,38.9951172 L35.4667969,44.9790039 L33.7163086,38.9951172 L30.0688477,38.9951172 L30.0688477,49 L32.0390625,49 Z M49.3168945,49 L49.3168945,47.0224609 L45.3398438,47.0224609 L45.3398438,38.9951172 L42.9667969,38.9951172 L42.9667969,49 L49.3168945,49 Z M15.1347656,64.1464844 C15.59375,64.1464844 15.9770508,64.0476074 16.284668,63.8498535 C16.5922852,63.6520996 16.8852539,63.3164062 17.1635742,62.8427734 L17.1635742,62.8427734 L17.1635742,64 L19.1850586,64 L19.1850586,53.9951172 L17.0683594,53.9951172 L17.0683594,57.3862305 C16.8046875,57.0395508 16.5385742,56.7978516 16.2700195,56.6611328 C16.0014648,56.5244141 15.6621094,56.4560547 15.2519531,56.4560547 C14.3730469,56.4560547 13.6943359,56.7966309 13.2158203,57.4777832 C12.7373047,58.1589355 12.4980469,59.1269531 12.4980469,60.3818359 C12.4980469,61.5585938 12.7312012,62.4802246 13.1975098,63.1467285 C13.6638184,63.8132324 14.3095703,64.1464844 15.1347656,64.1464844 Z M15.918457,62.6083984 C15.5473633,62.6083984 15.2617188,62.4204102 15.0615234,62.0444336 C14.8613281,61.668457 14.7612305,61.1264648 14.7612305,60.418457 C14.7612305,58.7875977 15.1713867,57.972168 15.9916992,57.972168 C16.7094727,57.972168 17.0683594,58.5507812 17.0683594,59.7080078 L17.0683594,59.7080078 L17.0683594,61.0922852 C17.0683594,61.5415039 16.9621582,61.9064941 16.7497559,62.1872559 C16.5373535,62.4680176 16.2602539,62.6083984 15.918457,62.6083984 Z M24.0556641,64.1464844 C25.1152344,64.1464844 25.9770508,63.7924805 26.6411133,63.0844727 C27.3051758,62.3764648 27.637207,61.4560547 27.637207,60.3232422 C27.637207,59.1611328 27.3100586,58.2260742 26.6557617,57.5180664 C26.0014648,56.8100586 25.1347656,56.4560547 24.0556641,56.4560547 C23.0107422,56.4560547 22.1672363,56.8051758 21.5251465,57.503418 C20.8830566,58.2016602 20.5620117,59.1171875 20.5620117,60.25 C20.5620117,61.3828125 20.8647461,62.3081055 21.4702148,63.0258789 C22.1147461,63.7729492 22.9765625,64.1464844 24.0556641,64.1464844 Z M24.0996094,62.7255859 C23.6552734,62.7255859 23.3366699,62.5217285 23.1437988,62.1140137 C22.9509277,61.7062988 22.8544922,61.0410156 22.8544922,60.1181641 C22.8544922,59.3320312 22.9533691,58.7619629 23.151123,58.407959 C23.348877,58.0539551 23.6699219,57.8769531 24.1142578,57.8769531 C24.5585938,57.8769531 24.8747559,58.0673828 25.0627441,58.4482422 C25.2507324,58.8291016 25.3447266,59.46875 25.3447266,60.3671875 C25.3447266,61.1777344 25.2446289,61.7734375 25.0444336,62.1542969 C24.8442383,62.5351562 24.5292969,62.7255859 24.0996094,62.7255859 Z M32.1196289,64.1464844 C33.3305664,64.1464844 34.2509766,63.7265625 34.8808594,62.8867188 C35.0712891,62.6425781 35.2116699,62.4033203 35.302002,62.1689453 C35.392334,61.9345703 35.4619141,61.6196289 35.5107422,61.2241211 L35.5107422,61.2241211 L33.4672852,61.1069336 C33.340332,61.956543 32.9350586,62.3813477 32.2514648,62.3813477 C31.8168945,62.3813477 31.5031738,62.2165527 31.3103027,61.8869629 C31.1174316,61.557373 31.0209961,61.0214844 31.0209961,60.2792969 C31.0209961,59.5273438 31.1247559,58.9743652 31.3322754,58.6203613 C31.5397949,58.2663574 31.8657227,58.0893555 32.3100586,58.0893555 C32.6616211,58.0893555 32.9301758,58.1943359 33.1157227,58.4042969 C33.3012695,58.6142578 33.418457,58.9536133 33.4672852,59.4223633 L33.4672852,59.4223633 L35.5107422,59.3051758 C35.4619141,58.8852539 35.3825684,58.5458984 35.2727051,58.2871094 C35.1628418,58.0283203 34.9858398,57.762207 34.7416992,57.4887695 C34.1264648,56.800293 33.2915039,56.4560547 32.2368164,56.4560547 C31.1430664,56.4560547 30.260498,56.8137207 29.5891113,57.5290527 C28.9177246,58.2443848 28.5820312,59.1855469 28.5820312,60.3525391 C28.5820312,61.4902344 28.9055176,62.4069824 29.5524902,63.1027832 C30.1994629,63.798584 31.0551758,64.1464844 32.1196289,64.1464844 Z M38.7626953,64.1464844 C39.8466797,64.1464844 40.581543,63.6777344 40.9672852,62.7402344 L40.9672852,62.7402344 L40.9672852,64 L42.9887695,64 L42.9887695,56.6025391 L40.8134766,56.6025391 L40.8131776,60.9092544 C40.8119818,61.1857811 40.8071987,61.3627581 40.7988281,61.4401855 C40.7890625,61.5305176 40.7548828,61.6342773 40.6962891,61.7514648 C40.5888672,61.9614258 40.4387207,62.1262207 40.2458496,62.2458496 C40.0529785,62.3654785 39.8417969,62.425293 39.6123047,62.425293 C39.3291016,62.425293 39.121582,62.3447266 38.9897461,62.1835938 C38.8579102,62.0224609 38.7919922,61.7734375 38.7919922,61.4365234 L38.7919922,61.4365234 L38.7919922,56.6025391 L36.675293,56.6025391 L36.675293,61.4365234 C36.675293,61.9736328 36.7033691,62.3776855 36.7595215,62.6486816 C36.8156738,62.9196777 36.921875,63.1699219 37.078125,63.3994141 C37.4101562,63.8974609 37.9716797,64.1464844 38.7626953,64.1464844 Z M46.8999023,64 L46.8999023,59.9057617 C46.8999023,59.5639648 46.9108887,59.3137207 46.9328613,59.1550293 C46.954834,58.9963379 46.9975586,58.8510742 47.0610352,58.7192383 C47.1342773,58.5532227 47.255127,58.4213867 47.423584,58.3237305 C47.592041,58.2260742 47.78125,58.1772461 47.9912109,58.1772461 C48.3916016,58.1772461 48.6625977,58.3139648 48.8041992,58.5874023 C48.8725586,58.7094727 48.9165039,58.8535156 48.9360352,59.0195312 C48.9555664,59.1855469 48.965332,59.480957 48.965332,59.9057617 L48.965332,59.9057617 L48.965332,64 L51.140625,64 L51.140625,59.9057617 C51.140625,59.3344727 51.1967773,58.934082 51.309082,58.7045898 C51.3823242,58.5483398 51.5068359,58.4213867 51.6826172,58.3237305 C51.8583984,58.2260742 52.0439453,58.1772461 52.2392578,58.1772461 C52.6640625,58.1772461 52.9375,58.3286133 53.0595703,58.6313477 C53.1035156,58.7485352 53.1328125,58.8815918 53.1474609,59.0305176 C53.1621094,59.1794434 53.1694336,59.4711914 53.1694336,59.9057617 L53.1694336,59.9057617 L53.1694336,64 L55.3447266,64 L55.3447266,59.2026367 C55.3447266,58.5825195 55.3056641,58.1259766 55.2275391,57.8330078 C55.1494141,57.5400391 55.0029297,57.2861328 54.7880859,57.0712891 C54.5927734,56.8759766 54.3474121,56.7246094 54.052002,56.6171875 C53.7565918,56.5097656 53.4428711,56.4560547 53.1108398,56.4560547 C52.5981445,56.4560547 52.1696777,56.5585938 51.8254395,56.7636719 C51.4812012,56.96875 51.1943359,57.2910156 50.9648438,57.7304688 C50.7207031,57.2763672 50.4399414,56.9504395 50.1225586,56.7526855 C49.8051758,56.5549316 49.4047852,56.4560547 48.9213867,56.4560547 C48.3989258,56.4560547 47.9594727,56.5646973 47.6030273,56.7819824 C47.246582,56.9992676 46.9902344,57.3154297 46.8339844,57.7304688 L46.8339844,57.7304688 L46.8339844,56.6025391 L44.7832031,56.6025391 L44.7832031,64 L46.8999023,64 Z M60.3618164,64.1464844 C61.4165039,64.1464844 62.2563477,63.8120117 62.8813477,63.1430664 C63.0864258,62.9233398 63.2487793,62.704834 63.3684082,62.4875488 C63.4880371,62.2702637 63.6113281,61.96875 63.7382812,61.5830078 L63.7382812,61.5830078 L61.7607422,61.4511719 C61.6875,61.8271484 61.5373535,62.1140137 61.3103027,62.3117676 C61.083252,62.5095215 60.7915039,62.6083984 60.4350586,62.6083984 C60.0053711,62.6083984 59.6611328,62.4619141 59.4023438,62.1689453 C59.1435547,61.8759766 59.0141602,61.4902344 59.0141602,61.0117188 C59.0141602,60.8701172 59.019043,60.7553711 59.0288086,60.6674805 L59.0288086,60.6674805 L63.7822266,60.6674805 C63.7773438,60.0229492 63.730957,59.5126953 63.6430664,59.1367188 C63.5551758,58.7607422 63.4013672,58.387207 63.1816406,58.0161133 C62.9033203,57.5375977 62.5053711,57.157959 61.987793,56.8771973 C61.4702148,56.5964355 60.9038086,56.4560547 60.2885742,56.4560547 C59.2338867,56.4560547 58.3757324,56.8186035 57.7141113,57.5437012 C57.0524902,58.2687988 56.7216797,59.2099609 56.7216797,60.3671875 C56.7216797,61.5 57.0561523,62.4130859 57.7250977,63.1064453 C58.394043,63.7998047 59.2729492,64.1464844 60.3618164,64.1464844 Z M61.6362305,59.3930664 L59.0288086,59.3930664 C59.0825195,58.8754883 59.2192383,58.4934082 59.4389648,58.2468262 C59.6586914,58.0002441 59.9760742,57.8769531 60.3911133,57.8769531 C60.7866211,57.8769531 61.0820312,57.996582 61.2773438,58.2358398 C61.4726562,58.4750977 61.5922852,58.8608398 61.6362305,59.3930664 L61.6362305,59.3930664 Z M67.3344727,64 L67.3344727,59.847168 C67.3344727,59.3051758 67.4345703,58.8864746 67.6347656,58.5910645 C67.8349609,58.2956543 68.1206055,58.1479492 68.4916992,58.1479492 C68.8774414,58.1479492 69.1411133,58.309082 69.2827148,58.6313477 C69.3413086,58.7583008 69.3791504,58.8962402 69.3962402,59.045166 C69.4133301,59.1940918 69.421875,59.4614258 69.421875,59.847168 L69.421875,64 L71.5898438,64 L71.5898438,59.2612305 C71.5898438,58.2797852 71.4262695,57.5839844 71.0991211,57.1738281 C70.9135742,56.9492188 70.6657715,56.7734375 70.3557129,56.6464844 C70.0456543,56.5195312 69.7075195,56.4560547 69.3413086,56.4560547 C68.8237305,56.4560547 68.4123535,56.5537109 68.1071777,56.7490234 C67.802002,56.9443359 67.4931641,57.3105469 67.1806641,57.8476562 L67.1806641,57.8476562 L67.1806641,56.6025391 L65.1591797,56.6025391 L65.1591797,64 L67.3344727,64 Z M76.152832,64.168457 C76.3676758,64.168457 76.831543,64.1123047 77.5444336,64 L77.5444336,64 L77.5444336,62.3813477 C77.324707,62.4008789 77.0952148,62.4106445 76.855957,62.4106445 C76.4262695,62.4106445 76.1491699,62.3508301 76.0246582,62.2312012 C75.9001465,62.1115723 75.8378906,61.8417969 75.8378906,61.421875 L75.8378906,61.421875 L75.8378906,58.3017578 L77.4272461,58.3017578 L77.4272461,56.6025391 L75.8378906,56.6025391 L75.8378906,54.2661133 L73.9628906,54.4125977 L73.7797852,56.6025391 L72.4907227,56.6025391 L72.4907227,58.3017578 L73.6625977,58.3017578 L73.6625977,61.7514648 C73.6625977,62.6352539 73.8505859,63.2590332 74.2265625,63.6228027 C74.6025391,63.9865723 75.2446289,64.168457 76.152832,64.168457 Z"
        fill="#222222" fill-rule="nonzero" />
      <rect fill="#D3374A" x="13" y="14" width="10" height="10" />
      <rect fill="#222222" x="0" y="0" width="100" height="5" />
    </g>
  </g>
</svg>
  </div>

  <div class="teaser-body">
    <h1 class="teaser-title">
      <a href="https://intranet.cardiff.ac.uk/staff/applications">Academic year</a>
    </h1>
    <p class="teaser-link">
      <a
        href="https://search.cardiff.ac.uk/s/redirect?collection=website-meta&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy&amp;auth=cwPpsMmOPApYp93Sqjji7g&amp;profile=_default&amp;rank=1&amp;query=%21null">https://www.cardiff.ac.uk/study</a>
    </p>
    <span class="text-grey mb-5 d-inline-block">Web document</span>

    <p class="teaser-description">Example Word document in the public website search.</p>
  </div>
</div>
<div class="teaser teaser--document with-image">
  <p class="teaser-category"><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
  <title>Globe</title>
  <path d="M15,2a15,15,0,1,1,0,30A15,15,0,0,1,0,17,15,15,0,0,1,15,2ZM10.34,7.44L10,8a5.88,5.88,0,0,0-.31.63C9.53,9.06,9.31,9.53,9.16,10H14V4.16a2.78,2.78,0,0,0-.66.25,5,5,0,0,0-.69.41,6.52,6.52,0,0,0-1.22,1.09,10.24,10.24,0,0,0-1.09,1.53h0ZM16,10h4.84c-0.09-.22-0.16-0.47-0.25-0.69A12.87,12.87,0,0,0,20,8a5.49,5.49,0,0,1-.34-0.56,10.13,10.13,0,0,0-1.09-1.53,6.55,6.55,0,0,0-1.22-1.09,7.68,7.68,0,0,0-.66-0.41A3.67,3.67,0,0,0,16,4.16V10h0ZM5.81,7.81q-0.52.52-.94,1C4.59,9.22,4.28,9.63,4,10H7A15.68,15.68,0,0,1,8.09,7.44,11.33,11.33,0,0,1,9.41,5.28,11.54,11.54,0,0,0,7.5,6.38,10.52,10.52,0,0,0,5.81,7.81ZM23,10h3c-0.25-.37-0.56-0.78-0.84-1.16a13.7,13.7,0,0,0-.94-1A10.58,10.58,0,0,0,22.5,6.38a11.51,11.51,0,0,0-1.91-1.09,13.28,13.28,0,0,1,1.34,2.16A19,19,0,0,1,23,10h0ZM6.5,12H3a9,9,0,0,0-.62,2A10.61,10.61,0,0,0,2,16H6a14.66,14.66,0,0,1,.16-2.06c0.09-.66.19-1.31,0.31-1.94h0ZM14,12H8.56c-0.16.63-.25,1.31-0.34,2A10.67,10.67,0,0,0,8,16h6V12h0Zm2,0v4h6a14.19,14.19,0,0,0-.16-2c-0.12-.66-0.22-1.34-0.37-2H16Zm8,4h4a13.75,13.75,0,0,0-.31-2A11.21,11.21,0,0,0,27,12H23.5c0.13,0.63.22,1.28,0.31,1.94A14.51,14.51,0,0,1,24,16h0ZM3,22H6.5c-0.12-.62-0.22-1.28-0.31-1.94A14.51,14.51,0,0,1,6,18H2a10.6,10.6,0,0,0,.34,2A9,9,0,0,0,3,22H3Zm11-4H8a10.67,10.67,0,0,0,.19,2c0.09,0.66.19,1.34,0.34,2H14V18h0Zm2,4h5.44c0.16-.62.25-1.31,0.38-2A14.06,14.06,0,0,0,22,18H16v4Zm7.5,0H27a11.21,11.21,0,0,0,.66-2A13.9,13.9,0,0,0,28,18H24a14.66,14.66,0,0,1-.16,2.06c-0.09.66-.19,1.31-0.31,1.94h0ZM7,24H4c0.25,0.38.56,0.78,0.84,1.13a9.9,9.9,0,0,0,.94,1.06A10.58,10.58,0,0,0,7.5,27.63a11.51,11.51,0,0,0,1.91,1.09,11.33,11.33,0,0,1-1.31-2.16A15.79,15.79,0,0,1,7,24H7Zm2.12,0,0.28,0.69A7,7,0,0,0,10,26c0.09,0.22.22,0.41,0.31,0.59a9.78,9.78,0,0,0,1.09,1.5,6.78,6.78,0,0,0,1.22,1.13,3,3,0,0,0,.69.38,2,2,0,0,0,.66.28V24H9.16Zm10.5,2.56c0.09-.19.22-0.37,0.34-0.59s0.22-.41.31-0.62c0.19-.44.38-0.87,0.53-1.34H16v5.84a2.45,2.45,0,0,0,.69-0.28,3.51,3.51,0,0,0,.66-0.37,6.78,6.78,0,0,0,1.22-1.12,9.78,9.78,0,0,0,1.09-1.5h0Zm4.53-.37a10,10,0,0,0,.94-1.06c0.28-.34.59-0.75,0.84-1.12H23a19.07,19.07,0,0,1-1,2.56,13.28,13.28,0,0,1-1.34,2.16,11.54,11.54,0,0,0,1.91-1.09,10.52,10.52,0,0,0,1.69-1.44h0Z"
    transform="translate(0 -2)" />
</svg> Document</p>
  <div class="teaser-image">
    <img alt="" src="http://placehold.it/100x130">
  </div>

  <div class="teaser-body">
    <h1 class="teaser-title">
      <a href="https://intranet.cardiff.ac.uk/staff/applications">Academic year</a>
    </h1>
    <p class="teaser-link">
      <a
        href="https://search.cardiff.ac.uk/s/redirect?collection=website-meta&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy&amp;auth=cwPpsMmOPApYp93Sqjji7g&amp;profile=_default&amp;rank=1&amp;query=%21null">https://www.cardiff.ac.uk/study</a>
    </p>
    <span class="text-grey mb-5 d-inline-block">PDF document</span>
    <p class="teaser-description">Example Word document in the public website search.</p>
  </div>
</div></div>
<pre class="prettyprint">&#60;div class="teaser teaser--document with-image"&#62;
  &#60;p class="teaser-category"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"&#62;
  &#60;title&#62;Globe&#60;/title&#62;
  &#60;path d="M15,2a15,15,0,1,1,0,30A15,15,0,0,1,0,17,15,15,0,0,1,15,2ZM10.34,7.44L10,8a5.88,5.88,0,0,0-.31.63C9.53,9.06,9.31,9.53,9.16,10H14V4.16a2.78,2.78,0,0,0-.66.25,5,5,0,0,0-.69.41,6.52,6.52,0,0,0-1.22,1.09,10.24,10.24,0,0,0-1.09,1.53h0ZM16,10h4.84c-0.09-.22-0.16-0.47-0.25-0.69A12.87,12.87,0,0,0,20,8a5.49,5.49,0,0,1-.34-0.56,10.13,10.13,0,0,0-1.09-1.53,6.55,6.55,0,0,0-1.22-1.09,7.68,7.68,0,0,0-.66-0.41A3.67,3.67,0,0,0,16,4.16V10h0ZM5.81,7.81q-0.52.52-.94,1C4.59,9.22,4.28,9.63,4,10H7A15.68,15.68,0,0,1,8.09,7.44,11.33,11.33,0,0,1,9.41,5.28,11.54,11.54,0,0,0,7.5,6.38,10.52,10.52,0,0,0,5.81,7.81ZM23,10h3c-0.25-.37-0.56-0.78-0.84-1.16a13.7,13.7,0,0,0-.94-1A10.58,10.58,0,0,0,22.5,6.38a11.51,11.51,0,0,0-1.91-1.09,13.28,13.28,0,0,1,1.34,2.16A19,19,0,0,1,23,10h0ZM6.5,12H3a9,9,0,0,0-.62,2A10.61,10.61,0,0,0,2,16H6a14.66,14.66,0,0,1,.16-2.06c0.09-.66.19-1.31,0.31-1.94h0ZM14,12H8.56c-0.16.63-.25,1.31-0.34,2A10.67,10.67,0,0,0,8,16h6V12h0Zm2,0v4h6a14.19,14.19,0,0,0-.16-2c-0.12-.66-0.22-1.34-0.37-2H16Zm8,4h4a13.75,13.75,0,0,0-.31-2A11.21,11.21,0,0,0,27,12H23.5c0.13,0.63.22,1.28,0.31,1.94A14.51,14.51,0,0,1,24,16h0ZM3,22H6.5c-0.12-.62-0.22-1.28-0.31-1.94A14.51,14.51,0,0,1,6,18H2a10.6,10.6,0,0,0,.34,2A9,9,0,0,0,3,22H3Zm11-4H8a10.67,10.67,0,0,0,.19,2c0.09,0.66.19,1.34,0.34,2H14V18h0Zm2,4h5.44c0.16-.62.25-1.31,0.38-2A14.06,14.06,0,0,0,22,18H16v4Zm7.5,0H27a11.21,11.21,0,0,0,.66-2A13.9,13.9,0,0,0,28,18H24a14.66,14.66,0,0,1-.16,2.06c-0.09.66-.19,1.31-0.31,1.94h0ZM7,24H4c0.25,0.38.56,0.78,0.84,1.13a9.9,9.9,0,0,0,.94,1.06A10.58,10.58,0,0,0,7.5,27.63a11.51,11.51,0,0,0,1.91,1.09,11.33,11.33,0,0,1-1.31-2.16A15.79,15.79,0,0,1,7,24H7Zm2.12,0,0.28,0.69A7,7,0,0,0,10,26c0.09,0.22.22,0.41,0.31,0.59a9.78,9.78,0,0,0,1.09,1.5,6.78,6.78,0,0,0,1.22,1.13,3,3,0,0,0,.69.38,2,2,0,0,0,.66.28V24H9.16Zm10.5,2.56c0.09-.19.22-0.37,0.34-0.59s0.22-.41.31-0.62c0.19-.44.38-0.87,0.53-1.34H16v5.84a2.45,2.45,0,0,0,.69-0.28,3.51,3.51,0,0,0,.66-0.37,6.78,6.78,0,0,0,1.22-1.12,9.78,9.78,0,0,0,1.09-1.5h0Zm4.53-.37a10,10,0,0,0,.94-1.06c0.28-.34.59-0.75,0.84-1.12H23a19.07,19.07,0,0,1-1,2.56,13.28,13.28,0,0,1-1.34,2.16,11.54,11.54,0,0,0,1.91-1.09,10.52,10.52,0,0,0,1.69-1.44h0Z"
    transform="translate(0 -2)" /&#62;
&#60;/svg&#62; Document&#60;/p&#62;
  &#60;div class="teaser-image"&#62;
    &#60;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon document-icon"
  viewBox="0 0 100 130" version="1.1"&#62;
  &#60;title&#62;Group Copy&#60;/title&#62;
  &#60;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&#62;
    &#60;g&#62;
      &#60;rect fill="#FFFFFF" x="0" y="0" width="100" height="130" /&#62;
      &#60;line x1="12.5" y1="90.5" x2="88.5" y2="90.5" stroke="#CCCCCC" stroke-width="6" /&#62;
      &#60;line x1="12.5" y1="102" x2="49.5" y2="102" stroke=" #CCCCCC" stroke-width="6" /&#62;
      &#60;line x1="12.5" y1="79" x2="88.5" y2="79" stroke="#CCCCCC" stroke-width="6" /&#62;
      &#60;path
        d="M15.3032227,49 L15.3032227,44.8764648 L18.4379883,44.8764648 L18.4379883,49 L20.7304688,49 L20.7304688,38.9951172 L18.4379883,38.9951172 L18.4379883,42.8916016 L15.3032227,42.8916016 L15.3032227,38.9951172 L13.003418,38.9951172 L13.003418,49 L15.3032227,49 Z M26.597168,49 L26.597168,40.9726562 L29.0654297,40.9726562 L29.0654297,38.9951172 L21.7338867,38.9951172 L21.7338867,40.9726562 L24.2241211,40.9726562 L24.2241211,49 L26.597168,49 Z M32.0390625,49 L32.0390625,40.8408203 L34.4926758,49 L36.1040039,49 L38.6235352,40.8408203 L38.6235352,49 L40.9746094,49 L40.9746094,38.9951172 L37.3271484,38.9951172 L35.4667969,44.9790039 L33.7163086,38.9951172 L30.0688477,38.9951172 L30.0688477,49 L32.0390625,49 Z M49.3168945,49 L49.3168945,47.0224609 L45.3398438,47.0224609 L45.3398438,38.9951172 L42.9667969,38.9951172 L42.9667969,49 L49.3168945,49 Z M15.1347656,64.1464844 C15.59375,64.1464844 15.9770508,64.0476074 16.284668,63.8498535 C16.5922852,63.6520996 16.8852539,63.3164062 17.1635742,62.8427734 L17.1635742,62.8427734 L17.1635742,64 L19.1850586,64 L19.1850586,53.9951172 L17.0683594,53.9951172 L17.0683594,57.3862305 C16.8046875,57.0395508 16.5385742,56.7978516 16.2700195,56.6611328 C16.0014648,56.5244141 15.6621094,56.4560547 15.2519531,56.4560547 C14.3730469,56.4560547 13.6943359,56.7966309 13.2158203,57.4777832 C12.7373047,58.1589355 12.4980469,59.1269531 12.4980469,60.3818359 C12.4980469,61.5585938 12.7312012,62.4802246 13.1975098,63.1467285 C13.6638184,63.8132324 14.3095703,64.1464844 15.1347656,64.1464844 Z M15.918457,62.6083984 C15.5473633,62.6083984 15.2617188,62.4204102 15.0615234,62.0444336 C14.8613281,61.668457 14.7612305,61.1264648 14.7612305,60.418457 C14.7612305,58.7875977 15.1713867,57.972168 15.9916992,57.972168 C16.7094727,57.972168 17.0683594,58.5507812 17.0683594,59.7080078 L17.0683594,59.7080078 L17.0683594,61.0922852 C17.0683594,61.5415039 16.9621582,61.9064941 16.7497559,62.1872559 C16.5373535,62.4680176 16.2602539,62.6083984 15.918457,62.6083984 Z M24.0556641,64.1464844 C25.1152344,64.1464844 25.9770508,63.7924805 26.6411133,63.0844727 C27.3051758,62.3764648 27.637207,61.4560547 27.637207,60.3232422 C27.637207,59.1611328 27.3100586,58.2260742 26.6557617,57.5180664 C26.0014648,56.8100586 25.1347656,56.4560547 24.0556641,56.4560547 C23.0107422,56.4560547 22.1672363,56.8051758 21.5251465,57.503418 C20.8830566,58.2016602 20.5620117,59.1171875 20.5620117,60.25 C20.5620117,61.3828125 20.8647461,62.3081055 21.4702148,63.0258789 C22.1147461,63.7729492 22.9765625,64.1464844 24.0556641,64.1464844 Z M24.0996094,62.7255859 C23.6552734,62.7255859 23.3366699,62.5217285 23.1437988,62.1140137 C22.9509277,61.7062988 22.8544922,61.0410156 22.8544922,60.1181641 C22.8544922,59.3320312 22.9533691,58.7619629 23.151123,58.407959 C23.348877,58.0539551 23.6699219,57.8769531 24.1142578,57.8769531 C24.5585938,57.8769531 24.8747559,58.0673828 25.0627441,58.4482422 C25.2507324,58.8291016 25.3447266,59.46875 25.3447266,60.3671875 C25.3447266,61.1777344 25.2446289,61.7734375 25.0444336,62.1542969 C24.8442383,62.5351562 24.5292969,62.7255859 24.0996094,62.7255859 Z M32.1196289,64.1464844 C33.3305664,64.1464844 34.2509766,63.7265625 34.8808594,62.8867188 C35.0712891,62.6425781 35.2116699,62.4033203 35.302002,62.1689453 C35.392334,61.9345703 35.4619141,61.6196289 35.5107422,61.2241211 L35.5107422,61.2241211 L33.4672852,61.1069336 C33.340332,61.956543 32.9350586,62.3813477 32.2514648,62.3813477 C31.8168945,62.3813477 31.5031738,62.2165527 31.3103027,61.8869629 C31.1174316,61.557373 31.0209961,61.0214844 31.0209961,60.2792969 C31.0209961,59.5273438 31.1247559,58.9743652 31.3322754,58.6203613 C31.5397949,58.2663574 31.8657227,58.0893555 32.3100586,58.0893555 C32.6616211,58.0893555 32.9301758,58.1943359 33.1157227,58.4042969 C33.3012695,58.6142578 33.418457,58.9536133 33.4672852,59.4223633 L33.4672852,59.4223633 L35.5107422,59.3051758 C35.4619141,58.8852539 35.3825684,58.5458984 35.2727051,58.2871094 C35.1628418,58.0283203 34.9858398,57.762207 34.7416992,57.4887695 C34.1264648,56.800293 33.2915039,56.4560547 32.2368164,56.4560547 C31.1430664,56.4560547 30.260498,56.8137207 29.5891113,57.5290527 C28.9177246,58.2443848 28.5820312,59.1855469 28.5820312,60.3525391 C28.5820312,61.4902344 28.9055176,62.4069824 29.5524902,63.1027832 C30.1994629,63.798584 31.0551758,64.1464844 32.1196289,64.1464844 Z M38.7626953,64.1464844 C39.8466797,64.1464844 40.581543,63.6777344 40.9672852,62.7402344 L40.9672852,62.7402344 L40.9672852,64 L42.9887695,64 L42.9887695,56.6025391 L40.8134766,56.6025391 L40.8131776,60.9092544 C40.8119818,61.1857811 40.8071987,61.3627581 40.7988281,61.4401855 C40.7890625,61.5305176 40.7548828,61.6342773 40.6962891,61.7514648 C40.5888672,61.9614258 40.4387207,62.1262207 40.2458496,62.2458496 C40.0529785,62.3654785 39.8417969,62.425293 39.6123047,62.425293 C39.3291016,62.425293 39.121582,62.3447266 38.9897461,62.1835938 C38.8579102,62.0224609 38.7919922,61.7734375 38.7919922,61.4365234 L38.7919922,61.4365234 L38.7919922,56.6025391 L36.675293,56.6025391 L36.675293,61.4365234 C36.675293,61.9736328 36.7033691,62.3776855 36.7595215,62.6486816 C36.8156738,62.9196777 36.921875,63.1699219 37.078125,63.3994141 C37.4101562,63.8974609 37.9716797,64.1464844 38.7626953,64.1464844 Z M46.8999023,64 L46.8999023,59.9057617 C46.8999023,59.5639648 46.9108887,59.3137207 46.9328613,59.1550293 C46.954834,58.9963379 46.9975586,58.8510742 47.0610352,58.7192383 C47.1342773,58.5532227 47.255127,58.4213867 47.423584,58.3237305 C47.592041,58.2260742 47.78125,58.1772461 47.9912109,58.1772461 C48.3916016,58.1772461 48.6625977,58.3139648 48.8041992,58.5874023 C48.8725586,58.7094727 48.9165039,58.8535156 48.9360352,59.0195312 C48.9555664,59.1855469 48.965332,59.480957 48.965332,59.9057617 L48.965332,59.9057617 L48.965332,64 L51.140625,64 L51.140625,59.9057617 C51.140625,59.3344727 51.1967773,58.934082 51.309082,58.7045898 C51.3823242,58.5483398 51.5068359,58.4213867 51.6826172,58.3237305 C51.8583984,58.2260742 52.0439453,58.1772461 52.2392578,58.1772461 C52.6640625,58.1772461 52.9375,58.3286133 53.0595703,58.6313477 C53.1035156,58.7485352 53.1328125,58.8815918 53.1474609,59.0305176 C53.1621094,59.1794434 53.1694336,59.4711914 53.1694336,59.9057617 L53.1694336,59.9057617 L53.1694336,64 L55.3447266,64 L55.3447266,59.2026367 C55.3447266,58.5825195 55.3056641,58.1259766 55.2275391,57.8330078 C55.1494141,57.5400391 55.0029297,57.2861328 54.7880859,57.0712891 C54.5927734,56.8759766 54.3474121,56.7246094 54.052002,56.6171875 C53.7565918,56.5097656 53.4428711,56.4560547 53.1108398,56.4560547 C52.5981445,56.4560547 52.1696777,56.5585938 51.8254395,56.7636719 C51.4812012,56.96875 51.1943359,57.2910156 50.9648438,57.7304688 C50.7207031,57.2763672 50.4399414,56.9504395 50.1225586,56.7526855 C49.8051758,56.5549316 49.4047852,56.4560547 48.9213867,56.4560547 C48.3989258,56.4560547 47.9594727,56.5646973 47.6030273,56.7819824 C47.246582,56.9992676 46.9902344,57.3154297 46.8339844,57.7304688 L46.8339844,57.7304688 L46.8339844,56.6025391 L44.7832031,56.6025391 L44.7832031,64 L46.8999023,64 Z M60.3618164,64.1464844 C61.4165039,64.1464844 62.2563477,63.8120117 62.8813477,63.1430664 C63.0864258,62.9233398 63.2487793,62.704834 63.3684082,62.4875488 C63.4880371,62.2702637 63.6113281,61.96875 63.7382812,61.5830078 L63.7382812,61.5830078 L61.7607422,61.4511719 C61.6875,61.8271484 61.5373535,62.1140137 61.3103027,62.3117676 C61.083252,62.5095215 60.7915039,62.6083984 60.4350586,62.6083984 C60.0053711,62.6083984 59.6611328,62.4619141 59.4023438,62.1689453 C59.1435547,61.8759766 59.0141602,61.4902344 59.0141602,61.0117188 C59.0141602,60.8701172 59.019043,60.7553711 59.0288086,60.6674805 L59.0288086,60.6674805 L63.7822266,60.6674805 C63.7773438,60.0229492 63.730957,59.5126953 63.6430664,59.1367188 C63.5551758,58.7607422 63.4013672,58.387207 63.1816406,58.0161133 C62.9033203,57.5375977 62.5053711,57.157959 61.987793,56.8771973 C61.4702148,56.5964355 60.9038086,56.4560547 60.2885742,56.4560547 C59.2338867,56.4560547 58.3757324,56.8186035 57.7141113,57.5437012 C57.0524902,58.2687988 56.7216797,59.2099609 56.7216797,60.3671875 C56.7216797,61.5 57.0561523,62.4130859 57.7250977,63.1064453 C58.394043,63.7998047 59.2729492,64.1464844 60.3618164,64.1464844 Z M61.6362305,59.3930664 L59.0288086,59.3930664 C59.0825195,58.8754883 59.2192383,58.4934082 59.4389648,58.2468262 C59.6586914,58.0002441 59.9760742,57.8769531 60.3911133,57.8769531 C60.7866211,57.8769531 61.0820312,57.996582 61.2773438,58.2358398 C61.4726562,58.4750977 61.5922852,58.8608398 61.6362305,59.3930664 L61.6362305,59.3930664 Z M67.3344727,64 L67.3344727,59.847168 C67.3344727,59.3051758 67.4345703,58.8864746 67.6347656,58.5910645 C67.8349609,58.2956543 68.1206055,58.1479492 68.4916992,58.1479492 C68.8774414,58.1479492 69.1411133,58.309082 69.2827148,58.6313477 C69.3413086,58.7583008 69.3791504,58.8962402 69.3962402,59.045166 C69.4133301,59.1940918 69.421875,59.4614258 69.421875,59.847168 L69.421875,64 L71.5898438,64 L71.5898438,59.2612305 C71.5898438,58.2797852 71.4262695,57.5839844 71.0991211,57.1738281 C70.9135742,56.9492188 70.6657715,56.7734375 70.3557129,56.6464844 C70.0456543,56.5195312 69.7075195,56.4560547 69.3413086,56.4560547 C68.8237305,56.4560547 68.4123535,56.5537109 68.1071777,56.7490234 C67.802002,56.9443359 67.4931641,57.3105469 67.1806641,57.8476562 L67.1806641,57.8476562 L67.1806641,56.6025391 L65.1591797,56.6025391 L65.1591797,64 L67.3344727,64 Z M76.152832,64.168457 C76.3676758,64.168457 76.831543,64.1123047 77.5444336,64 L77.5444336,64 L77.5444336,62.3813477 C77.324707,62.4008789 77.0952148,62.4106445 76.855957,62.4106445 C76.4262695,62.4106445 76.1491699,62.3508301 76.0246582,62.2312012 C75.9001465,62.1115723 75.8378906,61.8417969 75.8378906,61.421875 L75.8378906,61.421875 L75.8378906,58.3017578 L77.4272461,58.3017578 L77.4272461,56.6025391 L75.8378906,56.6025391 L75.8378906,54.2661133 L73.9628906,54.4125977 L73.7797852,56.6025391 L72.4907227,56.6025391 L72.4907227,58.3017578 L73.6625977,58.3017578 L73.6625977,61.7514648 C73.6625977,62.6352539 73.8505859,63.2590332 74.2265625,63.6228027 C74.6025391,63.9865723 75.2446289,64.168457 76.152832,64.168457 Z"
        fill="#222222" fill-rule="nonzero" /&#62;
      &#60;rect fill="#D3374A" x="13" y="14" width="10" height="10" /&#62;
      &#60;rect fill="#222222" x="0" y="0" width="100" height="5" /&#62;
    &#60;/g&#62;
  &#60;/g&#62;
&#60;/svg&#62;
  &#60;/div&#62;

  &#60;div class="teaser-body"&#62;
    &#60;h1 class="teaser-title"&#62;
      &#60;a href="https://intranet.cardiff.ac.uk/staff/applications"&#62;Academic year&#60;/a&#62;
    &#60;/h1&#62;
    &#60;p class="teaser-link"&#62;
      &#60;a
        href="https://search.cardiff.ac.uk/s/redirect?collection=website-meta&#38;amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy&#38;amp;auth=cwPpsMmOPApYp93Sqjji7g&#38;amp;profile=_default&#38;amp;rank=1&#38;amp;query=%21null"&#62;https://www.cardiff.ac.uk/study&#60;/a&#62;
    &#60;/p&#62;
    &#60;span class="text-grey mb-5 d-inline-block"&#62;Web document&#60;/span&#62;

    &#60;p class="teaser-description"&#62;Example Word document in the public website search.&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;
&#60;div class="teaser teaser--document with-image"&#62;
  &#60;p class="teaser-category"&#62;&#60;svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"&#62;
  &#60;title&#62;Globe&#60;/title&#62;
  &#60;path d="M15,2a15,15,0,1,1,0,30A15,15,0,0,1,0,17,15,15,0,0,1,15,2ZM10.34,7.44L10,8a5.88,5.88,0,0,0-.31.63C9.53,9.06,9.31,9.53,9.16,10H14V4.16a2.78,2.78,0,0,0-.66.25,5,5,0,0,0-.69.41,6.52,6.52,0,0,0-1.22,1.09,10.24,10.24,0,0,0-1.09,1.53h0ZM16,10h4.84c-0.09-.22-0.16-0.47-0.25-0.69A12.87,12.87,0,0,0,20,8a5.49,5.49,0,0,1-.34-0.56,10.13,10.13,0,0,0-1.09-1.53,6.55,6.55,0,0,0-1.22-1.09,7.68,7.68,0,0,0-.66-0.41A3.67,3.67,0,0,0,16,4.16V10h0ZM5.81,7.81q-0.52.52-.94,1C4.59,9.22,4.28,9.63,4,10H7A15.68,15.68,0,0,1,8.09,7.44,11.33,11.33,0,0,1,9.41,5.28,11.54,11.54,0,0,0,7.5,6.38,10.52,10.52,0,0,0,5.81,7.81ZM23,10h3c-0.25-.37-0.56-0.78-0.84-1.16a13.7,13.7,0,0,0-.94-1A10.58,10.58,0,0,0,22.5,6.38a11.51,11.51,0,0,0-1.91-1.09,13.28,13.28,0,0,1,1.34,2.16A19,19,0,0,1,23,10h0ZM6.5,12H3a9,9,0,0,0-.62,2A10.61,10.61,0,0,0,2,16H6a14.66,14.66,0,0,1,.16-2.06c0.09-.66.19-1.31,0.31-1.94h0ZM14,12H8.56c-0.16.63-.25,1.31-0.34,2A10.67,10.67,0,0,0,8,16h6V12h0Zm2,0v4h6a14.19,14.19,0,0,0-.16-2c-0.12-.66-0.22-1.34-0.37-2H16Zm8,4h4a13.75,13.75,0,0,0-.31-2A11.21,11.21,0,0,0,27,12H23.5c0.13,0.63.22,1.28,0.31,1.94A14.51,14.51,0,0,1,24,16h0ZM3,22H6.5c-0.12-.62-0.22-1.28-0.31-1.94A14.51,14.51,0,0,1,6,18H2a10.6,10.6,0,0,0,.34,2A9,9,0,0,0,3,22H3Zm11-4H8a10.67,10.67,0,0,0,.19,2c0.09,0.66.19,1.34,0.34,2H14V18h0Zm2,4h5.44c0.16-.62.25-1.31,0.38-2A14.06,14.06,0,0,0,22,18H16v4Zm7.5,0H27a11.21,11.21,0,0,0,.66-2A13.9,13.9,0,0,0,28,18H24a14.66,14.66,0,0,1-.16,2.06c-0.09.66-.19,1.31-0.31,1.94h0ZM7,24H4c0.25,0.38.56,0.78,0.84,1.13a9.9,9.9,0,0,0,.94,1.06A10.58,10.58,0,0,0,7.5,27.63a11.51,11.51,0,0,0,1.91,1.09,11.33,11.33,0,0,1-1.31-2.16A15.79,15.79,0,0,1,7,24H7Zm2.12,0,0.28,0.69A7,7,0,0,0,10,26c0.09,0.22.22,0.41,0.31,0.59a9.78,9.78,0,0,0,1.09,1.5,6.78,6.78,0,0,0,1.22,1.13,3,3,0,0,0,.69.38,2,2,0,0,0,.66.28V24H9.16Zm10.5,2.56c0.09-.19.22-0.37,0.34-0.59s0.22-.41.31-0.62c0.19-.44.38-0.87,0.53-1.34H16v5.84a2.45,2.45,0,0,0,.69-0.28,3.51,3.51,0,0,0,.66-0.37,6.78,6.78,0,0,0,1.22-1.12,9.78,9.78,0,0,0,1.09-1.5h0Zm4.53-.37a10,10,0,0,0,.94-1.06c0.28-.34.59-0.75,0.84-1.12H23a19.07,19.07,0,0,1-1,2.56,13.28,13.28,0,0,1-1.34,2.16,11.54,11.54,0,0,0,1.91-1.09,10.52,10.52,0,0,0,1.69-1.44h0Z"
    transform="translate(0 -2)" /&#62;
&#60;/svg&#62; Document&#60;/p&#62;
  &#60;div class="teaser-image"&#62;
    &#60;img alt="" src="http://placehold.it/100x130"&#62;
  &#60;/div&#62;

  &#60;div class="teaser-body"&#62;
    &#60;h1 class="teaser-title"&#62;
      &#60;a href="https://intranet.cardiff.ac.uk/staff/applications"&#62;Academic year&#60;/a&#62;
    &#60;/h1&#62;
    &#60;p class="teaser-link"&#62;
      &#60;a
        href="https://search.cardiff.ac.uk/s/redirect?collection=website-meta&#38;amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy&#38;amp;auth=cwPpsMmOPApYp93Sqjji7g&#38;amp;profile=_default&#38;amp;rank=1&#38;amp;query=%21null"&#62;https://www.cardiff.ac.uk/study&#60;/a&#62;
    &#60;/p&#62;
    &#60;span class="text-grey mb-5 d-inline-block"&#62;PDF document&#60;/span&#62;
    &#60;p class="teaser-description"&#62;Example Word document in the public website search.&#60;/p&#62;
  &#60;/div&#62;
&#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
