<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  active"
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Timelines</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a><li class="nav-item"><a href="#With-header" class="nav-link">With header</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><div class="timeline">
  <section class="timeline-decade">
    <header class="timeline-decade-header">
      <h1 class="timeline-decade-title">1880s</h1>
    </header>
    <div class="timeline-decade-body">
      <div class="timeline-line"></div>
      <ol class="timeline-items">
        <li class="timeline-item float-left">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1883 <span><a href="https://web.archive.org/web/20191029060836/https://www.ucas.com/">UCAS Extra</a> opens</span></h2>
          </div>
          <div class="timeline-item-body">
            <img class="timeline-item-thumbnail" src="http://placehold.it/100x100">
            <p>Cardiff University is founded as University College of South Wales and Monmouthshire on October 24, 1883, prompting
              a public holiday. Crowds from the city and nearby mining communities joined the Town and Gown procession through
              the city, and the church bells rang all day.</p>
          </div>
        </li>
        <li class="timeline-item float-right">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1883 <small>Krakatoa erupts</small></h2>
          </div>
          <div class="timeline-item-body">
            <img class="timeline-item-thumbnail" src="http://placehold.it/100x100">
            <p>The volcano Krakatoa erupts in Indonesia, one of the largest and most powerful eruptions for centuries.</p>
          </div>
        </li>
      </ol>
    </div>
  </section>

  <section class="timeline-decade">
    <header class="timeline-decade-header">
      <h1 class="timeline-decade-title">1910s</h1>
    </header>
    <div class="timeline-decade-body">
      <div class="timeline-line"></div>
      <ol class="timeline-items">
        <li class="timeline-item float-left">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1906 <small>University founded</small></h2>
          </div>
          <div class="timeline-item-body">
            <p>The volcano Krakatoa erupts in Indonesia, one of the largest and most powerful eruptions for centuries.</p>
          </div>
        </li>
        <li class="timeline-item float-right">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1906 <small>University founded</small></h2>
          </div>
          <div class="timeline-item-body">
            <img class="timeline-item-thumbnail" src="http://placehold.it/100x100">
            <p>Cardiff University is founded as University College of South Wales and Monmouthshire on October 24</p>
          </div>
        </li>
        <li class="timeline-item  important float-left">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1906 <small>University founded</small></h2>
          </div>
          <div class="timeline-item-body">
            <img class="timeline-item-thumbnail" src="http://placehold.it/100x100">
            <p>Cardiff University is founded as University College of South Wales and Monmouthshire on October 24</p>
          </div>
        </li>
      </ol>
    </div>
  </section>

  <footer class="timeline-footer">
    <p class="footer-terminus">The present</p>
  </footer>

</div></div>
<pre class="prettyprint">&#60;div class="timeline"&#62;
  &#60;section class="timeline-decade"&#62;
    &#60;header class="timeline-decade-header"&#62;
      &#60;h1 class="timeline-decade-title"&#62;1880s&#60;/h1&#62;
    &#60;/header&#62;
    &#60;div class="timeline-decade-body"&#62;
      &#60;div class="timeline-line"&#62;&#60;/div&#62;
      &#60;ol class="timeline-items"&#62;
        &#60;li class="timeline-item float-left"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;1883 &#60;span&#62;&#60;a href="https://web.archive.org/web/20191029060836/https://www.ucas.com/"&#62;UCAS Extra&#60;/a&#62; opens&#60;/span&#62;&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;img class="timeline-item-thumbnail" src="http://placehold.it/100x100"&#62;
            &#60;p&#62;Cardiff University is founded as University College of South Wales and Monmouthshire on October 24, 1883, prompting
              a public holiday. Crowds from the city and nearby mining communities joined the Town and Gown procession through
              the city, and the church bells rang all day.&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
        &#60;li class="timeline-item float-right"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;1883 &#60;small&#62;Krakatoa erupts&#60;/small&#62;&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;img class="timeline-item-thumbnail" src="http://placehold.it/100x100"&#62;
            &#60;p&#62;The volcano Krakatoa erupts in Indonesia, one of the largest and most powerful eruptions for centuries.&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
      &#60;/ol&#62;
    &#60;/div&#62;
  &#60;/section&#62;

  &#60;section class="timeline-decade"&#62;
    &#60;header class="timeline-decade-header"&#62;
      &#60;h1 class="timeline-decade-title"&#62;1910s&#60;/h1&#62;
    &#60;/header&#62;
    &#60;div class="timeline-decade-body"&#62;
      &#60;div class="timeline-line"&#62;&#60;/div&#62;
      &#60;ol class="timeline-items"&#62;
        &#60;li class="timeline-item float-left"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;1906 &#60;small&#62;University founded&#60;/small&#62;&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;p&#62;The volcano Krakatoa erupts in Indonesia, one of the largest and most powerful eruptions for centuries.&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
        &#60;li class="timeline-item float-right"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;1906 &#60;small&#62;University founded&#60;/small&#62;&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;img class="timeline-item-thumbnail" src="http://placehold.it/100x100"&#62;
            &#60;p&#62;Cardiff University is founded as University College of South Wales and Monmouthshire on October 24&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
        &#60;li class="timeline-item  important float-left"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;1906 &#60;small&#62;University founded&#60;/small&#62;&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;img class="timeline-item-thumbnail" src="http://placehold.it/100x100"&#62;
            &#60;p&#62;Cardiff University is founded as University College of South Wales and Monmouthshire on October 24&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
      &#60;/ol&#62;
    &#60;/div&#62;
  &#60;/section&#62;

  &#60;footer class="timeline-footer"&#62;
    &#60;p class="footer-terminus"&#62;The present&#60;/p&#62;
  &#60;/footer&#62;

&#60;/div&#62;</pre>
  
<h2 id="With-header">With header</h2>
<p></p>
<div class="component-example"><div class="timeline">

  <header class="timeline-header">
    <h1 class="timeline-title">Human Genome Project</h1>
    <nav class="timeline-navigation">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="#decade-1980">1980s</a></li>
        <li class="nav-item"><a class="nav-link" href="#decade-1990">1990s</a></li>
        <li class="nav-item"><a class="nav-link" href="#decade-2000">2000s</a></li>
      </ul>
    </nav>
  </header>

  <section class="timeline-decade" id="decade-1980">
    <header class="timeline-decade-header">
      <h1 class="timeline-decade-title">1980s</h1>
    </header>
    <div class="timeline-decade-body">
      <div class="timeline-line"></div>
      <ol class="timeline-items">
        <li class="timeline-item float-left">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1984 <small>Project begins</small></h2>
          </div>
          <div class="timeline-item-body">
            <p>The project began with the culmination of several years of work supported by the US Department of Energy, in
              particular workshops in 1984[7] and 1986 and a subsequent initiative of the US Department of Energy.</p>
          </div>
        </li>
        <li class="timeline-item float-right">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1985</h2>
          </div>
          <div class="timeline-item-body">
            <p>Candidate technologies were already being considered for the proposed undertaking at least as early as 1985.</p>
          </div>
        </li>
      </ol>
    </div>
  </section>

  <section class="timeline-decade" id="decade-1990">
    <header class="timeline-decade-header">
      <h1 class="timeline-decade-title">1990s</h1>
    </header>
    <div class="timeline-decade-body">
      <div class="timeline-line"></div>
      <ol class="timeline-items">
        <li class="timeline-item important float-right">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">1996 <small>Healy resigns</small></h2>
          </div>
          <div class="timeline-item-body">
            <img class="timeline-item-thumbnail" src="http://sites.cardiff.ac.uk/uikit/files/2013/07/watson.jpg">
            <p class="lead">Largely due to his disagreement with his boss, Bernadine Healy, over the issue of patenting genes, Watson was
              forced to resign in 1992. He was replaced by Francis Collins in April 1993</p>
          </div>
        </li>
      </ol>
    </div>
  </section>

  <section class="timeline-decade" id="decade-2000">
    <header class="timeline-decade-header">
      <h1 class="timeline-decade-title">2000s</h1>
    </header>
    <div class="timeline-decade-body">
      <div class="timeline-line"></div>
      <ol class="timeline-items">
        <li class="timeline-item float-right">
          <div class="timeline-item-header">
            <h2 class="timeline-item-title">2000</h2>
          </div>
          <div class="timeline-item-body">
            <p>Due to widespread international cooperation and advances in the field of genomics (especially in sequence analysis),
              as well as major advances in computing technology, a 'rough draft' of the genome was finished in 2000 (announced
              jointly by U.S. President Bill Clinton and the British Prime Minister Tony Blair</p>
          </div>
        </li>
      </ol>
    </div>
  </section>

  <footer class="timeline-footer">
    <p class="footer-terminus">2006</p>
  </footer>

</div></div>
<pre class="prettyprint">&#60;div class="timeline"&#62;

  &#60;header class="timeline-header"&#62;
    &#60;h1 class="timeline-title"&#62;Human Genome Project&#60;/h1&#62;
    &#60;nav class="timeline-navigation"&#62;
      &#60;ul class="nav nav-pills"&#62;
        &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#decade-1980"&#62;1980s&#60;/a&#62;&#60;/li&#62;
        &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#decade-1990"&#62;1990s&#60;/a&#62;&#60;/li&#62;
        &#60;li class="nav-item"&#62;&#60;a class="nav-link" href="#decade-2000"&#62;2000s&#60;/a&#62;&#60;/li&#62;
      &#60;/ul&#62;
    &#60;/nav&#62;
  &#60;/header&#62;

  &#60;section class="timeline-decade" id="decade-1980"&#62;
    &#60;header class="timeline-decade-header"&#62;
      &#60;h1 class="timeline-decade-title"&#62;1980s&#60;/h1&#62;
    &#60;/header&#62;
    &#60;div class="timeline-decade-body"&#62;
      &#60;div class="timeline-line"&#62;&#60;/div&#62;
      &#60;ol class="timeline-items"&#62;
        &#60;li class="timeline-item float-left"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;1984 &#60;small&#62;Project begins&#60;/small&#62;&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;p&#62;The project began with the culmination of several years of work supported by the US Department of Energy, in
              particular workshops in 1984[7] and 1986 and a subsequent initiative of the US Department of Energy.&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
        &#60;li class="timeline-item float-right"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;1985&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;p&#62;Candidate technologies were already being considered for the proposed undertaking at least as early as 1985.&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
      &#60;/ol&#62;
    &#60;/div&#62;
  &#60;/section&#62;

  &#60;section class="timeline-decade" id="decade-1990"&#62;
    &#60;header class="timeline-decade-header"&#62;
      &#60;h1 class="timeline-decade-title"&#62;1990s&#60;/h1&#62;
    &#60;/header&#62;
    &#60;div class="timeline-decade-body"&#62;
      &#60;div class="timeline-line"&#62;&#60;/div&#62;
      &#60;ol class="timeline-items"&#62;
        &#60;li class="timeline-item important float-right"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;1996 &#60;small&#62;Healy resigns&#60;/small&#62;&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;img class="timeline-item-thumbnail" src="http://sites.cardiff.ac.uk/uikit/files/2013/07/watson.jpg"&#62;
            &#60;p class="lead"&#62;Largely due to his disagreement with his boss, Bernadine Healy, over the issue of patenting genes, Watson was
              forced to resign in 1992. He was replaced by Francis Collins in April 1993&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
      &#60;/ol&#62;
    &#60;/div&#62;
  &#60;/section&#62;

  &#60;section class="timeline-decade" id="decade-2000"&#62;
    &#60;header class="timeline-decade-header"&#62;
      &#60;h1 class="timeline-decade-title"&#62;2000s&#60;/h1&#62;
    &#60;/header&#62;
    &#60;div class="timeline-decade-body"&#62;
      &#60;div class="timeline-line"&#62;&#60;/div&#62;
      &#60;ol class="timeline-items"&#62;
        &#60;li class="timeline-item float-right"&#62;
          &#60;div class="timeline-item-header"&#62;
            &#60;h2 class="timeline-item-title"&#62;2000&#60;/h2&#62;
          &#60;/div&#62;
          &#60;div class="timeline-item-body"&#62;
            &#60;p&#62;Due to widespread international cooperation and advances in the field of genomics (especially in sequence analysis),
              as well as major advances in computing technology, a 'rough draft' of the genome was finished in 2000 (announced
              jointly by U.S. President Bill Clinton and the British Prime Minister Tony Blair&#60;/p&#62;
          &#60;/div&#62;
        &#60;/li&#62;
      &#60;/ol&#62;
    &#60;/div&#62;
  &#60;/section&#62;

  &#60;footer class="timeline-footer"&#62;
    &#60;p class="footer-terminus"&#62;2006&#60;/p&#62;
  &#60;/footer&#62;

&#60;/div&#62;</pre>
  

    </main>
  </div>
</div>
