<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  active"
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Validate</h1>
      <p class="lead"></p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Default" class="nav-link">Default</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Default">Default</h2>
<p></p>
<div class="component-example"><div class="validate">
  <p class="sq-form-errors-message">This is a Squiz form error message</p>

  <form class="form-horizontal" method="get" novalidate="novalidate">
    <fieldset>
      <legend>Test form</legend>

      <div class="control-group">
        <label class="control-label" for="firstname">First name</label>
        <div class="controls">
          <input type="text" id="firstname" name="firstname" class="col-md-3" required="" aria-required="true" />
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <input type="submit" name="submit" class="btn btn-primary" value="Submit" />
    </div>
  </form>

  <h3>Squiz form</h3>

  <form novalidate="novalidate">
    <fieldset class="sq-form-section">
      <legend class="sq-form-section-title">Personal details - name</legend>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q1">Title</label>
        <div class="sq-form-question-answer">
          <input type="text" name="q749271:q1" value="" size="5" maxlength="10" id="q749271_q1" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text sq-form-question-error">
        <label class="sq-form-question-title" for="q749271_q2">First name <abbr class="sq-form-required-field" title="required">*</abbr></label>
        <em class="sq-form-question-note">This is a Squiz note.</em>
        <div class="sq-form-question-answer">
          <input type="text" name="q749271:q2" value="" size="30" maxlength="300" id="q749271_q2" class="sq-form-field" />
        </div>
        <p id="error_749271_q2" class="sq-form-error">This field is required. Please enter a value.</p>
      </div>
      <div class="sq-form-question sq-form-question-text sq-form-question-error">
        <label class="sq-form-question-title" for="q749271_q3">Last name <abbr class="sq-form-required-field" title="required">*</abbr></label>
        <div class="sq-form-question-answer">
          <input type="text" name="q749271:q3" value="" size="30" maxlength="300" id="q749271_q3" class="sq-form-field" />
        </div>
        <p id="error_749271_q3" class="sq-form-error">This field is required. Please enter a value.</p>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q4"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q4" value="757776" size="30" maxlength="300" id="q749271_q4" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q5"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q5" value="Managing Finance I" size="30" maxlength="300" id="q749271_q5" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q6"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q6" value="165.00" size="30" maxlength="300" id="q749271_q6" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q7"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q7" value="BAM17A1361A" size="30" maxlength="300" id="q749271_q7" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q8"> </label>
        <div class="sq-form-question-answer">
          <input type="hidden" name="q749271:q8" value="5 October 2017" size="30" maxlength="300" id="q749271_q8" class="sq-form-field" />
        </div>
      </div>
      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q749271_q10"> </label>
        <div class="sq-form-question-answer">
          <input
            type="hidden"
            name="q749271:q10"
            value="https://wwwstaging.cardiff.ac.uk/part-time-courses-for-adults/courses/view/managing-finance-i"
            size="30"
            maxlength="300"
            id="q749271_q10"
            class="sq-form-field"
          />
        </div>
      </div>

      <div class="sq-form-question sq-form-question-text ">
        <label class="sq-form-question-title" for="q762617_q1"
          >Do you require any access arrangements, reasonable adjustments or additional support?</label
        >
        <em class="sq-form-question-note">For example, access to a lift, large print handouts, or extra time for assessment.</em>
        <div class="sq-form-question-answer"><textarea name="q762617:q1" cols="30" rows="5" id="q762617_q1" class="sq-form-field"></textarea></div>
      </div>
    </fieldset>

    <fieldset class="sq-form-section">
      <legend class="sq-form-section-title">Previous student</legend>
      <div class="sq-form-question sq-form-question-option-list ">
        <fieldset>
          <legend class="sq-form-question-title">Have you studied a short course with us before?</legend>
          <div class="sq-form-question-answer">
            <ul>
              <li>
                <input type="radio" name="q749369:q1" id="q749369_q1_0" value="0" class="sq-form-field" />
                <label for="q749369_q1_0">Yes</label>
              </li>
              <li>
                <input type="radio" name="q749369:q1" id="q749369_q1_1" value="1" class="sq-form-field" />
                <label for="q749369_q1_1">No</label>
              </li>
            </ul>
          </div>
        </fieldset>
      </div>
    </fieldset>
  </form>

  <form method="get" novalidate="novalidate">
    <fieldset id="fieldset-name">
      <legend>Name</legend>
      <div class="control-group error">
        <label>Title</label>
        <input
          class="input-block-level"
          type="text"
          style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;'
        />
        <span class="help-block">Please enter your title</span>
      </div>
      <div class="control-group">
        <label>First name</label>
        <input class="input-block-level input-error" type="text" value="Tom" />
      </div>
      <div class="control-group">
        <label>Last name</label>
        <input class="input-block-level" type="text" value="Jones" />
      </div>
      <button type="submit" class="btn btn-large btn-block btn-success">Continue</button>
    </fieldset>

    <fieldset id="fieldset-name">
      <legend>Date of birth</legend>

      <div class="control-group pull-left">
        <label>Day</label>
        <input class="col-md-1" type="number" min="1" max="31" />
      </div>
      <div class="control-group pull-left">
        <label>Month</label>
        <input class="col-md-1" type="number" min="1" max="12" />
      </div>
      <div class="control-group">
        <label>Year</label>
        <input class="col-md-2" type="number" />
      </div>
      <p class="help-block">Example: 10 03 1990</p>
    </fieldset>

    <fieldset>
      <legend>Do you have a Cardiff University account?</legend>
      <label id="account-yes" class="radio radio-outline">
        <input type="radio" name="account" value="yes" />
        Yes
      </label>
      <label id="account-no" class="radio radio-outline">
        <input type="radio" name="account" value="no" />
        No
      </label>

      <button id="button-continue" type="submit" class="btn btn-large btn-block btn-success hidden">Continue</button>
    </fieldset>
  </form>
</div>
</div>
<pre class="prettyprint">&#60;div class="validate"&#62;
  &#60;p class="sq-form-errors-message"&#62;This is a Squiz form error message&#60;/p&#62;

  &#60;form class="form-horizontal" method="get" novalidate="novalidate"&#62;
    &#60;fieldset&#62;
      &#60;legend&#62;Test form&#60;/legend&#62;

      &#60;div class="control-group"&#62;
        &#60;label class="control-label" for="firstname"&#62;First name&#60;/label&#62;
        &#60;div class="controls"&#62;
          &#60;input type="text" id="firstname" name="firstname" class="col-md-3" required="" aria-required="true" /&#62;
        &#60;/div&#62;
      &#60;/div&#62;
    &#60;/fieldset&#62;

    &#60;div class="form-actions"&#62;
      &#60;input type="submit" name="submit" class="btn btn-primary" value="Submit" /&#62;
    &#60;/div&#62;
  &#60;/form&#62;

  &#60;h3&#62;Squiz form&#60;/h3&#62;

  &#60;form novalidate="novalidate"&#62;
    &#60;fieldset class="sq-form-section"&#62;
      &#60;legend class="sq-form-section-title"&#62;Personal details - name&#60;/legend&#62;
      &#60;div class="sq-form-question sq-form-question-text "&#62;
        &#60;label class="sq-form-question-title" for="q749271_q1"&#62;Title&#60;/label&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input type="text" name="q749271:q1" value="" size="5" maxlength="10" id="q749271_q1" class="sq-form-field" /&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="sq-form-question sq-form-question-text sq-form-question-error"&#62;
        &#60;label class="sq-form-question-title" for="q749271_q2"&#62;First name &#60;abbr class="sq-form-required-field" title="required"&#62;*&#60;/abbr&#62;&#60;/label&#62;
        &#60;em class="sq-form-question-note"&#62;This is a Squiz note.&#60;/em&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input type="text" name="q749271:q2" value="" size="30" maxlength="300" id="q749271_q2" class="sq-form-field" /&#62;
        &#60;/div&#62;
        &#60;p id="error_749271_q2" class="sq-form-error"&#62;This field is required. Please enter a value.&#60;/p&#62;
      &#60;/div&#62;
      &#60;div class="sq-form-question sq-form-question-text sq-form-question-error"&#62;
        &#60;label class="sq-form-question-title" for="q749271_q3"&#62;Last name &#60;abbr class="sq-form-required-field" title="required"&#62;*&#60;/abbr&#62;&#60;/label&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input type="text" name="q749271:q3" value="" size="30" maxlength="300" id="q749271_q3" class="sq-form-field" /&#62;
        &#60;/div&#62;
        &#60;p id="error_749271_q3" class="sq-form-error"&#62;This field is required. Please enter a value.&#60;/p&#62;
      &#60;/div&#62;
      &#60;div class="sq-form-question sq-form-question-text "&#62;
        &#60;label class="sq-form-question-title" for="q749271_q4"&#62; &#60;/label&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input type="hidden" name="q749271:q4" value="757776" size="30" maxlength="300" id="q749271_q4" class="sq-form-field" /&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="sq-form-question sq-form-question-text "&#62;
        &#60;label class="sq-form-question-title" for="q749271_q5"&#62; &#60;/label&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input type="hidden" name="q749271:q5" value="Managing Finance I" size="30" maxlength="300" id="q749271_q5" class="sq-form-field" /&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="sq-form-question sq-form-question-text "&#62;
        &#60;label class="sq-form-question-title" for="q749271_q6"&#62; &#60;/label&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input type="hidden" name="q749271:q6" value="165.00" size="30" maxlength="300" id="q749271_q6" class="sq-form-field" /&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="sq-form-question sq-form-question-text "&#62;
        &#60;label class="sq-form-question-title" for="q749271_q7"&#62; &#60;/label&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input type="hidden" name="q749271:q7" value="BAM17A1361A" size="30" maxlength="300" id="q749271_q7" class="sq-form-field" /&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="sq-form-question sq-form-question-text "&#62;
        &#60;label class="sq-form-question-title" for="q749271_q8"&#62; &#60;/label&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input type="hidden" name="q749271:q8" value="5 October 2017" size="30" maxlength="300" id="q749271_q8" class="sq-form-field" /&#62;
        &#60;/div&#62;
      &#60;/div&#62;
      &#60;div class="sq-form-question sq-form-question-text "&#62;
        &#60;label class="sq-form-question-title" for="q749271_q10"&#62; &#60;/label&#62;
        &#60;div class="sq-form-question-answer"&#62;
          &#60;input
            type="hidden"
            name="q749271:q10"
            value="https://wwwstaging.cardiff.ac.uk/part-time-courses-for-adults/courses/view/managing-finance-i"
            size="30"
            maxlength="300"
            id="q749271_q10"
            class="sq-form-field"
          /&#62;
        &#60;/div&#62;
      &#60;/div&#62;

      &#60;div class="sq-form-question sq-form-question-text "&#62;
        &#60;label class="sq-form-question-title" for="q762617_q1"
          &#62;Do you require any access arrangements, reasonable adjustments or additional support?&#60;/label
        &#62;
        &#60;em class="sq-form-question-note"&#62;For example, access to a lift, large print handouts, or extra time for assessment.&#60;/em&#62;
        &#60;div class="sq-form-question-answer"&#62;&#60;textarea name="q762617:q1" cols="30" rows="5" id="q762617_q1" class="sq-form-field"&#62;&#60;/textarea&#62;&#60;/div&#62;
      &#60;/div&#62;
    &#60;/fieldset&#62;

    &#60;fieldset class="sq-form-section"&#62;
      &#60;legend class="sq-form-section-title"&#62;Previous student&#60;/legend&#62;
      &#60;div class="sq-form-question sq-form-question-option-list "&#62;
        &#60;fieldset&#62;
          &#60;legend class="sq-form-question-title"&#62;Have you studied a short course with us before?&#60;/legend&#62;
          &#60;div class="sq-form-question-answer"&#62;
            &#60;ul&#62;
              &#60;li&#62;
                &#60;input type="radio" name="q749369:q1" id="q749369_q1_0" value="0" class="sq-form-field" /&#62;
                &#60;label for="q749369_q1_0"&#62;Yes&#60;/label&#62;
              &#60;/li&#62;
              &#60;li&#62;
                &#60;input type="radio" name="q749369:q1" id="q749369_q1_1" value="1" class="sq-form-field" /&#62;
                &#60;label for="q749369_q1_1"&#62;No&#60;/label&#62;
              &#60;/li&#62;
            &#60;/ul&#62;
          &#60;/div&#62;
        &#60;/fieldset&#62;
      &#60;/div&#62;
    &#60;/fieldset&#62;
  &#60;/form&#62;

  &#60;form method="get" novalidate="novalidate"&#62;
    &#60;fieldset id="fieldset-name"&#62;
      &#60;legend&#62;Name&#60;/legend&#62;
      &#60;div class="control-group error"&#62;
        &#60;label&#62;Title&#60;/label&#62;
        &#60;input
          class="input-block-level"
          type="text"
          style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;'
        /&#62;
        &#60;span class="help-block"&#62;Please enter your title&#60;/span&#62;
      &#60;/div&#62;
      &#60;div class="control-group"&#62;
        &#60;label&#62;First name&#60;/label&#62;
        &#60;input class="input-block-level input-error" type="text" value="Tom" /&#62;
      &#60;/div&#62;
      &#60;div class="control-group"&#62;
        &#60;label&#62;Last name&#60;/label&#62;
        &#60;input class="input-block-level" type="text" value="Jones" /&#62;
      &#60;/div&#62;
      &#60;button type="submit" class="btn btn-large btn-block btn-success"&#62;Continue&#60;/button&#62;
    &#60;/fieldset&#62;

    &#60;fieldset id="fieldset-name"&#62;
      &#60;legend&#62;Date of birth&#60;/legend&#62;

      &#60;div class="control-group pull-left"&#62;
        &#60;label&#62;Day&#60;/label&#62;
        &#60;input class="col-md-1" type="number" min="1" max="31" /&#62;
      &#60;/div&#62;
      &#60;div class="control-group pull-left"&#62;
        &#60;label&#62;Month&#60;/label&#62;
        &#60;input class="col-md-1" type="number" min="1" max="12" /&#62;
      &#60;/div&#62;
      &#60;div class="control-group"&#62;
        &#60;label&#62;Year&#60;/label&#62;
        &#60;input class="col-md-2" type="number" /&#62;
      &#60;/div&#62;
      &#60;p class="help-block"&#62;Example: 10 03 1990&#60;/p&#62;
    &#60;/fieldset&#62;

    &#60;fieldset&#62;
      &#60;legend&#62;Do you have a Cardiff University account?&#60;/legend&#62;
      &#60;label id="account-yes" class="radio radio-outline"&#62;
        &#60;input type="radio" name="account" value="yes" /&#62;
        Yes
      &#60;/label&#62;
      &#60;label id="account-no" class="radio radio-outline"&#62;
        &#60;input type="radio" name="account" value="no" /&#62;
        No
      &#60;/label&#62;

      &#60;button id="button-continue" type="submit" class="btn btn-large btn-block btn-success hidden"&#62;Continue&#60;/button&#62;
    &#60;/fieldset&#62;
  &#60;/form&#62;
&#60;/div&#62;
</pre>
  

    </main>
  </div>
</div>
