$highlightIconWidth: map-get($svgWidths, 'lg')
$highlightIconSMWidth: 20px
$highlightIconLGWidth: map-get($svgWidths, 'xxl')
$highlightIconRight: $baseUnit*2
$highlightIconSMRight: $baseUnit*1.5

  
.highlight
  border-bottom: ($baseUnit * 0.1) solid $colourGreyLighter
  display: flex
  flex-direction: row
  margin-bottom: ($baseUnit * 2)
  flex-basis: 100%

  .icon
    @include square($highlightIconWidth)
    flex-shrink: 0
    margin-right: $highlightIconRight
 
  &-body
    width: calc(100% - #{$highlightIconSMRight + $highlightIconWidth})
    
    .highlight-title
      font-family: $boldFontFamily
      font-size: map-get($headingFontSizes, 'normal')
      line-height: map-get($headingLineHeights, 'normal')
      margin-bottom: $baseUnit
  &-sm
    .icon
      @include square($highlightIconSMWidth)
      margin-top: $baseUnit*0.4

    .highlight-title
      font-size: map-get($fontSizes, 'normal')
      line-height: map-get($lineHeights, 'normal')
      margin-bottom: 0


    .highlight-body
      width: calc(100% - #{$highlightIconSMRight + $highlightIconSMWidth})
      font-size: map-get($fontSizes, 'sm')
      line-height: map-get($lineHeights, 'sm')

      p:last-child  
        margin-bottom: 0

  &-lg
    .icon
      @include square($highlightIconLGWidth)

    .highlight-body
      width: calc(100% - #{$highlightIconRight + $highlightIconLGWidth})

      .highlight-title
        margin-bottom: $baseUnit*0.5

      p:last-child
        margin-bottom: 0