.section
  padding: $baseUnit*5 0
  
  &-full-width
    margin-right: -$baseUnit*2
    margin-left: -$baseUnit*2

    .container
      padding-left: $baseUnit*2
      padding-right: $baseUnit*2

@import 'section-md-up'