<!--endnoindex-->
<main id="content" class="content">

  <!--[{"class":"col-md-12","URL":"https://www.cardiff.ac.uk/business-school","showTitle":true,"imageHTML":"
<div class="box-header">
  <img class="lazy" src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=368&ar=16:9&auto=compress&fit=crop"
    data-src="https://cardiff.imgix.net/__data/assets/image/0009/1722546/Business-School-student.jpg?w=368&ar=16:9&auto=format&fit=crop&q=60"
    data-srcset="https://cardiff.imgix.net/__data/assets/image/0009/1722546/Business-School-student.jpg?w=368&ar=16:9&auto=format&fit=crop&q=60 368w,
      https://cardiff.imgix.net/__data/assets/image/0009/1722546/Business-School-student.jpg?w=291&ar=16:9&auto=format&fit=crop&q=60 292w,
      https://cardiff.imgix.net/__data/assets/image/0009/1722546/Business-School-student.jpg?w=702&ar=16:9&auto=format&fit=crop&q=60 702w"
    sizes="(max-width: 767px) 702px, (max-width: 980px) 702px, (max-width: 1199px) 291px, (min-width: 1200px) 368px"
    alt="">
</div>
","schoolName":"Cardiff Business School","teaser":"We&#039;re an AACSB International accredited Business School with a clear purpose: to make a difference in the communities of Wales and the world.","relatedLinks":[{"isWelsh":false,"name":"Work experience","URL":"https://www.cardiff.ac.uk/business-school/about-us/careers-and-employability/work-experience","URLWelsh":"https://www.cardiff.ac.uk/cy/business-school/about-us/careers-and-employability/work-experience"},{"isWelsh":false,"name":"International exchange","URL":"https://www.cardiff.ac.uk/business-school/courses/undergraduate/international-exchange","URLWelsh":"https://www.cardiff.ac.uk/cy/business-school/courses/undergraduate/international-exchange"},{"isWelsh":false,"name":"Public value","URL":"https://www.cardiff.ac.uk/business-school/about-us/public-value","URLWelsh":"https://www.cardiff.ac.uk/cy/business-school/about-us/public-value"}],"crm":{"url":"https://enquiries.cardiff.ac.uk/enquiry","title":"Get in touch"},"contact":{"email":"studybusiness@cardiff.ac.uk","number":"+44 (0)29 2087 4674"},"location":{"url":"https://www.cardiff.ac.uk/business-school","school":"Cardiff Business School","assetid":24320,"code":"CARBS","name":"Aberconway Building","address1":"Colum Road","hasAddress1":true,"address2":"Cathays","hasAddress2":true,"city":"Cardiff","hasCity":true,"postcode":"CF10 3EU","hasPostcode":true}}]-->
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-12">
        <h1 id="page-title" class="colour-red">Accounting and Finance (MSc) </h1>
        <ul class="list list-no-disc">
          <li><strong>Duration:</strong> 1 year</li>
          <li><strong>Mode:</strong> Full time</li>
        </ul>
      </div>
      <div class="col-md-12">
        <hr class="mt-0 mb-20">
      </div>
      <div class="col-md-12">
        <div class="well">
          <div class="row">
            <div class="col-md-8">
              <h2>Make an application</h2>
              <p class="mb-20 mb-md-0">You will need to apply for this course through one of our partners.</p>
            </div>
            <div class="col-md-4"> <a
                href="https://www.cardiff.ac.uk/study/postgraduate/applying/non-standard-applications"
                class="btn btn-success btn-block ga-event" data-category="postgraduate-taught-course"
                data-action="apply - Non-standard" data-label="PFMSACFA - Accounting and Finance (MSc)">How to
                apply</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="image mt-30">
          <picture class="w-100">
            <source media="(min-width: 1200px)"
              srcset="https://cardiff.imgix.net/__data/assets/image/0007/1448989/MChem-image.jpg?w=1170&amp;h=420&amp;auto=format&amp;fit=crop">
            <source media="(min-width: 980px)"
              srcset="https://cardiff.imgix.net/__data/assets/image/0007/1448989/MChem-image.jpg?w=940&amp;h=420&amp;auto=format&amp;fit=crop">
            <source media="(min-width: 768px)"
              srcset="https://cardiff.imgix.net/__data/assets/image/0007/1448989/MChem-image.jpg?w=768&amp;h=407&amp;auto=format&amp;fit=crop">
            <source media="(min-width: 640px)"
              srcset="https://cardiff.imgix.net/__data/assets/image/0007/1448989/MChem-image.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop">
            <source media="(min-width: 1px)"
              srcset="https://cardiff.imgix.net/__data/assets/image/0007/1448989/MChem-image.jpg?w=502&amp;h=282&amp;q=60&amp;fit=crop&amp;auto=format">
            <img
              src="https://cardiff.imgix.net/__data/assets/image/0007/1448989/MChem-image.jpg?w=1170&amp;h=420&amp;auto=format&amp;fit=crop"
              alt="Phials of green liquid" class="w-100"> </picture>
        </section>
      </div>
    </div>
  </div>
  <div class="container mt-20">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="highlight border-0 highlight-sm"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 106.42 104.74">
            <title>deadline-date</title>
            <path d="M612.11,378.18c-11.54-11.54-22.79-.06-22.79-.06L612.21,401S623.28,389.34,612.11,378.18Z"
              transform="translate(-512 -371.35)"
              style="fill:none;stroke:#bc9d59;stroke-miterlimit:10;stroke-width:2.645830045285427px" />
            <line x1="82.5" y1="23.99" x2="87.6" y2="18.89"
              style="fill:none;stroke:#bc9d59;stroke-miterlimit:10;stroke-width:2.645830045285427px" />
            <path d="M518.31,378.18c11.54-11.54,22.79-.06,22.79-.06L518.21,401S507.15,389.34,518.31,378.18Z"
              transform="translate(-512 -371.35)"
              style="fill:none;stroke:#bc9d59;stroke-miterlimit:10;stroke-width:2.645830045285427px" />
            <line x1="23.92" y1="23.99" x2="18.82" y2="18.89"
              style="fill:none;stroke:#bc9d59;stroke-miterlimit:10;stroke-width:2.645830045285427px" />
            <circle cx="53.08" cy="52.5" r="40"
              style="fill:none;stroke:#2f2e2b;stroke-miterlimit:10;stroke-width:4px" />
            <line x1="53.08" y1="2.5" x2="53.08" y2="12.5"
              style="fill:none;stroke:#2f2e2b;stroke-miterlimit:10;stroke-width:4px" />
            <path d="M555.08,376.35h20c3.22,0,3.22-5,0-5h-20c-3.22,0-3.22,5,0,5Z" transform="translate(-512 -371.35)"
              style="fill:#2f2e2b" />
            <path
              d="M580.4,462.53l11.46,11.31,1.63,1.6a2.25,2.25,0,0,0,3.18-3.18L585.21,461l-1.62-1.61a2.25,2.25,0,0,0-3.19,3.18Z"
              transform="translate(-512 -371.35)" style="fill:#2f2e2b" />
            <path
              d="M546.49,459.35,535,470.66l-1.63,1.6a2.25,2.25,0,1,0,3.19,3.18L548,464.14l1.63-1.61a2.25,2.25,0,0,0-3.18-3.18Z"
              transform="translate(-512 -371.35)" style="fill:#2f2e2b" />
            <path d="M562.58,404.85v20c0,3.22,5,3.22,5,0v-20c0-3.22-5-3.22-5,0Z" transform="translate(-512 -371.35)"
              style="fill:#2f2e2c" />
            <path
              d="M567.24,423.8l-14.53-23.95-2-3.35c-1.67-2.75-6-.24-4.32,2.52l14.53,24,2,3.35c1.67,2.74,6,.23,4.32-2.53Z"
              transform="translate(-512 -371.35)" style="fill:#2f2e2c" />
          </svg>
          <div class="highlight-body">
            <p class="highlight-title">Deadline date</p>
            <p>Deadline for applications is 10 April</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="highlight border-0 highlight-sm"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 280.7 265.78">
            <title>conversion-course</title>
            <path
              d="M310.73,586.56l-14.82,20.81,30.71,25.39c-12.05-.19-27.25-.77-45-2.15-16.82-1.3-29.77-10.69-38.94-23.58A68.89,68.89,0,0,1,232.91,635,74.17,74.17,0,0,0,279.62,656c20.16,1.56,37.08,2.14,50.09,2.27L295,685.1l15.75,20.12,77.82-60.12Z"
              transform="translate(-107.85 -439.44)" style="fill:#b18e46;fill-rule:evenodd" />
            <path
              d="M204.69,500.78C185,483.22,154.45,472.7,125.85,472.7a106.74,106.74,0,0,0-18,1.48l4.36,25.13c25-4.29,57.44,4.51,75.38,20.47a43.91,43.91,0,0,1,9.15,11A125.11,125.11,0,0,1,211,507.09a76.81,76.81,0,0,0-6.32-6.31"
              transform="translate(-107.85 -439.44)" style="fill:#b18e46;fill-rule:evenodd" />
            <path
              d="M311,439.44,295.2,459.57,329.71,485c-13,.14-29.92.72-50.09,2.28-58.36,4.53-81.81,68.63-79.28,110.51.55,9.07-3.74,17.73-12.75,25.74-17.94,16-50.35,24.77-75.38,20.48l-4.36,25.13a106.74,106.74,0,0,0,18,1.48c28.6,0,59.1-10.52,78.84-28.08,14.93-13.28,22.28-29.28,21.25-46.27-2-33.07,16.24-80.5,55.67-83.57,17.76-1.38,33-2,45-2.14l-30.7,25.29,14.81,20.81,77.82-58.45Z"
              transform="translate(-107.85 -439.44)" style="fill:#b18e45;fill-rule:evenodd" />
          </svg>
          <div class="highlight-body">
            <p class="highlight-title">Conversion course</p>
            <p>This is a <a href="https://www.cardiff.ac.uk/study/postgraduate/taught/conversion-courses">conversion
                course</a>. No prior knowledge or degree in the subject is required.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="highlight border-0 highlight-sm"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 152.32 152.3">
            <title>under-review</title>
            <path
              d="M520,136.15a63.87,63.87,0,0,1,55.44,32.24,64.76,64.76,0,0,0,10.7-6A76.12,76.12,0,0,0,443.85,200h12.3A63.92,63.92,0,0,1,520,136.15Z"
              transform="translate(-443.85 -123.85)" style="fill:#ae8b3f" />
            <path
              d="M519.85,263.85a63.87,63.87,0,0,1-55.44-32.24,64.76,64.76,0,0,0-10.7,6A76.12,76.12,0,0,0,596,200H583.7A63.92,63.92,0,0,1,519.85,263.85Z"
              transform="translate(-443.85 -123.85)" style="fill:#ae8b3f" />
            <polygon points="4.83 91.69 0.13 139.65 12.68 140.88 15.14 110.12 44.63 119.82 49.32 108.34 4.83 91.69"
              style="fill:#ae8b3f" />
            <polygon points="147.61 59.88 152.32 11.92 139.77 10.69 137.3 41.45 107.81 31.75 103.13 43.23 147.61 59.88"
              style="fill:#ae8b3f" />
          </svg>
          <div class="highlight-body">
            <p class="highlight-title">This course is under review</p>
            <p>You can still apply. We'll contact offer holders and update this page if any elements of the
              programme change.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="highlight border-0 highlight-sm"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 102.5129 112.5072">
            <title>calendar</title>
            <path
              d="M97.1681,10.6633l-.5453-.0064-.1009,8.6167a6.5378,6.5378,0,0,1-6.6063,6.4533l-2.6334-.0308A6.5379,6.5379,0,0,1,80.8284,19.09l.1009-8.6167L59.7,10.2245l-.1009,8.6167a6.5378,6.5378,0,0,1-6.6063,6.4533l-2.6334-.0308a6.5379,6.5379,0,0,1-6.4538-6.6063l.1009-8.6167L23.3123,9.7984l-.1009,8.6166a6.5379,6.5379,0,0,1-6.6064,6.4534l-2.6334-.0308a6.538,6.538,0,0,1-6.4538-6.6064l.1009-8.6166L6.5374,9.6019a5.4143,5.4143,0,0,0-5.471,5.3444L0,105.9744a5.4144,5.4144,0,0,0,5.3444,5.4711l90.6306,1.0613a5.4144,5.4144,0,0,0,5.4711-5.3444l1.066-91.0281A5.4143,5.4143,0,0,0,97.1681,10.6633ZM25.4036,105.6711,6.0159,105.444l.2254-19.2457,19.393.2271Zm.274-22.8512L6.2835,82.5928l.2372-20.2564,19.4.2272Zm.286-23.8617L6.5629,58.731l.2607-22.2586L26.2305,36.7Zm22.852,46.987-19.8066-.2319L29.24,86.4676,49.0463,86.7Zm.274-22.8511-19.8066-.232.2429-20.2562,19.8065.2319Zm.286-23.8617L29.5691,59l.2668-22.2585,19.8066.232Zm22.852,46.987-19.8066-.2319.2307-19.2457,19.8066.2319Zm.274-22.8511-19.8066-.232L52.9378,62.88l19.8066.232Zm.286-23.8618L52.981,59.2746l.2669-22.2585,19.8066.232ZM95.445,106.4913l-19.6119-.23.2307-19.2457,19.6066.23ZM95.7126,83.64l-19.6055-.23L76.35,63.1542l19.6.2295Zm.2795-23.8618-19.599-.23L76.66,37.29l19.5927.2294Z"
              style="fill:#383735" />
            <path
              d="M19.7219,2.99A2.9276,2.9276,0,0,0,16.8318.031L14.1984,0a2.928,2.928,0,0,0-2.9591,2.89l-.1805,15.4113A2.928,2.928,0,0,0,13.9494,21.26l2.6334.0308a2.9276,2.9276,0,0,0,2.9586-2.89"
              style="fill:#bd9e5e" />
            <path
              d="M56.1733,3.4166a2.9276,2.9276,0,0,0-2.89-2.9587L50.65.4271a2.928,2.928,0,0,0-2.9591,2.89L47.51,18.7285a2.928,2.928,0,0,0,2.8906,2.9586l2.6334.0309a2.9276,2.9276,0,0,0,2.9586-2.89"
              style="fill:#bd9e5e" />
            <path
              d="M92.83,3.8458A2.9276,2.9276,0,0,0,89.94.8872L87.3064.8564a2.9279,2.9279,0,0,0-2.959,2.89l-.18,15.4113a2.928,2.928,0,0,0,2.8906,2.9586l2.6334.0309a2.9276,2.9276,0,0,0,2.9586-2.89"
              style="fill:#bd9e5e" />
          </svg>
          <div class="highlight-body">
            <p class="highlight-title">Open day</p>
            <p>Experience the Univeristy and the city on our next <a
                href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days">Open Day</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-section sticky-top mt-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="nav-section-title">Accounting and Finance (MSc) </h3> <span class="nav-section-subtitle">Full
            time</span>
          <nav class="navbar">
            <ul class="nav">
              <li class="nav-item active"> <a href="#overview" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Why study this course">Why study this
                  course</a> </li>
              <li class="nav-item"> <a href="#admission" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Admission criteria">Admission criteria</a>
              </li>
              <li class="nav-item"> <a href="#structure" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Course structure">Course structure</a>
              </li>
              <li class="nav-item"> <a href="#assessment" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Learning and assessment">Learning and
                  assessment</a> </li>
              <li class="nav-item"> <a href="#fees" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Tuition fees">Tuition fees</a> </li>
              <li class="nav-item"> <a href="#careers" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Careers prospects">Careers prospects</a>
              </li>
              <li class="nav-item"> <a href="#fieldwork" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Fieldwork">Fieldwork</a> </li>
              <li class="nav-item"> <a href="#funding" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Funding">Funding</a> </li>
              <li class="nav-item"> <a href="#next-steps" class="nav-link ga-event" data-action="menu"
                  data-category="postgraduate-taught-course" data-label="Next steps">Next steps</a> </li>
              <li class="dropdown dropdown-more nav-item invisible"> <a href="#" class="nav-link dropdown-toggle"
                  aria-label="More course sections">More</a>
                <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
              </li>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="overview" class="page-section-heading">Why study this course</h2>
        </div>
        <div class="col-12 col-lg-8">
          <p class="lead"></p>
          <p>The MSc in Accounting and Finance has been designed to provide you with the breadth and depth of
            knowledge and expertise necessary to cope with the ever-changing financial environment.</p>

          <p>The course is designed to provide you with comprehensive and rigorous training in advanced accounting
            and finance.</p>

          <p>You will gain a solid foundation in both accounting and finance with the ability to select optional
            modules in the second semester which are tailored to your interests. You will also have the opportunity
            to focus on international aspects of Accounting and Finance.</p>

          <p>This is a modular, research-led degree delivered by experienced academic and professional staff with
            international research profiles.</p>

          <p>This programme provides excellent training for those who wish to pursue doctoral level research with a
            view to an academic of research-orientated career.</p>
          <hr>
          <p>We're committed to delivering programmes that are innovative and relevant, providing the best learning
            outcomes and career prospects for our students. In light of this, we're currently reviewing some
            elements of this programme. As such, the details shown are subject to change and indicative only. You
            can still apply now. We'll update this page and contact all offer holders when the review is complete to
            confirm any changes.</p>
        </div>
        <div class="col-lg-4">
          <div class="box">
            <div class="box-header">
              <img class="lazy"
                src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=368&ar=16:9&auto=compress&fit=crop"
                data-src="https://cardiff.imgix.net/__data/assets/image/0009/1722546/Business-School-student.jpg?w=368&ar=16:9&auto=format&fit=crop&q=60"
                data-srcset="https://cardiff.imgix.net/__data/assets/image/0009/1722546/Business-School-student.jpg?w=368&ar=16:9&auto=format&fit=crop&q=60 368w,
      https://cardiff.imgix.net/__data/assets/image/0009/1722546/Business-School-student.jpg?w=291&ar=16:9&auto=format&fit=crop&q=60 292w,
      https://cardiff.imgix.net/__data/assets/image/0009/1722546/Business-School-student.jpg?w=702&ar=16:9&auto=format&fit=crop&q=60 702w"
                sizes="(max-width: 767px) 702px, (max-width: 980px) 702px, (max-width: 1199px) 291px, (min-width: 1200px) 368px"
                alt="">
            </div>
            <div class="row box-group with-title">
              <div class="col-md-12">
                <div class="box-body">
                  <p class="box-title-suffix">Where you'll study</p>
                  <h2 class="box-title"><a href="https://www.cardiff.ac.uk/business-school" class="ga-event"
                      data-category="postgraduate-taught-course" data-action="school-title"
                      data-label="Cardiff Business School https://www.cardiff.ac.uk/business-school">Cardiff
                      Business School</a></h2>
                  <p>We&#039;re an AACSB International accredited Business School with a clear purpose: to make a
                    difference in the communities of Wales and the world.</p>
                  <ul class="list list-links">
                    <li><a
                        href="https://www.cardiff.ac.uk/business-school/about-us/careers-and-employability/work-experience"
                        class="ga-event" data-category="postgraduate-taught-course" data-action="school-related"
                        data-label="Work experience https://www.cardiff.ac.uk/business-school/about-us/careers-and-employability/work-experience">Work
                        experience<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                          <title>Chevron right</title>
                          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                        </svg></a></li>
                    <li><a href="https://www.cardiff.ac.uk/business-school/courses/undergraduate/international-exchange"
                        class="ga-event" data-category="postgraduate-taught-course" data-action="school-related"
                        data-label="International exchange https://www.cardiff.ac.uk/business-school/courses/undergraduate/international-exchange">International
                        exchange<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                          <title>Chevron right</title>
                          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                        </svg></a></li>
                    <li><a href="https://www.cardiff.ac.uk/business-school/about-us/public-value" class="ga-event"
                        data-category="postgraduate-taught-course" data-action="school-related"
                        data-label="Public value https://www.cardiff.ac.uk/business-school/about-us/public-value">Public
                        value<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                          <title>Chevron right</title>
                          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                        </svg></a></li>
                  </ul>
                  <ul class="list list-icons">
                    <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.1548 67.7598">
                        <title>icon-chat</title>
                        <circle cx="22.1341" cy="33.662" r="4.4162" style="fill:#bd9e5e" />
                        <circle cx="33.423" cy="33.662" r="4.4162" style="fill:#bd9e5e" />
                        <circle cx="44.712" cy="33.662" r="4.4162" style="fill:#bd9e5e" />
                        <path
                          d="M0,67.76,4.6475,47.7715A32.2389,32.2389,0,1,1,32.8989,64.5107a31.9633,31.9633,0,0,1-12.6362-2.5976ZM32.8989,3.5459A28.6722,28.6722,0,0,0,8.0649,46.6123l.3516.6065L4.8223,62.6777l15.7-4.5312.5942.2685A28.7012,28.7012,0,1,0,32.8989,3.5459Z"
                          style="fill:#383735" />
                      </svg><a class="ga-event" data-category="postgraduate-taught-course"
                        data-action="school-contact-crm" data-label="PFMSACFA -  Accounting and Finance (MSc)"
                        href="https://enquiries.cardiff.ac.uk/enquiry">Get in touch</a></li>
                    <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                        <title>Telephone</title>
                        <path
                          d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                          transform="translate(0 -3.09)" />
                      </svg><a href="tel:+44 (0)29 2087 4674" class="ga-event"
                        data-category="postgraduate-taught-course" data-action="school-contact-number"
                        data-label="PFMSACFA - +44 (0)29 2087 4674">+44 (0)29 2087 4674</a></li>
                    <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 32">
                        <title>Marker</title>
                        <path
                          d="M15.94,32l1.59-2.28c1-1.53,2.19-3.34,3.44-5.47C23.47,20,26,15,26,11.88a12.55,12.55,0,0,0-1.56-6.81C22.31,1.84,19.63.47,17.53,0.19L15.94,0l-1.53.19A9.61,9.61,0,0,0,11,1.53C8.47,3,6,6,6,11.94a14.49,14.49,0,0,0,1.56,5.66,86.84,86.84,0,0,0,6.84,12.09C15.44,31.22,15.94,32,15.94,32ZM16,6a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,3.82,3.82,0,0,1-2.81-1.19A3.82,3.82,0,0,1,12,10,4,4,0,0,1,16,6Z"
                          transform="translate(-6 0)" />
                      </svg>Colum Road, Cathays, Cardiff, CF10 3EU</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group with-background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="admission" class="page-section-heading">Admission criteria</h2>
        </div>
        <div class="offset-md-1 col-md-10">
          <p>This is a conversion course. Conversion courses allow you to study a subject unrelated to your
            undergraduate degree or current career, and support you with a change of career path. No prior knowledge
            or degree in the subject is required.</p>
          <p>Applicants are expected to have a minimum of a 2:1 (GPA 3.0/4.0) at undergraduate level in accounting
            and/or finance, from a recognised institution, which includes the following modules: two financial
            accounting modules, two management accounting modules and two finance modules.</p>

          <p>Applicants whose first language is not English are required to obtain a minimum IELTS score of 6.5
            overall with a minimum of 6.0 in each sub scores (or an equivalent English language qualification).</p>
          <p>Find out more about <a
              href="https://www.cardiff.ac.uk/study/international/english-language-requirements/postgraduate">English
              language requirements</a>.</p>
          <p class="alert">Applicants who require a Tier 4 visa to study in the UK must present an <a
              href="https://www.cardiff.ac.uk/study/international/english-language-requirements/postgraduate">acceptable
              English language qualification</a> in order to meet UKVI (UK Visas and Immigration) requirements</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group">
    <div class="content-toggle">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 id="structure" class="page-section-heading">Course structure</h2>
          </div>
          <div class="col-md-10 offset-md-1">
            <p class="alert alert-info">We're committed to delivering programmes that are innovative and relevant,
              providing the best learning outcomes and career prospects for our students. In light of this, we're
              currently reviewing some elements of this programme. As such, the details shown are subject to change
              and indicative only. You can still apply now. We'll update this page and contact all offer holders
              when the review is complete to confirm any changes.</p>
            <p>There are six core modules and two optional modules. In addition you will undertake a research
              dissertation to complete your study.</p>
            <p class="alert">The modules shown are an example of the typical curriculum and will be reviewed prior
              to the 2020/21 academic year. The final modules will be published by September 2020.</p>
            <p>
              <p>In the first semester you will take four core modules.</p>

              <p>In the second semester, you will take two further core modules along with two optional modules. The
                optional modules provide progression from those delivered in the first semester and allow you to
                expand your current knowledge.</p>

              <p>Upon successful completion of the taught stage you will progress to the dissertation which is
                designed to enable you to apply the knowledge, understanding and skills learnt in the taught modules
                to individual independent research.</p>

              <p>&nbsp;</p>
            </p>
            <div class="accordion" id="moduleList-module-list-1">
              <div class="accordion-section">
                <div class="accordion-section-header"> <a class="accordion-section-header-title ga-event"
                    data-toggle="collapse" data-category="postgraduate-taught-course"
                    data-action="Toggle core modules year 1" data-label="PFMSACFA - Accounting and Finance (MSc)"
                    href="#core-modules-1-1"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 19.75 32">
                      <title>Chevron right</title>
                      <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                    </svg> Core modules</a> </div>
                <div id="core-modules-1-1" class="acordion-body collapse show">
                  <div class="accordion-inner">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Module title</th>
                            <th>Module code</th>
                            <th>Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST152"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="Advanced Financial Reporting">Advanced
                                Financial Reporting</a></td>
                            <td>BST152</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST153"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="Research Methods">Research Methods</a></td>
                            <td>BST153</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST155"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked"
                                data-label="Management Accounting and the Control of Organizational Performance">Management
                                Accounting and the Control of Organizational Performance</a></td>
                            <td>BST155</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST156"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="Finance and Investment">Finance and
                                Investment</a></td>
                            <td>BST156</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST259"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="Dissertation">Dissertation</a></td>
                            <td>BST259</td>
                            </td>
                            <td>60 credits</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-section">
                <div class="accordion-section-header"> <a class="accordion-section-header-title ga-event collapsed"
                    data-toggle="collapse" data-category="postgraduate-taught-course"
                    data-action="Toggle optional modules blwyddyn 1"
                    data-label="PFMSACFA - Accounting and Finance (MSc)" href="#optional-modules-1-1"><svg class="icon"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                      <title>Chevron right</title>
                      <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                    </svg> Optional modules</a> </div>
                <div id="optional-modules-1-1" class="acordion-body collapse in">
                  <div class="accordion-inner">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Module title</th>
                            <th>Module code</th>
                            <th>Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST251"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="Research Topics in Accounting">Research
                                Topics in Accounting</a></td>
                            <td>BST251</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST252"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="Research Topics in Finance">Research Topics
                                in Finance</a></td>
                            <td>BST252</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST253"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="International Corporate Finance">International
                                Corporate Finance</a>
                            </td>
                            <td>BST253</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST254"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="Financial Derivatives">Financial
                                Derivatives</a></td>
                            <td>BST254</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST255"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="International Accounting">International
                                Accounting</a></td>
                            <td>BST255</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information ga-event" data-module="BST269"
                                data-occurrence="20A" data-category="postgraduate-taught-course"
                                data-action="module-clicked" data-label="Behavioural Finance and Fintech">Behavioural
                                Finance and Fintech</a>
                            </td>
                            <td>BST269</td>
                            </td>
                            <td>15 credits</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="alert">The University is committed to providing a wide range of module options where possible,
              but please be aware that whilst every effort is made to offer choice this may be limited in certain
              circumstances. This is due to the fact that some modules have limited numbers of places available,
              which are allocated on a first-come, first-served basis, while others have minimum student numbers
              required before they will run, to ensure that an appropriate quality of education can be delivered;
              some modules require students to have already taken particular subjects, and others are core or
              required on the programme you are taking. Modules may also be limited due to timetable clashes, and
              although the University works to minimise disruption to choice, we advise you to seek advice from the
              relevant School on the module choices available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group with-background bg-anakiwa">
    <div class="content-toggle">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <h2 id="assessment" class="page-section-heading">Learning and assessment</h2>
          </div>
          <div class="col-lg-8">
            <h3>How will I be taught?</h3>
            <p>Our teaching is heavily informed by research and combines academic rigour with practical relevance.
              Our internationally leading faculty consists of academics who are at the forefront of knowledge within
              their field. They bring the lessons learnt from their most recent research into the classroom, giving
              you access to up-to-date real-life examples and scenarios and critical business thinking.</p>

            <p>Your teaching and learning resources will be provided and we will be responsive to your needs and
              views. For your part, you will need to commit to the necessary amount of work both during and outside
              formal teaching sessions, and to make good use of the facilities provided.</p>

            <p><strong>Methods of teaching</strong></p>

            <p>Most modules involve a mixture of lectures and small group teaching (called classes, seminars,
              workshops or tutorials).&nbsp;</p>

            <p>In a lecture, the lecturer will mainly give an overview of a particular aspect of the module content
              (as well as opportunities for you to ask questions and be reflective), while in classes and workshops
              you will have an opportunity to practise techniques, discuss ideas, apply concepts and consolidate
              your understanding in the topic.</p>
            <h3>How will I be assessed?</h3>
            <p>Assessment methods vary from module to module. Across your degree scheme as a whole, you can expect a
              mixture of exams, coursework, essays, presentations, and individual and group projects.</p>
            <h3>How will I be supported?</h3>
            <p>At the beginning of your studies, you will be allocated a personal tutor who will be able to give you
              advice on academic issues, including module choice and assessment. If you encounter any problems which
              affect your studies, your personal tutor will be your first point of contact; she/he will be able to
              put you in touch with the wide range of expert student support services provided by the University and
              the Students&#39; Union as appropriate. You are required to meet with your personal tutors at three
              points during each academic year but you are also encouraged to get in touch with them at any other
              point if you need help or advice.</p>

            <p>For day-to-day information, the staff of our Postgraduate Student Hub are available, in person, by
              telephone or by email, from 8am to 6pm each weekday during term time to answer your questions.</p>

            <p><strong>Feedback</strong></p>

            <p>During your studies, feedback will be provided on your work. This comes in a variety of formats
              including oral, personalised and generic written feedback.</p>

            <p>General feedback will be given in relation to examinations following examination periods and you will
              be able to discuss your overall performance with your personal tutor.</p>

            <p>When undertaking the dissertation/project you are expected to meet regularly with your supervisor to
              review progress and discuss any questions. Your supervisor will be able to provide feedback on your
              research plan and drafts of your work as you progress.</p>
            <h3>What skills will I practise and develop?</h3>
            <p>As a result of engaging fully with this course you will acquire and develop a range of valuable
              skills, those which are discipline specific and more generic &lsquo;employability skills&rsquo;. These
              will allow you to:</p>

            <ul>
              <li>Grasp complex issues with confidence.</li>
              <li>Ask the right questions of complex texts.</li>
              <li>Have an imaginative appreciation of different views and options and analyse these critically.</li>
              <li>Identify and apply relevant data.</li>
              <li>Develop practical research skills.</li>
              <li>Propose imaginative solutions of your own that are rooted in evidence.</li>
              <li>Communicate clearly, concisely and persuasively in writing and speech.</li>
              <li>Source, interpret and present relevant numerical information.</li>
              <li>Work to deadlines and priorities, managing a range of tasks at the same time.</li>
              <li>Work as part of a team, developing a collaborative approach to problem-solving.</li>
              <li>Use IT programmes and standard software packages, where appropriate.</li>
              <li>Take responsibility for your own learning programme and professional development.</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <figure class="quote quote-rich quote-rich-portrait with-image" data-assetid="1727245"
              data-paintlayoutid="7149" data-status="Live">
              <div class="quote-image-wrapper"> <img class="image lazy"
                  src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&h=485&q=60&auto=format&fit=crop"
                  data-src="https://cardiff.imgix.net/__data/assets/image/0003/1742277/Alice-BSc.jpg?w=376&h=485&q=60&crop=entrop&auto=format&fit=crop"
                  data-srcset="                            https://cardiff.imgix.net/__data/assets/image/0003/1742277/Alice-BSc.jpg?w=376&h=485&q=60&crop=entrop&auto=format&fit=crop 1200w,                            https://cardiff.imgix.net/__data/assets/image/0003/1742277/Alice-BSc.jpg?w=300&h=487&q=60&auto=format&crop=entrop&fit=crop 1199w,                            https://cardiff.imgix.net/__data/assets/image/0003/1742277/Alice-BSc.jpg?w=439&h=566&q=60&auto=format&crop=entrop&fit=crop 480w"
                  alt=""
                  sizes="(max-width: 479px) 100%, (max-width: 767px) 45%, (max-width: 980px) 1199px, (min-width: 1199px) 1200px">
              </div>
              <div class="quote-main">
                <blockquote class="quote-body text-md">As part of my degree we were able to conduct human dissections,
                  and
                  that has stuck with me as one of the most valuable learning experiences I have ever had.
                </blockquote>
                <figcaption class="quote-author"> Alice <cite class="quote-source">(BSc 2013)</cite> </digcaption>
              </div>
            </figure><!-- quote-pl -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 id="fees" class="page-section-heading">Tuition fees</h2>
          <h3>UK and EU students (2020/21)</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Tuition fee</th>
                  <th>Despoit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>£13,950</td>
                  <td>None</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p><a href="https://www.cardiff.ac.uk/study/postgraduate/tuition-fees">More information about tuition fees
              and deposits</a>, including for part-time and continuing students.</p>
          <p>Financial support may be available to individuals who meet certain criteria. For more information visit
            our <a href="https://www.cardiff.ac.uk/study/undergraduate/funding">funding </a> section. Please note
            that these sources of financial support are limited and therefore not everyone who meets the criteria
            are guaranteed to receive the support.</p>
          <p class="alert">EU students entering in 2020/21 will pay the same tuition fee as UK students for the
            duration of their course. Please be aware that fees may increase annually in line with inflation. No
            decisions regarding fees and loans for EU students starting in 2020/21 have been made yet. These will be
            determined as part of the UK's discussions on its membership of the EU and we will provide <a
              href="https://www.cardiff.ac.uk/study/international/eu?SQ_VARIATION_1334142=0">further details</a> as
            soon as we can.</p>
          <h3>Students from outside the EU (2020/21)</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Tuition fee</th>
                  <th>Despoit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>£23,450</td>
                  <td>£1,000</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p><a href="https://www.cardiff.ac.uk/study/postgraduate/tuition-fees">More information about tuition fees
              and deposits</a>, including for part-time and continuing students.</p>
          <p>Financial support may be available to individuals who meet certain criteria. For more information visit
            our <a href="https://www.cardiff.ac.uk/study/undergraduate/funding">funding </a> section. Please note
            that these sources of financial support are limited and therefore not everyone who meets the criteria
            are guaranteed to receive the support.</p>
          <h2>Additional costs</h2>
          <h3>Will I need any specific equipment to study this course/programme?</h3>
          <p>hsagd asydg asuid sakdsa</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group with-background bg-panache">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 id="careers" class="page-section-heading">Careers prospects</h2>
        </div>
        <div class="col-md-10 offset-md-1">
          <p>We will support you as you prepare for your future with personal, subject-specific guidance. Our expert
            career professionals can help you to develop your skills, look for jobs, prepare for interviews, move
            onto further studies or develop an idea for a new business.</p>
          <p>Graduates from our Human Resource degree programmes have gone on to successful HR careers in a range of
            industries including public and private sector businesses both nationally and internationally. A number
            of students have also pursued further learning by undertaking a research degree after completing their
            masters.</p>
          <h3>Graduate careers</h3>
          <ul class="list">
            <li>sad</li>
            <li>asd</li>
            <li>asd</li>
            <li>asd</li>
          </ul>
          <h3>Graduate employers</h3>
          <p> <a href="http://www.arb.org.uk/"><img class="lazy d-inline mr-20"
                data-src="https://cardiff.imgix.net/__data/assets/image/0003/1396461/arb-logo-yellow.jpg?q=60"
                src="data:image/gif;base64  ,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                alt="ARB logo" /></a> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 id="funding" class="page-section-heading">Funding</h2>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <div class="teaser">
            <div class="teaser-body">
              <h3 class="teaser-title"> <a
                  href="https://www.cardiff.ac.uk/study/postgraduate/funding/masters-excellence-scholarships"
                  aria-label="" class="ga-action" data-category="postgraduate-taught-course" data-action="Funding"
                  data-label="PFMSACFA - Master's Excellence Scholarship">Master's Excellence Scholarship</a> </h3>
              <p>This award worth £3000 is open to UK and EU students intending to study one of our taught master’s
                degrees.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group bg-mauve">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="fieldwork" class="page-section-heading">Fieldwork</h2>
        </div>
        <div class="col-md-8">
          <p>Some random fieldwork text !!!</p>
        </div>
        <div class="col-md-4">
          <figure class="image"> <img class="lazy w-100"
              src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png" alt=""
              sizes="(min-width: 768px) 228px, (min-width: 980px) 300px, (min-width: 1200px) 377px" alt=""
              data-src="https://cardiff.imgix.net/__data/assets/image/0005/348458/students-chatting.jpg?w=377&&fit=crop&q=60&auto=format"
              sizes="100vw"
              data-srcset="https://cardiff.imgix.net/__data/assets/image/0005/348458/students-chatting.jpg?w=377&&fit=crop&q=60&auto=format  377w,            https://cardiff.imgix.net/__data/assets/image/0005/348458/students-chatting.jpg?w=300&ar=16:9&fit=crop&q=60&auto=format  300w,            https://cardiff.imgix.net/__data/assets/image/0005/348458/students-chatting.jpg?w=228&ar=16:9&fit=crop&q=60&auto=format  228w">
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group with-background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="next-steps" class="page-section-heading">Next steps</h2>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="highlight highlight-lg border-0"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 82.5576 61.4565">
              <title>icon-academic</title>
              <path
                d="M41.5352,38.769,0,19.3823,41.5244,0,82.5576,19.0737ZM7.0928,19.3823,41.5166,35.4507l34.0176-16.333L41.5273,3.31Z"
                style="fill:#383735" />
              <path
                d="M41.209,61.4565l-1.2-2.0058c-4.9644-8.31-15.127-12.5342-15.229-12.5762l1.1348-2.7773c.4233.1728,9.7685,4.0615,15.4711,11.9912,3.2227-3.9629,12.1036-13.336,25.03-14.8369V29.7666h3v14.25l-1.3955.0977C52.5547,45.1958,42.6318,59.3862,42.5332,59.53Z"
                style="fill:#383735" />
              <rect x="13.9795" y="29.7666" width="3" height="13.8833" style="fill:#383735" />
              <path
                d="M24.5441,53.2885a3.3166,3.3166,0,0,0-1.8571-2.971V28.6235l19.1782-7.853L40.728,17.9941,19.687,26.61V50.35a3.3008,3.3008,0,0,0,0,5.8777v2.2963l-.88,2.1084h.88v0h3v0h.9392l-.9392-2.2473V56.2594A3.3165,3.3165,0,0,0,24.5441,53.2885Z"
                style="fill:#bc9d5e" />
            </svg>
            <div class="highlight-body">
              <h3 class="highlight-title"><a class="ga-event"
                  href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
                  aria-label="Next steps - Open Day visits" data-category="postgraduate-taught-course"
                  data-action="next-step"
                  data-label="Open Day visits - https://www.cardiff.ac.uk/study/undergraduate/open-days-visits">Open
                  Day visits</a></h3> Register for information about our 2020 dates
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="highlight highlight-lg border-0"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 65.1548 67.7598">
              <title>icon-chat</title>
              <circle cx="22.1341" cy="33.662" r="4.4162" style="fill:#bd9e5e" />
              <circle cx="33.423" cy="33.662" r="4.4162" style="fill:#bd9e5e" />
              <circle cx="44.712" cy="33.662" r="4.4162" style="fill:#bd9e5e" />
              <path
                d="M0,67.76,4.6475,47.7715A32.2389,32.2389,0,1,1,32.8989,64.5107a31.9633,31.9633,0,0,1-12.6362-2.5976ZM32.8989,3.5459A28.6722,28.6722,0,0,0,8.0649,46.6123l.3516.6065L4.8223,62.6777l15.7-4.5312.5942.2685A28.7012,28.7012,0,1,0,32.8989,3.5459Z"
                style="fill:#383735" />
            </svg>
            <div class="highlight-body">
              <h3 class="highlight-title"><a class="ga-event" href="https://enquiries.cardiff.ac.uk/enquiry"
                  aria-label="Next steps - Make an enquiry" data-category="postgraduate-taught-course"
                  data-action="next-step" data-label="Make an enquiry - https://enquiries.cardiff.ac.uk/enquiry">Make an
                  enquiry</a></h3>
              Contact us for more information about this course.
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="highlight highlight-lg border-0"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 61.6137 82.3486">
              <title>icon-international</title>
              <path
                d="M35.7885,61.5435A35.7445,35.7445,0,0,0,61.23,51.0044a1.3108,1.3108,0,0,0,0-1.8535l-1.98-1.98a1.3106,1.3106,0,0,0-1.8535,1.8535L58.4311,50.06A33.1777,33.1777,0,0,1,11.5375,3.1675l.7891.7886A1.3107,1.3107,0,0,0,14.18,2.1025L12.4467.3691a1.3481,1.3481,0,0,0-1.8535,0A35.716,35.716,0,0,0,27.5439,60.59v8.7327H21.92A11.7237,11.7237,0,0,0,10.2094,81.0337,1.31,1.31,0,0,0,11.52,82.3442H46.1889a1.3107,1.3107,0,0,0,1.3105-1.3105A11.7243,11.7243,0,0,0,35.7875,69.3228H30.165v-8.22A36.4316,36.4316,0,0,0,35.7885,61.5435Zm8.9951,18.18H12.9247A9.1047,9.1047,0,0,1,21.92,71.9438H35.7875A9.104,9.104,0,0,1,44.7836,79.7231Z"
                transform="translate(0 0.0044)" style="fill:#383735" />
              <path
                d="M53.8676,7.4849a25.5542,25.5542,0,1,0,0,36.1572A25.3994,25.3994,0,0,0,53.8676,7.4849Zm3.4729,10.2128-.4075-.4072-4.6811,4.681a41.9828,41.9828,0,0,0-5.7388-7.1326,43.2931,43.2931,0,0,0-4.251-3.717l5.2748-5.2747A23.0625,23.0625,0,0,1,52.03,9.3218,22.7929,22.7929,0,0,1,57.3405,17.6977ZM53.603,31.105c1.0907,3.998.8147,7.3746-.7492,9.6874L44.98,32.9183l6.702-6.7017A26.4577,26.4577,0,0,1,53.603,31.105ZM25.7245,7.0889a17.3017,17.3017,0,0,1,4.5225.66,28.937,28.937,0,0,1,8.0018,3.7116l-7.3635,7.3636L20.5605,8.5A9.0855,9.0855,0,0,1,25.7245,7.0889Zm-7.0019,3.2466L29.048,20.6614,21.6864,28.023a28.9548,28.9548,0,0,1-3.7119-8.002C16.8845,16.0244,17.16,12.6486,18.7226,10.3355Zm12.1625,12.163,10.42,10.42-7.23,7.23A39.1507,39.1507,0,0,1,26.9018,34.45a40.6456,40.6456,0,0,1-3.7-4.2681ZM43.142,34.7559,51.0154,42.63c-2.3116,1.5618-5.6863,1.8381-9.6839.7477a26.46,26.46,0,0,1-4.89-1.9217Zm0-3.675-10.42-10.42,7.6857-7.6855a40.6527,40.6527,0,0,1,4.267,3.7,39.1529,39.1529,0,0,1,5.699,7.1733ZM45.1231,4.5863l-5.002,5.002A31.9268,31.9268,0,0,0,30.93,5.2422,20.5321,20.5321,0,0,0,26.574,4.53a22.8807,22.8807,0,0,1,18.5491.0568ZM14.7562,16.3842a20.5771,20.5771,0,0,0,.712,4.32,31.9117,31.9117,0,0,0,4.3458,9.1908l-4.9909,4.9909A23.059,23.059,0,0,1,14.7562,16.3842Zm1.3217,20.9211,5.2694-5.2692a43.2869,43.2869,0,0,0,3.7176,4.251,41.9726,41.9726,0,0,0,7.1319,5.7388L27.516,46.7065l.4094.41a22.5023,22.5023,0,0,1-11.8475-9.8108ZM30.11,47.7877l4.3988-4.3987a29.563,29.563,0,0,0,6.1394,2.4953,20.6828,20.6828,0,0,0,4.3088.7169A23.0647,23.0647,0,0,1,30.11,47.7877ZM56.8215,34.741a20.5828,20.5828,0,0,0-.7117-4.32,29.5712,29.5712,0,0,0-2.4948-6.1382l4.398-4.3978A23.0663,23.0663,0,0,1,56.8215,34.741Z"
                transform="translate(0 0.0044)" style="fill:#c6a55a" />
            </svg>
            <div class="highlight-body">
              <h3 class="highlight-title"><a class="ga-event" href="http://www.cardiff.ac.uk/international"
                  aria-label="Next steps - International" data-category="postgraduate-taught-course"
                  data-action="next-step"
                  data-label="International - http://www.cardiff.ac.uk/international">International</a></h3> Learn
              more about our truly global university.
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="highlight highlight-lg border-0"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 70.5334 81.8666">
              <title>icon-pen</title>
              <path
                d="M69.6455,13.0137,53.7021,0,46.599,8.702l-.2318-.1893a2.7388,2.7388,0,0,0-3.8135.5859L2.4424,58.2378a3.0582,3.0582,0,0,0-.7032,1.8779,2.4848,2.4848,0,0,0,.8926,1.9776l.3527.2878a2.2622,2.2622,0,0,0-.0963.2756L.188,75.3931l.8361.6823L.02,80.8133a.8709.8709,0,0,0,1.2.9792L5.661,79.8593l.836.6822,11.9351-5.1943a2.2688,2.2688,0,0,0,.2529-.15l.042.0343a2.4073,2.4073,0,0,0,1.5362.5351,2.9734,2.9734,0,0,0,2.2783-1.1211L62.6533,25.5059v-.001a2.7475,2.7475,0,0,0-.1181-3.78ZM54.13,4.2207l11.2949,9.22-5.2066,6.3783-11.2952-9.22ZM6.9765,77.061,3.5024,74.2251l2.064-9.7365,10.5362,8.6Zm13.3194-4.4218-.909-.742a2.3191,2.3191,0,0,0-.4157-.4436L6.5942,61.35a2.3261,2.3261,0,0,0-.5191-.3188l-1.2245-1L44.7988,11.105,59.3852,23.0114l.8589.701Z"
                style="fill:#383735" />
              <path
                d="M69.9139,24.8723l-.1589-.13a1.6847,1.6847,0,0,0-2.37.24l-2.1483,2.6317L62.7074,25.55l-7.4209,9.0912,2.5288,2.0642L41.2582,56.9889a1.6846,1.6846,0,0,0,.24,2.3705l.1589.13a1.6848,1.6848,0,0,0,2.3706-.24L70.1537,27.2429A1.6849,1.6849,0,0,0,69.9139,24.8723Z"
                style="fill:#bc9d5e" />
            </svg>
            <div class="highlight-body">
              <h3 class="highlight-title"><a class="ga-event"
                  href="https://www.cardiff.ac.uk/study/postgraduate/applying/non-standard-applications"
                  aria-label="Next steps - How to apply" data-category="postgraduate-taught-course"
                  data-action="next-step"
                  data-label="How to apply - https://www.cardiff.ac.uk/study/postgraduate/applying/non-standard-applications">How
                  to apply</a></h3> Find out more about how to apply for this course.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content-group">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <h2 class="page-section-heading">Discover more</h2>
          <div class="search-form">
            <form class="form mb-3" action="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/search"
              method="GET" role="search"> <input name="collection" value="ug-courses" type="hidden"> <input
                name="gscope1" value="" type="hidden"> <input name="form" value="" type="hidden">
              <p class="form-label">Search for your courses</p>
              <div class="d-flex">
                <div class="search-form-container">
                  <div class="search-form-query-container"> <label class="search-form-label" for="course-search">
                      <span class="sr-only"></span> <svg class="icon" focusable="false"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <title>Search</title>
                        <path
                          d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
                          transform="translate(-0.03 0)" />
                      </svg> </label> <input type="search" class="search-form-query" name="query" id="course-search"
                      placeholder="eg. Architecture" /> <a href="#" class="search-form-clear"
                      aria-label="Clear search query"> <span aria-hidden="true"><svg class="icon" focusable="false"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                          <title>Close</title>
                          <path
                            d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z"
                            transform="translate(-2 -2)" />
                        </svg></span> </a> </div>
                </div> <button type="submit" class="btn btn-success d-none d-lg-block col-md-2">Search</button>
              </div>
            </form>
            <p class="text-center"><strong>Related searches: </strong><a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/search?collection=pgt-courses&form=search-en&gscope1=1&f.subject|x=accounting">Accounting</a>,
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/search?collection=pgt-courses&form=search-en&gscope1=1&f.subject|x=business">Business</a>,
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/search?collection=pgt-courses&form=search-en&gscope1=1&f.subject|x=finance">Finance</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Location URL: https://search.cardiff.ac.uk/s/search.html?collection=facilities&type=academicschool&form=course-locations&location=&school=CARBS&gscope1=1
 API URL: https://api.data.cardiff.ac.uk/squiz/v1/courses/PFMSACFA?year=2020&moduleYear=2020&reset=1-->
  <script>
    $(document).ready(function () {
      $(document).on('click', '.module-information', function (e) {
        e.preventDefault();
        $(".modal-content").empty().html("<p>Loading module information.<p>");
        $(".modal-content").load("/test/study/feeds/wiip-module-information?module=" + $(this).attr('data-module') + "/" + $(this).attr('data-occurrence'));
        $('#moduleInformation').modal();
      });
      $("#moduleInformation").on("show", function () {
        $("body").addClass("modal-open")
      });
      $("#moduleInformation").on("hide", function () {
        $("body").removeClass("modal-open");
      });
    });
  </script>

  <div id="moduleInformation" class="modal fade show" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
</main>