<div class="nav-section" aria-label="{{{sectionAria}}}">\ 
  <div class="row">\ 
    <div class="col-md-12">\ 
      <nav class="navbar">\ 
        <ul class="nav">\ 
          {{#items}}\ 
            <li class="nav-item{{#isActive}} active{{/isActive}}">\ 
              <a class="nav-link" href="{{{url}}}" data-asset-id="{{{assetid}}}" aria-label="{{{name}}}">{{#isUnderConstruction}}(( {{/isUnderConstruction}}{{{shortName}}}{{#isUnderConstruction}} )){{/isUnderConstruction}}</a>\ 
            </li>\ 
          {{/items}}\ 
          <li class="dropdown dropdown-more nav-item d-none">\ 
            <a href="#" class="nav-link dropdown-toggle">{{{more}}}</a>\ 
            <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>\ 
          </li>\ 
        </ul>\ 
      </nav>\ 
    </div>\ 
  </div>\ 
</div>\