<span class="badge badge-pill">1</span>
<span class="badge badge-pill badge-success">2</span>
<span class="badge badge-pill badge-info">3</span>
<span class="badge badge-pill badge-warning">4</span>
<span class="badge badge-pill badge-important">5</span>
<span class="badge badge-pill badge-inverse">6</span>