<span class="badge badge--outline badge--lg">Outlune badge</span>
<span class="badge badge--outline badge--lg badge-success">Outlune badge</span>
<span class="badge badge--outline badge--lg badge-warning">Outlune badge</span>
<span class="badge badge--outline badge--lg badge-info">Coming soon</span>
<span class="badge badge--outline badge--lg badge-important">Live now</span>
<span class="badge badge--outline badge--lg badge-inverse">Event ended</span>