<span class="label">Default</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-important">Important</span>
<span class="label label-inverse">Inverse</span>