<nav class="nav-global-mobile">
    <li class="nav-item nav-back{{#hasBack}}{{/hasBack}}{{^hasBack}} d-none{{/hasBack}}">
      <a href="{{{parent.url}}}" data-assetid="{{{parent.assetid}}}" class="nav-link">
        {{{icons.back}}} <span id="backToSectionText">{{{backTo.text}}} {{#parent.status.under_construction}}(( {{/parent.status.under_construction}}{{{parent.name}}}{{#parent.status.under_construction}} )){{/parent.status.under_construction}}</span>
      </a>
    </li>
  <div class="nav-global-mobile-previous" id="mobileNavigationItems">
      {{#isHomepage}}
        {{#currentPage}}
            <div class="nav-global-mobile-previous" id="mobileNavigationItems">
              <li class="nav-item nav-section">
                <a href="{{{currentPage.url}}}" data-assetid="{{{currentPage.assetid}}}" class="nav-link active">{{#currentPage.status.under_construction}}(( {{/currentPage.status.under_construction}}{{{currentPage.name}}}{{#currentPage.status.under_construction}} )){{/currentPage.status.under_construction}}</a>
                </li>
            </div>
        {{/currentPage}}
        {{#siblings}}
          {{#has_children}}
            <li class="nav-item nav-item-expandable">
              <a href="{{{url}}}" class="nav-link{{#active}} active{{/active}}">
              {{#status.under_construction}}(( {{/status.under_construction}}{{{name}}}
              {{#status.under_construction}} )){{/status.under_construction}}</a>
              <a href="{{{url}}}" class="nav-link-expand" data-assetid="{{{assetid}}}" >{{{icons.expand}}}</a>
            </li>
          {{/has_children}}
          {{^has_children}}
            <li class="nav-item">
              <a href="{{{url}}}" data-assetid="{{{assetid}}}" class="nav-link{{#active}} active{{/active}}">{{#status.under_construction}}(( {{/status.under_construction}}{{{name}}}{{#status.under_construction}} )){{/status.under_construction}}</a>
            </li>
          {{/has_children}}
        {{/siblings}}
      {{/isHomepage}}
      {{^isHomepage}}
        <div class="nav-global-mobile-previous" id="mobileNavigationItems">
          <li class="nav-item nav-section">
            <a href="{{{currentPage.url}}}" data-assetid="{{{currentPage.assetid}}}" class="nav-link active">{{{currentPage.name}}}</a>
            <nav class="nav-global-mobile-section">
            {{#children}}
                {{#has_children}}
                  <li class="nav-item nav-item-expandable">
                    <a href="{{{url}}}" class="nav-link{{#active}} active{{/active}}">{{#status.under_construction}}(( {{/status.under_construction}}{{{name}}}{{#status.under_construction}} )){{/status.under_construction}}</a>
                    <a href="{{{url}}}" class="nav-link-expand" data-assetid="{{{assetid}}}" >{{{icons.expand}}}</a>
                  </li>
                {{/has_children}}
                {{^has_children}}
                  <li class="nav-item">
                    <a href="{{{url}}}" data-assetid="{{{assetid}}}" class="nav-link{{#active}} active{{/active}}">{{#status.under_construction}}(( {{/status.under_construction}}{{{name}}}{{#status.under_construction}} )){{/status.under_construction}}</a>
                  </li>
                {{/has_children}}
            {{/children}}
            </nav>
          </li>
        </div>
    {{/isHomepage}}
  </div>
</nav>