.fact
  text-align: center
  font-size: 1.1875rem
  line-height: 1.5625rem
  padding: #{($baseUnit * 2.1)} 0 #{($baseUnit * 1.9)} 0
  margin-bottom: ($baseUnit * 2)
  border-top: ($baseUnit * 0.2) solid $colourGreyLighter
  border-bottom: ($baseUnit * 0.2) solid $colourGreyLighter
  flex: 1 1 0px
  
  strong,
  .fact-bold
    font-size: 1.8125rem
    line-height: 2.25rem
    display: block
    color: $colourRed

  &-large
    strong,
    .fact-bold
      font-size: 3.125rem
      line-height: 3.125rem