<div class="card card--flat col-md-6">
  <img class="card__img--top" src="https://via.placeholder.com/150x100" alt="Card image cap" />
  <div class="card__body">
    <p class="card__title"><a href="">Abercronway Hall</a></p>
    <p class="lead">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <p>
      Walking time to Cathays (City Centre): ${require-svg('walking')} 8 min
    </p>
    <p>
      Walking time to Heath Park campus (hospital) campus:
      ${require-svg('walking')} 8 min
    </p>
  </div>
  <div class="card__footer align-bottom">
    <div class="row">
      <div class="col-6">
        <ul class="list list-horizontal list-icons">
          <li>${require-svg('cog')}</li>
          <li>${require-svg('book')}</li>
          <li>${require-svg('clock')}</li>
          <li>${require-svg('earth')}</li>
          <li>${require-svg('heart')}</li>
        </ul>
      </div>
      <div class="col-6">
        <p class="text-right card-price">From £100 per week</p>
      </div>
    </div>
  </div>
</div>