<div class="card filter-pane study-spaces">
  <img class="" src="https://via.placeholder.com/150x100" alt="Card image cap" />
  <div class="card__body">
    <span class="card__category">Heath Park Campus</span>
    <h3 class="card__title">Main Building Restaurant</h3>
    <p>
      Main Building Restaurant offers hot and cold breakfasts and lunches.
    </p>

  </div>
  <div class="card__footer  d-flex flex-column">
    <a href="https://www.youtube.com/watch?v=nqF84ms-zf8" class="btn btn-outline mb-5">${require-svg("youtube-colour")}
      Watch a
      video on youtube</a>
    <a href="https://www.google.com" class="btn btn-outline mb-5">${require-svg("camera")} View a 360 image</a>
    <a href="#" class="btn btn-outline" data-map-marker-key="0">${require-svg("map-pin")} View location</a>
  </div>
</div>