<div class="card filter-pane research">
  <img class="" src="https://via.placeholder.com/150x100" alt="Card image cap" />
  <div class="card__body">
    <span class="card__category">Heath Park Campus</span>
    <h3 class="card__title">Hadyn Ellis Café</h3>
    <p>
      The Coffee Shop incorporates a deli bar which is open from 11.45am to 2.00pm daily and provides freshly made
      paninis which are made to order.
    </p>
  </div>

  <div class="card__footer  d-flex flex-column">
    <a href="#" class="btn btn-outline mb-5">${require-svg("camera")} View a 360 image</a>
    <a href="#" class="btn btn-outline" data-map-marker-key="2">${require-svg("map-pin")} View location</a>
  </div>
</div>