<div class="card filter-pane clinic-scenarios">
  <img class="" src="https://via.placeholder.com/150x100" alt="Card image cap" />
  <div class="card__body">
    <span class="card__category">Heath Park Campus</span>
    <h3 class="card__title">Glamorgan Café</h3>
    <p>
      Serving barista coffee, iced coffees, smoothies, cold drinks, danishes, sandwiches, soup, pasties/sausage rolls,
      jacket potatoes, fresh cakes, snacks and confectionery.
    </p>
  </div>

  <div class="card__footer d-flex flex-column">
    <a href="#" class="btn btn-outline mb-5">${require-svg("camera")} View a 360 image</a>
    <a href="#" class="btn btn-outline" data-map-marker-key="1">${require-svg("map-pin")} View location</a>
  </div>
</div>