@media #{$breakpoint-md-up}
  .featured-content
    .featured-content
      &-title
        margin-bottom: 0

      &-image
        padding-top: 0
        height: 420px
        overflow: hidden

        img
          width: unset
          max-width: none
          height: 100%
          position: relative
          left: 50%
          transform: translateX(-50%)