.featured-content
  margin-bottom: $baseUnit*4

  .featured-content
    &-image
      +aspect-16-9
      position: relative

      img
        position: absolute
        top: 0
        bottom: 0
        width: 100%
        height: 100%

    &-body
      margin-bottom: 0

    &-title
      font-family: $boldFontFamily

@import 'featured-content-md-up'
@import 'featured-content-lg-up'