<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Usage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="f-fg-book d-block">Franklin gothic book</span><code>.f-fg-book</code></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="f-fg-book-light d-block">Franklin gothic book light</span><code>.f-fg-book-light</code></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="f-fg-med d-block">Franklin gothic medium</span><code>.f-fg-med</code></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="f-fg-demi d-block">Franklin gothic demi</span><code>.f-fg-demi</code></td>
      <td></td>
    </tr>
  </tbody>
</table>
