<table class="table">
  <thead>
    <tr>
      <th>Heading</th>
      <th>Usage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h1>h1</h1></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 2.75rem</li>
          <li><strong>Line height</strong>: 3.125rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h2>h2</h2></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 2.125rem</li>
          <li><strong>Line height</strong>: 2.5rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h3>h3</h3></td>
      <td>
        <ul class="list list-no-disc mb-0">
          1.5rem / 1.875rem
          <li><strong>Font size</strong>: 1.5rem</li>
          <li><strong>Line height</strong>: 1.875rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h4>h4</h4></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 1.375rem</li>
          <li><strong>Line height</strong>: 1.8rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h5>h5</h5></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 1.125rem</li>
          <li><strong>Line height</strong>: 1.5rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h6>h6</h6></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 1rem</li>
          <li><strong>Line height</strong>: 1.375rem</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>