<nav class="nav-secondary" aria-label="Secondary navigation homepage">
  <div class="navbar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Aulmni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>

      <li class="nav-item">
        <a href="/search" class="nav-link" data-toggle="collapse" data-target="#search-global" aria-expanded="false" aria-controls="search-global"
          ><span class="sr-only"> Search the website</span>${require-svg('search')}
        </a>
      </li>
    </ul>
  </div>
</nav>
