<nav class="nav-local" role="navigation">
  <li class="nav-item">
    <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Undergraduate</a>
  </li>
  <li class="nav-item nav-local-section nav-local-section-open">
    <a href="#" class="nav-link level-1 nav-link-lineage" aria-expanded="false" aria-haspopup="false">
      <span class="nav-local-section-text">Courses</span>
      ${require-svg('section-open.svg')}
    </a>
    <nav role="navigation" class="">
      <li class="nav-item"><a href="#" class="nav-link level-2">Part-time study</a></li>

      <li class="nav-item"><a href="#" class="nav-link level-2">Search</a></li>
      <li class="nav-item"><a href="#" class="nav-link level-2">A-Z</a></li>
      <li class="nav-item"><a href="#" class="nav-link level-2">Browse by School</a></li>
      <li class="nav-item"><a href="#" class="nav-link level-2">Browse by subject</a></li>
      <li class="nav-item nav-local-section nav-local-section-open">
        <a href="#" class="nav-link level-2" aria-expanded="true" aria-haspopup="true">
          <span class="nav-local-section-text">Types of degree</span>
          ${require-svg('section-open.svg')}
        </a>
        <nav role="navigation">
          <li class="nav-item nav-local-section nav-local-section-open">
            <a href="#" class="nav-link level-3" aria-expanded="true" aria-haspopup="true">
              <span class="nav-local-section-text">Types of degreeBachelor Degrees</span>
              ${require-svg('section-open.svg')}
            </a>

            <nav role="navigation">
              <li class="nav-item nav-local-section nav-local-section-open">
                <a href="#" class="nav-link level-4" aria-expanded="true" aria-haspopup="true">
                  <span class="nav-local-section-text">Types of degree</span>
                  ${require-svg('section-open.svg')}
                </a>
                <nav role="navigation">
                  <li class="nav-item nav-local-section nav-local-section-open">
                    <a href="#" class="nav-link active level-5">
                      <span class="nav-local-section-text">Joint and Integrated Honours degree programmes</span>
                      ${require-svg('section-open.svg')}
                    </a>

                    <nav role="navigation">
                      <li class="nav-item"><a href="#" class="nav-link active level-6">Example page</a></li>
                      <li class="nav-item"><a href="#" class="nav-link level-6">Another Example page</a></li>
                    </nav>
                  </li>
                </nav>
              </li>
            </nav>
          </li>
          <li class="nav-item"><a href="#" class="nav-link level-3">Master's degrees</a></li>
        </nav>
      </li>
      <li class="nav-item"><a href="#" class="nav-link level-2">Part-time study</a></li>
      <li class="nav-item"><a href="#" class="nav-link level-2">Preliminary or foundation courses</a></li>
      <li class="nav-item"><a href="#" class="nav-link level-2">Post-registration health courses</a></li>
      <li class="nav-item"><a href="#" class="nav-link level-2">English for University Study Programme</a></li>
    </nav>
  </li>
  <li class="nav-item">
    <a href="https://www.cardiff.ac.uk/study" class="nav-link level-1">Study</a>
  </li>
  <li class="nav-item">
    <a href="https://www.cardiff.ac.uk/research" class="nav-link level-1">Research</a>
  </li>
  <li class="nav-item">
    <a href="https://www.cardiff.ac.uk/international" class="nav-link level-1">International</a>
  </li>
  <li class="nav-item">
    <a href="https://www.cardiff.ac.uk/innovation" class="nav-link level-1">Innovation</a>
  </li>
  <li class="nav-item">
    <a href="https://www.cardiff.ac.uk/business" class="nav-link level-1">Business</a>
  </li>
  <li class="nav-item">
    <a href="https://www.cardiff.ac.uk/alumni" class="nav-link level-1">Alumni</a>
  </li>
  <li class="nav-item">
    <a href="https://www.cardiff.ac.uk/about/organisation/college-structure" class="nav-link level-1">Academic Schools</a>
  </li>
</nav>
