@media #{$breakpoint-lg-up}
  .profile
    .profile-title, .profile-subtitle
      a
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          text-decoration: none
          color: darken($colourRed, 10%)

    .profile-contact
      a
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn

    .profile-image
      a
        &:focus
          outline: none