@media #{$breakpoint-md-up}
	.profile

		&.with-md-image
			padding-left: #{($profileImageWidth + ($baseUnit*2))}
			min-height: ($baseUnit*12)

			&.profile-small
				padding-left: #{($profileSmallImageWidth + ($baseUnit))}
				min-height: auto

			.profile-image
				display: block
