@media #{$breakpoint-lg-down}
  .profile
    &.profile-large
      &.with-image
        padding-left: ($baseUnit*14)

        .profile-image
          @include square($profileImageWidth)
          margin-left: (-$baseUnit*14)

          img
            @include square($profileImageWidth)

        .profile-title
          font: normal normal $headingFontSizeLG $boldFontFamily