@media #{$breakpoint-sm-down}
  hr.search-results-divide
    border-top: ($baseUnit*0.1) solid $colourGreyLight
    margin-top: 0
    margin-bottom: 0

    &:first-of-type
      margin-top: 0
  
  .profile
    &.search-result
      padding-top: ($baseUnit*3)
      padding-bottom: ($baseUnit*3)
      margin-bottom: 0
      min-height: 0
  
      .profile-image
        display: none
        visibility: hidden

      .profile-contact
        margin: 0px
        float: none

      .profile-subtitle
        margin-bottom: ($baseUnit*2)

      .well
        margin-top: ($baseUnit*2)

      &.with-image
        padding-left: 0px
        min-height: auto

  .profile
    &.profile-large
      &.with-image
        padding-left: 0

        .profile-image
          @include square($profileImageWidth)
          margin: 0 0 ($baseUnit*2) 0
          padding: 0
          position: static
          
          img
            @include square($profileImageWidth)

        .profile-title-suffix
          font-size: 16px
          line-height: 24px

        .profile-connect
          top: 0
          position: relative

        .profile-title
          font: normal normal $headingFontSizeLG $boldFontFamily