/*! profile.less */
$profileLargeImageWidth: 200px
$profileImageWidth: 120px
$profileSmallImageWidth: 40px

hr.search-results-divide
  border-top: ($baseUnit*0.1) solid $colourGreyLight
  margin-top: $baseUnit*4
  margin-bottom: $baseUnit*4

  &:first-of-type
    margin-top: $baseUnit*2

.profile-current-position
  color: $colourTintPrime
  font: normal map-get($headingFontSizes, 'sm') $brandFamily

.profile
  +clearfix()
  margin-bottom: ($baseUnit*2)
  position: relative

  &-subtitle
    margin-bottom: $baseUnit*0.3

  &.with-image
    padding-left: #{($profileImageWidth + ($baseUnit*2))}
    min-height: ($baseUnit*12)

    &.profile-small
      min-height: 40px

  &.with-md-image
    .profile-image
      display: none

  abbr[title],
  acronym[title]
    border: none

  .well
    margin-bottom: 0
    margin-top: $baseUnit

    dl
      margin: 0

    dt
      font: normal 20px / 26px $boldFontFamily
      margin-bottom: $baseUnit

    dd
      display: inline-block
      margin: 0 ($baseUnit*2) 0 0

  .profile-title
    font: normal normal $headingFontSizeLG $boldFontFamily
    margin: 0 0 ($baseUnit*0.2) 0
    color: $colourRed
    display: inline

    a
      color: $colourRed
      text-decoration: none

      &:hover
        text-decoration: underline

    a:after
      content: ''
      margin-left: 0
      display: none

  .profile-title-suffix
    font: normal normal $headingFontSize $boldFontFamily
    display: inline

  .profile-bio
    font-family: $brandFamily
    font-size: map-get($fontSizes, 'normal')
    margin-bottom: $baseUnit

    p:last-of-type
      margin-bottom: 0

  .profile-subtitle
    font: normal normal 20px/26px $brandFamily
    margin-bottom: 5px

    + .profile-subtitle
      margin-top: 0px

    a
      text-decoration: underline

      &:hover
        text-decoration: underline

    a:after
      content: ''
      margin-left: 0

  .profile-image
    +square($profileImageWidth)
    margin: 0
    margin-left: #{(-($profileImageWidth + ($baseUnit*2)))}
    position: absolute

    img
      +box-shadow(0 0 ($baseUnit*0.2) rgba($colourBlack, 0.2))

  .profile-contact
    margin: #{($baseUnit*0.5)} 0 #{($baseUnit*0.5)} 0
    +clearfix()
    float: left
    width: 100%

    dt
      clear: left
      float: left
      margin-right: $baseUnit
      margin-top: -$baseUnit*0.2

      .icon
        +square(map-get($svgWidths, 'sm'))
        fill: $colourGrey
        line-height: map-get($lineHeights, 'normal')

    dd
      font-size: map-get($headingFontSizes, 'smer')
      font-family: $brandFamily
      margin-left: 0
      margin-bottom: ($baseUnit*0.3)
      word-wrap: break-word

    dd + dd
      display: inline-block
      clear: left
      float: left
      margin-left: ($baseUnit*3)
      margin-top: (-$baseUnit*0.2)

  &.profile-small
    &.with-image
      padding-left: #{($profileSmallImageWidth + ($baseUnit))}

    .profile-image
      +square($profileSmallImageWidth)
      margin-left: #{(-($profileSmallImageWidth + ($baseUnit)))}

      img
        +square($profileSmallImageWidth)

    .profile-title
      margin-top: ($baseUnit*0.2)
      font-size: map-get($fontSizes, 'lg')
      line-height: 1.125rem

    .profile-subtitle
      font-size: map-get($fontSizes, 'normal')
      line-height: map-get($lineHeights, 'normal')

  &.profile-large
    &.with-image
      padding-left: #{($profileLargeImageWidth + ($baseUnit*4))}
      min-height: 210px

    .profile-image
      margin-left: #{(-($profileLargeImageWidth + ($baseUnit*4)))}
      width: $profileLargeImageWidth
      height: auto

      img
        +square($profileLargeImageWidth)
        +box-shadow(none)
        margin-bottom: ($baseUnit*4)

    .profile-title
      @extend h1
      margin: 0 0 ($baseUnit*0.2) 0
      color: $colourRed
      display: inline

    .profile-connect
      left: 0
      top: 220px

    .profile-contact
      -webkit-column-count: 1
      -webkit-column-gap: 0
      margin: $baseUnit 0 0 0

    .profile-subtitle
      margin-top: ($baseUnit*0.5)
      margin-bottom: 0

      &:first-of-type
        margin-bottom: ($baseUnit*0.5)

      + .profile-subtitle
        margin-top: 0px

.profile-vertical
  text-align: center

  &.with-image
    padding-left: 0

  .profile-image
    margin-left: 0
    margin-bottom: $baseUnit
    float: none
    width: 100%
    position: relative

  .profile-title
    .profile-title-suffix
      display: block
      font-size: map-get($fontSizes, 'lg')

  .profile-connect
    position: static

    li
      text-align: center
      display: inline-block
      float: none

    a i.icon
      fill: $colourGreyLight

      &:hover
        fill: $colourGrey

@import 'profile-sm-down'
@import 'profile-md-up'
@import 'profile-lg-down'
@import 'profile-lg-up'
