<h3>With image</h3>
<div class="bg-panache">
    <div class="row">
        <div class="col-lg-6">
            <figure class="quote quote-rich with-image">
                <img src="https://via.placeholder.com/335x415" alt="test">
                <div class="quote-main">
                    <blockquote class="quote-body">"The living area is great for socialising with your flatmates."</blockquote>
                    <figcaption class="quote-author">
                        <a href="">Elliot Howells, Undergraduate</a>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>