<figure class="quote quote-rich quote-rich-small with-image">
  <img src="https://via.placeholder.com/335x415" alt="test">
  <div class="quote-main">
      <blockquote class="quote-body">"The living area is great for socialising with your flatmates."</blockquote>
      <figcaption class="quote-author">
          Elliot Howells, Undergraduate
      </figcaption>
  </div>
</figure>