<figure class="quote quote-rich with-image quote-rich-thumbnail">
  <img class="rounded-circle" alt="test "width="100" src="//placehold.it/100x100">
  <div class="quote-main">
    <blockquote class="quote-body">"The living area is great for socialising with your flatmates."</blockquote>
    <figcaption class="quote-author">
      <a href="">Elliot Howells, Undergraduate</a>
    </figcaption>
  </div>
</figure>
