<figure class="quote quote-rich with-image">
  <div class="quote-image-wrapper">
      <img class="image lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=476&h=589&q=60&auto=format&fit=crop"
        srcset="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&h=589&q=60&crop=entrop&auto=format&fit=crop"
        data-src="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&h=589&q=60&crop=entrop&auto=format&fit=crop"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0008/1325681/Michael-Durrant-ed.jpg?w=476&h=589&q=60&crop=entrop&auto=format&fit=crop" alt="test">
  </div>
  <div class="quote-main">
    <blockquote class="quote-body">
      "I couldn't have had a better platform into the start of my career"
    </blockquote>
    <figcaption class="quote-author">
      <a href="#">Elliot Howells, Undergraduate</a>
        <cite class="quote-source">
            <a href="">Publication</a>
        </cite>
    </figcaption>
  </div>
</figure>