<figure class="quote quote-rich">
  <blockquote class="quote-body">"The living area is great for socialising with your flatmates."</blockquote>
  <figcaption class="quote-author">
    <a href="#">Elliot Howells, Undergraduate</a>
    <cite class="quote-source">
        <a href="">Publication</a>
    </cite>
  </figcaption>
</figure>