<div class="teaser teaser--document with-image">
  <p class="teaser-category">${require-svg('globe')} Document</p>
  <div class="teaser-image">
    ${require-svg('html-doc')}
  </div>

  <div class="teaser-body">
    <h1 class="teaser-title">
      <a href="https://intranet.cardiff.ac.uk/staff/applications">Academic year</a>
    </h1>
    <p class="teaser-link">
      <a
        href="https://search.cardiff.ac.uk/s/redirect?collection=website-meta&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy&amp;auth=cwPpsMmOPApYp93Sqjji7g&amp;profile=_default&amp;rank=1&amp;query=%21null">https://www.cardiff.ac.uk/study</a>
    </p>
    <span class="text-grey mb-5 d-inline-block">Web document</span>

    <p class="teaser-description">Example Word document in the public website search.</p>
  </div>
</div>
<div class="teaser teaser--document with-image">
  <p class="teaser-category">${require-svg('globe')} Document</p>
  <div class="teaser-image">
    <img alt="" src="http://placehold.it/100x130">
  </div>

  <div class="teaser-body">
    <h1 class="teaser-title">
      <a href="https://intranet.cardiff.ac.uk/staff/applications">Academic year</a>
    </h1>
    <p class="teaser-link">
      <a
        href="https://search.cardiff.ac.uk/s/redirect?collection=website-meta&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy&amp;auth=cwPpsMmOPApYp93Sqjji7g&amp;profile=_default&amp;rank=1&amp;query=%21null">https://www.cardiff.ac.uk/study</a>
    </p>
    <span class="text-grey mb-5 d-inline-block">PDF document</span>
    <p class="teaser-description">Example Word document in the public website search.</p>
  </div>
</div>