<section class="teaser teaser-vertical with-image teaser-homepage" aria-label="Find out more about postgraduate study">
        <figure class="teaser-image">
            <a href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days" class="ga-event"
                data-action="click-image" data-category="Main homepage"
                data-label="53000 - Find out more about postgraduate study - 2 teasers" aria-hidden="true">
                <img srcset="
                        https://cardiff.imgix.net/__data/assets/image/0005/965192/WNS_100517_Cardiff_University_Prospectus_166.JPG?w=700&amp;h=394&amp;fit=crop&amp;q=60&amp;auto=format 700w,
                        https://cardiff.imgix.net/__data/assets/image/0005/965192/WNS_100517_Cardiff_University_Prospectus_166.JPG?w=550&amp;h=309&amp;fit=crop&amp;q=60&amp;auto=format 550w,
                        https://cardiff.imgix.net/__data/assets/image/0005/965192/WNS_100517_Cardiff_University_Prospectus_166.JPG?w=450&amp;h=253&amp;fit=crop&amp;q=60&amp;auto=format 450w,
                        https://cardiff.imgix.net/__data/assets/image/0005/965192/WNS_100517_Cardiff_University_Prospectus_166.JPG?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,
                        https://cardiff.imgix.net/__data/assets/image/0005/965192/WNS_100517_Cardiff_University_Prospectus_166.JPG?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
                        https://cardiff.imgix.net/__data/assets/image/0005/965192/WNS_100517_Cardiff_University_Prospectus_166.JPG?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format  150w
                      "
                    src="https://cardiff.imgix.net/__data/assets/image/0005/965192/WNS_100517_Cardiff_University_Prospectus_166.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format "
                    sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 1199px) 460px, (min-width: 1200px) 570px"
                    alt="Postgraduate students on campus" />
            </a>
        </figure>
        <div class="teaser-body">
            <h1 class="teaser-title">
                <a href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days" class="ga-event"
                    data-action="click-title" data-category="Main homepage"
                    data-label="53000 - Find out more about postgraduate study - 2 teasers">Find out more about postgraduate
                    study</a>
            </h1>
        </div>
    </section>