<div class="teaser teaser-small with-image">
  <figure class="teaser-image"><a href="#"><img alt="" src="http://placehold.it/70x40"></a></figure>
  <div class="teaser-body">
    <h1 class="teaser-title"><a href="#">Better protecting victims of anti-social behaviour</a></h1>
    <p class="teaser-date">14 June 2013</p>
  </div>
</div>
<div class="teaser teaser-small with-image">
  <figure class="teaser-image"><a href="#"><img alt="" src="http://placehold.it/70x40"></a></figure>
  <div class="teaser-body">
    <h1 class="teaser-title"><a href="#">Risk expert predicted MMR crisis a decade ago</a></h1>
    <p class="teaser-date">19 June 2013</p>
  </div>
</div>