<div class="teaser teaser-larger with-image">
  <figure class="teaser-image"><a href="#"><img alt="" src="http://placehold.it/370x210"></a></figure>
  <div class="teaser-body">
    <p class="teaser-category"><a href="#">Hadyn Ellis Distinguished Lectures</a></p>
    <h1 class="teaser-title"><a href="#">Sir David Attenborough to deliver high profile lecture</a></h1>
    <p class="teaser-date">5 July 2013</p>
    <p class="teaser-body">Britain’s best-known natural history film-maker, Sir David Attenborough, will be delivering
      this year’s Hadyn Ellis Distinguished
      Lecture, the sixth in the series.</p>
    <p class="teaser-comments"><a href="#"><span class="icon-comment"></span>32</a></p>
  </div>
</div>