<div class="row">
  <div class="col-md-3">
    <div class="teaser">
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="#">Disabled students</a></h1>
        <p>A number of specifically adapted residences are available, in particular for wheelchair users and students
          with a
          hearing impairment.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="teaser">
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="#">Welsh speakers</a></h1>
        <p>Some flats are reserved for Welsh speakers &amp; learners wishing to be grouped together.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="teaser">
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="#">Couples</a></h1>
        <p>We have accommodation for couples but as it’s limited in number, unfortunately we cannot guarantee places.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="teaser">
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="#">Familes</a></h1>
        <p>We have a limited number of houses & flats for families, so unfortunately we cannot guarantee places.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="teaser">
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="#">Undergradute</a></h1>
        <p>We have self-catered or catered undergraduate accommodation with ensuite or shared bathrooms.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="teaser">
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="#">Postgradute</a></h1>
        <p>From overseas? You’re guaranteed a place in a postgraduate residence. From the UK? We can help you find
          rented accommodation.</p>
        <p class="teaser-comments"><a href="#"><span class="icon-comment"></span>32</a></p>
      </div>
    </div>
  </div>
</div>