<div class="teaser teaser-larger">
    <div class="teaser-body">
      <h1 class="teaser-title"><a href="#">Courses</a></h1>
      <p>Choose from <a href="#">over 300 courses</a> that you can tailor to suit your ambitions.</p>
    </div>
  </div>