<div class="teaser teaser--video">
  <a href="https://www.youtube.com/watch?v=ub7StpyE-Vk"class="video video--lazy order-2" data-youtubeid="ub7StpyE-Vk" data-overlay-content="true">
    <img class="lazy" src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format" data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text">  </a>
  </a>
  <div class="teaser-body order-1">
    <h3 class="teaser-title">Title goes here</h3>
    <p>Some text goes here</p>
  </div>
</div>
