<div class="teaser teaser-small">
  <div class="teaser-body">
    <h2 class="teaser-title"><a
        href="https://www.cardiff.ac.uk/news/view/1539595-eu-backing-for-world-class-magnetics-research">EU backing for
        world-class magnetics research </a></h2>
    <p class="teaser-date">24 July 2019</p>
  </div>
</div>