
    <div class="teaser teaser-vertical teaser-large with-image">
        <figure class="teaser-image">
          <a href="https://www.cardiff.ac.uk/chemistry/research" aria-hidden="true">
            <img
              srcset="
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=750&amp;h=422&amp;fit=crop&amp;q=60&amp;auto=format  750w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format  570w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=270&amp;h=152&amp;fit=crop&amp;q=60&amp;auto=format  270w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=220&amp;h=124&amp;fit=crop&amp;q=60&amp;auto=format  220w,
                    https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format  166w"
              src="https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=270&amp;h=152&amp;fit=crop&amp;q=60&amp;auto=format "
              sizes="(max-width: 767px) 100vw, (max-width: 970px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
              alt="Chemistry connections">
          </a>
        </figure>
        <div class="teaser-body">
          <h2 class="teaser-title"><a href="https://www.cardiff.ac.uk/chemistry/research">Research</a></h2>
          <p>We are committed to tackling important scientific challenges of the 21st century through internationally leading
            research.</p>
          <ul class="list list-links" style="padding-top:10px;">
            <li><a href="https://www.cardiff.ac.uk/chemistry/research/impact">Impact${require-svg('chevron-right')}</a></li>
            <li><a href="https://www.cardiff.ac.uk/chemistry/research/sections">Sections${require-svg('chevron-right')}</a></li>
            <li><a href="https://www.cardiff.ac.uk/chemistry/research/facilities">Facilities${require-svg('chevron-right')}</a></li>
          </ul>
        </div>
      </div>
