<div class="row">
  <div class="col-md-2">
    <div class="teaser teaser-small teaser-vertical with-image">
      <figure class="teaser-image"><a href="timeline"><img alt="" src="http://placehold.it/170x100"></a></figure>
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="timeline">Timeline</a></h1>
        <p>Show events along a timeline.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="teaser teaser-small teaser-vertical">
      <div class="teaser-body">
        <h1 class="teaser-title"><a href="timeline">Timeline without image</a></h1>
        <p>Show events along a timeline.</p>
      </div>
    </div>
  </div>
</div>