<div class="teaser teaser-boxed with-image">
    <div class="teaser-body">
        <figure class="teaser-image">
            <a href="#">
                <img src="http://placehold.it/37x52" alt="placeholder">
            </a>
            <svg class="icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2499.48982 2441.99992">
                <title>microsoft-word</title>
                <path d="M1306.55227,0h169.80424V227.1628c303.83025,1.70372,607.38787-3.13484,910.94567,1.70372,64.74137-6.54229,115.55767,43.72884,109.606,108.47025,4.81581,559.38835-1.13588,1119.04936,2.83954,1678.43776-2.83954,57.35864,5.67907,120.96412-27.55479,171.78042-41.45714,29.53124-95.13586,25.85114-143.38508,28.1-284.27153-1.38562-568.225-.81785-852.45114-.81785v227.16279H1298.8971C866.74263,2363.06089,433.40687,2290.664.38913,2214.83713q-.443-993.67833,0-1987.10656C435.6555,151.63117,871.26285,77.53067,1306.575,0Z"
                    transform="translate(-0.25788)" style="fill:#2a5699" />
                <path d="M1476.35651,312.34885h937.04655v1817.3024H1476.35651v-227.1628h738.2791v-113.5814h-738.2791V1646.9303h738.2791V1533.3489h-738.2791V1391.37215h738.2791v-113.5814h-738.2791V1135.814h738.2791V1022.2326h-738.2791V880.25585h738.2791V766.67445h-738.2791V624.6977h738.2791V511.1163h-738.2791ZM587.01407,814.08337c53.95117-3.11216,107.90233-5.38375,161.85354-8.22329,37.75443,191.68,76.37212,383.04191,117.26141,573.85861,32.09806-197.06372,67.60369-393.55957,101.92794-590.328,56.7907-1.97636,113.5814-5.11113,170.09948-8.51861-64.17351,275.13958-120.39627,552.57353-190.54417,826.00937-47.43162,24.71525-118.42-1.13589-174.64275,2.83953-37.77714-187.95455-81.77862-374.81862-115.58042-563.63634-33.2112,183.434-76.37212,365.16421-114.42192,547.4851q-81.77859-4.25931-164.14783-9.94981c-47.11355-249.87908-102.49586-498.05442-146.49728-748.50144,48.54469-2.2716,97.38471-4.27066,145.95208-5.9744C407.51,1010.01119,440.74392,1190.0604,466.29974,1371.2,506.394,1185.51713,547.26054,999.81147,587.014,814.08328Z"
                    transform="translate(-0.25788)" style="fill:#fff" />
            </svg>
        </figure>
        <p class="teaser-category">Form</p>
        <h1 class="teaser-title">
            <a href="https://intranet.cardiff.ac.uk/staff/applications">Academic year</a>
        </h1>
        <p class="teaser-description">Download the latest WSA academic year calendar.</p>
    </div>
</div>