<div class="row">
  <div class="col-12">
    <div class="teaser teaser-vertical with-image">
      <figure class="teaser-image"><a href="#"><img alt="" src="http://placehold.it/270x150"></a></figure>
      <div class="teaser-body">
        <p class="teaser-category"><a href="#">Research</a></p>
        <h1 class="teaser-title"><a href="#">Children’s brain processing speed indicates risk of psychosis</a></h1>
        <p class="teaser-date">17 June 2013</p>
        <p>Findings improve our understanding of brain processes associated with psychotic experiences in childhood.</p>
        <p class="teaser-comments"><a href="#"><span class="icon-comment"></span>32</a></p>
      </div>
    </div>
    <div class="teaser teaser-vertical">
      <div class="teaser-body">
        <p class="teaser-category"><a href="#">Research without image</a></p>
        <h1 class="teaser-title"><a href="#">Children’s brain processing speed indicates risk of psychosis</a></h1>
        <p class="teaser-date">17 June 2013</p>
        <p>Findings improve our understanding of brain processes associated with psychotic experiences in childhood.</p>
        <p class="teaser-comments"><a href="#"><span class="icon-comment"></span>32</a></p>
      </div>
    </div>
  </div>
</div>