@media #{$breakpoint-md-up}
  .checkbox-btn-group,
  .radio-btn-group
    &-bordered
      flex-direction: row

      > .checkbox-option,
      > .radio-option
        input[type="checkbox"],
        input[type="radio"]
          + .radio-option-label,
          + .checkbox-option-label
            border: $baseUnit*0.1 solid $colourBtnLinkColour
            border-right: 0
          
        &:first-child
          input[type="checkbox"],
          input[type="radio"]
            + .radio-option-label,
            + .checkbox-option-label
              border-radius: 0
              border-top-left-radius: $baseUnit*0.4
              border-bottom-left-radius: $baseUnit*0.4

        &:last-child
          input[type="checkbox"],
          input[type="radio"]
            + .radio-option-label,
            + .checkbox-option-label
              border-right: $baseUnit*0.1 solid $colourBtnLinkColour
              border-bottom: $baseUnit*0.1 solid $colourBtnLinkColour
              border-radius: 0
              border-top-right-radius: $baseUnit*0.4
              border-bottom-right-radius: $baseUnit*0.4