@media #{$breakpoint-md-up}
  .nav-breadcrumb
    .breadcrumb
      margin: 0
      border-bottom: #{$baseUnit * 0.1} solid $colourGreySoft

      &-item
        &:not(:last-child)
          overflow: visible
          text-overflow: inherit
          white-space: normal

        &:first-child
          margin-left: 0
  
        &:last-child
          margin-right: 0