.nav-breadcrumb
  grid-area: breadcrumb
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  order: 4

  .breadcrumb
    @extend .flex-nowrap
    @extend .align-items-center
    margin: 0 (-$baseUnit)
    border-bottom: #{$baseUnit * 0.1} solid $colourGreySoft
    padding-bottom: $baseUnit*1.2

    &-item
      @extend .text-truncate

      a
        color: $colourGreyDarker
        text-decoration: underline
        white-space: nowrap

        &:hover
          color: $colourTintDark

      &:first-child
        margin-left: $baseUnit

      &:last-child
        margin-right: $baseUnit

      &-separator
        margin: 0 #{$baseUnit}
        
        .icon
          @include square(map-get($svgWidths, 'xs'))
          display: block
          fill: $colourRed
          margin: 0 0 #{$baseUnit * 0.2}

@import 'breadcrumb-md-up'