
<div class="col-12">
  <!-- Area where chart prints -->
  <div id="chart-2471358" class="chart chart-highcharts mb-20 overflow-hidden"></div>

  <!-- chart table -->
  <div class="chart-table" data-title="title for chart A" data-type="bar" data-x-axis-title="X axis title goes here"
    data-y-axis-title="Y axis title goes here" data-show-legend="true" data-assetid="2471358">
    <table id="table99998a" class="table">
      <thead>
        <tr>
          <th id="table99998r1c1">Date</th>
          <th id="table99998r1c2"> New student cases</th>
          <th id="table99998r1c3"> 7 day rolling average</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td headers="table99998r1c1">05/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">06/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">07/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">08/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3">2</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">09/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">55</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">10/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">11/10/2020</td>
          <td headers="table99998r1c2">76</td>
          <td headers="table99998r1c3"></td>
        </tr>
        <tr>
          <td headers="table99998r1c1">12/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">99</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">13/10/2020</td>
          <td headers="table99998r1c2">6</td>
          <td headers="table99998r1c3">23</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">14/10/2020</td>
          <td headers="table99998r1c2">29</td>
          <td headers="table99998r1c3">33</td>
        </tr>
        <tr>
          <td headers="table99998r1c1">15/10/2020</td>
          <td headers="table99998r1c2">16</td>
          <td headers="table99998r1c3">27</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>