<div id="chart-2471357c" class="chart chart-highcharts" style="margin-bottom: 20px; overflow: hidden;">
</div>

<!-- chart A table -->
<div class="chart-table" data-title="title for chart A" data-type="line" data-x-axis-title="X axis title goes here"
  data-y-axis-title="Y axis title goes here" data-show-legend="true" data-assetid="2471357c">

  <table id="table99998a" class="table table-collapse">
    <thead>
      <tr>
        <th id="table99998r1c13">Date</th>
        <th id="table99998r1c23"> New student cases</th>
        <th id="table99998r1c33"> 7 day rolling average</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td headers="table99998r1c1">01/10/2020</td>
        <td headers="table99998r1c2">1</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">02/10/2020</td>
        <td headers="table99998r1c2">2</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">03/10/2020</td>
        <td headers="table99998r1c2">3</td>
        <td headers="table99998r1c3">237</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">04/10/2020</td>
        <td headers="table99998r1c2">4</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">05/10/2020</td>
        <td headers="table99998r1c2">5</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">06/10/2020</td>
        <td headers="table99998r1c2">6</td>
        <td headers="table99998r1c3">27</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">07/10/2020</td>
        <td headers="table99998r1c2">7</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">08/10/2020</td>
        <td headers="table99998r1c2">8</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">09/10/2020</td>
        <td headers="table99998r1c2">9</td>
        <td headers="table99998r1c3">27</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">10/10/2020</td>
        <td headers="table99998r1c2">10</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">11/10/2020</td>
        <td headers="table99998r1c2">11</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">12/10/2020</td>
        <td headers="table99998r1c2">12</td>
        <td headers="table99998r1c3">27</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">13/10/2020</td>
        <td headers="table99998r1c2">13</td>
        <td headers="table99998r1c3"></td>
      </tr>
      <tr>
        <td headers="table99998r1c1">14/10/2020</td>
        <td headers="table99998r1c2">14</td>
        <td headers="table99998r1c3">33</td>
      </tr>
      <tr>
        <td headers="table99998r1c1">15/10/2020</td>
        <td headers="table99998r1c2">15</td>
        <td headers="table99998r1c3">27</td>
      </tr>
    </tbody>
  </table>
</div>