<h3>Form w/ auto submit enabled</h3>
<form action="#">
  <fieldset>
    <legend id="form-label-checkbox-1">Radio w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">Master of Design Administration (full-time)</label>
        <input
          type="radio"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend id="form-label-checkbox-1">Checkbox w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">Master of Design Administration (full-time)</label>
        <input
          type="checkbox"
          value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
          data-auto-redirect="true"
          class="form-control"
          id="course-options-list"
        />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend id="form-label-checkbox-1">Select w/ redirect mode</legend>
    <div class="form-group">
      <div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
        <label for="course-options-list">First name</label>
        <select data-auto-redirect="true" class="form-control" id="course-options-list"
          ><option
            value="https://wwwstaging.cardiff.ac.uk/test/study/postgraduate/taught-new/courses/course/master-of-design-administration"
            selected=""
            >Master of Design Administration (full-time)</option
          >
          <option value="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/master-of-design-administration-part-time"
            >Master of Design Administration (part-time)</option
          ></select
        >
      </div>
    </div>
  </fieldset>
</form>
