<form action="" class="form">
  <div class="checkbox-btn-group">
    <div class="checkbox-option">
      <input type="checkbox" value="pgt-courses" name="checkbox-item" id="pgt-checkbox-item" checked />
      <label for="pgt-checkbox-item" class="checkbox-option-label">Taught</label>
    </div>
    <div class="checkbox-option">
      <input type="checkbox" value="pgr-courses" name="checkbox-item" id="pgr-checkbox-item" />
      <label for="pgr-checkbox-item" class="checkbox-option-label">Research</label>
    </div>
    <div class="checkbox-option">
      <input type="checkbox" value="pgr-courses" name="checkbox-item" id="op2-checkbox-item" />
      <label for="op2-checkbox-item" class="checkbox-option-label">Another opts</label>
    </div>
  </div>
</form>
