<div class="form-group">
  <h4>We can accept the following as evidence</h4>
  <ul class="list list-icons">
    <li>${require-svg('tick')}A full diagnostic assessment report from a phsychologist. For example: A chartered or
      practitioner psychologist who is registered with the Health and Care Professions Council (HCPC).
    </li>
    <li>${require-svg('tick')}A full diagnostic assessment report from a suitably qualified assessor. For example: A
      specialist teacher who holds a current SpLD Assessment Practising Certificate.
    </li>
  </ul>

  <h4 class="mt-5">We can not accept the following as evidence</h4>
  <ul class="list list-icons">
    <li>${require-svg('close')} Form 8s</li>
    <li>${require-svg('close')} Evidence of previous exam provisions.</li>
    <li>${require-svg('close')} Appointment letters</li>
    <li>${require-svg('close')} Photographs</li>
  </ul>

  <p>Although not acceptable on their own these are very useful to share with us when provided alongside diagnostic evidence.</p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tortor velit, venenatis nec eros aliquet, pulvinar lobortis massa. Nulla facilisi.
    Proin consectetur orci sapien, faucibus condimentum diam cursus a. Curabitur consectetur nisl lectus, sit amet mattis neque venenatis sed. Duis
    malesuada viverra posuere. Fusce sagittis est vel mauris vulputate, quis rhoncus quam porta. Vivamus vitae pellentesque mi. Duis eu ligula velit.
    Integer vel auctor lorem.
  </p>

  <div class="highlighted-info">
    <p>
      This is used when there is information which needs to stand out on a page. That text can be placed inside this area so that it's more apparent
      to the user.
    </p>
  </div>
</div>
