<form action="#" class="form-horizontal">
    <div class="form-group">
      <p class="form-label" id="form-label-1"> Have you previously received support for your disability?</p>
      <div class="controls" aria-labelledby="form-label-1">
        <div class="radio-option">
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="Yes" />
          <label class="radio-option-label" for="optionsRadios1">Yes</label>
        </div>
        <div class="radio-option">
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="No" />
          <label class="radio-option-label" for="optionsRadios2">No</label>
        </div>
      </div>
    </div>
</form>

<h3>With validation message</h3>
<form action="#" class="form-horizontal">
    <div class="form-group">
      <p class="form-label" id="form-label-2">Have you previously received support for your disability?</p>
      <p class="question-error-msg">Error message asking the user to complete the task</p>
      <div class="controls" aria-labelledby="form-label-2">
        <div class="radio-option">
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="Yes" />
          <label class="radio-option-label" for="optionsRadios3">Yes</label>
        </div>
        <div class="radio-option">
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="No" />
          <label class="radio-option-label" for="optionsRadios4">No</label>
        </div>
      </div>
    </div>
</form>
