<form action="#" class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="disabled">Text input - disabled</label>
      <div class="controls">
        <input type="text" class="form-control" id="disabled" class="col-md-3" placeholder="Type something…" disabled>
        <span class="help-block">Example block-level help text here.</span>
      </div>
    </div>
  </fieldset>
</form>