<form>
  <div class="validation-errors">
    <h4>The form had the following errors:</h4>
    <ul class="list">
      <li><a href="#error1">Please select an answer</a></li>
      <li><a href="#error2">Please select an answer</a></li>
      <li><a href="#error3">Please select an answer</a></li>
      <li><a href="#error4">Please select an answer</a></li>
      <li><a href="#error5">Please select an answer</a></li>
      <li><a href="#error6">Please select an answer</a></li>
    </ul>
  </div>
</form>
