<div class="highlighted-info">
    <p>Important information about the form</p>
    <p>It's extremely important that users read this information while filling in the form, this text will stand out compared to other content on the page</p>
</div>