<form action="#" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="selectmultiple">Select multiple</label>
            <div class="controls">
                <select class="form-control" id="selectmultiple" multiple="multiple">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>

<form action="#" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="selectmultiple">Select multiple</label>
            <p class="question-error-msg">Error message asking the user to complete the task</p>
            <div class="controls">
                <select class="form-control" id="selectmultiple" multiple="multiple">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>