<form class="form">
    <div class="radio-btn-group">
      <div class="radio-option">
        <input type="radio" value="pgt-courses" name="collection" id="pgt-collection" checked />
        <label for="pgt-collection" class="radio-option-label">Taught</label>
      </div>
      <div class="radio-option">
        <input type="radio" value="pgr-courses" name="collection" id="pgr-collection" />
        <label for="pgr-collection" class="radio-option-label">Research</label>
      </div>
    </div>
  </form>