<form class="form">
    <div class="radio-btn-group radio-btn-group-bordered">
      <div class="radio-option">
        <input type="radio" value="pgt-courses" name="collection" id="pgt-collection-bordered" checked />
        <label for="pgt-collection-bordered" class="radio-option-label">Taught</label>
      </div>
      <div class="radio-option">
        <input type="radio" value="pgr-courses" name="collection" id="pgr-collection-bordered" />
        <label for="pgr-collection-bordered" class="radio-option-label">Research</label>
      </div>
    </div>
</form>
