<form action="#" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<p class="form-label" id="form-label-checkbox-1">SOme text</p>
			<div class="controls" role="group" aria-labelledby="form-label-checkbox-1">
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="Support in the classroom"
						aria-required="false" aria-invalid="false" id="supportOption1">
					<label class="checkbox-option-label" for="supportOption1">
						Support in the classroom.<br>
						<span class="form-hint">For example: LSA/TA</span>
					</label>
				</div>
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="One-to-one study skills"
						aria-required="false" aria-invalid="false" id="supportOption2">
					<label class="checkbox-option-label" for="supportOption2">
						One-to-one study skills
					</label>
				</div>
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="Recorded lessons/lectures"
						aria-required="false" aria-invalid="false" id="supportOption3">
					<label class="checkbox-option-label" for="supportOption3">
						Recorded lessons/lectures
					</label>
				</div>
			</div>
		</div>
	</fieldset>
</form>

<h3>With validation message</h3>
<form action="#" class="form-horizontal">
		<div class="form-group">
			<p class="form-label" id="form-label-checkbox-2">SOme text</p>
			<p class="question-error-msg">Validation text informing the user of something</p>
			<div class="controls" role="group" aria-labelledby="form-label-checkbox-2">
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="Support in the classroom"
						aria-required="false" aria-invalid="false" id="supportOption4">
					<label class="checkbox-option-label" for="supportOption4">
						Support in the classroom.<br>
						<span class="form-hint">For example: LSA/TA</span>
					</label>
				</div>
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="One-to-one study skills"
						aria-required="false" aria-invalid="false" id="supportOption5">
					<label class="checkbox-option-label" for="supportOption5">
						One-to-one study skills
					</label>
				</div>
				<div class="checkbox-option">
					<input name="disabilityCategory" type="checkbox" value="Recorded lessons/lectures"
						aria-required="false" aria-invalid="false" id="supportOption6">
					<label class="checkbox-option-label" for="supportOption6">
						Recorded lessons/lectures
					</label>
				</div>
			</div>
		</div>
</form>