<form action="#" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="language">Language</label>
			<div class="controls">
				<select class="form-control" id="language">
					<option>English</option>
					<option>Welsh</option>
				</select>
			</div>
		</div>
	</fieldset>
</form>

<h3>With validation message</h3>
<form action="#" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="language2">Language</label>
			<p class="question-error-msg">Error message asking the user to complete the task</p>
			<div class="controls" >
				<select class="form-control" id="language2">
					<option>English</option>
					<option>Welsh</option>
				</select>
			</div>
		</div>
	</fieldset>
</form>