<div class="form-group">
    <label for="date-from">From</label>
    <input class="form-control" type="date" id="date-from">
</div>
<div class="form-group">
    <label for="date-to">To</label>
    <input class="form-control" type="date" id="date-to">
</div>