<form action="#">
	<fieldset>
		<div class="control-group">
			<label for="textinput">First name</label>>
			<input class="form-control" type="text" id="textinput" class="col-md-3">
		</div>
	</fieldset>
</form>