<form action="#" class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="textarea">Text area</label>
			<div class="controls">
				<textarea rows="3" id="textarea"></textarea>
			</div>
		</div>
	</fieldset>
</form>

<h3>With validation message</h3>
<form action="#" class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label for="textarea">Text area</label>
			<p class="question-error-msg">Error message asking the user to complete the task</p>
			<div class="controls">
				<textarea class="form-control" rows="3" id="textarea"></textarea>
			</div>
		</div>
	</fieldset>
</form>