<form class="form-inline">
  <input type="text" class="form-control"placeholder="Email" class="col-md-2">
  <input type="password" class="form-control"placeholder="Password" class="col-md-2">
  <input type="submit" class="btn btn-primary" value="Sign in"></input>
</form>

<h3>With validation message</h3>
<form class="form-inline form-large" action="" method="GET" role="search">
  <input type="hidden" name="collection" value="ug-courses">
  <input class="form-control" name="query" id="query" title="Search query" type="text" value="" accesskey="q"
    placeholder="Search by keyword, UCAS code, subject etc" class="form-control input-lg query search-query span6">
  <button type="submit" class="btn btn-primary btn-lg hidden-phone">
    ${require-svg('search')} Search</button>
</form>