<form action="#" class="form-horizontal">
	<fieldset>
		<legend>Error</legend>
		<div class="alert alert-error">
			Please correct the fields marked below to continue
		</div>
		<div class="control-group error">
			<label class="control-label" for="textinput-error">First name</label>
			<div class="controls">
				<input type="text" id="textinput-error" class="col-md-3">
				<span class="help-block"><span class="icon-warning"></span>Please enter your first name</span>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Success</legend>
		<div class="control-group success">
			<label class="control-label" for="textinput-error">Email address</label>
			<div class="controls">
				<input type="text" id="textinput-error" class="col-md-3">
				<span class="help-block"><span class="icon-checkmark"></span>Email address available</span>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Info</legend>
		<div class="control-group info">
			<label class="control-label" for="textinput">First name</label>
			<div class="controls">
				<input type="text" id="textinput" class="col-md-3">
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Warning</legend>
		<div class="control-group warning">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" id="password" class="col-md-3" value="abc">
				<span class="help-block"><span class="icon-warning"></span>Password strength: Low</span>
			</div>
		</div>
	</fieldset>
</form>