<table>
  <thead>
      <tr>
          <th>Name</th>
          <th>Computed media query</th>
          <th>Description</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td><code>xs</code></td>
          <td><code>(min-width: 320px)</code></td>
          <td>Only applies above 320px</td>
      </tr>
      <tr>
          <td><code>sm</code></td>
          <td><code>(min-width: 480px)</code></td>
          <td>Only applies above 480px</td>
      </tr>
      <tr>
          <td><code>md</code></td>
          <td><code>(min-width: 768px)</code></td>
          <td>Only applies above 768px</td>
      </tr>
      <tr>
          <td><code>lg</code></td>
          <td><code>(min-width: 980px)</code></td>
          <td>Only applies above 980px</td>
      </tr>
      <tr>
          <td><code>xl</code></td>
          <td><code>(min-width: 1200px)</code></td>
          <td>Only applies above 1200px</td>
      </tr>

      <tr>
        <td><code></code></td>
        <td></td>
        <td>Applies to all breakpoints</td>
    </tr>
  </tbody>
</table>