<p>Spacing utilities that apply to all breakpoints, from xs to xl, have no breakpoint abbreviation in them. This is because those classes are applied from min-width: 0 and up, and thus are not bound by a media query. The remaining breakpoints, however, do include a breakpoint abbreviation.</p>

<h3>Where property is one of</h3>
<table>
  <thead>
    <tr>
      <th>code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>m</code></td>
      <td>For classes that set margin</td>
    </tr>
    <tr>
      <td><code>p</code></td>
      <td>For classes that set padding</td>
    </tr>
  </tbody>
</table>
