<table>
  <thead>
    <tr>
      <th>code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>t</code></td>
      <td>For classes that set margin-top or padding-top</td>
    </tr>
    <tr>
      <td><code>b</code></td>
      <td>For classes that set margin-bottom or padding-bottom</td>
    </tr>
    <tr>
      <td><code>l</code></td>
      <td>For classes that set margin-left or padding-left</td>
    </tr>
    <tr>
      <td><code>r</code></td>
      <td>For classes that set margin-right or padding-right</td>
    </tr>
    <tr>
      <td><code>x</code></td>
      <td>For classes that set both *-left and *-right</td>
    </tr>
    <tr>
      <td><code>y</code></td>
      <td>For classes that set both *-top and *-bottom</td>
    </tr>
  </tbody>
</table>
