<table>
  <thead>
    <tr>
      <th>code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>5</code></td>
      <td>5px</td>
    </tr>
    <tr>
      <td><code>10</code></td>
      <td>10px</td>
    </tr>
    <tr>
      <td><code>15</code></td>
      <td>15px</td>
    </tr>
    <tr>
      <td><code>20</code></td>
      <td>20px</td>
    </tr>
    <tr>
      <td><code>25</code></td>
      <td>25px</td>
    </tr>
    <tr>
      <td><code>30</code></td>
      <td>30px</td>
    </tr>
    <tr>
      <td><code>35</code></td>
      <td>35px</td>
    </tr>
    <tr>
      <td><code>40</code></td>
      <td>40px</td>
    </tr>
    <tr>
      <td><code>50</code></td>
      <td>50px</td>
    </tr>
  </tbody>
</table>
