.toast-container
  position: fixed
  z-index: 1040

.toast
  background-color: $colourWhite
  font-size: map-get($font17, 'size')
  line-height: map-get($font17, 'line-height')
  position: relative

  &-header
    color: $colourGreyDarker
    padding: 1em 1em 0
    border-bottom: 0
    background: transparent
    align-items: start

  &-body
    padding: 0.25em 1rem 1em

  &--top-left
    top: $baseUnit * 2
    left: $baseUnit * 2

  &--top-right
    top: $baseUnit * 2
    right: $baseUnit * 2

  &--bottom-left
    bottom: $baseUnit * 2
    left: $baseUnit * 2

  &--bottom-right
    bottom: $baseUnit * 2
    right: $baseUnit * 2

  .close
    .icon
      vertical-align: top
      width: $baseUnit * 1.2
      height: $baseUnit * 1.2
      margin-top: $baseUnit * 0.5

  &-success, &-info, &-error
    color: $colourWhite

    a
      color: $colourWhite

    .toast-header
      color: $colourWhite

    .close
      color: $colourWhite
      opacity: 1

      .icon
        fill: $colourWhite

  &-success
    background: $colourSuccess

  &-info
    background: $colourInfo

  &-error
    background: $colourRed

  &-warning
    background: $colourAlertWarningBackground

  a
    text-decoration: underline
