<main id="content" class="content">
  <!-- Page layout: None-->

  <!-- Start WIIP Master PL -->







  <div class="">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <h1 class="colour-red">Talybont Court</h1>

          <ul class="list list-no-disc">

            <!-- Price -->
            <li><strong>Price: </strong>From £130 per week (Total cost from £4,770.48)</li>

            <!-- Residential Period -->
            <li><strong>Length of stay: </strong>Intermediate, Full year</li>

            <!-- Available To -->
            <li><strong>Available to: </strong>undergraduates, postgraduates</li>

            <!-- Number of Rooms -->
            <li><strong>Students: </strong>513</li>

          </ul>

          <!-- View 360 image Tablet -->
          <a class="btn btn-lg btn-success d-lg-none col-12 mb-30"
            href="http://virtualtour.cardiff.ac.uk/accommodation/index.html?group=14">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 250">
              <title>eye</title>
              <path
                d="M200,150.82a50,50,0,0,0-50,50,50.68,50.68,0,0,0,50,50,50,50,0,0,0,50-50,49.37,49.37,0,0,0-50-50Zm0,125A74.69,74.69,0,1,1,253.12,254,74.71,74.71,0,0,1,200,275.82Zm0-200c-55.08,0-105.47,31.25-141.41,62.5-18.36,15.63-32.42,30.08-43,43S0,200.82,0,200.82s5.08,6.64,15.62,19.53c20.71,26.18,57.82,59.77,106.65,85.94A162.78,162.78,0,0,0,200,325.82c55.08,0,105.47-31.25,141.8-62.5,18-15.62,32-30.08,42.58-43S400,200.82,400,200.82s-5.08-6.64-15.62-19.53c-20.71-26.17-57.82-59.76-106.26-85.94C253.52,82.46,227.73,75.82,200,75.82Z"
                transform="translate(0 -75.82)" />
            </svg>
            View 360&#176; image of room
          </a>
        </div>


      </div>
    </div>
  </div>

  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <!-- Key facilities -->
          <div class="box box-facilities mb-30">
            <div class="box-header">
              <h4 class="box-title">Key facilities</h4>
            </div>
            <div class="box-body">
              <div class="row">
                <!-- WiFi -->
                <div class="facility col-6 col-md-3">
                  <svg class="icon" viewBox="0 0 23 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>WiFi</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
                      stroke-linejoin="round">
                      <g transform="translate(-117.000000, -632.000000)" stroke="#020303" stroke-width="1.105">
                        <g transform="translate(96.000000, 560.000000)">
                          <g transform="translate(22.000000, 73.000000)">
                            <g>
                              <path
                                d="M12,14 C12,15.1046129 11.1044284,16 9.99958805,16 C8.89474768,16 8,15.1046129 8,14 C8,12.8953871 8.89474768,12 9.99958805,12 C11.1044284,12 12,12.8953871 12,14 Z">
                              </path>
                              <path d="M2,7 C6.41879282,3 13.5820702,3 18,7"></path>
                              <path d="M0,4 C5.79926002,-1.33333333 15.2015666,-1.33333333 21,4"></path>
                              <path d="M14,9.59836502 C11.6703297,7.34245262 8.19210419,7.47289015 6,10"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                  WiFi
                </div>

                <!-- WheelChair Access -->
                <div class="facility col-6 col-md-3">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.03 32">
                    <title>Disabled</title>
                    <path
                      d="M11,20.81L9.59,7.38A4,4,0,0,1,7.75,4,4,4,0,0,1,8.91,1.19,4,4,0,0,1,11.69,0a4,4,0,0,1,2.84,1.16A3.91,3.91,0,0,1,15.72,4a3.87,3.87,0,0,1-3.28,3.91l0.34,3.69,5.56-.06v2.69l-5.22,0,0.34,3.78,8,0.06,4,8,2.75-.81L29,28l-4.91,1.47-4.37-8.56Zm2.41,8.56a7.85,7.85,0,0,0,6.69-3.81l1.38,2.69A10.48,10.48,0,1,1,8.31,12.41l0.34,3a7.73,7.73,0,0,0-3.06,6.16A7.93,7.93,0,0,0,13.44,29.38Z"
                      transform="translate(-2.97 -0.03)" />
                  </svg>
                  Wheelchair Access
                </div>

                <!-- Hearing Aid Loop -->
                <div class="facility col-6 col-md-3">
                  <svg class="icon" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Hearing Aid Loop</title>
                    <defs>
                      <polygon points="0 -0.0003 19.9787 -0.0003 19.9787 19.9596 0 19.9596"></polygon>
                    </defs>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-490.000000, -631.000000)">
                        <g transform="translate(96.000000, 560.000000)">
                          <g transform="translate(394.000000, 71.000000)">
                            <g transform="translate(0.571429, 0.000000)">
                              <mask fill="white">
                                <use xlink:href="#path-1"></use>
                              </mask>
                              <g></g>
                              <path
                                d="M9.7457,18.2247 C9.3367,18.2247 8.7907,18.1857 8.2247,17.8347 L8.9277,16.6847 C9.2197,16.8607 9.4927,16.8607 9.7457,16.8607 L9.8627,16.8607 L9.9607,16.8607 C10.3897,16.8607 10.7397,16.7627 11.0327,16.5487 C11.3247,16.3337 11.5397,16.0027 11.6557,15.5547 C11.7537,15.1637 11.7727,14.7357 11.7927,14.3457 L11.7927,14.3267 C11.7927,14.0737 11.8117,13.7997 11.8507,13.6447 L11.8707,13.5077 L11.9487,13.3907 C12.0077,13.2737 12.1037,13.1577 12.1827,13.0397 C12.5137,12.5337 13.0197,11.7727 13.4107,11.0127 C13.8397,10.1947 14.0537,9.5117 14.0537,9.0047 C14.0537,7.8557 13.6047,6.7637 12.7867,5.9647 C11.9687,5.1457 10.8957,4.6977 9.7457,4.6977 C7.3677,4.6977 5.4377,6.6267 5.4377,9.0047 L4.0737,9.0047 C4.0737,5.8677 6.6277,3.3327 9.7457,3.3327 C11.2667,3.3327 12.6887,3.9177 13.7617,4.9907 C14.8337,6.0617 15.4177,7.4847 15.4177,9.0047 C15.4177,9.7457 15.1447,10.6037 14.6187,11.6567 C14.1897,12.4547 13.6637,13.2537 13.3127,13.7807 C13.2737,13.8587 13.2157,13.9367 13.1767,13.9957 C13.1767,14.0737 13.1567,14.1897 13.1567,14.3847 L13.1567,14.4047 C13.1377,14.8327 13.1177,15.3597 12.9817,15.9057 C12.7867,16.6647 12.3967,17.2497 11.8317,17.6597 C11.3057,18.0307 10.6817,18.2247 9.9607,18.2247 L9.8827,18.2247 L9.7457,18.2247 Z M12.6887,10.3297 L11.4417,9.7657 C11.5577,9.5117 11.6167,9.2587 11.6167,8.9857 C11.6167,7.9527 10.7787,7.1147 9.7457,7.1147 C8.7127,7.1147 7.8747,7.9527 7.8747,8.9857 L6.5107,8.9857 C6.5107,7.2117 7.9527,5.7497 9.7457,5.7497 C11.5197,5.7497 12.9817,7.2117 12.9817,8.9857 C12.9817,9.4537 12.8847,9.9017 12.6887,10.3297 L12.6887,10.3297 Z M1.3457,19.9597 L7.3877,13.8977 L6.0617,12.5727 L-0.0003,18.6147 L-0.0003,19.9597 L1.3457,19.9597 Z M18.6347,-0.0003 L14.5997,4.0157 C15.0477,4.5027 15.5157,4.9517 15.7497,5.5547 L19.9787,1.3447 L19.9787,-0.0003 L18.6347,-0.0003 Z"
                                fill="#1D1D1B" mask="url(#mask-2)"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                  Hearing aid loop
                </div>

                <!-- Laundry -->
                <div class="facility col-6 col-md-3">
                  <svg viewBox="0 0 19 21" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Laundry</title>
                    <defs>
                      <polygon points="0 0.7235 17.831 0.7235 17.831 21 0 21"></polygon>
                      <polygon points="0 21.2766 17.831 21.2766 17.831 0.9996 0 0.9996"></polygon>
                    </defs>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-687.000000, -633.000000)">
                        <g transform="translate(96.000000, 560.000000)">
                          <g transform="translate(591.000000, 72.000000)">
                            <g transform="translate(0.555556, 0.000000)">
                              <path
                                d="M8.9342,7.8617 C11.7752,7.8617 14.0862,10.1737 14.0862,13.0147 C14.0862,15.8557 11.7752,18.1677 8.9342,18.1677 C6.0932,18.1677 3.7822,15.8557 3.7822,13.0147 C3.7822,10.1737 6.0932,7.8617 8.9342,7.8617 M8.9342,18.9517 C12.2072,18.9517 14.8712,16.2877 14.8712,13.0147 C14.8712,9.7417 12.2072,7.0777 8.9342,7.0777 C5.6612,7.0777 2.9972,9.7417 2.9972,13.0147 C2.9972,16.2877 5.6612,18.9517 8.9342,18.9517"
                                id="Fill-1" fill="#020303"></path>
                              <path
                                d="M8.9342,9.3197 C10.9712,9.3197 12.6292,10.9767 12.6292,13.0147 C12.6292,15.0517 10.9712,16.7097 8.9342,16.7097 C6.8972,16.7097 5.2392,15.0517 5.2392,13.0147 C5.2392,10.9767 6.8972,9.3197 8.9342,9.3197 M8.9342,17.2717 C11.2822,17.2717 13.1922,15.3627 13.1922,13.0147 C13.1922,10.6677 11.2822,8.7577 8.9342,8.7577 C6.5862,8.7577 4.6762,10.6677 4.6762,13.0147 C4.6762,15.3627 6.5862,17.2717 8.9342,17.2717"
                                id="Fill-3" fill="#020303"></path>
                              <path
                                d="M11.5855,13.014 L11.9945,13.014 C11.9945,11.306 10.6055,9.916 8.8975,9.916 L8.8975,10.326 C10.3795,10.326 11.5855,11.532 11.5855,13.014"
                                id="Fill-5" fill="#020303"></path>
                              <g transform="translate(0.000000, 0.276600)">
                                <mask fill="white">
                                  <use xlink:href="#path-1"></use>
                                </mask>
                                <g></g>
                                <path
                                  d="M2.359,1.9395 L15.472,1.9395 C16.102,1.9395 16.615,2.4525 16.615,3.0825 L16.615,4.9605 L1.216,4.9605 L1.216,3.0825 C1.216,2.4525 1.729,1.9395 2.359,1.9395 L2.359,1.9395 Z M1.216,6.1765 L16.615,6.1765 L16.615,18.6415 C16.615,19.2715 16.102,19.7845 15.472,19.7845 L2.359,19.7845 C1.729,19.7845 1.216,19.2715 1.216,18.6415 L1.216,6.1765 Z M15.472,0.7235 L2.359,0.7235 C1.058,0.7235 0,1.7815 0,3.0825 L0,18.6415 C0,19.9415 1.058,21.0005 2.359,21.0005 L15.472,21.0005 C16.773,21.0005 17.832,19.9415 17.832,18.6415 L17.832,3.0825 C17.832,1.7815 16.773,0.7235 15.472,0.7235 L15.472,0.7235 Z"
                                  id="Fill-7" fill="#020303" mask="url(#mask-2)"></path>
                              </g>
                              <mask fill="white">
                                <use xlink:href="#path-3"></use>
                              </mask>
                              <g></g>
                              <polygon fill="#020303" mask="url(#mask-4)"
                                points="2.848 4.6886 6.432 4.6886 6.432 3.1206 2.848 3.1206"></polygon>
                              <path
                                d="M14.9459,4.6136 C15.2969,4.6136 15.5809,4.3296 15.5809,3.9786 C15.5809,3.6286 15.2969,3.3436 14.9459,3.3436 C14.5949,3.3436 14.3109,3.6286 14.3109,3.9786 C14.3109,4.3296 14.5949,4.6136 14.9459,4.6136"
                                fill="#020303" mask="url(#mask-4)"></path>
                              <path
                                d="M13.1344,4.6136 C13.4854,4.6136 13.7694,4.3296 13.7694,3.9786 C13.7694,3.6286 13.4854,3.3436 13.1344,3.3436 C12.7834,3.3436 12.4994,3.6286 12.4994,3.9786 C12.4994,4.3296 12.7834,4.6136 13.1344,4.6136"
                                fill="#020303" mask="url(#mask-4)"></path>
                              <path
                                d="M11.3238,4.6136 C11.6748,4.6136 11.9588,4.3296 11.9588,3.9786 C11.9588,3.6286 11.6748,3.3436 11.3238,3.3436 C10.9728,3.3436 10.6888,3.6286 10.6888,3.9786 C10.6888,4.3296 10.9728,4.6136 11.3238,4.6136"
                                fill="#020303" mask="url(#mask-4)"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                  Laundry
                </div>

                <!-- Self Catered, Catered -->
                <div class="facility col-6 col-md-3">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.41 400">
                    <title>icon-catering</title>
                    <path
                      d="M142.46,400.5c-34.18,0-35.38-32.24-35.39-32.56V199a35,35,0,0,1-17.25-9.27c-9.41-9.41-9.52-22.15-9.52-22.69V20c0-1.54,0-9.39,5-14.75a16.68,16.68,0,0,1,23.21,0c5.09,5.36,5.1,13.21,5,14.75v93.56c0,2.2.71,7.44,6.1,7.44s6.05-5.24,6.09-7.49V20c0-1.54,0-9.39,5-14.75a16.68,16.68,0,0,1,23.21,0c5.09,5.36,5.1,13.2,5.05,14.75v93.56c0,2.2.71,7.44,6.1,7.44,4.75,0,5.91-6.48,6.1-7.8V19.94c-.05-1.53,0-9.36,5.05-14.71A15.67,15.67,0,0,1,188,.5a15.47,15.47,0,0,1,11.53,4.68c5.09,5.35,5.09,13.22,5,14.77V167a35.24,35.24,0,0,1-9.88,23.06A34,34,0,0,1,177.85,199V367.75c0,1.41-.12,13.83-9.12,23.05C162.45,397.24,153.61,400.5,142.46,400.5ZM119,367.67a26.43,26.43,0,0,0,3.36,10.92c3.9,6.65,10.67,10,20.14,10,7.78,0,13.73-2,17.68-6C166,376.65,166,368,166,367.9v-180h6s8.43-.18,14.42-6.18a23.42,23.42,0,0,0,6.4-14.68V19.53c0-1.33-.33-4.66-1.79-6.17a3.63,3.63,0,0,0-2.9-1,3.8,3.8,0,0,0-3.06,1c-1.52,1.59-1.84,5-1.79,6.1v94.28l0,.29c-.65,6.48-5.24,18.74-18,18.74-13.2,0-18-11.56-18-19.33v-94c.05-1.32-.33-4.63-1.79-6.15-.26-.27-1-1-3-1s-2.71.72-3,1c-1.47,1.52-1.84,4.83-1.8,6.2v93.93c0,7.77-4.79,19.33-18,19.33s-18-11.56-18-19.33v-94c0-1.32-.33-4.63-1.79-6.15a4.94,4.94,0,0,0-6,0c-1.51,1.59-1.83,5-1.78,6.13V167c0,.05.18,8.43,6,14.28A23.45,23.45,0,0,0,113,187.86H119Z"
                      transform="translate(-80.29 -0.5)" />
                    <path
                      d="M287,400.5c-32.34,0-32.71-32.39-32.71-32.71V239.9H233.46a19.35,19.35,0,0,1-19.33-19.33v-27c.09-2.33,2.31-57.65,16.3-105.82,10.25-35.31,22.3-60.55,35.83-75C277.17,1.09,285.45.5,287,.5h32.72V367.79C319.71,379.1,312.87,400.5,287,400.5ZM226,193.93v26.64a7.44,7.44,0,0,0,7.43,7.44h32.71V367.79a27.63,27.63,0,0,0,2.88,11c3.42,6.58,9.29,9.78,17.94,9.78s14.52-3.2,17.95-9.78a27.7,27.7,0,0,0,2.87-11.06V12.39H287.22c-1.38.23-24,5.17-45.37,78.69C228.56,136.84,226.14,191.17,226,193.93ZM287,12.39h0Z"
                      transform="translate(-80.29 -0.5)" />
                  </svg>
                  Self-catered
                </div>

                <!-- En-suite -->
                <div class="facility col-6 col-md-3">
                  <svg class="icon" viewBox="0 0 17 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Ensuite</title>
                    <defs>
                      <polygon points="0.302737179 0.783574903 1.36683974 0.783574903 1.36683974 3 0.302737179 3">
                      </polygon>
                      <polygon points="0.819252564 0.783574903 1.88335513 0.783574903 1.88335513 3 0.819252564 3">
                      </polygon>
                      <polygon points="0.850962821 0.783574903 1.91506538 0.783574903 1.91506538 3 0.850962821 3">
                      </polygon>
                    </defs>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-493.000000, -673.000000)">
                        <g transform="translate(96.000000, 560.000000)">
                          <g transform="translate(397.000000, 113.000000)">
                            <g>
                              <path
                                d="M16.8601731,0.7546 L11.5088013,0.7546 C6.15530128,0.7546 6.15530128,5.7846 6.15530128,5.7846"
                                stroke="#020203" stroke-width="1.509"></path>
                              <path
                                d="M6.15583333,5.7848 C0.803397436,5.7848 0.803397436,10.8148 0.803397436,10.8148 L11.5082692,10.8148 C11.5082692,10.8148 11.5082692,5.7848 6.15583333,5.7848 Z"
                                stroke="#020203" stroke-width="1.509"></path>
                              <path
                                d="M5.75360256,12.8366 L5.75360256,14.3246 C5.75360256,14.8106 6.557,14.8116 6.557,14.3246 L6.557,12.8366 C6.557,12.3516 5.75360256,12.3506 5.75360256,12.8366"
                                fill="#020203"></path>
                              <path
                                d="M0.401911538,12.8366 L0.401911538,14.3246 C0.401911538,14.8106 1.20424487,14.8116 1.20424487,14.3246 L1.20424487,12.8366 C1.20424487,12.3516 0.401911538,12.3506 0.401911538,12.8366"
                                fill="#020203"></path>
                              <path
                                d="M11.1063577,12.8366 L11.1063577,14.3246 C11.1063577,14.8106 11.9097551,14.8116 11.9097551,14.3246 L11.9097551,12.8366 C11.9097551,12.3516 11.1063577,12.3506 11.1063577,12.8366"
                                fill="#020203"></path>
                              <path
                                d="M3.07781026,12.8366 L3.07781026,14.3246 C3.07781026,14.8106 3.88120769,14.8116 3.88120769,14.3246 L3.88120769,12.8366 C3.88120769,12.3516 3.07781026,12.3506 3.07781026,12.8366"
                                fill="#020203"></path>
                              <path
                                d="M8.43056538,12.8366 L8.43056538,14.3246 C8.43056538,14.8106 9.23289872,14.8116 9.23289872,14.3246 L9.23289872,12.8366 C9.23289872,12.3516 8.43056538,12.3506 8.43056538,12.8366"
                                fill="#020203"></path>
                              <path
                                d="M6.82504744,15.3522 L6.82504744,16.8392 C6.82504744,17.3252 7.62738077,17.3262 7.62738077,16.8392 L7.62738077,15.3522 C7.62738077,14.8672 6.82504744,14.8662 6.82504744,15.3522"
                                fill="#020203"></path>
                              <path
                                d="M1.47229231,15.3522 L1.47229231,16.8392 C1.47229231,17.3252 2.27462564,17.3262 2.27462564,16.8392 L2.27462564,15.3522 C2.27462564,14.8672 1.47229231,14.8662 1.47229231,15.3522"
                                fill="#020203"></path>
                              <path
                                d="M4.14808462,15.3522 L4.14808462,16.8392 C4.14808462,17.3252 4.95148205,17.3262 4.95148205,16.8392 L4.95148205,15.3522 C4.95148205,14.8672 4.14808462,14.8662 4.14808462,15.3522"
                                fill="#020203"></path>
                              <path
                                d="M9.50083974,15.3522 L9.50083974,16.8392 C9.50083974,17.3252 10.3042372,17.3262 10.3042372,16.8392 L10.3042372,15.3522 C10.3042372,14.8672 9.50083974,14.8662 9.50083974,15.3522"
                                fill="#020203"></path>
                              <g transform="translate(5.320513, 16.719200)">
                                <mask fill="white">
                                  <use xlink:href="#path-1"></use>
                                </mask>
                                <g></g>
                                <path
                                  d="M0.433089744,1.1477 L0.433089744,2.6357 C0.433089744,3.1217 1.23648718,3.1227 1.23648718,2.6357 L1.23648718,1.1477 C1.23648718,0.6627 0.433089744,0.6617 0.433089744,1.1477"
                                  fill="#020203" mask="url(#mask-2)"></path>
                              </g>
                              <g transform="translate(2.128205, 16.719200)">
                                <mask fill="white">
                                  <use xlink:href="#path-3"></use>
                                </mask>
                                <g></g>
                                <path
                                  d="M0.949605128,1.1477 L0.949605128,2.6357 C0.949605128,3.1217 1.75300256,3.1227 1.75300256,2.6357 L1.75300256,1.1477 C1.75300256,0.6627 0.949605128,0.6617 0.949605128,1.1477"
                                  fill="#020203" mask="url(#mask-4)"></path>
                              </g>
                              <g transform="translate(7.448718, 16.719200)">
                                <mask fill="white">
                                  <use xlink:href="#path-5"></use>
                                </mask>
                                <g></g>
                                <path
                                  d="M0.981847436,1.1477 L0.981847436,2.6357 C0.981847436,3.1217 1.78418077,3.1227 1.78418077,2.6357 L1.78418077,1.1477 C1.78418077,0.6627 0.981847436,0.6617 0.981847436,1.1477"
                                  fill="#020203" mask="url(#mask-6)"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                  En-suite
                </div>
              </div>
            </div>
            <div class="box-footer">
              <a href="#morefacilities" role="button" data-toggle="modal">More facilities
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg>
              </a>
            </div>
          </div>

          <!-- Overview -->
          <div class="mb-40">
            <p>Talybont Court is part of the Talybont complex which is the largest of the University&rsquo;s residences
              and provides a range of social amenities including excellent sports facilities. This purpose-built
              development is situated close to large areas of parkland and is a short walk or cycle to most of the
              academic buildings.</p>
          </div>


          <!-- Room Type, Suitable For -->
          <div class="box d-lg-none mb-40">
            <div class="box-body">
              <h4 class="box-heading">Living spaces</h4>
              <ul>
                <li>
                  <p>ajsdiujkas d</p>
                </li>
                <li>
                  <p>sdsdas</p>
                </li>
                <li>
                  <p>dasdasda</p>
                </li>
              </ul>
              <h4 class="box-heading">Parking</h4>
              <p>No car parking within a 3 mile radius</p>
              <h4 class="box-heading">Rooms suitable for</h4>
              <ul>
                <li>LGBT+ students</li>
                <li>Quiet living (undergraduates)</li>
                <li>Welsh speakers and learners</li>
                <li>Disabled Students</li>
              </ul>
            </div>
          </div>

          <!-- Carousel -->
          <div id="gallery1" class="carousel slide" data-has-thumbnails="true" data-wrap="false" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0007/1161655/Ensuite-bedroom.JPG?w=200&h=113&fit=crop&q=80&auto=format  200w,
                                                   https://cardiff.imgix.net/__data/assets/image/0007/1161655/Ensuite-bedroom.JPG?w=351&h=197&fit=crop&q=80&auto=format  351w,
                                                   https://cardiff.imgix.net/__data/assets/image/0007/1161655/Ensuite-bedroom.JPG?w=460&h=259&fit=crop&q=80&auto=format  460w,
                                                   https://cardiff.imgix.net/__data/assets/image/0007/1161655/Ensuite-bedroom.JPG?w=570&h=321&fit=crop&q=80&auto=format  570w"
                  src="https://cardiff.imgix.net/__data/assets/image/0007/1161655/Ensuite-bedroom.JPG?w=570&h=321&fit=crop&q=80&auto=format"
                  alt="Ensuite bedroom">
                <div class="carousel-caption">
                  <p>Ensuite bedroom</p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0008/1161656/Kitchen.JPG?w=200&h=113&fit=crop&q=80&auto=format  200w,
                                                   https://cardiff.imgix.net/__data/assets/image/0008/1161656/Kitchen.JPG?w=351&h=197&fit=crop&q=80&auto=format  351w,
                                                   https://cardiff.imgix.net/__data/assets/image/0008/1161656/Kitchen.JPG?w=460&h=259&fit=crop&q=80&auto=format  460w,
                                                   https://cardiff.imgix.net/__data/assets/image/0008/1161656/Kitchen.JPG?w=570&h=321&fit=crop&q=80&auto=format  570w"
                  src="https://cardiff.imgix.net/__data/assets/image/0008/1161656/Kitchen.JPG?w=570&h=321&fit=crop&q=80&auto=format"
                  alt="Kitchen">
                <div class="carousel-caption">
                  <p>Kitchen</p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0009/1161657/Ensuite-room-accessible.JPG?w=200&h=113&fit=crop&q=80&auto=format  200w,
                                                   https://cardiff.imgix.net/__data/assets/image/0009/1161657/Ensuite-room-accessible.JPG?w=351&h=197&fit=crop&q=80&auto=format  351w,
                                                   https://cardiff.imgix.net/__data/assets/image/0009/1161657/Ensuite-room-accessible.JPG?w=460&h=259&fit=crop&q=80&auto=format  460w,
                                                   https://cardiff.imgix.net/__data/assets/image/0009/1161657/Ensuite-room-accessible.JPG?w=570&h=321&fit=crop&q=80&auto=format  570w"
                  src="https://cardiff.imgix.net/__data/assets/image/0009/1161657/Ensuite-room-accessible.JPG?w=570&h=321&fit=crop&q=80&auto=format"
                  alt="Ensuite room (accessible)">
                <div class="carousel-caption">
                  <p>Ensuite room (accessible)</p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0010/1161658/Kitchen-accessible.JPG?w=200&h=113&fit=crop&q=80&auto=format  200w,
                                                   https://cardiff.imgix.net/__data/assets/image/0010/1161658/Kitchen-accessible.JPG?w=351&h=197&fit=crop&q=80&auto=format  351w,
                                                   https://cardiff.imgix.net/__data/assets/image/0010/1161658/Kitchen-accessible.JPG?w=460&h=259&fit=crop&q=80&auto=format  460w,
                                                   https://cardiff.imgix.net/__data/assets/image/0010/1161658/Kitchen-accessible.JPG?w=570&h=321&fit=crop&q=80&auto=format  570w"
                  src="https://cardiff.imgix.net/__data/assets/image/0010/1161658/Kitchen-accessible.JPG?w=570&h=321&fit=crop&q=80&auto=format"
                  alt="Kitchen (accessible)">
                <div class="carousel-caption">
                  <p>Kitchen (accessible)</p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0011/1161659/Kitchen-accessible-2.JPG?w=200&h=113&fit=crop&q=80&auto=format  200w,
                                                   https://cardiff.imgix.net/__data/assets/image/0011/1161659/Kitchen-accessible-2.JPG?w=351&h=197&fit=crop&q=80&auto=format  351w,
                                                   https://cardiff.imgix.net/__data/assets/image/0011/1161659/Kitchen-accessible-2.JPG?w=460&h=259&fit=crop&q=80&auto=format  460w,
                                                   https://cardiff.imgix.net/__data/assets/image/0011/1161659/Kitchen-accessible-2.JPG?w=570&h=321&fit=crop&q=80&auto=format  570w"
                  src="https://cardiff.imgix.net/__data/assets/image/0011/1161659/Kitchen-accessible-2.JPG?w=570&h=321&fit=crop&q=80&auto=format"
                  alt="Kitchen (accessible) 2">
                <div class="carousel-caption">
                  <p>Kitchen (accessible) 2</p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0004/1201567/Talybont-Court.JPG?w=200&h=113&fit=crop&q=80&auto=format  200w,
                                                   https://cardiff.imgix.net/__data/assets/image/0004/1201567/Talybont-Court.JPG?w=351&h=197&fit=crop&q=80&auto=format  351w,
                                                   https://cardiff.imgix.net/__data/assets/image/0004/1201567/Talybont-Court.JPG?w=460&h=259&fit=crop&q=80&auto=format  460w,
                                                   https://cardiff.imgix.net/__data/assets/image/0004/1201567/Talybont-Court.JPG?w=570&h=321&fit=crop&q=80&auto=format  570w"
                  src="https://cardiff.imgix.net/__data/assets/image/0004/1201567/Talybont-Court.JPG?w=570&h=321&fit=crop&q=80&auto=format"
                  alt="Talybont Court">
                <div class="carousel-caption">
                  <p>Talybont Court</p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0005/1201568/Talybont-Court-2.JPG?w=200&h=113&fit=crop&q=80&auto=format  200w,
                                                   https://cardiff.imgix.net/__data/assets/image/0005/1201568/Talybont-Court-2.JPG?w=351&h=197&fit=crop&q=80&auto=format  351w,
                                                   https://cardiff.imgix.net/__data/assets/image/0005/1201568/Talybont-Court-2.JPG?w=460&h=259&fit=crop&q=80&auto=format  460w,
                                                   https://cardiff.imgix.net/__data/assets/image/0005/1201568/Talybont-Court-2.JPG?w=570&h=321&fit=crop&q=80&auto=format  570w"
                  src="https://cardiff.imgix.net/__data/assets/image/0005/1201568/Talybont-Court-2.JPG?w=570&h=321&fit=crop&q=80&auto=format"
                  alt="Talybont Court 2">
                <div class="carousel-caption">
                  <p>Talybont Court 2</p>
                </div>
              </div>
            </div>

            <a class="carousel-control-prev" data-target="#gallery1" data-slide="prev" href="#" aria-hidden="true"
              tabindex="-1">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                <title>Chevron left</title>
                <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z" transform="translate(-6.13 0)"></path>
              </svg>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" data-target="#gallery1" data-slide="next" href="#" aria-hidden="false"
              style="opacity: 1; bottom: 115px;">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                <title>Chevron right</title>
                <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
              </svg>
              <span class="sr-only">Next</span>
            </a>


          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">

          <!-- Room Type, Suitable For -->
          <div class="box">
            <div class="box-header">
              <a class="btn btn-lg btn-success"
                href="http://virtualtour.cardiff.ac.uk/accommodation/index.html?group=14">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 250">
                  <title>eye</title>
                  <path
                    d="M200,150.82a50,50,0,0,0-50,50,50.68,50.68,0,0,0,50,50,50,50,0,0,0,50-50,49.37,49.37,0,0,0-50-50Zm0,125A74.69,74.69,0,1,1,253.12,254,74.71,74.71,0,0,1,200,275.82Zm0-200c-55.08,0-105.47,31.25-141.41,62.5-18.36,15.63-32.42,30.08-43,43S0,200.82,0,200.82s5.08,6.64,15.62,19.53c20.71,26.18,57.82,59.77,106.65,85.94A162.78,162.78,0,0,0,200,325.82c55.08,0,105.47-31.25,141.8-62.5,18-15.62,32-30.08,42.58-43S400,200.82,400,200.82s-5.08-6.64-15.62-19.53c-20.71-26.17-57.82-59.76-106.26-85.94C253.52,82.46,227.73,75.82,200,75.82Z"
                    transform="translate(0 -75.82)" />
                </svg>
                View 360&#176; image of room
              </a>
            </div>
            <div class="box-body">
              <hr>
              <h4 class="box-heading">Living spaces</h4>
              <ul>
                <li>
                  <p>ajsdiujkas d</p>
                </li>
                <li>
                  <p>sdsdas</p>
                </li>
                <li>
                  <p>dasdasda</p>
                </li>
              </ul>
              <h4 class="box-heading">Parking</h4>
              <p>No car parking within a 3 mile radius</p>
              <h4 class="box-heading">Rooms suitable for</h4>
              <ul>
                <li>LGBT+ students</li>
                <li>Quiet living (undergraduates)</li>
                <li>Welsh speakers and learners</li>
                <li>Disabled Students</li>
              </ul>
            </div>
          </div>


          <!-- How to Apply -->
          <div class="box">
            <div class="box-header">
              <a class="box-title" href="https://www.cardiff.ac.uk/study/accommodation/apply-for-accommodation">How to
                apply</a>
            </div>
            <div class="box-body">
              <p>Learn how to apply and if you're eligible for guaranteed University accommodation.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="content-group">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <hr class="d-lg-block d-none">
          <h2>Location</h2>
          <p>Talybont Court, Cardiff, CF14 3UA</p>
          <a class="map map-large map-link" href="//maps.google.com/maps?q=51.489133, -3.183158,&z=16">View location on
            Mapbox</a>
        </div>
        <div class="col-lg-6">
          <h3>Distance to campuses</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th scope="row">Main Building</th>
                <th scope="row">Heath Park campus</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Distance</th>
                <td>0.75 miles</td>
                <td>1.5 miles</td>
              </tr>
              <tr>
                <th>Walking</th>
                <td>15 minutes</td>
                <td>30 minutes</td>
              </tr>
              <tr>
                <th>Cycling</th>
                <td>7 minutes</td>
                <td>15 minutes</td>
              </tr>
              <tr>
                <th>Bus</th>
                <td>
                  North Road, <a href="https://www.cardiffbus.com/services/CB/27">Cardiff Bus 27</a><br />

                </td>
                <td>
                  Gabalfa Interchange, <a
                    href="https://www.newportbus.co.uk/_literature_143287/X30_CARDIFF_EXPRESS_(02-07-2018)">Newport Bus
                    X30</a><br />

                </td>
              </tr>
            </tbody>
          </table>
          <p>Please note: the timings given above are only provided as a guide.</p>
        </div>
        <div class="col-lg-6">
          <h3>Nearest</h3>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Shop</th>
                  <td>North Road (Tesco Express)</td>
                </tr>
                <tr>
                  <th scope="row">Supermarket</th>
                  <td>Excelsior Way (Tesco Extra)</td>
                </tr>
                <tr>
                  <th scope="row">Fast food</th>
                  <td>North Road</td>
                </tr>
                <tr>
                  <th scope="row">Bar</th>
                  <td>North Road</td>
                </tr>
                <tr>
                  <th scope="row">Sports facilities</th>
                  <td>Cardiff University Sports Training Village
                    <br /><a href="https://www.cardiff.ac.uk/study/student-life/sports/sports-facilities">View all of
                      the University's sports facilities</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content-group with-background">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Costs</h2>
          <h3>Session 2019/2020</h3>
          <h4>Intermediate residential period (September to June)</h4>
          <table id='table73466' style='width: 100%;' class='table'>
            <thead>
              <tr>
                <th id='table73466r1c1'>Type</th>
                <th id='table73466r1c2'>Total</th>
                <th id='table73466r1c3'>Instalments</th>
                <th id='table73466r1c4'>Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td headers='table73466r1c1'> Ensuite </td>
                <td headers='table73466r1c2'> £5262.12</td>
                <td headers='table73466r1c3'>(3 X £1754.04)</td>
                <td headers='table73466r1c4'>&nbsp;</td>
              </tr>
              <tr>
                <td headers='table73466r1c1'>Ensuite - large</td>
                <td headers='table73466r1c2'>£5631.54</td>
                <td headers='table73466r1c3'>(3 X £1877.18)</td>
                <td headers='table73466r1c4'>&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <h4>Full year residential period (September to September)</h4>
          <table id='table30627' style='width: 100%;' class='table'>
            <thead>
              <tr>
                <th id='table30627r1c1'>Type</th>
                <th id='table30627r1c2'>Total</th>
                <th id='table30627r1c3'>Instalments</th>
                <th id='table30627r1c4'>Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td headers='table30627r1c1'> Ensuite </td>
                <td headers='table30627r1c2'> £6698.94</td>
                <td headers='table30627r1c3'>(3 X £2232.98)</td>
                <td headers='table30627r1c4'> Postgraduate only </td>
              </tr>
              <tr>
                <td headers='table30627r1c1'> 3 bedroom house </td>
                <td headers='table30627r1c2'> £11495.18</td>
                <td headers='table30627r1c3'>(2 X £3831.73 and 1 X £3831.72)</td>
                <td headers='table30627r1c4'></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="content-group">
    <div class="container">
      <div class="row">

        <!-- Contact -->
        <div class="col-lg-6">
          <h2>Contact</h2>
          <p>For questions about this or any other of our accommodation, get in touch:</p>
          <div class="profile">
            <h3 class="profile-title">Residences Office</h3>
            <dl class="profile-contact">
              <dd>
                <p class="profile-subtitle"></p>
              </dd>
              <dt>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                  <title>Email</title>
                  <path
                    d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                    transform="translate(0 -5.19)" />
                </svg>
                <span class="sr-only">Email: </span>
              </dt>
              <dd><a href="#">residences@cardiff.ac.uk</a></dd>
              <dt>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                  <title>Telephone</title>
                  <path
                    d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                    transform="translate(0 -3.09)" />
                </svg>
                <span class="sr-only">Telephone: </span>
              </dt>
              <dd class="profile-contact-telephone">+44 (0)29 2087 4849</dd>
            </dl>
          </div>
        </div>

        <!-- Quote -->
        <div class="col-lg-6">
          <figure class="quote quote-rich">
            <div class="quote-main">
              <blockquote class="quote-body">I lived in Talybont Court during my first year of University. It’s slightly
                further away from town than some of the other halls but the standard is worth it! The rooms have plenty
                of storage, wireless internet access and an en suite bathroom. The living area is great for socialising
                with your flatmates and the breakfast bar makes for ideal communal meals.</blockquote>
              <figcaption class="quote-author">
                Elliot Howells
                <cite></cite>
              </figcaption>
            </div>
          </figure>
        </div>

        <!-- How to Apply -->
        <div class="col-12">
          <div class="box d-lg-none mb-0">
            <div class="box-header">
              <a class="box-title" href="https://www.cardiff.ac.uk/study/accommodation/apply-for-accommodation">How to
                apply</a>
            </div>
            <div class="box-body">
              <p>Learn how to apply and if you're eligible for guaranteed University accommodation.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="morefacilities" class="modal fade" tabindex="-1" role="dialog" aria-label="More facilities"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header no-title">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
              <title>Close</title>
              <path
                d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z"
                transform="translate(-2 -2)" />
            </svg>
          </button>
        </div>
        <div class="modal-body">
          <h2>Facilities</h2>
          <ul>
            <li>Self-catered</li>
            <li>Ensuite</li>
            <li>Shared kitchen/dining/living areas</li>
            <li>Flats for 4-7 students</li>
            <li>Network connection point and Wi-Fi access</li>
            <li>Bicycle sheds</li>
            <li>Laundry</li>
            <li>Communal social and study space at Talybont Social Centre</li>
            <li>Wheelchair accessible accommodation (2 rooms)</li>
            <li>4 rooms with accessible ensuite bathroom facilities (not suitable for wheelchair users)</li>
            <li>All rooms suitable for those with a hearing impairment</li>
            <li>Intermediate residential period</li>
          </ul>
        </div>
      </div>
    </div>
  </div>




  <!-- PL: 1711565 -->
  <!-- End WIIP Master PL -->

</main>