<main id="content" class="content">
  <section id="content_container_2435751" aria-labelledby="section-2435751-title">
    <div class="container">
      <h2 id="section-2435751-title">Facility and location</h2>
      <div class="cards  cards--with-filter">
        <div class="filter filter--full-width filter--with-mode filter--list-view" data-list=".cards__items">
          <div class="filter__items">
            <a href="#" class="btn btn-outline-info active" data-action="filter" data-group=".filter__items"
              data-target="all">
              All facilities
            </a>
            <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
              data-target=".laboratories">
              Laboratories
            </a>
            <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
              data-target=".social-spaces">
              Social spaces
            </a>
            <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
              data-target=".lecture-theatres">
              Lecture theatres
            </a>
          </div>
          <div class="filter__mode">
            <div class="tabs tabs--with-slider">
              <ul class="nav nav-tabs">
                <li class="nav-item ">
                  <a class="nav-link active" href="#card-items" role="tab" data-toggle="tab" aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 11" class="icon">
                      <title>List</title>
                      <g id="Group_169" data-name="Group 169" transform="translate(-41.5 -5520)">
                        <line id="Line_14" data-name="Line 14" x1="17" transform="translate(41.5 5520.5)" fill="none"
                          stroke="#22211f" stroke-width="1" />
                        <line id="Line_15" data-name="Line 15" x1="17" transform="translate(41.5 5525.5)" fill="none"
                          stroke="#22211f" stroke-width="1" />
                        <line id="Line_16" data-name="Line 16" x1="17" transform="translate(41.5 5530.5)" fill="none"
                          stroke="#22211f" stroke-width="1" />
                      </g>
                    </svg> List view
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#card-map" role="tab" data-toggle="tab" aria-selected="false">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.114 15.91" class="icon">
                      <title>Map pin</title>
                      <g id="Group_170" data-name="Group 170" transform="translate(0.5 0.5)">
                        <g id="Group_68" data-name="Group 68">
                          <g id="Group_64" data-name="Group 64">
                            <g id="Group_67" data-name="Group 67">
                              <path id="Path_37" data-name="Path 37"
                                d="M55.733,195.673a5.123,5.123,0,0,1,5.057,5.186c0,5.239-5.057,9.724-5.057,9.724s-5.057-4.484-5.057-9.724A5.123,5.123,0,0,1,55.733,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#22211f"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg> Map view
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-content">
          <div id="card-items" class="tab-pane active position-relative">
            <div class="cards__items controls py-10 " id="card-carousel">
              <div class="card filter-pane laboratories social-spaces ">
                <div class="card__body">
                  <span class="card__category">Heath Park camous</span>
                  <h3 class="card__title">Heath Park Presidents Room</h3>
                  <p>This room is ideal for small meetings, children's/family parties, seminars, small exhibitions,
                    workshops, etc.</p>
                </div>
                <div class="card__footer align-bottom">
                  <a href="https://www.youtube.com/watch?v=hsyudjkans" target="_blank" class="btn btn-outline mb-5"
                    aria-label="Watch a video on youtube"><svg viewBox="0 0 40 32" xmlns="http://www.w3.org/2000/svg"
                      class="icon">
                      <title>Video play icon</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-300.000000, -119.000000)">
                          <g transform="translate(135.000000, 30.000000)">
                            <g class="Youtube-video">
                              <g class="Video-icon-Copy-3" transform="translate(165.000000, 89.000000)">
                                <rect class="bg" fill="#D4374A" x="0.397191135" y="0" width="39.1836735"
                                  height="31.0204082" rx="8"></rect>
                                <polygon class="fg" fill="#FFFFFF"
                                  points="15.0910687 8.97959184 15.0910687 22.8571429 26.5196401 15.9183673"></polygon>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg> Watch a video on youtube</a>
                  <a href="" target="_blank" class="btn btn-outline mb-5" aria-label="View a 360 image"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28">
                      <title>Camera</title>
                      <path
                        d="M25.5,6H31a1,1,0,0,1,1,1V29a0.92,0.92,0,0,1-.28.69A1,1,0,0,1,31,30H1a1,1,0,0,1-.69-0.31A1,1,0,0,1,0,29V7A1,1,0,0,1,.31,6.28,0.92,0.92,0,0,1,1,6H6.5L8,3a1,1,0,0,1,.31-0.72A0.92,0.92,0,0,1,9,2H23a1,1,0,0,1,1,1ZM16,26a8,8,0,0,0,5.66-13.66A8,8,0,1,0,16,26Zm0-12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,14Z"
                        transform="translate(0 -2)" />
                    </svg> View a 360 image</a>
                  <a href="http://maps.google.com/maps?q=51.505925,-3.18487" target="_blank"
                    class="btn btn-outline mb-5" aria-label="View location aria" data-map-marker-key="0"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 14.26 20.799">
                      <title>Map pin</title>
                      <defs>
                        <clipPath id="clip-path">
                          <path id="Path_36" data-name="Path 36"
                            d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                            transform="translate(-51.35 -227.308)" fill="none" />
                        </clipPath>
                        <clipPath id="clip-path-2">
                          <rect id="Rectangle_257" data-name="Rectangle 257" width="18.701" height="4.572"
                            fill="none" />
                        </clipPath>
                      </defs>
                      <g id="Group_105" data-name="Group 105" transform="translate(0.736 0.737)">
                        <g id="Group_68" data-name="Group 68">
                          <g id="Group_62" data-name="Group 62" transform="translate(0.243 19.092)">
                            <g id="Group_61" data-name="Group 61" clip-path="url(#clip-path)">
                              <g id="Group_60" data-name="Group 60" transform="translate(-2.957 -1.801)" opacity="0.25">
                                <g id="Group_59" data-name="Group 59">
                                  <g id="Group_58" data-name="Group 58" clip-path="url(#clip-path-2)">
                                    <rect id="Rectangle_256" data-name="Rectangle 256" width="18.701" height="4.572"
                                      transform="translate(0)" fill="#333" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                          <g id="Group_64" data-name="Group 64">
                            <g id="Group_67" data-name="Group 67">
                              <path id="Path_37" data-name="Path 37"
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg> View location</a>
                </div>
              </div>
              <div class="card filter-pane lecture-theatres ">
                <img class="lazy"
                  data-srcset="https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0003&#x2F;1766802&#x2F;GettyImages-StudentWithTutor.jpg?w=350&h=202&q=60&auto=form 350w,
                    https://cardiff.imgix.net/__data/assets/image/0003/1766802/GettyImages-StudentWithTutor.jpg?w=470&h=314&q=60&auto=form 470w,
                    https://cardiff.imgix.net/__data/assets/image/0003/1766802/GettyImages-StudentWithTutor.jpg?w=510&h=338&q=60&auto=form 510w,
                    https://cardiff.imgix.net/__data/assets/image/0003/1766802/GettyImages-StudentWithTutor.jpg?w=575&h=384&q=60&auto=form 575w"
                  data-src="https://cardiff.imgix.net/__data/assets/image/0003/1766802/GettyImages-StudentWithTutor.jpg?w=350&h=202&q=60&auto=form"
                  sizes="(max-width: 767px) 80vw, (max-width: 970px) 60vw, (min-width: 971px) 350px"
                  src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=350&h=202&q=60&auto=format"
                  alt="">
                <div class="card__body">

                  <h3 class="card__title">Location 2</h3>
                  <p>hujsnajsakdmkasdasd</p>
                </div>
                <div class="card__footer align-bottom">
                  <a href="http://maps.google.com/maps?q=null,null" target="_blank" class="btn btn-outline mb-5"
                    aria-label="View location aria" data-map-marker-key="1"><svg class="icon"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 14.26 20.799">
                      <title>Map pin</title>
                      <defs>
                        <clipPath id="clip-path">
                          <path id="Path_36" data-name="Path 36"
                            d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                            transform="translate(-51.35 -227.308)" fill="none" />
                        </clipPath>
                        <clipPath id="clip-path-2">
                          <rect id="Rectangle_257" data-name="Rectangle 257" width="18.701" height="4.572"
                            fill="none" />
                        </clipPath>
                      </defs>
                      <g id="Group_105" data-name="Group 105" transform="translate(0.736 0.737)">
                        <g id="Group_68" data-name="Group 68">
                          <g id="Group_62" data-name="Group 62" transform="translate(0.243 19.092)">
                            <g id="Group_61" data-name="Group 61" clip-path="url(#clip-path)">
                              <g id="Group_60" data-name="Group 60" transform="translate(-2.957 -1.801)" opacity="0.25">
                                <g id="Group_59" data-name="Group 59">
                                  <g id="Group_58" data-name="Group 58" clip-path="url(#clip-path-2)">
                                    <rect id="Rectangle_256" data-name="Rectangle 256" width="18.701" height="4.572"
                                      transform="translate(0)" fill="#333" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                          <g id="Group_64" data-name="Group 64">
                            <g id="Group_67" data-name="Group 67">
                              <path id="Path_37" data-name="Path 37"
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg> View location</a>
                </div>
              </div>
              <div class="card filter-pane ">
                <div class="card__body">

                  <h3 class="card__title">Location 3</h3>
                  <p></p>
                </div>
                <div class="card__footer align-bottom">
                  <a href="http://maps.google.com/maps?q=null,null" target="_blank" class="btn btn-outline mb-5"
                    aria-label="View location aria" data-map-marker-key="2"><svg class="icon"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 14.26 20.799">
                      <title>Map pin</title>
                      <defs>
                        <clipPath id="clip-path">
                          <path id="Path_36" data-name="Path 36"
                            d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                            transform="translate(-51.35 -227.308)" fill="none" />
                        </clipPath>
                        <clipPath id="clip-path-2">
                          <rect id="Rectangle_257" data-name="Rectangle 257" width="18.701" height="4.572"
                            fill="none" />
                        </clipPath>
                      </defs>
                      <g id="Group_105" data-name="Group 105" transform="translate(0.736 0.737)">
                        <g id="Group_68" data-name="Group 68">
                          <g id="Group_62" data-name="Group 62" transform="translate(0.243 19.092)">
                            <g id="Group_61" data-name="Group 61" clip-path="url(#clip-path)">
                              <g id="Group_60" data-name="Group 60" transform="translate(-2.957 -1.801)" opacity="0.25">
                                <g id="Group_59" data-name="Group 59">
                                  <g id="Group_58" data-name="Group 58" clip-path="url(#clip-path-2)">
                                    <rect id="Rectangle_256" data-name="Rectangle 256" width="18.701" height="4.572"
                                      transform="translate(0)" fill="#333" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                          <g id="Group_64" data-name="Group 64">
                            <g id="Group_67" data-name="Group 67">
                              <path id="Path_37" data-name="Path 37"
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg> View location</a>
                </div>
              </div>
              <div class="card filter-pane ">
                <div class="card__body">

                  <h3 class="card__title">Location 4</h3>
                  <p></p>
                </div>
                <div class="card__footer align-bottom">
                  <a href="http://maps.google.com/maps?q=null,null" target="_blank" class="btn btn-outline mb-5"
                    aria-label="View location aria" data-map-marker-key="3"><svg class="icon"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 14.26 20.799">
                      <title>Map pin</title>
                      <defs>
                        <clipPath id="clip-path">
                          <path id="Path_36" data-name="Path 36"
                            d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                            transform="translate(-51.35 -227.308)" fill="none" />
                        </clipPath>
                        <clipPath id="clip-path-2">
                          <rect id="Rectangle_257" data-name="Rectangle 257" width="18.701" height="4.572"
                            fill="none" />
                        </clipPath>
                      </defs>
                      <g id="Group_105" data-name="Group 105" transform="translate(0.736 0.737)">
                        <g id="Group_68" data-name="Group 68">
                          <g id="Group_62" data-name="Group 62" transform="translate(0.243 19.092)">
                            <g id="Group_61" data-name="Group 61" clip-path="url(#clip-path)">
                              <g id="Group_60" data-name="Group 60" transform="translate(-2.957 -1.801)" opacity="0.25">
                                <g id="Group_59" data-name="Group 59">
                                  <g id="Group_58" data-name="Group 58" clip-path="url(#clip-path-2)">
                                    <rect id="Rectangle_256" data-name="Rectangle 256" width="18.701" height="4.572"
                                      transform="translate(0)" fill="#333" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                          <g id="Group_64" data-name="Group 64">
                            <g id="Group_67" data-name="Group 67">
                              <path id="Path_37" data-name="Path 37"
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg> View location</a>
                </div>
              </div>
              <div class="card filter-pane ">
                <img class="lazy"
                  data-srcset="https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0012&#x2F;50304&#x2F;ButeBuilding.jpg?w=350&h=202&q=60&auto=form 350w,
                    https://cardiff.imgix.net/__data/assets/image/0012/50304/ButeBuilding.jpg?w=470&h=314&q=60&auto=form 470w,
                    https://cardiff.imgix.net/__data/assets/image/0012/50304/ButeBuilding.jpg?w=510&h=338&q=60&auto=form 510w,
                    https://cardiff.imgix.net/__data/assets/image/0012/50304/ButeBuilding.jpg?w=575&h=384&q=60&auto=form 575w"
                  data-src="https://cardiff.imgix.net/__data/assets/image/0012/50304/ButeBuilding.jpg?w=350&h=202&q=60&auto=form"
                  sizes="(max-width: 767px) 80vw, (max-width: 970px) 60vw, (min-width: 971px) 350px"
                  src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=350&h=202&q=60&auto=format"
                  alt="Bute Building">
                <div class="card__body">

                  <h3 class="card__title">Architecture Library</h3>
                  <p>The Architecture Library provides information services to the Welsh School of Architecture, and
                    holds the Architecture Rare Book collection.</p>
                </div>
                <div class="card__footer align-bottom">
                  <a href="http://maps.google.com/maps?q=NaN,NaN" target="_blank" class="btn btn-outline mb-5"
                    aria-label="View location aria" data-map-marker-key="4"><svg class="icon"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      viewBox="0 0 14.26 20.799">
                      <title>Map pin</title>
                      <defs>
                        <clipPath id="clip-path">
                          <path id="Path_36" data-name="Path 36"
                            d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                            transform="translate(-51.35 -227.308)" fill="none" />
                        </clipPath>
                        <clipPath id="clip-path-2">
                          <rect id="Rectangle_257" data-name="Rectangle 257" width="18.701" height="4.572"
                            fill="none" />
                        </clipPath>
                      </defs>
                      <g id="Group_105" data-name="Group 105" transform="translate(0.736 0.737)">
                        <g id="Group_68" data-name="Group 68">
                          <g id="Group_62" data-name="Group 62" transform="translate(0.243 19.092)">
                            <g id="Group_61" data-name="Group 61" clip-path="url(#clip-path)">
                              <g id="Group_60" data-name="Group 60" transform="translate(-2.957 -1.801)" opacity="0.25">
                                <g id="Group_59" data-name="Group 59">
                                  <g id="Group_58" data-name="Group 58" clip-path="url(#clip-path-2)">
                                    <rect id="Rectangle_256" data-name="Rectangle 256" width="18.701" height="4.572"
                                      transform="translate(0)" fill="#333" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                          <g id="Group_64" data-name="Group 64">
                            <g id="Group_67" data-name="Group 67">
                              <path id="Path_37" data-name="Path 37"
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg> View location</a>
                </div>
              </div>
            </div>
            <div class="controls-item controls-item-prev disabled">
              <a href="#" class=" " data-target="#card-carousel" tabindex="-1"><svg class="icon"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                  <title>Chevron left</title>
                  <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z" transform="translate(-6.13 0)" />
                </svg></a>
            </div>
            <div class="controls-item controls-item-next" tabindex="-1">
              <a href="#" class="" data-target="#card-carousel"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a>
            </div>
          </div>
          <div class="tab-pane" id="card-map">
            <div class="interactive-map map map--full-width map--with-panel" data-map-data="mapData2435751">
              <div class="map__panel">
                <div class="map__panel__contents">
                  <div class="map__panel__contents__inner">
                    <div class="map__panel__contents__list card card--flat"></div>
                    <div class="map__panel__contents__view card card--flat"></div>
                  </div>
                </div>
                <button class="map__panel__controls">
                  <span class="sr-only">Close panel</span>
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg>
                </button>
              </div>
              <div class="map-body">
                <div id="map" style="height:100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    window.mapData2435751 = { "items": [{ "links": [{ "url": "https://www.youtube.com/watch?v=hsyudjkans", "text": "Watch a video on youtube", "aria": "Watch a video on youtube", "icon": "<svg viewBox=\"0 0 40 32\" xmlns=\"http://www.w3.org/2000/svg\" class=\"icon\"><title>Video play icon</title><g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\"><g transform=\"translate(-300.000000, -119.000000)\"><g transform=\"translate(135.000000, 30.000000)\"><g class=\"Youtube-video\"><g class=\"Video-icon-Copy-3\" transform=\"translate(165.000000, 89.000000)\"><rect class=\"bg\" fill=\"#D4374A\" x=\"0.397191135\" y=\"0\" width=\"39.1836735\" height=\"31.0204082\" rx=\"8\"></rect><polygon class=\"fg\" fill=\"#FFFFFF\" points=\"15.0910687 8.97959184 15.0910687 22.8571429 26.5196401 15.9183673\"></polygon></g></g></g></g></g></svg>" }, { "text": "View a 360 image", "aria": "View a 360 image", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 32 28\"><title>Camera</title><path d=\"M25.5,6H31a1,1,0,0,1,1,1V29a0.92,0.92,0,0,1-.28.69A1,1,0,0,1,31,30H1a1,1,0,0,1-.69-0.31A1,1,0,0,1,0,29V7A1,1,0,0,1,.31,6.28,0.92,0.92,0,0,1,1,6H6.5L8,3a1,1,0,0,1,.31-0.72A0.92,0.92,0,0,1,9,2H23a1,1,0,0,1,1,1ZM16,26a8,8,0,0,0,5.66-13.66A8,8,0,1,0,16,26Zm0-12a3.95,3.95,0,0,1,4,4,4,4,0,0,1-4,4,4.06,4.06,0,0,1-4-4A4,4,0,0,1,16,14Z\" transform=\"translate(0 -2)\"/></svg>" }, { "url": "http://maps.google.com/maps?q=51.505925,-3.18487", "data": "data-map-marker-key=\"0\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title> <defs> <clipPath id=\"clip-path\"> <path id=\"Path_36\" data-name=\"Path 36\" d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"/> </clipPath> <clipPath id=\"clip-path-2\"> <rect id=\"Rectangle_257\" data-name=\"Rectangle 257\" width=\"18.701\" height=\"4.572\" fill=\"none\"/> </clipPath> </defs> <g id=\"Group_105\" data-name=\"Group 105\" transform=\"translate(0.736 0.737)\"> <g id=\"Group_68\" data-name=\"Group 68\"> <g id=\"Group_62\" data-name=\"Group 62\" transform=\"translate(0.243 19.092)\"> <g id=\"Group_61\" data-name=\"Group 61\" clip-path=\"url(#clip-path)\"> <g id=\"Group_60\" data-name=\"Group 60\" transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"> <g id=\"Group_59\" data-name=\"Group 59\"> <g id=\"Group_58\" data-name=\"Group 58\" clip-path=\"url(#clip-path-2)\"> <rect id=\"Rectangle_256\" data-name=\"Rectangle 256\" width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"/> </g> </g> </g> </g> </g> <g id=\"Group_64\" data-name=\"Group 64\"> <g id=\"Group_67\" data-name=\"Group 67\"> <path id=\"Path_37\" data-name=\"Path 37\" d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"/> </g> </g> </g> </g></svg>" }], "name": "Heath Park Presidents Room", "image": { "exists": false }, "teaser": "This room is ideal for small meetings, children's/family parties, seminars, small exhibitions, workshops, etc.", "filters": [{ "key": "laboratories", "text": "Laboratories" }, { "key": "social-spaces", "text": "Social spaces" }], "category": { "exists": true, "text": "Heath Park camous" }, "coordinates": { "lat": 51.505925, "long": -3.18487 } }, { "links": [{ "url": "http://maps.google.com/maps?q=null,null", "data": "data-map-marker-key=\"1\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title> <defs> <clipPath id=\"clip-path\"> <path id=\"Path_36\" data-name=\"Path 36\" d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"/> </clipPath> <clipPath id=\"clip-path-2\"> <rect id=\"Rectangle_257\" data-name=\"Rectangle 257\" width=\"18.701\" height=\"4.572\" fill=\"none\"/> </clipPath> </defs> <g id=\"Group_105\" data-name=\"Group 105\" transform=\"translate(0.736 0.737)\"> <g id=\"Group_68\" data-name=\"Group 68\"> <g id=\"Group_62\" data-name=\"Group 62\" transform=\"translate(0.243 19.092)\"> <g id=\"Group_61\" data-name=\"Group 61\" clip-path=\"url(#clip-path)\"> <g id=\"Group_60\" data-name=\"Group 60\" transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"> <g id=\"Group_59\" data-name=\"Group 59\"> <g id=\"Group_58\" data-name=\"Group 58\" clip-path=\"url(#clip-path-2)\"> <rect id=\"Rectangle_256\" data-name=\"Rectangle 256\" width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"/> </g> </g> </g> </g> </g> <g id=\"Group_64\" data-name=\"Group 64\"> <g id=\"Group_67\" data-name=\"Group 67\"> <path id=\"Path_37\" data-name=\"Path 37\" d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"/> </g> </g> </g> </g></svg>" }], "name": "Location 2", "image": { "exists": true, "alt": "", "path": "/__data/assets/image/0003/1766802/GettyImages-StudentWithTutor.jpg", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "teaser": "hujsnajsakdmkasdasd", "filters": [{ "key": "lecture-theatres", "text": "Lecture theatres" }], "category": { "exists": false, "text": "" }, "coordinates": { "lat": null, "long": null } }, { "links": [{ "url": "http://maps.google.com/maps?q=null,null", "data": "data-map-marker-key=\"2\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title> <defs> <clipPath id=\"clip-path\"> <path id=\"Path_36\" data-name=\"Path 36\" d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"/> </clipPath> <clipPath id=\"clip-path-2\"> <rect id=\"Rectangle_257\" data-name=\"Rectangle 257\" width=\"18.701\" height=\"4.572\" fill=\"none\"/> </clipPath> </defs> <g id=\"Group_105\" data-name=\"Group 105\" transform=\"translate(0.736 0.737)\"> <g id=\"Group_68\" data-name=\"Group 68\"> <g id=\"Group_62\" data-name=\"Group 62\" transform=\"translate(0.243 19.092)\"> <g id=\"Group_61\" data-name=\"Group 61\" clip-path=\"url(#clip-path)\"> <g id=\"Group_60\" data-name=\"Group 60\" transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"> <g id=\"Group_59\" data-name=\"Group 59\"> <g id=\"Group_58\" data-name=\"Group 58\" clip-path=\"url(#clip-path-2)\"> <rect id=\"Rectangle_256\" data-name=\"Rectangle 256\" width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"/> </g> </g> </g> </g> </g> <g id=\"Group_64\" data-name=\"Group 64\"> <g id=\"Group_67\" data-name=\"Group 67\"> <path id=\"Path_37\" data-name=\"Path 37\" d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"/> </g> </g> </g> </g></svg>" }], "name": "Location 3", "image": { "exists": false }, "teaser": "", "filters": [], "category": { "exists": false, "text": "" }, "coordinates": { "lat": null, "long": null } }, { "links": [{ "url": "http://maps.google.com/maps?q=null,null", "data": "data-map-marker-key=\"3\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title> <defs> <clipPath id=\"clip-path\"> <path id=\"Path_36\" data-name=\"Path 36\" d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"/> </clipPath> <clipPath id=\"clip-path-2\"> <rect id=\"Rectangle_257\" data-name=\"Rectangle 257\" width=\"18.701\" height=\"4.572\" fill=\"none\"/> </clipPath> </defs> <g id=\"Group_105\" data-name=\"Group 105\" transform=\"translate(0.736 0.737)\"> <g id=\"Group_68\" data-name=\"Group 68\"> <g id=\"Group_62\" data-name=\"Group 62\" transform=\"translate(0.243 19.092)\"> <g id=\"Group_61\" data-name=\"Group 61\" clip-path=\"url(#clip-path)\"> <g id=\"Group_60\" data-name=\"Group 60\" transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"> <g id=\"Group_59\" data-name=\"Group 59\"> <g id=\"Group_58\" data-name=\"Group 58\" clip-path=\"url(#clip-path-2)\"> <rect id=\"Rectangle_256\" data-name=\"Rectangle 256\" width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"/> </g> </g> </g> </g> </g> <g id=\"Group_64\" data-name=\"Group 64\"> <g id=\"Group_67\" data-name=\"Group 67\"> <path id=\"Path_37\" data-name=\"Path 37\" d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"/> </g> </g> </g> </g></svg>" }], "name": "Location 4", "image": { "exists": false }, "teaser": "", "filters": [], "category": { "exists": false, "text": "" }, "coordinates": { "lat": null, "long": null } }, { "links": [{ "url": "http://maps.google.com/maps?q=NaN,NaN", "data": "data-map-marker-key=\"4\"", "text": "View location", "aria": "View location aria", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title> <defs> <clipPath id=\"clip-path\"> <path id=\"Path_36\" data-name=\"Path 36\" d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"/> </clipPath> <clipPath id=\"clip-path-2\"> <rect id=\"Rectangle_257\" data-name=\"Rectangle 257\" width=\"18.701\" height=\"4.572\" fill=\"none\"/> </clipPath> </defs> <g id=\"Group_105\" data-name=\"Group 105\" transform=\"translate(0.736 0.737)\"> <g id=\"Group_68\" data-name=\"Group 68\"> <g id=\"Group_62\" data-name=\"Group 62\" transform=\"translate(0.243 19.092)\"> <g id=\"Group_61\" data-name=\"Group 61\" clip-path=\"url(#clip-path)\"> <g id=\"Group_60\" data-name=\"Group 60\" transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"> <g id=\"Group_59\" data-name=\"Group 59\"> <g id=\"Group_58\" data-name=\"Group 58\" clip-path=\"url(#clip-path-2)\"> <rect id=\"Rectangle_256\" data-name=\"Rectangle 256\" width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"/> </g> </g> </g> </g> </g> <g id=\"Group_64\" data-name=\"Group 64\"> <g id=\"Group_67\" data-name=\"Group 67\"> <path id=\"Path_37\" data-name=\"Path 37\" d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"/> </g> </g> </g> </g></svg>" }], "name": "Architecture Library", "image": { "exists": true, "alt": "Bute Building", "path": "/__data/assets/image/0012/50304/ButeBuilding.jpg", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "teaser": "The Architecture Library provides information services to the Welsh School of Architecture, and holds the Architecture Rare Book collection.", "filters": [], "category": { "exists": false, "text": "" }, "coordinates": { "lat": null, "long": null } }], "panel": { "enabled": true, "title": "Facility and location" } };
  </script>
</main>