<main id="content" class="content">
  <!-- Page layout: Full width-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section id="content_container_2500519" aria-labelledby="section-2500519-title">
          <div class="container">
            <h2 id="section-2500519-title">Buildings and locations</h2>
            <div class="cards  cards--with-filter">
              <div class="filter filter--full-width filter--with-mode filter--list-view" data-list=".cards__items">
                <div class="filter__items">
                  <a href="#" class="btn btn-outline-info active" data-action="filter" data-group=".filter__items"
                    data-target="all">
                    All facilities
                  </a>
                  <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
                    data-target=".teaching-spaces" aria-label="Filter by Teaching spaces">
                    Teaching spaces
                  </a>
                  <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
                    data-target=".social-spaces" aria-label="Filter by Social spaces">
                    Social spaces
                  </a>
                  <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
                    data-target=".teaching-spaces" aria-label="Filter by Teaching spaces">
                    Teaching spaces
                  </a>
                  <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
                    data-target=".libraries-and-study-spaces" aria-label="Filter by Libraries and study spaces">
                    Libraries and study spaces
                  </a>
                  <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
                    data-target=".studios" aria-label="Filter by Studios">
                    Studios
                  </a>
                  <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
                    data-target=".social-spaces" aria-label="Filter by Social spaces">
                    Social spaces
                  </a>
                  <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
                    data-target=".teaching-spaces" aria-label="Filter by Teaching spaces">
                    Teaching spaces
                  </a>
                  <a href="#" class="btn btn-outline-info" data-action="filter" data-group=".filter__items"
                    data-target=".teaching-spaces" aria-label="Filter by Teaching spaces">
                    Teaching spaces
                  </a>
                </div>
                <div class="filter__mode">
                  <div class="tabs tabs--with-slider">
                    <ul class="nav nav-tabs">
                      <li class="nav-item ">
                        <a class="nav-link active" href="#card-items" id="tab-link-items" role="tab" data-toggle="tab"
                          aria-selected="true">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 11" class="icon">
                            <title>List</title>
                            <g id="Group_169" data-name="Group 169" transform="translate(-41.5 -5520)">
                              <line id="Line_14" data-name="Line 14" x1="17" transform="translate(41.5 5520.5)"
                                fill="none" stroke="#22211f" stroke-width="1" />
                              <line id="Line_15" data-name="Line 15" x1="17" transform="translate(41.5 5525.5)"
                                fill="none" stroke="#22211f" stroke-width="1" />
                              <line id="Line_16" data-name="Line 16" x1="17" transform="translate(41.5 5530.5)"
                                fill="none" stroke="#22211f" stroke-width="1" />
                            </g>
                          </svg> List view
                        </a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link" href="#card-map" role="tab" id="tab-link-map" data-toggle="tab"
                          aria-selected="false">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.114 15.91" class="icon">
                            <title>Map pin</title>
                            <g transform="translate(0.5 0.5)">
                              <g>
                                <g>
                                  <g>
                                    <path
                                      d="M55.733,195.673a5.123,5.123,0,0,1,5.057,5.186c0,5.239-5.057,9.724-5.057,9.724s-5.057-4.484-5.057-9.724A5.123,5.123,0,0,1,55.733,195.673Z"
                                      transform="translate(-50.676 -195.673)" fill="none" stroke="#22211f"
                                      stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg> Map view
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-content">
                <div id="card-items" class="tab-pane active position-relative">
                  <div class="cards__items controls py-10 " id="card-carousel">
                    <div class="card filter-pane social-spaces ">
                      <img class="lazy"
                        data-srcset="https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0007&#x2F;1301749&#x2F;Journalism-Media-and-Culture.jpg?w=350&h=202&q=60&auto=format&fit=crop 350w,
                          https://cardiff.imgix.net/__data/assets/image/0007/1301749/Journalism-Media-and-Culture.jpg?w=470&h=314&q=60&auto=format&fit=crop 470w,
                          https://cardiff.imgix.net/__data/assets/image/0007/1301749/Journalism-Media-and-Culture.jpg?w=510&h=338&q=60&auto=format&fit=crop 510w,
                          https://cardiff.imgix.net/__data/assets/image/0007/1301749/Journalism-Media-and-Culture.jpg?w=575&h=384&q=60&auto=format&fit=crop 575w"
                        data-src="https://cardiff.imgix.net/__data/assets/image/0007/1301749/Journalism-Media-and-Culture.jpg?w=350&h=202&q=60&auto=format&fit=crop"
                        sizes="(max-width: 767px) 80vw, (max-width: 970px) 60vw, (min-width: 971px) 350px"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=350&h=202&q=60&auto=format&fit=crop"
                        alt="New JOMEC building">
                      <div class="card__body">
                        <span class="card__category">Cathays Park Campus</span>
                        <h3 class="card__title">Social staircase, Two Central Square</h3>
                        <span class="card__subtitle">Sample subtitle</span>
                        <p>A perfect place to spend time in between your lectures or take part in group study.</p>
                      </div>
                      <div class="card__footer align-bottom">
                        <a href="http://maps.google.com/maps?q=51.476581,-3.180583" target="_blank"
                          class="btn btn-outline mb-5" aria-label="View Social staircase, Two Central Square on a map"
                          data-map-marker-key="0"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.26 20.799">
                            <title>Map pin</title>
                            <defs>
                              <clipPath id="clip-path">
                                <path
                                  d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                                  transform="translate(-51.35 -227.308)" fill="none"></path>
                              </clipPath>
                              <clipPath id="clip-path-2">
                                <rect width="18.701" height="4.572" fill="none"></rect>
                              </clipPath>
                            </defs>
                            <g transform="translate(0.736 0.737)">
                              <g transform="translate(0.243 19.092)">
                                <g clip-path="url(#clip-path)">
                                  <g transform="translate(-2.957 -1.801)" opacity="0.25">
                                    <rect width="18.701" height="4.572" transform="translate(0)" fill="#333"></rect>
                                  </g>
                                </g>
                              </g>
                              <path
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473"></path>
                            </g>
                          </svg> View location</a>
                      </div>
                    </div>
                    <div class="card filter-pane libraries-and-study-spaces ">
                      <img class="lazy"
                        data-srcset="https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0007&#x2F;1301992&#x2F;New-library.jpg?w=350&h=202&q=60&auto=format&fit=crop 350w,
                          https://cardiff.imgix.net/__data/assets/image/0007/1301992/New-library.jpg?w=470&h=314&q=60&auto=format&fit=crop 470w,
                          https://cardiff.imgix.net/__data/assets/image/0007/1301992/New-library.jpg?w=510&h=338&q=60&auto=format&fit=crop 510w,
                          https://cardiff.imgix.net/__data/assets/image/0007/1301992/New-library.jpg?w=575&h=384&q=60&auto=format&fit=crop 575w"
                        data-src="https://cardiff.imgix.net/__data/assets/image/0007/1301992/New-library.jpg?w=350&h=202&q=60&auto=format&fit=crop"
                        sizes="(max-width: 767px) 80vw, (max-width: 970px) 60vw, (min-width: 971px) 350px"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=350&h=202&q=60&auto=format&fit=crop"
                        alt="New JOMEC library">
                      <div class="card__body">
                        <span class="card__category">Cathays Park Campus</span>
                        <h3 class="card__title">Central Square Library, Two Central Square</h3>
                        <span class="card__subtitle">Sample subtitle</span>
                        <p>Central Square Library holds all the resources you'll need to study your degree in
                          journalism.</p>
                      </div>
                      <div class="card__footer align-bottom">
                        <a href="https://www.youtube.com/watch?v=JTZF_FnYC_0" target="_blank"
                          class="btn btn-outline mb-5"
                          aria-label="Watch a video on YouTube about Central Square Library, Two Central Square"><svg
                            viewBox="0 0 40 32" xmlns="http://www.w3.org/2000/svg" class="icon">
                            <title>Video play icon</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g transform="translate(-300.000000, -119.000000)">
                                <g transform="translate(135.000000, 30.000000)">
                                  <g class="Youtube-video">
                                    <g class="Video-icon-Copy-3" transform="translate(165.000000, 89.000000)">
                                      <rect class="bg" fill="#D4374A" x="0.397191135" y="0" width="39.1836735"
                                        height="31.0204082" rx="8"></rect>
                                      <polygon class="fg" fill="#FFFFFF"
                                        points="15.0910687 8.97959184 15.0910687 22.8571429 26.5196401 15.9183673">
                                      </polygon>
                                    </g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg> Watch a video on YouTube</a>
                        <a href="http://maps.google.com/maps?q=51.476581,-3.180583" target="_blank"
                          class="btn btn-outline mb-5"
                          aria-label="View Central Square Library, Two Central Square on a map"
                          data-map-marker-key="1"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.26 20.799">
                            <title>Map pin</title>
                            <defs>
                              <clipPath id="clip-path">
                                <path
                                  d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                                  transform="translate(-51.35 -227.308)" fill="none"></path>
                              </clipPath>
                              <clipPath id="clip-path-2">
                                <rect width="18.701" height="4.572" fill="none"></rect>
                              </clipPath>
                            </defs>
                            <g transform="translate(0.736 0.737)">
                              <g transform="translate(0.243 19.092)">
                                <g clip-path="url(#clip-path)">
                                  <g transform="translate(-2.957 -1.801)" opacity="0.25">
                                    <rect width="18.701" height="4.572" transform="translate(0)" fill="#333"></rect>
                                  </g>
                                </g>
                              </g>
                              <path
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473"></path>
                            </g>
                          </svg> View location</a>
                      </div>
                    </div>
                    <div class="card filter-pane studios social-spaces ">
                      <img class="lazy"
                        data-srcset="https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0011&#x2F;754535&#x2F;Replace-rowing-shot-pic-for-page-25d.jpg?w=350&h=202&q=60&auto=format&fit=crop 350w,
                          https://cardiff.imgix.net/__data/assets/image/0011/754535/Replace-rowing-shot-pic-for-page-25d.jpg?w=470&h=314&q=60&auto=format&fit=crop 470w,
                          https://cardiff.imgix.net/__data/assets/image/0011/754535/Replace-rowing-shot-pic-for-page-25d.jpg?w=510&h=338&q=60&auto=format&fit=crop 510w,
                          https://cardiff.imgix.net/__data/assets/image/0011/754535/Replace-rowing-shot-pic-for-page-25d.jpg?w=575&h=384&q=60&auto=format&fit=crop 575w"
                        data-src="https://cardiff.imgix.net/__data/assets/image/0011/754535/Replace-rowing-shot-pic-for-page-25d.jpg?w=350&h=202&q=60&auto=format&fit=crop"
                        sizes="(max-width: 767px) 80vw, (max-width: 970px) 60vw, (min-width: 971px) 350px"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=350&h=202&q=60&auto=format&fit=crop"
                        alt="Student Media ">
                      <div class="card__body">
                        <span class="card__category">Cathays Park Campus</span>
                        <h3 class="card__title">Students' Union</h3>
                        <span class="card__subtitle">Sample subtitle</span>
                        <p>Our Students’ Union has an active student media community, giving budding journalists the
                          opportunity to develop their skills.</p>
                      </div>
                      <div class="card__footer align-bottom">
                        <a href="https://www.youtube.com/watch?v=d6_EEmhbrrs" target="_blank"
                          class="btn btn-outline mb-5" aria-label="Watch a video on YouTube about Students' Union"><svg
                            viewBox="0 0 40 32" xmlns="http://www.w3.org/2000/svg" class="icon">
                            <title>Video play icon</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g transform="translate(-300.000000, -119.000000)">
                                <g transform="translate(135.000000, 30.000000)">
                                  <g class="Youtube-video">
                                    <g class="Video-icon-Copy-3" transform="translate(165.000000, 89.000000)">
                                      <rect class="bg" fill="#D4374A" x="0.397191135" y="0" width="39.1836735"
                                        height="31.0204082" rx="8"></rect>
                                      <polygon class="fg" fill="#FFFFFF"
                                        points="15.0910687 8.97959184 15.0910687 22.8571429 26.5196401 15.9183673">
                                      </polygon>
                                    </g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg> Watch a video on YouTube</a>
                        <a href="http://maps.google.com/maps?q=51.488312,-3.177763" target="_blank"
                          class="btn btn-outline mb-5" aria-label="View Students' Union on a map"
                          data-map-marker-key="2"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.26 20.799">
                            <title>Map pin</title>
                            <defs>
                              <clipPath id="clip-path">
                                <path
                                  d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                                  transform="translate(-51.35 -227.308)" fill="none"></path>
                              </clipPath>
                              <clipPath id="clip-path-2">
                                <rect width="18.701" height="4.572" fill="none"></rect>
                              </clipPath>
                            </defs>
                            <g transform="translate(0.736 0.737)">
                              <g transform="translate(0.243 19.092)">
                                <g clip-path="url(#clip-path)">
                                  <g transform="translate(-2.957 -1.801)" opacity="0.25">
                                    <rect width="18.701" height="4.572" transform="translate(0)" fill="#333"></rect>
                                  </g>
                                </g>
                              </g>
                              <path
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473"></path>
                            </g>
                          </svg> View location</a>
                      </div>
                    </div>
                    <div class="card filter-pane teaching-spaces ">
                      <img class="lazy"
                        data-srcset="https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0006&#x2F;1317813&#x2F;Two-Central-Square-Main-lecture-theatre-ed.jpg?w=350&h=202&q=60&auto=format&fit=crop 350w,
                          https://cardiff.imgix.net/__data/assets/image/0006/1317813/Two-Central-Square-Main-lecture-theatre-ed.jpg?w=470&h=314&q=60&auto=format&fit=crop 470w,
                          https://cardiff.imgix.net/__data/assets/image/0006/1317813/Two-Central-Square-Main-lecture-theatre-ed.jpg?w=510&h=338&q=60&auto=format&fit=crop 510w,
                          https://cardiff.imgix.net/__data/assets/image/0006/1317813/Two-Central-Square-Main-lecture-theatre-ed.jpg?w=575&h=384&q=60&auto=format&fit=crop 575w"
                        data-src="https://cardiff.imgix.net/__data/assets/image/0006/1317813/Two-Central-Square-Main-lecture-theatre-ed.jpg?w=350&h=202&q=60&auto=format&fit=crop"
                        sizes="(max-width: 767px) 80vw, (max-width: 970px) 60vw, (min-width: 971px) 350px"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=350&h=202&q=60&auto=format&fit=crop"
                        alt="Two Central Square main lecture theatre">
                      <div class="card__body">
                        <span class="card__category">Cathays Park Campus</span>
                        <h3 class="card__title">Main lecture theatre, Two Central Square</h3>
                        <span class="card__subtitle">Sample subtitle</span>
                        <p>This 300-seater is the biggest of our four lecture theatres.</p>
                      </div>
                      <div class="card__footer align-bottom">
                        <a href="#virtual-tour-3" target="_blank" class="btn btn-outline mb-5"
                          aria-label="View a 360 image of Main lecture theatre, Two Central Square"
                          data-toggle="modal"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20.83 16.53">
                            <title>Camera</title>
                            <defs>
                              <clipPath id="clip-path-camera">
                                <rect width="20.83" height="16.53" fill="none" />
                              </clipPath>
                            </defs>
                            <g clip-path="url(#clip-path-camera)">
                              <path
                                d="M17.725,2.58h-2.58a.332.332,0,0,1-.317-.229l-.272-.816A2.244,2.244,0,0,0,12.426,0H8.4a2.243,2.243,0,0,0-2.13,1.535L6,2.351a.333.333,0,0,1-.317.229H3.105A3.109,3.109,0,0,0,0,5.685v7.74A3.132,3.132,0,0,0,3.105,16.53h14.62a3.132,3.132,0,0,0,3.1-3.105V5.685a3.108,3.108,0,0,0-3.1-3.1"
                                transform="translate(0 0)" fill="#383735" />
                              <path
                                d="M31.028,21.477A5.262,5.262,0,1,0,35.573,24.1a5.256,5.256,0,0,0-4.545-2.622m0,1.05A4.212,4.212,0,1,1,27.753,24.1a4.2,4.2,0,0,1,3.275-1.572"
                                transform="translate(-20.613 -17.177)" fill="#fff" />
                              <path
                                d="M37.523,34.238a.343.343,0,0,0,.343-.343,1.624,1.624,0,0,1,1.622-1.622.343.343,0,0,0,0-.685A2.316,2.316,0,0,0,37.18,33.9a.343.343,0,0,0,.343.343"
                                transform="translate(-29.736 -25.263)" fill="#fff" />
                            </g>
                          </svg> View a 360 image</a>
                        <a href="http://maps.google.com/maps?q=51.476581,-3.180583" target="_blank"
                          class="btn btn-outline mb-5"
                          aria-label="View Main lecture theatre, Two Central Square on a map"
                          data-map-marker-key="3"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.26 20.799">
                            <title>Map pin</title>
                            <defs>
                              <clipPath id="clip-path">
                                <path
                                  d="M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485"
                                  transform="translate(-51.35 -227.308)" fill="none"></path>
                              </clipPath>
                              <clipPath id="clip-path-2">
                                <rect width="18.701" height="4.572" fill="none"></rect>
                              </clipPath>
                            </defs>
                            <g transform="translate(0.736 0.737)">
                              <g transform="translate(0.243 19.092)">
                                <g clip-path="url(#clip-path)">
                                  <g transform="translate(-2.957 -1.801)" opacity="0.25">
                                    <rect width="18.701" height="4.572" transform="translate(0)" fill="#333"></rect>
                                  </g>
                                </g>
                              </g>
                              <path
                                d="M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z"
                                transform="translate(-50.676 -195.673)" fill="none" stroke="#333" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="1.473"></path>
                            </g>
                          </svg> View location</a>
                      </div>
                    </div>
                  </div>
                  <div class="controls-item controls-item-prev disabled">
                    <a href="#" class=" " data-target="#card-carousel" tabindex="-1"><svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron left</title>
                        <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z"
                          transform="translate(-6.13 0)" />
                      </svg></a>
                  </div>
                  <div class="controls-item controls-item-next" tabindex="-1">
                    <a href="#" class="" data-target="#card-carousel"><svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a>
                  </div>
                </div>
                <div class="tab-pane" id="card-map">
                  <div class="interactive-map map map--full-width map--with-panel" data-map-data="mapData2500519">
                    <div class="map__panel">
                      <div class="map__panel__contents">
                        <div class="map__panel__contents__inner">
                          <div class="map__panel__contents__list card card--flat"></div>
                          <div class="map__panel__contents__view card card--flat"></div>
                        </div>
                      </div>
                      <button class="map__panel__controls">
                        <span class="sr-only">Close panel</span>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                          <title>Chevron right</title>
                          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                        </svg>
                      </button>
                    </div>
                    <div class="map-body">
                      <div id="map" style="height:100%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="virtual-tour-3" class="modal modal-image fade modal--with-iframe" tabindex="-1" role="dialog"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close-modal" data-dismiss="modal">
                      Close image <svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 28 28">
                        <title>Close</title>
                        <path
                          d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z"
                          transform="translate(-2 -2)" />
                      </svg>
                    </button>
                  </div>
                  <div class="modal-body">
                    <iframe class="lazy" data-src="https://virtualtour.cardiff.ac.uk/accommodation/index.html?group=2"
                      frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <script>
          window.mapData2500519 = { "items": [{ "links": [{ "url": "http://maps.google.com/maps?q=51.476581,-3.180583", "data": "data-map-marker-key=\"0\"", "text": "View location", "aria": "View Social staircase, Two Central Square on a map", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title><defs><clipPath id=\"clip-path\"><path d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"></path></clipPath><clipPath id=\"clip-path-2\"><rect width=\"18.701\" height=\"4.572\" fill=\"none\"></rect></clipPath></defs><g transform=\"translate(0.736 0.737)\"><g transform=\"translate(0.243 19.092)\"><g clip-path=\"url(#clip-path)\"><g transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"><rect width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"></rect></g></g></g><path d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"></path></g></svg>" }], "name": "Social staircase, Two Central Square", "image": { "exists": true, "alt": "New JOMEC building", "path": "/__data/assets/image/0007/1301749/Journalism-Media-and-Culture.jpg", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "teaser": "A perfect place to spend time in between your lectures or take part in group study.", "filters": [{ "key": "social-spaces", "text": "Social spaces", "aria": "Filter by Social spaces" }], "category": { "exists": true, "text": "Cathays Park Campus" }, "subtitle": { "exists": true, "text": "Sample subtitle" }, "coordinates": { "lat": 51.476581, "long": -3.180583 }, "virtualTour": { "exists": false, "id": "", "src": "" } }, { "links": [{ "url": "https://www.youtube.com/watch?v=JTZF_FnYC_0", "text": "Watch a video on YouTube", "aria": "Watch a video on YouTube about Central Square Library, Two Central Square", "icon": "<svg viewBox=\"0 0 40 32\" xmlns=\"http://www.w3.org/2000/svg\" class=\"icon\"><title>Video play icon</title><g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\"><g transform=\"translate(-300.000000, -119.000000)\"><g transform=\"translate(135.000000, 30.000000)\"><g class=\"Youtube-video\"><g class=\"Video-icon-Copy-3\" transform=\"translate(165.000000, 89.000000)\"><rect class=\"bg\" fill=\"#D4374A\" x=\"0.397191135\" y=\"0\" width=\"39.1836735\" height=\"31.0204082\" rx=\"8\"></rect><polygon class=\"fg\" fill=\"#FFFFFF\" points=\"15.0910687 8.97959184 15.0910687 22.8571429 26.5196401 15.9183673\"></polygon></g></g></g></g></g></svg>" }, { "url": "http://maps.google.com/maps?q=51.476581,-3.180583", "data": "data-map-marker-key=\"1\"", "text": "View location", "aria": "View Central Square Library, Two Central Square on a map", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title><defs><clipPath id=\"clip-path\"><path d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"></path></clipPath><clipPath id=\"clip-path-2\"><rect width=\"18.701\" height=\"4.572\" fill=\"none\"></rect></clipPath></defs><g transform=\"translate(0.736 0.737)\"><g transform=\"translate(0.243 19.092)\"><g clip-path=\"url(#clip-path)\"><g transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"><rect width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"></rect></g></g></g><path d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"></path></g></svg>" }], "name": "Central Square Library, Two Central Square", "image": { "exists": true, "alt": "New JOMEC library", "path": "/__data/assets/image/0007/1301992/New-library.jpg", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "teaser": "Central Square Library holds all the resources you'll need to study your degree in journalism.", "filters": [{ "key": "libraries-and-study-spaces", "text": "Libraries and study spaces", "aria": "Filter by Libraries and study spaces" }], "category": { "exists": true, "text": "Cathays Park Campus" }, "subtitle": { "exists": true, "text": "Sample subtitle" }, "coordinates": { "lat": 51.476581, "long": -3.180583 }, "virtualTour": { "exists": false, "id": "", "src": "" } }, { "links": [{ "url": "https://www.youtube.com/watch?v=d6_EEmhbrrs", "text": "Watch a video on YouTube", "aria": "Watch a video on YouTube about Students' Union", "icon": "<svg viewBox=\"0 0 40 32\" xmlns=\"http://www.w3.org/2000/svg\" class=\"icon\"><title>Video play icon</title><g stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\"><g transform=\"translate(-300.000000, -119.000000)\"><g transform=\"translate(135.000000, 30.000000)\"><g class=\"Youtube-video\"><g class=\"Video-icon-Copy-3\" transform=\"translate(165.000000, 89.000000)\"><rect class=\"bg\" fill=\"#D4374A\" x=\"0.397191135\" y=\"0\" width=\"39.1836735\" height=\"31.0204082\" rx=\"8\"></rect><polygon class=\"fg\" fill=\"#FFFFFF\" points=\"15.0910687 8.97959184 15.0910687 22.8571429 26.5196401 15.9183673\"></polygon></g></g></g></g></g></svg>" }, { "url": "http://maps.google.com/maps?q=51.488312,-3.177763", "data": "data-map-marker-key=\"2\"", "text": "View location", "aria": "View Students' Union on a map", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title><defs><clipPath id=\"clip-path\"><path d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"></path></clipPath><clipPath id=\"clip-path-2\"><rect width=\"18.701\" height=\"4.572\" fill=\"none\"></rect></clipPath></defs><g transform=\"translate(0.736 0.737)\"><g transform=\"translate(0.243 19.092)\"><g clip-path=\"url(#clip-path)\"><g transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"><rect width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"></rect></g></g></g><path d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"></path></g></svg>" }], "name": "Students' Union", "image": { "exists": true, "alt": "Student Media ", "path": "/__data/assets/image/0011/754535/Replace-rowing-shot-pic-for-page-25d.jpg", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "teaser": "Our Students’ Union has an active student media community, giving budding journalists the opportunity to develop their skills.", "filters": [{ "key": "studios", "text": "Studios", "aria": "Filter by Studios" }, { "key": "social-spaces", "text": "Social spaces", "aria": "Filter by Social spaces" }], "category": { "exists": true, "text": "Cathays Park Campus" }, "subtitle": { "exists": true, "text": "Sample subtitle" }, "coordinates": { "lat": 51.488312, "long": -3.177763 }, "virtualTour": { "exists": false, "id": "", "src": "" } }, { "links": [{ "url": "#virtual-tour-3", "text": "View a 360 image", "aria": "View a 360 image of Main lecture theatre, Two Central Square", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 20.83 16.53\"><title>Camera</title> <defs> <clipPath id=\"clip-path-camera\"> <rect width=\"20.83\" height=\"16.53\" fill=\"none\"/> </clipPath> </defs> <g clip-path=\"url(#clip-path-camera)\"> <path d=\"M17.725,2.58h-2.58a.332.332,0,0,1-.317-.229l-.272-.816A2.244,2.244,0,0,0,12.426,0H8.4a2.243,2.243,0,0,0-2.13,1.535L6,2.351a.333.333,0,0,1-.317.229H3.105A3.109,3.109,0,0,0,0,5.685v7.74A3.132,3.132,0,0,0,3.105,16.53h14.62a3.132,3.132,0,0,0,3.1-3.105V5.685a3.108,3.108,0,0,0-3.1-3.1\" transform=\"translate(0 0)\" fill=\"#383735\"/> <path d=\"M31.028,21.477A5.262,5.262,0,1,0,35.573,24.1a5.256,5.256,0,0,0-4.545-2.622m0,1.05A4.212,4.212,0,1,1,27.753,24.1a4.2,4.2,0,0,1,3.275-1.572\" transform=\"translate(-20.613 -17.177)\" fill=\"#fff\"/> <path d=\"M37.523,34.238a.343.343,0,0,0,.343-.343,1.624,1.624,0,0,1,1.622-1.622.343.343,0,0,0,0-.685A2.316,2.316,0,0,0,37.18,33.9a.343.343,0,0,0,.343.343\" transform=\"translate(-29.736 -25.263)\" fill=\"#fff\"/> </g></svg>", "data": "data-toggle=\"modal\"" }, { "url": "http://maps.google.com/maps?q=51.476581,-3.180583", "data": "data-map-marker-key=\"3\"", "text": "View location", "aria": "View Main lecture theatre, Two Central Square on a map", "icon": "<svg class=\"icon\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 14.26 20.799\"><title>Map pin</title><defs><clipPath id=\"clip-path\"><path d=\"M51.35,227.793c0,.268,2.863.486,6.394.486s6.393-.217,6.393-.486-2.863-.485-6.393-.485-6.394.217-6.394.485\" transform=\"translate(-51.35 -227.308)\" fill=\"none\"></path></clipPath><clipPath id=\"clip-path-2\"><rect width=\"18.701\" height=\"4.572\" fill=\"none\"></rect></clipPath></defs><g transform=\"translate(0.736 0.737)\"><g transform=\"translate(0.243 19.092)\"><g clip-path=\"url(#clip-path)\"><g transform=\"translate(-2.957 -1.801)\" opacity=\"0.25\"><rect width=\"18.701\" height=\"4.572\" transform=\"translate(0)\" fill=\"#333\"></rect></g></g></g><path d=\"M57.069,195.673a6.477,6.477,0,0,1,6.393,6.557c0,6.624-6.393,12.293-6.393,12.293s-6.393-5.669-6.393-12.293A6.477,6.477,0,0,1,57.069,195.673Z\" transform=\"translate(-50.676 -195.673)\" fill=\"none\" stroke=\"#333\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"1.473\"></path></g></svg>" }], "name": "Main lecture theatre, Two Central Square", "image": { "exists": true, "alt": "Two Central Square main lecture theatre", "path": "/__data/assets/image/0006/1317813/Two-Central-Square-Main-lecture-theatre-ed.jpg", "cdn": "https://cardiff.imgix.net", "defaultImage": "/__data/assets/image/0008/1279637/DefaultLogo.png" }, "teaser": "This 300-seater is the biggest of our four lecture theatres.", "filters": [{ "key": "teaching-spaces", "text": "Teaching spaces", "aria": "Filter by Teaching spaces" }], "category": { "exists": true, "text": "Cathays Park Campus" }, "subtitle": { "exists": true, "text": "Sample subtitle" }, "coordinates": { "lat": 51.476581, "long": -3.180583 }, "virtualTour": { "exists": true, "id": "virtual-tour-3", "src": "https://virtualtour.cardiff.ac.uk/accommodation/index.html?group=2" } }], "panel": { "enabled": true, "title": "Buildings and locations" } };
        </script>3
      </div>
    </div>
  </div>
</main>