<main id="content" class="content">
  <!-- Page layout: Remove navigation-->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="alert alert-info d-none" id="form-updated-alert">
          <h1 class="alert-title text-white">Your preferences has been updated.</h1>
          %begin_globals_page_referrer%
            <a href="%globals_page_referrer%">Go back to the previous page</a>
          %else_globals_page_referrer%
        </div>
        <h1 class="colour-red" id="page-title">Choose your cookie preferences</h1>

        <form id="update-cookie-preferences-form" method="post">
          <script>
            var disableCookieBanner = true;
          </script>

          <div id="content_container_2402732">
            <p class="lead">You can choose which cookies are set whilst using <a
                href="https://www.cardiff.ac.uk">www.cardiff.ac.uk.</a></p>
            <p>Cookies are files saved on your phone, tablet or computer when you visit a website. The cookies we use on
              our website are set for four purposes.</p>
          </div>

          <div id="performance_preference_2402860">
            <h2>Cookies that measure our website’s performance</h2>
            <p>We use cookies that measure how you use the website.This allows us to improve it based on user needs.</p>
            <p>These cookies store anonymised information about:</p>
            <ul>
              <li>how you got to the site</li>
              <li>the pages you visit on <a href="https://www.cardiff.ac.uk">www.cardiff.ac.uk</a>, and how long you
                spend on each page</li>
              <li>what you click on while you're visiting the site.</li>
            </ul>
          </div>
          <fieldset class="mb-15">
            <legend class="sr-only" id="cookie-policy-performance">Cookies that measure our website’s performance
            </legend>
            <p class="question-error-msg d-none" id="cookie-policy-performance-error"></p>
            <div class="form-group" aria-labelledby="cookie-policy-performance">
              <div class="radio-option">
                <input type="radio" name="cookie-policy-performance" id="cookie-policy-performance-yes" value="true">
                <label class="radio-option-label" for="cookie-policy-performance-yes">Use cookies that measure our
                  website’s performance</label>
              </div>
              <div class="radio-option">
                <input type="radio" name="cookie-policy-performance" id="cookie-policy-performance-no" value="ss"
                  checked="">
                <label class="radio-option-label" for="cookie-policy-performance-no">Do not use cookies that measure my
                  website use</label>
              </div>
            </div>
          </fieldset>
          <div id="advertisement_preference_2402992">
            <h2>Cookies that help with our advertising and marketing</h2>
            <p>These cookies may be set by third party websites and do things like:</p>
            <ul>
              <li>count the views on embedded YouTube videos</li>
              <li>ensure our marketing content is relevant, timely and interest</li>
              <li>measure the effectiveness of our advertising campaigns.</li>
            </ul>
          </div>
          <fieldset class="mb-15">
            <legend class="sr-only" id="cookie-policy--advertising">Cookies that help with our advertising and marketing
            </legend>
            <p class="question-error-msg d-none" id="cookie-policy-advertising-error"></p>
            <div class="form-group" aria-labelledby="cookie-policy-advertising">
              <div class="radio-option">
                <input type="radio" name="cookie-policy-advertising" id="cookie-policy-advertising-yes" value="true">
                <label class="radio-option-label" for="cookie-policy-advertising-yes">Use cookies that help us with
                  advertising and marketing</label>
              </div>
              <div class="radio-option">
                <input type="radio" name="cookie-policy-advertising" id="cookie-policy-advertising-no" value="false"
                  checked="">
                <label class="radio-option-label" for="cookie-policy-advertising-no">Do not use cookies that help with
                  advertising and marketing</label>
              </div>
            </div>
          </fieldset>
          <div id="features_preferences_2402996">
            <h2>Cookies that enable useful features</h2>
            <p>These cookies allow some of our website’s useful features to function and remember some of your previous
              activity. They do things like allowing you to:</p>
            <ul>
              <li>view, play or listen to embedded content, such as YouTube videos</li>
              <li>talk with us via live chat and continue the next time you come to our website</li>
              <li>give us feedback about our website without being asked again.</li>
            </ul>
          </div>
          <fieldset class="mb-15">
            <legend class="sr-only" id="cookie-policy--functionality">Cookies that enable useful features</legend>

            <p class="question-error-msg d-none" id="cookie-policy-functionality-error"></p>
            <div class="form-group" aria-labelledby="cookie-policy-functionality">
              <div class="radio-option">
                <input type="radio" name="cookie-policy-functionality" id="cookie-policy-functionality-yes"
                  value="true">
                <label class="radio-option-label" for="cookie-policy-functionality-yes">Use cookies that enable useful
                  features</label>
              </div>
              <div class="radio-option">
                <input type="radio" name="cookie-policy-functionality" id="cookie-policy-functionality-no" value="false"
                  checked="">
                <label class="radio-option-label" for="cookie-policy-functionality-no">Do not use cookies that enable
                  useful features</label>
              </div>
            </div>
          </fieldset>
          <div id="necessary_cookies_2403002">
            <h2>Strictly necessary cookies</h2>
            <p>Essential cookies are needed for our website to work. If you block all cookies from our website, it may
              not function properly.</p>
            <p>These cookies cannot be turned off.</p>
          </div>
          <button type="submit" class="btn btn-success mb-20" id="update-preferences-btn">Save your preferences</button>
          <div id="find_out_more_2403008">
            <p><a href="https://www.cardiff.ac.uk/help/cookies">Find out more about cookies on www.cardiff.ac.uk.</a>
            </p>
          </div>

        </form>
        <!-- [] -->
        <!-- Related links:  -->
      </div>
      <div class="col-md-3" role="complementary"></div>
    </div>
  </div>
</main>