<main id="content" class="content">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-12">
        <h1 id="page-title" class="colour-red">Chemistry (MChem) </h1>
        <ul class="list list-no-disc">
          <li><strong>UCAS code: </strong>F103</li>
          <li><strong>Next intake: </strong>September 2020</li>
          <li><strong>Duration: </strong>4 years</li>
          <li><strong>Mode: </strong>Full time</li>
        </ul>
      </div>
      <div class="col-md-8">
        <hr class="mt-0 mb-30">
        <form class="form-horizontal mb-0">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-0">
                <p class="form-label">Entry Year</p>
                <div class="btn-group w-100"> <a href="" class="btn btn-outline-info">2019</a> <a href=""
                    class="btn btn-info">${require-svg('tick')} 2020</a> </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4"> <a href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
          class="btn btn-block btn-success ga-event mt-0" data-action="book-open-day"
          data-category="undergraduate-course" data-label="UFMYCEMA - Chemistry (MChem) ">Book an open day</a><a
          href="https://www.cardiff.ac.uk/study/undergraduate/applying/how-to-apply"
          class="btn btn-block btn-outline ga-event" data-action="apply" data-category="undergraduate-course"
          data-label="UFMYCEMA - Chemistry (MChem) ">How to apply</a> </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        ${require('../components/image/variations/image-with-icon-and-text')}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        ${require('../components/image/variations/image-with-video')}
      </div>
    </div>
  </div>
  ${require('../components/nav-section/variations/nav-section-sticky.html')}

  <div class="content-group">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="overview" class="page-section-heading">Why study this course</h2>
        </div>
        <div class="col-12 col-lg-8">
          <p class="lead">This four-year MChem programme takes you to the heart of modern science and technology,
            embracing mathematics and physics on one hand, and medicine and the life sciences on the other.</p>
          <p>The MChem Chemistry course aims to give you a detailed understanding of the knowledge and skills required
            to advance into a successful chemistry career.</p>

          <p>This four-year degree incorporates a major research project worth 60 credits in the final year. You will
            spend year three in Cardiff, but have the opportunity to transfer to the MChem Chemistry with a Year in
            Industry or MChem Chemistry with a Year Abroad courses if you wish to spend year three in an industrial
            laboratory, or in a university research laboratory overseas.<br />
            <br />
            A solid grounding across the whole subject of chemistry will be delivered, before you focus in depth on your
            specific areas of interest. This culminates in a major research project, working alongside subject experts
            within the School.<br />
            <br />
            With more emphasis on analysis, synthesis and problem solving than BSc degrees, as well as significant
            opportunities to develop transferrable professional skills, you can acquire all the attributes needed to be
            a self-sufficient working chemist.</p>
          <h3>Distinctive features</h3>
          <ul>
            <li>Accredited by the Royal Society of Chemistry</li>
            <li>MChem graduates are eligible for full membership of the Royal Society of Chemistry (MRSC), and may apply
              for the title of Chartered Chemist (CChem) after further experience in a relevant job</li>
            <li>Students who are interested in a placement abroad or in industry may request a transfer to the MChem
              with a Year in Industry, or MChem with a Year Abroad</li>
            <li>Availability of opportunities to undertake summer research projects in Cardiff under academic staff
              supervision.</li>
          </ul>
          <h3>Accreditations</h3>
          <ul class="list list-links">
            <li><a target="_blank" rel="noopener noreferrer"
                href="http://www.rsc.org/Membership/join/AccreditedCourses/index.asp">Royal Society of Chemistry
                (RSC)</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="box">
            <div class="box-header"> <img class="lazy"
                src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=368&ar=16:9&auto=compress&fit=crop"
                data-src="https://cardiff.imgix.net/__data/assets/image/0014/31091/Students-in-lab.jpg?w=368&ar=16:9&auto=format&fit=crop&q=60"
                data-srcset="https://cardiff.imgix.net/__data/assets/image/0014/31091/Students-in-lab.jpg?w=368&ar=16:9&auto=format&fit=crop&q=60 368w,          https://cardiff.imgix.net/__data/assets/image/0014/31091/Students-in-lab.jpg?w=291&ar=16:9&auto=format&fit=crop&q=60 292w,          https://cardiff.imgix.net/__data/assets/image/0014/31091/Students-in-lab.jpg?w=702&ar=16:9&auto=format&fit=crop&q=60 702w"
                sizes="(max-width: 767px) 702px, (max-width: 980px) 702px, (max-width: 1199px) 291px, (min-width: 1200px) 368px">
            </div>
            <div class="row box-group with-title">
              <div class="col-md-12">
                <div class="box-body">
                  <h3><a href="https://www.cardiff.ac.uk/chemistry">School of Chemistry</a></h3>
                  <p>Our internationally-recognised research and education is focused on tackling the impo'rtant
                    scientific challenges of the 21st century.</p>
                  <ul class="list list-links">
                    <li><a href="https://www.cardiff.ac.uk/chemistry/about-us">About
                        us${require-svg('chevron-right')}</a></li>
                    <li><a
                        href="https://www.cardiff.ac.uk/chemistry/research">Research${require-svg('chevron-right')}</a>
                    </li>
                    <li><a href="https://www.cardiff.ac.uk/chemistry/people">People${require-svg('chevron-right')}</a>
                    </li>
                  </ul>
                  <ul class="list list-icons">
                    <li>${require-svg('email')}<a href="mailto:chemistry@cardiff.ac.uk">chemistry@cardiff.ac.uk</a></li>
                    <li>${require-svg('telephone')}<a href="tel:+44 (0)29 2087 4023">+44 (0)29 2087 4023</a></li>
                    <li>${require-svg('marker')} Park Place,&#32;Cardiff,&#32;CF10 3AT</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group with-background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="requirements" class="page-section-heading">Entry requirements</h2>
          <div class="tabs-vertical">
            <ul class="nav nav-list">
              <li class="nav-item"><a class="nav-link active" href="#entry-requirements-a-level"
                  data-toggle="tab">Typical A level offer</a></li>
              <li class="nav-item"><a class="nav-link" href="#entry-requirements-welsh-baccalaureate"
                  data-toggle="tab">Typical Welsh Baccalaureate offer</a></li>
              <li class="nav-item"><a class="nav-link" href="#entry-requirements-btec" data-toggle="tab">Typical BTEC
                  offer</a></li>
              <li class="nav-item"><a class="nav-link" href="#entry-requirements-international-baccalaureate"
                  data-toggle="tab">Typical International Baccalaureate offer</a></li>
              <li class="nav-item"><a class="nav-link" href="#entry-requirements-alternative"
                  data-toggle="tab">Alternative qualifications</a></li>
              <li class="nav-item"><a class="nav-link" href="#entry-requirements-english-language"
                  data-toggle="tab">English language requirements</a></li>
              <li class="nav-item"><a class="nav-link" href="#entry-requirements-other" data-toggle="tab">Other
                  essential requirements</a></li>
            </ul>
            <div class="accordion accordion-mobile" id="entry-requirements-accordion">
              <div class="tab-content">
                <div class="tab-pane active" id="entry-requirements-a-level">
                  <div class="accordion-section">
                    <div class="accordion-section-header"> <a class="accordion-section-header-title collapsed"
                        data-toggle="collapse" href="#mobile-entry-requirements-a-level">
                        ${require-svg('chevron-right')}<span>Typical A level offer</span> </a> </div>
                    <div id="mobile-entry-requirements-a-level" class="accordion-section-body collapse"
                      data-parent="#entry-requirements-accordion">
                      <div class="accordion-inner">
                        <p>AAB-ABB&nbsp;including Grade B in Chemistry with&nbsp;(where applicable) a pass in the
                          practical element of the A-level. Please note that General Studies is not be accepted.&nbsp;
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="entry-requirements-welsh-baccalaureate">
                  <div class="accordion-section">
                    <div class="accordion-section-header"> <a class="accordion-section-header-title collapsed"
                        data-toggle="collapse"
                        href="#mobile-entry-requirements-welsh-baccalaureate">${require-svg('chevron-right')}<span>Typical
                          Welsh Baccalaureate offer</span> </a> </div>
                    <div id="mobile-entry-requirements-welsh-baccalaureate" class="accordion-section-body collapse"
                      data-parent="#entry-requirements-accordion">
                      <div class="accordion-inner">
                        <p>The Welsh Baccalaureate Advanced Skills Challenge Certificate will be accepted in lieu of one
                          A-Level (at the grades listed above), excluding any specified subjects.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="entry-requirements-btec">
                  <div class="accordion-section">
                    <div class="accordion-section-header"> <a class="accordion-section-header-title collapsed"
                        data-toggle="collapse"
                        href="#mobile-entry-requirements-btec">${require-svg('chevron-right')}<span>Typical BTEC
                          offer</span> </a> </div>
                    <div id="mobile-entry-requirements-btec" class="accordion-section-body collapse"
                      data-parent="#entry-requirements-accordion">
                      <div class="accordion-inner">
                        <p>DDM - DMM in BTEC Applied Science.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="entry-requirements-international-baccalaureate">
                  <div class="accordion-section">
                    <div class="accordion-section-header"> <a class="accordion-section-header-title collapsed"
                        data-toggle="collapse"
                        href="#mobile-entry-requirements-international-baccalaureate">${require-svg('chevron-right')}<span>Typical
                          International Baccalaureate offer</span> </a> </div>
                    <div id="mobile-entry-requirements-international-baccalaureate"
                      class="accordion-section-body collapse" data-parent="#entry-requirements-accordion">
                      <div class="accordion-inner">
                        <p>30 - 34&nbsp;points including Chemistry
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="entry-requirements-alternative">
                  <div class="accordion-section">
                    <div class="accordion-section-header"> <a class="accordion-section-header-title collapsed"
                        data-toggle="collapse"
                        href="#mobile-entry-requirements-alternative">${require-svg('chevron-right')}<span>Alternative
                          qualifications</span> </a> </div>
                    <div id="mobile-entry-requirements-alternative" class="accordion-section-body collapse"
                      data-parent="#entry-requirements-accordion">
                      <div class="accordion-inner">
                        <p>Alternative qualifications may be accepted. For further information on entry requirements,
                          see the <a href="https://www.cardiff.ac.uk/chemistry">School of Chemistry</a> admissions
                          criteria pages.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="entry-requirements-english-language">
                  <div class="accordion-section">
                    <div class="accordion-section-header"> <a class="accordion-section-header-title collapsed"
                        data-toggle="collapse"
                        href="#mobile-entry-requirements-english-language">${require-svg('chevron-right')}<span>English
                          language requirements</span> </a> </div>
                    <div id="mobile-entry-requirements-english-language" class="accordion-section-body collapse"
                      data-parent="#entry-requirements-accordion">
                      <div class="accordion-inner">
                        <h3>GCSE</h3>
                        <p>Grade C or grade 4 in GCSE English Language.</p>
                        <h3>IELTS (academic)</h3>
                        <p>At least 6.5 overall with a minimum of 5.5 in each sub-score.</p>
                        <h3>TOEFL iBT</h3>
                        <p>At least 90 with minimum scores of 17 for writing, 17 for listening, 18 for reading and 20
                          for speaking.</p>
                        <h3>PTE Academic</h3>
                        <p>62 with a minimum of 51 in all communicative skills.</p>
                        <h3>Trinity ISE II/III</h3>
                        <p>II: at least two Distinctions and two Merits.<br>III: at least a Pass in all components.</p>
                        <h3>Other accepted qualifications</h3>
                        <p>Please visit our English Language requirements page for more information on our <a
                            href="https://www.cardiff.ac.uk/study/international/english-language-requirements">other
                            accepted language qualifications</a>.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="entry-requirements-other">
                  <div class="accordion-section">
                    <div class="accordion-section-header"> <a class="accordion-section-header-title collapsed"
                        data-toggle="collapse"
                        href="#mobile-entry-requirements-other">${require-svg('chevron-right')}<span>Other essential
                          requirements</span> </a> </div>
                    <div id="mobile-entry-requirements-other" class="accordion-section-body collapse"
                      data-parent="#entry-requirements-accordion">
                      <div class="accordion-inner">
                        <p>You will require GCSE English Language Grade C/4 and GCSE Maths Grade C/4.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group with-background bg-panache">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="fees" class="page-section-heading">Tuition fees</h2>
          <h3>UK and EU students (2020/21)</h3>
          <p class="alert">We are currently awaiting confirmation on tuition fees for the 2020/21 academic year. Fees
            for the <strong>previous year</strong> were <strong>£9,000</strong>.</p>
          <p><a href="https://www.cardiff.ac.uk/study/undergraduate/tuition-fees">Learn about our tuition fees</a></p>
          <h3>Students from outside the EU (2020/21)</h3>
          <p class="alert">We are currently awaiting confirmation on tuition fees for the 2020/21 academic year.</p>
          <p><a href="https://www.cardiff.ac.uk/study/undergraduate/tuition-fees">Learn about our tuition fees</a></p>
          <h2>Additional costs</h2>
          <p>The School covers the cost of everything that is an essential part of the programme, this will be clearly
            detailed in all programme information and in any verbal instructions given by tutors. You may be required to
            cover additional costs that are either not essential or are basic costs that a student should be expected to
            cover themselves. This includes but is not limited to laptop computers, calculators, general stationery,
            textbooks (assumed to be available in the library), and basic copying/ printing.</p>
          <h3>Course specific equipment</h3>
          <p>You do not need any specific equipment. We will provide you with a lab coat, a pair of safety glasses, a
            laboratory notebook and a molecular modelling kit. Chemical drawing software, ChemDraw is available on all
            university computers, and you will be able to download it to your own computers for free.</p>
          <h3>Accommodation</h3>
          <p>We have a range of residences to suit your needs and budget. Find out more on our <a
              href="https://www.cardiff.ac.uk/study/accommodation">accommodation pages</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content-toggle" data-read-more-label="Read more about the course structure"
            data-read-less-label="Show less about the course structure">
            <h2 id="structure" class="page-section-heading">Course structure</h2>
            <p class="alert alert-info">We are currently working with our students to update and improve the content of
              this course. The information shown below reflects the current curriculum and is likely to change. The
              review of the course is expected to be completed by August 2020 and this page will be updated by end of
              October 2020 to reflect the changes.</p>
            <p>All our chemistry degrees share a common first and second year. At the end of year one or two it is
              possible to transfer to MChem Chemistry with a Year in Industry or MChem Chemistry with a Year Abroad.</p>

            <p>This four-year MChem Chemistry course builds on the strong platform of the common first two years to
              explore particular areas in greater detail later on. This gives an enhanced level of insight and deeper
              knowledge on which to base your research and further study.</p>

            <p>This degree has met the Royal Society of Chemistry requirements for accreditation, which means that MChem
              graduates are eligible for full membership of the society (MRSC), and may apply for the title of Chartered
              Chemist (CChem) after further experience in a relevant job.</p>
            <p class="alert">The modules shown are an example of the typical curriculum and will be reviewed prior to
              the 2020/21 academic year. The final modules will be published by September 2020.</p>
            <h3 class="colour-red">Year one</h3>
            <p>
              <p>In year one we aim to stimulate your interest in the subject, whilst giving you a solid knowledge base
                to build upon in the following years. Our core chemistry modules are based around five principal subject
                areas: analytical inorganic, organic, physical and solid state chemistry. They include training in key
                skills for chemists. These core modules are complemented by a range of optional modules, allowing you to
                exercise choice over your studies and extend your breadth of experience. You may also take optional
                modules in disciplines such as biological sciences, physics or modern languages.</p>
              <p>Students must obtain a year 1 average of at least 55% overall in order to progress into year 2 of the
                MChem programme. Students who do not achieve a year 1 average of at least 55% will be required to
                transfer to the BSc programme.</p>
            </p>
            <div class="accordion" id="moduleList-module-list-1">
              <div class="accordion-section">
                <div class="accordion-section-header"> <a class="accordion-section-header-title" data-toggle="collapse"
                    href="#core-modules-1">${require-svg('chevron-right')} Core modules</a> </div>
                <div id="core-modules-1" class="acordion-body collapse show">
                  <div class="accordion-inner">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Module title</th>
                            <th>Module code</th>
                            <th>Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3101"
                                data-occurance="occurrence">Foundations of Physical Chemistry</a></td>
                            <td>CH3101</td>
                            </td>
                            <td>20 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3102"
                                data-occurance="occurrence">Foundations of Inorganic Chemistry</a></td>
                            <td>CH3102</td>
                            </td>
                            <td>20 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3105"
                                data-occurance="occurrence">Techniques and Methods in Chemistry</a></td>
                            <td>CH3105</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4103"
                                data-occurance="occurrence">Foundations of Organic and Biological Chemistry</a></td>
                            <td>CH4103</td>
                            </td>
                            <td>20 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4104"
                                data-occurance="occurrence">Introduction to the Solid State</a></td>
                            <td>CH4104</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4106"
                                data-occurance="occurrence">Introduction to Analytical Chemistry</a></td>
                            <td>CH4106</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-section">
                <div class="accordion-section-header"> <a class="accordion-section-header-title" data-toggle="collapse"
                    href="#optional-modules-1">${require-svg('chevron-right')} Optional modules</a> </div>
                <div id="optional-modules-1" class="acordion-body collapse in">
                  <div class="accordion-inner">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Module title</th>
                            <th>Module code</th>
                            <th>Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH2112"
                                data-occurance="occurrence">Forensic Chemistry</a></td>
                            <td>CH2112</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH2115"
                                data-occurance="occurrence">Chemistry of the Cosmos</a></td>
                            <td>CH2115</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH2116"
                                data-occurance="occurrence">Mathematical Methods for Chemistry</a></td>
                            <td>CH2116</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH2117"
                                data-occurance="occurrence">Environmental Chemistry</a></td>
                            <td>CH2117</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH2118"
                                data-occurance="occurrence">Energy Resources and Materials</a></td>
                            <td>CH2118</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3120"
                                data-occurance="occurrence">Communicating Chemistry</a></td>
                            <td>CH3120</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="colour-red">Year two</h3>
            <p>
              <p>In year two, core material is rigorously developed across all of the main areas of chemistry through
                compulsory modules.<br /><br /> You may transfer to the three-year BSc Chemistry course at any point
                prior to the start of year three. Students must obtain a year 2 average of at least 55% overall in order
                to progress into year 3 of the MChem programme. Students who do not achieve a year 2 average of at least
                55% will be required to transfer to the BSc programme.</p>
              <p>If a placement abroad or in industry appeals to you, you will need to register an interest by the start
                of year two, and transfer to the corresponding MChem course by the start of year three. There are also
                opportunities for several students to undertake summer research projects in Cardiff, under staff
                supervision.</p>
            </p>
            <div class="accordion" id="moduleList-module-list-2"> </div>
            <h3 class="colour-red">Year three</h3>
            <p>
              <p>Year three practical work is formed by two separate modules, one in each semester. You will take a
                compulsory theory module in four branches of the subject: biological, inorganic, organic, physical; and
                you will select from a range of optional modules.</p>
            </p>
            <div class="accordion" id="moduleList-module-list-3">
              <div class="accordion-section">
                <div class="accordion-section-header"> <a class="accordion-section-header-title" data-toggle="collapse"
                    href="#core-modules-3">${require-svg('chevron-right')} Core modules</a> </div>
                <div id="core-modules-3" class="acordion-body collapse show">
                  <div class="accordion-inner">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Module title</th>
                            <th>Module code</th>
                            <th>Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH2301"
                                data-occurance="occurrence">Training in Research Methods</a></td>
                            <td>CH2301</td>
                            </td>
                            <td>20 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH2306"
                                data-occurance="occurrence">Application of Research Methods</a></td>
                            <td>CH2306</td>
                            </td>
                            <td>20 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4302"
                                data-occurance="occurrence">Advanced Organometallic and Coordination Chemistry</a></td>
                            <td>CH4302</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4303"
                                data-occurance="occurrence">Advanced Synthetic Strategies</a></td>
                            <td>CH4303</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4304"
                                data-occurance="occurrence">Quantum and Statistical Mechanics of Molecules and
                                Solids</a></td>
                            <td>CH4304</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4305"
                                data-occurance="occurrence">Macromolecules of Life</a></td>
                            <td>CH4305</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-section">
                <div class="accordion-section-header"> <a class="accordion-section-header-title" data-toggle="collapse"
                    href="#optional-modules-3">${require-svg('chevron-right')} Optional modules</a> </div>
                <div id="optional-modules-3" class="acordion-body collapse in">
                  <div class="accordion-inner">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Module title</th>
                            <th>Module code</th>
                            <th>Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3307"
                                data-occurance="occurrence">Advanced Spectroscopy and Diffraction</a></td>
                            <td>CH3307</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3308"
                                data-occurance="occurrence">Bioinorganic Chemistry</a></td>
                            <td>CH3308</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3310"
                                data-occurance="occurrence">Heterogeneous Catalysis</a></td>
                            <td>CH3310</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3315"
                                data-occurance="occurrence">Structure and Mechanism in Organic Chemistry</a></td>
                            <td>CH3315</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3316"
                                data-occurance="occurrence">Homogeneous Catalysis</a></td>
                            <td>CH3316</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3317"
                                data-occurance="occurrence">Engineering Biosynthesis</a></td>
                            <td>CH3317</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="colour-red">Year four</h3>
            <p>
              <p>A substantial year-long research project in an area of your choosing gives you the chance to develop
                and demonstrate new skills through research. There are no compulsory theory modules in year four, which
                will enable you to select available modules that match your interests.</p>
            </p>
            <div class="accordion" id="moduleList-module-list-4">
              <div class="accordion-section">
                <div class="accordion-section-header"> <a class="accordion-section-header-title" data-toggle="collapse"
                    href="#core-modules-4">${require-svg('chevron-right')} Core modules</a> </div>
                <div id="core-modules-4" class="acordion-body collapse show">
                  <div class="accordion-inner">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Module title</th>
                            <th>Module code</th>
                            <th>Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3401"
                                data-occurance="occurrence">Project</a></td>
                            <td>CH3401</td>
                            </td>
                            <td>60 credits</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-section">
                <div class="accordion-section-header"> <a class="accordion-section-header-title" data-toggle="collapse"
                    href="#optional-modules-4">${require-svg('chevron-right')} Optional modules</a> </div>
                <div id="optional-modules-4" class="acordion-body collapse in">
                  <div class="accordion-inner">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Module title</th>
                            <th>Module code</th>
                            <th>Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3402"
                                data-occurance="occurrence">Frontiers in Ligand Design and Coordination Chemistry</a>
                            </td>
                            <td>CH3402</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3403"
                                data-occurance="occurrence">Bio-imaging Applications of Coordination Chemistry</a></td>
                            <td>CH3403</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3404"
                                data-occurance="occurrence">Asymmetric Synthesis of Pharmaceuticals and Natural
                                Products</a></td>
                            <td>CH3404</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3406"
                                data-occurance="occurrence">Molecular Modelling</a></td>
                            <td>CH3406</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3407"
                                data-occurance="occurrence">Advanced Materials</a></td>
                            <td>CH3407</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3410"
                                data-occurance="occurrence">Advanced Magnetic Resonance Spectroscopy: Principles and
                                Applications</a></td>
                            <td>CH3410</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3411"
                                data-occurance="occurrence">Catalytic Materials for Green Chemistry</a></td>
                            <td>CH3411</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH3412"
                                data-occurance="occurrence">Supramolecular Chemistry</a></td>
                            <td>CH3412</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4405"
                                data-occurance="occurrence">Advanced Techniques in Biophysical Chemistry</a></td>
                            <td>CH4405</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4408"
                                data-occurance="occurrence">Modern Catalysis</a></td>
                            <td>CH4408</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                          <tr>
                            <td><a href="#" class="module-information" data-module="CH4409"
                                data-occurance="occurrence">Applications of Advanced Spectroscopic Methods</a></td>
                            <td>CH4409</td>
                            </td>
                            <td>10 credits</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group with-background bg-anakiwa">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content-toggle">
            <h2 id="assessment" class="page-section-heading">Learning and assessment</h2>
            <p>We aim to provide an exceptional environment for chemical education and undergraduate degrees reflect our
              current research strengths and interests, with final-year projects fully integrated in research groups.
              Your course of study has been carefully designed to enable you to realise your maximum potential. We aim
              to deliver expert teaching, and comprehensive pastoral care.</p>

            <p>Teaching is undertaken through a series of lectures, tutorials, workshops and practical classes. These
              are supported by material hosted on Learning Central, the University&rsquo;s virtual learning environment.
            </p>

            <p><strong>Lectures</strong></p>

            <p>The major element of staff teaching is through lectures, typically 10-12 per week of 50 minutes duration.
              Subject matter is supported in various ways depending on the topic. This can include slides, computer
              presentations, handouts and course summaries.</p>

            <p><strong>Laboratory work</strong></p>

            <p>The second part of teaching involves practical classes, again typically averaging about 10-12 hours each
              week. In year one the emphasis is on basic techniques and simple but accurate recording of observations.
              Skills are taught by practical demonstrations and supported by a range of e-learning resources freely
              available and readily accessible to all students.<br />
              <br />
              Self-testing offers insight into different practical techniques, and the chance to correct mistakes before
              attending laboratory sessions.<br />
              <br />
              Laboratory work progresses towards substantial experiments that need careful planning, analysis and
              interpretation of results, as well as professional standard reporting. Practical work is integrated into
              each core module in the first two years, providing experience in all the main laboratory procedures and
              techniques. Training is designed progressively to extend your level of proficiency in practical chemistry,
              preparing you to undertake an independent research project at the end of your degree.</p>

            <p><strong>Small-group teaching</strong></p>

            <p>Small group tutorial classes are given in the first three years, allowing practice, discussion and
              analysis of the lecture material, as well as the development of communication skills. Sessions are
              delivered by three allocated staff members, typically with one specialist in each of the areas of organic,
              inorganic and physical chemistry. The same tutors usually remain assigned to each group throughout your
              degree.</p>

            <p><strong>Research project</strong></p>

            <p>All our Chemistry courses have a major element of independent, supervised research. In MChem Chemistry,
              this takes the form of a 60 credit module in year four, taking about two full days per week of both
              semesters. This includes planning, experimental work, analysis of results and reporting in a thesis.
              Working under the guidance of an expert in the field, you will present results of your work orally and in
              writing. In the past, this has led to undergraduates co-authoring published papers.</p>
            <div class="progress-set" data-type="time-spent">
              <form>
                <div class="row">
                  <div class="col-md-3"> <select class="form-control progress-filter"
                      aria-label="Select bla bla"></select> </div>
                </div>
              </form>
              <div class="progress-group" data-year="1">
                <h3>Year 1</h3>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Scheduled learning and teaching activities</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-affair" style="width: 37%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="37"></div>
                  </div>
                  <p class="progress-group-item-indicator">37%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Guided independent study</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-cerise" style="width: 64%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="64"></div>
                  </div>
                  <p class="progress-group-item-indicator">64%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Placements</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-ocean-green" style="width: 0%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="0"></div>
                  </div>
                  <p class="progress-group-item-indicator">0%</p>
                </div>
              </div>
              <div class="progress-group" data-year="2">
                <h3>Year 2</h3>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Scheduled learning and teaching activities</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-affair" style="width: 42%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="42"></div>
                  </div>
                  <p class="progress-group-item-indicator">42%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Guided independent study</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-cerise" style="width: 58%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="58"></div>
                  </div>
                  <p class="progress-group-item-indicator">58%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Placements</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-ocean-green" style="width: 0%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="0"></div>
                  </div>
                  <p class="progress-group-item-indicator">0%</p>
                </div>
              </div>
              <div class="progress-group" data-year="3">
                <h3>Year 3</h3>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Scheduled learning and teaching activities</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-affair" style="width: 37%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="37"></div>
                  </div>
                  <p class="progress-group-item-indicator">37%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Guided independent study</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-cerise" style="width: 63%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="63"></div>
                  </div>
                  <p class="progress-group-item-indicator">63%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Placements</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-ocean-green" style="width: 0%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="0"></div>
                  </div>
                  <p class="progress-group-item-indicator">0%</p>
                </div>
              </div>
              <div class="progress-group" data-year="4">
                <h3>Year 4</h3>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Scheduled learning and teaching activities</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-affair" style="width: 45%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="45"></div>
                  </div>
                  <p class="progress-group-item-indicator">45%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Guided independent study</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-cerise" style="width: 55%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="55"></div>
                  </div>
                  <p class="progress-group-item-indicator">55%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Placements</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-ocean-green" style="width: 0%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="0"></div>
                  </div>
                  <p class="progress-group-item-indicator">0%</p>
                </div>
              </div>
            </div> [object Object],[object Object],[object Object],[object Object] <h3>How will I be supported?</h3>
            <p>Every student three academic tutors, one of whom also acts as your personal tutor. You will see one of
              your tutors each week in the first three years, either as part of a small tutorial group or on a
              one-to-one basis in a personal tutorial. All staff operate an open-door policy, meaning you can always
              approach staff with issues, academic or otherwise.&nbsp;</p>

            <p>You will be given access to a comprehensive handbook appropriate to your year of study, containing
              details of the School&rsquo;s procedures and policies.</p>

            <p>We make extensive use of the University&rsquo;s Virtual Learning Environment (Learning Central) to share
              information.&nbsp; Marks for in-course assessment will be available via Learning Central within three
              weeks of the deadline.</p>

            <p><strong>Feedback</strong></p>

            <p>You will receive regular oral and written feedback on your progress throughout the course. Feedback is
              usually given on coursework such as practical scripts, workshops and tutorials. You will also have the
              opportunity to discuss your results and feedback with your tutor in more depth at weekly tutorials and
              regular personal tutorials.</p>
            <div class="progress-set" data-type="time-assessment">
              <form>
                <div class="row">
                  <div class="col-md-3"> <select class="form-control progress-filter" aria-label=""></select> </div>
                </div>
              </form>
              <div class="progress-group" data-year="1">
                <h3>Year 1</h3>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Written exams</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-affair" style="width: 60%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="60"></div>
                  </div>
                  <p class="progress-group-item-indicator">60%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Practical exams</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-cerise" style="width: 17%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="17"></div>
                  </div>
                  <p class="progress-group-item-indicator">17%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Coursework</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-ocean-green" style="width: 23%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="23"></div>
                  </div>
                  <p class="progress-group-item-indicator">23%</p>
                </div>
              </div>
              <div class="progress-group" data-year="2">
                <h3>Year 2</h3>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Written exams</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-affair" style="width: 52%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="52"></div>
                  </div>
                  <p class="progress-group-item-indicator">52%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Practical exams</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-cerise" style="width: 25%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="25"></div>
                  </div>
                  <p class="progress-group-item-indicator">25%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Coursework</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-ocean-green" style="width: 23%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="23"></div>
                  </div>
                  <p class="progress-group-item-indicator">23%</p>
                </div>
              </div>
              <div class="progress-group" data-year="3">
                <h3>Year 3</h3>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Written exams</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-affair" style="width: 47%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="47"></div>
                  </div>
                  <p class="progress-group-item-indicator">47%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Practical exams</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-cerise" style="width: 32%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="32"></div>
                  </div>
                  <p class="progress-group-item-indicator">32%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Coursework</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-ocean-green" style="width: 22%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="22"></div>
                  </div>
                  <p class="progress-group-item-indicator">22%</p>
                </div>
              </div>
              <div class="progress-group" data-year="4">
                <h3>Year 4</h3>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Written exams</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-affair" style="width: 40%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="40"></div>
                  </div>
                  <p class="progress-group-item-indicator">40%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Practical exams</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-cerise" style="width: 30%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="30"></div>
                  </div>
                  <p class="progress-group-item-indicator">30%</p>
                </div>
                <div class="progress-group-item">
                  <p class="progress-group-item-title">Coursework</p>
                  <div class="progress progress-group-item-bar">
                    <div class="progress-bar bg-ocean-green" style="width: 30%;" role="progressbar" aria-valuemin="0"
                      aria-valuemax="100" aria-valuenow="30"></div>
                  </div>
                  <p class="progress-group-item-indicator">30%</p>
                </div>
              </div>
            </div>
            <h3>What skills will I practise and develop?</h3>
            <p><strong>Knowledge and Understanding</strong></p>

            <p>On successful completion of the Programme you will be able to demonstrate systematic knowledge and a
              critical comprehensive understanding of essential facts, concepts, principles and theories relating to the
              subject area of chemistry. Specifically,</p>

            <ul>
              <li>Chemical terminology, nomenclature, conventions and units.</li>
              <li>The structural and stereochemical features of chemical elements and their compounds, including
                conformational analysis.</li>
              <li>The characteristic properties and behaviour of elements and their compounds including group
                relationships and trends within the Periodic Table.</li>
              <li>The principles and procedures used in chemical analysis and the characterisation of chemical
                compounds, including the application of spectroscopies to the determination of structure and properties
                of chemical entities.</li>
              <li>The properties of the different states of matter and the theories used to describe them, and the
                relation between bulk properties and the properties of individual atoms, molecules and functional
                groups, including macromolecules.</li>
              <li>The role of energy changes in chemical systems, including knowledge of the laws of thermodynamics and
                the ability to use quantitative methods to account for energy changes in chemical systems.</li>
              <li>The factors that affect the rate of chemical change, the way in which they influence the rate and the
                use of mechanistic understanding to explain the course of chemical reactions.</li>
              <li>The basic principles of quantum mechanics and their application to the description of the structure
                and properties of atoms and molecules, and an understanding of the theories of bonding and their
                applications.</li>
              <li>The major types of chemical reaction and the main characteristics associated with them.</li>
              <li>The properties and reactions of inorganic, organic, organometallic and coordination compounds.</li>
              <li>Major pathways in synthetic chemistry, including functional group interconversions and bond formation,
                and the idea of retro-synthetic analysis.</li>
              <li>The structures and chemical reactivity of the principal classes of biomolecule.</li>
              <li>Awareness of major issues at the frontiers of chemical research.</li>
              <li>Mathematical knowledge in basic algebra and calculus and numerical manipulation appropriate for the
                analysis and evaluation of chemical problems.</li>
            </ul>

            <p><strong>Intellectual Skills</strong></p>

            <p>On successful completion of the Programme you will be able to:</p>

            <ul>
              <li>apply knowledge and understanding of the subject areas identified above to the solution of qualitative
                and quantitative problems of a familiar and unfamiliar nature.</li>
              <li>recognise and analyse novel problems and strategies, criticise techniques applicable to their own
                advanced scholarship, and plan strategies for their solution.</li>
              <li>use conceptual understanding to evaluate current research and advanced scholarship, develop critiques
                and, where appropriate, propose new approaches.</li>
              <li>display originality in the application of knowledge, together with a practical understanding of how
                established techniques of research and enquiry are used to create and interpret knowledge in the
                discipline.</li>
              <li>appreciate the uncertainty, ambiguity and limits of current knowledge.</li>
            </ul>

            <p><strong>Professional Practical Skills</strong></p>

            <p>On successful completion of the Programme you will be able to:</p>

            <ul>
              <li>handle chemical materials safely, taking account of physical and chemical properties, assessing risk
                for experimental procedures and chemical substances and reporting specific hazards associated with their
                use.</li>
              <li>carry out standard laboratory procedures for preparation, purification, and analysis of a range of
                substances, and use appropriate instrumental techniques for their study.</li>
              <li>operate standard and advanced chemical instruments, such as those used for structural investigation
                and separation.</li>
              <li>monitor chemical properties or changes, by observation and measurement, and record, in a systematic
                and reliable fashion, documentation relating to these events in a manner appropriate for a professional
                chemist working in an academic or industrial situation.</li>
              <li>research, review, plan, design and execute practical investigations, select appropriate procedures
                from literature and knowledge, and proceed from the problem-recognition stage through to the evaluation
                and critical appraisal of results with subsequent suggestion of approaches to address shortfalls in
                current findings.</li>
              <li>interpret data derived from laboratory observations and measurements in terms of their current
                significance and the theory underlying them, to assess their significance and place in context.</li>
              <li>plan, recognise and implement good measurement science and practice across a wide range of chemistry.
              </li>
              <li>present scientific material and arguments clearly and correctly, in writing and orally, to a range of
                audiences including peer-reviewed chemistry journals, research seminars and colloquia.</li>
              <li>demonstrate computational, data-processing skills and electronic searching skills, relating to
                chemical information, data and the primary literature.</li>
            </ul>

            <p><strong>Transferrable/Key Skills</strong></p>

            <p>On successful completion of the Programme you will be able to:</p>

            <ul>
              <li>communicate orally and in writing.</li>
              <li>evaluate, interpret, manipulate and synthesise chemical information and data.</li>
              <li>apply information technology such as word processing, spreadsheets, data-logging and storage, web
                communication and chemical drawing packages.</li>
              <li>interact with other people and engage in team-working.</li>
              <li>plan and implement projects working towards a goal relevant to current chemical understanding and/or
                industrial targets.</li>
              <li>independently identify and undertake study needed for continuing professional development.</li>
            </ul>

            <p>In years one and two you take compulsory &lsquo;key skills&rsquo; modules, during which you will learn
              and practise some or all of the above skills.&nbsp; You also receive training in CV writing, completing
              application forms, and interview techniques, delivered in collaboration with the Careers Service.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-md-12">
        <h2 id="careers" class="page-section-heading">Careers and placements</h2>
      </div>
      <div class="col-lg-8">
        <h3>Career prospects</h3>
        <p>Graduate chemists have an array of career options. Many join the chemical industry, while others enter
          academia or government establishments. A number of graduates use the logical and practical training they have
          gained to enter marketing, sales, management or finance.<br /><br /> Scientific journalism, publishing and
          teaching are all realistic potential destinations. Equally, the specific skills gained in laboratories can
          provide a stepping stone to roles in the manufacturing industry.<br /><br /> In 2016/17, 95% of the
          School&rsquo;s graduates who were available for work reported they were in employment and/or further study
          within six months of graduation.. Employers of MChem graduates included PCI Pharma, Randox, Hazlewoods LLP and
          Dŵr Cymru Welsh Water.</p>
        <p>Career destinations included research scientist, formulation scientist, quality control analyst, laboratory
          technician and trainee accountant.</p>
        <h3>Graduate careers</h3>
        <ul>
          <li>Research scientist</li>
          <li>Technologist</li>
          <li>Associate consultant</li>
          <li>PhD researcher</li>
        </ul>
        <h3>Graduate employers</h3>
        <p> <a href="http://www.arb.org.uk/"><img class="lazy d-inline mr-20"
              data-src="https://cardiff.imgix.net/__data/assets/image/0003/1396461/arb-logo-yellow.jpg?q=60" alt=""
              src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></a> </p>
        <h3>Placements</h3>
        <p>Students who are interested in a placement abroad or in industry may request a transfer to the MChem
          Chemistry with a Year in Industry, or MChem Chemistry with a Year Abroad course.</p>

        <p>Advice and guidance in applying for placements is given throughout year two.&nbsp; Placements overseas are
          available in most European countries through the ERASMUS programme, and also in Australia, Canada, the USA,
          South Africa, Japan, Hong Kong and China. Industrial placements are competitive, but generally available
          nationwide in all branches of the chemical, pharmaceutical and manufacturing industry.</p>
      </div>
      <div class="col-md-12 col-lg-4">
        <div id="content_container_476525_1719767">
          <figure class="quote quote-rich quote-rich quote-rich-portrait with-image" data-assetid="1710110"
            data-paintlayoutid="7149" data-status="Live">
            <div class="quote-image-wrapper"> <img class="image lazy"
                src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&h=485&q=60&auto=format&fit=crop"
                data-src="https://cardiff.imgix.net/__data/assets/image/0004/1710094/Morgan-Creed.jpg?w=376&h=485&q=60&crop=entrop&auto=format&fit=crop"
                data-srcset="https://cardiff.imgix.net/__data/assets/image/0004/1710094/Morgan-Creed.jpg%?w=376&h=485&q=60&crop=entrop&auto=format&fit=crop 1200w,                    https://cardiff.imgix.net/__data/assets/image/0004/1710094/Morgan-Creed.jpg?w=300&h=487&q=60&auto=format&crop=entrop&fit=crop 1199w,                    https://cardiff.imgix.net/__data/assets/image/0004/1710094/Morgan-Creed.jpgg?w=439&h=566&q=60&auto=format&crop=entrop&fit=crop 480w"
                alt="Morgan Creed"
                sizes="(max-width: 479px) 100%, (max-width: 767px) 45%, (max-width: 980px) 1199px, (min-width: 1199px) 1200px">
            </div>
            <div class="quote-main">
              <blockquote class="quote-body">My tutors were interested in how they could help me achieve my career
                goals. The head of the course highlighted all the ways that my course could be tailored to suit my needs
                and to help me get where I wanted to be after graduating. This was such a refreshing change compared to
                other institutions.</blockquote>
              <figcaption class="quote-author"> Morgan Creed </figcaption> <cite class="quote-source">TBC</cite>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="content-group">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="next-steps" class="page-section-heading">Next steps</h2>
        </div>
        <div class="highlight highlight-lg border-0 col-md-6 col-xl-3"> ${require-svg('academic')}
          <div class="highlight-body">
            <h4>Spring 2020</h4> Next Undergraduate Open Day
          </div>
        </div>
        <div class="highlight highlight-lg border-0 col-md-6 col-xl-3"> ${require-svg('international')}
          <div class="highlight-body">
            <h4>International</h4>
          </div>
        </div>
        <div class="highlight highlight-lg border-0 col-md-6 col-xl-3"> ${require-svg('contact')}
          <div class="highlight-body">
            <h4>Get in touch</h4>
          </div>
        </div>
        <div class="highlight highlight-lg border-0 col-md-6 col-xl-3">$
          {require-svg('pen')}
          <div class="highlight-body">
            <h4>How to apply</h4> Find out how to <a href="{{{applyLink}}}" {{{dataAttributes}}}>apply for</a> this
            course
          </div>
        </div>
      </div>
    </div>
    <section class="content-group">
      <div class="container">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <h2 class="page-section-heading">Discover more</h2>
            <form class="form" action="" method="GET" role="search"> <input name="collection" value="ug-courses"
                type="hidden"> <input name="gscope1" value="" type="hidden"> <input name="form" value="" type="hidden">
              <label for="course-search">Search by course or UCAS code</label>
              <div class="form-group position-relative"> <button type="submit"
                  class="btn btn-within-input">${require-svg('search')}</button> <input id="course-search"
                  class="form-control" type="search" aria-label="" name="query" placeholder="eg. Architecture"> </div>
              <p><strong>Related searches: </strong><a
                  href="https://www.cardiff.ac.uk/study/undergraduate/courses/search?collection=ug-courses&form=search&gscope1=1&f.subject|x=chemistry">Chemistry</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>