<main id="content" class="content ">
  <script>
    var cfuiReady = [],
      $ = function (o) {
        function r(fn) {
          cfuiReady.push(fn);
        }
        if (typeof o === 'function') r(o);
        return {
          ready: r
        }
      };

  </script>
  <div class="container">
    <div class="row">
      <div class="col-md-10"> <a href="https://www.cardiff.ac.uk/professional-development"
          class="page-parent sub-section">Professional Development</a> </div>
      <div class="col-md-12">
        <div class="nav-section" aria-label="Section navigation">
          <div class="row">
            <div class="col-md-12">
              <nav class="navbar">
                <ul class="nav">
                  <li class="nav-item "> <a class="nav-link"
                      href="https://www.cardiff.ac.uk/professional-development/about-us" data-asset-id="216513"
                      aria-label="About us">About us</a> </li>
                  <li class="nav-item active"> <a class="nav-link"
                      href="https://www.cardiff.ac.uk/professional-development/available-training"
                      data-asset-id="1476032" aria-label="Available training">Available training</a> </li>
                  <li class="nav-item "> <a class="nav-link"
                      href="https://www.cardiff.ac.uk/professional-development/bespoke-training-courses"
                      data-asset-id="216659" aria-label="Bespoke training courses">Bespoke training courses</a> </li>
                  <li class="nav-item "> <a class="nav-link"
                      href="https://www.cardiff.ac.uk/professional-development/case-studies" data-asset-id="1285870"
                      aria-label="Case studies">Case studies</a> </li>
                  <li class="nav-item "> <a class="nav-link"
                      href="https://www.cardiff.ac.uk/professional-development/contact-us" data-asset-id="235869"
                      aria-label="Contact us">Contact us</a> </li>
                  <li class="nav-item "> <a class="nav-link"
                      href="https://www.cardiff.ac.uk/professional-development/news" data-asset-id="216663"
                      aria-label="News">News</a> </li>
                  <li class="nav-item "> <a class="nav-link"
                      href="https://www.cardiff.ac.uk/professional-development/international" data-asset-id="1699456"
                      aria-label="CPD for international organisations">CPD for international organisations</a> </li>
                  <li class="dropdown dropdown-more nav-item invisible">
                    <a href="#" class="nav-link dropdown-toggle">More</a>
                    <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <h1 id="page-title">Media Relations</h1>
        <p class="lead" style="text-align: left;">This practical, hands on 1-day course will focus on how to engage with
          the media, whether print, broadcast, online or social, in an effective and creative way.</p>
        <p style="text-align: left;">You will gain an understanding of how the media works, how to write an effective
          press release, pitching your story and how to implement a successful media campaign.</p>
        <p>Your trainer will be <a href="https://www.cardiff.ac.uk/professional-development/contact-us/eryl-jones">Eryl
            Jones</a>.</p>


        <div class="box box-secondary no-space" id="collapse-register">
          <script src="https://cdn.rawgit.com/jpillora/xdomain/0.7.4/dist/xdomain.min.js"
            slave="https://coursebooking.cardiff.ac.uk/proxy.html" rel="nofollow noreferrer"></script>
          <div class="box-header">
            <h2 class="box-title">No upcoming dates available</h2>
          </div>

          <div class="box-body">
            <p class="mb-0">There are currently no upcoming dates available for this
              course, but you can <a href="#" class="collapsed" data-toggle="collapse"
                data-target="#request-interest-container" aria-expanded="false">register your interest</a> by completing
              the form below.</p>

            <div id="request-interest-container" class="collapse" data-parent="#collapse-register">
              <form method="post" action="#" class="mb-0" id="request-interest">

                <div class="d-none alert-error alert mt-20" id="error-submission-alert">
                  <h3 class="alert-title">Something went wrong</h3>
                  <p>Your query has not been submitted. You can also get in touch by emailing <a
                      href="mailto: train@cardiff.ac.uk">train@cardiff.ac.uk</a> or phoning us on <a
                      href="tel: +44 (0)29 2087 527">+44 (0)29 2087 5274</a>.</p>
                </div>

                <div class="form-group">
                  <label for="first-name-input" class="required">First name <abbr class="sq-form-required-field"
                      title="required" aria-label="Required field">*</abbr></label>
                  <input name="first-name" type="text" class="form-control col-md-6" id="first-name-input">
                  <div id="first-name-error-message" class="d-none sq-form-error">
                    This field is required. Please enter a first name.
                  </div>
                </div>

                <div class="form-group">
                  <label for="last-name-input" class="required">Last name <abbr class="sq-form-required-field"
                      title="required" aria-label="Required field">*</abbr></label>
                  <input name="last-name" type="text" class="form-control col-md-6" id="last-name-input">
                  <div id="last-name-error-message" class="d-none sq-form-error">
                    This field is required. Please enter a last name.
                  </div>
                </div>

                <div class="form-group">
                  <label for="company-input">Company</label>
                  <input name="company-name" type="text" class="form-control col-md-6" id="company-input">
                </div>

                <div class="form-group">
                  <label for="email-input" class="required">Email address <abbr class="sq-form-required-field"
                      title="required" aria-label="Required field">*</abbr></label>
                  <input name="email-address" type="email" class="form-control col-md-6" id="email-input">
                  <div id="email-error-message" class="d-none sq-form-error">
                    This field is required. Please enter an email.
                  </div>
                </div>

                <div class="form-group">
                  <label for="number-attendees">Number of attendees</label>
                  <input name="number-of-attendees" type="text" class="form-control col-md-6" id="number-attendees">
                </div>

                <div class="form-group">
                  <fieldset>
                    <legend class="form-label text-normal" id="marking-opt-in">
                      Would you like to receive occasional updates regarding this course and other CPD news, events and
                      offers?
                    </legend>
                    <div class="radio-option">
                      <input type="radio" name="marketing-option" id="yes-updates-english" value="English" />
                      <label class="radio-option-label" for="yes-updates-english" aria-describedby="marking-opt-in">Yes,
                        in English</label>
                    </div>

                    <div class="radio-option">
                      <input type="radio" name="marketing-option" id="yes-updates-welsh" value="Welsh" />
                      <label class="radio-option-label" for="yes-updates-welsh" aria-describedby="marking-opt-in">Yes,
                        in Welsh</label>
                    </div>

                    <div class="radio-option">
                      <input type="radio" name="marketing-option" id="no-updates" value="No" />
                      <label class="radio-option-label" for="no-updates" aria-describedby="marking-opt-in">No</label>
                    </div>
                  </fieldset>

                </div>

                <input type="hidden" id="course-code" value="BF3910A758">
                <button type="submit" id="submit-button" class="btn btn-primary mt-10 mb-30">Submit</button>

                <div class="alert mb-0">
                  <h3 class="alert-title">Data protection privacy notice</h3>
                  <p class="mb-20">
                    Cardiff University will process the personal data you provide to us in accordance with data
                    protection regulations. In submitting your details you consent to the University processing your
                    personal data in order to send you information, in accordance with the preferences you have
                    indicated above. You may withdraw this consent at any time by contacting the <a
                      href="%globals_asset_url:235800%">Professional Development team</a>.
                  </p>
                  <p class="mb-0">
                    Visit our <a href="%globals_asset_url:235869%">public information pages</a> to learn more about our
                    Data Protection Policy, your rights, and raising a concern about how your personal data is
                    processed. Our Data Protection Officer can be contacted directly at <a
                      href="mailto: inforequest@cardiff.ac.uk">inforequest@cardiff.ac.uk</a>. Concerns can also be
                    raised with the <a href="https://ico.org.uk/">Information Commissioner's Office (ICO)</a>.
                  </p>
                </div>
              </form>

              <div class="d-none mb-0" id="loading-form">
                <div class=" loader loader--black loader--active mt-20 mb-0" role="status">
                </div>
              </div>

              <div class="d-none mb-0" id="successfully-submitted">
                <div class="alert alert-success mt-20">
                  <h3 class="alert-title">Well done!</h3>
                  <p>You have successfully submitted your form</p>
                </div>
                <button type="back" id="back-button" class="btn btn-primary mb-0">Back</button>
              </div>
            </div>

          </div>
        </div>

        <h2>Who it’s for</h2>
        <p style="text-align: left;">Designed for those with some responsibility for dealing with the media; whether you
          are new to media relations, or experienced, this course has something to offer.&nbsp;&nbsp;No prior knowledge
          is needed.</p>

        <h2>What you’ll learn</h2>
        <ul>
          <li>How to develop an approach that is strategic and an essential part of your marketing mix</li>
          <li>Knowledge and methods to plan an effective and successful media relations campaign</li>
          <li>How to gain positive coverage for stories</li>
          <li>How and when to engage journalists using innovative tactics</li>
        </ul>

        <h2>Topics covered</h2>
        <ul>
          <li>Writing and selling-in the press release</li>
          <li>How to use multimedia to improve your coverage</li>
          <li>How to pitch/sell-in to the media</li>
          <li>Incorporating video in your media relations campaign</li>
          <li>How to evaluate your media relations activity</li>
          <li>Case studies</li>
        </ul>

        <h2>Benefits</h2>
        <ul>
          <li>Gain creativity and confidence when dealing with the media</li>
          <li>Gain new ideas and tactics for media engagement</li>
          <li>Use new approaches to online media management</li>
          <li>Building a media profile for your organisation</li>
          <li>Establish contact and a relationship with the media</li>
        </ul>
        <h2>Location</h2>
        <div class="row">
          <div class="col-md-6">
            <a class="map-link" href="https://maps.google.com/maps?q=51.487337,-3.175200&z=15"></a>
          </div>
          <div class="col-md-3">
            21-23 Senghennydd Road <br>
            Cathays <br>
            Cardiff <br>
            CF24 4AG <br>
            <br>
          </div>
        </div>


      </div>
      <div class="col-md-3">
        <div class="box box-calltoaction " data-get-role="" data-assetid="1149355" data-paintlayoutid="1711565"
          data-status="Live">
          <div class="box-header">
            <a href="http://www.cardiff.ac.uk/professional-development/short-courses/search?collection=cpd-courses&form=search&availability=&availability=&f.subject%7Cc=management+and+performance+development&f.subject%7Cc=marketing+and+online+communications"
              class="ga-event" data-category="Call to action" data-action="click-image"
              data-label="1149355 - Marketing and online communications" aria-hidden="true">
              <img
                srcset="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=750&h=422&fit=crop&q=60&auto=format 750w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&h=321&fit=crop&q=60&auto=format 570w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=375&h=211&fit=crop&q=60&auto=format 375w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=268&h=151&fit=crop&q=60&auto=format 268w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=218&h=123&fit=crop&q=60&auto=format 218w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=164&h=92&fit=crop&q=60&auto=format 164w"
                src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&h=321&fit=crop&q=60&auto=format"
                sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 218px, (min-width: 1200px) 375px"
                alt="Marketing and online digital communications"
                data-srcset="https://cardiff.imgix.net/__data/assets/image/0020/1230473/Marketing-and-Online-Communications-low-res.jpg?w=750&h=422&fit=crop&q=60&auto=format 750w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1230473/Marketing-and-Online-Communications-low-res.jpg?w=570&h=321&fit=crop&q=60&auto=format 570w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1230473/Marketing-and-Online-Communications-low-res.jpg?w=375&h=211&fit=crop&q=60&auto=format 375w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1230473/Marketing-and-Online-Communications-low-res.jpg?w=268&h=151&fit=crop&q=60&auto=format 268w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1230473/Marketing-and-Online-Communications-low-res.jpg?w=218&h=123&fit=crop&q=60&auto=format 218w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1230473/Marketing-and-Online-Communications-low-res.jpg?w=164&h=92&fit=crop&q=60&auto=format 164w"
                data-src="https://cardiff.imgix.net/__data/assets/image/0020/1230473/Marketing-and-Online-Communications-low-res.jpg?w=570&h=321&fit=crop&q=60&auto=format"
                data-sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 218px, (min-width: 1200px) 375px"
                class="lazy" alt="Marketing and online digital communications">
            </a>
            <h2 class="box-title"><a
                href="http://www.cardiff.ac.uk/professional-development/short-courses/search?collection=cpd-courses&form=search&availability=&availability=&f.subject%7Cc=management+and+performance+development&f.subject%7Cc=marketing+and+online+communications"
                class="ga-event" data-category="Call to action" data-action="click-title"
                data-label="1149355 - Marketing and online communications">Marketing and online communications</a></h2>
          </div>
          <div class="box-body">Find out about our range of marketing and online communications short courses. We offer
            10% off when you book two or more courses at once.</div>
          <div class="box-footer">
            <p><a class="btn btn-sm btn-primary ga-event"
                href="http://www.cardiff.ac.uk/professional-development/short-courses/search?collection=cpd-courses&form=search&availability=&availability=&f.subject%7Cc=management+and+performance+development&f.subject%7Cc=marketing+and+online+communications"
                data-category="Call to action" data-action="click-button"
                data-label="1149355 - Marketing and online communications" aria-hidden="true">View marketing courses</a>
            </p>
          </div>
        </div>

        <div class="box box-related">
          <div class="box-header">
            <h2 class="box-title">Related links</h2>
          </div>
          <div class="box-body">
            <ul class="list list-links">
              <li data-assetid="775916" data-paintlayoutid="1720537" data-status="Live"><a
                  href="https://www.cardiff.ac.uk/professional-development/available-training/short-courses/view/developing-a-communication-strategy">Developing
                  a Communication Strategy </a></li>
            </ul>
          </div>
        </div>
      </div>

      <style>
        .box-secondary .box-header {
          background: #d9d9d9;
          padding-bottom: 10px;
        }

        .box-secondary .box-body {
          background: #f2f2f2;
        }

        .box-secondary .box-header+.box-body {
          padding-top: 10px;
        }

        .box-secondary .box-body table {
          padding-top: 10px;
        }

        .box-secondary .box-footer {
          padding-top: 20px;
          background: #d9d9d9;
        }
      </style>


    </div>
  </div>
</main>