<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Download Normal</h1>
			${require('../components/download/variations/download.html')}
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h1>Download Image</h1>
			${require('../components/download/variations/download-image.html')}
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h1>Download Category</h1>
			${require('../components/download/variations/download-category.html')}
		</div>
	</div>
</div>