<section class="content-group with-background bg-prussian-blue text-white " id="content_container_2500517"
    aria-labelledby="content_container_2500517-title">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h2 id="content_container_2500517-title" class="text-white">Courses</h2>
            </div>
        </div>
        <div class="content-group py-0">
            <div class="content-toggle" data-read-more-label="View all {num} Courses"
                data-read-less-label="View fewer courses">
                <!-- gscope1=1&query=&context=en&sort=title&collection=ug-courses&subjectsnew=Journalism%2C%20Media%20and%20Culture&form=subject-course-listing&num_ranks=999 -->
                <div class="row bg-prussian-blue">
                    <div class="col-md-4 mb-40">
                        <div class="teaser teaser-vertical teaser--white">
                            <div class="teaser-body">
                                <h3 class="teaser-title mb-10"><a
                                        href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2021%2Fjournalism-and-communications-ba&amp;auth=A5lwDE9LK%2FQ2hkGLItPSKw&amp;profile=_default&amp;rank=1&amp;query=%21padrenullquery+%7Csubjectsnew%3AJournalism%2C+%7Csubjectsnew%3AMedia+%7Csubjectsnew%3Aand+%7Csubjectsnew%3ACulture+%7CN%3A%22%24%2B%2B+2021+%24%2B%2B%22">Journalism
                                        and Communications (BA)</a></h3>
                                <p class="mb-10">
                                    Full time, 3 years</p>
                                <p>The degree is concerned with the production, content and reception of all journalism
                                    and
                                    communications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-40">
                        <div class="teaser teaser-vertical teaser--white">
                            <div class="teaser-body">
                                <h3 class="teaser-title mb-10"><a
                                        href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2021%2Fjournalism-media-and-sociology-ba&amp;auth=lffrdZrKPP6fOKqk1DREqA&amp;profile=_default&amp;rank=2&amp;query=%21padrenullquery+%7Csubjectsnew%3AJournalism%2C+%7Csubjectsnew%3AMedia+%7Csubjectsnew%3Aand+%7Csubjectsnew%3ACulture+%7CN%3A%22%24%2B%2B+2021+%24%2B%2B%22">Journalism
                                        Media and Sociology (BA)</a></h3>
                                <p class="mb-10">
                                    Full time, 3 years</p>
                                <p>This modern degree enables you to make sense of society and the role of mass
                                    communications
                                    in an era of globalisation and social change.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-40">
                        <div class="teaser teaser-vertical teaser--white">
                            <div class="teaser-body">
                                <h3 class="teaser-title mb-10"><a
                                        href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2021%2Fjournalism-communications-and-politics&amp;auth=xDL6DfjCTVtQt%2BzgX4v3Yw&amp;profile=_default&amp;rank=3&amp;query=%21padrenullquery+%7Csubjectsnew%3AJournalism%2C+%7Csubjectsnew%3AMedia+%7Csubjectsnew%3Aand+%7Csubjectsnew%3ACulture+%7CN%3A%22%24%2B%2B+2021+%24%2B%2B%22">Journalism,
                                        Communications and Politics (BA)</a></h3>
                                <p class="mb-10">
                                    Full time, 3 years</p>
                                <p>You will analyse and reflect upon changes to both politics and policy driven by the
                                    growth of
                                    social media, the communications industry and the 24/7 news cycle.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-40">
                        <div class="teaser teaser-vertical teaser--white">
                            <div class="teaser-body">
                                <h3 class="teaser-title mb-10"><a
                                        href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2021%2Fjournalism-media-and-english-literature-ba&amp;auth=wsyF5Kpq5cTVKkcPFTyUEA&amp;profile=_default&amp;rank=4&amp;query=%21padrenullquery+%7Csubjectsnew%3AJournalism%2C+%7Csubjectsnew%3AMedia+%7Csubjectsnew%3Aand+%7Csubjectsnew%3ACulture+%7CN%3A%22%24%2B%2B+2021+%24%2B%2B%22">Journalism,
                                        Media and English Literature (BA)</a></h3>
                                <p class="mb-10">
                                    Full time, 3 years</p>
                                <p>The joint honours degree in Journalism and English Literature provides you with the
                                    opportunity of specialising in two university honours subjects</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-40">
                        <div class="teaser teaser-vertical teaser--white">
                            <div class="teaser-body">
                                <h3 class="teaser-title mb-10"><a
                                        href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2021%2Fmedia-and-communications-ba&amp;auth=uwS6L6cez9aKS6mj%2BRS2Bg&amp;profile=_default&amp;rank=5&amp;query=%21padrenullquery+%7Csubjectsnew%3AJournalism%2C+%7Csubjectsnew%3AMedia+%7Csubjectsnew%3Aand+%7Csubjectsnew%3ACulture+%7CN%3A%22%24%2B%2B+2021+%24%2B%2B%22">Media
                                        and Communications (BA)</a></h3>
                                <p class="mb-10">
                                    Full time, 3 years</p>
                                <p>The degree is concerned with the study of the media and cultural industries and their
                                    roles
                                    in modern society.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-40">
                        <div class="teaser teaser-vertical teaser--white">
                            <div class="teaser-body">
                                <h3 class="teaser-title mb-10"><a
                                        href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2021%2Fmedia-journalism-and-culture-ba&amp;auth=RjWV7FOZld%2F7HVJ5o0ouHQ&amp;profile=_default&amp;rank=6&amp;query=%21padrenullquery+%7Csubjectsnew%3AJournalism%2C+%7Csubjectsnew%3AMedia+%7Csubjectsnew%3Aand+%7Csubjectsnew%3ACulture+%7CN%3A%22%24%2B%2B+2021+%24%2B%2B%22">Media,
                                        Journalism and Culture (BA)</a></h3>
                                <p class="mb-10">
                                    Full time, 3 years</p>
                                <p>The degree is concerned with the study and examination of an essential part of modern
                                    life –
                                    the media.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-40">
                        <div class="teaser teaser-vertical teaser--white">
                            <div class="teaser-body">
                                <h3 class="teaser-title mb-10"><a
                                        href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&amp;url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2021%2Fjournalism-and-welsh-ba&amp;auth=WGDNDXivcfEap8pBeH6Upw&amp;profile=_default&amp;rank=7&amp;query=%21padrenullquery+%7Csubjectsnew%3AJournalism%2C+%7Csubjectsnew%3AMedia+%7Csubjectsnew%3Aand+%7Csubjectsnew%3ACulture+%7CN%3A%22%24%2B%2B+2021+%24%2B%2B%22">Welsh
                                        and Journalism (BA)</a></h3>
                                <p class="mb-10">
                                    Full time, 3 years</p>
                                <p>Combine a detailed study of Welsh - language, literature and culture - with a broad
                                    understanding of journalism.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>