<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Event schedule (default)</h2>
      ${require('../components/event-schedule/variations/event-schedule.html')}
    </div>
  </div>
</div>