<main class="form-new">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <form class="form-inline form-large" action="" method="GET" role="search">
                    <input type="hidden" name="collection" value="ug-courses">
                    <input name="query" id="query" title="Search query" type="text" value="" accesskey="q"
                        placeholder="Search by keyword, UCAS code, subject etc"
                        class="form-control input-lg query search-query span6">
                    <button type="submit" class="btn btn-primary btn-large hidden-phone"><svg class="icon"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <title>Search</title>
                            <path
                                d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
                                transform="translate(-0.03 0)" />
                        </svg>Search</button>
                    
                </form>

                <form action="#" class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <p class="control-label">Have you previously received support for your
                                disability?</p>
                            <div class="controls">
                                <div class="radio-option">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="Yes">
                                    <label class="radio-option-label" for="optionsRadios1">Yes</label>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="No">
                                    <label class="radio-option-label" for="optionsRadios2">No</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <form action="#" class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="language">Language</label>
                            <p class="question-error-msg">Error message asking the user to complete the task</p>
                            <div class="controls">
                                <select id="language">
                                    <option>English</option>
                                    <option>Welsh</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <form action="#" class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="textarea">Text area</label>
                            <div class="controls">
                                <textarea rows="3" id="textarea"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="input-append date">
                        <input type="date"><span class="add-on"><span class="icon-calendar"></span></span>
                    </div>


            </div>
            <div class="col-md-3">
                ${require('../components/box/variations/box-contact')}
            </div>
        </div>
    </div>
</main>