<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form data-auto-submit="true" action="#" class="form form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="language">Language</label>
                            <div class="controls">
                                <select name="language" class="form-control" id="language">
                                    <option value="english">English</option>
                                    <option value="welsh">Welsh</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
                
                <h3>With validation message</h3>
                <form data-auto-submit="true" action="#" class="form-horizontal">
                <fieldset>
                    <div class="form-group" data-auto-submit="false">
                    <p class="form-label" id="form-label-2">Have you previously received support for your disability?</p>
                    <p class="question-error-msg">Error message asking the user to complete the task</p>
                    <div class="controls" role="radiogroup" aria-labelledby="form-label-2">
                        <div class="radio-option">
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="Yes" />
                        <label class="radio-option-label" for="optionsRadios3">Yes</label>
                        </div>
                        <div class="radio-option">
                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="No" />
                        <label class="radio-option-label" for="optionsRadios4">No</label>
                        </div>
                    </div>
                    </div>
                </fieldset>
                </form>


            </div>
        </div>
    </div>
</div>