<!-- chart 1 example -->
<div class="container">

  <div class="row">
    <div class="col-6">

      <h2>Chart A</h2>
      <!-- chart A area -->
      <div id="chart-2471357" class="chart chart-highcharts" style="margin-bottom: 20px; overflow: hidden;">
      </div>

      <!-- chart A table -->
      <div class="chart-table" data-title="title for chart A" data-type="line"
        data-x-axis-title="X axis title goes here" data-y-axis-title="Y axis title goes here" data-show-legend="true"
        data-assetid="2471357">

        <table id="table99998a" class="table">
          <thead>
            <tr>
              <th id="table99998r1c1">Date</th>
              <th id="table99998r1c2"> New student cases</th>
              <th id="table99998r1c3"> 7 day rolling average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td headers="table99998r1c1">05/10/2020</td>
              <td headers="table99998r1c2">6</td>
              <td headers="table99998r1c3"></td>
            </tr>
            <tr>
              <td headers="table99998r1c1">27/10/2020</td>
              <td headers="table99998r1c2">29</td>
              <td headers="table99998r1c3">33</td>
            </tr>
            <tr>
              <td headers="table99998r1c1">28/10/2020</td>
              <td headers="table99998r1c2">16</td>
              <td headers="table99998r1c3">27</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>




    <div class="col-6">

      <h2>Chart B</h2>
      <!-- chart B area -->
      <div id="chart-2471357b" class="chart chart-highcharts" style="margin-bottom: 20px; overflow: hidden;">
      </div>

      <!-- chart B table -->
      <div class="chart-table" data-title="title for chart B" data-type="line"
        data-x-axis-title="X axis title goes here" data-y-axis-title="Y axis title goes here" data-show-legend="true"
        data-assetid="2471357b">
        <table id="table99998b" class="table">
          <thead>
            <tr>
              <th id="table99998r1c1">Date</th>
              <th id="table99998r1c2"> New student cases</th>
              <th id="table99998r1c3"> 7 day rolling average</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td headers="table99998r1c1">05/10/2020</td>
              <td headers="table99998r1c2">46</td>
              <td headers="table99998r1c3">121</td>
            </tr>
            <tr>
              <td headers="table99998r1c1">27/10/2020</td>
              <td headers="table99998r1c2">129</td>
              <td headers="table99998r1c3">133</td>
            </tr>
            <tr>
              <td headers="table99998r1c1">28/10/2020</td>
              <td headers="table99998r1c2">216</td>
              <td headers="table99998r1c3">327</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>



  </div>
</div>