<main class="content l-home" id="content">

    ${require('hero/variations/hero-video.html')}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="search-box search-primary overlay-top" aria-label="Undergraduate course search">
                    <div class="green-bg"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="search-title">Find your course</h1>
                            <div class="search-title-options">
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
                                    <title>Chevron down</title>
                                    <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z"
                                        transform="translate(0 -6.13)" />
                                </svg>
                                <select aria-label="Course search selector">
                                    <option value="undergraduate">Undergraduate</option>
                                    <option value="pgt">Postgraduate taught</option>
                                    <option value="pgr">Postgraduate research</option>
                                    <option value="cpe">Part-time courses for adults</option>
                                    <option value="cpd">Professional development</option>
                                </select>
                            </div>
                            <form id="coursefinder-search" class="search-box-form" method="get"
                                action="https://www.cardiff.ac.uk/study/undergraduate/courses/search"
                                aria-label="Undergraduate course search form">
                                <input name="collection" value="ug-courses" type="hidden">
                                <label class="sr-only" for="search-box-query">Enter course title or keyword</label>
                                <input type="text" class="search-input" name="query"
                                    placeholder="Enter course title or keyword" id="search-box-query">
                                <button type="submit" class="search-submit">
                                    <svg class="icon" focusable="false" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 32 32">
                                        <title>Search</title>
                                        <path
                                            d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
                                            transform="translate(-0.03 0)" />
                                    </svg>
                                </button>
                            </form>
                            <ul class="search-related list list-links">
                                <li>
                                    <a id="related-link-browse-by-az"
                                        href="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z"
                                        class="ga-event" data-action="click-link"
                                        aria-label="Browse undergraduate courses by A-Z" data-category="Main homepage"
                                        data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z - Undergraduate - Search box">Browse
                                        by A-Z</a>
                                </li>
                                <li>
                                    <a id="related-link-browse-by-school"
                                        href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school"
                                        class="ga-event" aria-label="Browse undergraduate courses by Academic School"
                                        data-action="click-link" data-category="Main homepage"
                                        data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school - Undergraduate - Search box">Browse
                                        by School</a>
                                </li>
                                <li>
                                    <a id="related-link-browse-by-subject"
                                        href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject"
                                        class="ga-event" aria-label="Browse undergraduate courses by subject"
                                        data-action="click-link" data-category="Main homepage"
                                        data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject - Undergraduate - Search box">Browse
                                        by subject</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="call-to-action" id="undergraduate-call-to-action">
                                <p class="call-to-action-category">Virtual Undergraduate Open Day</p>
                                <h4 class="call-to-action-title">
                                    <a href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
                                        class="ga-event" data-action="click-link" data-category="Main homepage"
                                        data-label="Open day call to action UG - date">Wednesday 21 April 2021</a>
                                </h4>
                                <p>
                                    <a class="btn btn-lg btn-primary text-center ga-event d-inline-block mb-0"
                                        data-action="click-button" data-category="Main homepage"
                                        data-label="Open day call to action UG - book"
                                        href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits">Find out
                                        more</a>
                                </p>
                            </div>
                            <div class="call-to-action" id="postgraduate-taught-call-to-action" style="display:none">
                                <p class="call-to-action-category">Virtual Postgraduate Open Day</p>
                                <h4 class="call-to-action-title">
                                    <a href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days"
                                        class="ga-event" data-action="click-link" data-category="Main homepage"
                                        data-label="Open day call to action PG - date">Wednesday 17 March 2021</a>
                                </h4>
                                <p>
                                    <a class="btn btn-lg btn-primary text-center ga-event d-inline-block mb-0"
                                        data-action="click-button" data-category="Main homepage"
                                        data-label="Open day call to action PG - book"
                                        href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days">Find
                                        out more</a>
                                </p>
                            </div>
                            <div class="call-to-action" id="postgraduate-research-call-to-action" style="display:none">
                                <p class="call-to-action-category">Virtual Postgraduate Open Day</p>
                                <h4 class="call-to-action-title">
                                    <a href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days"
                                        class="ga-event" data-action="click-link" data-category="Main homepage"
                                        data-label="Open day call to action PG - date">Wednesday 17 March 2021</a>
                                </h4>
                                <p>
                                    <a class="btn btn-lg btn-primary text-center ga-event d-inline-block mb-0"
                                        data-action="click-button" data-category="Main homepage"
                                        data-label="Open day call to action PG - book"
                                        href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days">Find
                                        out more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="content-group">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    ${require('teaser/variations/teaser-homepage.html')}
                </div>
                <div class="col-md-6">
                    ${require('teaser/variations/teaser-homepage.html')}
                </div>
            </div>
        </div>
    </div>

    <div class="content-group with-background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    ${require('quote/variations/legacy/homepage.html')}
                </div>
            </div>
        </div>
    </div>

    <div class="content-group">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    ${require('teaser/variations/teaser-homepage.html')}
                </div>
                <div class="col-md-4">
                    ${require('teaser/variations/teaser-homepage.html')}
                </div>
                <div class="col-md-4">
                    ${require('teaser/variations/teaser-homepage.html')}
                </div>
            </div>
        </div>
    </div>

    <section class="content-group with-background" aria-label="News section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="content-group-title">News</h1>
                </div>
                <div class="col-md-3">
                    ${require('teaser/variations/teaser-homepage-simple')}
                </div>
                <div class="col-md-3">
                    ${require('teaser/variations/teaser-homepage-simple')}
                </div>
                <div class="col-md-3">
                    ${require('teaser/variations/teaser-homepage-simple')}
                </div>
                <div class="col-md-3">
                    ${require('teaser/variations/teaser-homepage-simple')}
                </div>
            </div>
        </div>
    </section>
</main>