<main class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        ${require('../components/image/variations/image-with-video')}

        <div class="d-flex  flex-column flex-lg-row" style="flex-basis: 100%;">
          ${require('../components/teaser/variations/teaser-video.html')}
          ${require('../components/teaser/variations/teaser-video.html')}
          ${require('../components/teaser/variations/teaser-video.html')}
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-flex flex-column flex-lg-row" style="flex-basis: 100%;">
          ${require('../components/teaser/variations/teaser-video.html')}
          ${require('../components/teaser/variations/teaser-video.html')}
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-flex  flex-column flex-lg-row" style="flex-basis: 100%;">
          ${require('../components/teaser/variations/teaser-video.html')}
        </div>
      </div>
    </div>
    <div class="row mt-40 mb-20">
      <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=ub7StpyE-Vk" class="video video--lazy" data-youtubeid="ub7StpyE-Vk"
          data-overlay-content="true">

          <img class="lazy"
            src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format"
            data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text">
        </a>
      </div>
      <div class="col-md-8">
        <h3>Applying to university</h3>
        <p>In this talk, we'll break down the application process, UCAS deadlines, how to apply, the types of offers
          made and how to respond. We'll also discuss the application form, common errors and offer advice on how to
          make a successful application.</p>
      </div>
    </div>
    <div class="row mt-40 mb-20">
      <div class="col-md-8">
        <h3 class="teaser-title mt-0">Why study at Cardiff University?</h3>
        <p>In this talk, we'll tell you what's available for students who study here.</p>
        <p>From the academic prowess of Wales' only Russell Group University to social opportunities and living in the
          capital city, find out why so many students fall in love with Cardiff University.</p>
      </div>
      <div class="col-md-4">
        <a href="https://www.youtube.com/watch?v=ub7StpyE-Vk" class="video video--lazy" data-youtubeid="ub7StpyE-Vk"
          data-overlay-content="true">

          <img class="lazy"
            src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format"
            data-src="https://img.youtube.com/vi/ub7StpyE-Vk/mqdefault.jpg" alt="alt text">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-3 col-md-6">
        ${require('../components/video/variations/video-lazy.html')}

      </div>
    </div>
  </div>
</main>