<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Event Schedule Component</h2>
      ${require('../components/event-schedule/variations/event-schedule.html')}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Event Schedule Horizontal Component</h2>
      ${require('../components/event-schedule/variations/event-schedule-horizontal.html')}
      ${require('../components/event-schedule/variations/event-schedule-horizontal.html')}
      ${require('../components/event-schedule/variations/event-schedule-horizontal.html')}
      ${require('../components/event-schedule/variations/event-schedule-horizontal.html')}
    </div>
  </div>
</div>

