<nav class="nav-local" role="navigation" aria-label="">
  <li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international"
      class="nav-link level-1">International</a></li>
  <li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/your-country" class="nav-link level-1"
      aria-label="Information for your country"><span class="nav-local-section-text">Your country</span></a></li>
  <li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/funding-and-fees" class="nav-link level-1"
      aria-label="Funding and fees for international students"><span class="nav-local-section-text">Funding and
        fees</span></a></li>
  <li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/eu" class="nav-link level-1"
      aria-label="Essential information for EU students"><span class="nav-local-section-text">EU students</span></a>
  </li>
  <li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/english-language-requirements"
      class="nav-link level-1" aria-label="English language requirements"><span class="nav-local-section-text">English
        language requirements</span></a></li>
  <li class="nav-item nav-local-section nav-local-section-open"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes" class="nav-link level-1"
      aria-label="English language programmes"><span class="nav-local-section-text">English language
        programmes</span><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
        <title>Section open</title>
        <path
          d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z">
        </path>
      </svg></a>
    <nav role="navigation">
  <li class="nav-item"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes/which-course-is-right-for-you"
      class="nav-link level-2 active" aria-label="Which course is right for you? "><span
        class="nav-local-section-text">Which course is right for you? </span></a></li>
  <li class="nav-item nav-local-section nav-local-section-open"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes/english-for-university-study-online-programme"
      class="nav-link level-2 active" aria-label="English for University Study Online Programme"><span
        class="nav-local-section-text">English for University Study Online Programme</span><svg class="icon"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
        <title>Section open</title>
        <path
          d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z">
        </path>
      </svg></a>
    <nav role="navigation">
  <li class="nav-item"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes/english-for-university-study-online-programme/course-content"
      class="nav-link level-3" aria-label="Course content"><span class="nav-local-section-text">Course
        content</span></a></li>
  <li class="nav-item"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes/english-for-university-study-online-programme/course-fees-and-dates"
      class="nav-link level-3" aria-label="Course fees and dates"><span class="nav-local-section-text">Course fees and
        dates</span></a></li>
  <li class="nav-item"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes/english-for-university-study-online-programme/entry-requirements"
      class="nav-link level-3" aria-label="Entry requirements"><span class="nav-local-section-text">Entry
        requirements</span></a></li>
  <li class="nav-item"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes/english-for-university-study-online-programme/how-to-apply"
      class="nav-link level-3" aria-label="How to apply"><span class="nav-local-section-text">How to apply</span></a>
  </li>
  <li class="nav-item"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes/english-for-university-study-online-programme/progression"
      class="nav-link level-3" aria-label="Progression"><span class="nav-local-section-text">Progression</span></a></li>
  <li class="nav-item"><a
      href="https://www.cardiff.ac.uk/study/international/english-language-programmes/english-for-university-study-online-programme/assessment"
      class="nav-link level-3" aria-label="Assessment"><span class="nav-local-section-text">Assessment</span></a></li>
</nav>
</li>
<li class="nav-item"><a
    href="https://www.cardiff.ac.uk/study/international/english-language-programmes/pre-sessional-summer-courses"
    class="nav-link level-2" aria-label="Pre-sessional summer courses  "><span
      class="nav-local-section-text">Pre-sessional summer courses</span></a></li>
<li class="nav-item"><a
    href="https://www.cardiff.ac.uk/study/international/english-language-programmes/in-sessional-english-language-support"
    class="nav-link level-2" aria-label="In-sessional English language support "><span
      class="nav-local-section-text">In-sessional English language support</span></a></li>
<li class="nav-item"><a
    href="https://www.cardiff.ac.uk/study/international/english-language-programmes/paying-your-fees"
    class="nav-link level-2" aria-label="Paying your fees"><span class="nav-local-section-text">Paying your
      fees</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/english-language-programmes/contact-us"
    class="nav-link level-2" aria-label="Contact us"><span class="nav-local-section-text">Contact us</span></a></li>
</nav>
</li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/foundation-and-pre-masters-programmes"
    class="nav-link level-1" aria-label="Foundation and pre-master's programmes"><span
      class="nav-local-section-text">Foundation and pre-master's programmes</span></a> </li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/study-abroad-in-cardiff"
    class="nav-link level-1" aria-label="Study abroad in Cardiff"><span class="nav-local-section-text">Study abroad in
      Cardiff</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/erasmus" class="nav-link level-1"
    aria-label="Erasmus+"><span class="nav-local-section-text">Erasmus+</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/summer-schools" class="nav-link level-1"
    aria-label="International Summer Schools"><span class="nav-local-section-text">International Summer
      Schools</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/visit-us" class="nav-link level-1"
    aria-label="Visiting from abroad"><span class="nav-local-section-text">Visit us</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/cardiff-university-and-the-eu"
    class="nav-link level-1" aria-label="Brexit for international students"><span class="nav-local-section-text">Brexit
      for international students</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/post-study-work-visa"
    class="nav-link level-1" aria-label="Post-study work visa scheme"><span class="nav-local-section-text">Post-study
      work visa scheme</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/international-prospectus"
    class="nav-link level-1" aria-label="International prospectus"><span
      class="nav-local-section-text">Prospectus</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/virtual-events" class="nav-link level-1"
    aria-label="Virtual events for international students"><span class="nav-local-section-text">Virtual
      events</span></a></li>
<li class="nav-item"><a href="https://www.cardiff.ac.uk/study/international/contact-us" class="nav-link level-1"
    aria-label="Contact our international teams"><span class="nav-local-section-text">Contact us</span></a></li>
</nav>