<div class="container">
  <div class="row">
    <div class="col-md-3">
      ${require('../components/nav-local/nav-local.html')}
    </div>
    <div class="col-md-9">
      <p class="lead">Content</p>
    </div>
  </div>
</div>