<main id="content" class="content ">
  <div class="nav-section mb-20 sticky-top ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar">
            <ul class="nav">
              <li class="nav-item">
                <a href="#content_container_2492961" class="nav-link ga-event">About us</a>
              </li>
              <li class="nav-item">
                <a href="#content_container_2492966" class="nav-link ga-event">Publications</a>
              </li>
              <li class="nav-item">
                <a href="#content_container_2492972" class="nav-link ga-event">Work with us</a>
              </li>
              <li class="nav-item">
                <a href="#content_container_2492974" class="nav-link ga-event">Working with industry</a>
              </li>
              <li class="nav-item">
                <a href="#content_container_2492987" class="nav-link ga-event">Schools engagement</a>
              </li>
              <li class="nav-item">
                <a href="#content_container_2492993" class="nav-link ga-event">Facilities</a>
              </li>
              <li class="nav-item">
                <a href="#content_container_2493009" class="nav-link ga-event">Resources</a>
              </li>
              <li class="nav-item">
                <a href="#content_container_2493031" class="nav-link ga-event">News</a>
              </li>
              <li class="dropdown dropdown-more nav-item invisible">
                <a href="#" class="nav-link dropdown-toggle">More</a>
                <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <section class="content-group  " aria-labelledby="content_container_2492961-section-title"
    id="content_container_2492961">
    <div class="container">
      <div class="content-toggle " data-read-more-label="Read more about our vision"
        data-read-less-label="Show less about our vision">
        <div class="row">
          <div class="col-md-8 ">

            <h2 id="content_container_2492961-section-title">Title</h2>
            <p>Our research investigates the causes and consequences of plastic pollution, including:</p>
            <ul>
              <li>how plastic gets into the environment</li>
              <li>the impact it has on ecosystems</li>
              <li>its potential effects on human health.</li>
            </ul>
            <p>We&rsquo;re also interested in whether the measures proposed to deal with the problem are effective and
              justified.</p>
            <p>We bring together experts from biology, medicine, psychology, social sciences, law, and business to
              examine the issues from a variety of perspectives.</p>
            <p>Our aim is to understand how plastic pollution, as well as the decisions we take to tackle it, affect
              communities and environments as a whole.</p>
          </div>
          <div class="col-md-4">
            <a href="https://www.youtube.com/watch?v=DHvkyrey3JE" target="_blank" class="video video--lazy"
              data-youtubeid="DHvkyrey3JE" data-overlay-content="true">
              <img class="lazy"
                src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto  =format"
                data-src="https://img.youtube.com/vi/DHvkyrey3JE/mqdefault.jpg" alt="alt text" />
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="content-group with-background bg-brick-red " aria-labelledby="content_container_2492964-facts-title"
    id="content_container_2492964">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h2 id="content_container_2492964-facts-title">Key facts</h2>
          <ul class="list list-no-disc">
            <li class="d-flex flex-row align-items-center mb-10"><svg class="icon mr-10"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>Checkbox ticked</title>
                <path
                  d="M13.09,26.19,4.38,17.47l4.34-4.38,4.37,4.38L23.28,7.28l4.34,4.34S13.09,26,13.09,26.19ZM4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
              </svg> Quantified the success of a bottle deposit return scheme pilot in England. </li>
            <li class="d-flex flex-row align-items-center mb-10"><svg class="icon mr-10"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>Checkbox ticked</title>
                <path
                  d="M13.09,26.19,4.38,17.47l4.34-4.38,4.37,4.38L23.28,7.28l4.34,4.34S13.09,26,13.09,26.19ZM4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
              </svg> Published the first evidence of microplastics in domestic water supplies.</li>
            <li class="d-flex flex-row align-items-center mb-10"><svg class="icon mr-10"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>Checkbox ticked</title>
                <path
                  d="M13.09,26.19,4.38,17.47l4.34-4.38,4.37,4.38L23.28,7.28l4.34,4.34S13.09,26,13.09,26.19ZM4.38,2.91A1.46,1.46,0,0,0,2.91,4.38V27.62a1.46,1.46,0,0,0,1.47,1.47H27.62a1.46,1.46,0,0,0,1.47-1.47V4.38a1.46,1.46,0,0,0-1.47-1.47ZM27.62,32H4.38A4.39,4.39,0,0,1,0,27.62V4.38A4.39,4.39,0,0,1,4.38,0H27.62A4.39,4.39,0,0,1,32,4.38V27.62A4.39,4.39,0,0,1,27.62,32Z" />
              </svg> Helped a major international coffee chain successfully remove single-use plastics from its retail
              outlets.</li>
          </ul>
        </div>
        <div class="d-none d-md-flex border-left border-wild-sand col-md-3">
          <div class="ml-15">
            <h3>Related schools</h3>
            <ul class="list list-links">
              <li><a href="">School of Biosciences <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg></a></li>
              <li><a href="">School of Law and Politics <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg></a></li>
              <li><a href="">Cardiff Business School <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg></a></li>
              <li><a href="">School of Psychology <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg></a></li>
              <li><a href="">School of Social Sciences <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg></a></li>
              <li><a href="">School of Medicine <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg></a></li>
            </ul>
          </div>
        </div>
        <div class="d-md-none border-top border-wild-sand col-md-3">
          <h3>Related schools</h3>
          <ul class="list list-links">
            <li><a href="">School of Biosciences <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a></li>
            <li><a href="">School of Law and Politics <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a></li>
            <li><a href="">Cardiff Business School <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a></li>
            <li><a href="">School of Psychology <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a></li>
            <li><a href="">School of Social Sciences <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a></li>
            <li><a href="">School of Medicine <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="content-group" aria-labelledby="2492966-section-title" id="content_container_2492966">
    <div class="container">
      <div class="content-toggle content-toggle--left" data-read-more-label="View more publications"
        data-read-less-label="View less publications">
        <div class="row">
          <div class="col-md-9">
            <h2 id="2492966-section-title">Publications</h2>
            <ul class="list list-publications">
              <li class="publication mb-20"><a href="http://orca.cf.ac.uk/view/allcardiffauthors/A3130743.html">A
                  Mokhti, Z. B. </a> , <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A0713114.html">Tasker, P. J.
                </a> and <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A0266093.html">Lees, J. </a> 2014. <i><a
                    href="http://orca.cf.ac.uk/68796/">Correlation analysis between a VNA-based passive load pull system
                    and an oscilloscope-based active load pull system: a case study.</a></i> Presented at: <i>83rd ARFTG
                  Microwave Measurement Conference 2014</i> Tampa, USA 6 June 2014. <i>83rd ARFTG Microwave Measurement
                  Conference (ARFTG), 2014</i>. , pp.1-4. (<a href="http://dx.doi.org/10.1109/ARFTG.2014.6899535"
                  target="_blank" class="external">10.1109/ARFTG.2014.6899535</a>)</li>
              <li class="publication mb-20"><a href="http://orca.cf.ac.uk/view/allcardiffauthors/A3130743.html">A
                  Mokhti, Z. B. </a> , <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A0713114.html">Tasker, P. J.
                </a> and <a href="http://orca.cf.ac.uk/view/allcardiffauthors/A0266093.html">Lees, J. </a> 2014. <i><a
                    href="http://orca.cf.ac.uk/68803/">Using waveform engineering to optimize class-F power amplifier
                    performance in an envelope tracking architecture.</a></i> Presented at: <i>44th European Microwave
                  Conference (EuMC) 2014</i> Rome, Italy 6-9 October 2014. <i>44th European Microwave Conference (EuMC
                  2014)</i>. IEEE. , pp.1301-1304. (<a href="http://dx.doi.org/10.1109/EuMC.2014.6986682"
                  target="_blank" class="external">10.1109/EuMC.2014.6986682</a>)</li>
              <li class="publication mb-20">Goh, C. K. et al., 2008. <i><a href="http://orca.cf.ac.uk/5956/">Influence
                    of Bi-Fe additive on properties of vanadium phosphate catalysts for n-butane oxidation to maleic
                    anhydride.</a></i> <i>Catalysis Today</i> 131 (1-4), pp.408-412. (<a
                  href="http://dx.doi.org/10.1016/j.cattod.2007.10.059" target="_blank"
                  class="external">10.1016/j.cattod.2007.10.059</a>)</li>
              <li class="publication mb-20">Xu, C. et al., 2008. <i><a href="http://orca.cf.ac.uk/6170/">On the
                    synthesis of b-keto-1,3-dithianes from conjugated ynones catalyzed by magnesium oxide.</a></i>
                <i>Tetrahedron Letters</i> 49 (15), pp.2454-2456. (<a
                  href="http://dx.doi.org/10.1016/j.tetlet.2008.02.030" target="_blank"
                  class="external">10.1016/j.tetlet.2008.02.030</a>)
              </li>
              <li class="publication mb-20">Tang, Z. et al., 2007. <i><a
                    href="http://orca.cf.ac.uk/10260/">Nanocrystalline cerium oxide produced by supercritical
                    antisolvent precipitation as a support for high-activity gold catalysts.</a></i> <i>Journal of
                  Catalysis</i> 249 (2), pp.208-219. (<a href="http://dx.doi.org/10.1016/j.jcat.2007.04.016"
                  target="_blank" class="external">10.1016/j.jcat.2007.04.016</a>)</li>
              <li class="publication mb-20">Song, N. et al., 2006. <i><a href="http://orca.cf.ac.uk/10272/">Oxidation of
                    butane to maleic anhydride using vanadium phosphate catalysts: Comparison of operation in aerobic
                    and anaerobic conditions using a gas-gas periodic flow reactor.</a></i> <i>Catalysis Letters</i> 106
                (3-4), pp.127-131. (<a href="http://dx.doi.org/10.1007/s10562-005-9619-z" target="_blank"
                  class="external">10.1007/s10562-005-9619-z</a>)</li>
              <li class="publication">Tang, Z. et al., 2006. <i><a href="http://orca.cf.ac.uk/10264/">Preparation of
                    TiO2 using supercritical CO2 antisolvent precipitation (SAS): A support for high activity gold
                    catalysts.</a></i> <i>Studies in Surface Science and Catalysis</i> 162 , pp.219-226. (<a
                  href="http://dx.doi.org/10.1016/S0167-2991(06)80910-9" target="_blank"
                  class="external">10.1016/S0167-2991(06)80910-9</a>)</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section id="content_container_2492972" class="content-group content-group--centered with-background bg-tuatara">
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto col-md-8">
          <h2 id="content_container_2492972-title">Work with us!</h2>
          <p>We&rsquo;re recruiting researchers to join our award winning team</p>
          <a class="ga-event call-to-action-link btn btn-success btn-lg"
            data-category="Content container: Full width call to action" data-action="Link 1"
            data-label="View vacancies" href="https:&#x2F;&#x2F;www.cardiff.ac.uk&#x2F;jobs&#x2F;vacancies">View
            vacancies</a>
        </div>
      </div>
    </div>
  </section>
  <section class="content-group  " aria-labelledby="content_container_2492974-section-title"
    id="content_container_2492974">
    <div class="container">
      <div class="content-toggle " data-read-more-label="Read more about our work"
        data-read-less-label="Show less about our work">
        <div class="row">
          <div class="col-md-8 ">

            <h2 id="content_container_2492974-section-title">Working with industry</h2>
            <p>We work with organisations to understand the implications of plastic pollution for their business, and to
              help them transition to sustainable alternatives to single-use plastics.</p>
            <p>Our partners include:</p>
            <ul>
              <li>Amazon</li>
              <li>Coca-Cola</li>
              <li>Welsh Water</li>
              <li>Birdseye</li>
              <li>AstraZeneca</li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="box-header">
                <h3 class="box-title">Related downloads</h3>
              </div>
              <div class="box-body">



                <h3 class="text-normal mb-5">OSCAR final report</h3>
                <ul class="list list-links ">
                  <li data-assetid="921315" data-status="Live"> <a
                      href="https://www.cardiff.ac.uk/__data/assets/pdf_file/0003/921315/OSCAR-Final-Report-Exec-Summary.pdf"
                      aria-label="Download document: OSCAR final report">Download document (PDF, 3.3 MB) <svg
                        class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a>
                  </li>
                </ul>

                <h3 class="text-normal mb-5">Have a Word Briefing</h3>
                <ul class="list list-links ">
                  <li data-assetid="1028701" data-status="Live"> <a
                      href="https://www.cardiff.ac.uk/__data/assets/pdf_file/0019/1028701/Violence-Research-Group-Have-a-Word-Briefing.pdf"
                      aria-label="Download document: Have a Word Briefing">Download document (PDF, 432.4 KB) <svg
                        class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a>
                  </li>
                </ul>

                <h3 class="text-normal mb-5">Violence in England and Wales 2019_NVSN Annual Report.pdf</h3>
                <ul class="list list-links ">
                  <li data-assetid="2288520" data-status="Live"> <a
                      href="https://www.cardiff.ac.uk/__data/assets/pdf_file/0009/2288520/Violence-in-England-and-Wales-2019_NVSN-Annual-Report.pdf"
                      aria-label="Download document: Violence in England and Wales 2019_NVSN Annual Report.pdf">Download
                      document (PDF, 807.6 KB) <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <div class="row mt-40 mb-40">
    <div class="col-md-12">
      <figure class="image with-icon-and-text">
        <picture class="w-100">
          <source media="(min-width: 1200px)"
            srcset="https://cardiff.imgix.net/__data/assets/image/0017/25730/Graduation-2.gif?w=1170&h=420&q=60&auto=format&fit=crop">
          <source media="(min-width: 980px)"
            srcset="https://cardiff.imgix.net/__data/assets/image/0017/25730/Graduation-2.gif?w=940&h=420&q=60&auto=format&fit=crop">
          <source media="(min-width: 768px)"
            srcset="https://cardiff.imgix.net/__data/assets/image/0017/25730/Graduation-2.gif?w=768&h=407&q=60&auto=format&fit=crop">
          <source media="(min-width: 640px)"
            srcset="https://cardiff.imgix.net/__data/assets/image/0017/25730/Graduation-2.gif?w=640&h=360&q=60&auto=format&fit=crop">
          <source media="(min-width: 1px)"
            srcset="https://cardiff.imgix.net/__data/assets/image/0017/25730/Graduation-2.gif?w=502&h=282&q=60&auto=format&fit=crop">
          <img
            src="https://cardiff.imgix.net/__data/assets/image/0017/25730/Graduation-2.gif?w=1170&h=420&q=60&auto=format&fit=crop"
            alt="test" class="w-100" loading="lazy">
        </picture>
        <div class="image-main">
          <div class="image-body">
            <h3 class="image-title">Disposed plastic cups</h3>
            <p></p>
          </div>
        </div>
      </figure>
    </div>
  </div>
  <section class="content-group  " aria-labelledby="content_container_2492987-section-title"
    id="content_container_2492987">
    <div class="container">
      <div class="content-toggle " data-read-more-label="Read more about schools engagement programme"
        data-read-less-label="Show less about schools engagement programme">
        <div class="row">
          <div class="col-md-9 ">

            <h2 id="content_container_2492987-section-title">Schools engagement programme</h2>
            <p>Education is an important frontier in the fight against unsustainable use of plastics. We offer a range
              of services to help schools inspire and inform students of all ages about plastic pollution.</p>
            <p>We design and deliver interactive science activities for all key stages, matching learning outcomes with
              the national curriculum.</p>
            <p>We also offer a series of bespoke lesson plans and learning resources, and will work with you to ensure
              these meet the needs of your educational setting. We are keen to ensure our services are available to
              children of all backgrounds - please contact us to discuss funding options for your school.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="content-group  with-background bg-mauve " aria-labelledby="content_container_2492993-section-title"
    id="content_container_2492993">
    <div class="container">
      <div class="content-toggle gradient-mauve" data-read-more-label="Read more about our facilities"
        data-read-less-label="Show less about our facilities">
        <div class="row">
          <div class="col-md-9 bg-mauve">

            <h2 id="content_container_2492993-section-title">Our facilities</h2>
            <p>We have access to a unique blend of research equipment and facilities, allowing us to stay at the
              forefront of knowledge on plastic pollution.</p>
            <p>Our facilities include:</p>
            <ul>
              <li>an advanced catchment modelling facility</li>
              <li>manufacturing and 3D printing lab</li>
              <li>X-ray photoelectron spectroscopy lab.</li>
            </ul>
            <p>We also benefit from our coastal location on the doorstep of the Taff river catchment and the Bristol
              Channel.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="content-group  with-background bg-anakiwa " aria-labelledby="2493009-section-title"
    id="content_container_2493009">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ">
          <h2 id="2493009-section-title">Resources</h2>
        </div>
        <div class="col-md-6 pr-30">


          <div class="container">
            <div class="download with-image" data-assetid="1253176" data-paintlayoutid="1711565" data-status="Live"
              aria-describedby="1253176-description" aria-labelledby="1253176-title">
              <figure class="download-image"> <img class="lazy" alt=""
                  src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=100&h=100&auto=format&fit=crop"
                  data-src="https://cardiff.imgix.net/__data/assets/pdf_file/0007/1253176/privacy-statement_CYM_May_2020_update.pdf?w=100&page=1&auto=format&fit=crop"
                  data-srcset=""> </figure>
              <h2 class="download-title" id="1253176-title">Datganiad preifatrwydd</h2> <time class="download-date"
                datetime="13/08/2018">13 August 2018</time>
              <p class="download-description" id="1253176-description">Mae’r datganiad preifatrwydd hwn yn esbonio’r
                ffordd y mae’r Adran Datblygu a Chysylltiadau Cynfyfyrwyr yn casglu, storio, rheoli a diogelu eich data
                personol.</p>
              <div class="download-actions"> <a class="btn btn-primary ga-event"
                  href="https:&#x2F;&#x2F;www.cardiff.ac.uk&#x2F;__data&#x2F;assets&#x2F;pdf_file&#x2F;0007&#x2F;1253176&#x2F;privacy-statement_CYM_May_2020_update.pdf"
                  aria-label="Download: Datganiad preifatrwydd (PDF, 116.9 KB)" data-category="Document"
                  data-action="download"
                  data-label="https:&#x2F;&#x2F;www.cardiff.ac.uk&#x2F;__data&#x2F;assets&#x2F;pdf_file&#x2F;0007&#x2F;1253176&#x2F;privacy-statement_CYM_May_2020_update.pdf (PDF)">
                  Download document<span class="download-filesize"> (PDF, 116.9 KB)</span> </a> </div>
              <div class="download-requests">
                <div class="accordion accordion--sm accordion--link mb-0">
                  <div class="accordion-section">
                    <div class="accordion-section-header"> <a class="accordion-section-header-title collapsed"
                        aria-label="Request accessible format: Datganiad preifatrwydd" data-toggle="collapse"
                        href="#accordion-1253176"> <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 19.75 32">
                          <title>Chevron right</title>
                          <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                        </svg>Request an accessible format </a> </div>
                    <div class="accordion-section-body collapse" id="accordion-1253176">
                      <p class="mb-0"> If this document cannot be read by your assistive software, you can request an
                        accessible version by emailing <a
                          href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%231253176)&body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20Datganiad preifatrwydd%0D%0ADocument%20URL%3A%20https://www.cardiff.ac.uk/__data/assets/pdf_file/0007/1253176/privacy-statement_CYM_May_2020_update.pdf%0D%0APage%20URL%3A%20https://wwwstaging.cardiff.ac.uk/research-units/institute-for-plastic-pollution-research%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance.%0D%0A%0D%0A%0D%0A%0D%0A">web@cardiff.ac.uk</a>.
                        Please include the assistive tools you use and the format you require. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="d-none d-md-block col-md-6 border-left border-silver pl-40">
          <div class="ml-20">


            <h3 class="text-normal mb-5">Cardiff University Magazine Summer 2013</h3>
            <ul class="list list-links ">
              <li data-assetid="28349" data-status="Live"> <a
                  href="https://www.cardiff.ac.uk/__data/assets/pdf_file/0008/28349/Summer-2013.pdf"
                  aria-label="Download document: Cardiff University Magazine Summer 2013">Download document (PDF, 2.2
                  MB) <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg></a>
              </li>
            </ul>

            <h3 class="text-normal mb-5">2016-17 Honorary fellows nomination form </h3>
            <ul class="list list-links ">
              <li data-assetid="518665" data-status="Live"> <a
                  href="https://www.cardiff.ac.uk/__data/assets/word_doc/0004/518665/2016-17-Hon-Fels-nomination-form.docx"
                  aria-label="Download document: 2016-17 Honorary fellows nomination form ">Download document (Word,
                  28.4 KB) <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                  </svg></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-md-none border-top border-silver">



          <h3 class="text-normal mb-5">Cardiff University Magazine Summer 2013</h3>
          <ul class="list list-links ">
            <li data-assetid="28349" data-status="Live"> <a
                href="https://www.cardiff.ac.uk/__data/assets/pdf_file/0008/28349/Summer-2013.pdf"
                aria-label="Download document: Cardiff University Magazine Summer 2013">Download document (PDF, 2.2 MB)
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a>
            </li>
          </ul>

          <h3 class="text-normal mb-5">2016-17 Honorary fellows nomination form </h3>
          <ul class="list list-links ">
            <li data-assetid="518665" data-status="Live"> <a
                href="https://www.cardiff.ac.uk/__data/assets/word_doc/0004/518665/2016-17-Hon-Fels-nomination-form.docx"
                aria-label="Download document: 2016-17 Honorary fellows nomination form ">Download document (Word, 28.4
                KB) <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                  <title>Chevron right</title>
                  <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                </svg></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section aria-labelledby="2483535-news-title" class="mt-40" id="content_container_2493031">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="2483535-news-title">News</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="teaser teaser-vertical with-image" aria-labelledby="2484687-news-title" data-assetid="2484687"
                data-type="" data-schema="news" data-status="Live">
                <figure class="teaser-image"><a
                    href="https://www.cardiff.ac.uk/news/view/2484687-clinical-criteria-for-diagnosing-autism-inadequate-for-people-with-genetic-conditions,-research-suggests"><img
                      class="lazy"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&amp;h=211&fit=crop&q=70"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0006/2485995/IMG00192-20111226-1325.jpg?w=376&amp;h=211&fit=crop&q=70"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0006/2485995/IMG00192-20111226-1325.jpg?w=376&amp;h=211&fit=crop&q=70 375w,
          https://cardiff.imgix.net/__data/assets/image/0006/2485995/IMG00192-20111226-1325.jpg?w=298&amp;h=168&fit=crop&q=70 298w,
          https://cardiff.imgix.net/__data/assets/image/0006/2485995/IMG00192-20111226-1325.jpg?w=227&amp;h=127&fit=crop&q=70 227w,
          https://cardiff.imgix.net/__data/assets/image/0006/2485995/IMG00192-20111226-1325.jpg?w=725&amp;h=408&fit=crop&q=70 725w,"
                      sizes="(max-width: 768px) 100%, (max-width: 979px) 227px, (max-width: 980px) 298px, (min-width: 1200px) 375px"
                      alt="Hermione Hyde" /></a></figure>
                <div class="teaser-body">
                  <h2 class="teaser-title" id="2484687-news-title"><a
                      href="https://www.cardiff.ac.uk/news/view/2484687-clinical-criteria-for-diagnosing-autism-inadequate-for-people-with-genetic-conditions,-research-suggests">Clinical
                      criteria for diagnosing autism inadequate for people with genetic conditions, research
                      suggests</a></h2>
                  <p>More than half of individuals with one of four genetic conditions had significant autistic
                    symptoms, despite not qualifying for formal diagnosis</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="teaser teaser-vertical with-image" aria-labelledby="2486784-news-title" data-assetid="2486784"
                data-type="" data-schema="news" data-status="Live">
                <figure class="teaser-image"><a
                    href="https://www.cardiff.ac.uk/news/view/2486784-activequote-and-cardiff-join-forces"><img
                      class="lazy"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&amp;h=211&fit=crop&q=70"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0006/2486814/ActiveQuote-atmos-shot.jpg?w=376&amp;h=211&fit=crop&q=70"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0006/2486814/ActiveQuote-atmos-shot.jpg?w=376&amp;h=211&fit=crop&q=70 375w,
          https://cardiff.imgix.net/__data/assets/image/0006/2486814/ActiveQuote-atmos-shot.jpg?w=298&amp;h=168&fit=crop&q=70 298w,
          https://cardiff.imgix.net/__data/assets/image/0006/2486814/ActiveQuote-atmos-shot.jpg?w=227&amp;h=127&fit=crop&q=70 227w,
          https://cardiff.imgix.net/__data/assets/image/0006/2486814/ActiveQuote-atmos-shot.jpg?w=725&amp;h=408&fit=crop&q=70 725w,"
                      sizes="(max-width: 768px) 100%, (max-width: 979px) 227px, (max-width: 980px) 298px, (min-width: 1200px) 375px"
                      alt="ActiveQuote office" /></a></figure>
                <div class="teaser-body">
                  <h2 class="teaser-title" id="2486784-news-title"><a
                      href="https://www.cardiff.ac.uk/news/view/2486784-activequote-and-cardiff-join-forces">ActiveQuote
                      and Cardiff join forces</a></h2>
                  <p>KTP drives insurer’s sales boost</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="teaser teaser-vertical with-image" aria-labelledby="2487017-news-title" data-assetid="2487017"
                data-type="" data-schema="news" data-status="Live">
                <figure class="teaser-image"><a
                    href="https://www.cardiff.ac.uk/news/view/2487017-new-years-honours"><img class="lazy"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&amp;h=211&fit=crop&q=70"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0010/2487160/collage.jpg?w=376&amp;h=211&fit=crop&q=70"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/2487160/collage.jpg?w=376&amp;h=211&fit=crop&q=70 375w,
          https://cardiff.imgix.net/__data/assets/image/0010/2487160/collage.jpg?w=298&amp;h=168&fit=crop&q=70 298w,
          https://cardiff.imgix.net/__data/assets/image/0010/2487160/collage.jpg?w=227&amp;h=127&fit=crop&q=70 227w,
          https://cardiff.imgix.net/__data/assets/image/0010/2487160/collage.jpg?w=725&amp;h=408&fit=crop&q=70 725w,"
                      sizes="(max-width: 768px) 100%, (max-width: 979px) 227px, (max-width: 980px) 298px, (min-width: 1200px) 375px"
                      alt="Professor Anthony Campbell and Professor Barbara Chadwick" /></a></figure>
                <div class="teaser-body">
                  <h2 class="teaser-title" id="2487017-news-title"><a
                      href="https://www.cardiff.ac.uk/news/view/2487017-new-years-honours">New Year’s Honours</a></h2>
                  <p>Members of the University community have been recognised in the Queen’s New Year’s Honours List.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="teaser teaser-vertical with-image" aria-labelledby="2487306-news-title" data-assetid="2487306"
                data-type="" data-schema="news" data-status="Live">
                <figure class="teaser-image"><a
                    href="https://www.cardiff.ac.uk/news/view/2487306-covid-19-genome-sequencing-project-gets-major-upgrade"><img
                      class="lazy"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&amp;h=211&fit=crop&q=70"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0010/2487358/GettyImages-genomics.jpg?w=376&amp;h=211&fit=crop&q=70"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/2487358/GettyImages-genomics.jpg?w=376&amp;h=211&fit=crop&q=70 375w,
          https://cardiff.imgix.net/__data/assets/image/0010/2487358/GettyImages-genomics.jpg?w=298&amp;h=168&fit=crop&q=70 298w,
          https://cardiff.imgix.net/__data/assets/image/0010/2487358/GettyImages-genomics.jpg?w=227&amp;h=127&fit=crop&q=70 227w,
          https://cardiff.imgix.net/__data/assets/image/0010/2487358/GettyImages-genomics.jpg?w=725&amp;h=408&fit=crop&q=70 725w,"
                      sizes="(max-width: 768px) 100%, (max-width: 979px) 227px, (max-width: 980px) 298px, (min-width: 1200px) 375px"
                      alt="Stock image of genomics" /></a></figure>
                <div class="teaser-body">
                  <h2 class="teaser-title" id="2487306-news-title"><a
                      href="https://www.cardiff.ac.uk/news/view/2487306-covid-19-genome-sequencing-project-gets-major-upgrade">COVID-19
                      genome sequencing project gets major upgrade </a></h2>
                  <p>Cardiff University-led supercomputing project receives fresh funding to go global</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- PL:  -->
    <!-- End WIIP Master PL -->
  </section>
  <section id="content_container_2493033" class="content-group" aria-labelledby="2493033-section-title">
    <div class="container">
      <div class="row">
        <div class="col-12 ">
          <h2 id="2493033-section-title">Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="teaser with-image teaser-vertical">
            <figure class="teaser-image">
              <a href="https://www.cardiff.ac.uk/events/view/2492603-chinese-new-year-celebration" aria-hidden="true">
                <img class="lazy"
                  data-srcset="
                    //cardiff.imgix.net/__data/assets/image/0009/2492604/The-Wealthy-God,-a-Chinese-tradition,-brings-luck-and-good-wishes-for-the-Chinese-New-Year-2021-1-29-17-52-0.jpeg?w=166&amp;h=93&amp;fit=crop&amp;q=40&amp;auto=format  166w,
                    //cardiff.imgix.net/__data/assets/image/0009/2492604/The-Wealthy-God,-a-Chinese-tradition,-brings-luck-and-good-wishes-for-the-Chinese-New-Year-2021-1-29-17-52-0.jpeg?w=220&amp;h=124&amp;fit=crop&amp;q=40&amp;auto=format  220w,
                    //cardiff.imgix.net/__data/assets/image/0009/2492604/The-Wealthy-God,-a-Chinese-tradition,-brings-luck-and-good-wishes-for-the-Chinese-New-Year-2021-1-29-17-52-0.jpeg?w=278&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format  278w,
                    //cardiff.imgix.net/__data/assets/image/0009/2492604/The-Wealthy-God,-a-Chinese-tradition,-brings-luck-and-good-wishes-for-the-Chinese-New-Year-2021-1-29-17-52-0.jpeg?w=352&amp;h=198&amp;fit=crop&amp;q=40&amp;auto=format  352w,
                    //cardiff.imgix.net/__data/assets/image/0009/2492604/The-Wealthy-God,-a-Chinese-tradition,-brings-luck-and-good-wishes-for-the-Chinese-New-Year-2021-1-29-17-52-0.jpeg?w=500&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  500w,
                    //cardiff.imgix.net/__data/assets/image/0009/2492604/The-Wealthy-God,-a-Chinese-tradition,-brings-luck-and-good-wishes-for-the-Chinese-New-Year-2021-1-29-17-52-0.jpeg?w=600&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  600w,
                    //cardiff.imgix.net/__data/assets/image/0009/2492604/The-Wealthy-God,-a-Chinese-tradition,-brings-luck-and-good-wishes-for-the-Chinese-New-Year-2021-1-29-17-52-0.jpeg?w=750&amp;h=422&amp;fit=crop&amp;q=40&amp;auto=format  750w"
                  data-src="//cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0009&#x2F;2492604&#x2F;The-Wealthy-God,-a-Chinese-tradition,-brings-luck-and-good-wishes-for-the-Chinese-New-Year-2021-1-29-17-52-0.jpeg?w=270&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format"
                  src="//cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=270&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format"
                  sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
                  alt=""
                  srcset="
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=166&amp;h=93&amp;fit=crop&amp;q=40&amp;auto=format  166w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=220&amp;h=124&amp;fit=crop&amp;q=40&amp;auto=format  220w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=278&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format  278w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=352&amp;h=198&amp;fit=crop&amp;q=40&amp;auto=format  352w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=500&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  500w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=750&amp;h=422&amp;fit=crop&amp;q=40&amp;auto=format  750w">

              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title">
                <a href="https://www.cardiff.ac.uk/events/view/2492603-chinese-new-year-celebration">Chinese New Year
                  Celebration</a>
              </h2>
              <p class="teaser-date mt-5">
                Saturday 13 February 2021, 10:00
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="teaser with-image teaser-vertical">
            <figure class="teaser-image">
              <a href="https://www.cardiff.ac.uk/events/view/2492184-healthy-ageing-in-the-time-of-covid-19-how-can-we-create-a-society-where-are-all-age-better"
                aria-hidden="true">
                <img class="lazy"
                  data-srcset="
                    //cardiff.imgix.net/__data/assets/image/0004/2492185/SiH-public-lecture-series-logo-2021-1-28-15-25-55.jpeg?w=166&amp;h=93&amp;fit=crop&amp;q=40&amp;auto=format  166w,
                    //cardiff.imgix.net/__data/assets/image/0004/2492185/SiH-public-lecture-series-logo-2021-1-28-15-25-55.jpeg?w=220&amp;h=124&amp;fit=crop&amp;q=40&amp;auto=format  220w,
                    //cardiff.imgix.net/__data/assets/image/0004/2492185/SiH-public-lecture-series-logo-2021-1-28-15-25-55.jpeg?w=278&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format  278w,
                    //cardiff.imgix.net/__data/assets/image/0004/2492185/SiH-public-lecture-series-logo-2021-1-28-15-25-55.jpeg?w=352&amp;h=198&amp;fit=crop&amp;q=40&amp;auto=format  352w,
                    //cardiff.imgix.net/__data/assets/image/0004/2492185/SiH-public-lecture-series-logo-2021-1-28-15-25-55.jpeg?w=500&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  500w,
                    //cardiff.imgix.net/__data/assets/image/0004/2492185/SiH-public-lecture-series-logo-2021-1-28-15-25-55.jpeg?w=600&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  600w,
                    //cardiff.imgix.net/__data/assets/image/0004/2492185/SiH-public-lecture-series-logo-2021-1-28-15-25-55.jpeg?w=750&amp;h=422&amp;fit=crop&amp;q=40&amp;auto=format  750w"
                  data-src="//cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0004&#x2F;2492185&#x2F;SiH-public-lecture-series-logo-2021-1-28-15-25-55.jpeg?w=270&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format"
                  src="//cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=270&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format"
                  sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
                  alt=""
                  srcset="
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=166&amp;h=93&amp;fit=crop&amp;q=40&amp;auto=format  166w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=220&amp;h=124&amp;fit=crop&amp;q=40&amp;auto=format  220w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=278&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format  278w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=352&amp;h=198&amp;fit=crop&amp;q=40&amp;auto=format  352w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=500&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  500w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=750&amp;h=422&amp;fit=crop&amp;q=40&amp;auto=format  750w">

              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title">
                <a
                  href="https://www.cardiff.ac.uk/events/view/2492184-healthy-ageing-in-the-time-of-covid-19-how-can-we-create-a-society-where-are-all-age-better">Healthy
                  Ageing in the time of COVID-19: how can we create a society where are all age better?</a>
              </h2>
              <p class="teaser-date mt-5">
                Thursday 25 February 2021, 19:00
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="teaser with-image teaser-vertical">
            <figure class="teaser-image">
              <a href="https://www.cardiff.ac.uk/events/view/2492038-national-parks-places-to-walk-places-to-conserve-places-to-research"
                aria-hidden="true">
                <img class="lazy"
                  data-srcset="
                    //cardiff.imgix.net/__data/assets/image/0011/2492039/Brecon-Beacons-National-Park-2021-1-28-11-51-0.jpeg?w=166&amp;h=93&amp;fit=crop&amp;q=40&amp;auto=format  166w,
                    //cardiff.imgix.net/__data/assets/image/0011/2492039/Brecon-Beacons-National-Park-2021-1-28-11-51-0.jpeg?w=220&amp;h=124&amp;fit=crop&amp;q=40&amp;auto=format  220w,
                    //cardiff.imgix.net/__data/assets/image/0011/2492039/Brecon-Beacons-National-Park-2021-1-28-11-51-0.jpeg?w=278&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format  278w,
                    //cardiff.imgix.net/__data/assets/image/0011/2492039/Brecon-Beacons-National-Park-2021-1-28-11-51-0.jpeg?w=352&amp;h=198&amp;fit=crop&amp;q=40&amp;auto=format  352w,
                    //cardiff.imgix.net/__data/assets/image/0011/2492039/Brecon-Beacons-National-Park-2021-1-28-11-51-0.jpeg?w=500&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  500w,
                    //cardiff.imgix.net/__data/assets/image/0011/2492039/Brecon-Beacons-National-Park-2021-1-28-11-51-0.jpeg?w=600&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  600w,
                    //cardiff.imgix.net/__data/assets/image/0011/2492039/Brecon-Beacons-National-Park-2021-1-28-11-51-0.jpeg?w=750&amp;h=422&amp;fit=crop&amp;q=40&amp;auto=format  750w"
                  data-src="//cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0011&#x2F;2492039&#x2F;Brecon-Beacons-National-Park-2021-1-28-11-51-0.jpeg?w=270&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format"
                  src="//cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=270&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format"
                  sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
                  alt=""
                  srcset="
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=166&amp;h=93&amp;fit=crop&amp;q=40&amp;auto=format  166w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=220&amp;h=124&amp;fit=crop&amp;q=40&amp;auto=format  220w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=278&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format  278w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=352&amp;h=198&amp;fit=crop&amp;q=40&amp;auto=format  352w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=500&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  500w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=750&amp;h=422&amp;fit=crop&amp;q=40&amp;auto=format  750w">

              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title">
                <a
                  href="https://www.cardiff.ac.uk/events/view/2492038-national-parks-places-to-walk-places-to-conserve-places-to-research">National
                  Parks: places to walk? Places to conserve? Places to research?</a>
              </h2>
              <p class="teaser-date mt-5">
                Thursday 4 March 2021, 12:00
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="teaser with-image teaser-vertical">
            <figure class="teaser-image">
              <a href="https://www.cardiff.ac.uk/events/view/2490736-anti-system-politics-the-crisis-of-market-liberalism-in-rich-democracies"
                aria-hidden="true">
                <img class="lazy"
                  data-srcset="
                    //cardiff.imgix.net/__data/assets/image/0005/2490737/Global-language-based-area-studies-stock-image-2021-1-21-17-21-47.jpeg?w=166&amp;h=93&amp;fit=crop&amp;q=40&amp;auto=format  166w,
                    //cardiff.imgix.net/__data/assets/image/0005/2490737/Global-language-based-area-studies-stock-image-2021-1-21-17-21-47.jpeg?w=220&amp;h=124&amp;fit=crop&amp;q=40&amp;auto=format  220w,
                    //cardiff.imgix.net/__data/assets/image/0005/2490737/Global-language-based-area-studies-stock-image-2021-1-21-17-21-47.jpeg?w=278&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format  278w,
                    //cardiff.imgix.net/__data/assets/image/0005/2490737/Global-language-based-area-studies-stock-image-2021-1-21-17-21-47.jpeg?w=352&amp;h=198&amp;fit=crop&amp;q=40&amp;auto=format  352w,
                    //cardiff.imgix.net/__data/assets/image/0005/2490737/Global-language-based-area-studies-stock-image-2021-1-21-17-21-47.jpeg?w=500&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  500w,
                    //cardiff.imgix.net/__data/assets/image/0005/2490737/Global-language-based-area-studies-stock-image-2021-1-21-17-21-47.jpeg?w=600&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  600w,
                    //cardiff.imgix.net/__data/assets/image/0005/2490737/Global-language-based-area-studies-stock-image-2021-1-21-17-21-47.jpeg?w=750&amp;h=422&amp;fit=crop&amp;q=40&amp;auto=format  750w"
                  data-src="//cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0005&#x2F;2490737&#x2F;Global-language-based-area-studies-stock-image-2021-1-21-17-21-47.jpeg?w=270&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format"
                  src="//cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=270&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format"
                  sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
                  alt=""
                  srcset="
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=166&amp;h=93&amp;fit=crop&amp;q=40&amp;auto=format  166w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=220&amp;h=124&amp;fit=crop&amp;q=40&amp;auto=format  220w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=278&amp;h=152&amp;fit=crop&amp;q=40&amp;auto=format  278w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=352&amp;h=198&amp;fit=crop&amp;q=40&amp;auto=format  352w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=500&amp;h=281&amp;fit=crop&amp;q=40&amp;auto=format  500w,
                    //cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0008&#x2F;1279637&#x2F;DefaultLogo.png?w=750&amp;h=422&amp;fit=crop&amp;q=40&amp;auto=format  750w">

              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title">
                <a
                  href="https://www.cardiff.ac.uk/events/view/2490736-anti-system-politics-the-crisis-of-market-liberalism-in-rich-democracies">
                  Anti-System Politics: The Crisis of Market Liberalism in Rich Democracies</a>
              </h2>
              <p class="teaser-date mt-5">
                Wednesday 24 February 2021, 13:30
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-group  with-background bg-wild-sand "
    aria-labelledby="content_container_2493035-section-title" id="content_container_2493035">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="content_container_2493035-section-title">Partners</h2>
        </div>
        <div class="col-md-3 d-flex align-items-md-center justify-content-md-center">
          <a href="https://www.aber.ac.uk/en/" class="d-block mb-20" style="max-width: 250px;">
            <img class="lazy w-100" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
              data-src="https://cardiff.imgix.net/__data/assets/image/0008/1546685/Aberystwyth-University.gif?max-w=250&q=60&auto=format"
              alt="" />
          </a>
        </div>
        <div class="col-md-3 d-flex align-items-md-center justify-content-md-center">
          <a href="https://www.bangor.ac.uk/confucius-institute/" class="d-block mb-20" style="max-width: 250px;">
            <img class="lazy w-100" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
              data-src="https://cardiff.imgix.net/__data/assets/image/0010/1544392/Bangor-University.jpg?max-w=250&q=60&auto=format"
              alt="" />
          </a>
        </div>
        <div class="col-md-3 d-flex align-items-md-center justify-content-md-center">
          <a href="https://wales.britishcouncil.org/en/programmes/education/international-education-programme"
            class="d-block mb-20" style="max-width: 250px;">
            <img class="lazy w-100" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
              data-src="https://cardiff.imgix.net/__data/assets/image/0020/1544402/British-Council-Wales.jpg?max-w=250&q=60&auto=format"
              alt="" />
          </a>
        </div>
        <div class="col-md-3 d-flex align-items-md-center justify-content-md-center">
          <a href="https://www.bbc.com/cymru" class="d-block mb-20">
            <img class="lazy " src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
              data-src="https://cardiff.imgix.net/__data/assets/image/0006/2401818/BBC-Cymru.png?max-h=100&q=60&auto=format"
              alt="BBC Cymru Wales written on red background" style="max-height: 100px;" />
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <div class="highlight highlight-lg border-0"> <svg class="icon icon-dark" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 133.5074 132.7861">
            <style>
              .icon-dark {
                fill: #383735;
              }

              .icon-light {
                fill: #ffffff;
              }

              .icon .fill-gold {
                fill: #bd9e5e;
              }
            </style>
            <title>accessibility</title>
            <path
              d="M40.6758,132.8008a40.6758,40.6758,0,0,1,0-81.3516,3,3,0,0,1,0,6A34.6758,34.6758,0,1,0,75.3516,92.125a3,3,0,0,1,6,0A40.7219,40.7219,0,0,1,40.6758,132.8008Z"
              transform="translate(-0.0045 -0.0147)" class="fill-gold" />
            <path
              d="M133.2422,118.8516a3.0009,3.0009,0,0,0-3.9722-1.49l-11.7739,5.3516L100.9653,84.2246a2.9991,2.9991,0,0,0-2.7563-1.8164H51.6973V62.7256H82.8525a3,3,0,0,0,0-6H51.6973V38.2209a19.2074,19.2074,0,1,0-6-1.9443V85.4082a3,3,0,0,0,3,3H96.2324l16.96,39.4873a3,3,0,0,0,3.94,1.5732l.0573-.0253,14.5625-6.6192a3,3,0,0,0,1.49-3.9724ZM41.3306,19.2285A13.2288,13.2288,0,1,1,54.5591,32.458,13.2288,13.2288,0,0,1,41.3306,19.2285Z"
              transform="translate(-0.0045 -0.0147)" />
          </svg>
          <div class="highlight-body">
            <h3 class="highlight-title"><a class="ga-event" data-category="Content container: Next steps"
                data-action="Title" data-label="A"
                href="https://www.cardiff.ac.uk/study/undergraduate/meet-our-students">A</a></h3>
            <p>lorem</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="highlight highlight-lg border-0"> <svg class="icon icon-dark" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 75.6949 90.1787">
            <style>
              .icon-dark {
                fill: #383735;
              }

              .icon-light {
                fill: #ffffff;
              }

              .icon .fill-gold {
                fill: #bd9e5e;
              }
            </style>
            <title>bell</title>
            <path
              d="M37.8385,90.1787a9.8553,9.8553,0,0,1-9.8442-9.8447c0-.0459.002-.0928.0059-.1387l.2016-2.5156a1.7312,1.7312,0,0,1,3.4512.2773l-.1958,2.4424a6.382,6.382,0,0,0,12.7637-.0654l.0478-2.5528a1.7119,1.7119,0,0,1,1.7637-1.6972,1.7309,1.7309,0,0,1,1.6982,1.7637l-.0478,2.5195A9.8481,9.8481,0,0,1,37.8385,90.1787Z"
              class="fill-gold" />
            <path
              d="M74.1574,69.4648C68.9718,63.627,62.5182,56.3623,62.1886,49.667l-.8193-16.6514a22.5073,22.5073,0,0,0-17.5744-20.883A7.513,7.513,0,1,0,31.96,12.1174a22.6327,22.6327,0,0,0-17.6154,20.907l-.8271,16.6514c-.333,6.6982-6.79,13.9658-11.9781,19.8047A6.0555,6.0555,0,0,0,6.0759,79.5557l63.5424-.0147a6.0581,6.0581,0,0,0,4.5391-10.0762ZM37.883,3.4629a4.05,4.05,0,1,1-4.0508,4.05A4.0544,4.0544,0,0,1,37.883,3.4629ZM71.9943,74.54a2.5442,2.5442,0,0,1-2.3769,1.5381l-63.542.0147A2.5926,2.5926,0,0,1,4.1276,71.78c5.5483-6.2451,12.4541-14.0176,12.8477-21.9326l.8271-16.6514a19.1445,19.1445,0,0,1,19.085-18.17q.3494,0,.7021.0127a2.1152,2.1152,0,0,0,.272.0117,2.3269,2.3269,0,0,0,.2739-.0117A19.0975,19.0975,0,0,1,57.9113,33.1855l.8193,16.6514c.39,7.9141,7.292,15.6836,12.8384,21.9268A2.5258,2.5258,0,0,1,71.9943,74.54Z" />
          </svg>
          <div class="highlight-body">
            <h3 class="highlight-title"><a class="ga-event" data-category="Content container: Next steps"
                data-action="Title" data-label="asdsadasdsa"
                href="https://www.cardiff.ac.uk/study/undergraduate/meet-our-students">asdsadasdsa</a></h3>
            <p>sdasdasd</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="highlight highlight-lg border-0"> <svg class="icon icon-dark" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 132.7148 138.5103">
            <style>
              .icon-dark {
                fill: #383735;
              }

              .icon-light {
                fill: #ffffff;
              }

              .icon .fill-gold {
                fill: #bd9e5e;
              }
            </style>
            <title>building</title>
            <path d="M50.53,38.9375H35.8159V24.2231H50.53ZM38.938,35.8154h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path d="M73.7144,38.9375H59V24.2231H73.7144ZM62.1221,35.8154h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path d="M96.8989,38.9375H82.1846V24.2231H96.8989ZM85.3066,35.8154h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path d="M50.53,62.1216H35.8159V47.4077H50.53ZM38.938,59h8.47V50.53h-8.47Z" class="fill-gold" />
            <path d="M73.7144,62.1216H59V47.4077H73.7144ZM62.1221,59h8.47V50.53h-8.47Z" class="fill-gold" />
            <path d="M96.8989,62.1216H82.1846V47.4077H96.8989ZM85.3066,59h8.47V50.53h-8.47Z" class="fill-gold" />
            <path d="M50.53,85.3062H35.8159V70.5918H50.53ZM38.938,82.1841h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path d="M73.7144,85.3062H59V70.5918H73.7144ZM62.1221,82.1841h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path d="M96.8989,85.3062H82.1846V70.5918H96.8989ZM85.3066,82.1841h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path d="M50.53,108.4907H35.8159V93.7764H50.53Zm-11.5923-3.122h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path d="M73.7144,108.4907H59V93.7764H73.7144Zm-11.5923-3.122h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path d="M96.8989,108.4907H82.1846V93.7764H96.8989Zm-11.5923-3.122h8.47v-8.47h-8.47Z" class="fill-gold" />
            <path
              d="M130.1147,23.1841H109.53V14.1919a2.6,2.6,0,0,0-1.8858-2.5L67.0718.1a2.6115,2.6115,0,0,0-1.4287,0L25.07,11.6919a2.6,2.6,0,0,0-1.8857,2.5v8.9922H2.6a2.6,2.6,0,0,0-2.6,2.6V135.91a2.6,2.6,0,0,0,2.6,2.6H130.1147a2.6,2.6,0,0,0,2.6-2.6V25.7842A2.6,2.6,0,0,0,130.1147,23.1841ZM5.2,28.3843H23.1846v7.4311H14.1924a1.5611,1.5611,0,1,0,0,3.1221h8.9922V53.2036H14.1924a1.5611,1.5611,0,1,0,0,3.1221h8.9922V70.5918H14.1924a1.5611,1.5611,0,1,0,0,3.1221h8.9922V87.98H14.1924a1.5611,1.5611,0,1,0,0,3.1221h8.9922v14.2666H14.1924a1.561,1.561,0,1,0,0,3.122h8.9922v14.2661H14.1924a1.5611,1.5611,0,1,0,0,3.1221h8.9922V133.31H5.2Zm23.1846-2.6V16.1533l37.9726-10.85,37.9727,10.85V133.31H85.3066V118.522a1.5609,1.5609,0,0,0-1.561-1.5611H48.9692a1.5609,1.5609,0,0,0-1.561,1.5611V133.31H28.3848ZM50.53,133.31V120.083H82.1846V133.31Zm76.9843,0H109.53v-7.4312h8.9922a1.5611,1.5611,0,0,0,0-3.1221H109.53V108.4907h8.9922a1.561,1.561,0,1,0,0-3.122H109.53V91.1021h8.9922a1.5611,1.5611,0,0,0,0-3.1221H109.53V73.7139h8.9922a1.5611,1.5611,0,0,0,0-3.1221H109.53V56.3257h8.9922a1.5611,1.5611,0,0,0,0-3.1221H109.53V38.9375h8.9922a1.5611,1.5611,0,0,0,0-3.1221H109.53V28.3843h17.9843Z" />
          </svg>
          <div class="highlight-body">
            <h3 class="highlight-title"><a class="ga-event" data-category="Content container: Next steps"
                data-action="Title" data-label="asdasdasd"
                href="https://www.cardiff.ac.uk/study/undergraduate/meet-our-students">asdasdasd</a></h3>
            <p>sdasdasdasd</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="highlight highlight-lg border-0"> <svg class="icon icon-dark" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 87.7207 111.7314">
            <style>
              .icon-dark {
                fill: #383735;
              }

              .icon-light {
                fill: #ffffff;
              }

              .icon .fill-gold {
                fill: #bd9e5e;
              }
            </style>
            <title>certificate</title>
            <path
              d="M76.6592,0H22.6533a1.994,1.994,0,0,0-1.3691.5439L.624,20.0654A1.9957,1.9957,0,0,0,0,21.5146V94.2275a1.9935,1.9935,0,0,0,1.9932,1.9932H46.5547a1.9932,1.9932,0,1,0,0-3.9863H3.9863V23.479a1.9463,1.9463,0,0,0,.2842.0288H22.6533a1.9935,1.9935,0,0,0,1.9932-1.9932V4.27a1.9747,1.9747,0,0,0-.0286-.2832H74.666V57.001a1.9932,1.9932,0,0,0,3.9863,0V1.9932A1.9934,1.9934,0,0,0,76.6592,0ZM7.0052,19.5215,20.66,6.6189V19.5215Z" />
            <path d="M67.875,41.6777H10.7773a1.9932,1.9932,0,0,1,0-3.9863H67.875a1.9932,1.9932,0,1,1,0,3.9863Z" />
            <path d="M47.7061,52.3936H10.7773a1.9932,1.9932,0,0,1,0-3.9864H47.7061a1.9932,1.9932,0,0,1,0,3.9864Z" />
            <path d="M28.3457,63.1094H10.7773a1.9932,1.9932,0,0,1,0-3.9864H28.3457a1.9932,1.9932,0,0,1,0,3.9864Z" />
            <path d="M67.875,30.3389H41.5225a1.9932,1.9932,0,0,1,0-3.9864H67.875a1.9932,1.9932,0,1,1,0,3.9864Z" />
            <path
              d="M69.5049,91.4961a9.5635,9.5635,0,1,0-9.5635-9.5635A9.5742,9.5742,0,0,0,69.5049,91.4961Zm0-17.2754a7.7119,7.7119,0,1,1-7.7119,7.7119A7.7212,7.7212,0,0,1,69.5049,74.2207Z"
              class="fill-gold" />
            <path
              d="M82.2266,94.9458a18.2159,18.2159,0,1,0-25.4428,0L51.4043,109.29a1.8068,1.8068,0,0,0,2.499,2.251l6.7842-3.3926,4.92,3.2793a1.8056,1.8056,0,0,0,2.6934-.8681l1.2743-3.3985,1.1114,3.335a1.8061,1.8061,0,0,0,2.7158.9316l4.92-3.2793,6.7841,3.3926a1.8066,1.8066,0,0,0,2.4991-2.251ZM54.9023,81.9326A14.6026,14.6026,0,1,1,69.5049,96.5352,14.6192,14.6192,0,0,1,54.9023,81.9326Zm10.8145,25.2266-3.8975-2.5987a1.8111,1.8111,0,0,0-1.8095-.1132l-3.6065,1.8037,3.358-8.9541a18.07,18.07,0,0,0,7.4216,2.6865l.5764,1.73ZM79,104.4473a1.8086,1.8086,0,0,0-1.81.1132l-3.8242,2.5489-2.3454-7.0379a18.0689,18.0689,0,0,0,8.2285-2.7751l3.3581,8.9546Z"
              class="fill-gold" />
          </svg>
          <div class="highlight-body">
            <h3 class="highlight-title"><a class="ga-event" data-category="Content container: Next steps"
                data-action="Title" data-label="adasdasdasdd"
                href="https://www.cardiff.ac.uk/study/undergraduate/meet-our-students">adasdasdasdd</a></h3>
            <p>adasdsadasdas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PL: 1711565 -->

  <!-- End WIIP Master PL -->

</main>