<main id="content" class="content">
    <!-- Page layout: Full width-->
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="row">
                    <!--Open col-md-9-->
                    <div class="col-md-9">

                        <h1 id="page-title">Hanes yr Henfyd</h1>
                        <p class="lead">Wedi eich lleoli yn Yr Ysgol Hanes, Archaeoleg a Chrefydd, byddwch yn ymuno â
                            chymuned ymchwil ac academaidd fywiog, sy’n falch o’n enw da am hyfforddi’r genhedlaeth
                            nesaf o ymchwilwyr.</p>


                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" href="#section-overview"
                                    data-toggle="tab">Trosolwg</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section-research"
                                    data-toggle="tab">Ymchwil</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section-details"
                                    data-toggle="tab">Strwythur</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section-employability"
                                    data-toggle="tab">Rhagolygon gyrfa </a></li>
                            <li class="nav-item"><a class="nav-link" href="#section-funding" data-toggle="tab">Ffioedd
                                    ac arian</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section-entry-requirements"
                                    data-toggle="tab">Gofynion mynediad</a></li>
                            <li class="nav-item"><a class="nav-link" href="#section-entry" data-toggle="tab">Sut i wneud
                                    cais </a></li>
                        </ul>

                        <div class="tab-content">
                            <!--Open overview-->
                            <div class="tab-pane active" id="section-overview">

                                <p>Yn cael eu goruchwylio gan arbenigwyr, mae&rsquo;n myfyrwyr ôl-raddedig yn dod ar
                                    draws cyfleoedd cyffrous i ddadlau a chyfnewid syniadau, boed hynny drwy ein
                                    Canolfannau Ymchwil sy&rsquo;n gysylltiedig yn rhyngwladol neu gyfresi seminar
                                    niferus.</p>
                                <p>Mae ein prosiectau ar draws disgyblaethau yn parhau i hyrwyddo ymchwil, wedi&rsquo;u
                                    cefnogi gan bartneriaid sy'n amrywio o&rsquo;r Gyngor Ymchwil y Celfyddydau
                                    a&rsquo;r Dyniaethau i Ymddiriedolaeth Wellcome.</p>

                                <h2>Nodau'r rhaglen</h2>
                                <p>Cynnig gwybodaeth ac arbenigedd ar gyfer gyrfa mewn ymchwil (y cyfryngau,masnachol,
                                    sector cyhoeddus ac ati), gwasanaethau cyhoeddus, addysgu a&rsquo;r byd academaidd.
                                </p>

                                <h2>Nodweddion unigryw</h2>
                                <ul>
                                    <li>Mae Caerdydd yn cynnig cryfder ymchwil sylweddol yn hanes yr henfyd ac mae
                                        ganddo gysylltiadau cryf iawn gydag astudiaethau archaeoleg, hanes canoloesol ac
                                        astudiaethau crefyddol drwy&rsquo;r Ganolfan ar gyfer Crefydd a Diwylliant yr
                                        Henfyd Diweddar.</li>
                                    <li>Cwmpas cronolegol eang, o Roeg Hynafol i&rsquo;r Henfyd Diweddar</li>
                                    <li>Cyfleoedd ar gyfer ymchwil rhyngddisgyblaethol gydag astudiaethau archaeoleg,
                                        hanes canoloesol ac astudiaethau crefyddol.</li>
                                    <li>Anogaeth a chefnogaeth ar gyfer myfyrwyr ôl-raddedig gan Sefydliad Clasuron a
                                        Hanes yr Henfyd Prifysgol Cymru, sy&rsquo;n cael ei redeg ar y cyd gan Gaerdydd
                                        mewn cysylltiad ag Adrannau Clasuron a Hanes yr Henfyd Abertawe a Llanbedr Pont
                                        Steffan.</li>
                                </ul>
                                <h2>Ffeithiau allweddol</h2>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Math o astudiaeth</th>
                                            <td>Amser llawn, rhan amser</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Cymhwyster</th>
                                            <td>PhD, MPhil</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Hyd amser llawn</th>
                                            <td>PhD 3 mlynedd, MPhil 1 flwyddyn</td>
                                        </tr>


                                        <tr>
                                            <th scope="row">Hyd rhan-amser</th>
                                            <td>Cyfleoedd ar gael</td>
                                        </tr>


                                        <tr>
                                            <th scope="row">Derbyniadau</th>
                                            <td>Ionawr, Ebrill, Gorffennaf, Hydref</td>
                                        </tr>



                                    </tbody>
                                </table>


                            </div>
                            <!--Open programme details-->
                            <div class="tab-pane" id="section-details">


                            </div>
                            <!--Close programme details-->

                            <!--Open research details-->
                            <div class="tab-pane" id="section-research">

                                <p>Rydym yn cynnig ystod lawn o arbenigedd, ond mae&rsquo;r meysydd canlynol yn arbennig
                                    o gryf:</p>
                                <ul>
                                    <li>Hanes ac Archaeoleg Cymdeithasau Hynafol; y Weriniaeth Rufeinig ac Ymerodraeth y
                                        Cyfnodau Rhufeinig Hwyr a&rsquo;r Oesoedd Canol Cynnar</li>
                                    <li>Epigraffeg Groeg</li>
                                    <li>Hanes Gwleidyddol a Chymdeithasol Gwladwriaethau Dinasoedd Groeg</li>
                                    <li>Hanes ac Archaeoleg y Weriniaeth a&rsquo;r Ymerodraeth Rufeinig</li>
                                    <li>Hanes ac Archaeoleg y Cyfnodau Rhufeinig Hwyr a&rsquo;r Oesoedd Canol Cynnar
                                    </li>
                                    <li>Rhyfela&rsquo;r Hynafiaeth</li>
                                    <li>Tai a&rsquo;r Amgylchedd Adeiledig</li>
                                    <li>Rhyw a Rhywioldeb</li>
                                    <li>Meddygaeth Hynafol.</li>
                                </ul>



                            </div>
                            <!--Close research details-->

                            <!--Open employability-->
                            <div class="tab-pane" id="section-employability">
                            </div>
                            <!--Close employability-->

                            <!--Open funding-->
                            <div class="tab-pane" id="section-funding">
                                <div class="alert">
                                    <h4>Benthyciadau Llywodraeth y DG i ôl-raddedigion doethuriaeth</h4>
                                    <p>Gallai ymgeiswyr ar gyfer y rhaglen Doethuriaeth Broffesiynol fod yn gymwys i
                                        wneud cais am fenthyciad doethuriaeth ôl-raddedig gan Lywodraeth y DU..</p>
                                    <a
                                        href="https://www.cardiff.ac.uk/cy/study/postgraduate/funding/uk-government-postgraduate-doctoral-loans">Benthyciadau
                                        Llywodraeth y DG i ôl-raddedigion doethuriaeth</a>
                                </div>
                                <h2>Arian </h2>
                                <p>Rydym yn falch o fod yn rhan o Bartneriaeth Hyfforddiant Doethurol <a
                                        href="http://sww-ahdtp.ac.uk">Cymru a De a Gorllewin Lloegr</a>, sydd
                                    wedi&rsquo;i ariannu gan Gyngor Ymchwil y Celfyddydau a&rsquo;r Dyniaethau.</p>
                                <p>Gallwch <a
                                        href="https://www.cardiff.ac.uk/cy/study/postgraduate/funding/search">chwilio am
                                        ysgoloriaeth</a> neu gael <a
                                        href="https://www.cardiff.ac.uk/cy/study/postgraduate/funding">rhagor o
                                        wybodaeth am gyllid.</a></p>
                                <h2>Ffioedd dysgu</h2>
                                <p></p>

                                <h3>Myfyrwyr y DU ac UE</h3>
                                <p><a href="https://www.cardiff.ac.uk/study/postgraduate/tuition-fees">Mynnwch y
                                        wybodaeth ddiweddaraf am ffioedd ôl-raddedigion.</a></p>


                                <h3>Myfyrwyr tu allan i'r UE</h3>
                                <p><a href="https://www.cardiff.ac.uk/study/postgraduate/tuition-fees">Mynnwch y
                                        wybodaeth ddiweddaraf am ffioedd ôl-raddedigion.</a></p>

                            </div>
                            <!--Close funding-->

                            <!--Open entry requirements-->
                            <div class="tab-pane" id="section-entry-requirements">

                                <p>Addas i fyfyrwyr sydd â gradd mewn Hanes yr Henfyd, y Clasuron, Archeoleg Glasurol a
                                    Dyniaethau cysylltiedig, a disgyblaethau gwyddorau cymdeithasol.</p>
                                <p>Fel rheol, dylai ymgeiswyr fod â gradd anrhydedd dosbarth cyntaf neu yn adran uchaf
                                    yr ail ddosbarth, neu gymhwyster cyfwerth, mewn maes pwnc priodol ac wedi
                                    llwyddo&rsquo;n dda mewn MA.</p>

                                <h2>Gofynion Iaith Saesneg</h2>
                                <p>Fel arfer, mae disgwyl i ymgeiswyr nad yw’r Saesneg yn famiaith iddynt fodloni
                                    gofynion y Brifysgol (e.e. 6.5 IELTS). Gweler ein <a
                                        href="https://www.cardiff.ac.uk/study/international/english-language-requirements">canllawiau
                                        am ein Gofynion Iaith Saesneg</a> am ragor o fanylion.</p>
                            </div>
                            <!--Open entry requirements-->

                            <!--Open entry-->
                            <div class="tab-pane" id="section-entry">
                                <p></p>



                            </div>
                            <!--Close entry -->

                        </div>

                        <h2>Cyswllt</h2>



                        <h3>Cyswllt/Cysylltiadau Gweinyddol</h3>

                        <!-- 1 -->

                        <div class="contact" data-assetid="420269" data-paintlayoutid="17407" data-status="Live"
                            aria-label="Cyswllt - School of History, Archaeology and Religion Postgraduate Administrator">
                            <h2 class="contact-title">School of History, Archaeology and Religion Postgraduate
                                Administrator</h2>
                            <p class="profile-subtitle">Administrative contact</p>
                            <ul class="list list-icons text-sm">
                                <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                                        <title>Email</title>
                                        <path
                                            d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                                            transform="translate(0 -5.19)" />
                                    </svg><a
                                        href="mailto:share-admissions@caerdydd.ac.uk">share-admissions@caerdydd.ac.uk</a>
                                </li>
                                <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                                        <title>Telephone</title>
                                        <path
                                            d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                                            transform="translate(0 -3.09)" />
                                    </svg>+44 (0)29 2087 4929</li>
                            </ul>
                        </div>
                        <!-- PL: 17407 -->







                        <h3>Cyswllt/Cysylltiadau Academaidd</h3>

                        <!-- 1 -->

                        <div class="contact" data-assetid="419249" data-paintlayoutid="17407" data-status="Safe Editing"
                            aria-label="Cyswllt - Dr. Laurence Totelin">
                            <h2 class="contact-title">Dr. Laurence Totelin</h2>
                            <p class="profile-subtitle">Administrative contact</p>
                            <ul class="list list-icons text-sm">
                                <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                                        <title>Email</title>
                                        <path
                                            d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                                            transform="translate(0 -5.19)" />
                                    </svg><a href="mailto:totelinlm@caerdydd.ac.uk">totelinlm@caerdydd.ac.uk</a></li>
                                <li><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                                        <title>Telephone</title>
                                        <path
                                            d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                                            transform="translate(0 -3.09)" />
                                    </svg>+44 029 2087 5631</li>
                            </ul>
                        </div>
                        <!-- PL: 17407 -->




                    </div>
                    <!-- Close col-md-9-->
                    <!--Open span3-->
                    <div class="col-md-3">

                        <div class="box box-calltoaction box-inverse box-apply" aria-label="Gwneud cais">
                            <div class="box-header">
                                <h2 class="box-title" style="margin-bottom:0px;">Gwneud cais</h2>
                            </div>
                            <div class="box-body">

                                <style>
                                    .box-body select {
                                        width: 100%;
                                    }
                                </style>

                                <form id="postgrad-apply-form"
                                    data-codes="RFPDANHC; RFPDANHB; RFPDANHD; RFPDANHA; RFMDANHC; RFMDANHB; RFMDANHD; RFMDANHA; RPPDANHC; RPPDANHB; RPPDANHD; RPPDANHA; RPMDANHC; RPMDANHB; RPMDANHD; RPMDANHA"
                                    class="form-vertical" style="margin-bottom:0px;" aria-label="Apply form">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="form-label" for="drop-down-qualification">Cymhwyster</label>
                                            <div class="controls">
                                                <select id="drop-down-qualification"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="drop-down-mode">Math o astudiaeth</label>
                                            <div class="controls">
                                                <select id="drop-down-mode"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="drop-down-start">Dyddiad dechrau</label>
                                            <div class="controls">
                                                <select id="drop-down-start"></select>
                                            </div>
                                        </div>
                                        <a id="apply-link" href="#" role="button" type="submit"
                                            class="btn btn-success btn-lg">Gwneud cais nawr</a>
                                    </fieldset>
                                </form>


                            </div>
                            <div class="box-footer">
                                <p><a href="https://www.cardiff.ac.uk/study/postgraduate/applying">Polisïau derbyn</a>
                                </p>
                            </div>
                        </div>

                        <div class="box box-calltoaction " data-get-role="" data-assetid="154556"
                            data-paintlayoutid="7149" data-status="Live">
                            <div class="box-header">
                                <!-- PL#1 -->
                                <a href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days"
                                    class="ga-event" data-category="Call to action" data-action="click-image"
                                    data-label="154556 - Diwrnod Agored i Ôl-raddedigion" aria-hidden="true">
                                    <img srcset="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=750&h=422&fit=crop&q=60&auto=format 750w,
                          https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&h=321&fit=crop&q=60&auto=format 570w,
                          https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=350&h=197&fit=crop&q=60&auto=format 350w,
                          https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=268&h=151&fit=crop&q=60&auto=format 268w,
                          https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=218&h=123&fit=crop&q=60&auto=format 218w,
                          https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=164&h=92&fit=crop&q=60&auto=format 164w"
                                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&h=321&fit=crop&q=60&auto=format"
                                        sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 218px, (min-width: 1200px) 268px"
                                        alt="Autumn PG Open Day 2019"
                                        data-srcset="https://cardiff.imgix.net/__data/assets/image/0018/1701315/Autumn-image-for-website.jpg?w=750&h=422&fit=crop&q=60&auto=format 750w,
                          https://cardiff.imgix.net/__data/assets/image/0018/1701315/Autumn-image-for-website.jpg?w=570&h=321&fit=crop&q=60&auto=format 570w,
                          https://cardiff.imgix.net/__data/assets/image/0018/1701315/Autumn-image-for-website.jpg?w=350&h=197&fit=crop&q=60&auto=format 350w,
                          https://cardiff.imgix.net/__data/assets/image/0018/1701315/Autumn-image-for-website.jpg?w=268&h=151&fit=crop&q=60&auto=format 268w,
                          https://cardiff.imgix.net/__data/assets/image/0018/1701315/Autumn-image-for-website.jpg?w=218&h=123&fit=crop&q=60&auto=format 218w,
                          https://cardiff.imgix.net/__data/assets/image/0018/1701315/Autumn-image-for-website.jpg?w=164&h=92&fit=crop&q=60&auto=format 164w"
                                        data-src="https://cardiff.imgix.net/__data/assets/image/0018/1701315/Autumn-image-for-website.jpg?w=570&h=321&fit=crop&q=60&auto=format"
                                        data-sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 218px, (min-width: 1200px) 268px"
                                        class="lazy" alt="Autumn PG Open Day 2019">
                                </a>
                                <h2 class="box-title"><a
                                        href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days"
                                        class="ga-event" data-category="Call to action" data-action="click-title"
                                        data-label="154556 - Diwrnod Agored i Ôl-raddedigion">Diwrnod Agored i
                                        Ôl-raddedigion</a></h2>
                            </div>

                            <div class="box-body">Ymunwch â ni o 10:00 - 15:00 ar ddydd Mercher 4 Rhagfyr i gael rhagor
                                o wybodaeth am astudiaethau ôl-raddedig ym Mhrifysgol Caerdydd.</div>

                            <div class="box-footer">

                                <p><a class="btn btn-sm btn-primary ga-event"
                                        href="https://www.cardiff.ac.uk/study/postgraduate/postgraduate-open-days"
                                        data-category="Call to action" data-action="click-button"
                                        data-label="154556 - Diwrnod Agored i Ôl-raddedigion" aria-hidden="true">Archebu
                                        nawr</a></p>
                            </div>
                        </div>



                        <!-- Start courses -->
                        <div class="box" aria-label="Cyrsiau cysylltiedig">
                            <div class="box-header">
                                <h2 class="box-title">Cyrsiau cysylltiedig</h2>
                            </div>
                            <div id="related-courses" class="box-body">
                                <ul class="list list-links">
                                    <li><a id="browse-school" data-schools="SHARE" href="">Browse by School</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End courses -->

                        <!-- Start related subjects -->
                        <div id="post-grad-related-subjects" class="box" aria-label="Pynciau cysylltiedig">
                            <div class="box-header">
                                <h2 class="box-title">Pynciau cysylltiedig</h2>
                            </div>
                            <div class="box-body">
                                <ul class="list list-links">
                                    <li><a id="related-subject-default"
                                            data-courses="archaeoleg ; hanes ; hanes yr henfyd"
                                            href="https://www.cardiff.ac.uk/study/postgraduate/research/programmes/search">Search
                                            subjects</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End related subjects -->
                        <div class="box" aria-label="Dolenni perthnasol">
                            <div class="box-header">
                                <h2 class="box-title">Dolenni perthnasol</h2>
                            </div>
                            <div class="box-body">
                                <ul class="list list-links">
                                    <li><a href="https://www.cardiff.ac.uk/study/postgraduate/tuition-fees">Ffioedd
                                            dysgu<svg class="icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 19.75 32">
                                                <title>Chevron right</title>
                                                <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z"
                                                    transform="translate(-6.13 0)" />
                                            </svg></a></li>
                                    <li><a
                                            href="https://www.cardiff.ac.uk/study/postgraduate/applying/admissions-criteria">Meini
                                            prawf derbyn<svg class="icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 19.75 32">
                                                <title>Chevron right</title>
                                                <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z"
                                                    transform="translate(-6.13 0)" />
                                            </svg></a></li>
                                    <li><a href="https://www.cardiff.ac.uk/study/international/your-country">Your
                                            country<svg class="icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 19.75 32">
                                                <title>Chevron right</title>
                                                <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z"
                                                    transform="translate(-6.13 0)" />
                                            </svg></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Close col-md-3-->
                </div>
                <!--Close row-->
            </div><!-- close container -->

        </div>
    </div>
</main>