<main class="content" id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-4">
        ${require('../components/search-form/variations/search-form.html')}
        <hr class="mt-50" />
        <h2>A to Z of all courses</h2>
        ${require('../components/dictionary/variations/vertical.html')}
      </div>
    </div>
  </div>
</main>