<main class="content" id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="page-parent">Postgraduate</h1>
        <p class="lead">Be part of a thriving postgraduate community in a university known internationally for outstanding research and teaching.</p>
      </div>
      <div class="col-md-12">
        <div class="search-form with-radio-group">
          <form class="form" method="get" action="/search" id="postgraduate-search-form">
            <input name="form" value="search-en" type="hidden" />

            <div class="form-group">
              <h3 class="form-label mb-20 ">Find a course</h3>
              <div class="search-form-container">
                <div class="radio-btn-group">
                  <div class="radio-option">
                    <input type="radio" value="pg-taught-courses" name="collection" id="pgt-collection" checked />
                    <label for="pgt-collection" class="radio-option-label">Taught</label>
                  </div>
                  <div class="radio-option">
                    <input type="radio" value="pgr-courses" name="collection" id="pgr-collection" /><label
                      for="pgr-collection"
                      class="radio-option-label"
                      >Research</label
                    >
                  </div>
                </div>
                <div class="search-form-query-container">
                  <label class="search-form-label" for="query-with-radio">
                    <span class="sr-only">Search the website</span>
                    ${require-svg('search')}
                  </label>
                  <input
                    type="search"
                    autofocus=""
                    class="search-form-query"
                    name="query-with-radio"
                    id="query-with-radio"
                    placeholder="Search the website"
                    value=""
                  />
                  <a href="#" class="search-form-clear" aria-label="Clear search query">
                    <span aria-hidden="true">${require-svg('close')} </span>
                  </a>
                </div>
              </div>
              <input type="submit" class="btn btn-success d-none d-lg-block col-md-2" value="Search" />
            </div>
          </form>
          <ul class="list list-links list-horizontal mb-0">
            <li>
              <a
                id="related-link-browse-by-az"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z - Undergraduate - Search box"
                >Browse by A-Z</a
              >
            </li>
            <li>
              <a
                id="related-link-browse-by-school"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school - Undergraduate - Search box"
                >Browse by School</a
              >
            </li>
            <li>
              <a
                id="related-link-browse-by-subject"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject - Undergraduate - Search box"
                >Browse by subject</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
