
<div class="container">
  <div class="row">
    <h2>col-lg-12 col-md-9</h2>
    <div class="col-lg-12 col-md-9">
      ${require('../components/quote/variations/rich/with-image.html')}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <h2>col-md-6 col-lg-4</h2>
      ${require('../components/quote/variations/rich/with-image.html')}
    </div>
    <div class="col-md-4 col-lg-6">
      <h2>col-md-4 col-lg-6"</h2>
      ${require('../components/quote/variations/rich/with-image.html')}
    </div>
    <div class="col-md-2 col-lg-2">
      <h2>col-md-2 col-lg-2</h2>
      ${require('../components/quote/variations/rich/with-image.html')}
    </div>
  </div>
</div>


