<main id="content" class="content ">
  <!-- Page layout: None-->
  
  <!-- Start WIIP Master PL -->



<div id="content_container_2434400">

</div>
<!-- Start WIIP Master PL -->



<section aria-labelledby="2434398-news-title">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h2 id="2434398-news-title">News</h2>
    <div class="row">
       <div class="col-md-3">
  <div class="teaser teaser-vertical with-image" aria-labelledby="2219647-news-title" data-assetid="2219647" data-type="" data-schema="news" data-status="Live">
    <figure class="teaser-image"><a href="https://cardiff-dev-web.squiz.cloud/news/view/2219647-ultrasound-simulator-helps-tackle-pandemic"><img class="lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&amp;h=211&fit=crop&q=70" 
        data-src="https://cardiff.imgix.net/__data/assets/image/0010/2220499/Abdomen-scan.jpg?w=376&amp;h=211&fit=crop&q=70"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/2220499/Abdomen-scan.jpg?w=376&amp;h=211&fit=crop&q=70 375w,
          https://cardiff.imgix.net/__data/assets/image/0010/2220499/Abdomen-scan.jpg?w=298&amp;h=168&fit=crop&q=70 298w,
          https://cardiff.imgix.net/__data/assets/image/0010/2220499/Abdomen-scan.jpg?w=227&amp;h=127&fit=crop&q=70 227w,
          https://cardiff.imgix.net/__data/assets/image/0010/2220499/Abdomen-scan.jpg?w=725&amp;h=408&fit=crop&q=70 725w,"
        sizes="(max-width: 768px) 100%, (max-width: 979px) 227px, (max-width: 980px) 298px, (min-width: 1200px) 375px"
        alt="Abdomen scan"/></a></figure>
    <div class="teaser-body">
      <h2 class="teaser-title"><a href="https://cardiff-dev-web.squiz.cloud/news/view/2219647-ultrasound-simulator-helps-tackle-pandemic">Ultrasound simulator helps tackle pandemic</a></h2>
      <p>Cardiff spinout’s simulator trains Nightingale medics</p>
    </div>
  </div>
</div><div class="col-md-3">
  <div class="teaser teaser-vertical with-image" aria-labelledby="1154521-news-title" data-assetid="1154521" data-type="" data-schema="news" data-status="Live">
    <figure class="teaser-image"><a href="https://cardiff-dev-web.squiz.cloud/news/view/1154521-q5-joins-cardiff-medicentre"><img class="lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&amp;h=211&fit=crop&q=70" 
        data-src="https://cardiff.imgix.net/__data/assets/image/0009/1154529/Q5edit.jpg?w=376&amp;h=211&fit=crop&q=70"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0009/1154529/Q5edit.jpg?w=376&amp;h=211&fit=crop&q=70 375w,
          https://cardiff.imgix.net/__data/assets/image/0009/1154529/Q5edit.jpg?w=298&amp;h=168&fit=crop&q=70 298w,
          https://cardiff.imgix.net/__data/assets/image/0009/1154529/Q5edit.jpg?w=227&amp;h=127&fit=crop&q=70 227w,
          https://cardiff.imgix.net/__data/assets/image/0009/1154529/Q5edit.jpg?w=725&amp;h=408&fit=crop&q=70 725w,"
        sizes="(max-width: 768px) 100%, (max-width: 979px) 227px, (max-width: 980px) 298px, (min-width: 1200px) 375px"
        alt="Q5"/></a></figure>
    <div class="teaser-body">
      <h2 class="teaser-title"><a href="https://cardiff-dev-web.squiz.cloud/news/view/1154521-q5-joins-cardiff-medicentre">Q5 joins Cardiff Medicentre</a></h2>
      <p>A business that specialises in the diagnosis of infectious diseases has become a tenant at the medtech and biotech incubator, Cardiff Medicentre</p>
    </div>
  </div>
</div><div class="col-md-3">
  <div class="teaser teaser-vertical with-image" aria-labelledby="1242829-news-title" data-assetid="1242829" data-type="" data-schema="news" data-status="Live">
    <figure class="teaser-image"><a href="https://cardiff-dev-web.squiz.cloud/news/view/1242829-medicentre-hosts-eu-delegates"><img class="lazy"
        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=376&amp;h=211&fit=crop&q=70" 
        data-src="https://cardiff.imgix.net/__data/assets/image/0005/1242833/Manumix.jpg?w=376&amp;h=211&fit=crop&q=70"
        data-srcset="https://cardiff.imgix.net/__data/assets/image/0005/1242833/Manumix.jpg?w=376&amp;h=211&fit=crop&q=70 375w,
          https://cardiff.imgix.net/__data/assets/image/0005/1242833/Manumix.jpg?w=298&amp;h=168&fit=crop&q=70 298w,
          https://cardiff.imgix.net/__data/assets/image/0005/1242833/Manumix.jpg?w=227&amp;h=127&fit=crop&q=70 227w,
          https://cardiff.imgix.net/__data/assets/image/0005/1242833/Manumix.jpg?w=725&amp;h=408&fit=crop&q=70 725w,"
        sizes="(max-width: 768px) 100%, (max-width: 979px) 227px, (max-width: 980px) 298px, (min-width: 1200px) 375px"
        alt="Manumix"/></a></figure>
    <div class="teaser-body">
      <h2 class="teaser-title"><a href="https://cardiff-dev-web.squiz.cloud/news/view/1242829-medicentre-hosts-eu-delegates">Medicentre hosts EU delegates</a></h2>
      <p>Welsh Government shares best practice</p>
    </div>
  </div>
</div><div class="col-md-3">
  <div class="teaser" aria-labelledby="55215-news-title" data-assetid="55215" data-type="" data-schema="news" data-status="Live">
    
    <div class="teaser-body">
      <h2 class="teaser-title"><a href="https://cardiff-dev-web.squiz.cloud/news/view/55215-recognition-for-business-incubator">Recognition for business incubator</a></h2>
      <p>Cardiff Medicentre achieves national standard in business incubation</p>
    </div>
  </div>
</div>
    </div>
    
      <div class="d-flex">
        <!-- <a href="#" class="ml-auto">View all news <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"><title>Chevron right</title><path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"/></svg></a>-->
      </div>
    
  </div>
</div>
</div>
</section>


<!-- PL:  -->
<!-- End WIIP Master PL -->
    <section class="content-group  with-background bg-anakiwa " aria-labelledby="6-section-title"">
      <div class="container">
      <div class="content-toggle gradient-anakiwa" data-read-more-label="Read more about something">
        <div class="row">
          <div class="col-md-8 bg-anakiwa">
              
                  <h2 id="6-section-title">Someheading</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta natus sunt fugit labore, debitis, unde expedita voluptatum doloremque assumenda consequuntur saepe iste error, dolorum eligendi quisquam voluptas odit quibusdam culpa?Atque qui illum, mollitia distinctio odio nulla facilis ipsam nemo vel deleniti iure unde quod at molestiae ea officiis repellat commodi ipsum reiciendis. Sequi sint ut animi provident sapiente dolore.Quidem doloribus dignissimos, aspernatur facere ducimus officia nam! Corporis libero nesciunt voluptas porro cum labore tempore doloribus, deleniti cupiditate, dolorum laborum atque asperiores! Id magni repudiandae perspiciatis eaque eum eveniet.Recusandae ad perspiciatis eos, quod non aperiam et numquam neque accusamus perferendis deserunt labore ab magnam enim eligendi. Necessitatibus nisi laborum illo assumenda suscipit quidem autem, doloribus aperiam sit minus!Culpa deserunt quod accusantium unde nulla magnam necessitatibus aperiam reiciendis. Nam amet, corporis voluptatum nulla rerum, cumque voluptatem nisi iste autem labore voluptates aut aliquam ea accusamus quae perspiciatis accusantium!Debitis excepturi quam blanditiis quas. Vero dolore asperiores recusandae, veritatis autem ex nam quaerat libero ducimus voluptate totam cumque vel animi laudantium amet eum minima quas iste quod deserunt eius!Obcaecati maiores tempore possimus? Eos maiores, iusto iure aliquam itaque reiciendis sit autem voluptatem enim quod temporibus nulla vel harum sapiente accusamus eum? Consequuntur optio doloremque dicta eveniet error commodi.Doloribus modi illo necessitatibus eos magni illum veniam accusamus neque iusto voluptate labore autem dolor quod consequuntur similique, quas qui sapiente enim debitis sed! In, ab nisi? Laborum, soluta dignissimos.Excepturi adipisci laboriosam cumque hic unde ratione ut impedit ex nulla labore ab commodi doloribus quidem fugit odio, autem amet maxime illum rem distinctio. Ab quisquam impedit a odit voluptas!Nam quasi eveniet, quam laboriosam voluptate ducimus vitae. Pariatur possimus veritatis quas velit id perferendis quisquam quaerat vel sequi explicabo, laudantium fugit voluptatem? Veniam nulla repudiandae iusto. Consequatur, non cupiditate?Illo repellat tempora hic veniam velit nobis facilis quaerat ab aspernatur molestias, accusantium eveniet nesciunt architecto maiores incidunt possimus. Nulla necessitatibus eveniet accusamus molestiae velit accusantium quisquam voluptate aperiam odit!Tempore tenetur cum molestias ratione ipsa similique in exercitationem facere sit incidunt, corrupti fugit eaque est odio ut sequi nobis numquam vero reprehenderit. Soluta harum libero amet. Eius, eum autem.
            </div>
              <div class="col-md-4">
                    <figure class="image" data-assetid="Live" data-status="124913">
                      <img class="lazy"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=780&ar=16:9"
                        data-src="https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0020&#x2F;124913&#x2F;Museum.jpg?w=780&ar=16:9" 
                        data-srcset="
                          https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0020&#x2F;124913&#x2F;Museum.jpg?w=780&ar=16:9 780w,
                          https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0020&#x2F;124913&#x2F;Museum.jpg?w=575&ar=16:9 575w,
                          https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0020&#x2F;124913&#x2F;Museum.jpg?w=376&ar=16:9 376w,
                          https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0020&#x2F;124913&#x2F;Museum.jpg?w=300&ar=16:9 300w,
                          https://cardiff.imgix.net&#x2F;__data&#x2F;assets&#x2F;image&#x2F;0020&#x2F;124913&#x2F;Museum.jpg?w=228&ar=16:9 288w"
                        media="(max-width: 768px) 100vw, (min-width: 768px) 288px,  (min-width: 980px) 300px, (min-width: 1200px) 376px"
                        alt="Cardiff University Vice-Chancellor, Professor Colin Riordan, and National Museum Wales Director General, David Anderson in the National Museum, Cardiff"/>
                        <figcaption class="caption">
                          Cardiff University Vice-Chancellor, Professor Colin Riordan, and National Museum Wales Director General, David Anderson in the National Museum, Cardiff
                        </figcaption>
                    </figure>
                  <div class="box bg-white border-0">
                    <div class="box-header">
                      <h3 class="box-title">Related links</h3>
                    </div>
                    <div class="box-body">
                      <ul class="list list-links">
<li><a href="https://cardiff-dev-web.squiz.cloud/cardiff-institute-tissue-engineering-repair">Cardiff Institute for Tissue Engineering and Repair (CITER) <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"><title>Chevron right</title><path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"/></svg></a></li>
<li><a href="https://cardiff-dev-web.squiz.cloud/architecture">Welsh School of Architecture <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"><title>Chevron right</title><path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"/></svg></a></li>

        <li><a href="https://cardiff-dev-web.squiz.cloud/study/undergraduate/courses/2021/biochemistry-with-a-preliminary-year-bsc">Biochemistry with Preliminary Year (BSc) <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32"><title>Chevron right</title><path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"/></svg></a></li>
  </ul>
                    </div>
                  </div>
              </div>
          </div>
        </div>
         
      </div>
    </section>
<div id="content_container_2434541">

</div>


<div class="row mb-4 text-center">
  
  <div class="col-lg-4 mb-4">
      <div class="card h-100">
          <h3 class="card-header h5">Card heading</h3>
          <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
          </div>
          <div class="card-footer">
              <a href="" class="btn btn-primary">Read more</a>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 mb-4">
      <div class="card h-100">
          <h3 class="card-header h5">Card heading</h3>
          <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
          </div>
          <div class="card-footer">
              <a href="" class="btn btn-primary">Read more</a>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 mb-4">
      <div class="card h-100">
          <h3 class="card-header h5">Card heading</h3>
          <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
          </div>
          <div class="card-footer">
              <a href="" class="btn btn-primary">Read more</a>
          </div>
      </div>
  </div>

</div> <!--.row-->People medic



<!-- PL: 1711565 -->

<!-- End WIIP Master PL -->    
  
</main>