<div class="container">
  <div class="row">
    <div class="col-lg-4">
      ${require('../components/teaser/variations/teaser-video.html')}
    </div>
    <div class="col-lg-4">
      ${require('../components/teaser/variations/teaser-video.html')}
    </div>
    <div class="col-lg-4">
      ${require('../components/teaser/variations/teaser-video.html')}
    </div>
  </div>
</div>