<main id="content" class="content">
  <!-- Page layout: Full width-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- EN -->


        <div class="featured-content">
          <div class="row">
            <div class="col-md-12">
              <figure class="featured-content-image image">
                <a
                  href="http://blogs.cardiff.ac.uk/alumni/2016/03/31/100-years-of-roald-dahl-laurence-moroney-bsc-1991/">
                  <img srcset="
                  https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=1170&h=420&q=60&fit=crop&auto=format 1170w,
                  https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=940&h=420&auto=format&fit=crop        940w,
                  https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=704&h=396&q=60&auto=format&fit=crop   704w,
                  https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=502&h=282&auto=format&fit=crop        767w
                " src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=1170&h=420&q=60&fit=crop&auto=format"
                    sizes="(max-width: 767px) 502px, (max-width: 979px) 704px, (max-width: 1199px) 940px, (min-width: 1200px) 1150px"
                    data-srcset="
                        https://cardiff.imgix.net/__data/assets/image/0010/226189/Wen.jpg?w=1170&h=420&q=60&fit=crop&auto=format 1170w,
                        https://cardiff.imgix.net/__data/assets/image/0010/226189/Wen.jpg?w=940&h=420&auto=format&fit=crop 940w,
                        https://cardiff.imgix.net/__data/assets/image/0010/226189/Wen.jpg?w=704&h=396&q=60&auto=format&fit=crop 704w,
                        https://cardiff.imgix.net/__data/assets/image/0010/226189/Wen.jpg?w=502&h=282&auto=format&fit=crop 767w"
                    data-src="https://cardiff.imgix.net/__data/assets/image/0010/226189/Wen.jpg?w=1170&h=420&q=60&fit=crop&auto=format"
                    data-sizes="(max-width: 767px) 502px, (max-width: 979px) 704px, (max-width: 1199px) 940px, (min-width: 1200px) 1150px"
                    class="lazy" alt="Cardiff University receiving the THE Award presented by Rob Brydon" />
                </a>
              </figure>
            </div>
            <div class="col-md-4">
              <h2 class="featured-content-title">
                <a
                  href="http://blogs.cardiff.ac.uk/alumni/2016/03/31/100-years-of-roald-dahl-laurence-moroney-bsc-1991/">EU
                  backing for world-class magnetics research</a>
              </h2>
            </div>
            <div class="col-md-8">
              <p class="featured-content-body">A world-class Cardiff University research centre to develop magnetic
                materials that can drive future energy, power and transport systems will be backed by over £1m of EU
                funds, the Welsh Government has announced.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <!-- courses -->
            <div class="teaser teaser-vertical teaser-large with-image">
              <figure class="teaser-image">
                <a href="https://www.cardiff.ac.uk/chemistry/courses" aria-hidden="true">
                  <img srcset="
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=750&h=422&fit=crop&q=60&auto=format 750w,
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&h=321&fit=crop&q=60&auto=format 570w,
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=270&h=152&fit=crop&q=60&auto=format 270w,
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=220&h=124&fit=crop&q=60&auto=format 220w,
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=166&h=93&fit=crop&q=60&auto=format  166w
            " src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=270&h=152&fit=crop&q=60&auto=format "
                    sizes="(max-width: 767px) 100vw, (max-width: 970px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
                    data-srcset="
            https://cardiff.imgix.net/__data/assets/image/0005/395069/chemistry-student.jpg?w=750&h=422&fit=crop&q=60&auto=format  750w,
            https://cardiff.imgix.net/__data/assets/image/0005/395069/chemistry-student.jpg?w=570&h=321&fit=crop&q=60&auto=format  570w,
            https://cardiff.imgix.net/__data/assets/image/0005/395069/chemistry-student.jpg?w=270&h=152&fit=crop&q=60&auto=format  270w,
            https://cardiff.imgix.net/__data/assets/image/0005/395069/chemistry-student.jpg?w=220&h=124&fit=crop&q=60&auto=format  220w,
            https://cardiff.imgix.net/__data/assets/image/0005/395069/chemistry-student.jpg?w=166&h=93&fit=crop&q=60&auto=format  166w"
                    data-src="https://cardiff.imgix.net/__data/assets/image/0005/395069/chemistry-student.jpg?w=270&h=152&fit=crop&q=60&auto=format "
                    data-sizes="(max-width: 767px) 100vw, (max-width: 970px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
                    class="lazy" alt="Chemistry student in laboratory" />
                </a>
              </figure>
              <div class="teaser-body">
                <h2 class="teaser-title">
                  <a href="https://www.cardiff.ac.uk/chemistry/courses">Courses</a>
                </h2>
                <p>Study chemistry in a modern, dynamic and innovative School for teaching and research.</p>
                <ul class="list list-links">
                  <li><a href="https://www.cardiff.ac.uk/chemistry/courses/undergraduate">Undergraduate<svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a></li>
                  <li><a href="https://www.cardiff.ac.uk/chemistry/courses/postgraduate-taught">Postgraduate taught
                      Masters<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a></li>
                  <li><a href="https://www.cardiff.ac.uk/chemistry/courses/postgraduate-research">Postgraduate
                      research<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <!-- Research -->
            <div class="teaser teaser-vertical teaser-large with-image">
              <figure class="teaser-image">
                <a href="https://www.cardiff.ac.uk/chemistry/research" aria-hidden="true">
                  <img srcset="
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=750&h=422&fit=crop&q=60&auto=format 750w,
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&h=321&fit=crop&q=60&auto=format 570w,
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=270&h=152&fit=crop&q=60&auto=format 270w,
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=220&h=124&fit=crop&q=60&auto=format 220w,
              https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=166&h=93&fit=crop&q=60&auto=format  166w
            " src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=270&h=152&fit=crop&q=60&auto=format "
                    sizes="(max-width: 767px) 100vw, (max-width: 970px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
                    data-srcset="
            https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=750&h=422&fit=crop&q=60&auto=format  750w,
            https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=570&h=321&fit=crop&q=60&auto=format  570w,
            https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=270&h=152&fit=crop&q=60&auto=format  270w,
            https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=220&h=124&fit=crop&q=60&auto=format  220w,
            https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=166&h=93&fit=crop&q=60&auto=format  166w"
                    data-src="https://cardiff.imgix.net/__data/assets/image/0010/476335/26.04.16-mh-Chemistry-Cardiff-Univ-33.JPG?w=270&h=152&fit=crop&q=60&auto=format "
                    data-sizes="(max-width: 767px) 100vw, (max-width: 970px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 270px"
                    class="lazy" alt="Close-up of green liquids in glass phials" />
                </a>
              </figure>
              <div class="teaser-body">
                <h2 class="teaser-title">
                  <a href="https://www.cardiff.ac.uk/chemistry/research">Research</a>
                </h2>
                <p>We are committed to tackling important scientific challenges of the 21st century through
                  internationally leading research.</p>
                <ul class="list list-links">
                  <li><a href="https://www.cardiff.ac.uk/chemistry/research/impact">Impact<svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a></li>
                  <li><a href="https://www.cardiff.ac.uk/chemistry/research/sections">Sections<svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a></li>
                  <li><a href="https://www.cardiff.ac.uk/chemistry/research/facilities">Facilities<svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                        <title>Chevron right</title>
                        <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
                      </svg></a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <!--Highlights-->

            <div class="teaser with-image" data-assetid="19537" data-paintlayoutid="7149" data-status="Live">
              <figure class="teaser-image" style="width:170px;">
                <a href="https://www.cardiff.ac.uk/chemistry/about-us/business" aria-hidden="true">
                  <img
                    srcset="https://cardiff.imgix.net/__data/assets/image/0011/476336/26.04.16-mh-Chemistry-Cardiff-Univ-64.JPG?w=250&h=141&fit=crop&q=60&auto=format 250w,
                 https://cardiff.imgix.net/__data/assets/image/0011/476336/26.04.16-mh-Chemistry-Cardiff-Univ-64.JPG?w=170&h=96&fit=crop&q=60&auto=format 170w"
                    src="https://cardiff.imgix.net/__data/assets/image/0011/476336/26.04.16-mh-Chemistry-Cardiff-Univ-64.JPG?w=170&h=96&fit=crop&q=60&auto=format"
                    sizes="(max-width: 350px) 100vw, 170px" alt="Female researcher in laboratory">
                </a>
              </figure>
              <div class="teaser-body">
                <h2 class="teaser-title"><a href="https://www.cardiff.ac.uk/chemistry/about-us/business">Working with
                    business</a></h2>
                <p>Use our expertise, extensive facilities and research services to give your business that competitive
                  edge.</p>
              </div>
            </div>

            <!-- PL: 7149 -->
            <div class="teaser with-image" data-assetid="18199" data-paintlayoutid="7149" data-status="Live">
              <figure class="teaser-image" style="width:170px;">
                <a href="https://www.cardiff.ac.uk/chemistry/engagement" aria-hidden="true">
                  <img
                    srcset="https://cardiff.imgix.net/__data/assets/image/0008/476504/14.09.16-mh-Stem-Live-Cardiff-Univ-41.JPG?w=250&h=141&fit=crop&q=60&auto=format 250w,
                 https://cardiff.imgix.net/__data/assets/image/0008/476504/14.09.16-mh-Stem-Live-Cardiff-Univ-41.JPG?w=170&h=96&fit=crop&q=60&auto=format 170w"
                    src="https://cardiff.imgix.net/__data/assets/image/0008/476504/14.09.16-mh-Stem-Live-Cardiff-Univ-41.JPG?w=170&h=96&fit=crop&q=60&auto=format"
                    sizes="(max-width: 350px) 100vw, 170px" alt="School pupils at the STEM Live engagement event">
                </a>
              </figure>
              <div class="teaser-body">
                <h2 class="teaser-title"><a href="https://www.cardiff.ac.uk/chemistry/engagement">Engagement</a></h2>
                <p>Take part in exciting demonstrations and interesting public lectures through our outreach programme.
                </p>
              </div>
            </div>

            <!-- PL: 7149 -->
            <div class="teaser with-image" data-assetid="22559" data-paintlayoutid="7149" data-status="Live">
              <figure class="teaser-image" style="width:170px;">
                <a href="https://www.cardiff.ac.uk/chemistry/about-us/international" aria-hidden="true">
                  <img
                    srcset="https://cardiff.imgix.net/__data/assets/image/0006/476331/26.04.16-mh-Chemistry-Cardiff-Univ-32-crop.jpg?w=250&h=141&fit=crop&q=60&auto=format 250w,
                 https://cardiff.imgix.net/__data/assets/image/0006/476331/26.04.16-mh-Chemistry-Cardiff-Univ-32-crop.jpg?w=170&h=96&fit=crop&q=60&auto=format 170w"
                    src="https://cardiff.imgix.net/__data/assets/image/0006/476331/26.04.16-mh-Chemistry-Cardiff-Univ-32-crop.jpg?w=170&h=96&fit=crop&q=60&auto=format"
                    sizes="(max-width: 350px) 100vw, 170px" alt="Undergraduate students in a laboratory">
                </a>
              </figure>
              <div class="teaser-body">
                <h2 class="teaser-title"><a
                    href="https://www.cardiff.ac.uk/chemistry/about-us/international">International students</a></h2>
                <p>Join our flourishing international community and study with motivated students from around the world.
                </p>
              </div>
            </div>

            <!-- PL: 7149 -->
          </div>

          <div class="col-md-12">
            <hr>
            <div class="row">
              <div class="col-md-9">
                <div class="box box-quote with-icon">
                  <div class="box-header"> <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24">
                      <title>Right quote</title>
                      <path
                        d="M0,28V16A12,12,0,0,1,12,4V8a8,8,0,0,0-8,8h8V28H0Zm20,0V16A12,12,0,0,1,32,4V8a8,8,0,0,0-8,8h8V28H20Z"
                        transform="translate(0 -4)" />
                    </svg> </div>
                  <figure class="quote">
                    <blockquote class="quote-body">
                      <p>This is a test quote to test the conditional statements.</p>
                    </blockquote>
                    <figcaption class="quote-author"> Wesley Aelbrecht <cite class="quote-source">Lecturer in the
                        History and Theory of Architecture</cite> </figcaption>
                  </figure>
                </div>
                <div class="row mt-40">
                  <!-- News -->
                  <div class="col-md-12">
                    <h2><a href="https://wwwstaging.cardiff.ac.uk/ui-kit-testing/homepage/chemistry/news">News</a></h2>
                  </div>
                  <div class="col-md-7">
                    <div class="teaser with-image">
                      <figure class="teaser-image" style="width:170px;">
                        <a
                          href="https://www.cardiff.ac.uk/news/view/1702721-platinum-breakthrough-for-cleaner-and-cheaper-catalysts">
                          <img
                            srcset="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=250&h=141&fit=crop&q=60&auto=format 250w,
               https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=170&h=96&fit=crop&q=60&auto=format 170w"
                            src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=170&h=96&fit=crop&q=60&auto=format"
                            sizes="(max-width: 350px) 100vw, 170px" alt="Platinum"
                            data-srcset="https://cardiff.imgix.net/__data/assets/image/0008/1702772/GettyImages-878599594.jpg?w=250&h=141&fit=crop&q=60&auto=format 250w,
               https://cardiff.imgix.net/__data/assets/image/0008/1702772/GettyImages-878599594.jpg?w=170&h=96&fit=crop&q=60&auto=format 170w"
                            data-src="https://cardiff.imgix.net?w=170&h=96&fit=crop&q=60&auto=format"
                            data-sizes="(max-width: 350px) 100vw, 170px" class="lazy" alt="Platinum">
                        </a>
                      </figure>
                      <div class="teaser-body">
                        <h2 class="teaser-title"><a
                            href="https://www.cardiff.ac.uk/news/view/1702721-platinum-breakthrough-for-cleaner-and-cheaper-catalysts">Platinum
                            breakthrough for cleaner and cheaper catalysts</a></h2>
                        <!--p class="teaser-date">15 October 2019</p-->
                        <p class="teaser-date">15 October 2019</p>
                        <p>New process could reduce the costs of producing everyday items such as petrol,
                          pharmaceuticals and fertilisers</p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-5">
                    <div class="teaser teaser-small">
                      <div class="teaser-body">
                        <h2 class="teaser-title"><a
                            href="https://www.cardiff.ac.uk/news/view/1587134-breakthrough-in-harnessing-the-power-of-biological-catalysts">Breakthrough
                            in harnessing the power of biological catalysts</a></h2>
                        <!--p class="teaser-date">16 September 2019</p-->
                        <p class="teaser-date">16 September 2019</p>
                      </div>
                    </div>

                    <!-- PL: 18333 -->


                    <div class="teaser teaser-small">
                      <div class="teaser-body">
                        <h2 class="teaser-title"><a
                            href="https://www.cardiff.ac.uk/news/view/1539595-eu-backing-for-world-class-magnetics-research">EU
                            backing for world-class magnetics research </a></h2>
                        <!--p class="teaser-date">24 July 2019</p-->
                        <p class="teaser-date">24 July 2019</p>
                      </div>
                    </div>

                    <!-- PL: 18333 -->


                    <div class="teaser teaser-small">
                      <div class="teaser-body">
                        <h2 class="teaser-title"><a
                            href="https://www.cardiff.ac.uk/news/view/1526039-mars-mission-for-250-pupils">Mars mission
                            for 250 pupils</a></h2>
                        <!--p class="teaser-date">05 July 2019</p-->
                        <p class="teaser-date">5 July 2019</p>
                      </div>
                    </div>

                    <!-- PL: 18333 -->

                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <!-- Feature -->
                <div class="box box-calltoaction" data-get-role="" data-assetid="782223" data-paintlayoutid="7149"
                  data-status="Live">
                  <div class="box-header">
                    <a href="https://autumn-open-days.eventbrite.co.uk" class="ga-event" data-category="Call to action"
                      data-action="click-image" data-label="782223 - Attend our next Open Day" aria-hidden="true">
                      <img
                        srcset="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=750&h=422&fit=crop&q=60&auto=format 750w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&h=321&fit=crop&q=60&auto=format 570w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=350&h=197&fit=crop&q=60&auto=format 350w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=268&h=151&fit=crop&q=60&auto=format 268w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=218&h=123&fit=crop&q=60&auto=format 218w,
                    https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=164&h=92&fit=crop&q=60&auto=format 164w"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&h=321&fit=crop&q=60&auto=format"
                        sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 218px, (min-width: 1200px) 268px"
                        alt="Main Building "
                        data-srcset="https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=750&h=422&fit=crop&q=60&auto=format 750w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=570&h=321&fit=crop&q=60&auto=format 570w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=350&h=197&fit=crop&q=60&auto=format 350w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=268&h=151&fit=crop&q=60&auto=format 268w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=218&h=123&fit=crop&q=60&auto=format 218w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=164&h=92&fit=crop&q=60&auto=format 164w"
                        data-src="https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=570&h=321&fit=crop&q=60&auto=format"
                        data-sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 218px, (min-width: 1200px) 268px"
                        class="lazy" alt="Main Building ">
                    </a>
                    <h2 class="box-title"><a href="https://autumn-open-days.eventbrite.co.uk" class="ga-event"
                        data-category="Call to action" data-action="click-title"
                        data-label="782223 - Attend our next Open Day">Come to our next Open Day</a></h2>
                  </div>
                  <div class="box-body">Explore our campus, facilities and city. Meet our staff and students and get a
                    real feel for studying and living in Cardiff at our Open Day on Saturday 26 October 2019.</div>
                  <div class="box-footer">
                    <p><a class="btn btn-sm btn-primary ga-event" href="https://autumn-open-days.eventbrite.co.uk"
                        data-category="Call to action" data-action="click-button"
                        data-label="782223 - Attend our next Open Day" aria-hidden="true">Book your place</a></p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>