<div class="content">
  <div class="content-group">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="colour-red">School of Chemistry</h1>
          <p class="lead">Our internationally recognised research and education is focused on tackling the important
            scientific challenges of the 21st century.</p>
          <hr>
          ${require('../components/featured-content/featured-content.html')}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            ${require('../components/teaser/variations/teaser-vertical-with-list.html')}
          </div>
          <div class="col-md-6">
            ${require('../components/teaser/variations/teaser-vertical-with-list.html')}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <figure class="video">
          <div class="video-body">
            <iframe
              src="https://www.youtube.com/embed/9XwENG7DmUU?rel=0&enablejsapi=1&origin=https%3A%2F%2Fwww.cardiff.ac.uk"
              title="" allow="fullscreen"></iframe>
          </div>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        ${require('../components/teaser/variations/teaser-image.html')}
      </div>
      <div class="col-md-4">
        ${require('../components/teaser/variations/teaser-image.html')}
      </div>
      <div class="col-md-4">
        ${require('../components/teaser/variations/teaser-image.html')}
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-9">
        ${require('../components/box/variations/box-quote.html')}
        <div class="row mt-40">
          <div class="col-md-12">
            <h2><a href="#">News</a></h2>
          </div>
          <div class="col-md-6">
            ${require('../components/teaser/variations/teaser-image.html')}
          </div>
          <div class="col-md-6">
            ${require('../components/teaser/variations/teaser-small.html')}
            ${require('../components/teaser/variations/teaser-small.html')}
            ${require('../components/teaser/variations/teaser-small.html')}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        ${require('../components/box/variations/box-calltoaction.html')}
      </div>
    </div>
  </div>
</div>