<main class="content" id="content">
  <div class="progress-set" data-type="time-spent">
    <form>
      <div class="row">
        <div class="col-md-3"><select class="form-control progress-filter" aria-label=""></select></div>
      </div>
    </form>
    <div class="progress-group" data-year="1">
      <h3>Year 1</h3>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Scheduled learning and teaching activities</p>
        <div class="progress progress-group-item-bar">
          <div class="progress-bar bg-affair" style="width: 23%;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="23"></div>
        </div>
        <p class="progress-group-item-indicator">23%</p>
      </div>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Guided independent study</p>
        <div class="progress progress-group-item-bar">
          <div class="progress-bar bg-cerise" style="width: 77%;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="77"></div>
        </div>
        <p class="progress-group-item-indicator">77%</p>
      </div>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Placements</p>
        <div class="progress progress-group-item-bar">
          <div
            class="progress-bar bg-ocean-green"
            style="width: 0%;"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            aria-valuenow="0"
          ></div>
        </div>
        <p class="progress-group-item-indicator">0%</p>
      </div>
    </div>
    <div class="progress-group" data-year="2">
      <h3>Year 2</h3>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Scheduled learning and teaching activities</p>
        <div class="progress progress-group-item-bar">
          <div class="progress-bar bg-affair" style="width: 25%;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25"></div>
        </div>
        <p class="progress-group-item-indicator">25%</p>
      </div>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Guided independent study</p>
        <div class="progress progress-group-item-bar">
          <div class="progress-bar bg-cerise" style="width: 75%;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75"></div>
        </div>
        <p class="progress-group-item-indicator">75%</p>
      </div>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Placements</p>
        <div class="progress progress-group-item-bar">
          <div
            class="progress-bar bg-ocean-green"
            style="width: 0%;"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            aria-valuenow="0"
          ></div>
        </div>
        <p class="progress-group-item-indicator">0%</p>
      </div>
    </div>
    <div class="progress-group" data-year="3">
      <h3>Year 3</h3>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Scheduled learning and teaching activities</p>
        <div class="progress progress-group-item-bar">
          <div class="progress-bar bg-affair" style="width: %;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow=""></div>
        </div>
        <p class="progress-group-item-indicator">%</p>
      </div>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Guided independent study</p>
        <div class="progress progress-group-item-bar">
          <div class="progress-bar bg-cerise" style="width: %;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow=""></div>
        </div>
        <p class="progress-group-item-indicator">%</p>
      </div>
      <div class="progress-group-item">
        <p class="progress-group-item-title">Placements</p>
        <div class="progress progress-group-item-bar">
          <div class="progress-bar bg-ocean-green" style="width: %;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow=""></div>
        </div>
        <p class="progress-group-item-indicator">%</p>
      </div>
    </div>
  </div>
</main>

<script>
  $(document).ready(function() {
    $(document).on('click', '.module-information', function(e) {
      e.preventDefault();
      $('.modal-header')
        .empty()
        .html('<p>Loading module information.<p>');
      $('.modal-header').load('/study/feeds/module-information?module=' + $(this).attr('data-module') + '/' + $(this).attr('data-occurrence'));
      $('#moduleInformation').modal();
    });
    $('#moduleInformation').on('show', function() {
      $('body').addClass('modal-open');
    });
    $('#moduleInformation').on('hide', function() {
      $('body').removeClass('modal-open');
    });
  });
</script>
