<main id="content" class="content ">
  <!-- Page layout: None-->

  <!-- Start WIIP Master PL -->



  <div id="content_container_2434940">

  </div>

  <section class="content-group with-background " aria-labelledby="2434948-school-people-title">
    <div class="container">

      <div class="row">
        <div class="col-lg-10">
          <h2 id="2434948-school-people-title">People</h2>
        </div>


        <div class="col-md-6">


          <div id="profile-1254522" class="profile profile-student with-image vcard" data-assetid="1254522"
            data-paintlayoutid="1715030" data-status="Safe Editing">
            <figure class="profile-image photo"><a
                href="https://cardiff-dev-web.squiz.cloud/people/view/1254522-aelbrecht-wesley"><img
                  class="rounded-circle lazy"
                  data-src="https://cardiff.imgix.nethttps://squiz.cardiff.ac.uk/__data/assets/image/0010/1345879/wesley-aelbrecht.jpg?w=120&h=120&auto=format&crop=faces&fit=crop"
                  src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=120&h=120&auto=format&crop=faces&fit=crop"
                  alt="Wesley Aelbrecht" /></a></figure>
            <h2 class="profile-title fn"><a
                href="https://cardiff-dev-web.squiz.cloud/people/view/1254522-aelbrecht-wesley">Wesley Aelbrecht</a>
            </h2>
            <p class="profile-subtitle">Lecturer in the History and Theory of Architecture</p>
            <dl class="profile-contact">
              <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                  <title>Email</title>
                  <path
                    d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                    transform="translate(0 -5.19)" />
                </svg></dt>
              <dd><a href="mailto:AelbrechtW@cardiff.ac.uk">aelbrechtw@cardiff.ac.uk</a></dd>
              <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                  <title>Telephone</title>
                  <path
                    d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                    transform="translate(0 -3.09)" />
                </svg></dt>
              <dd class="profile-contact-telephone" title="" data-original-title="+44 029 2087 5962">+44 029 2087 5962
              </dd>
            </dl>
          </div>

          <!-- PL: 1715030 -->


        </div>

        <div class="d-none d-lg-flex col-lg-6  border-left border-silver ">
          <ul class="list list-links mb-0  pl-30 ">
            <li>
              <a href="https:&#x2F;&#x2F;cardiff-dev-web.squiz.cloud&#x2F;dentistry&#x2F;people&#x2F;key-contacts">Key
                contacts</a>
              <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                <title>Chevron right</title>
                <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
              </svg>
            </li>
          </ul>
        </div>

        <div class="d-lg-none col-12 mt-20  border-top border-silver ">
          <ul class="list list-links mb-0  mt-40 ">
            <li>
              <a href="https:&#x2F;&#x2F;cardiff-dev-web.squiz.cloud&#x2F;dentistry&#x2F;people&#x2F;key-contacts">Key
                contacts</a>
              <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                <title>Chevron right</title>
                <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>//meet the team

  //codirectors
  //their profiles

  //academic staff
  //one row of profiles
  //the collapse class arrow thing

  //research staff
  //their profiles

  //view less arrow




  <section class="content-group with-background " aria-labelledby="5-school-people-title">

    <div class="container">
      <div class="content-toggle content-toggle--left gradient-wild-sand" data-read-more-label="View more team members"
        data-read-less-label="view less team members">

        <div class="row">
          <div class="col-lg-10">
            <h2 id="5-school-meet-the-team-title">Meet the team</h2>
          </div>

          <h3>Co-directors</h3>



          <div class="col-md-12">

            <div class="row">


              <div class="col-lg-4">
                <div id="profile-1254522" class="profile profile-student with-image vcard" data-assetid="1254522"
                  data-paintlayoutid="1715030" data-status="Safe Editing">
                  <figure class="profile-image photo"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254522-aelbrecht-wesley"><img
                        class="rounded-circle lazy"
                        data-src="https://cardiff.imgix.nethttps://squiz.cardiff.ac.uk/__data/assets/image/0010/1345879/wesley-aelbrecht.jpg?w=120&h=120&auto=format&crop=faces&fit=crop"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=120&h=120&auto=format&crop=faces&fit=crop"
                        alt="Wesley Aelbrecht" /></a></figure>
                  <h2 class="profile-title fn"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254522-aelbrecht-wesley">Wesley
                      Aelbrecht</a></h2>
                  <p class="profile-subtitle">Lecturer in the History and Theory of Architecture</p>
                  <dl class="profile-contact">
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                        <title>Email</title>
                        <path
                          d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                          transform="translate(0 -5.19)" />
                      </svg></dt>
                    <dd><a href="mailto:AelbrechtW@cardiff.ac.uk">aelbrechtw@cardiff.ac.uk</a></dd>
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                        <title>Telephone</title>
                        <path
                          d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                          transform="translate(0 -3.09)" />
                      </svg></dt>
                    <dd class="profile-contact-telephone" title="" data-original-title="+44 029 2087 5962">+44 029 2087
                      5962</dd>
                  </dl>
                </div>

                <!-- PL: 1715030 -->
              </div>
              <div class="col-lg-4">
                <div id="profile-1254497" class="profile profile-student with-image vcard" data-assetid="1254497"
                  data-paintlayoutid="1715030" data-status="Live">
                  <figure class="profile-image photo"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254497-coombs-steve"><img
                        class="rounded-circle lazy"
                        data-src="https://cardiff.imgix.nethttps://squiz.cardiff.ac.uk/__data/assets/image/0004/1347934/steve-coombs.jpg?w=120&h=120&auto=format&crop=faces&fit=crop"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=120&h=120&auto=format&crop=faces&fit=crop"
                        alt="Dr Steve Coombs" /></a></figure>
                  <h2 class="profile-title fn"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254497-coombs-steve">Dr Steve Coombs</a>
                  </h2>
                  <p class="profile-subtitle">Director of Undergraduate Teaching | Year 5 chair</p>
                  <dl class="profile-contact">
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                        <title>Email</title>
                        <path
                          d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                          transform="translate(0 -5.19)" />
                      </svg></dt>
                    <dd><a href="mailto:coombss@cardiff.ac.uk">coombss@cardiff.ac.uk</a></dd>
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                        <title>Telephone</title>
                        <path
                          d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                          transform="translate(0 -3.09)" />
                      </svg></dt>
                    <dd class="profile-contact-telephone" title="" data-original-title="+44 (0)29 2087 5972">+44 (0)29
                      2087 5972</dd>
                  </dl>
                </div>

                <!-- PL: 1715030 -->
              </div>
              <div class="col-lg-4">
                <div id="profile-1254492" class="profile profile-student with-image vcard" data-assetid="1254492"
                  data-paintlayoutid="1715030" data-status="Live">
                  <figure class="profile-image photo"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254492-ruiz-del-portal-sanz-angela"><img
                        class="rounded-circle lazy"
                        data-src="https://cardiff.imgix.nethttps://squiz.cardiff.ac.uk/__data/assets/image/0008/1347893/angela-ruiz-del-portal.jpg?w=120&h=120&auto=format&crop=faces&fit=crop"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=120&h=120&auto=format&crop=faces&fit=crop"
                        alt="Angela Ruiz del Portal Sanz" /></a></figure>
                  <h2 class="profile-title fn"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254492-ruiz-del-portal-sanz-angela">Angela
                      Ruiz del Portal Sanz</a></h2>
                  <p class="profile-subtitle">Teacher in Sustainable and Urban Design</p>
                  <dl class="profile-contact">
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                        <title>Email</title>
                        <path
                          d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                          transform="translate(0 -5.19)" />
                      </svg></dt>
                    <dd><a href="mailto:ruizdelportala@cardiff.ac.uk">ruizdelportala@cardiff.ac.uk</a></dd>
                  </dl>
                </div>

                <!-- PL: 1715030 -->
              </div>
              <div class="col-lg-4">
                <div id="profile-1254490" class="profile profile-student with-image vcard" data-assetid="1254490"
                  data-paintlayoutid="1715030" data-status="Live">
                  <figure class="profile-image photo"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254490-hardy-adam"><img
                        class="rounded-circle lazy"
                        data-src="https://cardiff.imgix.nethttps://squiz.cardiff.ac.uk/__data/assets/image/0007/1345858/adam-hardy.jpg?w=120&h=120&auto=format&crop=faces&fit=crop"
                        src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=120&h=120&auto=format&crop=faces&fit=crop"
                        alt="Professor Adam Hardy" /></a></figure>
                  <h2 class="profile-title fn"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254490-hardy-adam">Professor Adam Hardy</a>
                  </h2>
                  <p class="profile-subtitle">Emeritus Professor</p>
                  <dl class="profile-contact">
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                        <title>Email</title>
                        <path
                          d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                          transform="translate(0 -5.19)" />
                      </svg></dt>
                    <dd><a href="mailto:hardya@cardiff.ac.uk">hardya@cardiff.ac.uk</a></dd>
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 25.81">
                        <title>Telephone</title>
                        <path
                          d="M31.63,7.91a1.87,1.87,0,0,1,.28.56,2.34,2.34,0,0,1,.09.59v5.81a0.39,0.39,0,0,1-.16.38,0.69,0.69,0,0,1-.44.06l-6.78-2.09a0.9,0.9,0,0,1-.44-0.34,0.77,0.77,0,0,1-.19-0.5V10.22a0.87,0.87,0,0,0,0-.28,1.93,1.93,0,0,0-.22-0.59,1.33,1.33,0,0,0-.53-0.47A6.16,6.16,0,0,0,22,8.31a18.25,18.25,0,0,0-6-.81,17.86,17.86,0,0,0-6,.81,5.72,5.72,0,0,0-1.22.56l-0.34.25a2,2,0,0,0-.31.5,1.45,1.45,0,0,0-.12.59v2.53a1,1,0,0,1-.16.5,0.83,0.83,0,0,1-.44.31L0.59,15.34a0.45,0.45,0,0,1-.41-0.06A0.43,0.43,0,0,1,0,14.88V9.06A2.56,2.56,0,0,1,.12,8.47,1.87,1.87,0,0,1,.37,7.91l0.78-.75A9.75,9.75,0,0,1,3.72,5.5C6.12,4.28,10,3.09,16,3.09a31.45,31.45,0,0,1,7.47.75c4,1,6.38,2.31,7.41,3.31Zm-8.25,7.47,5.56,5.25a4.12,4.12,0,0,1,.72,1A3.05,3.05,0,0,1,30,22.84l0.28,4.75a1.23,1.23,0,0,1-.31.94,1.25,1.25,0,0,1-.91.38H2.94A1.15,1.15,0,0,1,2,28.53a1.39,1.39,0,0,1-.34-0.94L2,22.84a3.89,3.89,0,0,1,.37-1.22,3.34,3.34,0,0,1,.69-1l5.56-5.25A2.18,2.18,0,0,1,9.16,15a3.06,3.06,0,0,0,.34-0.16c0.09,0,.22-0.09.34-0.12l0.84-3.75A1.87,1.87,0,0,1,11.28,10a1.68,1.68,0,0,1,1-.34h7.44a1.68,1.68,0,0,1,1,.34,2,2,0,0,1,.59.94l0.84,3.75c0.13,0,.25.09,0.38,0.13a4.88,4.88,0,0,1,.59.38ZM16,26.69a6.51,6.51,0,1,0-4.53-1.91A6.48,6.48,0,0,0,16,26.69Zm-4.22-6.47A4.21,4.21,0,0,1,16,16a4.41,4.41,0,0,1,3,1.22,4.34,4.34,0,0,1,1.22,3,4.17,4.17,0,0,1-1.22,3,4.3,4.3,0,0,1-3,1.25A4.27,4.27,0,0,1,11.75,20.22Z"
                          transform="translate(0 -3.09)" />
                      </svg></dt>
                    <dd class="profile-contact-telephone" title="" data-original-title="+44 (0)29 2087 5982">+44 (0)29
                      2087 5982</dd>
                  </dl>
                </div>

                <!-- PL: 1715030 -->
              </div>
              <div class="col-lg-4">
                <div id="profile-1254602" class="profile profile-student with-image vcard" data-assetid="1254602"
                  data-paintlayoutid="1715030" data-status="Live">
                  <figure class="profile-image photo"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254602-bidgood-juliet"
                      aria-label="Juliet Bidgood"><img class="rounded-circle"
                        src="https://cardiff.imgix.nethttps://squiz.cardiff.ac.uk/__data/assets/image/0014/10841/no-profile.jpg?w=120&h=120&auto=format&fit=crop"
                        alt="Juliet Bidgood" /></a></figure>
                  <h2 class="profile-title fn"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254602-bidgood-juliet">Juliet Bidgood</a>
                  </h2>
                  <p class="profile-subtitle">External Practitioner</p>
                  <dl class="profile-contact">
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                        <title>Email</title>
                        <path
                          d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                          transform="translate(0 -5.19)" />
                      </svg></dt>
                    <dd><a href="mailto:BidgoodJ3@cardiff.ac.uk">bidgoodj3@cardiff.ac.uk</a></dd>
                  </dl>
                </div>

                <!-- PL: 1715030 -->
              </div>
              <div class="col-lg-4">
                <div id="profile-1254601" class="profile profile-student with-image vcard" data-assetid="1254601"
                  data-paintlayoutid="1715030" data-status="Live">
                  <figure class="profile-image photo"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254601-rajah-pike-rebecca"
                      aria-label="Rebecca Rajah Pike"><img class="rounded-circle"
                        src="https://cardiff.imgix.nethttps://squiz.cardiff.ac.uk/__data/assets/image/0014/10841/no-profile.jpg?w=120&h=120&auto=format&fit=crop"
                        alt="Rebecca Rajah Pike" /></a></figure>
                  <h2 class="profile-title fn"><a
                      href="https://cardiff-dev-web.squiz.cloud/people/view/1254601-rajah-pike-rebecca">Rebecca Rajah
                      Pike</a></h2>
                  <p class="profile-subtitle">External Practitioner</p>
                  <dl class="profile-contact">
                    <dt><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21.66">
                        <title>Email</title>
                        <path
                          d="M11.88,14.28l-10.5-9a0.19,0.19,0,0,1,.13,0,0.34,0.34,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.19,0.19,0,0,0,.13,0l28.19,0a0.1,0.1,0,0,1,.13,0,0.24,0.24,0,0,0,.16,0,0.19,0.19,0,0,1,.13,0,0.1,0.1,0,0,0,.13,0l-10.5,9L16,17.63v0Zm-1.34,1.19L0.13,25.53a0.61,0.61,0,0,0-.06-0.19,0.15,0.15,0,0,1,0-.12V25.06a0.29,0.29,0,0,1,0-.19V7A1.12,1.12,0,0,1,.06,6.69a0.24,0.24,0,0,0,0-.16v0ZM31.94,6.69A1.18,1.18,0,0,1,32,7V25.22c0,0.09-.09.19-0.13,0.28v0L21.47,15.47,31.91,6.56a0.24,0.24,0,0,0,0,.13h0ZM20.06,16.59L30.59,26.75a0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0v0l-28.19,0a0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0,0.1,0.1,0,0,1-.12,0,0.19,0.19,0,0,0-.12,0L11.94,16.63,16,19.94Z"
                          transform="translate(0 -5.19)" />
                      </svg></dt>
                    <dd><a href="mailto:CoombsV1@cardiff.ac.uk">coombsv1@cardiff.ac.uk</a></dd>
                  </dl>
                </div>

                <!-- PL: 1715030 -->
              </div>


            </div>

          </div>



          <div class="col-md-6">


            <div class="col-lg-12">
              <div class="profile profile-small profile-staff with-image vcard" data-assetid="1254522"
                data-paintlayoutid="1715030" data-status="Safe Editing">
                <figure class="profile-image photo"><a
                    href="https://cardiff-dev-web.squiz.cloud/people/view/1254522-aelbrecht-wesley"><img
                      class="rounded-circle lazy"
                      data-src="https://cardiff.imgix.nethttps://squiz.cardiff.ac.uk/__data/assets/image/0010/1345879/wesley-aelbrecht.jpg?w=40&h=40&auto=format&crop=faces&fit=crop&q=40"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=40&h=40&auto=format&crop=faces&fit=crop&q=40"
                      alt="Wesley Aelbrecht" /></a></figure>
                <p class="profile-title fn"><a
                    href="https://cardiff-dev-web.squiz.cloud/people/view/1254522-aelbrecht-wesley">Wesley Aelbrecht</a>
                </p>
                <p class="profile-subtitle">Lecturer in the History and Theory of Architecture</p>
              </div>

              <!-- PL: 1715030 -->
            </div>


          </div>

        </div>

      </div>

    </div>



    </div>
  </section>
  <section class="content-group  with-background bg-mauve " aria-labelledby="17-section-title"
    id="content_container_2435016">
    <div class="container">
      <div class="content-toggle gradient-mauve" data-read-more-label="Read more" data-read-less-label="Show less">
        <div class="row">
          <div class="col-md-9 bg-mauve">

            <h2 id="17-section-title"></h2>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
              and I will give you a complete account of the system, and expound the actual teachings of the great
              explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
              itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally
              encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or
              desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in
              which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever
              undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to
              find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids
              a pain that produces no resultant pleasure?But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you a complete account of the system, and
              expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No
              one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
              know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
              there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because
              occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a
              trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
              from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
              annoying consequences, or one who avoids a pain that produces no resultant pleasure?But I must explain to
              you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a
              complete account of the system, and expound the actual teachings of the great explorer of the truth, the
              master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
              pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that
              are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
              because it is pain, but because occasionally circumstances occur in which toil and pain can procure him
              some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise,
              except to obtain some advantage from it? But who has any right to find fault with a man who chooses to
              enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant
              pleasure?But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
              born and I will give you a complete account of the system, and expound the actual teachings of the great
              explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
              itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally
              encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or
              desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in
              which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever
              undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to
              find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids
              a pain that produces no resultant pleasure?But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you a complete account of the system, and
              expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No
              one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
              know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
              there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because
              occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a
              trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
              from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
              annoying consequences, or one who avoids a pain that produces no resultant pleasure?But I must explain to
              you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a
              complete account of the system, and expound the actual teachings of the great explorer of the truth, the
              master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
              pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that
              are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
              because it is pain, but because occasionally circumstances occur in which toil and pain can procure him
              some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise,
              except to obtain some advantage from it? But who has any right to find fault with a man who chooses to
              enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant
              pleasure?But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
              born and I will give you a complete account of the system, and expound the actual teachings of the great
              explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
              itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally
              encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or
              desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in
              which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever
              undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to
              find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids
              a pain that produces no resultant pleasure?But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you a complete account of the system, and
              expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No
              one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
              know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
              there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because
              occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a
              trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
              from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
              annoying consequences, or one who avoids a pain that produces no resultant pleasure?But I must explain to
              you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a
              complete account of the system, and expound the actual teachings of the great explorer of the truth, the
              master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
              pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that
              are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
              because it is pain, but because occasionally circumstances occur in which toil and pain can procure him
              some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise,
              except to obtain some advantage from it? But who has any right to find fault with a man who chooses to
              enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant
              pleasure?But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
              born and I will give you a complete account of the system, and expound the actual teachings of the great
              explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
              itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally
              encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or
              desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in
              which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever
              undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to
              find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids
              a pain that produces no resultant pleasure?But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you a complete account of the system, and
              expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No
              one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
              know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is
              there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because
              occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a
              trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
              from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no
              annoying consequences, or one who avoids a pain that produces no resultant pleasure?But I must explain to
              you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a
              complete account of the system, and expound the actual teachings of the great explorer of the truth, the
              master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
              pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that
              are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself,
              because it is pain, but because occasionally circumstances occur in which toil and pain can procure him
              some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise,
              except to obtain some advantage from it? But who has any right to find fault with a man who chooses to
              enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant
              pleasure?</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- PL: 1711565 -->

  <!-- End WIIP Master PL -->

</main>