<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                            <div class="box box-related">
                                    <div class="box-header"><h2 class="box-title">Images</h2></div>
                                      <div class="box-body">
                                        <ul class="thumbnails thumbnails-condensed">
                            <li class="span1">
                              <a class="thumbnail with-modal" href="https://cardiff.imgix.net/__data/assets/image/0003/23457/NSC_differentiation_neuron.jpg?w=570&amp;q=60&amp;fit=crop&amp;auto=format" data-caption="Figure 1: Differentiation neuron">
                                <img class="image" src="https://cardiff.imgix.net/__data/assets/image/0003/23457/NSC_differentiation_neuron.jpg?w=70&amp;h=70&amp;q=40&amp;fit=crop&amp;auto=format" data-src="https://cardiff.imgix.net/__data/assets/image/0003/23457/NSC_differentiation_neuron.jpg?w=70&amp;h=70&amp;q=40&amp;fit=crop&amp;auto=format" alt="NSC_differentiation_neuron.jpg" srcset="">
                                <div class="caption">Figure 1</div>
                              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 250">
                                    <title>eye</title>
                                    <path d="M200,150.82a50,50,0,0,0-50,50,50.68,50.68,0,0,0,50,50,50,50,0,0,0,50-50,49.37,49.37,0,0,0-50-50Zm0,125A74.69,74.69,0,1,1,253.12,254,74.71,74.71,0,0,1,200,275.82Zm0-200c-55.08,0-105.47,31.25-141.41,62.5-18.36,15.63-32.42,30.08-43,43S0,200.82,0,200.82s5.08,6.64,15.62,19.53c20.71,26.18,57.82,59.77,106.65,85.94A162.78,162.78,0,0,0,200,325.82c55.08,0,105.47-31.25,141.8-62.5,18-15.62,32-30.08,42.58-43S400,200.82,400,200.82s-5.08-6.64-15.62-19.53c-20.71-26.17-57.82-59.76-106.26-85.94C253.52,82.46,227.73,75.82,200,75.82Z" transform="translate(0 -75.82)"></path>
                                  </svg></a>
                            </li>
                            <li class="span1">
                              <a class="thumbnail with-modal" href="https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=570&amp;q=60&amp;fit=crop&amp;auto=format" data-caption="Figure 2: Morgan-Botti Lightning Laboratory">
                                <img class="image" src="https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=70&amp;h=70&amp;q=40&amp;fit=crop&amp;auto=format" data-src="https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=70&amp;h=70&amp;q=40&amp;fit=crop&amp;auto=format" alt="morganbotti_1920x1080.jpg" srcset="">
                                <div class="caption">Figure 2</div>
                              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 250">
                                    <title>eye</title>
                                    <path d="M200,150.82a50,50,0,0,0-50,50,50.68,50.68,0,0,0,50,50,50,50,0,0,0,50-50,49.37,49.37,0,0,0-50-50Zm0,125A74.69,74.69,0,1,1,253.12,254,74.71,74.71,0,0,1,200,275.82Zm0-200c-55.08,0-105.47,31.25-141.41,62.5-18.36,15.63-32.42,30.08-43,43S0,200.82,0,200.82s5.08,6.64,15.62,19.53c20.71,26.18,57.82,59.77,106.65,85.94A162.78,162.78,0,0,0,200,325.82c55.08,0,105.47-31.25,141.8-62.5,18-15.62,32-30.08,42.58-43S400,200.82,400,200.82s-5.08-6.64-15.62-19.53c-20.71-26.17-57.82-59.76-106.26-85.94C253.52,82.46,227.73,75.82,200,75.82Z" transform="translate(0 -75.82)"></path>
                                  </svg></a>
                            </li>
                            <li class="span1">
                              <a class="thumbnail with-modal" href="https://cardiff.imgix.net/__data/assets/image/0007/19195/lord-aberdare.jpg?w=570&amp;q=60&amp;fit=crop&amp;auto=format" data-caption="Figure 3: Test caption">
                                <img class="image" src="https://cardiff.imgix.net/__data/assets/image/0007/19195/lord-aberdare.jpg?w=70&amp;h=70&amp;q=40&amp;fit=crop&amp;auto=format" data-src="https://cardiff.imgix.net/__data/assets/image/0007/19195/lord-aberdare.jpg?w=70&amp;h=70&amp;q=40&amp;fit=crop&amp;auto=format" alt="lord-aberdare.jpg" srcset="">
                                <div class="caption">Figure 3</div>
                              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 250">
                                    <title>eye</title>
                                    <path d="M200,150.82a50,50,0,0,0-50,50,50.68,50.68,0,0,0,50,50,50,50,0,0,0,50-50,49.37,49.37,0,0,0-50-50Zm0,125A74.69,74.69,0,1,1,253.12,254,74.71,74.71,0,0,1,200,275.82Zm0-200c-55.08,0-105.47,31.25-141.41,62.5-18.36,15.63-32.42,30.08-43,43S0,200.82,0,200.82s5.08,6.64,15.62,19.53c20.71,26.18,57.82,59.77,106.65,85.94A162.78,162.78,0,0,0,200,325.82c55.08,0,105.47-31.25,141.8-62.5,18-15.62,32-30.08,42.58-43S400,200.82,400,200.82s-5.08-6.64-15.62-19.53c-20.71-26.17-57.82-59.76-106.26-85.94C253.52,82.46,227.73,75.82,200,75.82Z" transform="translate(0 -75.82)"></path>
                                  </svg></a>
                            </li>
                            
                            </ul> <!-- Images -->          
                                      </div>
                                  </div>
                            
                            
                            
                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
