<main id="content" class="content">
  <!-- Page layout: Full width-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="page-parent sub-section">Study</p>
      </div>

      <!-- Start WIIP Master PL -->
      <div class="col-md-12">
        <h1 class="page-title" id="page-title">Search</h1>
      </div>




      <!--p class="alert alert-info">
  14 July 2016 - Our course search is temporarily unavailable, we apologise for any inconvenience. You can use our <a href="./?a=28852">A - Z listings</a> to find courses or <a href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school">browse by School</a>. Course search will be available again this afternoon.
</p-->
      <link rel="stylesheet" href="http://localhost:8080/dist/css/main.css">



      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          <div class="facet">
            <div class="facet-heading">
              <a href="#facet-year" class="facet-title">Choose entry year</a>
            </div>
            <div class="facet-body" id="facet-year">
              <div class="btn-toolbar">
                <div class="btn-group pull-left" style="margin: 15px 20px 0;">
                  <a href="?collection=ug-courses&amp;form=search-v2&amp;gscope1=1&amp;query=computer&amp;&amp;start_rank=21&entryyear=2019"
                    class="btn">2019/20</a>
                  <a href="?collection=ug-courses&amp;form=search-v2&amp;gscope1=1&amp;query=computer&amp;&amp;start_rank=21&entryyear=2020"
                    class="btn btn-primary">2020/21</a>
                </div>
              </div>
            </div>
          </div>






          <div class="facet">
            <div class="facet-heading">
              <a href="#facet-mode" class="facet-title" data-toggle="collapse">Filter by mode <svg class="icon"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
                  <title>Chevron down</title>
                  <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"></path>
                </svg></a>
            </div>
            <div class="facet-body collapse show" id="facet-mode">
              <ul class="facet-items">








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.mode%7CM=full-time"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>Full time</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.mode%7CM=full-time+-+sandwich+%28thick%29"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>Full time with sandwich year</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.mode%7CM=full-time+sandwich+with+year+abroad"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>Full time with year abroad</a></li>


              </ul>
            </div>
          </div>






          <div class="facet">
            <div class="facet-heading">
              <a href="#facet-subject" class="facet-title" data-toggle="collapse">Filter by subject<svg class="icon"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
                  <title>Chevron down</title>
                  <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"></path>
                </svg></a>
            </div>
            <div class="facet-body collapse show" id="facet-subject">
              <ul class="facet-items">








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=anatomy"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>anatomy</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=architecture"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>architecture</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=astronomy"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>astronomy</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=biochemistry"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>biochemistry</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=biology"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>biology</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=biomedical+science"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>biomedical science</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=biosciences"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>biosciences</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=business"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>business</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=communications"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>communications</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=computer+science"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>computer science</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=computing"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>computing</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=criminology"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>criminology</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=earth+sciences"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>earth sciences</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=engineering"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>engineering</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=environmental"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>environmental</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=genetics"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>genetics</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=geography"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>geography</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=geography+%28physical%29"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>geography (physical)</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=geology"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>geology</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=information+technology"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>information technology</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=journalism"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>journalism</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=law"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>law</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=management"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>management</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=marine+geography"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>marine geography</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=mathematics"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>mathematics</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=maths"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>maths</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=media"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>media</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=medicine"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>medicine</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=mmath"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>MMath</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=msci"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>msci</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=neuroscience"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>neuroscience</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=operational+research"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>operational research</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=philosophy"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>philosophy</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=physics"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>physics</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=physiology"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>physiology</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=politics"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>politics</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=psychology"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>psychology</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=social+sciences"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>social sciences</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=sociology"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>sociology</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=software+engineering"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>software engineering</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=statistics"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>statistics</a></li>








                <li class="facet-item d-none"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.subject%7Cx=sustainability"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>sustainability</a></li>


              </ul>
              <a href="#" class="facet-show-more" data-facet="facet-subject">Show all subjects</a>
            </div>
          </div>






          <div class="facet">
            <div class="facet-heading">
              <a href="#facet-qualification" class="facet-title" data-toggle="collapse">Filter by
                qualification<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
                  <title>Chevron down</title>
                  <path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"></path>
                </svg></a>
            </div>
            <div class="facet-body collapse show" id="facet-qualification">
              <ul class="facet-items">








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=ba"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>BA</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=beng"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>BEng</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=bsc"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>BSc</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=llb"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>LLB</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=mbbch"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>MBBCh</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=mbiomed"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>MBiomed</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=meng"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>MEng</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=mmath"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>MMath</a></li>








                <li class="facet-item"><a
                    href="?collection=ug-courses&form=search-v2&gscope1=1&query=computer&&f.qualification%7Ca=msci"><svg
                      class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <title>Checkbox</title>
                      <path
                        d="M374.13.14h-348a26.08,26.08,0,0,0-26,26v348a26.09,26.09,0,0,0,26,26h348a26.09,26.09,0,0,0,26-26v-348A26.09,26.09,0,0,0,374.13.14Zm-.93,373H26.2V26.1h347Z"
                        transform="translate(-0.14 -0.14)" style="fill:#383735" />
                    </svg>msci</a></li>


              </ul>
            </div>
          </div>
        </div><!-- end col-md-4 -->


        <div class="col-md-8">

          <form class="form-inline form-large" method="GET" role="search" aria-label="Course search bar">
            <input type="hidden" name="collection" value="ug-courses">
            <input name="query" id="search-query" title="Search query" type="text" value="computer" accesskey="q"
              placeholder="Search by keyword, UCAS code, subject etc" class="input-lg query search-query col-md-6">
            <button type="submit" class="btn btn-primary btn-lg d-none d-md-block ml-1"><svg class="icon"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>Search</title>
                <path
                  d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
                  transform="translate(-0.03 0)" />
              </svg>Search</button>
            <button type="submit" class="search-submit d-md-none"><svg class="icon" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32">
                <title>Search</title>
                <path
                  d="M31.72,28.94l-9.62-9.66c-0.06,0-.09,0-0.09-0.06l-0.09-.06a1.54,1.54,0,0,0-.22-0.09,11.92,11.92,0,0,0,1.72-3.31A12.25,12.25,0,0,0,24,12,12,12,0,0,0,12,0,11.95,11.95,0,0,0,0,12a11.82,11.82,0,0,0,3.5,8.47A11.9,11.9,0,0,0,12,24a11.56,11.56,0,0,0,3.78-.62,11.85,11.85,0,0,0,3.31-1.69,0.12,0.12,0,0,0,0,.09l0.06,0.09a0.16,0.16,0,0,0,.06.09,0.11,0.11,0,0,1,0,.09L29,31.72a1.14,1.14,0,0,0,.72.28,1,1,0,0,0,.66-0.28l1.41-1.37A1.47,1.47,0,0,0,32,29.66a1.14,1.14,0,0,0-.31-0.72h0ZM12,4a8,8,0,0,1,8,8,7.88,7.88,0,0,1-2.31,5.66A8,8,0,0,1,12,20a7.85,7.85,0,0,1-5.66-2.34,7.92,7.92,0,0,1,0-11.31A7.85,7.85,0,0,1,12,4Z"
                  transform="translate(-0.03 0)" />
              </svg></button>
          </form>

          <a class="btn btn-lg d-md-none" id="launch-facet-menu-popup" href="#">Filter results</a>


          <!-- selected facets from FB github -->
          <ul class="selected-facets">




















          </ul>
          <!-- selected facets from FB github -->

          <p><span id="search-page-start">21</span>-<span id="search-page-end">35</span> of <span
              id="search-total-matching">35</span> search results for <strong>computer</strong></p>


          <!-- Start curations -->
          <!-- End curations -->


          <table class="table search-results">
            <thead>
              <tr class="">
                <th scope="col" class="d-none d-md-table-cell">Course</th>
                <th scope="col" class="d-none d-md-table-cell">Mode</th>
                <th scope="col" class="d-none d-md-table-cell">UCAS code</th>
              </tr>
            </thead>
            <tbody>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fcriminology-bsc&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fcriminology-bsc&auth=bN26ObdQGI5w9c6uEFIhtg&profile=_default&rank=21&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Criminology
                      (BSc)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: L370</strong></p>
                  <p>Our Criminology BSc is delivered by renowned social scientific scholars in our
                    interdisciplinary research and teaching environment of our School of Social
                    Sciences.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">L370</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fbusiness-management-marketing-bsc&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fbusiness-management-marketing-bsc&auth=R7Lk6WXopzUAdLu2TS%2Bddw&profile=_default&rank=22&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Business
                      Management (Marketing) (BSc)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: NN25</strong></p>
                  <p>Our accredited programme is future-focused, equipping you with specialist tools
                    and techniques to make a difference in your marketing career.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">NN25</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fmathematics-mmath&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fmathematics-mmath&auth=8TctdcMDQTcR8uqJ3UWiRA&profile=_default&rank=23&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Mathematics
                      (MMath)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: G101</strong></p>
                  <p>If you want to gain a competitive edge in the employment market or prepare for a
                    research career, the MMath degree can help you get on the fast track to your
                    professional goals.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">G101</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Flaw-and-criminology-llb&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Flaw-and-criminology-llb&auth=T2XfO9T9qWrRNhqtzKE3SA&profile=_default&rank=24&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Law
                      and Criminology (LLB)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: M190</strong></p>
                  <p>Study Law and Criminology at Cardiff and gain hands on experience of Law in the
                    real world</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">M190</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fphilosophy-and-politics-ba&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fphilosophy-and-politics-ba&auth=DmWY%2FVnUoQqtb7RmzP8Cxg&profile=_default&rank=25&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Politics
                      and Philosophy (BA)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: LV25</strong></p>
                  <p>Philosophers investigate the nature of reality using logical reasoning rather
                    than empirical methods. It is therefore integral to the study of Politics.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">LV25</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fmedia-and-communications-ba&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fmedia-and-communications-ba&auth=kGo4LdQMYNjzDKCZy3Fj2w&profile=_default&rank=26&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Media
                      and Communications (BA)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: 3M7D</strong></p>
                  <p>The degree is concerned with the study of the media and cultural industries and
                    their roles in modern society.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">3M7D</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Farchitectural-engineering-beng&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Farchitectural-engineering-beng&auth=0qznRbuOZP5RWibiGnZIPQ&profile=_default&rank=27&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Architectural
                      Engineering (BEng)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: H292</strong></p>
                  <p>Our Architectural Engineering degree provides you with a sound foundation in
                    civil engineering while allowing you to pursue your creative interests in
                    architecture and design.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">H292</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fbiomedical-sciences-4-years-mbiomed&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fbiomedical-sciences-4-years-mbiomed&auth=%2F9nBiCoIivZm9rEF25AzCQ&profile=_default&rank=28&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Biomedical
                      Sciences (MBiomed)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: 51T8</strong></p>
                  <p>Explore the biological science that underpins all medicine and medical research
                    with our research-led Biomedical Sciences degree.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">51T8</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fphysics-with-astronomy-bsc&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fphysics-with-astronomy-bsc&auth=gIowuqbLR%2FjpJ0kHqM3FxA&profile=_default&rank=29&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Physics
                      with Astronomy (BSc)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: F3F5</strong></p>
                  <p>Our Physics and Astronomy degree offers you the opportunity to study the science
                    behind the evolution of our Universe while gaining solid skills in physics,
                    mathematics and computing, all of which are sought after in many professions.
                  </p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">F3F5</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fintegrated-engineering-international-meng&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fintegrated-engineering-international-meng&auth=Ayn8RjJZF2J89Ni3P3Obmw&profile=_default&rank=30&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Integrated
                      Engineering (International) (MEng)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: H118</strong></p>
                  <p>The complexity and sophistication of modern engineering requires an increasing
                    level of interaction between engineering disciplines which have traditionally
                    been considered to be largely independent</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">H118</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Felectrical-and-electronic-engineering-meng&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Felectrical-and-electronic-engineering-meng&auth=ZW57Ewd4fa1T8U4TWntUvQ&profile=_default&rank=31&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Electrical
                      and Electronic Engineering (MEng)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: H601</strong></p>
                  <p>Studying Electrical and Electronic Engineering means that you will be at the
                    centre of a vibrant and fast moving engineering discipline.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">H601</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Felectrical-and-electronic-engineering-international-meng&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Felectrical-and-electronic-engineering-international-meng&auth=kXiogO%2Buqw8EriGux6z%2BuQ&profile=_default&rank=32&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Electrical
                      and Electronic Engineering (International) (MEng)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: H607</strong></p>
                  <p>This research-led degree will provide a fast-track towards attaining Chartered
                    Engineer status with the Institution of Engineering &amp; Technology.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time</td>
                <td class="d-none d-md-table-cell">H607</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fmechanical-engineering-with-a-year-in-germany-meng&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fmechanical-engineering-with-a-year-in-germany-meng&auth=w9TYnmDgPcJDRjSJ5c%2BSGw&profile=_default&rank=33&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Mechanical
                      Engineering with Year in Europe (Germany) (MEng)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: H303</strong></p>
                  <p>Mechanical Engineering is the creative application of science and expertise to
                    the design, construction and operation of products and processes.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time with year abroad</td>
                <td class="d-none d-md-table-cell">H303</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fmathematics-operational-research-and-statistics-with-a-professional-placement-bsc&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Fmathematics-operational-research-and-statistics-with-a-professional-placement-bsc&auth=oo%2FAC6SeCoTpaXAfNF9XSg&profile=_default&rank=34&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Mathematics
                      Operational Research and Statistics with a Professional Placement (BSc)</a>
                  </h4>
                  <p class="d-md-none"><strong>UCAS code: G990</strong></p>
                  <p>This four-year degree features an employability-enhancing third year working in a
                    paid role, providing the ideal preparation for a career in operational research
                    and statistics.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time with sandwich year</td>
                <td class="d-none d-md-table-cell">G990</td>
              </tr>
              <tr scope="row">
                <td>
                  <h4 style="margin-bottom: 5px"><a
                      href="https://search.cardiff.ac.uk/s/redirect?collection=ug-courses&url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Felectrical-and-electronic-engineering-with-a-year-in-industry-beng&index_url=https%3A%2F%2Fwww.cardiff.ac.uk%2Fstudy%2Fundergraduate%2Fcourses%2F2020%2Felectrical-and-electronic-engineering-with-a-year-in-industry-beng&auth=hp43XLrlg%2BjO3vKbsDu60g&profile=_default&rank=35&query=computer+%7CN%3A%22%24%2B%2B+2020+%24%2B%2B%22">Electrical
                      and Electronic Engineering with a Year in Industry (BEng)</a></h4>
                  <p class="d-md-none"><strong>UCAS code: H606</strong></p>
                  <p>Studying Electrical and Electronic Engineering means that you will be at the
                    centre of a vibrant and fast moving engineering discipline.</p>
                </td>
                <td class="d-none d-md-table-cell">Full time with sandwich year</td>
                <td class="d-none d-md-table-cell">H606</td>
              </tr>
            </tbody>
          </table>
          <!-- Cucumber JS test-->
          <input type="hidden" id="cucumber-response" value="ug-courses">
          <!-- End Cucumber JS test-->
        </div><!-- end col-md-8 -->

        <div class="col-md-12">
          <div>
            <ul class="pagination">
              <li class="page-item"><a class="page-link"
                  href="?collection=ug-courses&amp;form=search-v2&amp;gscope1=1&amp;query=computer&amp;&amp;start_rank=1"><svg
                    class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                    <title>Chevron left</title>
                    <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z" transform="translate(-6.13 0)">
                    </path>
                  </svg><span class="hidden-text">Prev</span></a></li>




              <li class="page-item"><a class="page-link"
                  href="?collection=ug-courses&amp;form=search-v2&amp;gscope1=1&amp;query=computer&amp;&amp;start_rank=1">1</a>
              </li>

              <li class="page-item active"><a class="page-link"
                  href="?collection=ug-courses&amp;form=search-v2&amp;gscope1=1&amp;query=computer&amp;&amp;start_rank=21">2</a>
              </li>

              <li class="page-item disabled"><a class="page-link" href="#" <svg class="icon"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                  <title>Chevron left</title>
                  <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z" transform="translate(-6.13 0)">
                  </path></svg>><span class="hidden-text">Next</span>
                </a></li>
            </ul>
          </div>
        </div> <!-- end col-md-12 -->

      </div> <!-- end row -->


      <div class="facet d-none facet-popup" id="facet-menu-popup" role="form" aria-label="mobile-form-filter">
        <div class="facet-heading">
          <h1 class="facet-title">Filter results <svg class="icon" id="close-facet-popup" focusable="false"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
              <title>Close</title>
              <path
                d="M29.75,24.5l0.06,0.06a0.69,0.69,0,0,1,.13.16,0.12,0.12,0,0,0,0,.09,0.69,0.69,0,0,1,0,.25v0.22a1,1,0,0,1-.25.47l-4,4a0.56,0.56,0,0,1-.22.16,0.84,0.84,0,0,1-.47.09,0.69,0.69,0,0,1-.25,0l-0.06-.06a0.36,0.36,0,0,1-.19-0.09L16,21.25,7.44,29.81a0.27,0.27,0,0,1-.16.09L7.19,30a0.69,0.69,0,0,1-.25,0,0.47,0.47,0,0,1-.22,0,0.73,0.73,0,0,1-.47-0.22l-4-4a0.56,0.56,0,0,1-.16-0.22A0.84,0.84,0,0,1,2,25.06a0.69,0.69,0,0,1,0-.25l0.06-.09a0.26,0.26,0,0,1,.09-0.16L10.75,16,2.19,7.44s0-.06-0.06-0.09a0.55,0.55,0,0,1-.06-0.16A0.74,0.74,0,0,1,2,6.94a0.69,0.69,0,0,1,0-.25,0.73,0.73,0,0,1,.22-0.44l4-4a0.56,0.56,0,0,1,.22-0.16A0.84,0.84,0,0,1,6.93,2a0.72,0.72,0,0,1,.25.06H7.28a0.66,0.66,0,0,1,.16.13L16,10.75l8.56-8.56a1,1,0,0,1,.19-0.12,0.06,0.06,0,0,0,.06,0,0.69,0.69,0,0,1,.25,0h0.25a1,1,0,0,1,.44.25l4,4a0.56,0.56,0,0,1,.16.22,0.84,0.84,0,0,1,.09.47,0.69,0.69,0,0,1,0,.25,0.06,0.06,0,0,0,0,.06l-0.12.19L21.25,16Z"
                transform="translate(-2 -2)" />
            </svg></h1>
        </div>
        <div class="facet-body">
          <ul class="facet-items">
            <li class="facet-group-title" data-facet="facet-popup-yearswitch"><a href="#">Choose entry
                year</a></li>





            <li class="facet-group-title" data-facet="facet-popup-mode"><a href="#">Filter by mode</a></li>






            <li class="facet-group-title" data-facet="facet-popup-subject"><a href="#">Filter by subject</a>
            </li>






            <li class="facet-group-title" data-facet="facet-popup-qualification"><a href="#">Filter by
                qualification</a></li>
          </ul>
          <div class="facet-actions">
            <a href="?collection=ug-courses&amp;form=search-v2&amp;gscope1=1&amp;query=computer&amp;"
              title="Clear all filters" class="btn btn-lg">Clear all filters <span
                class="glyphicon glyphicon-remove-circle"></span></a>
          </div>

        </div>
      </div>

      <div class="facet d-none facet-popup" id="facet-popup-yearswitch" role="contentinfo"
        aria-label="mobile-form-yearswitch">
        <div class="facet-heading">
          <a href="#facet-yearswitch" class="facet-title">Filter by year</a>
        </div>
        <div class="facet-body" id="facet-yearswitch">
          <ul class="facet-items">
            <li class="facet-item">
              <a
                href="?collection=ug-courses&amp;form=search-v2&amp;gscope1=1&amp;query=computer&amp;&amp;start_rank=21&entryyear=2019"><span
                  class="icon icon-checkbox icon-mini" aria-hidden="true"></span>2019</a>
            </li>
            <li class="facet-item">
              <a
                href="?collection=ug-courses&amp;form=search-v2&amp;gscope1=1&amp;query=computer&amp;&amp;start_rank=21&entryyear=2020"><span
                  class="icon icon-checkbox-tick icon-mini" aria-hidden="true"></span>2020</a>
            </li>
          </ul>
          <div class="facet-actions">
            <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
          </div>
        </div>
      </div>






      <div class="facet d-none facet-popup" id="facet-popup-mode" role="form" aria-label="mobile-form-mode">
        <div class="facet-heading">
          <a href="#facet-mode" class="facet-title">Filter by mode</a>
        </div>
        <div class="facet-body" id="mobile-facet-mode">
          <form method="GET" role="search" aria-label="mobile-form-mode-inputs">
            <input type="hidden" name="collection" value="ug-courses">

            <input type="hidden" name="form" value="search-v2">



            <input type="hidden" name="query" value="computer">


            <input type="hidden" name="facetScope" value="f.entryyear%7CN=2020">
            <ul class="facet-items" role="group" aria-label="facet-input-mode">







              <li class="facet-item">
                <input id="facet-mode-full-time" type="checkbox" name="f.mode|M" value="full-time" />
                <label for="facet-mode-full-time">Full time</label>
              </li>






              <li class="facet-item">
                <input id="facet-mode-full-time_-_sandwich_(thick)" type="checkbox" name="f.mode|M"
                  value="full-time - sandwich (thick)" />
                <label for="facet-mode-full-time_-_sandwich_(thick)">Full time with sandwich
                  year</label>
              </li>






              <li class="facet-item">
                <input id="facet-mode-full-time_sandwich_with_year_abroad" type="checkbox" name="f.mode|M"
                  value="full-time sandwich with year abroad" />
                <label for="facet-mode-full-time_sandwich_with_year_abroad">Full time with year
                  abroad</label>
              </li>

            </ul>
            <div class="facet-actions">
              <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
              <button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
            </div>
            <!--<button type="submit" class="button"><span class="glyphicon glyphicon-filter"></span> Apply</button>-->
          </form>
        </div>
      </div>






      <div class="facet d-none facet-popup" id="facet-popup-subject" role="form" aria-label="mobile-form-subjects">
        <div class="facet-heading">
          <a href="#facet-subject" class="facet-title">Filter by subject</a>
        </div>
        <div class="facet-body" id="mobile-facet-subject">
          <form method="GET" role="search" aria-label="mobile-form-subjects-inputs">
            <input type="hidden" name="collection" value="ug-courses">

            <input type="hidden" name="form" value="search-v2">



            <input type="hidden" name="query" value="computer">


            <input type="hidden" name="facetScope" value="f.entryyear%7CN=2020">
            <ul class="facet-items" role="group" aria-label="facet-input-subjects">







              <li class="facet-item">
                <input id="facet-subject-anatomy" type="checkbox" name="f.subject|x" value="anatomy" />
                <label for="facet-subject-anatomy">anatomy</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-architecture" type="checkbox" name="f.subject|x" value="architecture" />
                <label for="facet-subject-architecture">architecture</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-astronomy" type="checkbox" name="f.subject|x" value="astronomy" />
                <label for="facet-subject-astronomy">astronomy</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-biochemistry" type="checkbox" name="f.subject|x" value="biochemistry" />
                <label for="facet-subject-biochemistry">biochemistry</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-biology" type="checkbox" name="f.subject|x" value="biology" />
                <label for="facet-subject-biology">biology</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-biomedical_science" type="checkbox" name="f.subject|x"
                  value="biomedical science" />
                <label for="facet-subject-biomedical_science">biomedical science</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-biosciences" type="checkbox" name="f.subject|x" value="biosciences" />
                <label for="facet-subject-biosciences">biosciences</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-business" type="checkbox" name="f.subject|x" value="business" />
                <label for="facet-subject-business">business</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-communications" type="checkbox" name="f.subject|x" value="communications" />
                <label for="facet-subject-communications">communications</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-computer_science" type="checkbox" name="f.subject|x"
                  value="computer science" />
                <label for="facet-subject-computer_science">computer science</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-computing" type="checkbox" name="f.subject|x" value="computing" />
                <label for="facet-subject-computing">computing</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-criminology" type="checkbox" name="f.subject|x" value="criminology" />
                <label for="facet-subject-criminology">criminology</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-earth_sciences" type="checkbox" name="f.subject|x" value="earth sciences" />
                <label for="facet-subject-earth_sciences">earth sciences</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-engineering" type="checkbox" name="f.subject|x" value="engineering" />
                <label for="facet-subject-engineering">engineering</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-environmental" type="checkbox" name="f.subject|x" value="environmental" />
                <label for="facet-subject-environmental">environmental</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-genetics" type="checkbox" name="f.subject|x" value="genetics" />
                <label for="facet-subject-genetics">genetics</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-geography" type="checkbox" name="f.subject|x" value="geography" />
                <label for="facet-subject-geography">geography</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-geography_(physical)" type="checkbox" name="f.subject|x"
                  value="geography (physical)" />
                <label for="facet-subject-geography_(physical)">geography (physical)</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-geology" type="checkbox" name="f.subject|x" value="geology" />
                <label for="facet-subject-geology">geology</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-information_technology" type="checkbox" name="f.subject|x"
                  value="information technology" />
                <label for="facet-subject-information_technology">information technology</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-journalism" type="checkbox" name="f.subject|x" value="journalism" />
                <label for="facet-subject-journalism">journalism</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-law" type="checkbox" name="f.subject|x" value="law" />
                <label for="facet-subject-law">law</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-management" type="checkbox" name="f.subject|x" value="management" />
                <label for="facet-subject-management">management</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-marine_geography" type="checkbox" name="f.subject|x"
                  value="marine geography" />
                <label for="facet-subject-marine_geography">marine geography</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-mathematics" type="checkbox" name="f.subject|x" value="mathematics" />
                <label for="facet-subject-mathematics">mathematics</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-maths" type="checkbox" name="f.subject|x" value="maths" />
                <label for="facet-subject-maths">maths</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-media" type="checkbox" name="f.subject|x" value="media" />
                <label for="facet-subject-media">media</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-medicine" type="checkbox" name="f.subject|x" value="medicine" />
                <label for="facet-subject-medicine">medicine</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-mmath" type="checkbox" name="f.subject|x" value="mmath" />
                <label for="facet-subject-mmath">MMath</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-msci" type="checkbox" name="f.subject|x" value="msci" />
                <label for="facet-subject-msci">msci</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-neuroscience" type="checkbox" name="f.subject|x" value="neuroscience" />
                <label for="facet-subject-neuroscience">neuroscience</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-operational_research" type="checkbox" name="f.subject|x"
                  value="operational research" />
                <label for="facet-subject-operational_research">operational research</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-philosophy" type="checkbox" name="f.subject|x" value="philosophy" />
                <label for="facet-subject-philosophy">philosophy</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-physics" type="checkbox" name="f.subject|x" value="physics" />
                <label for="facet-subject-physics">physics</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-physiology" type="checkbox" name="f.subject|x" value="physiology" />
                <label for="facet-subject-physiology">physiology</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-politics" type="checkbox" name="f.subject|x" value="politics" />
                <label for="facet-subject-politics">politics</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-psychology" type="checkbox" name="f.subject|x" value="psychology" />
                <label for="facet-subject-psychology">psychology</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-social_sciences" type="checkbox" name="f.subject|x" value="social sciences" />
                <label for="facet-subject-social_sciences">social sciences</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-sociology" type="checkbox" name="f.subject|x" value="sociology" />
                <label for="facet-subject-sociology">sociology</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-software_engineering" type="checkbox" name="f.subject|x"
                  value="software engineering" />
                <label for="facet-subject-software_engineering">software engineering</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-statistics" type="checkbox" name="f.subject|x" value="statistics" />
                <label for="facet-subject-statistics">statistics</label>
              </li>






              <li class="facet-item">
                <input id="facet-subject-sustainability" type="checkbox" name="f.subject|x" value="sustainability" />
                <label for="facet-subject-sustainability">sustainability</label>
              </li>

            </ul>
            <div class="facet-actions">
              <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
              <button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
            </div>
            <!--<button type="submit" class="button"><span class="glyphicon glyphicon-filter"></span> Apply</button>-->
          </form>
        </div>
      </div>






      <div class="facet d-none facet-popup" id="facet-popup-qualification" role="form"
        aria-label="mobile-form-qualifications">
        <div class="facet-heading">
          <a href="#facet-qualification" class="facet-title">Filter by qualification</a>
        </div>
        <div class="facet-body" id="mobile-facet-qualification">
          <form method="GET" role="search" aria-label="mobile-form-qualifications-inputs">
            <input type="hidden" name="collection" value="ug-courses">

            <input type="hidden" name="form" value="search-v2">



            <input type="hidden" name="query" value="computer">


            <input type="hidden" name="facetScope" value="f.entryyear%7CN=2020">
            <ul class="facet-items" role="group" aria-label="facet-input-qualification">







              <li class="facet-item">
                <input id="facet-qualification-ba" type="checkbox" name="f.qualification|a" value="ba" />
                <label for="facet-qualification-ba">BA</label>
              </li>






              <li class="facet-item">
                <input id="facet-qualification-beng" type="checkbox" name="f.qualification|a" value="beng" />
                <label for="facet-qualification-beng">BEng</label>
              </li>






              <li class="facet-item">
                <input id="facet-qualification-bsc" type="checkbox" name="f.qualification|a" value="bsc" />
                <label for="facet-qualification-bsc">BSc</label>
              </li>






              <li class="facet-item">
                <input id="facet-qualification-llb" type="checkbox" name="f.qualification|a" value="llb" />
                <label for="facet-qualification-llb">LLB</label>
              </li>






              <li class="facet-item">
                <input id="facet-qualification-mbbch" type="checkbox" name="f.qualification|a" value="mbbch" />
                <label for="facet-qualification-mbbch">MBBCh</label>
              </li>






              <li class="facet-item">
                <input id="facet-qualification-mbiomed" type="checkbox" name="f.qualification|a" value="mbiomed" />
                <label for="facet-qualification-mbiomed">MBiomed</label>
              </li>






              <li class="facet-item">
                <input id="facet-qualification-meng" type="checkbox" name="f.qualification|a" value="meng" />
                <label for="facet-qualification-meng">MEng</label>
              </li>






              <li class="facet-item">
                <input id="facet-qualification-mmath" type="checkbox" name="f.qualification|a" value="mmath" />
                <label for="facet-qualification-mmath">MMath</label>
              </li>






              <li class="facet-item">
                <input id="facet-qualification-msci" type="checkbox" name="f.qualification|a" value="msci" />
                <label for="facet-qualification-msci">msci</label>
              </li>

            </ul>
            <div class="facet-actions">
              <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
              <button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
            </div>
            <!--<button type="submit" class="button"><span class="glyphicon glyphicon-filter"></span> Apply</button>-->
          </form>
        </div>
      </div>


      <script type="text/javascript" src="http://localhost:8080/dist/js/main.js"></script>

      <!-- PL: 1711565 -->
      <!-- End WIIP Master PL -->
    </div>
  </div>
</main>