<main class="content r-feature" id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-group content-group-feature mt-0 mb-40 with-image full-width">
          <div class="image-wrapper"> <img
              srcset="https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=1170&amp;h=420&amp;fit=crop&amp;q=70&amp;auto=format 1200w,      https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=940&amp;h=420&amp;fit=crop&amp;q=70&amp;auto=format 968w,      https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=700&amp;h=394&amp;fit=crop&amp;q=60&amp;auto=format 700w,      https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=550&amp;h=309&amp;fit=crop&amp;q=60&amp;auto=format 550w,      https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=450&amp;h=253&amp;fit=crop&amp;q=60&amp;auto=format 450w,      https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,      https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,      https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format 150w"
              src="https://cardiff.imgix.net/__data/assets/image/0005/1727267/img-student-life.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
              sizes="(max-width: 767px) 100vw, (max-width: 970px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 370px"
              alt=""> </div>
          <div class="container">
            <div class="row">
              <div class="col-md-10">
                <h1 class="page-title" id="page-title">VOD test page</h1>
                <p class="lead">We’re one of the largest medical schools in the UK, dedicated to improving health
                  through
                  education and research. We provide exciting, case-based, community-led learning using our modern
                  facilities
                  and cutting-edge techniques.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="content-group content-group-feature full-width mt-0 mb-40 with-background bg-prussian-blue">
          <div class="container">
            <div class="row">
              <div class="col-md-10">
                <h1 class="page-title" id="page-title">VOD test page</h1>
                <p class="lead">We’re one of the largest medical schools in the UK, dedicated to improving health through
                  education and research. We provide exciting, case-based, community-led learning using our modern facilities
                  and cutting-edge techniques.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Normal h1 title</h1>
              <h2>Normal h2 title</h2>
            </div>
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">

        <div class="d-flex  flex-column flex-lg-row" style="flex-basis: 100%;">
          ${require('../components/teaser/variations/teaser-video.html')}
          ${require('../components/teaser/variations/teaser-video.html')}
          ${require('../components/teaser/variations/teaser-video.html')}
        </div>
      </div>
    </div>
  </div>

  
</main>