<div class="featured-content">
  <div class="row">
    <div class="col-md-12">
      <figure class="featured-content-image image">
        <img
          srcset="
          https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=704&h=396&q=60&auto=format&fit=crop 704w,
          https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=727&h=409&q=60&auto=format&fit=crop 727w,
          https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=940&h=420&auto=format&fit=crop 940w,
          https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&h=420&q=60&fit=crop&auto=format 1170w"
          src="https://cardiff.imgix.net/__data/assets/image/0008/1181771/Students-walking.jpg?w=1170&h=420&q=60&fit=crop&auto=format"
          sizes="(max-width: 767px) 726px, (max-width: 979px) 703px, (max-width: 1199px) 939px, (min-width: 1200px) 1169px"
          alt="Students walking">
      </figure>
    </div>
    <div class="col-md-4">
      <h2 class="featured-content-title"><a href="#">EU backing for world-class magnetics research</a></h2>
    </div>
    <div class="col-md-8">
      <p class="featured-content-body">A world-class Cardiff University research centre to develop magnetic materials that can drive future energy,
        power and transport systems will be backed by over £1m of EU funds, the Welsh Government has announced.</p>
    </div>
  </div>
</div>