<section class="box box-calltoaction box-inverse box-apply">
    <header class="box-header">
        <h1 class="box-title" style="margin-bottom:0px;">Apply</h1>
    </header>
    <div class="box-body">

        <style>
            .box-body select {
                width: 100%;
            }
        </style>

        <br />
        <form id="postgrad-apply-form"
            data-codes="RFPDLPPA;RFPDLPPB;RFPDLPPC;RFPDLPPD;RPPDLPPA;RPPDLPPB;RPPDLPPC;RPPDLPPD;RFMDLPPA;RFMDLPPB;RFMDLPPC;RFMDLPPD;RPMDLPPA;RPMDLPPB;RPMDLPPC;RPMDLPPD"
            class="form-vertical" style="margin-bottom:0px;" aria-label="Apply section">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="drop-down-qualification">Qualification</label>
                    <div class="controls">
                        <select id="drop-down-qualification">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="drop-down-mode">Mode of study</label>
                    <div class="controls">
                        <select id="drop-down-mode">

                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="drop-down-start">Start date</label>
                    <div class="controls">
                        <select id="drop-down-start">

                        </select>
                    </div>
                </div>
                <a id="apply-link" href="#" role="button" type="submit" class="btn btn-success btn-lg">Apply now</a>
            </fieldset>


    </div>
    <footer class="box-footer">
        <p><a href="http://www.cardiff.ac.uk/apply">Admissions policies</a></p>
    </footer>
</section>