@media #{$breakpoint-md-up}
  .dictionary-vertical
    .dictionary-letter-title
      background: $colourWhite
      padding: $baseUnit*1 0
      margin: 0

      &.stuck
        border-bottom: $baseUnit*0.1 solid $colourGreyLight
        transform: translateX(0)
        width: 100%
        padding: $baseUnit 0
