.nav-dictionary
  font-family: $boldFontFamily
  margin: 0

  li
    margin-bottom: ($baseUnit*0.5)
.dictionary
  @include clearfix()
  margin-bottom: ($baseUnit*4)

  &:not(.dictionary-vertical)
    .dictionary-letter
      @include clearfix()
      border-top: ($baseUnit*0.2) solid $colourGreyLighter
      padding: ($baseUnit*2) 0 #{($baseUnit*2)} 0
      position: relative
      min-height: ($baseUnit*5)

      &-title
        font: normal normal $headingFontSizeXXXL $boldFontFamily
        color: $colourRed
        position: absolute
        left: 0
        top: ($baseUnit*2)

  &-terms
    margin: 0 0 0 ($baseUnit*14)
    padding: 0
    list-style: none

  &-term
    font: normal map-get($fontSizes, 'normal') #{'/'} map-get($lineHeights, 'normal') $brandFamily
    padding-bottom: $baseUnit
    -webkit-column-break-inside: avoid
    page-break-inside: avoid
    break-inside: avoid

    small
      font-style: normal
      font-family: $brandFamily
      font-size: map-get($fontSizes, 'normal')
      display: block
      margin-left: ($baseUnit*2)

  &-vertical
    .nav-pills
      margin-bottom: $baseUnit

    .dictionary
      &-letter
        &-title
          background: $colourWhite
          padding: $baseUnit 0
          margin: -$baseUnit 0 $baseUnit
          font-size: 1.875rem
          line-height: 2.25rem

          &.stuck
            border-bottom: $baseUnit*0.1 solid $colourGreyLight

          @supports (width: 100vw)
            &.stuck
              transform: translateX(-$baseUnit*2)
              width: calc(100% + 40px)
              padding: $baseUnit $baseUnit*2
              overflow-x: hidden
              transform-origin: top

@import "dictionary-sm-down"
@import "dictionary-sm-up"
@import "dictionary-md-up"
@import "dictionary-lg-only"
@import "dictionary-xl-up"