@media #{$breakpoint-lg-up}
  .nav.nav-tabs
    .nav-item
      .nav-link
        &:focus
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          outline: none
          background-color: transparent