.nav.nav-tabs
  border-bottom: ($baseUnit * 0.1) solid $colourGreyLight
  margin-left: 0

  .nav-item
    font-family: $brandFamily
    margin: 0 ($baseUnit * 0.3) (-$baseUnit * 0.1) 0

    .nav-link
      color: $colourBlack
      margin-top: ($baseUnit * 0.3)
      text-decoration: none

      &.active
        font-family: $boldFontFamily
        outline: 0
        border-top-width: ($baseUnit * 0.4)
        margin: 0

      &:not(.active):hover
        border-top-width: ($baseUnit * 0.4)
        background: $colourGreyLighter
        margin: 0
    &:last-child
      margin-right: 0

.tabs-vertical
  display: flex

  .tab-content
    flex: 1 0 auto
    width: 100%

  .nav-list
    line-height: map-get($lineHeights, 'normal') / 1.2
    margin-left: 0px
    width: 100%
    padding-right: ($baseUnit * 5.2)
    margin-bottom: 0
    max-width: 410px
    flex-direction: column

    .nav-item
      min-height: 43px
      display: flex
      min-width: 360px

      .nav-link
        width: 100%
        padding: ($baseUnit * 1.1) 0 0 #{($baseUnit * 1.5)}
        color: $colourGreyDarker
        font-family: $boldFontFamily
        display: inherit
        text-decoration: none

        &:not(.active):focus
          background-color: $colourTransparent

        &.active
          background-color: $colourGreyLighter
          position: relative
          min-height: 43px
          text-shadow: none

          &:after
            position: absolute
            content: ''
            right: (-$baseUnit * 4.4)
            top: 0vh
            border-width: ($baseUnit * 2.15) #{($baseUnit * 2.2)}
            border-style: solid
            border-color: transparent transparent transparent $colourGreyLighter

.tabs--with-slider
  position: relative
  margin-bottom: $baseUnit*2
  width: 100%

  .nav-tabs
    margin-bottom: 0
    border-bottom: none
    display: flex

    .nav-item
      margin: 0 $baseUnit*0.3 0 0
      flex-grow: 1

      .nav-link
        display: flex
        align-items: center
        justify-content: center
        border: none
        margin: 0
        padding: $baseUnit $baseUnit*2
        color: $colourGreyDarkest
        text-align: center

        .icon
          margin-right: $baseUnit

        &.active
          border: none
          color: $colourLogCabin

        &:hover
          margin: 0

  &--top
    .tabs__slider
      top: 0

  .tabs__slider
    position: relative
    background-color: $colourGreySoft
    height: $baseUnit* 0.3
    overflow: hidden

    &__indicator
      position: absolute
      transition: $shortAnimationDuration $standardAnimationCubic
      background-color: $colourLogCabin
      height: 100%

@import 'tabs-sm-down'
@import 'tabs-md-up'
@import 'tabs-lg-up'
