<ul class="publications">
  <li class="publication">
    <span class="publication-thesis-title"
      >IMULTECH 2012 - Proceedings of the 2nd International Conference on Simulation and Modeling Methodologies, Technologies and Applications, Rome,
      Italy, 28 - 31 July, 2012.
    </span>
  </li>
</ul>
