@media #{$breakpoint-md-up}
  .filter
    &__items
      flex-wrap: wrap

    &--full-width
      .filter__items
        width: 100%
        margin-left: 0
        padding-left: 0

    &--with-mode
      display: grid
      grid-template-areas: 'filter-items filter-mode-toggle'
      grid-template-columns: 1fr auto
