.filter
  position: relative
  align-items: start
  margin-bottom: $baseUnit

  &__items
    display: flex
    overflow-y: auto
    flex-wrap: nowrap

    .btn
      @extend .rounded-lg
      display: inline-block
      flex-shrink: 0
      margin-right: $baseUnit
      margin-bottom: $baseUnit
      align-self: flex-start

      &:last-child
        margin-right: 0

  &--full-width
    .filter__items
      --offset: calc( ((100vw - 100%) / 2) )
      width: calc(100% + (var(--offset) * 2) - (var(--scrollbar-width) + 1px))
      margin-left: calc(var(--offset) * -1)
      padding-left: var(--offset)

  &--with-mode
    display: grid
    grid-template-areas: 'filter-items' 'filter-mode-toggle'
    grid-template-columns: 100%
    gap: 20px

    .filter
      &__items
        grid-area: filter-items

      &__mode
        grid-area: filter-mode-toggle

        .btn
          display: inline-block

        @supports (display: grid)
          display: flex

          .btn
            display: inline-flex

@import filter-md-up
@import filter-lg-up
