<div class="content-toggle bg-anakiwa">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="content-toggle gradient gradient-anakiwa" style="height: 400px; overflow: hidden;">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non neque velit nisi dolorem cum dignissimos animi laudantium eveniet blanditiis,
          nam quae possimus, expedita laboriosam adipisci voluptatem corporis rem ullam minus. Unde at necessitatibus ex beatae omnis laboriosam
          veniam quas expedita minima iusto libero sapiente ut modi, sunt, fuga ea delectus eligendi placeat officia quo nulla quae distinctio
          laudantium? Distinctio, placeat. Laudantium at aperiam tempore maiores quisquam. Facere nam ex repudiandae nihil perferendis ea dignissimos,
          magni rerum corporis est dolore voluptate quas temporibus laborum quasi deleniti accusantium consequatur iste, atque minima. Ad eos
          consequatur quos enim, ipsum quidem dolores minus error accusamus tempore ipsam, quis eligendi sunt sint corporis corrupti totam culpa,
          voluptatum et dolore perspiciatis cumque hic. Corporis, sint vitae. Iusto, cumque nostrum ullam facilis tenetur nesciunt, assumenda
          cupiditate obcaecati animi impedit vitae qui esse autem labore. Corporis deserunt error consequatur ad sapiente sequi obcaecati doloremque
          sit, commodi nostrum nam? Quos reprehenderit voluptate nulla eligendi impedit tenetur quis tempora deleniti eum earum, doloribus dolores
          dolorem cupiditate molestiae sit distinctio. Eveniet quae voluptatum asperiores officia. Tempore quae impedit nulla sit dolorem. Dignissimos
          pariatur quas temporibus aut nam in at labore inventore quod repudiandae, nulla saepe nihil aliquid voluptas eaque hic exercitationem amet
          esse numquam. Mollitia eius laborum molestias illum quam itaque? Laborum numquam beatae atque sapiente ea molestiae, dolore deserunt hic
          harum tempore temporibus nisi voluptas in voluptate sunt perspiciatis, facere asperiores voluptates, obcaecati ipsum quibusdam ipsa
          accusamus? Vero, officia laudantium? Minima, fugit magni culpa beatae eveniet accusamus aperiam enim ipsum! Aliquam sunt, voluptatibus id
          sapiente delectus corporis perspiciatis nobis, architecto eius obcaecati voluptate modi quibusdam, nihil sed quisquam fugit ea? Sunt odit
          optio incidunt ex alias dolores vitae dolorum sapiente iure maiores? Nisi reprehenderit excepturi magnam animi. Itaque in illo quasi aliquam
          perspiciatis officiis autem suscipit tempora. Dolor, impedit libero? Quidem quam obcaecati alias in perferendis, tempore iusto atque eius
          repudiandae voluptatum modi ut perspiciatis harum laboriosam id aspernatur sed quibusdam doloribus autem laudantium voluptatibus voluptas
          eveniet libero? Ipsum, culpa! Maiores impedit optio sapiente quibusdam ullam ducimus sit nisi, dolore necessitatibus voluptates ab iste
          molestiae, itaque deleniti, a alias blanditiis cumque sequi nemo labore. Excepturi autem ullam facilis alias dignissimos. Deleniti
          cupiditate expedita architecto voluptate perferendis corporis dolorum tempore dignissimos. Doloribus laboriosam eligendi voluptatum aperiam
          ex accusantium illum, voluptates odit. Similique impedit dolore quaerat, voluptas illo inventore quas totam optio? Hic similique minima
          animi tempore omnis provident quisquam. Debitis aliquid esse optio repellat quia mollitia facere deserunt soluta veniam, vitae accusamus
          beatae reiciendis voluptatem vel a fugit! Labore, blanditiis autem. Ullam mollitia ipsum quidem exercitationem distinctio iste possimus,
          dolor sunt nam asperiores quibusdam? Hic doloremque deserunt, accusantium delectus nihil quo corporis consectetur mollitia architecto.
          Temporibus eligendi autem nobis ipsam ullam. Quam quas perspiciatis optio atque cum, ipsa sunt natus magni. Impedit libero numquam illum.
          Tenetur error perferendis, omnis ducimus inventore voluptatum, et, pariatur animi rem unde iusto quae doloribus cupiditate. Dolores
          explicabo error dolor omnis nam inventore laudantium in exercitationem neque voluptatem reiciendis, tempora, impedit ratione amet asperiores
          doloremque sint fugit debitis esse fugiat quis aut ea! Et, eligendi illum.
        </div>
      </div>
    </div>
  </div>
</div>
