<div class="dropdown w-100">
  <button
    class="btn dropdown-toggle w-100"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Amser llawn gyda blwyddyn ryngosod (2 flynedd)
  </button>
  <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item active" href="#">hsudh asdash dsa dasj djs </a>
    <a class="dropdown-item" href="#"
      >Amser llawn gyda blwyddyn ryngosod (2 flynedd)</a
    >
    <a class="dropdown-item" href="#"
      >Amser llawn gyda blwyddyn ryngosod (2 flynedd)</a
    >
    <a class="dropdown-item" href="#"
      >Amser llawn gyda blwyddyn ryngosod (2 flynedd)</a
    >
    <a class="dropdown-item" href="#"
      >Amser llawn gyda blwyddyn ryngosod (2 flynedd)</a
    >
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Action</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Something else here</a>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Action</a>
  </div>
</div>
