<div class="nav-section">
  <div class="container">
    <nav class="navbar">
      <ul class="nav">
        <li class="nav-item dropdown dropdown-more ">
          <a class="nav-link dropdown-toggle" href="#">More <b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-menu-more ">
            <li class="nav-item"><a class="nav-link" href="#careers">Careers and placements</a></li>
            <li class="nav-item"><a class="nav-link" href="#careers">Another testing link</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
