<div
  class="content-group content-group-feature mt-0 content-group-feature--with-promo with-background bg-prussian-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title" id="page-title">Architecture</h1>
        <p class="lead">We are a leading school of architecture with a commitment to helping to create a built
          environment that enhances people’s lives, without destroying the planet for future generations.</p>
      </div>
      <div class="col-md d-flex justify-content-md-end">
        <a href="#" class="content-group-feature__promo">
          <span class="content-group-feature__promo__text">
            Mae ein Diwrnod Agored Rhithwir yn digwydd heddiw
          </span>
          <span class="content-group-feature__promo__date">21 April 2021</span>
          <span class="content-group-feature__promo__ring" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>