<section id="content_container_2434743" class="content-group content-group--centered with-background bg-tuatara">
  <div class="row">
    <div class="ml-auto mr-auto col-md-8">
      <h2 id="content_container_2434743-title">Work with us</h2>
      <p>We’re recruiting researchers to join our award winning team</p>
      <a class="ga-event call-to-action-link btn btn-success btn-lg"
        data-category="Content container: Full width call to action" data-action="Link 1" data-label="View vacancies"
        href="https://cardiff-dev-web.squiz.cloud/geography-planning">View vacancies</a>
      <a class="ga-event call-to-action-link btn btn-success btn-lg"
        data-category="Content container: Full width call to action" data-action="Link 2" data-label="See more about us"
        href="https://cardiff-dev-web.squiz.cloud/search">See more about us</a>
    </div>
  </div>

</section>