<div class="content-group content-group-feature mt-0 content-group-feature--with-promo with-image">
  <div class="image-wrapper">
    <img
      srcset="https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1920&amp;h=1080&amp;auto=format&amp;fit=crop&amp;q=60 1920w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1600&amp;h=900&amp;auto=format&amp;fit=crop&amp;q=60 1600w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1024&amp;h=576&amp;auto=format&amp;fit=crop&amp;q=60 1024ww,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=768&amp;h=432&amp;auto=format&amp;fit=crop&amp;q=60 768w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop&amp;q=60 640w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=380&amp;h=214&amp;auto=format&amp;fit=crop&amp;q=60 380w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format 150w"
      src="https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
      sizes="100vw" alt="Student working on a model ">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title" id="page-title">Architecture</h1>
        <p class="lead">We are a leading school of architecture with a commitment to helping to create a built
          environment that enhances people’s lives, without destroying the planet for future generations.</p>
      </div>
      <div class="col-md d-flex justify-content-md-end">
        <a href="#" class="content-group-feature__promo">
          <span class="content-group-feature__promo__text">
            Mae ein Diwrnod Agored Rhithwir yn digwydd heddiw
          </span>
          <span class="content-group-feature__promo__date">21 April 2021</span>
          <span class="content-group-feature__promo__ring" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>