<section class="content-group content-group-feature with-image">
  <div class="image-wrapper">
    <img
      data-srcset="https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=1170&amp;h=420&amp;fit=crop&amp;q=70&amp;auto=format 1200w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=940&amp;h=420&amp;fit=crop&amp;q=70&amp;auto=format 968w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=700&amp;h=394&amp;fit=crop&amp;q=60&amp;auto=format 700w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=550&amp;h=309&amp;fit=crop&amp;q=60&amp;auto=format  550w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=450&amp;h=253&amp;fit=crop&amp;q=60&amp;auto=format 450w,https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w, https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format 150w"
      data-src="https://cardiff.imgix.net/__data/assets/image/0004/557329/we-are-international.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      sizes="(max-width: 767px) 100vw, (max-width: 970px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 370px"
      alt="alt text"
      class="lazy">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h3>sdfsfsdfsdfsdfds</h3>
        <p>sdfsd fsd fsdf sdf sd fsdfsdfdsf</p>
      </div>
    </div>
  </div>
</section>