<table>
    <thead>
        <tr>
            <th>Variable name</th>
            <th>Computed media query</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>$breakpoint-xs-down</code></td>
            <td><code>(max-width: 319.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-sm-down</cod</td>
            <td><code>(max-width: 479.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-md-down</cod</td>
            <td><code>(max-width: 767.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-lg-down</cod</td>
            <td><code>(max-width: 979.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-xl-down</cod</td>
            <td><code>(max-width: 1199.98px)</code></td>
            <td></td>
        </tr>
    </tbody>
</table>