<table>
    <thead>
        <tr>
            <th>Variable name</th>
            <th>Computed media query</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>$breakpoint-xas-only</code></td>
            <td><code>(min-width: 319.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-xs-only</cod</td>
            <td><code>(min-width: 320px) and (max-width: 479.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-sm-only</cod</td>
            <td><code>(min-width: 480px) and (max-width: 767.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-md-only</code></td>
            <td><code>(min-width: 768px) and (max-width: 979.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-lg-only</cod</td>
            <td><code>(min-width: 980px) and (max-width: 1199.98px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-xl-only</code></td>
            <td><code>(min-width: 1200px)</code></td>
            <td></td>
        </tr>
    </tbody>
</table>