<table>
    <thead>
        <tr>
            <th>Variable name</th>
            <th>Computed media query</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>$breakpoint-xs-up</code></td>
            <td><code>(min-width: 320px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-sm-up</cod</td>
            <td><code>(min-width: 480px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-md-up</cod</td>
            <td><code>(min-width: 768px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-lg-up</cod</td>
            <td><code>(min-width: 980px)</code></td>
            <td></td>
        </tr>
        <tr>
            <td><code>$breakpoint-xl-up</cod</td>
            <td><code>(min-width: 1200px)</code></td>
            <td></td>
        </tr>
    </tbody>
</table>