.tag
  @include border-radius($baseUnit*0.2)
  list-style: none
  line-height: map-get($lineHeights, 'normal')
  font-size: $tagFontSize
  background-color: $colourGreyLightest
  border: ($baseUnit*0.1) solid $colourGreyLighter
  margin: 0 #{$baseUnit * 0.5} #{$baseUnit * 0.5} 0
  color: $colourGrey
  text-align: center

  &:hover
    background-color: $colourGreyLight
    border-color: $colourGreyLight

  a
    @extend .text-decoration-none
    display: inline-block
    text-decoration: none
    color: $colourGrey
    padding: #{$baseUnit * 0.6} #{$baseUnit}

    &:focus
      background-color: $colourGreyLight
  
  &-dismissible
    cursor: pointer

    a
      padding: #{$baseUnit * 0.5} #{$baseUnit * 1.2}      
      display: flex
      align-items: center
      text-align: left

      .icon
        @include square(map-get($svgWidths, 'xxs'))
        display: inline-block
        flex-shrink: 0
        margin-right: $baseUnit*1.2


.prettyprint .tag
  font-size: inherit
  font-family: inherit
  padding: 0
  background: inherit
  line-height: inherit

@import 'tag-lg-up'