<div class="d-inline-block">
  <div class="tabs tabs--with-slider">
    <ul class="nav nav-tabs">
      <li class="nav-item ">
        <a class="nav-link active" href="#section1" role="tab" data-toggle="tab" aria-selected="true">
          ${require-svg('menu')}Section 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2" role="tab" data-toggle="tab" aria-selected="false">
          ${require-svg('marker')}Section 2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3" role="tab" data-toggle="tab" aria-selected="false">
          Section 3
        </a>
      </li>
    </ul>
  </div>
</div>