<div class="tabs-vertical">
  <ul class="nav nav-list">
    <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Typical A level offer</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Typical Welsh Baccalaureate offer</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Typical International Baccalaureate offer</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab4" data-toggle="tab">Alternative qualifications</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab5" data-toggle="tab">English language requirements</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab6" data-toggle="tab">Other qualifications</a></li>
  </ul>
  <div class="accordion accordion-mobile" id="accordion2">
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse"  href="#collapseOne">
              ${require-svg('chevron-right')}<span>Typical A level offer</span>
            </a>
          </div>
          <div id="collapseOne" class="accordion-section-body collapse" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>AAB including grade B plus practical endorsement in Chemistry. Ideally at least one
                other science or mathematical subject.</p>
              <p>Also grade C or higher in GCSE Maths and English
              or Welsh (as appropriate). General Studies and Critical Thinking are not accepted for
              entry.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseTwo">
              ${require-svg('chevron-right')}<span>Typical Welsh Baccalaureate offer</span>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-section-body collapse" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>WBQ core will be accepted in lieu of one A-level (at the grades specified above), excluding Chemistry.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab3">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseThree">
              ${require-svg('chevron-right')}<span>Typical International Baccalaureate offer</span>
            </a>
          </div>
          <div id="collapseThree" class="accordion-section-body collapse" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>34 points to include 10 points in total from Higher Level Chemistry and another science or Mathematical subject. Chemistry is to be at least 5 points within this total.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab4">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseFour">
              ${require-svg('chevron-right')}<span>Alternative qualifications</span>
            </a>
          </div>
          <div id="collapseFour" class="accordion-section-body collapse" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>Alternative qualifications may be accepted. For further information on entry requirements, see the Cardiff School of Law and Politics admissions criteria pages.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab5">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseFive">
              ${require-svg('chevron-right')}<span>English language requirements</span>
            </a>
          </div>
          <div id="collapseFive" class="accordion-section-body collapse in" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>If you are an overseas applicant and your first language is not English, please visit our English Language requirements page for more information on our accepted qualifications.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab6">
        <div class="accordion-section">
          <div class="accordion-section-header">
            <a class="accordion-section-header-title collapsed" data-toggle="collapse" href="#collapseSix">
              ${require-svg('chevron-right')}<span>Other qualifications</span>
            </a>
          </div>
          <div id="collapseSix" class="accordion-section-body collapse in" data-parent="#accordion2">
            <div class="accordion-inner">
              <p>GCSE English Language Grade B or 6, IGCSE English First Language grade B, IGCSE English as a Second Language not accepted.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>