
<nav class="nav-local" role="navigation">
  <li class="nav-item">
    <a href="{{{lineage.url}}}" class="nav-link level-1">{{{lineage.name}}}</a>
  </li>
  {{#pages}}
    <li class="nav-item{{#hasChildren}} nav-local-section nav-local-section-open{{/hasChildren}}">
      <a href="{{{url}}}" class="nav-link level-1{{#active}} active{{/active}}" aria-label="{{{name}}}"><span class="nav-local-section-text">{{{shortName}}}</span>{{#hasChildren}}{{{icon}}}{{/hasChildren}}</a>
      {{#hasChildren}}
        <nav role="navigation">
          {{#children}}
            <li class="nav-item{{#hasChildren}} nav-local-section nav-local-section-open{{/hasChildren}}">
              <a href="{{{url}}}" class="nav-link level-2{{#active}} active{{/active}}" aria-label="{{{name}}}"><span class="nav-local-section-text">{{{shortName}}}</span>{{#hasChildren}}{{{icon}}}{{/hasChildren}}</a>
              {{#hasChildren}}
                <nav role="navigation">
                  {{#children}}
                    <li class="nav-item{{#hasChildren}} nav-local-section nav-local-section-open{{/hasChildren}}">
                      <a href="{{{url}}}" class="nav-link level-3{{#active}} active{{/active}}" aria-label="{{{name}}}"><span class="nav-local-section-text">{{{shortName}}}</span>{{#hasChildren}}{{{icon}}}{{/hasChildren}}</a>
                      {{#hasChildren}}
                        <nav role="navigation">
                          {{#children}}
                            <li class="nav-item{{#hasChildren}} nav-local-section nav-local-section-open{{/hasChildren}}">
                              <a href="{{{url}}}" class="nav-link level-4{{#active}} active{{/active}}" aria-label="{{{name}}}"><span class="nav-local-section-text">{{{shortName}}}</span>{{#hasChildren}}{{{icon}}}{{/hasChildren}}</a>
                              {{#hasChildren}}
                                <nav role="navigation">
                                  {{#children}}
                                    <li class="nav-item{{#hasChildren}} nav-local-section nav-local-section-open{{/hasChildren}}">
                                      <a href="{{{url}}}" class="nav-link level-5{{#active}} active{{/active}}" aria-label="{{{name}}}"><span class="nav-local-section-text">{{{shortName}}}</span>{{#hasChildren}}{{{icon}}}{{/hasChildren}}</a>
                                      {{#hasChildren}}
                                        <nav role="navigation">
                                          {{#children}}
                                            <li class="nav-item{{#hasChildren}} nav-local-section nav-local-section-open{{/hasChildren}}">
                                              <a href="{{{url}}}" class="nav-link level-6{{#active}} active{{/active}}" aria-label="{{{name}}}"><span class="nav-local-section-text">{{{shortName}}}</span>{{#hasChildren}}{{{icon}}}{{/hasChildren}}</a>
                                              {{#hasChildren}}
                                                <nav role="navigation">
                                                  {{#children}}
                                                    <li class="nav-item">
                                                      <a href="{{{url}}}" class="nav-link level-6{{#active}} active{{/active}}" aria-label="{{{name}}}"><span class="nav-local-section-text">{{{shortName}}}</span></a>
                                                    </li>
                                                  {{/children}}
                                                </nav>
                                              {{/hasChildren}}
                                            </li>
                                          {{/children}}
                                        </nav>
                                      {{/hasChildren}}
                                    </li>
                                  {{/children}}
                                </nav>
                              {{/hasChildren}}
                            </li>
                          {{/children}}
                        </nav>
                      {{/hasChildren}}
                    </li>
                  {{/children}}
                </nav>
              {{/hasChildren}}
            </li>
          {{/children}}
          </nav>
      {{/hasChildren}}
    </li>
  {{/pages}}
</nav>