<section class="search-box search-primary overlay-top" aria-label="Undergraduate course search">
    <div class="green-bg"></div>
    <div class="row">
        <div class="col-md-8">
        <h1 class="search-title">Find your course</h1>
        <div class="search-title-options">
            ${require-svg('chevron-down')}
            <select aria-label="Course search selector">
            <option value="undergraduate">Undergraduate</option>
            <option value="pgt">Postgraduate taught</option>
            <option value="pgr">Postgraduate research</option>
            <option value="cpe">Part-time courses for adults</option>
            <option value="cpd">Professional development</option>
            </select>
        </div>
        <form
            id="coursefinder-search"
            class="search-box-form"
            method="get"
            action="https://www.cardiff.ac.uk/study/undergraduate/courses/search"
            aria-label="Undergraduate course search form"
        >
            <input name="collection" value="ug-courses" type="hidden" />
            <input id="course-search-box" type="text" class="search-input" name="query" placeholder="Enter course title or keyword" />
            <label class="sr-only" for="course-search-box">Enter course title or keyword</label>
            <button type="submit" class="search-submit">${require-svg('search')}</button>
        </form>
        <ul class="search-related list list-links">
            <li>
            <a
                id="related-link-browse-by-az"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/a-to-z - Undergraduate - Search box"
                >Browse by A-Z</a
            >
            </li>
            <li>
            <a
                id="related-link-browse-by-school"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-school - Undergraduate - Search box"
                >Browse by School</a
            >
            </li>
            <li>
            <a
                id="related-link-browse-by-subject"
                href="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="https://www.cardiff.ac.uk/study/undergraduate/courses/browse-by-subject - Undergraduate - Search box"
                >Browse by subject</a
            >
            </li>
        </ul>
        </div>
        <div class="col-md-4">
        <div class="call-to-action" id="undergraduate-call-to-action" style="display: block;">
            <p class="call-to-action-category">Next undergraduate Open Day</p>
            <h4 class="call-to-action-title">
            <a
                href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
                class="ga-event"
                data-action="click-link"
                data-category="Main homepage"
                data-label="Open day call to action UG - date"
                >Saturday 14 September 2019</a
            >
            </h4>
            <p>
            <a
                class="btn btn-lg btn-primary text-center ga-event"
                data-action="click-button"
                data-category="Main homepage"
                data-label="Open day call to action UG - book"
                href="https://www.cardiff.ac.uk/study/undergraduate/open-days-visits"
                >Find out more</a
            >
            </p>
            <a
            class="call-to-action-link ga-event"
            data-action="click-link"
            data-category="Main homepage"
            data-label="Open day call to action UG - register"
            href="http://undergraduate-enews.cardiff.ac.uk/h/t/B965104E0538C93A"
            >Register for upcoming dates ${require-svg('chevron-right')}</a
            >
        </div>
        </div>
    </div>
</section>
