<div class="callout section">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
        <div class="callout-container">
          <h3 class="w-100">We are the only Russell group university to offer both the academic stage of training to become a
            barrister or solicitor and the vocational stages of training
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>