<div class="callout with-video section">
    <div class="container">
      <div class="row">
        <div class="d-lg-flex w-100">
        <div class="callout-container">
          <h3 class="w-100">We are the only Russell group university to offer both the academic stage of training to become a
            barrister or solicitor and the vocational stages of training
          </h3>
        </div>
        <div class="video-container">
          <figure class="video">
            <div class="video-body">
              <iframe
                src="//www.youtube.com/embed/Go2IYla8e_c?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;autohide=1"
                allow="fullscreen"></iframe>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>