<div class="callout video-callout">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <figure class="video">
          <div class="video-body">
            <iframe
              src="//www.youtube.com/embed/Go2IYla8e_c?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;autohide=1"
              allow="fullscreen"></iframe>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
