<section class="download with-image">
  <figure class="download-image">
    <img src="//www.placehold.it/50x70" />
  </figure>
  <h2 class="download-title">Annual Review 2012</h2>
  <p class="download-date">10 January 2013</p>
  <p class="download-description">
    The Uiversity's achievements, successes and distinctions in 2012. This review highlights some of the University
    recent chievements, successes and distinctions.
  </p>
  <p class="download-actions">
    <a class="btn btn-primary" href="#">
      View document
    </a>
    <a class="btn btn-primary" href="#">
      Download document <span class="download-filesize">(PDF, 7.3MB)</span>
    </a>
  </p>
  <div class="download-requests accordion accordion--sm accordion--link">
    <div class="accordion-section">
      <div class="accordion-section-header">
        <a class="accordion-section-header-title collapsed" aria-label="Request file" data-toggle="collapse"
          href="#accordion-a1533379_1">
          ${require-svg('chevron-right')}Request an accessible format</a>
      </div>
      <div class="accordion-section-body collapse" id="accordion-a1533379_1">
        <p>If this document cannot be read by your assistive software, you can request an accessible version by
          emailing <a
            href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%23ASSETID)&body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20(Generated%20by%20Squiz)%0D%0ADocument%20URL%3A%20(Generated%20by%20Squiz)%0D%0APage%20URL%3A%20(Generated%20by%20Squiz)%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance.">web@cardiff.ac.uk</a>.
          Please include the assistive tools you use and the format you require.</p>
      </div>
    </div>
  </div>

</section>