<section class="download with-image">
  <figure class="download-image">
    <img src="//www.placehold.it/50x70" />
  </figure>
  <p class="download-category" style="margin-bottom:0;">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 32.03">
      <title>File</title>
      <path
        d="M29.94,10.5l0,19A2.51,2.51,0,0,1,27.44,32L4.5,32a2.52,2.52,0,0,1-1.78-.75A2.59,2.59,0,0,1,2,29.47l0-27A2.5,2.5,0,0,1,2.72.72,2.57,2.57,0,0,1,4.47,0l15,0a6.42,6.42,0,0,1,2.28.5,5.91,5.91,0,0,1,2,1.25l4.47,4.47,0,0a5.91,5.91,0,0,1,1.25,2A6.42,6.42,0,0,1,29.94,10.5Zm-2,19.19a0.17,0.17,0,0,0,0-.19l0,0,0-19.5-8,0,0-7.91A0.47,0.47,0,0,0,19.84,2a0.1,0.1,0,0,1-.12,0,0.24,0.24,0,0,0-.12,0,0.14,0.14,0,0,1-.16,0l-15,0a0.18,0.18,0,0,0-.19,0,0.66,0.66,0,0,0-.16.09A0.31,0.31,0,0,0,4,2.31a0.61,0.61,0,0,1-.06.19l0,27a0.44,0.44,0,0,0,.16.31,0.43,0.43,0,0,0,.31.16l23,0A0.66,0.66,0,0,1,27.66,30a0.31,0.31,0,0,0,.16-0.12,0.69,0.69,0,0,0,.09-0.16h0ZM21.94,8l5.13,0A0.47,0.47,0,0,1,27,7.91l-0.16-.19a0.16,0.16,0,0,1-.09-0.06L22.28,3.19,22.16,3A0.16,0.16,0,0,1,22.06,3a0.11,0.11,0,0,0-.09,0Z"
        transform="translate(-1.97 0.03)"></path>
    </svg>Document
  </p>
  <h2 class="download-title">Annual Review 2012</h2>
  <p class="download-date">10 January 2013</p>
  <p class="download-description">
    The Uiversity's achievements, successes and distinctions in 2012. This review highlights some of the University
    recent chievements, successes and distinctions.
  </p>
  <p class="download-actions">
    <a class="btn btn-primary" href="#">
      View document
    </a>
    <a class="btn btn-primary" href="#">
      Download document <span class="download-filesize">(PDF, 7.3MB)</span>
    </a>
  </p>
  <div class="download-requests accordion accordion--sm accordion--link">
    <div class="accordion-section">
      <div class="accordion-section-header">
        <a class="accordion-section-header-title collapsed" aria-label="Request file" data-toggle="collapse"
          href="#accordion-a1533379_1">
          ${require-svg('chevron-right')}Request an accessible format</a>
      </div>
      <div class="accordion-section-body collapse" id="accordion-a1533379_1">
        <p>If this document cannot be read by your assistive software, you can request an accessible version by
          emailing <a
            href="mailto:web@cardiff.ac.uk?subject=Accessible%20document%20request%20(%23ASSETID)&body=%0D%0A%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%20-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94-%E2%80%94%0D%0A%0D%0APlease%20detail%20the%20problem%20above%20this%20line%2C%20including%20the%20assistive%20software%20you%20use%20and%20format%20required.%0D%0A%0D%0AThe%20following%20document%20has%20been%20reported%20as%20inaccessible%20for%20the%20reasons%20outlined%20in%20this%20email%3A%0D%0A%0D%0ADocument%20name%3A%20(Generated%20by%20Squiz)%0D%0ADocument%20URL%3A%20(Generated%20by%20Squiz)%0D%0APage%20URL%3A%20(Generated%20by%20Squiz)%0D%0A%0D%0APlease%20ensure%20this%20information%20is%20made%20available%20in%20an%20accessible%20format%2C%20in%20line%20with%20the%20University%20accessibility%20statement%3A%20https%3A%2F%2Fwww.cardiff.ac.uk%2Fhelp%2Faccessibility%0D%0A%0D%0AContact%20the%20Assurance%20Services%20team%20for%20further%20guidance.">web@cardiff.ac.uk</a>.
          Please include the assistive tools you use and the format you require.</p>
      </div>
    </div>
  </div>

</section>