<table class="table table-collapse" aria-label="covid table content">
  <thead id="collapse-table-head">
    <tr>
      <th scope="col">Dates</th>
      <th scope="col">New student cases</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>13/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>14/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>15/10/2020</td>
      <td>48</td>
    </tr>
    <tr>
      <td>16/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>17/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>18/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>19/10/2020</td>
      <td>48</td>
    </tr>
    <tr>
      <td>20/10/2020</td>
      <td>49</td>
    </tr>
    <tr>
      <td>21/10/2020</td>
      <td>55</td>
    </tr>
    <tr>
      <td>22/10/2020</td>
      <td>73</td>
    </tr>
    <tr>
      <td>23/10/2020</td>
      <td>48</td>
    </tr>

  </tbody>

</table>