<div class="box box-inverse">
  <div class="box-header"><h1 class="box-title">Key facts</h1></div>
  <div class="box-body">
    <table class="table">
      <tbody>
        <tr>
          <th></th>Start date</th>
          <td>
            4 Jan 2019
          </td>
        </tr>
        <tr>
          <th>End date</th>
          <td>6 Jan 2020</td>
        </tr>
        <tr>
          <th>Grant value</th>
          <td>£10,000</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            <ul class="list list-unstyled">
              <li>Hibernation</li>
            </ul>
          </td>
        </tr>
      </tbody>
      </table>
  </div>
</div>
