<div class="table-responsive">
    <p class="table-caption">Fig 2. Table Caption Example with context </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Username</th>
          <th scope="col">Telephone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info">
          <td>Mark</td>
          <td>Smith</td>
          <td>@sagms36</td>
          <td>71515</td>
        </tr>
        <tr class="table-warning">
          <td>David</td>
          <td>Davies</td>
          <td>@sagdd24</td>
          <td>71539</td>
        </tr>
        <tr class="table-success">
          <td>Rebecca</td>
          <td>Jones</td>
          <td>@sagrdj</td>
          <td>74965</td>
        </tr>
        <tr class="table-danger">
          <td>Frank</td>
          <td>Franklin</td>
          <td>@sagde21</td>
          <td>71300</td>
        </tr>
      </tbody>
    </table>
</div>