<p class="table-caption">Fig 2. Table Caption Example</p>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Telephone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Smith</td>
        <td>@sagms36</td>
        <td>71515</td>
      </tr>
      <tr>
        <td>David</td>
        <td>Davies</td>
        <td>@sagdd24</td>
        <td>71539</td>
      </tr>
    </tbody>
  </table>
</div>
