<p class="table-caption" aria-label="table caption">Fig 2. Table Caption Example</p>
<div class="table-responsive">
  <table class="table" aria-label="table content // unique table name maybe?">
      <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last Name</th>
            <th scope="col" class="contract-phone">Username</th>
            <th scope="col" class="contract-phone">Tel. No</th>
            <th scope="col" class="contract-phone">Username</th>
            <th scope="col" class="contract-phone">Tel. No</th>
            <th scope="col" class="contract-phone">Username</th>
            <th scope="col" class="contract-phone">Tel. No</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Smith</td>
            <td>@sagms36</td>
            <td>71515</td>
            <td>@sagms36</td>
            <td>71515</td>
            <td>@sagms36</td>
            <td>71515</td>
          </tr>
          <tr>
            <td>David</td>
            <td>Davies</td>
            <td>@sagdd24</td>
            <td>71539</td>
            <td>@sagdd24</td>
            <td>71539</td>
            <td>@sagdd24</td>
            <td>71539</td>
          </tr>
        </tbody>
    </table>
</div>