<table class="table table-sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    <tr data-assetid="372311" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://www.cardiff.ac.uk/master/website/documents/public-information/freedom-of-information/financial-procedures.pdf"
          >Financial procedures handbook</a
        >
      </td>
      <td>PDF</td>
      <td>1/07/2016</td>
    </tr>
    <tr data-assetid="1529238" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/1529238/Hos-and-Senior-Staff-Register-of-interests-2017-18.pdf"
          >Hos and Senior Staff Register of interests 2017-18.pdf</a
        >
      </td>
      <td>PDF</td>
      <td>10/07/2019</td>
    </tr>
    <tr data-assetid="245334" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/245334/FOI-Complaints-Procedure-April-16-V1.3.pdf"
          >FOI Complaints Procedure</a
        >
      </td>
      <td>PDF</td>
      <td>18/04/2016</td>
    </tr>
    <tr data-assetid="173325" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0003/173325/InformationChargingPolicyApril_2018_GDPRV1.2.pdf"
          >Information charging policy</a
        >
      </td>
      <td>PDF</td>
      <td>19/08/2019</td>
    </tr>
    <tr data-assetid="257949" data-type="word_doc" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/word_doc/0009/257949/FOI-Complaints-Procedure-April-16-V1-3-cym.doc"
          >FOI Complaints Procedure (Welsh)</a
        >
      </td>
      <td>Word</td>
      <td>25/04/2016</td>
    </tr>
    <tr data-assetid="89056" data-type="pdf_file" data-schema="file">
      <td>
        <a
          href="https://www.cardiff.ac.uk/master/website/documents/public-information/freedom-of-information/definition_document_for_universities_and_higher_education_institutions.pdf"
          >Definition document for universities and other higher education institutions.</a
        >
      </td>
      <td>PDF</td>
      <td>27/03/2015</td>
    </tr>
    <tr data-assetid="173326" data-type="pdf_file" data-schema="file">
      <td>
        <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0004/173326/InformationChargingPolicyJuly2015V1-1Final-Cymraeg1.pdf"
          >Information charging policy (Cymraeg)</a
        >
      </td>
      <td>PDF</td>
      <td>8/12/2015</td>
    </tr>
  </tbody>
</table>
