@media #{$breakpoint-xl-up}
  .search-form
    &.with-radio-group
      .search-form-container
        .search-form-query
          &-container
            order: 1
            width: 66.66666%
            flex: 1 1 66.66666%

        .radio-btn-group,
        .checkbox-btn-group
          width: 33.33333%
          flex: 1 1 33.33333%