$searchIconSize: $iconSize20
$searchClearIconSize: map-get($svgWidths, 'xxs')
$searchIconMarginX: $baseUnit*2
$searchQueryPaddingX: $baseUnit*1.1

$searchQueryPaddingLeft: $searchIconSize + $searchIconMarginX*2
$clearWdith: $baseUnit*4.3

.search-form
  color: $colourBlack

  &-container
    // width: 100%
    flex: 1 1 auto
    position: relative
    margin: 0
    display: flex
    border: $baseUnit*0.2 solid $colourBlack
    border-radius: $baseUnit*0.4

  .has-input
    .search-form-clear
      display: flex
      visibility: visible

  .search-form
    &-label
      position: absolute
      left: 0
      top: 0
      bottom: $baseUnit*0.1
      display: flex
      align-items: center
      margin-bottom: 0
      border-top-left-radius: $baseUnit*0.3
      border-bottom-left-radius: $baseUnit*0.3

      .icon
        @include square($searchIconSize)
        margin: 0 $baseUnit*2

    &-query
      font-size: map-get($headingFontSizes,'normal')
      line-height: map-get($lineHeights, 'lg')
      padding: $searchQueryPaddingX $clearWdith $searchQueryPaddingX $searchQueryPaddingLeft
      border: none
      outline: none
      width: 100%
      height: auto
      overflow: hidden
      min-height: $baseUnit*5

      &::-ms-clear
        display: none

      &::placeholder
        color: $colourGrey
        font-size: 1rem

      &-container
        position: relative
        width: 100%

    &-clear
      position: absolute
      right: 0
      top: 0
      bottom: $baseUnit*0.1
      display: none
      align-items: center
      justify-content: center
      background: none
      border: none
      padding: 0
      margin: 0
      width: $clearWdith
      border-top-right-radius: $baseUnit*0.4
      border-bottom-right-radius: $baseUnit*0.4

      .icon
        @include square($searchClearIconSize)
        pointer-events: none
        margin-right: 0

  .list.list-horizontal
    li
      margin-right: $baseUnit*4

  &.with-border
    border-top: $baseUnit*0.1 solid $colourTintLightest
    border-bottom: $baseUnit*0.1 solid $colourTintLightest
    padding: $baseUnit*3 0

    .list.list-horizontal
      margin: 0

  &.with-radio-group
    .search-form-container
      display: flex
      flex-direction: column

      .search-form
        &-label
          order: 2

        &-clear
          border-radius: 0

        &-query
          height: 100%

          &-container
            order: 2

      .radio-btn-group,
      .checkbox-btn-group
        order: 1
        border-radius: 0
        border: 0
        border-bottom: $baseUnit*0.2 solid $colourBlack

        .checkbox-option-label,
        .radio-option-label
          height: 100%
          padding: $baseUnit*0.8 $baseUnit*1.6

@import 'search-form-lg-up'
@import 'search-form-xl-up'
