@media #{$breakpoint-lg-up}
  .search-form
    &-container
      margin-right: $baseUnit * 2

    input[type="submit"]
      order: 2
      
    &-query
      min-height: $baseUnit*5

    &-clear
      &:focus
        background-color: $colourSweetCorn
        outline: none

        .icon
          fill: $colourGreyDarker

    &.with-border
      padding: $baseUnit*4 0
    
    &.with-radio-group
      .search-form-container
        flex-direction: row

        .search-form-query
          z-index: 2
          width: calc(100% - #{$baseUnit*0.3})

          &:focus
            border-top-right-radius: 0
            border-bottom-right-radius: 0

          &-container
            order: 1
            width: 50%
            flex: 1 1 50%

        .radio-btn-group,
        .checkbox-btn-group
          order: 2
          border: 0
          width: 50%
          flex: 1 1 50%
          align-items: center
          height: auto
          border-left: $baseUnit*0.2 solid $colourBlack