$promoBorderWidth: $baseUnit*0.3
$promoGapWidth: $baseUnit*0.3
$promoWidth: $baseUnit*19
$marginBottomFeatureGroup: $baseUnit*8
$marginTopPromo: $baseUnit*2

.content-group
  padding-top: ($baseUnit * 4)
  padding-bottom: ($baseUnit * 4)
  min-width: 100%

  &--centered
    text-align: center

  &.full-width
    &:not(.with-image)
      position: relative

      &:before
        content: ""
        position: absolute
        top: 0
        bottom: 0
        background-color: inherit
        width: 100vw
        margin-left: calc((((100vw - 100% + #{$scrollbarWidthFallback}) / 2) ) * -1)
        margin-left: calc((((100vw - 100% + var(--scrollbar-width, 0px)) / 2)) * -1)

    &.content-group-feature
      &.with-image
        .image-wrapper
          width: 100vw
          margin-left: calc((((100vw - 100% + #{$scrollbarWidthFallback}) / 2) ) * -1)
          margin-left: calc((((100vw - 100% + var(--scrollbar-width, 0px)) / 2)) * -1)

  &.with-background
    background: lighten($colourTintLightest, 5%)
    margin: 0 -$baseUnit
    padding-left: $baseUnit
    padding-right: $baseUnit

    & +.content-group.no-background
      padding-top: ($baseUnit * 4)

  &.content-group-feature
    position: relative
    padding: ($baseUnit*6) 0
    margin: $baseUnit 0

    h1, h2, h3, p, a
      color: $colourWhite
      position: relative
      z-index: 2

    h2
      margin-top: 0

    p:last-child, ul:last-child
      margin-bottom: 0

    svg
      fill: $colourWhite

    &.with-image
      .image-wrapper
        position: absolute
        top: 0
        left: 0
        width: calc(100% + #{$baseUnit*2})
        height: 100%
        overflow: hidden
        z-index: 1
        margin: 0 -$baseUnit

        img
          position: absolute
          width: 100%
          height: 100%
          object-fit: cover

        &::after
          content: ""
          position: absolute
          background-color: rgba($colourTrueBlack, .7)
          top: 0
          left: 0
          width: 100%
          height: 100%

    &--with-promo
      padding: #{$baseUnit*5} 0 #{$promoWidth/2}
      margin-bottom: $promoWidth/2 + $marginTopPromo

      .content-group-feature__promo
        +square($promoWidth - ($promoBorderWidth*2)- ($promoGapWidth*2))
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        background-color: $colourBtnSuccessBackground
        position: absolute
        box-shadow: 0 0 $baseUnit 0 rgba(0,0,0,0.15)
        margin: $promoGapWidth
        padding: $baseUnit
        text-align: center
        flex-direction: column
        top: $promoGapWidth
        flex-shrink: 0

        &__text
          text-decoration: underline
          font-family: $boldFontFamily
          font-size: map-get($font20, 'size')
          line-height: map-get($font19, 'line-height')

        &__date
          text-decoration: none
          margin-top: $baseUnit*0.5
          font-family: $brandFamily
          font-size: map-get($font15, 'size')
          line-height: map-get($font15, 'line-height')

        &:focus,
        &:active,
        &:hover
          text-decoration: none

          .content-group-feature__promo
            &__ring
              background-color: $colourBtnSuccessBackground

            &__date
              text-decoration: none

        &:focus
          outline: none

          .content-group-feature__promo__ring
            box-shadow: 0 0 0 $baseUnit*0.3 $colourSweetCorn

        &__text,
        &__date
          z-index: 3
          width: 100%

        &__ring
          +square($promoWidth)
          z-index: 2
          transition: background-color $veryShortAnimationDuration $standardAnimationCubic
          position: absolute
          margin: 0
          border-radius: 50%
          border: $baseUnit*0.3 solid $colourOceanGreen
          top: -#{$promoBorderWidth*2}
          left: -#{$promoBorderWidth*2}

      p:last-child, ul:last-child
        margin-bottom: $marginTopPromo

  &.content-group-quote
    background: $colourCararra

  &.content-group-contact
    font-size: map-get($headingFontSizes, 'normal')
    font-family: $boldFontFamily

    p, ul
      margin: 0

  .teaser
    margin-bottom: 0

  .content-group-title
    font-family: $brandFamily
    font-size: map-get($headingFontSizes, 'xl')

  &-hero
    padding: 0

.nav-section.mb-20 + .content-group
  padding-top: $baseUnit*2

@import "content-group-md-up"
@import "content-group-lg-up"
