$promoLGWidth: $baseUnit*21

@media #{$breakpoint-md-up}
  .content-group
    &-hero
      margin: 40.5px 0

    &.with-background
      margin: 0
      padding-left: 0
      padding-right: 0

    &.md-with-background
      padding-top: ($baseUnit * 2)
      padding-bottom: ($baseUnit * 2)
      background: lighten($colourTintLightest, 5%)

      & +.content-group.no-background
        padding-top: ($baseUnit * 2)

    &.content-group-feature
      &--with-promo
        padding: $baseUnit*12 0
        margin-bottom: 0

        .content-group-feature__promo
          +square($promoLGWidth - ($promoBorderWidth*2)- ($promoGapWidth*2))
          position: relative
          top: 0

          &__ring
            +square($promoLGWidth)

        p:last-child, ul:last-child
          margin-bottom: 0

        .image-wrapper
          width: 100%
          margin: 0
