=margin-utilities
  @each $class, $value in $utilitySizes
    @include margin-utilities-item($class, $value)

    @each $breakpoint, $media in $breakpointsForLoop
      @media #{$media}
        @include margin-utilities-item('#{$breakpoint}-#{$class}', $value)

@include margin-utilities

/* Negative margins */
.-m
  &b-5
    margin-bottom: -$baseUnit*0.5 !important

  &b-10
    margin-bottom: -$baseUnit !important

  &b-15
    margin-bottom: -$baseUnit*1.5 !important

  &t-5
    margin-top: -$baseUnit*0.5 !important

  &t-10
    margin-top: -$baseUnit !important

  &t-15
    margin-top: -$baseUnit*1.5 !important

  &t-20
    margin-top: -$baseUnit*2 !important

  &t-25
    margin-top: -$baseUnit*2.5 !important

  &t-30
    margin-top: -$baseUnit*3 !important

  &t-40
    margin-top: -$baseUnit*4 !important

@media #{$breakpoint-md-up}
  .-m-md-
    &b-5
      margin-bottom: -$baseUnit*0.5 !important

    &b-10
      margin-bottom: -$baseUnit !important

    &b-15
      margin-bottom: -$baseUnit*1.5 !important

    &t-5
      margin-top: -$baseUnit*0.5 !important

    &t-10
      margin-top: -$baseUnit !important

    &t-15
      margin-top: -$baseUnit*1.5 !important

    &t-20
      margin-top: -$baseUnit*2 !important

    &t-25
      margin-top: -$baseUnit*2.5 !important

    &t-30
      margin-top: -$baseUnit*3 !important

    &t-40
      margin-top: -$baseUnit*4 !important
