<nav class="new-test">
    <ul>
      <li><a href="https://www.cardiff.ac.uk">Home</a></li>
      <li><a href="https://www.cardiff.ac.uk/about" data-has-children="false">About</a></li>
      <li><a href="https://wwwdev.cardiff.ac.uk/ui-kit-testing/homepage/study" data-has-children="true">Study</a></li>
    </ul>
  </nav> 