${require('../components/hero/variations/hero-section.html')}
<main id="content" class="content">
  <!-- Page layout: Full width-->
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="page-parent">International</h1>
        <p class="lead">Welcoming and ambitious, Cardiff is a truly global university with a focus on research that
          makes a real difference. With over 7,900 international students from more than 130 countries and formal links
          with more than 200 institutions worldwide, international partnerships are at the heart of what we do. Our
          culture encourages international exchanges and collaborations.</p>
      </div>
      <div class="col-md-12">
      ${require('../components/nav-section/variations/nav-section.html')}
      </div>
      <div class=" span4 col-md-4  squiz-bodycopy" id="global_partnerships_1711988">
        <!-- WIIP Homepage box layout: Standard page format -->
        <div class="box  " data-status="Live" data-get-role="" data-assetid="1528278" data-paintlayoutid="1711565">
          <div class="box-header">
            <a href="https://wwwstaging.cardiff.ac.uk/test/cardiff-catalysis-institute/asdasda" aria-hidden="true">
              <img
                srcset="https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=700&amp;h=394&amp;fit=crop&amp;q=60&amp;auto=format 700w,
              https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=600&amp;h=338&amp;fit=crop&amp;q=60&amp;auto=format 600w,
              https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=572&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format 572w,
              https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=500&amp;h=281&amp;fit=crop&amp;q=60&amp;auto=format 500w,
              https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=400&amp;h=225&amp;fit=crop&amp;q=60&amp;auto=format 400w,
              https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,
              https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format 200w,
              https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=100&amp;h=56&amp;fit=crop&amp;q=60&amp;auto=format 100w"
                src="https://cardiff.imgix.net/__data/assets/image/0003/17454/morganbotti_1920x1080.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format "
                sizes="(max-width: 767px) 100vw, (min-width: 768px) 572px" alt="Morgan-Botti Lightning Laboratory">
            </a>
            <h2 class="box-title"><a
                href="https://wwwstaging.cardiff.ac.uk/test/cardiff-catalysis-institute/asdasda">Example page</a></h2>
          </div>
          <div class="box-body">
            <p class="lead">Asadadsd teaser.</p>
          </div>
        </div>
        <!-- End WIIP Homepage box layout: Standard page format -->
        <!-- PL: 1711565 -->


      </div>

      <div class=" span4 col-md-4 squiz-bodycopy" id="research_international_1711990">


        <!-- WIIP Homepage box layout: Standard page format -->
        <div class="box  " data-status="Live" data-get-role="" data-assetid="1712306" data-paintlayoutid="1711565">
          <div class="box-header">
            <h2 class="box-title"><a href="https://wwwstaging.cardiff.ac.uk/test/research/explore">Explore</a></h2>
          </div>
          <div class="box-body">
            <p class="lead">Explore teaser.</p>
          </div>
        </div>
        <!-- End WIIP Homepage box layout: Standard page format -->
        <!-- PL: 1711565 -->


      </div>

      <div class=" span4 col-md-4 squiz-bodycopy" id="study_abroad_1711992">


        <!-- WIIP Homepage box layout: Standard page format -->
        <div class="box  " data-status="Live" data-get-role="" data-assetid="1712012" data-paintlayoutid="1712113">
          <div class="box-header">
            <h2 class="box-title"><a href="https://wwwstaging.cardiff.ac.uk/test/study/international">International</a>
            </h2>
          </div>
          <div class="box-body">
            <p class="lead">With over 7,900 international students from more than 130 countries, you will be joining a
              diverse and inspiring academic community studying on courses that will help improve your career prospects
              along with access to specialist facilities and dedicated support.</p>
          </div>
        </div>
        <!-- End WIIP Homepage box layout: Standard page format -->
        <!-- PL: 1712113 -->


      </div>

      <div class="span12 col-md-12 squiz-bodycopy" id="news_heading_1711994">
        <h2>News</h2>
      </div>

      <div class="pull-right span6 col-md-6 float-right squiz-bodycopy" id="list_of_news_items_1711996">


        <div data-get-role="complementary">


          <div class="teaser with-image">
            <figure class="teaser-image" style="width:170px;">
              <a href="https://www.cardiff.ac.uk/news/view/1520643-university-promoted-to-us-audience">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0008/1520648/Global-Wales-US-ed.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
               https://cardiff.imgix.net/__data/assets/image/0008/1520648/Global-Wales-US-ed.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
                  src="https://cardiff.imgix.net?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  sizes="(max-width: 350px) 100vw, 170px"
                  data-srcset="https://cardiff.imgix.net/__data/assets/image/0008/1520648/Global-Wales-US-ed.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
               https://cardiff.imgix.net/__data/assets/image/0008/1520648/Global-Wales-US-ed.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
                  data-src="https://cardiff.imgix.net?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  data-sizes="(max-width: 350px) 100vw, 170px" class="" alt="Global Wales US team">
              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title"><a
                  href="https://www.cardiff.ac.uk/news/view/1520643-university-promoted-to-us-audience">University
                  promoted to US audience</a></h2>
              <!--p class="teaser-date">26 June 2019</p-->
              <p class="teaser-date">26 June 2019</p>
              <p>Global Wales project supports student recruitment in US</p>
            </div>
          </div>





          <div class="teaser with-image">
            <figure class="teaser-image" style="width:170px;">
              <a
                href="https://www.cardiff.ac.uk/news/view/1519422-cardiff-university-develops-research-collaborations-with-somaliland">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0004/1520923/Somaliland.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
               https://cardiff.imgix.net/__data/assets/image/0004/1520923/Somaliland.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
                  src="https://cardiff.imgix.net?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  sizes="(max-width: 350px) 100vw, 170px"
                  data-srcset="https://cardiff.imgix.net/__data/assets/image/0004/1520923/Somaliland.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
               https://cardiff.imgix.net/__data/assets/image/0004/1520923/Somaliland.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
                  data-src="https://cardiff.imgix.net?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  data-sizes="(max-width: 350px) 100vw, 170px" class="" alt="Somaliland">
              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title"><a
                  href="https://www.cardiff.ac.uk/news/view/1519422-cardiff-university-develops-research-collaborations-with-somaliland">Cardiff
                  University develops research collaborations with Somaliland</a></h2>
              <!--p class="teaser-date">26 June 2019</p-->
              <p class="teaser-date">26 June 2019</p>
              <p>Initiative set up in recognition of the country’s strong ties with Welsh capital</p>
            </div>
          </div>





          <div class="teaser with-image">
            <figure class="teaser-image" style="width:170px;">
              <a href="https://www.cardiff.ac.uk/news/view/1465661-cardiff-and-bremen-universities-sign-partnership">
                <img
                  srcset="https://cardiff.imgix.net/__data/assets/image/0010/1466380/Cardiff-Bremen.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
               https://cardiff.imgix.net/__data/assets/image/0010/1466380/Cardiff-Bremen.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
                  src="https://cardiff.imgix.net?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  sizes="(max-width: 350px) 100vw, 170px"
                  data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/1466380/Cardiff-Bremen.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
               https://cardiff.imgix.net/__data/assets/image/0010/1466380/Cardiff-Bremen.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format 170w"
                  data-src="https://cardiff.imgix.net?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  data-sizes="(max-width: 350px) 100vw, 170px" class=""
                  alt="Cardiff University and University of Bremen event">
              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title"><a
                  href="https://www.cardiff.ac.uk/news/view/1465661-cardiff-and-bremen-universities-sign-partnership">Cardiff
                  and Bremen universities sign partnership </a></h2>
              <!--p class="teaser-date">25 March 2019</p-->
              <p class="teaser-date">25 March 2019</p>
              <p>Cardiff University sends clear message ahead of Brexit by strengthening links with European partner</p>
            </div>
          </div>




        </div>




      </div>

      <div class=" span6 col-md-6  squiz-bodycopy" id="international_video_1711998">
        <p class="embed" data-card-controls="0">
          <div class="embedly-card">
            <div class="embedly-card-hug"
              style="max-width: 600px; padding: 0px; position: relative; min-width: 200px; margin: 5px auto;"><iframe
                frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen="true" id="emb_vb8omc"
                class="embedly-card"
                style="border: none; position: relative; visibility: visible; display: block; margin: 0px; padding: 0px; max-width: 100%; min-width: 200px;"
                height="325" width="600"></iframe></div>
          </div>
        </p>
      </div>

      <div class="span12 col-md-12 squiz-bodycopy" id="heading_1712000">
        <h2>A diverse and inspiring international community</h2>
      </div>

      <div class=" span3  squiz-bodycopy" id="study_abroad_nested_1712002">

      </div>

      <div class=" span3 col-md-3 squiz-bodycopy" id="international_stories_-_nested_1712004">


        <!-- WIIP Homepage box layout: Standard page format -->
        <div class="box  " data-status="Live" data-get-role="" data-assetid="1711979" data-paintlayoutid="1711565">
          <div class="box-header">
            <h2 class="box-title"><a href="https://wwwstaging.cardiff.ac.uk/test/international/meet-our-people">Meet our
                people long name</a></h2>
          </div>
          <div class="box-body">
            <p class="lead">Meet some of our international community. Over 7,900 students and 25% of our academic staff
              choose Cardiff for study, research or work.</p>
          </div>
        </div>
        <!-- End WIIP Homepage box layout: Standard page format -->
        <!-- PL: 1711565 -->


      </div>

      <div class="span3 squiz-bodycopy" id="scholarships_1712006">

      </div>

      <div class="span3 squiz-bodycopy" id="brexit_1712008">

      </div>

      <div id="vc_international_quote_1712010">





        <section class="box box-quote with-icon " aria-label="VC Quote International">
          <header class="box-header">
            <span class="icon-left-quote"></span>
          </header>
          <div class="box-body">

                      </div>
        </section>




      </div>



    </div>
  </div>
</main>