<main id="content" class="content">
  <!-- Page layout: Full width-->
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <a href="" class="page-parent sub-section">International</a>
      </div>
      <div class="col-md-12">
        ${require('../components/nav-section/variations/nav-section.html')}
      </div>
      <div class="d-none d-md-flex col-md-3">
        ${require('../components/nav-local/nav-local.html')}
      </div>
      <div class="col-md-9 col-lg-6">
        <!-- Start WIIP Master PL -->
        <h1 class="page-title" id="page-title">Available training</h1>

        <div id="new_content_container_1028655_1724658">
          <div class="teaser with-image" data-get-role="" aria-label="Short courses">
            <figure class="teaser-image" style="width:170px;">
              <a href="https://www.cardiff.ac.uk/professional-development/available-training/short-courses">
                <img
                  srcset="
                    https://cardiff.imgix.net/__data/assets/image/0004/1476076/Writing-Skills-pen-low-res.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1476076/Writing-Skills-pen-low-res.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format  170w
                  "
                  src="https://cardiff.imgix.net/__data/assets/image/0004/1476076/Writing-Skills-pen-low-res.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  sizes="(max-width: 350px) 100vw, 170px"
                  alt="Delegate writing and working on laptop"
                />
              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title">
                <a href="https://www.cardiff.ac.uk/professional-development/available-training/short-courses">Short courses</a>
              </h2>
              <p>
                Develop your professional skills and knowledge with our short course programme, whilst sharing experience and ideas with others
                working in your field.
              </p>
            </div>
          </div>

          <!-- PL: 30621 -->
        </div>

        <div id="new_content_container_1028657_1724660">
          <div class="teaser with-image" data-get-role="" aria-label="Postgraduate modules for CPD">
            <figure class="teaser-image" style="width:170px;">
              <a href="https://www.cardiff.ac.uk/professional-development/available-training/postgraduate-modules-for-CPD">
                <img
                  srcset="
                    https://cardiff.imgix.net/__data/assets/image/0004/1206454/Two-students-in-library.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1206454/Two-students-in-library.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format  170w
                  "
                  src="https://cardiff.imgix.net/__data/assets/image/0004/1206454/Two-students-in-library.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  sizes="(max-width: 350px) 100vw, 170px"
                  alt="Continuing professional development short training courses"
                />
              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title">
                <a href="https://www.cardiff.ac.uk/professional-development/available-training/postgraduate-modules-for-CPD"
                  >Postgraduate modules for CPD</a
                >
              </h2>
              <p>We offer a select range of postgraduate taught modules that can be taken on a standalone basis.</p>
            </div>
          </div>

          <!-- PL: 30621 -->
        </div>

        <div id="new_content_container_1028659_1724662">
          <div class="teaser with-image" data-get-role="" aria-label="Support for Armed Forces">
            <figure class="teaser-image" style="width:170px;">
              <a href="https://www.cardiff.ac.uk/professional-development/about-us/support-for-armed-forces">
                <img
                  srcset="
                    https://cardiff.imgix.net/__data/assets/image/0004/1471432/army-uniform.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
                    https://cardiff.imgix.net/__data/assets/image/0004/1471432/army-uniform.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format  170w
                  "
                  src="https://cardiff.imgix.net/__data/assets/image/0004/1471432/army-uniform.jpg?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  sizes="(max-width: 350px) 100vw, 170px"
                  alt="Armed Forces Covenant"
                />
              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title">
                <a href="https://www.cardiff.ac.uk/professional-development/about-us/support-for-armed-forces">Support for Armed Forces</a>
              </h2>
              <p>
                We are proud to support armed forces veterans and are committed to supporting ex-forces servicemen/women who are seeking re-training.
                Click here for more.
              </p>
            </div>
          </div>

          <!-- PL: 30621 -->
        </div>

        <div id="content_container_1724664">
          <div class="teaser with-image" data-get-role="" aria-label="Bespoke training courses">
            <figure class="teaser-image" style="width:170px;">
              <a href="https://www.cardiff.ac.uk/professional-development/bespoke-training-courses">
                <img
                  srcset="
                    https://cardiff.imgix.net/__data/assets/image/0020/1206470/Image-of-map-with-pins.JPG?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,
                    https://cardiff.imgix.net/__data/assets/image/0020/1206470/Image-of-map-with-pins.JPG?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format  170w
                  "
                  src="https://cardiff.imgix.net/__data/assets/image/0020/1206470/Image-of-map-with-pins.JPG?w=170&amp;h=96&amp;fit=crop&amp;q=60&amp;auto=format"
                  sizes="(max-width: 350px) 100vw, 170px"
                  alt="Bespoke training courses and learning opportunities from Cardiff University"
                />
              </a>
            </figure>
            <div class="teaser-body">
              <h2 class="teaser-title">
                <a href="https://www.cardiff.ac.uk/professional-development/bespoke-training-courses">Bespoke training courses</a>
              </h2>
              <p>
                We can deliver customised versions of an existing CPD training course or professional development programme, or develop something
                tailored to your organisation. Contact us to find out more.
              </p>
            </div>
          </div>

          <!-- PL: 30621 -->
        </div>

        <div id="new_content_container_245109_1724666">
          <h2>Our brochure</h2>
        </div>

        <div id="short_courses_brochure_1724668">
          <!-- Start WIIP Master PL -->

          <!-- WIIP PDF Format -->
          <!-- EN -->
          <div class="download with-image" data-assetid="1432412" data-paintlayoutid="7149" data-status="Live">
            <figure class="download-image">
              <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0017/1432412/FINAL-Short-course-brochure-2019-web.pdf">
                <img
                  class=""
                  alt="Short course brochure 2019"
                  src="https://cardiff.imgix.net/__data/assets/pdf_file/0017/1432412/FINAL-Short-course-brochure-2019-web.pdf?page=1&amp;w=100&amp;auto=format&amp;fit=crop"
                  data-src="https://cardiff.imgix.net/__data/assets/pdf_file/0017/1432412/FINAL-Short-course-brochure-2019-web.pdf?page=1&amp;w=100&amp;auto=format&amp;fit=crop"
                  srcset=""
                />
              </a>
            </figure>
            <h2 class="download-title">
              <a href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0017/1432412/FINAL-Short-course-brochure-2019-web.pdf"
                >Short course brochure 2019</a
              >
            </h2>
            <p class="download-date"><em>5 February 2019</em></p>
            <p class="download-description">Short courses for professional development 2019</p>
            <p class="download-actions">
              <a
                class="btn btn-primary"
                href="https://wwwstaging.cardiff.ac.uk/__data/assets/pdf_file/0017/1432412/FINAL-Short-course-brochure-2019-web.pdf"
                ><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 23.59">
                  <title>Download</title>
                  <path
                    d="M30.69,18.88H23.91c0.16-7.28-3-11.37-7.34-12.66s-9.72.22-13.88,4.06C5.53,8.75,9,7.84,11.88,8.84s4.87,3.94,4.78,10h-7l10.53,10.5Z"
                    transform="translate(-2.69 -5.78)"
                  ></path></svg
                >PDF</a
              >
            </p>
          </div>

          <!-- PL: 7149 -->
          <!-- End WIIP Master PL -->
        </div>

        <!-- PL: 1711565 -->

        <!-- End WIIP Master PL -->
      </div>
    </div>
  </div>
</main>
