<body class="r-feature">

  <main id="content" class="content pt-0">
    <div class="content-group content-group-feature mt-0 content-group-feature--with-promo with-image"
      data-gtm-vis-recent-on-screen-1661400_212="1419" data-gtm-vis-first-on-screen-1661400_212="1419"
      data-gtm-vis-total-visible-time-1661400_212="100" data-gtm-vis-has-fired-1661400_212="1">
      <div class="image-wrapper"> <img
          srcset="https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1920&amp;h=1080&amp;auto=format&amp;fit=crop&amp;q=60 1920w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1600&amp;h=900&amp;auto=format&amp;fit=crop&amp;q=60 1600w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=1024&amp;h=576&amp;auto=format&amp;fit=crop&amp;q=60 1024ww,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=768&amp;h=432&amp;auto=format&amp;fit=crop&amp;q=60 768w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop&amp;q=60 640w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=380&amp;h=214&amp;auto=format&amp;fit=crop&amp;q=60 380w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=250&amp;h=141&amp;fit=crop&amp;q=60&amp;auto=format 250w,      https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=150&amp;h=84&amp;fit=crop&amp;q=60&amp;auto=format 150w"
          src="https://cardiff.imgix.net/__data/assets/image/0020/2410850/bg-architecture.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
          sizes="100vw" alt="Student working on a model "> </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="page-title" id="page-title">Architecture</h1>
            <p class="lead">We are a leading school of architecture with a commitment to helping to create a built
              environment that enhances people’s lives, without destroying the planet for future generations.</p>
          </div>
          <div class="col-md d-flex justify-content-md-end">
            <a href="#" class="content-group-feature__promo">
              <span class="content-group-feature__promo__text">
                Mae ein Diwrnod Agored Rhithwir yn digwydd heddiw
              </span>
              <datetime class="content-group-feature__promo__date">21 April 2021</datetime>
              <span class="content-group-feature__promo__ring" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
    </div><!-- Page layout: Full width-->
    <div class="container">
      <div class="row">

        <!-- Start WIIP Master PL -->
        <div class="col-md-12">


          <div id="live_chat_drop_in_session_heading_2399351">
            <h2>Live chat drop-in session</h2>
            <p>Ask our staff and students questions in a live chat and find out what the Welsh School of Architecture
              has
              to offer.</p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="event-schedule">
                <li class="event-schedule-item"> <a
                    href="https://events.unibuddy.co/cardiff-university/architecture/chat/feeds/5eea1c7aac7d8d06d5d27fda"
                    class="ga-event event-schedule-icon" data-category="Content container: List of event links"
                    data-action="Icon" data-label="Chat with our Admissions Team"> <svg class="icon icon-dark"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.1113 125.5307">
                      <style>
                        .icon-dark {
                          fill: #383735;
                        }

                        .icon-light {
                          fill: #ffffff;
                        }

                        .icon .fill-gold {
                          fill: #bd9e5e;
                        }
                      </style>
                      <title>academic-school</title>
                      <circle cx="59.5558" cy="23.9234" r="6.6086" class="fill-gold"></circle>
                      <rect y="121.2416" width="119.1113" height="4.2891" class="fill-gold"></rect>
                      <rect x="6.981" y="107.2958" width="105.1494" height="4.2891"></rect>
                      <path
                        d="M116.2251,42.684H2.8867a2.1444,2.1444,0,0,1-1.2085-3.916L57.9546.3734A2.1428,2.1428,0,0,1,60.36.3656L117.4224,38.76a2.1446,2.1446,0,0,1-1.1973,3.9239ZM9.835,38.3949h99.3618L59.1714,4.7352Z">
                      </path>
                      <rect x="6.981" y="47.3759" width="105.1494" height="4.2891"></rect>
                      <rect x="108.7896" y="57.2821" width="3.8476" height="43.25"></rect>
                      <rect x="98.4438" y="57.2821" width="3.8477" height="43.25"></rect>
                      <rect x="85.7969" y="57.2821" width="3.8477" height="43.25"></rect>
                      <rect x="75.4512" y="57.2821" width="3.8477" height="43.25"></rect>
                      <rect x="62.8052" y="57.2821" width="3.8477" height="43.25"></rect>
                      <rect x="52.4595" y="57.2821" width="3.8477" height="43.25"></rect>
                      <rect x="39.813" y="57.2821" width="3.8477" height="43.25"></rect>
                      <rect x="29.4673" y="57.2821" width="3.8477" height="43.25"></rect>
                      <rect x="16.8198" y="57.2821" width="3.8477" height="43.25"></rect>
                      <rect x="6.4741" y="57.2821" width="3.8477" height="43.25"></rect>
                    </svg> </a>
                  <div class="event-schedule-body">
                    <h3 class="event-schedule-body-title"> <a class="ga-event"
                        data-category="Content container: List of event links" data-action="Title"
                        data-label="Chat with our Admissions Team"
                        href="https://events.unibuddy.co/cardiff-university/architecture/chat/feeds/5eea1c7aac7d8d06d5d27fda">Chat
                        with our Admissions Team</a> </h3>
                    <p class="event-schedule-body-date">3 July, <span class="event-schedule-body-time">15:00 -
                        18:00</span></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>


          <div id="content_container_2412446">
            <h2>Why study with us</h2>
          </div>

          <div id="content_container_855091_855091">
            <figure class="quote quote-rich quote-rich-thumbnail quote-rich-small" data-assetid="2402120"
              data-paintlayoutid="" data-status="Under Construction">
              <div class="quote-main">
                <blockquote class="quote-body">What I love about the Welsh School of Architecture is how much it feels
                  like a family. The most important lesson I've learnt was understanding how much our designs can have
                  an
                  impact on society. If I was to give any tips to new architecture students, it would be to enjoy your
                  designs, don't be scared to try new things, be bold! After all, as a student you have the freedom to
                  explore concepts and push your creativity. This is the time to experiment.</blockquote>
                <figcaption class="quote-author"> Dolunay Dogahan, BSc Architectural Studies </figcaption>
              </div>
            </figure><!-- quote-pl -->
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="highlight border-md-bottom-none">
                <svg class="icon icon-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.1113 125.5307">
                  <style>
                    .icon-dark {
                      fill: #383735;
                    }

                    .icon-light {
                      fill: #ffffff;
                    }

                    .icon .fill-gold {
                      fill: #bd9e5e;
                    }
                  </style>
                  <title>academic-school</title>
                  <circle cx="59.5558" cy="23.9234" r="6.6086" class="fill-gold"></circle>
                  <rect y="121.2416" width="119.1113" height="4.2891" class="fill-gold"></rect>
                  <rect x="6.981" y="107.2958" width="105.1494" height="4.2891"></rect>
                  <path
                    d="M116.2251,42.684H2.8867a2.1444,2.1444,0,0,1-1.2085-3.916L57.9546.3734A2.1428,2.1428,0,0,1,60.36.3656L117.4224,38.76a2.1446,2.1446,0,0,1-1.1973,3.9239ZM9.835,38.3949h99.3618L59.1714,4.7352Z">
                  </path>
                  <rect x="6.981" y="47.3759" width="105.1494" height="4.2891"></rect>
                  <rect x="108.7896" y="57.2821" width="3.8476" height="43.25"></rect>
                  <rect x="98.4438" y="57.2821" width="3.8477" height="43.25"></rect>
                  <rect x="85.7969" y="57.2821" width="3.8477" height="43.25"></rect>
                  <rect x="75.4512" y="57.2821" width="3.8477" height="43.25"></rect>
                  <rect x="62.8052" y="57.2821" width="3.8477" height="43.25"></rect>
                  <rect x="52.4595" y="57.2821" width="3.8477" height="43.25"></rect>
                  <rect x="39.813" y="57.2821" width="3.8477" height="43.25"></rect>
                  <rect x="29.4673" y="57.2821" width="3.8477" height="43.25"></rect>
                  <rect x="16.8198" y="57.2821" width="3.8477" height="43.25"></rect>
                  <rect x="6.4741" y="57.2821" width="3.8477" height="43.25"></rect>
                </svg>
                <div class="highlight-body">
                  <p class="highlight-title">A leading school of architecture</p>
                  <p>Study in one of the top schools of architecture in the UK.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="highlight border-md-bottom-none">
                <svg class="icon icon-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.1924 85.4619">
                  <style>
                    .icon-dark {
                      fill: #383735;
                    }

                    .icon-light {
                      fill: #ffffff;
                    }

                    .icon .fill-gold {
                      fill: #bd9e5e;
                    }
                  </style>
                  <title>notepad</title>
                  <path
                    d="M65.918,85.4619H5.2744A5.2805,5.2805,0,0,1,0,80.1875V5.2744A5.2805,5.2805,0,0,1,5.2744,0H65.918a5.2805,5.2805,0,0,1,5.2744,5.2744V80.1875A5.2805,5.2805,0,0,1,65.918,85.4619ZM5.2744,3.4141a1.8629,1.8629,0,0,0-1.86,1.86V80.1875a1.863,1.863,0,0,0,1.86,1.86H65.918a1.863,1.863,0,0,0,1.86-1.86V5.2744a1.8629,1.8629,0,0,0-1.86-1.86Z">
                  </path>
                  <path d="M58.7832,39.0869H26.6777a1.707,1.707,0,0,1,0-3.414H58.7832a1.707,1.707,0,0,1,0,3.414Z">
                  </path>
                  <path d="M58.7832,24.8174H26.6777a1.7071,1.7071,0,0,1,0-3.4141H58.7832a1.7071,1.7071,0,0,1,0,3.4141Z">
                  </path>
                  <path d="M58.7832,53.3564H26.6777a1.707,1.707,0,0,1,0-3.414H58.7832a1.707,1.707,0,1,1,0,3.414Z">
                  </path>
                  <path d="M51.6494,67.625H26.6777a1.7071,1.7071,0,0,1,0-3.4141H51.6494a1.7071,1.7071,0,0,1,0,3.4141Z">
                  </path>
                  <path
                    d="M12.4092,10.7021a5.2646,5.2646,0,0,0-4.9663,3.5665H1.707a1.707,1.707,0,0,0,0,3.414H7.4429a5.2638,5.2638,0,1,0,4.9663-6.9805Zm0,7.1338a1.86,1.86,0,1,1,1.8594-1.86A1.863,1.863,0,0,1,12.4092,17.8359Z"
                    class="fill-gold"></path>
                  <path
                    d="M12.4092,46.375a5.265,5.265,0,0,0-4.9663,3.5674H1.707a1.707,1.707,0,1,0,0,3.414H7.4429a5.2639,5.2639,0,1,0,4.9663-6.9814Zm0,7.1348a1.86,1.86,0,1,1,1.8594-1.86A1.8631,1.8631,0,0,1,12.4092,53.51Z"
                    class="fill-gold"></path>
                  <path
                    d="M12.4092,28.5381a5.265,5.265,0,0,0-4.9663,3.5674H1.707a1.707,1.707,0,1,0,0,3.414H7.4429a5.2639,5.2639,0,1,0,4.9663-6.9814Zm0,7.1348a1.86,1.86,0,1,1,1.8594-1.86A1.8631,1.8631,0,0,1,12.4092,35.6729Z"
                    class="fill-gold"></path>
                  <path
                    d="M12.4092,64.2109a5.265,5.265,0,0,0-4.9663,3.5674H1.707a1.7071,1.7071,0,0,0,0,3.4141H7.4429a5.2639,5.2639,0,1,0,4.9663-6.9815Zm0,7.1348a1.86,1.86,0,1,1,1.8594-1.86A1.863,1.863,0,0,1,12.4092,71.3457Z"
                    class="fill-gold"></path>
                </svg>
                <div class="highlight-body">
                  <p class="highlight-title">Design-led</p>
                  <p>Our programme has a focus on making, with two thirds of our BSc currently based on project work in
                    the studio.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="highlight border-md-bottom-none">
                <svg class="icon icon-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 118.7175 158.5098">
                  <style>
                    .icon-dark {
                      fill: #383735;
                    }

                    .icon-light {
                      fill: #ffffff;
                    }

                    .icon .fill-gold {
                      fill: #bd9e5e;
                    }
                  </style>
                  <title>globe</title>
                  <path
                    d="M69.0134,118.4424a69.035,69.035,0,0,0,48.9658-20.249,2.5239,2.5239,0,0,0-.0009-3.5684l-3.8125-3.81a2.5225,2.5225,0,0,0-3.5664,3.5684l1.9931,1.9912a64.279,64.279,0,0,1-88.9765-1.75A62.7889,62.7889,0,0,1,5.0466,49.4834,64.1292,64.1292,0,0,1,22.3386,6.124l1.5186,1.5186a2.5225,2.5225,0,1,0,3.5683-3.5664L24.09.7393a2.5238,2.5238,0,0,0-3.5684-.001A69.2435,69.2435,0,0,0,.0017,49.4482,67.7994,67.7994,0,0,0,20.0476,98.1934a68.8228,68.8228,0,0,0,33.0967,18.4082v16.8466H42.322a22.5651,22.5651,0,0,0-22.5391,22.5391,2.522,2.522,0,0,0,2.5225,2.5225H89.029a2.5219,2.5219,0,0,0,2.5225-2.5225,22.5653,22.5653,0,0,0-22.54-22.5391H58.1892V117.5826A69.7911,69.7911,0,0,0,69.0134,118.4424Zm17.3115,35.0224H25.01A17.5223,17.5223,0,0,1,42.322,138.4932H69.0115A17.5225,17.5225,0,0,1,86.3249,153.4648Z">
                  </path>
                  <path
                    d="M103.8083,17.8379a49.19,49.19,0,1,0-2.23,71.6716,17.2381,17.2381,0,0,0,4.1095-4.0762A49.2681,49.2681,0,0,0,103.8083,17.8379Zm6.7494,19.722-.849-.849-9.06,9.0606A81.9061,81.9061,0,0,0,89.654,32.208a83.4844,83.4844,0,0,0-8.1682-7.1694L91.7823,14.7419A44.0851,44.0851,0,0,1,110.5577,37.56ZM63.1108,43.4138l14.785-14.7853a76.0975,76.0975,0,0,1,8.2231,7.1147,74.2531,74.2531,0,0,1,10.847,13.7107L83.0583,63.3613ZM79.5232,66.8965,65.62,80.8a74.2576,74.2576,0,0,1-13.711-10.8467,76.1481,76.1481,0,0,1-7.12-8.2168L59.5757,46.949ZM69.0144,8.4463a44.3273,44.3273,0,0,1,18.1207,3.8725l-9.7633,9.7635a61.3514,61.3514,0,0,0-17.709-8.344,39.3319,39.3319,0,0,0-8.7925-1.41A44.3307,44.3307,0,0,1,69.0144,8.4463ZM49.573,17.3506c7.1066,0,15.7343,2.9729,24.1509,8.38L59.5757,39.8787,39.7083,20.0112A17.5028,17.5028,0,0,1,49.573,17.3506ZM36.1619,23.5352,56.0406,43.4138,41.8876,57.5669C33.5706,44.6233,31.0458,31.1766,36.1619,23.5352ZM28.506,34.9592a39.5676,39.5676,0,0,0,1.398,8.5379,61.3549,61.3549,0,0,0,8.3442,17.7093L28.7,70.7544A44.4506,44.4506,0,0,1,28.506,34.9592ZM31.1241,75.401,41.2046,65.32a83.47,83.47,0,0,0,7.1692,8.168A81.8979,81.8979,0,0,0,61.9365,84.4832l-8.845,8.8449.85.85A44.0957,44.0957,0,0,1,31.1241,75.401ZM58.05,95.44l8.3282-8.3282c6.83,3.707,13.6246,5.859,19.7622,6.2664A44.4888,44.4888,0,0,1,58.05,95.44ZM70.1619,83.3281,83.0583,70.4316,98.3265,85.7C91.8371,90.043,81.1609,88.8711,70.1619,83.3281Zm31.701-1.1622L86.5935,66.8965,99.4944,53.9956C105.04,64.9976,106.2112,75.6769,101.8629,82.1659Zm7.699-11.954c-.3679-6.1992-2.5286-13.0809-6.2843-19.9995l8.544-8.5441A44.492,44.492,0,0,1,109.5619,70.2119Z"
                    class="fill-gold"></path>
                </svg>
                <div class="highlight-body">
                  <p class="highlight-title">Study trips</p>
                  <p>Benefit from School-funded study visits in the UK and overseas.</p>
                </div>
              </div>
            </div>
          </div>


          <div id="our_talks_heading_2402122">
            <h2>Our talks</h2>
          </div>

          <div id="content_container_549617">
            <div class="row mt-40 mb-20">
              <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=NA33BnKCwI0" class="video video--lazy"
                  data-youtubeid="NA33BnKCwI0" data-overlay-content="true">

                  <img class="lazy"
                    src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format"
                    data-src="https://img.youtube.com/vi/NA33BnKCwI0/mqdefault.jpg" alt="alt text">
                </a>
              </div>
              <div class="col-md-8">
                <h3 class="teaser-title mt-0">BSc Architectural Studies</h3>
                <p>Dr Wassim Jabi, Head of Recruitment and Admissions, talks you through learning and teaching on the
                  BSc
                  programme at the Welsh School of Architecture and the opportunities the School can offer you.</p>
              </div>
            </div>

          </div>

          <div id="content_container_549617">
            <div class="row mt-40 mb-20">
              <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=WzinJetHOZo" class="video video--lazy"
                  data-youtubeid="WzinJetHOZo" data-overlay-content="true">

                  <img class="lazy"
                    src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format"
                    data-src="https://img.youtube.com/vi/WzinJetHOZo/mqdefault.jpg" alt="alt text">
                </a>
              </div>
              <div class="col-md-8">
                <h3 class="teaser-title mt-0">Master of Architecture (MArch)</h3>
                <p>Caroline Almond, MArch 1 Year Chair, and Dr Mhairi McVicar, MArch 2 Year Chair, provide an overview
                  of
                  the Master of Architecture programme and what to expect from years four and five of your studies.</p>
              </div>
            </div>

          </div>

          <div id="school_related_content_heading_2402128">
            <h2>Our School and students</h2>
            <p>Explore our facilities and watch our student videos to learn more about what it is like to be part of a
              vibrant, collaborative school of architecture with a strong studio culture.</p>
          </div>

          <div id="content_container_549617">
            <div class="row mt-40 mb-20">
              <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=DrQDGpRBbv8" class="video video--lazy"
                  data-youtubeid="DrQDGpRBbv8" data-overlay-content="true">

                  <img class="lazy"
                    src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format"
                    data-src="https://img.youtube.com/vi/DrQDGpRBbv8/mqdefault.jpg" alt="alt text">
                </a>
              </div>
              <div class="col-md-8">
                <h3 class="teaser-title mt-0">We are the Welsh School of Architecture</h3>
                <p>Find out about the Welsh School of Architecture, learn about our core values and see what it is like
                  to
                  be part of our School.</p>
              </div>
            </div>

          </div>

          <div id="content_container_549617">
            <div class="row mt-40 mb-20">
              <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=XlxhYpUeGIk" class="video video--lazy"
                  data-youtubeid="XlxhYpUeGIk" data-overlay-content="true">

                  <img class="lazy"
                    src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=320&h=180&fit=crop&q=60&auto=format"
                    data-src="https://img.youtube.com/vi/XlxhYpUeGIk/mqdefault.jpg" alt="alt text">
                </a>
              </div>
              <div class="col-md-8">
                <h3 class="teaser-title mt-0">Studying at the Welsh School of Architecture</h3>
                <p>BSc Architectural Studies student Zizy talks about our School environment, student life, and tips for
                  architecture course applicants</p>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Take a studio tour"
                    href="https://virtualtour.cardiff.ac.uk/central/index.html?/en/main/cathays-12" aria-hidden="true">
                    <img class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0006/2405076/WSA-10-Apr-2019-Bute-Social-Media-Size-18.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0006/2405076/WSA-10-Apr-2019-Bute-Social-Media-Size-18.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0006/2405076/WSA-10-Apr-2019-Bute-Social-Media-Size-18.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0006/2405076/WSA-10-Apr-2019-Bute-Social-Media-Size-18.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0006/2405076/WSA-10-Apr-2019-Bute-Social-Media-Size-18.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0006/2405076/WSA-10-Apr-2019-Bute-Social-Media-Size-18.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0006/2405076/WSA-10-Apr-2019-Bute-Social-Media-Size-18.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0006/2405076/WSA-10-Apr-2019-Bute-Social-Media-Size-18.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 375px"
                      alt="Bute Studio"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Take a studio tour"
                      href="https://virtualtour.cardiff.ac.uk/central/index.html?/en/main/cathays-12">Take a studio
                      tour</a></h2>
                  <p>Explore one of our studios using a 360 tour.</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
            <div class="col-md-4">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Our facilities"
                    href="https://www.cardiff.ac.uk/architecture/about-us/facilities" aria-hidden="true"> <img
                      class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0010/2405377/WSA-03-April-2019-Bute-Workshop-Printsize-49.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0010/2405377/WSA-03-April-2019-Bute-Workshop-Printsize-49.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0010/2405377/WSA-03-April-2019-Bute-Workshop-Printsize-49.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0010/2405377/WSA-03-April-2019-Bute-Workshop-Printsize-49.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0010/2405377/WSA-03-April-2019-Bute-Workshop-Printsize-49.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0010/2405377/WSA-03-April-2019-Bute-Workshop-Printsize-49.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0010/2405377/WSA-03-April-2019-Bute-Workshop-Printsize-49.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0010/2405377/WSA-03-April-2019-Bute-Workshop-Printsize-49.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 375px"
                      alt="WSA robot arm"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Our facilities"
                      href="https://www.cardiff.ac.uk/architecture/about-us/facilities">Our facilities</a></h2>
                  <p>Find out more about the bespoke student facilities at the Welsh School of Architecture.</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
            <div class="col-md-4">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Our courses"
                    href="https://www.cardiff.ac.uk/architecture/courses/undergraduate" aria-hidden="true"> <img
                      class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0005/2407028/WSA-Student-Union-24-Jan-2020-1-15.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0005/2407028/WSA-Student-Union-24-Jan-2020-1-15.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0005/2407028/WSA-Student-Union-24-Jan-2020-1-15.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0005/2407028/WSA-Student-Union-24-Jan-2020-1-15.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0005/2407028/WSA-Student-Union-24-Jan-2020-1-15.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0005/2407028/WSA-Student-Union-24-Jan-2020-1-15.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0005/2407028/WSA-Student-Union-24-Jan-2020-1-15.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0005/2407028/WSA-Student-Union-24-Jan-2020-1-15.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 375px"
                      alt="WSA our courses"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Our courses"
                      href="https://www.cardiff.ac.uk/architecture/courses/undergraduate">Our courses</a></h2>
                  <p>Find out more about the courses we offer at the Welsh School of Architecture</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
          </div>
          <div class="row mt-40 mb-40">
            <div class="col-12">
              <div class="content-group content-group-feature with-image">
                <div class="image-wrapper"><img class="lazy"
                    src="https://cardiff.imgix.net/__data/assets/image/0016/2405401/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Print-Size-42.jpg?w=768&amp;h=432&amp;auto=format&amp;fit=crop&amp;q=60"
                    data-srcset="https://cardiff.imgix.net/__data/assets/image/0016/2405401/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Print-Size-42.jpg?w=1920&amp;h=1080&amp;auto=format&amp;fit=crop&amp;q=60 1920w, https://cardiff.imgix.net/__data/assets/image/0016/2405401/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Print-Size-42.jpg?w=1600&amp;h=900&amp;auto=format&amp;fit=crop&amp;q=60 1600w, https://cardiff.imgix.net/__data/assets/image/0016/2405401/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Print-Size-42.jpg?w=1024&amp;h=576&amp;auto=format&amp;fit=crop&amp;q=60 1024w, https://cardiff.imgix.net/__data/assets/image/0016/2405401/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Print-Size-42.jpg?w=768&amp;h=432&amp;auto=format&amp;fit=crop&amp;q=60 768w, https://cardiff.imgix.net/__data/assets/image/0016/2405401/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Print-Size-42.jpg?w=640&amp;h=360&amp;auto=format&amp;fit=crop&amp;q=60 640w, https://cardiff.imgix.net/__data/assets/image/0016/2405401/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Print-Size-42.jpg?w=380&amp;h=214&amp;auto=format&amp;fit=crop&amp;q=60 380w"
                    alt=""></div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-6 pl-30 pr-30 offset-md-0 offset-lg-6">
                      <h2>Vertical Studio</h2>
                      <p>Vertical Studio is a collaborative project for students in BSc years one and two. Students
                        choose
                        from a variety of different units, many of which are run by architects, artists and other
                        practitioners from outside of the university.</p>
                      <p>Vertical Studio gives our students the unique opportunity to explore, experiment and speculate
                        on
                        the nature and boundaries of the discipline of architecture and engage in activities that go
                        beyond the core learning criteria of our BSc programme.</p>
                      <ul class="list list-links">
                        <li><a class="ga-event call-to-action-link"
                            data-category="Content container: Full width call to action" data-action="Link 1"
                            data-label="Find out more about the project"
                            href="https://www.cardiff.ac.uk/architecture/courses/undergraduate/undergraduate-portfolio/bsc-architectural-studies-portfolio/vertical-studio">Find
                            out more about the project <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 19.75 32">
                              <title>Chevron right</title>
                              <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z"
                                transform="translate(-6.13 0)">
                              </path>
                            </svg></a></li>
                        <li><a class="ga-event call-to-action-link"
                            data-category="Content container: Full width call to action" data-action="Link 2"
                            data-label="Watch our Vertical Studio project films"
                            href="https://www.cardiff.ac.uk/architecture/courses/undergraduate/undergraduate-portfolio/bsc-architectural-studies-portfolio/vertical-studio/case-studies">Watch
                            our Vertical Studio project films <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 19.75 32">
                              <title>Chevron right</title>
                              <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z"
                                transform="translate(-6.13 0)">
                              </path>
                            </svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="content_container_855091_855091">
            <figure class="quote quote-rich quote-rich-thumbnail" data-assetid="2405414" data-paintlayoutid=""
              data-status="Under Construction">
              <div class="quote-main">
                <blockquote class="quote-body">Vertical Studio was one of the reasons I chose Cardiff University. I was
                  looking through the previous units offered and I felt like this was a once in a lifetime opportunity
                  that I wouldn’t get if I wasn’t part of the university.</blockquote>
                <figcaption class="quote-author"> Angeline Yee, BSc Architectural Studies </figcaption>
              </div>
            </figure><!-- quote-pl -->
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Student Association"
                    href="https://www.cardiff.ac.uk/architecture/about-us/student-association" aria-hidden="true"> <img
                      class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0004/2406334/WSA-12-Apr-2019-Bute-Exhibition-Social-Media-Size-66-1.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0004/2406334/WSA-12-Apr-2019-Bute-Exhibition-Social-Media-Size-66-1.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0004/2406334/WSA-12-Apr-2019-Bute-Exhibition-Social-Media-Size-66-1.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0004/2406334/WSA-12-Apr-2019-Bute-Exhibition-Social-Media-Size-66-1.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0004/2406334/WSA-12-Apr-2019-Bute-Exhibition-Social-Media-Size-66-1.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0004/2406334/WSA-12-Apr-2019-Bute-Exhibition-Social-Media-Size-66-1.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0004/2406334/WSA-12-Apr-2019-Bute-Exhibition-Social-Media-Size-66-1.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0004/2406334/WSA-12-Apr-2019-Bute-Exhibition-Social-Media-Size-66-1.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 375px"
                      alt="Student Association"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Student Association"
                      href="https://www.cardiff.ac.uk/architecture/about-us/student-association">Student Association</a>
                  </h2>
                  <p>Become a member of the Student Association at the Welsh School of Architecture (SAWSA) when you
                    join
                    the School.</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
            <div class="col-md-4">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Our students' work"
                    href="https://www.cardiff.ac.uk/architecture/courses/undergraduate/undergraduate-portfolio"
                    aria-hidden="true"> <img class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0006/2405445/WSA-08-Apr-2019-Hastings-House-Social-Media-Size-10.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0006/2405445/WSA-08-Apr-2019-Hastings-House-Social-Media-Size-10.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0006/2405445/WSA-08-Apr-2019-Hastings-House-Social-Media-Size-10.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0006/2405445/WSA-08-Apr-2019-Hastings-House-Social-Media-Size-10.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0006/2405445/WSA-08-Apr-2019-Hastings-House-Social-Media-Size-10.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0006/2405445/WSA-08-Apr-2019-Hastings-House-Social-Media-Size-10.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0006/2405445/WSA-08-Apr-2019-Hastings-House-Social-Media-Size-10.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0006/2405445/WSA-08-Apr-2019-Hastings-House-Social-Media-Size-10.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 375px"
                      alt="Student work, WSA"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Our students' work"
                      href="https://www.cardiff.ac.uk/architecture/courses/undergraduate/undergraduate-portfolio">Our
                      students' work</a></h2>
                  <p>Explore the work from our students across the different disciplines.</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
            <div class="col-md-4">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Student engagement"
                    href="https://www.cardiff.ac.uk/architecture/engagement" aria-hidden="true"> <img class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0018/2407032/1st-Pick_WSASchool04Feb2020FBSize0-93.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0018/2407032/1st-Pick_WSASchool04Feb2020FBSize0-93.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0018/2407032/1st-Pick_WSASchool04Feb2020FBSize0-93.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0018/2407032/1st-Pick_WSASchool04Feb2020FBSize0-93.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0018/2407032/1st-Pick_WSASchool04Feb2020FBSize0-93.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0018/2407032/1st-Pick_WSASchool04Feb2020FBSize0-93.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0018/2407032/1st-Pick_WSASchool04Feb2020FBSize0-93.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0018/2407032/1st-Pick_WSASchool04Feb2020FBSize0-93.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 228px, (max-width: 1199px) 300px, (min-width: 1200px) 375px"
                      alt="Engagement opportunities"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Student engagement"
                      href="https://www.cardiff.ac.uk/architecture/engagement">Student engagement</a></h2>
                  <p>Find out more about our student engagement opportunities both in the UK and abroad.</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
          </div>
          <div class="row mt-40 mb-40">
            <div class="col-12">
              <div id="gallery-2408742" class="carousel slide" data-has-indicators="false" data-has-thumbnails="false"
                data-wrap="false" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active"> <img class="lazy"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0010/2408770/P1050495-Cropped.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0010/2408770/P1050495-Cropped.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0010/2408770/P1050495-Cropped.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0010/2408770/P1050495-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0010/2408770/P1050495-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
                      alt="Bute Building, home of the Welsh School of Architecture">
                    <div class="carousel-caption">
                      <p>Bute Building, home of the Welsh School of Architecture</p>
                    </div>
                    <p class="carousel-pagination" style="opacity: 1; top: 658.75px;"><span
                        class="carousel-pagination-item current">1</span>/7</p>
                  </div>
                  <div class="carousel-item "> <img class="lazy"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0005/2408783/WSA-31-Jan-2020-Bute-Workshop-Social-Media-Size-29-Cropped.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0005/2408783/WSA-31-Jan-2020-Bute-Workshop-Social-Media-Size-29-Cropped.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0005/2408783/WSA-31-Jan-2020-Bute-Workshop-Social-Media-Size-29-Cropped.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0005/2408783/WSA-31-Jan-2020-Bute-Workshop-Social-Media-Size-29-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0005/2408783/WSA-31-Jan-2020-Bute-Workshop-Social-Media-Size-29-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
                      alt="Bute building architecture workshop">
                    <div class="carousel-caption">
                      <p>Bute building architecture workshop</p>
                    </div>
                    <p class="carousel-pagination" style="opacity: 1; top: 658.75px;"><span
                        class="carousel-pagination-item current">2</span>/7</p>
                  </div>
                  <div class="carousel-item "> <img class="lazy"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0011/2408780/Dr-Oriel-Prizeman-introducing-the-Roman-Forum-as-an-excavated-site-Cropped.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0011/2408780/Dr-Oriel-Prizeman-introducing-the-Roman-Forum-as-an-excavated-site-Cropped.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0011/2408780/Dr-Oriel-Prizeman-introducing-the-Roman-Forum-as-an-excavated-site-Cropped.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0011/2408780/Dr-Oriel-Prizeman-introducing-the-Roman-Forum-as-an-excavated-site-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0011/2408780/Dr-Oriel-Prizeman-introducing-the-Roman-Forum-as-an-excavated-site-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
                      alt="Field work - introducing the Roman Forum as an excavated site">
                    <div class="carousel-caption">
                      <p>Field work - introducing the Roman Forum as an excavated site</p>
                    </div>
                    <p class="carousel-pagination" style="opacity: 1; top: 658.75px;"><span
                        class="carousel-pagination-item current">3</span>/7</p>
                  </div>
                  <div class="carousel-item "> <img class="lazy"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0009/2408787/WSA-03-Apr-2019-Bute-Workshop-Social-Media-Size-30-Cropped.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0009/2408787/WSA-03-Apr-2019-Bute-Workshop-Social-Media-Size-30-Cropped.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0009/2408787/WSA-03-Apr-2019-Bute-Workshop-Social-Media-Size-30-Cropped.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0009/2408787/WSA-03-Apr-2019-Bute-Workshop-Social-Media-Size-30-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0009/2408787/WSA-03-Apr-2019-Bute-Workshop-Social-Media-Size-30-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
                      alt="The robotic arm">
                    <div class="carousel-caption">
                      <p>The robotic arm</p>
                    </div>
                    <p class="carousel-pagination" style="opacity: 1; top: 658.75px;"><span
                        class="carousel-pagination-item current">4</span>/7</p>
                  </div>
                  <div class="carousel-item "> <img class="lazy"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0011/2408789/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Social-Media-Size-39-Cropped.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0011/2408789/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Social-Media-Size-39-Cropped.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0011/2408789/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Social-Media-Size-39-Cropped.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0011/2408789/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Social-Media-Size-39-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0011/2408789/WSA-01-Feb-2020-Shift-Exhibition-Opening-Night-Social-Media-Size-39-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
                      alt="Designing and making furniture during Vertical Studio">
                    <div class="carousel-caption">
                      <p>Designing and making furniture during Vertical Studio</p>
                    </div>
                    <p class="carousel-pagination" style="opacity: 1; top: 658.75px;"><span
                        class="carousel-pagination-item current">5</span>/7</p>
                  </div>
                  <div class="carousel-item "> <img class="lazy"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0006/2408793/WSA-15-Jun-2019-Bute-Exhibition-Displays-Social-Media-Size-155-Cropped.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0006/2408793/WSA-15-Jun-2019-Bute-Exhibition-Displays-Social-Media-Size-155-Cropped.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0006/2408793/WSA-15-Jun-2019-Bute-Exhibition-Displays-Social-Media-Size-155-Cropped.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0006/2408793/WSA-15-Jun-2019-Bute-Exhibition-Displays-Social-Media-Size-155-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0006/2408793/WSA-15-Jun-2019-Bute-Exhibition-Displays-Social-Media-Size-155-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
                      alt="The WSA Summer Exhibition">
                    <div class="carousel-caption">
                      <p>The WSA Summer Exhibition</p>
                    </div>
                    <p class="carousel-pagination" style="opacity: 1; top: 658.75px;"><span
                        class="carousel-pagination-item current">6</span>/7</p>
                  </div>
                  <div class="carousel-item "> <img class="lazy"
                      data-srcset="https://cardiff.imgix.net/__data/assets/image/0008/2408795/WSA-20-Jan-2020-Grangetown-Pavillion-Social-Media-Size-19-Cropped.jpg?w=200&amp;h=113&amp;fit=crop&amp;q=60&amp;auto=format  200w,                      https://cardiff.imgix.net/__data/assets/image/0008/2408795/WSA-20-Jan-2020-Grangetown-Pavillion-Social-Media-Size-19-Cropped.jpg?w=352&amp;h=198&amp;fit=crop&amp;q=60&amp;auto=format  352w,                      https://cardiff.imgix.net/__data/assets/image/0008/2408795/WSA-20-Jan-2020-Grangetown-Pavillion-Social-Media-Size-19-Cropped.jpg?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format  460w,                      https://cardiff.imgix.net/__data/assets/image/0008/2408795/WSA-20-Jan-2020-Grangetown-Pavillion-Social-Media-Size-19-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format  1170w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0008/2408795/WSA-20-Jan-2020-Grangetown-Pavillion-Social-Media-Size-19-Cropped.jpg?w=1170&amp;h=659&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=460&amp;h=259&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 767px) 100vw, (max-width: 970px) 352px, (max-width: 970px) 460px, (max-width: 1199px) 460px, (min-width: 1200px) 1170px"
                      alt="Site visit to the Grange Pavilion">
                    <div class="carousel-caption">
                      <p>Site visit to the Grange Pavilion</p>
                    </div>
                    <p class="carousel-pagination" style="opacity: 1; top: 658.75px;"><span
                        class="carousel-pagination-item current">7</span>/7</p>
                  </div>
                </div> <a class="ga-event carousel-control-prev disabled"
                  data-category="Content container: Photo gallery" data-action="Previous button"
                  data-label="2408742 - Content Container" data-target="#gallery-2408742" data-slide="prev" href="#"
                  aria-hidden="true" style="opacity: 1; bottom: 44px;"> <svg class="icon"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                    <title>Chevron left</title>
                    <path d="M25.88,28.28L13.59,16,25.88,3.72,22.16,0l-16,16,16,16Z" transform="translate(-6.13 0)">
                    </path>
                  </svg> </a> <a class="ga-event carousel-control-next" data-category="Content container: Photo gallery"
                  data-action="Next button" data-label="2408742 - Content Container" data-target="#gallery-2408742"
                  data-slide="next" href="#" aria-hidden="false" style="opacity: 1; bottom: 44px;"> <svg class="icon"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
                    <title>Chevron right</title>
                    <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)"></path>
                  </svg> </a>
              </div>
            </div>
          </div>


          <div id="explore_cardiff_university_heading_2402140">
            <h2>Explore Cardiff University</h2>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Student life" href="https://www.cardiff.ac.uk/study/student-life"
                    aria-hidden="true"> <img class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0011/94592/varsity-image-swimming.JPG?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0011/94592/varsity-image-swimming.JPG?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0011/94592/varsity-image-swimming.JPG?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0011/94592/varsity-image-swimming.JPG?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0011/94592/varsity-image-swimming.JPG?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0011/94592/varsity-image-swimming.JPG?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0011/94592/varsity-image-swimming.JPG?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0011/94592/varsity-image-swimming.JPG?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 278px"
                      alt="Swimmer at Varsity in pool competing "> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Student life"
                      href="https://www.cardiff.ac.uk/study/student-life">Student life</a></h2>
                  <p>Make the most of the opportunities and experiences both on campus and in the vibrant capital of
                    Wales.</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
            <div class="col-md-3">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Guaranteed accommodation"
                    href="https://www.cardiff.ac.uk/study/accommodation" aria-hidden="true"> <img class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0005/1395077/student-in-halls-bedroom.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0005/1395077/student-in-halls-bedroom.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0005/1395077/student-in-halls-bedroom.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0005/1395077/student-in-halls-bedroom.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0005/1395077/student-in-halls-bedroom.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0005/1395077/student-in-halls-bedroom.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0005/1395077/student-in-halls-bedroom.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0005/1395077/student-in-halls-bedroom.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 278px"
                      alt="Student in halls bedroom"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Guaranteed accommodation"
                      href="https://www.cardiff.ac.uk/study/accommodation">Guaranteed accommodation</a></h2>
                  <p>If you arrive in September, you're guaranteed a single occupancy room, and you'll be allocated with
                    other first-year students.</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
            <div class="col-md-3">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Student support"
                    href="https://www.cardiff.ac.uk/study/student-life/student-support" aria-hidden="true"> <img
                      class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0019/31681/student-getting-advice.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0019/31681/student-getting-advice.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0019/31681/student-getting-advice.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0019/31681/student-getting-advice.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0019/31681/student-getting-advice.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0019/31681/student-getting-advice.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0019/31681/student-getting-advice.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0019/31681/student-getting-advice.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 278px"
                      alt="Student getting advice"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Student support"
                      href="https://www.cardiff.ac.uk/study/student-life/student-support">Student support</a></h2>
                  <p>Get free, impartial and confidential advice on disability and dyslexia, money, careers, counselling
                    and more.</p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
            <div class="col-md-3">
              <div class="teaser teaser-vertical with-image">
                <figure class="teaser-image"> <a class="ga-event" data-category="Content container: Row of teasers"
                    data-action="Image" data-label="Living costs"
                    href="https://www.cardiff.ac.uk/study/student-life/living-costs" aria-hidden="true"> <img
                      class="lazy"
                      data-srcset="              https://cardiff.imgix.net/__data/assets/image/0010/265429/12428.jpg?w=712&amp;h=400&amp;fit=crop&amp;q=60&amp;auto=format 712w,              https://cardiff.imgix.net/__data/assets/image/0010/265429/12428.jpg?w=573&amp;h=322&amp;fit=crop&amp;q=70&amp;auto=format 573w,              https://cardiff.imgix.net/__data/assets/image/0010/265429/12428.jpg?w=460&amp;h=258&amp;fit=crop&amp;q=60&amp;auto=format 460w,              https://cardiff.imgix.net/__data/assets/image/0010/265429/12428.jpg?w=375&amp;h=211&amp;fit=crop&amp;q=60&amp;auto=format 375w,              https://cardiff.imgix.net/__data/assets/image/0010/265429/12428.jpg?w=300&amp;h=169&amp;fit=crop&amp;q=60&amp;auto=format 300w,              https://cardiff.imgix.net/__data/assets/image/0010/265429/12428.jpg?w=228&amp;h=128&amp;fit=crop&amp;q=60&amp;auto=format 228w,              https://cardiff.imgix.net/__data/assets/image/0010/265429/12428.jpg?w=166&amp;h=93&amp;fit=crop&amp;q=60&amp;auto=format 166w"
                      data-src="https://cardiff.imgix.net/__data/assets/image/0010/265429/12428.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      src="https://cardiff.imgix.net/__data/assets/image/0008/1279637/DefaultLogo.png?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
                      sizes="(max-width: 515px) 460px, (max-width: 767px) 712px, (max-width: 979px) 166px, (max-width: 1199px) 220px, (min-width: 1200px) 278px"
                      alt="A student shopping in a mini mart"> </a> </figure>
                <div class="teaser-body">
                  <h2 class="teaser-title"><a class="ga-event" data-category="Content container: Row of teasers"
                      data-action="Title" data-label="Living costs"
                      href="https://www.cardiff.ac.uk/study/student-life/living-costs">Living costs</a></h2>
                  <p>Cardiff came first in the 2019 Natwest Student Living Index as the most cost-effective university.
                  </p>
                </div>
              </div><!-- end teaser -->
            </div><!-- end col -->
          </div>

          <div id="next_steps_heading_2402166">
            <h2>Next steps</h2>
          </div>
          <div class="row">
            <div class="col-md-4 col-xl-4">
              <div class="highlight highlight-lg border-0"> <svg class="icon icon-dark"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.7207 111.7314">
                  <style>
                    .icon-dark {
                      fill: #383735;
                    }

                    .icon-light {
                      fill: #ffffff;
                    }

                    .icon .fill-gold {
                      fill: #bd9e5e;
                    }
                  </style>
                  <title>certificate</title>
                  <path
                    d="M76.6592,0H22.6533a1.994,1.994,0,0,0-1.3691.5439L.624,20.0654A1.9957,1.9957,0,0,0,0,21.5146V94.2275a1.9935,1.9935,0,0,0,1.9932,1.9932H46.5547a1.9932,1.9932,0,1,0,0-3.9863H3.9863V23.479a1.9463,1.9463,0,0,0,.2842.0288H22.6533a1.9935,1.9935,0,0,0,1.9932-1.9932V4.27a1.9747,1.9747,0,0,0-.0286-.2832H74.666V57.001a1.9932,1.9932,0,0,0,3.9863,0V1.9932A1.9934,1.9934,0,0,0,76.6592,0ZM7.0052,19.5215,20.66,6.6189V19.5215Z">
                  </path>
                  <path d="M67.875,41.6777H10.7773a1.9932,1.9932,0,0,1,0-3.9863H67.875a1.9932,1.9932,0,1,1,0,3.9863Z">
                  </path>
                  <path d="M47.7061,52.3936H10.7773a1.9932,1.9932,0,0,1,0-3.9864H47.7061a1.9932,1.9932,0,0,1,0,3.9864Z">
                  </path>
                  <path d="M28.3457,63.1094H10.7773a1.9932,1.9932,0,0,1,0-3.9864H28.3457a1.9932,1.9932,0,0,1,0,3.9864Z">
                  </path>
                  <path d="M67.875,30.3389H41.5225a1.9932,1.9932,0,0,1,0-3.9864H67.875a1.9932,1.9932,0,1,1,0,3.9864Z">
                  </path>
                  <path
                    d="M69.5049,91.4961a9.5635,9.5635,0,1,0-9.5635-9.5635A9.5742,9.5742,0,0,0,69.5049,91.4961Zm0-17.2754a7.7119,7.7119,0,1,1-7.7119,7.7119A7.7212,7.7212,0,0,1,69.5049,74.2207Z"
                    class="fill-gold"></path>
                  <path
                    d="M82.2266,94.9458a18.2159,18.2159,0,1,0-25.4428,0L51.4043,109.29a1.8068,1.8068,0,0,0,2.499,2.251l6.7842-3.3926,4.92,3.2793a1.8056,1.8056,0,0,0,2.6934-.8681l1.2743-3.3985,1.1114,3.335a1.8061,1.8061,0,0,0,2.7158.9316l4.92-3.2793,6.7841,3.3926a1.8066,1.8066,0,0,0,2.4991-2.251ZM54.9023,81.9326A14.6026,14.6026,0,1,1,69.5049,96.5352,14.6192,14.6192,0,0,1,54.9023,81.9326Zm10.8145,25.2266-3.8975-2.5987a1.8111,1.8111,0,0,0-1.8095-.1132l-3.6065,1.8037,3.358-8.9541a18.07,18.07,0,0,0,7.4216,2.6865l.5764,1.73ZM79,104.4473a1.8086,1.8086,0,0,0-1.81.1132l-3.8242,2.5489-2.3454-7.0379a18.0689,18.0689,0,0,0,8.2285-2.7751l3.3581,8.9546Z"
                    class="fill-gold"></path>
                </svg>
                <div class="highlight-body">
                  <h3 class="highlight-title"><a class="ga-event" data-category="Content container: Next steps"
                      data-action="Title" data-label="View all Welsh School of Architecture courses"
                      href="https://www.cardiff.ac.uk/architecture/courses/undergraduate">View all Welsh School of
                      Architecture courses</a></h3>
                  <p>Explore our undergraduate courses for 2020 and 2021 entry.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xl-4">
              <div class="highlight highlight-lg border-0"> <svg class="icon icon-dark"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.5334 81.8666">
                  <style>
                    .icon-dark {
                      fill: #383735;
                    }

                    .icon-light {
                      fill: #ffffff;
                    }

                    .icon .fill-gold {
                      fill: #bd9e5e;
                    }
                  </style>
                  <title>icon-pen</title>
                  <path
                    d="M69.6455,13.0137,53.7021,0,46.599,8.702l-.2318-.1893a2.7388,2.7388,0,0,0-3.8135.5859L2.4424,58.2378a3.0582,3.0582,0,0,0-.7032,1.8779,2.4848,2.4848,0,0,0,.8926,1.9776l.3527.2878a2.2622,2.2622,0,0,0-.0963.2756L.188,75.3931l.8361.6823L.02,80.8133a.8709.8709,0,0,0,1.2.9792L5.661,79.8593l.836.6822,11.9351-5.1943a2.2688,2.2688,0,0,0,.2529-.15l.042.0343a2.4073,2.4073,0,0,0,1.5362.5351,2.9734,2.9734,0,0,0,2.2783-1.1211L62.6533,25.5059v-.001a2.7475,2.7475,0,0,0-.1181-3.78ZM54.13,4.2207l11.2949,9.22-5.2066,6.3783-11.2952-9.22ZM6.9765,77.061,3.5024,74.2251l2.064-9.7365,10.5362,8.6Zm13.3194-4.4218-.909-.742a2.3191,2.3191,0,0,0-.4157-.4436L6.5942,61.35a2.3261,2.3261,0,0,0-.5191-.3188l-1.2245-1L44.7988,11.105,59.3852,23.0114l.8589.701Z">
                  </path>
                  <path
                    d="M69.9139,24.8723l-.1589-.13a1.6847,1.6847,0,0,0-2.37.24l-2.1483,2.6317L62.7074,25.55l-7.4209,9.0912,2.5288,2.0642L41.2582,56.9889a1.6846,1.6846,0,0,0,.24,2.3705l.1589.13a1.6848,1.6848,0,0,0,2.3706-.24L70.1537,27.2429A1.6849,1.6849,0,0,0,69.9139,24.8723Z"
                    class="fill-gold"></path>
                </svg>
                <div class="highlight-body">
                  <h3 class="highlight-title"><a class="ga-event" data-category="Content container: Next steps"
                      data-action="Title" data-label="How to apply"
                      href="https://www.cardiff.ac.uk/study/undergraduate/applying/how-to-apply">How to apply</a></h3>
                  <p>Everything you need to know about our application process.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xl-4">
              <div class="highlight highlight-lg border-0"> <svg class="icon icon-dark"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.2412 82.5381">
                  <style>
                    .icon-dark {
                      fill: #383735;
                    }

                    .icon-light {
                      fill: #ffffff;
                    }

                    .icon .fill-gold {
                      fill: #bd9e5e;
                    }
                  </style>
                  <title>icon-contact</title>
                  <g>
                    <g>
                      <path
                        d="M40.71,0H7.5078A7.5162,7.5162,0,0,0,0,7.5073V75.03a7.5166,7.5166,0,0,0,7.5078,7.5078H40.71A7.5166,7.5166,0,0,0,48.2183,75.03V7.5073A7.5162,7.5162,0,0,0,40.71,0ZM7.5078,3H40.71a4.5126,4.5126,0,0,1,4.5079,4.5073v6.1553H3V7.5073A4.5126,4.5126,0,0,1,7.5078,3ZM40.71,79.5381H7.5078A4.513,4.513,0,0,1,3,75.03V16.6626H45.2183V75.03A4.513,4.513,0,0,1,40.71,79.5381Z">
                      </path>
                      <rect x="6.5" y="66.3633" width="35.2183" height="3"></rect>
                      <rect x="18.6603" y="72.5798" width="10.8978" height="3.4157" rx="1.5323" ry="1.5323"></rect>
                      <circle cx="24.1092" cy="8.738" r="1.7079"></circle>
                    </g>
                    <path
                      d="M54.4434,54.1357l3.1005-13.333a21.1626,21.1626,0,1,1,10.4112,9.4327ZM76.1143,12.6333a18.1022,18.1022,0,0,0-15.68,27.1914l.2978.5137-2.209,9.4966,9.6495-2.7842.5029.2265a18.1217,18.1217,0,1,0,7.4385-34.644Z"
                      class="fill-gold"></path>
                  </g>
                </svg>
                <div class="highlight-body">
                  <h3 class="highlight-title"><a class="ga-event" data-category="Content container: Next steps"
                      data-action="Title" data-label="Contact us" href="https://enquiries.cardiff.ac.uk/enquiry">Contact
                      us</a></h3>
                  <p>Ask a question via our enquiry form and we will get back to you as soon as possible.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- PL: 1711565 -->
        </div>
        <!-- End WIIP Master PL -->
      </div>
    </div>
  </main>
</body>