<div class="facet">
  <div class="facet-heading">
    <a href="#facet-Type2" class="facet-title" data-toggle="collapse"
      >Role
      <span class="icon icon-chevron-up"></span>
    </a>
  </div>
  <div class="facet-body collapse in" id="facet-Type2">
    <ul class="facet-items">
      <li class="facet-item">
        <a href="#"> <span class="icon icon-checkbox icon-mini" aria-hidden="true"></span>Media commentator</a>
      </li>
      <li class="facet-item">
        <a href="#"> <span class="icon icon-checkbox icon-mini" aria-hidden="true"></span>Postgraduate supervisor</a>
      </li>
      <li class="facet-item">
        <a href="#"> <span class="icon icon-checkbox-tick icon-mini" aria-hidden="true"></span>Welsh speaker</a>
      </li>
    </ul>
    <a href="#" class="facet-show-more" data-facet="#">Show more</a>
  </div>
</div>
