<form class="form">
  <div class="facet">
    <div class="facet-heading">
      <a href="#facet-Type" class="facet-title" data-toggle="collapse" id="facet-label-1">
        Type of Student${require-svg('chevron-down')}
      </a>
    </div>
    <div class="collapse show" id="facet-Type">
      <div class="facet-body">
        <div class="form-group">
          <p class="form-text text-muted">Show results based on distance from school.</p>
          <div role="group" aria-labelledby="facet-label-1">
            <div class="checkbox-option">
              <input type="checkbox" id="optionsCheckbox1" />
              <label for="optionsCheckbox1" class="checkbox-option-label"> Undergraduates</label>
            </div>
            <div class="checkbox-option">
              <input type="checkbox" id="optionsCheckbox2" />
              <label for="optionsCheckbox2" class="checkbox-option-label"> Postgraduates</label>
            </div>
            <div class="checkbox-option">
              <input type="checkbox" id="optionsCheckbox3" />
              <label for="optionsCheckbox3" class="checkbox-option-label"> Something else</label>
            </div>
          </div>
        </div>
        <a href="#" class="facet-show-more" data-facet="#">Show more</a>
      </div>
    </div>
  </div>
</form>
