<a class="btn btn-lg btn-info btn-filter d-block d-md-none" id="launch-facet-menu-popup" href="#">Filter
  results${require-svg('filter')}</a>
<div class="facet facet-popup d-none" id="facet-menu-popup">
  <div class="facet-heading">
    <h1 class="facet-title">Filter results ${require-svg('close')}</h1>
  </div>
  <div class="facet-body">
    <ul class="facet-items">
      <li class="facet-group-title" data-facet="facet-popup-type"><a href="#facet-popup-type">Filter by role</a></li>
    </ul>
    <div class="facet-actions">
    </div>
  </div>
</div>
<div class="facet facet-popup d-none" id="facet-popup-type">
  <div class="facet-heading">
    <a href="#facet-Type" class="facet-title" id="facet-label-1">Filter by role</a>
  </div>
  <div class="facet-body" id="facet-Type">
    <form action="#" method="GET" role="search">
      <input type="hidden" name="collection" value="profiles">
      <input type="hidden" name="form" value="search-en">
      <input type="hidden" name="query" value="!nul">
      <input type="hidden" name="facetScope" value="f.URI%7CR=diuri">
      <div class="form-group">
        <div role="group" aria-labelledby="facet-label-1">
          <ul class="facet-items">
            <li class="facet-item">
              <div class="">
                  <input id="testInput10" type="checkbox" name="f.Type|B" value="media commentators">
                  <label class="checkbox-option-label" for="testInput10">Media commentator</label>    
              </div>
            </li>
            <li class="facet-item">
              <div class="">
                  <input id="testInput20" type="checkbox" name="f.Type|B"
                  value="available for postgraduate supervision">
                <label class="checkbox-option-label" for="testInput20">Postgraduate supervisor</label>  
              </div>
            </li>
            <li class="facet-item">
              <div class="">
                  <input id="testInput40" type="checkbox" name="f.Type|B" value="welsh speakers">
                  <label class="checkbox-option-label" for="testInput40">Welsh speaker</label>    
              </div>
            </li>
          </ul>  
        </div>
      </div>
      <div class="facet-actions">
              <button type="button" class="btn btn-lg facet-action-cancel">Cancel</button>
              <button type="submit" class="btn btn-lg btn-primary facet-action-apply">Apply</button>
      </div>
    </form>
  </div>
</div>