<form class="form">
  <div class="facet">
    <div class="facet-heading">
      <a href="#facet-School" class="facet-title" data-toggle="collapse" id="facet-label-2">Academic Schools ${require-svg('chevron-down')} </a>
    </div>

    <div class="collapse show" id="facet-School">
      <div class="facet-body">
        <div class="form-group">
          <p class="form-text text-muted">Show results based on distance from school.</p>
          <div role="radiogroup" aria-labelledby="facet-label-2">
            <div class="radio-option">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="yes" />
              <label for="optionsRadios1" class="radio-option-label"> Undergraduates</label>
            </div>
            <div class="radio-option">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="yes" />
              <label for="optionsRadios2" class="radio-option-label"> Postgraduates</label>
            </div>
            <div class="radio-option">
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="yes" />
              <label for="optionsRadios3" class="radio-option-label"> Some other type</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
