<form class="form">
  <div class="facet">
    <div class="facet-heading">
      <a href="#facet-date" class="facet-title" data-toggle="collapse">Date${require-svg('chevron-down')}</a>
    </div>

    <div class="collapse show" id="facet-date">
      <div class="facet-body">
        <div class="form-group">
          <label for="date-from">From</label>
          <input class="form-control" type="date" id="date-from" />
        </div>
        <div class="form-group">
          <label for="date-to">To</label>
          <input class="form-control" type="date" id="date-to" />
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </div>
  </div>
</form>
