<a href="#modal2" role="button" class="btn btn-lg btn-info btn-filter d-lg-none d-block" data-toggle="modal" id="filter-results-model"
  >Filter results ${require-svg('filter')}
</a>

<div id="modal2" class="modal modal-facet fade" tabindex="-1" role="dialog" aria-labelledby="filter-results-model" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Filter</p>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">${require-svg('close')}</button>
      </div>
      <div class="modal-body">
        <form action="/" method="get">
          <fieldset>
            <div class="form-group">
              <legend class="form-label" id="facet-label-4">Types of Students</legend>
              <p class="form-text text-muted">Select <strong>one</strong> type.</p>
              <div role="group" aria-labelledby="facet-label-4">
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox" id="optionsCheckbox4" />
                  <label for="optionsCheckbox4" class="checkbox-option-label">Undergraduates</label>
                </div>
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox" id="optionsCheckbox5" />
                  <label for="optionsCheckbox5" class="checkbox-option-label">Postgraduates</label>
                </div>
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox" id="optionsCheckbox6" />
                  <label for="optionsCheckbox6" class="checkbox-option-label">Something else</label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <p class="form-label" id="facet-label-5">Academic Schools</p>
              <p class="form-text text-muted">Show results based on distance from school.</p>
              <div role="radiogroup" aria-labelledby="facet-label-5">
                <div class="radio-option">
                  <input type="radio" name="optionsRadios" id="optionsRadios4" value="yes" />
                  <label for="optionsRadios4" class="radio-option-label">School of Chemistry</label>
                </div>
                <div class="radio-option">
                  <input type="radio" name="optionsRadios" id="optionsRadios5" value="yes" />
                  <label for="optionsRadios5" class="radio-option-label">Biosciences</label>
                </div>
                <div class="radio-option">
                  <input type="radio" name="optionsRadios" id="optionsRadios6" value="yes" />
                  <label for="optionsRadios6" class="radio-option-label">School of Computer Science & Informatics</label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <p class="form-label" id="facet-label-6">Catering</p>
              <div role="group" aria-labelledby="facet-label-6">
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox8" id="optionsCheckbox8" />
                  <label for="optionsCheckbox8" class="checkbox-option-label">Self-catered</label>
                </div>
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox8" id="optionsCheckbox9" />
                  <label for="optionsCheckbox9" class="checkbox-option-label">Catered</label>
                </div>
                <div class="checkbox-option">
                  <input type="checkbox" name="checkbox8" id="optionsCheckbox10" />
                  <label for="optionsCheckbox10" class="checkbox-option-label">All inclusive wow</label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-buttons sticky sticky-bottom">
            <button type="submit" class="btn btn-lg btn-info">View results</button>
            <a href="#" class="btn btn-link">Clear</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
