<nav class="nav-breadcrumb" aria-label="breadcrumb">
  <div class="breadcrumb-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-hidden="true" class="breadcrumb-item-separator">
              ${require-svg('chevron-right')}
            </li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</nav>
