<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 9]><html class="no-js ie ie9" lang="en" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="cy" prefix="og: http://ogp.me/ns#">
  <!--<![endif]-->
  <head>
    <title>{{{documentTitle}}}</title>

    <link rel="alternate" href="https://www.cardiff.ac.uk/cy" hreflang="cy" />
    <link rel="alternate" href="https://www.cardiff.ac.uk" hreflang="en" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Cardiff University is a top five university for research excellence in a beautiful, student-friendly capital city. We welcome the sharpest minds from across the world."
    />
    <meta property="og:title" content="Cardiff University" />
    <meta
      property="og:description"
      content="Cardiff University is a top five university for research excellence in a beautiful, student-friendly capital city. We welcome the sharpest minds from across the world."
    />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Cardiff University" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.cardiff.ac.uk" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cardiffuni" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:dnt" content="on" />

    <meta
      name="teaser"
      content="Cardiff University is a top five university for research excellence in a beautiful, student-friendly capital city. We welcome the sharpest minds from across the world."
    />
    <meta name="schema" content="page" />
    <meta name="schools" content="" />
    <link rel="stylesheet" href="/dist/css/main.css" />
    <script>
      var cfuiReady = [],
        $ = function(o) {
          function r(fn) {
            cfuiReady.push(fn);
          }
          if (typeof o === 'function') r(o);
          return { ready: r };
        };
    </script>
  </head>
  <body></body>
</html>
