$searchGlobalconMarginX: $baseUnit*1.15
$searchGlobalQueryPaddingLeft: $searchIconSize + $searchGlobalconMarginX*2
$searchGlobalQueryPaddingX: $baseUnit*0.5

.search-global
  background-color: $colourBlack
  order: 2
  grid-area: search-global

  .search-form
    padding: $baseUnit*1.85 0

    &-label
      background-color: $colourBlack

      .icon
        margin: 0 $searchGlobalconMarginX
        fill: $colourWhite

    &-query
      background-color: $colourBlack
      padding: $searchGlobalQueryPaddingX $clearWdith $searchGlobalQueryPaddingX $searchGlobalQueryPaddingLeft
      color: $colourWhite

      &::placeholder
        color: $colourDustyGrey
        font-size: map-get($headingFontSizes,'normal')
        transform: translateY(0)

      &:focus
        border-radius: $baseUnit*0.4
    
    &-clear
      background-color: $colourBlack

      .icon
        fill: $colourWhite
      
      &:focus
        background-color: $colourSweetCorn

        .icon
          fill: $colourBlack
  
@import 'search-global-lg-up'