@media #{$breakpoint-md-up}
  .modal
    &-body,
    &-summary
      padding-right: $baseUnit * 2

    &-header
      padding-right: $baseUnit * 0.5

    &-facet
      .modal-body
        form
          .form-buttons
            margin-right: -$baseUnit * 2

    &-image
      .modal-dialog
        max-width: map-get($container-max-widths, 'md')

    &--with-iframe
      position: block
      padding: 0
      z-index: 9999
      background-color: $colourTransparent

      .modal
        &-content
          min-height: unset

        &-dialog
          max-width: 90%
          background-color: $colourTransparent

        &-header
          .close-modal
            background-color: $colourTransparent
            color: $colourWhite
            margin: 0

            .icon
              fill: $colourWhite

      iframe
        width: 100%
        height: 600px
