<div class="container">
  <button class="btn" id="button">Click me</button>

  <div class="dynamic-include" data-on="#button" data-error-message="Error message"
    data-url="http://localhost:8080/docs/raw/dynamic-include-load-text.html" aria-live="polite" aria-busy="false"
    aria-label="This text will change">
    <p>Click the button to load dynamic content</p>
  </div>
</div>