<a href="#" class="btn btn-default" data-toggle="tooltip" title="Default tooltip">Default tooltip</a>
<a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Another tooltip">Right tooltip</a>
<a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="A much longer tooltip belongs right here to demonstrate the max-width we apply.">Bottom tooltip</a>
<a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="The last tip!">Left tooltip</a>
<div class="tooltip"></div>