<a href="#" class="btn btn-default" data-toggle="tooltip" title="Default tooltip">Top</a>
<a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Another tooltip">Right</a>
<a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="A much longer tooltip belongs right here to demonstrate the max-width we apply.">Bottom</a>
<a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="The last tip!">Left</a>