.progress
  margin-bottom: 1.5rem
  background-image: linear-gradient(to bottom, darken($colourGreySofter, 0.5%), lighten($colourGreySofter, 1%))
  box-shadow: inset 0 1px 2px rgba($colourBlack, 0.1)

  &-set
    &-filter
      @extend .d-none
      margin-bottom: $baseUnit * 2

    .progress-group
      &-item
        display: grid
        grid-template-areas: "progress-title progress-title" "progress-bar progress-indicator"
        grid-template-columns: 1fr 20%
        
        grid-column-gap: $baseUnit * 0.5
        margin: 0

        @supports not(display: grid)
          display: flex
          flex-wrap: wrap

        &-title
          @include grid-ms-fallback(1, 1)
          -ms-grid-column-span: 2
          grid-area: progress-title
          margin-bottom: $baseUnit * 0.5

          @supports not(display: grid)
            width: 100%
            flex-basis: 100%

        &-bar
          @include border-radius(0)
          @include grid-ms-fallback(1, 2)
          grid-area: progress-bar
          background: $colourWhite
          box-shadow: none
          height: 30px

          @supports not(display: grid)
            width: calc(80% - #{$baseUnit * 0.5})
            flex-basis: calc(80% - #{$baseUnit * 0.5})
            margin-right: $baseUnit * 0.5
      
        &-indicator
          @include grid-ms-fallback(2, 2)
          grid-area: progress-indicator
          margin-bottom: 0

          @supports not(display: grid)
            width: 20%
            flex-basis: 20%