<h2>How it works</h2>
<p class="lead">Assign responsive-friendly margin or padding values to an element or a subset of its sides with shorthand classes. Includes support for individual properties, all properties, and vertical and horizontal properties. Classes are built from a default Sass map ranging from .25rem to 3rem.</p>

<h2>Notation</h2>
<p>Spacing utilities that apply to all breakpoints, from xs to xl, have no breakpoint abbreviation in them. This is because those classes are applied from min-width: 0 and up, and thus are not bound by a media query. The remaining breakpoints, however, do include a breakpoint abbreviation.</p>

<p>The classes are named using the format {property}{sides}-{size} for xs and {property}{sides}-{breakpoint}-{size} for sm, md, lg, and xl.</p>

<h3>Where property is one of</h3>
<ul>
<li><code>m</code> - for classes that set margin</li>
<li><code>p</code>> - for classes that set padding</li>
</ul>
<h3>Where sides is one of</h3>
<ul>
<li><code>t</code> - for classes that set margin-top or padding-top</li>
<li><code>b</code> - for classes that set margin-bottom or padding-bottom</li>
<li><code>l</code> - for classes that set margin-left or padding-left</li>
<li><code>r</code> - for classes that set margin-right or padding-right</li>
<li><code>x</code> - for classes that set both *-left and *-right</li>
<li><code>y</code> - for classes that set both *-top and *-bottom</li>
<li>
  blank - for classes that set a margin or padding on all 4 sides of the element</li>
</ul>
<h3>Where size is one of</h3>
<ul>
<li><code>0</code> - for classes that eliminate the margin or padding by setting it to 0</li>
<li><code>1</code> - (by default) for classes that set the margin or padding to $spacer * .25</li>
<li><code>2</code> - (by default) for classes that set the margin or padding to $spacer * .5</li>
<li><code>3</code> - (by default) for classes that set the margin or padding to $spacer</li>
<li><code>4</code> - (by default) for classes that set the margin or padding to $spacer * 1.5</li>
<li><code>5</code> - (by default) for classes that set the margin or padding to $spacer * 3</li>
<li><code>auto</code> - for classes that set the margin to auto</li>
</ul>
<p>(You can add more sizes by adding entries to the $spacers Sass map variable.)</p>