<ul class="media-list">
	<li class="media">
		<a class="float-left" href="#">
			<img class="media-object" src="http://placehold.it/70x70&amp;text=Image+1">
		</a>
		<div class="media-body">
			<h4 class="media-title"><cite><a href="#">Comment Author Name</a></cite></h4>
			<span class="media-meta">
				<time class="date media-meta-date" datetime="2013-07-23T10:30:04+00:00">July 23, 2013</time>
			</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed mi viverra.</p>
			<div class="media-reply"><a href="#">Reply 
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.75">
				<title>Chevron down</title>
				<path d="M28.28,6.13L16,18.41,3.72,6.13,0,9.84l16,16,16-16Z" transform="translate(0 -6.13)"></path>
			  </svg></a></div>
		</div>
	</li>
</ul>