<div class="search-form with-radio-group with-border">
  <form class="form" id="postgraduate-search-form" method="get" action="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/search">
    <input name="form" value="search-en" type="hidden" />
    <h3 class="form-label">Find your course</h3>
    <div class="d-flex ">
      <div class="search-form-container">
        <div class="radio-btn-group">
          <div class="radio-option">
            <input type="radio" value="pgt-courses" name="collection" id="pgt-collection" checked />
            <label for="pgt-collection" class="radio-option-label">Taught</label>
          </div>
          <div class="radio-option">
            <input type="radio" value="pgr-courses" name="collection" id="pgr-collection" /><label for="pgr-collection" class="radio-option-label"
              >Research</label
            >
          </div>
        </div>
        <div class="search-form-query-container">
          <label class="search-form-label" for="query-with-radio">
            <span class="sr-only">Search the website</span>
            ${require-svg('search')}
          </label>
          <input
            type="search"
            autofocus=""
            class="search-form-query"
            name="query"
            id="query-with-radio"
            placeholder="Search the website"
            value=""
          />
          <a href="#" class="search-form-clear" aria-label="Clear search query">
            <span aria-hidden="true">${require-svg('close')} </span>
          </a>
        </div>
      </div>
      <input type="submit" class="btn btn-success d-none d-lg-block col-md-2" value="Search" />
    </div>
  </form>
  <ul class="list list-horizontal">
    <li><a href="#">A-Z of taught courses</a></li>
    <li><a href="#">A-Z of research programmes</a></li>
  </ul>
</div>
