.media
  .float-left
    margin-right: $baseUnit

  .float-right
    margin-left: $baseUnit

  &.float-left
    margin-right: $baseUnit

  &.float-right
    margin-left: $baseUnit

  .media-title
    font: map-get($headingFontSizes, 'normal') $boldFontFamily
    margin-bottom: $baseUnit
    a
      &:after
        content: ""

    + .media-meta
      margin-top: -($baseUnit)

.media,
.media-body
  overflow: hidden
  zoom: 1

  .media-reply
    a
      .icon
        @include square(12px)
        margin-bottom: ($baseUnit*0.25)

.media,
.media .media
  margin-top: ($baseUnit*1.5)

.media:first-child
  margin-top: 0

.media-object
  display: block

.media-heading
  margin: 0 0 ($baseUnit/2)

.media-list
  margin-left: 0
  list-style: none

.media-meta
  font-size: map-get($fontSizes, 'sm')
  display: table

@import 'media-lg-only'
@import 'media-xl-up'