<div class="box box-primary box-contact">
  <h2>Contact</h2>
  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 30">
    <title>Comment</title>
    <path
      d="M16,2A18,18,0,0,0,4.69,5.78,11.93,11.93,0,0,0,0,15a11,11,0,0,0,1.62,5.69,12.89,12.89,0,0,0,4.31,4.41A4.1,4.1,0,0,1,6,26a4.71,4.71,0,0,1-1.19,3A8.77,8.77,0,0,1,2,31.16V32a22.77,22.77,0,0,0,6-.84,13,13,0,0,0,5.53-3.31c0.41,0,.84.09,1.25,0.09S15.59,28,16,28a18,18,0,0,0,11.34-3.81A11.89,11.89,0,0,0,32,15a12,12,0,0,0-4.66-9.22A18.14,18.14,0,0,0,16,2h0Z"
      transform="translate(0 -2)"
    />
  </svg>
  <a href="https://enquiries.cardiff.ac.uk/enquiry">Ask a question</a>
</div>
