<div class="col-lg-4">
  <div class="box">
    <div class="row box-group with-title">
      <div class="col-md-6 col-lg-12">
        <div class="box-body">
          <p class="box-title-suffix">Where you'll study</p>
          <h2 class="box-title"><a href="https://www.cardiff.ac.uk/architecture">Welsh School of Architecture</a></h2>
          <p>We aim to make the world a better place through contextually sensitive, sustainable and beautiful architecture.</p>
          <ul class="list list-links">
            <li>
              <a href="https://www.cardiff.ac.uk/architecture/about-us/facilities"
                >Facilities ${require-svg('chevron-right')}</a>
            </li>
            <li>
              <a href="https://www.cardiff.ac.uk/architecture/research"
                >Research ${require-svg('chevron-right')}</a>
            </li>
            <li>
              <a href="https://www.cardiff.ac.uk/architecture/people/academic-staff"
                >Academic staff ${require-svg('chevron-right')}</a>
            </li>
          </ul>
          <ul class="list list-icons">
            <li>
              ${require-svg('email')}<a href="mailto:architectureadmissions@cardiff.ac.uk">architectureadmissions@cardiff.ac.uk</a>
            </li>
            <li>
              ${require-svg('telephone')}<a href="tel:+44 (0)29 2087 4430">+44 (0)29 2087 4430</a>
            </li>
            <li>
              ${require-svg('marker')}King Edward VII Avenue, Cardiff, CF10 3NB
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-12">
        <div class="box-body">
          <h2 class="box-title"><a href="https://www.cardiff.ac.uk/architecture">Welsh School of Architecture</a></h2>
          <p>We aim to make the world a better place through contextually sensitive, sustainable and beautiful architecture.</p>
          <ul class="list list-links">
            <li>
              <a href="https://www.cardiff.ac.uk/architecture/about-us/facilities"
                >Facilities ${require-svg('chevron-right')}</a>
            </li>
            <li>
              <a href="https://www.cardiff.ac.uk/architecture/research"
                >Research ${require-svg('chevron-right')}</a>
            </li>
            <li>
              <a href="https://www.cardiff.ac.uk/architecture/people/academic-staff"
                >Academic staff ${require-svg('chevron-right')}</a>
            </li>
          </ul>
          <ul class="list list-icons">
            <li>
              ${require-svg('email')}<a href="mailto:architectureadmissions@cardiff.ac.uk">architectureadmissions@cardiff.ac.uk</a>
            </li>
            <li>
              ${require-svg('telephone')}<a href="tel:+44 (0)29 2087 4430">+44 (0)29 2087 4430</a>
            </li>
            <li>
              ${require-svg('marker')}King Edward VII Avenue, Cardiff, CF10 3NB
            </li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
</div>