<div class="col-md-4">
  <div class="box">
    <div class="box-header">
      <h1 class="box-title"><a href="#">Box without footer</a></h1>
    </div>
    <div class="box-body">
      <p>This is the text in the box-body.</p>
      <ul>
        <li>List item</li>
      </ul>
      <p>Another paragraph.</p>
    </div>
  </div>
</div>
