<div class="col-md-4">
  <div class="box box-inverse">
    <div class="box-header">
      <h1 class="box-title"><a href="#">Inverse box</a></h1>
    </div>
    <div class="box-body">
      <p>This is the text in the box-body.</p>
      <ul>
        <li>List item</li>
      </ul>
      <p>Another paragraph.</p>
    </div>
    <div class="box-footer">
      <a class="btn btn-success btn-block btn-large" href="#">Button</a>
    </div>
  </div>
</div>
