<div class="box box-facilities">
    <div class="box-header">
        <h4 class="box-title">Key Facilities</h4>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="facility col-6 col-md-3">
                ${require-svg('eye')}
                Wifi
            </div>
        
            <div class="facility col-6 col-md-3">
                ${require-svg('eye')}
                Wheelchair Access
            </div>
        
            <div class="facility col-6 col-md-3">
                ${require-svg('eye')}
                Hearing aid loop
            </div>
        
            <div class="facility col-6 col-md-3">
                ${require-svg('eye')}
                Laundry
            </div>
        
            <div class="facility col-6 col-md-3">
                ${require-svg('eye')}
                Self-catered
            </div>
        
            <div class="facility col-6 col-md-3">
                ${require-svg('eye')}
                Communal living
            </div>
        
            <div class="facility col-6 col-md-3">
                ${require-svg('eye')}
                En-suite
            </div>
        </div>
    </div>
    <div class="box-footer">
        <a href="">More facilities
            ${require-svg('chevron-right')}
        </a>
    </div>
</div>
