<div class="col-md-4">
  <div class="box box-inverse">
    <div class="box-header">
      <h2 class="box-title"><label for="search-postgraduate-taught-courses">Find a taught course</label></h2>
    </div>
    <div class="box-body">
      <form class="form mb-2" action="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/search" method="get" role="search">
        <div class="form-row">
          <div class="col-sm-8 col-md-12 col-lg-8">
            <input class="form-control mb-0" id="search-postgraduate-taught-courses" name="query" type="text" value="" accesskey="q" placeholder="" />
          </div>
          <div class="col-sm-4 col-md-12 col-lg-4"><button type="submit" class="btn btn-primary btn-block mx-0 btn-sm-inline btn-md-block btn-lg-inline ">Search</button></div>
        </div>
        <input type="hidden" name="collection" value="pgt-courses" />
      </form>
      <ul class="list list-horizontal">
        <li><a href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/a-to-z">A to Z</a></li>
        <li><a href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/browse-by-school">Browse by School</a></li>
      </ul>
    </div>
  </div>
</div>
