<div class="row">
  <div class="col-md-4">
    <div class="box with-icon">
      <div class="box-header">
        <span class="icon-accommodation">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.97">
            <title>Accommodation</title>
            <path
              d="M30,10.31a2,2,0,0,1,1.44.59A2.1,2.1,0,0,1,32,12.31V23.84a2,2,0,0,1-2,2,2,2,0,0,1-2-2v-2H4v2a2,2,0,0,1-.56,1.38A2,2,0,0,1,2,25.81a1.83,1.83,0,0,1-1.41-.59A1.87,1.87,0,0,1,0,23.84v-16A2,2,0,0,1,.59,6.44,1.84,1.84,0,0,1,2,5.84a2,2,0,0,1,1.41.59A2.1,2.1,0,0,1,4,7.84v9.25H28V12.31a2,2,0,0,1,.59-1.41A1.87,1.87,0,0,1,30,10.31ZM8.94,15.41a3.15,3.15,0,0,1-3.06-3.09,3.1,3.1,0,0,1,.91-2.19,3.06,3.06,0,0,1,4.34,0A3.23,3.23,0,0,1,12,12.31a3.16,3.16,0,0,1-.91,2.16A3,3,0,0,1,8.94,15.41Zm8.75-6a6.53,6.53,0,0,1,3.44.94,14.31,14.31,0,0,1,4.44,4.09l0.63,0.94H12.84L13,14.44a8,8,0,0,1,.69-2.06c0.72-1.47,1.94-3,4-3h0Z"
              transform="translate(0 -5.84)"
            ></path>
          </svg>
        </span>
        <h1 class="box-title"><a href="#">Accommodation</a></h1>
      </div>
      <div class="box-body">
        <p>We have a range of residences to suit individual preferences and budgets</p>
      </div>
      <div class="box-footer">
        <p>
          <a href="#"
            >Accommodation
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
              <title>Chevron right</title>
              <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-primary with-icon">
      <div class="box-header">
        <span class="icon-accommodation">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.97">
            <title>Accommodation</title>
            <path
              d="M30,10.31a2,2,0,0,1,1.44.59A2.1,2.1,0,0,1,32,12.31V23.84a2,2,0,0,1-2,2,2,2,0,0,1-2-2v-2H4v2a2,2,0,0,1-.56,1.38A2,2,0,0,1,2,25.81a1.83,1.83,0,0,1-1.41-.59A1.87,1.87,0,0,1,0,23.84v-16A2,2,0,0,1,.59,6.44,1.84,1.84,0,0,1,2,5.84a2,2,0,0,1,1.41.59A2.1,2.1,0,0,1,4,7.84v9.25H28V12.31a2,2,0,0,1,.59-1.41A1.87,1.87,0,0,1,30,10.31ZM8.94,15.41a3.15,3.15,0,0,1-3.06-3.09,3.1,3.1,0,0,1,.91-2.19,3.06,3.06,0,0,1,4.34,0A3.23,3.23,0,0,1,12,12.31a3.16,3.16,0,0,1-.91,2.16A3,3,0,0,1,8.94,15.41Zm8.75-6a6.53,6.53,0,0,1,3.44.94,14.31,14.31,0,0,1,4.44,4.09l0.63,0.94H12.84L13,14.44a8,8,0,0,1,.69-2.06c0.72-1.47,1.94-3,4-3h0Z"
              transform="translate(0 -5.84)"
            ></path>
          </svg>
        </span>
        <h1 class="box-title"><a href="#">Accommodation</a></h1>
      </div>
      <div class="box-body">
        <p>We have a range of residences to suit individual preferences and budgets</p>
      </div>
      <div class="box-footer">
        <p>
          <a href="#"
            >Accommodation
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
              <title>Chevron right</title>
              <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-inverse with-icon">
      <div class="box-header">
        <span class="icon-accommodation">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 19.97">
            <title>Accommodation</title>
            <path
              d="M30,10.31a2,2,0,0,1,1.44.59A2.1,2.1,0,0,1,32,12.31V23.84a2,2,0,0,1-2,2,2,2,0,0,1-2-2v-2H4v2a2,2,0,0,1-.56,1.38A2,2,0,0,1,2,25.81a1.83,1.83,0,0,1-1.41-.59A1.87,1.87,0,0,1,0,23.84v-16A2,2,0,0,1,.59,6.44,1.84,1.84,0,0,1,2,5.84a2,2,0,0,1,1.41.59A2.1,2.1,0,0,1,4,7.84v9.25H28V12.31a2,2,0,0,1,.59-1.41A1.87,1.87,0,0,1,30,10.31ZM8.94,15.41a3.15,3.15,0,0,1-3.06-3.09,3.1,3.1,0,0,1,.91-2.19,3.06,3.06,0,0,1,4.34,0A3.23,3.23,0,0,1,12,12.31a3.16,3.16,0,0,1-.91,2.16A3,3,0,0,1,8.94,15.41Zm8.75-6a6.53,6.53,0,0,1,3.44.94,14.31,14.31,0,0,1,4.44,4.09l0.63,0.94H12.84L13,14.44a8,8,0,0,1,.69-2.06c0.72-1.47,1.94-3,4-3h0Z"
              transform="translate(0 -5.84)"
            ></path>
          </svg>
        </span>
        <h1 class="box-title"><a href="#">Accommodation </a></h1>
      </div>
      <div class="box-body">
        <p>We have a range of residences to suit individual preferences and budgets</p>
      </div>
      <div class="box-footer">
        <p>
          <a href="#"
            >Accommodation
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
              <title>Chevron right</title>
              <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
            </svg>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
