<div class="box box-secondary" id="CPE-booking-box">
  <div class="box-header">
    <ul class="badge-group float-right">
      <li><span class="badge badge-info">Level 5</span></li>
      <li><span class="badge badge-info">20 credits</span></li>
    </ul>
    <h1 class="box-title">
      Start date
      <select id="course-date-selection">
        <option value="27 September 2017">27 September 2017</option>
        <option value="17 January 2018">17 January 2018</option>
        <option value="17 April 2018">17 April 2018</option></select
      >
    </h1>
  </div>
  <div class="box-body" data-date="3 October 2017">
    <table class="table footable-loaded footable">
      <tbody>
        <tr>
          <th scope="row">Duration</th>
          <td>12 weekly meetings</td>
        </tr>
        <tr>
          <th scope="row">Days and times</th>
          <td>Tuesdays from 18:00 to 21:00 plus 1 Saturday Day School</td>
        </tr>
        <tr>
          <th scope="row">Tutor</th>
          <td>Dr Mike Evans</td>
        </tr>
        <tr>
          <th scope="row">Course code</th>
          <td>COM17A3340A</td>
        </tr>
        <tr>
          <th scope="row">Fee</th>
          <td>£450.00</td>
        </tr>
        <tr>
          <th scope="row">Concessionary fee</th>
          <td>£405.00 (find out about <a href="#">eligibility and funding options</a>)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer" data-date="3 October 2017">
    <a href="#" class="btn btn-success btn-large">Enrol now</a>
  </div>
</div>
