<div class="box box-quote with-icon">
  <div class="box-header">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24">
      <title>Right quote</title>
      <path d="M0,28V16A12,12,0,0,1,12,4V8a8,8,0,0,0-8,8h8V28H0Zm20,0V16A12,12,0,0,1,32,4V8a8,8,0,0,0-8,8h8V28H20Z"
        transform="translate(0 -4)" />
    </svg>
  </div>
  <div class="box-body">
    <div id="content_container_476525">
      <figure class="quote" data-assetid="22420" data-paintlayoutid="7149" data-status="Live">
        <blockquote class="quote-body">
          <p>
            The university is the acknowledged leader of higher education in Wales ... It is the principality’s only
            member of the Russell Group of research-led universities and has two Nobel Laureates on its staff.
          </p>
        </blockquote>
        <figcaption class="quote-author">
          University Guide 2014<cite class="quote-source">The Sunday Times</cite>
        </figcaption>
      </figure>
    </div>
  </div>
</div>