<div class="box box-calltoaction">
  <div class="box-header">
    <a href="https://autumn-open-days.eventbrite.co.uk">
      <img
        srcset="https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=750&amp;h=422&amp;fit=crop&amp;q=60&amp;auto=format 750w,
                            https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format 570w,
                            https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=350&amp;h=197&amp;fit=crop&amp;q=60&amp;auto=format 350w,
                            https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=268&amp;h=151&amp;fit=crop&amp;q=60&amp;auto=format 268w,
                            https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=218&amp;h=123&amp;fit=crop&amp;q=60&amp;auto=format 218w,
                            https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=164&amp;h=92&amp;fit=crop&amp;q=60&amp;auto=format 164w"
        src="https://cardiff.imgix.net/__data/assets/image/0004/1441489/NoLogoMainBuilding.jpg?w=570&amp;h=321&amp;fit=crop&amp;q=60&amp;auto=format"
        sizes="(max-width: 767px) 100vw, (max-width: 970px) 164px, (max-width: 1199px) 218px, (min-width: 1200px) 268px"
        alt="Main Building ">
    </a>
    <h2 class="box-title"><a href="https://autumn-open-days.eventbrite.co.uk" class="ga-event"
        data-category="Call to action">Attend
        our next Open Day</a></h2>
  </div>
  <div class="box-body">Explore our campus, facilities and city. Meet our staff and students and get a real feel for
    studying and living in Cardiff at our Open Day on Saturday 26 October 2019.</div>
  <div class="box-footer">
    <p><a class="btn btn-primary" href="https://autumn-open-days.eventbrite.co.uk">Book your place</a></p>
  </div>
</div>