<div class="row">
  <div class="col-md-4">
    <div class="box">
      <div class="box-header">
        <a href="#"> <img class="resrc" src="//www.placehold.it/270x160" /> </a>
        <h1 class="box-title"><a href="#">Meet our students</a></h1>
      </div>
      <div class="box-body">
        <p class="lead">Find out what life at the University is really like from our own students.</p>
      </div>
      <div class="box-footer">
        <a href="#s"
          >Meet our students
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
            <title>Chevron right</title>
            <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-primary">
      <div class="box-header">
        <a href="#"> <img class="resrc" src="//www.placehold.it/270x160" /> </a>
        <h1 class="box-title"><a href="#">Meet our students</a></h1>
      </div>
      <div class="box-body">
        <p class="lead">Find out what life at the University is really like from our own students.</p>
      </div>
      <div class="box-footer">
        <a href="#s"
          >Meet our students
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
            <title>Chevron right</title>
            <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-inverse">
      <div class="box-header">
        <a href="#"> <img class="resrc" src="//www.placehold.it/270x160" /> </a>
        <h1 class="box-title"><a href="#">Meet our students</a></h1>
      </div>
      <div class="box-body">
        <p class="lead">Find out what life at the University is really like from our own students.</p>
      </div>
      <div class="box-footer">
        <a href="#s"
          >Meet our students
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
            <title>Chevron right</title>
            <path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
