<div class="col-md-4">
	<div class="box">
		<div class="box-header">
			<h1 class="box-title"><a href="#">Box with header</a></h1>
		</div>
		<div class="box-body">
			<p>This is the text in the box-body.</p>
			<ul>
				<li>List item</li>
			</ul>
			<p>Another paragraph.</p>
		</div>
		<div class="box-footer">
			<p><a href="#">This link is in the box-footer</a><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.75 32">
				<title>Chevron right</title>
				<path d="M6.13,28.28L18.41,16,6.13,3.72,9.84,0l16,16-16,16Z" transform="translate(-6.13 0)" />
			  </svg></p>
		</div>
	</div>
</div>
