<nav class="nav-global-mobile">
  <div class="" id="mobileNavigationItems">
    <li class="nav-item nav-global-mobile-section">
      <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link active">Home</a>
    </li>
    <li class="nav-item nav-item-expandable">
      <a href="https://www.cardiff.ac.uk/about" class="nav-link">About</a
      ><a href="#" class="nav-link-expand" data-assetid="7680">${require-svg('plus')}</a>
    </li>
    <li class="nav-item nav-item-expandable">
      <a href="https://www.cardiff.ac.uk/study" class="nav-link">Study</a
      ><a href="#" class="nav-link-expand" data-assetid="1069652">${require-svg('plus')}</a>
    </li>
    <li class="nav-item nav-item-expandable">
      <a href="https://www.cardiff.ac.uk/research" class="nav-link">Research</a
      ><a href="#" class="nav-link-expand" data-assetid="9359">${require-svg('plus')}</a>
    </li>
    <li class="nav-item nav-item-expandable">
      <a href="https://www.cardiff.ac.uk/international" class="nav-link">International</a
      ><a href="#" class="nav-link-expand" data-assetid="557017">${require-svg('plus')}</a>
    </li>
    <li class="nav-item nav-item-expandable">
      <a href="https://www.cardiff.ac.uk/innovation" class="nav-link">Innovation</a
      ><a href="#" class="nav-link-expand" data-assetid="108969">${require-svg('plus')}</a>
    </li>
    <li class="nav-item nav-item-expandable">
      <a href="https://www.cardiff.ac.uk/business" class="nav-link">Business</a
      ><a href="#" class="nav-link-expand" data-assetid="35068">${require-svg('plus')}</a>
    </li>
    <li class="nav-item nav-item-expandable">
      <a href="https://www.cardiff.ac.uk/alumni" class="nav-link">Alumni</a
      ><a href="#" class="nav-link-expand" data-assetid="24773">${require-svg('plus')}</a>
    </li>
    <li class="nav-item">
      <a href="https://www.cardiff.ac.uk/about/organisation/college-structure" class="nav-link ">Academic Schools</a>
    </li>
  </div>
</nav>
