<article class="dictionary">
  <ul class="nav nav-pills nav-dictionary">
    <li class="nav-item"><a class="nav-link" href="#letter-a">A</a></li>
    <li class="nav-item active"><a class="nav-link" href="#letter-b">B</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-c">C</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-d">D</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-e">E</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-f">F</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-g">G</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-h">H</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-i">I</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-j">J</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-k">K</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-l">L</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-m">M</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-n">N</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-o">O</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-p">P</a></li>
    <li class="nav-item"><a class="nav-link disabled" tabindex="-1" aria-disabled="true">Q</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-r">R</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-s">S</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-t">T</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-u">U</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-v">V</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-w">W</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-x">X</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-y">Y</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-z">Z</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-09">0–9</a></li>
  </ul>
  <section class="dictionary-letter" id="letter-a">
    <h1 class="dictionary-letter-title">A</h1>
    <ul class="dictionary-terms">
      <li class="dictionary-term"><a href="#">Aberconway Hall</a></li>
      <li class="dictionary-term"><a href="#">Aberdare Hall</a></li>
      <li class="dictionary-term"><a href="#">About the University</a></li>
      <li class="dictionary-term"><a href="#">Academic Integrity</a></li>
      <li class="dictionary-term"><a href="#">Academic Quality System</a></li>
      <li class="dictionary-term">
        Academic Registry <small>See <a href="#">Registry</a></small>
      </li>
      <li class="dictionary-term"><a href="#">Academic Regulations Handbook</a></li>
      <li class="dictionary-term"><a href="#">Academic Research Misconduct</a></li>
      <li class="dictionary-term"><a href="#">Access to Information</a></li>
      <li class="dictionary-term"><a href="#">Access to University</a></li>
      <li class="dictionary-term"><a href="#">Accessibility</a></li>
      <li class="dictionary-term">
        Accident <small>See <a href="#">Reporting an accident</a></small>
      </li>
      <li class="dictionary-term">
        <a href="#">Accommodation</a> <small>See also <a href="#">Residences</a></small>
      </li>
    </ul>
  </section>
  <section class="dictionary-letter" id="letter-b">
    <h1 class="dictionary-letter-title">B</h1>
    <ul class="dictionary-terms">
      <li class="dictionary-term"><a href="#">Buildings</a></li>
    </ul>
  </section>
</article>
