<div class="dictionary dictionary-vertical">
  <ul class="nav nav-pills nav-dictionary">
    <li class="nav-item"><a class="nav-link" href="#letter-a">A</a></li>
    <li class="nav-item"><a class="nav-link" href="#letter-b">B</a></li>
  </ul>
  <section class="dictionary-letter" id="letter-a">
    <h3 class="dictionary-letter-title sticky-top">A</h3>
    <div class="dictionary-content">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 50%">
              Course
            </th>
            <th style="width: 25%">
              Qualification
            </th>
            <th style="width: 25%">
              Mode
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
          
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="dictionary-letter" id="letter-b">
    <h3 class="dictionary-letter-title sticky-top">B</h3>
    <div class="dictionary-content">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 50%">
              Course
            </th>
            <th style="width: 25%">
              Qualification
            </th>
            <th style="width: 25%">
              Mode
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.cardiff.ac.uk/study/postgraduate/taught/courses/course/cognitive-and-behavioural-therapies-pgdip-part-time"
                >Cognitive and Behavioural Therapies</a
              >
            </td>
            <td>PgDip</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
