@media #{$breakpoint-sm-down}
  .timeline
    &-items
      padding-top: ($baseUnit * 2)
    
    &-line
      left: 35px
      margin-left: -($baseUnit * 0.35)
    
    &-decade
      padding-bottom: $baseUnit
    
    &-decade-title,
    .footer-terminus
      margin: 0px
      width: 70px
      font-size: 1rem
    
    &-item
      width: 100%
      padding-left: $baseUnit * 6
      margin: 0

      &-thumbnail
        @include square(80px)
      
      &-header
        text-align: left
        margin: 0 0 ($baseUnit * 2) (-($baseUnit * 2))
        padding: 0 0 ($baseUnit * 0.5) ($baseUnit * 2)

      &-body:before
        left: -36px
        top: -33px

    &-item.float-right
      padding: 0 0 0 ($baseUnit*6)

      .timeline-item-header
        margin: 0 0 ($baseUnit * 2) (-($baseUnit * 2))
        padding: 0 0 ($baseUnit * 0.5) ($baseUnit * 2)

      .timeline-item-body:before
        left: -36px

    &-item.important.float-right,
    &-item.important
      .timeline-item-body:before
        left: -38px
