.timeline
  min-height: 500px
  position: relative

  &-line
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    width: 8px
    background: $colourGreyLighter
    margin-left: (-$baseUnit*0.4)
  
  &-title
    text-align: center
    font: normal $headingFontSizeLG $brandFamily

  &-decade
    padding-bottom: $baseUnit
    position: relative
  
  &-decade-title,
  .footer-terminus
    text-align: center
    color: $colourWhite
    background: $colourBlack
    font-family: $boldFontFamily
    font-size: map-get($headingFontSizes, 'sm')
    line-height: map-get($headingLineHeights, 'small')
    display: block
    width: 100px
    margin: 0 auto
    padding: 0 $baseUnit
    z-index: 1
    position: relative

  &-navigation
    margin-bottom: ($baseUnit * 2)

  &-items
    @include clearfix()
    margin: 0
    padding-top: ($baseUnit * 6)
    padding-left: 0

  &-item
    list-style: none
    width: 50%
    clear: both
    margin-top: #{(-$baseUnit * 4)}
    position: relative
    padding: 0 #{($baseUnit * 4)} 0 0

    &-thumbnail
      float: right
      margin: 0 0 #{($baseUnit * 2)} #{($baseUnit * 2)}

    &-body
      position: relative

      &:before
        @include square(24px)
        @include border-radius(14px)
        content: ''
        display: block
        background: $colourGreyLight
        position: absolute
        right: -52px
        top: -33px
        border: ($baseUnit*0.4) solid $colourWhite
        z-index: 1

    &-header
      font-size: 1rem
      border-bottom: ($baseUnit * 0.3) solid $colourGreyLighter
      display: block
      line-height: ($baseUnit * 3)
      margin: 0 #{(-($baseUnit * 4))} #{($baseUnit * 2)} 0
      padding: 0 #{($baseUnit * 4)} #{($baseUnit * 0.5)} 0

      .timeline-item-title
        font-family: $boldFontFamily
        font-style: normal
        color: $colourRed
        font-size: 1.0625rem
        margin: 0
        line-height: ($baseUnit * 2.5)
        
        small,
        span
          color: $colourBlack
          font-family: $brandFamily
          font-size: map-get($fontSizes, 'normal')
          line-height: ($baseUnit * 2.5)
        
        small
          a
            color: $colourLink

  &-item.float-right
    padding: 0 0 0 ($baseUnit * 4)

    .timeline-item-thumbnail
      float: left
      margin: 0 #{($baseUnit * 2)} #{($baseUnit * 2)} 0

    .timeline-item-header
      margin: 0 0 #{($baseUnit * 2)} #{(-($baseUnit * 4))}
      padding: 0 0 #{($baseUnit / 2)} #{($baseUnit * 4)}

    .timeline-item-body:before
      left: -52px

  &-item.important
    .timeline-item-header
      border-bottom: ($baseUnit*0.4) solid $colourGreyLight

    .timeline-item-body:before
      @include square($baseUnit * 2.8)
      @include border-radius(14px)
      background: $colourRed
      top: -36px

    .timeline-item-title
      font-size: map-get($fontSizes, 'lg')
      line-height: ($baseUnit * 3)
      small
        font-size: ($baseUnit * 2)
        line-height: ($baseUnit * 3)

    .timeline-item-body p
      font-size: 1rem
      line-height: 1.5625rem

    &.float-right
      .timeline-item-body:before
        left: -54px

    &.float-left
      .timeline-item-body:before
        right: -54px
    
  &-footer
    margin-bottom: ($baseUnit * 3)

@import 'timeline-sm-down'
@import 'timeline-xs-down'