@media #{$breakpoint-xs-down}
  .timeline
    &-line
      left: ($baseUnit*3)
      margin-left: -($baseUnit*0.3)
      width: 6px
    
    &-decade
      padding-bottom: $baseUnit
    
    &-decade-title,
    .footer-terminus
      margin: 0
      width: 60px
      padding: 0
    
    &-item
      &-header
        padding: 0 0 ($baseUnit*0.5) 0

        .timeline-item-title
          line-height: ($baseUnit*2)
          padding-left: ($baseUnit*2)
        
      .timeline-item-body:before
        @include square(18px)
        border: ($baseUnit*0.3) solid $colourWhite
        left: -39px
        top: -31px
      
      &.float-right
        padding-left: ($baseUnit*6)

        .timeline-item-header
          margin: 0 0 ($baseUnit*2) (-($baseUnit*2))
          padding-bottom: ($baseUnit*0.5)
        
        .timeline-item-body:before
          @include square($baseUnit*1.8)
          border: ($baseUnit*0.3) solid $colourWhite
          left: -39px
          top: -31px
      
      &.important,      
      &.important.float-right
        .timeline-item-body:before
          left: -44px
          top: -35px