.video
  +clearfix()
  margin: 0 0 ($baseUnit * 2)
  max-width: 100%
  max-height: 100%

  iframe
    +square(100%)

    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border: none

  &-body
    width: 100%
    height: 0
    padding-bottom: 56.25%
    position: relative

  .caption
    background: $colourGreyLighter
    padding: $baseUnit
    font-size: map-get($font15, 'size')
    line-height: map-get($font15, 'line-height')
    font-family: $brandFamily

  &--lazy
    position: relative
    display: block
    z-index: $zindex-video
    max-width: unset
    max-height: unset
    cursor: pointer

    img
      +square(100%)

      transition: opacity $veryShortAnimationDuration $standardAnimationCubic

    > .icon
      +absolutely-centered()

      width: 68px
      height: auto
      max-height: 50%
      z-index: $zindex-video-play-icon
      pointer-events: none

      .bg
        transition: fill $veryShortAnimationDuration $standardAnimationCubic
        fill: rgba($colourBlack, 0.8)

    &:hover
      .icon
        .bg
          fill: #f00

      img
        opacity: 0.8

    .video
      &__wrapper
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0

        &--dismissible
          .video__wrapper
            &__overlay
              width: 100%
              height: 100%
              max-width: 150px
              max-height: 150px
              background: rgba($colourBlack, 0)
              background: linear-gradient(225deg, rgba(0, 0, 0, 1) 0%, rgba($colourBlack, 0) 50%)
              position: absolute
              top: 0
              right: 0
              opacity: 0
              cursor: pointer
              z-index: $zindex-video-close

            &__close
              +square(20px)
              +flex-centered()

              position: absolute
              display: flex
              visibility: visible
              cursor: pointer
              top: $baseUnit * 2
              right: $baseUnit * 2
              opacity: 0
              pointer-events: all

              .icon
                +square(20px)

                fill: $colourWhite
                margin-right: 0

              &:focus
                outline: ($baseUnit * 0.3) $colourSweetCorn

                .icon
                  fill: $colourGreyDarker
                  outline: none
                  box-shadow: 0 0 0 #{$baseUnit * 0.3} $colourSweetCorn
                  background-color: $colourSweetCorn

    &.video
      &--active
        z-index: $zindex-video-overlay

        > .icon
          opacity: 0

        &:hover
          img
            opacity: 1

          .video__wrapper
            opacity: 1

            &__overlay
              cursor: default
              opacity: 1

      &--disable-close
        &:hover
          .video__wrapper
            opacity: 1

            &__overlay
              cursor: default
              opacity: 0

            &__close
              opacity: 0

  &--disabled
    text-decoration: none

    .content-unavailable
      transition: opacity 150ms ease

      &__overview,
      &__content
        transition: opacity 150ms ease

      &__content
        max-width: 570px
        margin-left: auto
        margin-right: auto

      &--minimal-content
        .content-unavailable__content
          display: none
          opacity: 0

    .video__wrapper
      &--dismissible
        .video__wrapper__close
          transition: opacity 150ms ease

    &:hover
      text-decoration: none

      .content-unavailable
        &--full-content
          cursor: auto

    &:not(.video--active)
      &:hover
        text-decoration: none

        .content-unavailable
          &--minimal-content
            a
              color: $colourLinkHover
              pointer-events: none

    &.video--active
      cursor: auto
      z-index: $zindex-video-overlay + 1

      &:hover
        .content-unavailable
          &--minimal-content
            a
              pointer-events: auto

      .content-unavailable__overview
        display: none

      .video__wrapper
        &--dismissible
          .video__wrapper
            &__overlay
              opacity: 1
              background: $colourTransparent

            &__close
              .icon
                fill: $colourBlack

.with-video
  margin-top: $baseUnit * 3

.callout
  &.with-video
    .video
      padding-bottom: $baseUnit * 3
