<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  active"
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  "
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Colours</h1>
      <p class="lead">Accordions are collapsible groupings of headings and content which are useful for things like FAQs.</p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Core-colours" class="nav-link">Core colours</a><li class="nav-item"><a href="#Bootstrap-primary-colours" class="nav-link">Bootstrap primary colours</a><li class="nav-item"><a href="#Grey-scale" class="nav-link">Grey scale</a><li class="nav-item"><a href="#Supplementary-colours" class="nav-link">Supplementary colours</a><li class="nav-item"><a href="#Colour-palette" class="nav-link">Colour palette</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Core-colours">Core colours</h2>
<p></p>
<ul class="list w-100 list-no-disc">
  
  <li class="p-2" style="background-color: #22211f; color: white;">$colourBlack: #22211f</li>
   
  <li class="p-2" style="background-color: #d4374a; color: white;">$colourRed: #d4374a</li>
   
  <li class="p-2" style="background-color: #008458; color: white;">$colourGreen: #008458</li>
   
  <li class="p-2" style="background-color: #045bc6; color: white;">$colourLink: #045bc6</li>
   
  <li class="p-2" style="background-color: #ffffff;">$colourWhite: #ffffff</li>
   
  <li class="p-2" style="background-color: #f8d349;">$colourEnergyYellow: #f8d349</li>
   
  <li class="p-2" style="background-color: #FCF199;">$colourSweetCorn: #FCF199</li>
  
</ul>


  
<h2 id="Bootstrap-primary-colours">Bootstrap primary colours</h2>
<p></p>
<ul class="list w-100 list-no-disc">
  
  <li class="p-2" style="background-color: #fef6da;">$colourAlertWarningBackground: #fef6da</li>
   
  <li class="p-2" style="background-color: #008458; color: white;">$colourSuccess: #008458</li>
   
  <li class="p-2" style="background-color: #3a6cb5; color: white;">$colourInfo: #3a6cb5</li>
   
  <li class="p-2" style="background-color: #537fb6; color: white;">$colourSteelBlue: #537fb6</li>
   
  <li class="p-2" style="background-color: #00b377; color: white;">$colourJade: #00b377</li>
  
</ul>


  
<h2 id="Grey-scale">Grey scale</h2>
<p></p>
<ul class="list w-100 list-no-disc">
  
  <li class="p-2" style="background-color: #373736; color: white;">$colourTintDarkest: #373736</li>
   
  <li class="p-2" style="background-color: #666666; color: white;">$colourGreyDarkest: #666666</li>
   
  <li class="p-2" style="background-color: #383735; color: white;">$colourGreyDarker: #383735</li>
   
  <li class="p-2" style="background-color: #4e4e4c; color: white;">$colourGreyDark: #4e4e4c</li>
   
  <li class="p-2" style="background-color: #555555; color: white;">$colourGrey: #555555</li>
   
  <li class="p-2" style="background-color: #666564; color: white;">$colourTintDarker: #666564</li>
   
  <li class="p-2" style="background-color: #7a7978; color: white;">$colourTintDark: #7a7978</li>
   
  <li class="p-2" style="background-color: #bcbbbb;">$colourTintLight: #bcbbbb</li>
   
  <li class="p-2" style="background-color: #bbbbbb;">$colourSilver: #bbbbbb</li>
   
  <li class="p-2" style="background-color: #c6c6c5;">$colourGreyNickel: #c6c6c5</li>
   
  <li class="p-2" style="background-color: #d0d0cf;">$colourTintLighter: #d0d0cf</li>
   
  <li class="p-2" style="background-color: #d3d3d2;">$colourPrimeGrey: #d3d3d2</li>
   
  <li class="p-2" style="background-color: #d3d3d2;">$colourGreyLight: #d3d3d2</li>
   
  <li class="p-2" style="background-color: #dadada;">$colourGreySoft: #dadada</li>
   
  <li class="p-2" style="background-color: #e9e9e9;">$colourGreyLighter: #e9e9e9</li>
   
  <li class="p-2" style="background-color: #e9e9e9;">$colourTintLightest: #e9e9e9</li>
   
  <li class="p-2" style="background-color: #f0f0f0;">$colourGreyLightest: #f0f0f0</li>
   
  <li class="p-2" style="background-color: #f6f6f6;">$colourGreySofter: #f6f6f6</li>
   
  <li class="p-2" style="background-color: #f5f5f5;">$colourWildSandGrey: #f5f5f5</li>
  
</ul>


  
<h2 id="Supplementary-colours">Supplementary colours</h2>
<p></p>
<ul class="list w-100 list-no-disc">
  
  <li class="p-2" style="background-color: #499f7f; color: white;">$colourOceanGreen: #499f7f</li>
   
  <li class="p-2" style="background-color: #73479c; color: white;">$colourAffair: #73479c</li>
   
  <li class="p-2" style="background-color: #006aaf; color: white;">$colourAllports: #006aaf</li>
   
  <li class="p-2" style="background-color: #d63694; color: white;">$colourCerise: #d63694</li>
   
  <li class="p-2" style="background-color: #98d0bb;">$colourAlgaeGreen: #98d0bb</li>
   
  <li class="p-2" style="background-color: #cce8de;">$colourAeroBlue: #cce8de</li>
   
  <li class="p-2" style="background-color: #49b7ff;">$colourMalibu: #49b7ff</li>
   
  <li class="p-2" style="background-color: #e2f4ff;">$colourAnakiwa: #e2f4ff</li>
   
  <li class="p-2" style="background-color: #b294ce;">$colourLavender: #b294ce</li>
   
  <li class="p-2" style="background-color: #f1ecf6;">$colourMauve: #f1ecf6</li>
   
  <li class="p-2" style="background-color: #e78bc1;">$colourHotPink: #e78bc1</li>
   
  <li class="p-2" style="background-color: #fdf5f9;">$colourLavenderRose: #fdf5f9</li>
  
</ul>


  
<h2 id="Colour-palette">Colour palette</h2>
<p></p>
<div class="row">
  <div class="col-sm-6">
    <ul class="list w-100 list-no-disc">
      
      <li class="p-2" style="background-color: #d9d9d9;">$colourAlto: #d9d9d9</li>
      </li>
      
      <li class="p-2" style="background-color: #f2f2f2;">$colourConcrete: #f2f2f2</li>
      </li>
      
      <li class="p-2" style="background-color: #007bff;">$colourAzureRadiance: #007bff</li>
      </li>
      
      <li class="p-2" style="background-color: #ebe9e1;">$colourCararra: #ebe9e1</li>
      </li>
      
      <li class="p-2" style="background-color: #bd9e5e;">$colourHusk: #bd9e5e</li>
      </li>
      
      <li class="p-2" style="background-color: #231f20; color: white;">$colourThunder: #231f20</li>
      
      
      <li class="p-2" style="background-color: #2f444e; color: white;">$colourPickledBlueWood: #2f444e</li>
      
      
      <li class="p-2" style="background-color: #c8bb8d;">$colourYuma: #c8bb8d</li>
      </li>
      
      <li class="p-2" style="background-color: #152c51; color: white;">$colourBlueZodiac: #152c51</li>
      
      
      <li class="p-2" style="background-color: #191333; color: white;">$colourHaiti: #191333</li>
      
      
      <li class="p-2" style="background-color: #3c2c59; color: white;">$colourBossanova: #3c2c59</li>
      
      
      <li class="p-2" style="background-color: #8fc73e;">$colourAtlantis: #8fc73e</li>
      
      
      <li class="p-2" style="background-color: #009966;">$colourGreenHaze: #009966</li>
      
      <li class="py-2" style="background-color: #233e8b; color: white;">$colourPrussianBlue</li>
      
      <li class="p-2" style="background-color: #f6f6f6;">$colourWildSand: #f6f6f6</li>
      
      
      <li class="p-2" style="background-color: #dff0d8;">$colourPeppermint: #dff0d8</li>
      
      
      <li class="p-2" style="background-color: #fcf8e3;">$colourPearlLusta: #fcf8e3</li>
      
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list w-100 list-no-disc">
      
      <li class="p-2" style="background-color: #d9edf7;">$colourLinkWater: #d9edf7</li>
      
      
      <li class="p-2" style="background-color: #7598cb;">$colourPoloBlue: #7598cb</li>
      
      
      <li class="p-2" style="background-color: #009966;">$colourGreenHaze: #009966</li>
      
      
      <li class="p-2" style="background-color: #BA283A;">$colourBrickRed: #BA283A</li>
      
      
      <li class="p-2" style="background-color: #009966;">$colourGreenHaze: #009966</li>
      
      
      <li class="p-2" style="background-color: #F8FCFA;">$colourPanache: #F8FCFA</li>
      
      
      <li class="p-2" style="background-color: #f8f8f8;">$colourAlabaster: #f8f8f8</li>
      
      
      <li class="p-2" style="background-color: #4786d5;">$colourHavelockBlue: #4786d5</li>
      
      
      <li class="p-2" style="background-color: #727270;">$colourTapa: #727270</li>
      
      
      <li class="p-2" style="background-color: #999999;">$colourDustyGrey: #999999</li>
      
      
      <li class="p-2" style="background-color: #8a8a8a;">$colourLocalNaviation: #8a8a8a</li>
      
      
      <li class="p-2" style="background-color: #8A94A8;">$colourRegentGrey: #8A94A8</li>
      
      
      <li class="p-2" style="background-color: #152c51; color: white;">$colourBlueZodiac: #152c51</li>
      
      
      <li class="p-2" style="background-color: #333333; color: white;">$colourMineShaft: #333333</li>
      
      
      <li class="p-2" style="background-color: #d94c5d; color: white;">$colourCabaret: #d94c5d</li>
      
      
      <li class="p-2" style="background-color: #D4D2CA;">$colourTimberwolf: #D4D2CA</li>
      
    </ul>
  </div>
</div>

  

    </main>
  </div>
</div>
