<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col-md-3 sticky-top vh-100 overflow-auto mb-30">
      <nav class="nav-local" role="navigation">
        <li class="nav-item">
          <a href="https://www.cardiff.ac.uk" data-assetid="104479" class="nav-link level-1">Documentation</a>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#globals-pages"
            class="nav-link level-1 nav-link-lineage"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-haspopup="false"
          >
            <span class="nav-local-section-text">Globals</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigation" id="globals-pages" class="collapse show">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/colours" class="nav-link level-2  "
    >Colours</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/layout" class="nav-link level-2  "
    >Layout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/spacing" class="nav-link level-2  "
    >Spacing</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/typography" class="nav-link level-2  active"
    >Typography</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/utilities" class="nav-link level-2  "
    >Utilities</a>
          </nav>
        </li>
        <li class="nav-item nav-local-section nav-local-section-open">
          <a
            href="#components-pages"
            class="nav-link level-1 nav-link-lineage"
            aria-expanded="false"
            aria-haspopup="false"
            data-toggle="collapse"
            role="button"
          >
            <span class="nav-local-section-text">Components</span>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.7332 444.4667">
              <title>icon-section-open</title>
              <path
                d="M442.0278,212.2486,336.26,318.0593V0H0V81.8045H254.4549V313.4L153.3459,212.2486l-43.7077,43.7242,187.681,188.4939,188.414-188.4939Z"
              ></path>
            </svg>
          </a>
          <nav role="navigations" id="components-pages" class="collapse ">
            <li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/accordion" class="nav-link level-2  "
    >Accordion</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/alert" class="nav-link level-2  "
    >Alerts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/audio" class="nav-link level-2  "
    >Audio</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/box" class="nav-link level-2  "
    >Box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/breadcrumb" class="nav-link level-2  "
    >Breadcrumb</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/button" class="nav-link level-2  "
    >Buttons</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/callout" class="nav-link level-2  "
    >callout</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/card" class="nav-link level-2  "
    >Cards</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/carousel" class="nav-link level-2  "
    >Carousels</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/chart" class="nav-link level-2  "
    >Chart</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/comments" class="nav-link level-2  "
    >Comments</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/contact" class="nav-link level-2  "
    >Contact</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-group" class="nav-link level-2  "
    >Content group</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-map" class="nav-link level-2  "
    >Content map</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/content-toggle" class="nav-link level-2  "
    >Content toggle</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/cookie-banner" class="nav-link level-2  "
    >Cookie banner</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dictionary" class="nav-link level-2  "
    >Dictionary</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/download" class="nav-link level-2  "
    >Downloads</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dropdown" class="nav-link level-2  "
    >Dropdowns</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/dynamic-include" class="nav-link level-2  "
    >Dynamic includes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/embed" class="nav-link level-2  "
    >Embeds</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event" class="nav-link level-2  "
    >Events</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/event-schedule" class="nav-link level-2  "
    >Event Schedule</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/facet" class="nav-link level-2  "
    >Facets</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/fact" class="nav-link level-2  "
    >Facts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/featured-content" class="nav-link level-2  "
    >Featured content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/filter" class="nav-link level-2  "
    >Filter</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-fixed" class="nav-link level-2  "
    >Footer fixed</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/footer-local" class="nav-link level-2  "
    >Local footer</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/form" class="nav-link level-2  "
    >Forms</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/ga-event" class="nav-link level-2  "
    >ga-event</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/hero" class="nav-link level-2  "
    >Heros</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/highlight" class="nav-link level-2  "
    >Highlights</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/iframe" class="nav-link level-2  "
    >IFrames</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/image" class="nav-link level-2  "
    >Images</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/label-badges" class="nav-link level-2  "
    >Label and badges</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/list" class="nav-link level-2  "
    >Lists</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/loader" class="nav-link level-2  "
    >Loaders</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/map" class="nav-link level-2  "
    >Maps</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/math" class="nav-link level-2  "
    >Math</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/modal" class="nav-link level-2  "
    >Modals</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-global" class="nav-link level-2  "
    >Global navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-local" class="nav-link level-2  "
    >Local navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-mobile" class="nav-link level-2  "
    >Mobile navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-secondary" class="nav-link level-2  "
    >Secondary navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/nav-section" class="nav-link level-2  "
    >Section navigation</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/news" class="nav-link level-2  "
    >News</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/notice" class="nav-link level-2  "
    >Notice</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pagination" class="nav-link level-2  "
    >Pagination</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/pills" class="nav-link level-2  "
    >Pills</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/postgraduate-form" class="nav-link level-2  "
    >Postgraduate form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/prettier" class="nav-link level-2  "
    >Pretty print</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/profile" class="nav-link level-2  "
    >Profiles</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/progress" class="nav-link level-2  "
    >Progress</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/publications" class="nav-link level-2  "
    >Publications</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/quote" class="nav-link level-2  "
    >Quotes</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search" class="nav-link level-2  "
    >Search</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-box" class="nav-link level-2  "
    >Search box</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-form" class="nav-link level-2  "
    >Search form</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/search-global" class="nav-link level-2  "
    >Search global</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/skip-content" class="nav-link level-2  "
    >Skip to content</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/squiz" class="nav-link level-2  "
    >Squiz tab bodycopy </a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tab-accordion" class="nav-link level-2  "
    >Tab accordions</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/table" class="nav-link level-2  "
    >Tables</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tabs" class="nav-link level-2  "
    >Tabs</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tags" class="nav-link level-2  "
    >Tags</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/teaser" class="nav-link level-2  "
    >Teasers</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/thumbnails" class="nav-link level-2  "
    >Thumbnails</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/timeline" class="nav-link level-2  "
    >Timelines</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/toasts" class="nav-link level-2  "
    >Toasts</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/tooltip" class="nav-link level-2  "
    >Tooltips</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/validate" class="nav-link level-2  "
    >Validate</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/video" class="nav-link level-2  "
    >Videos</a><li class="nav-item">
    <a
      href="http://localhost:8080/docs/components/well" class="nav-link level-2  "
    >Wells</a>
          </nav>
        </li>
      </nav>
    </div>
    <main class="col-md-9">
      <h1 id="page-title">Typography</h1>
      <p class="lead">Accordions are collapsible groupings of headings and content which are useful for things like FAQs.</p>
      <div class="nav-section sticky-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar">
                  <ul class="nav">
                    <li class="nav-item"><a href="#Headings" class="nav-link">Headings</a><li class="nav-item"><a href="#Font-families" class="nav-link">Font families</a>
                    <li class="dropdown dropdown-more nav-item">
                      <a href="#" class="nav-link dropdown-toggle">More</a>
                      <ul class="dropdown-menu dropdown-menu-more dropdown-menu-right"></ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      <p></p>
      <h2 id="Headings">Headings</h2>
<p></p>
<table class="table">
  <thead>
    <tr>
      <th>Heading</th>
      <th>Usage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h1>h1</h1></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 2.75rem</li>
          <li><strong>Line height</strong>: 3.125rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h2>h2</h2></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 2.125rem</li>
          <li><strong>Line height</strong>: 2.5rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h3>h3</h3></td>
      <td>
        <ul class="list list-no-disc mb-0">
          1.5rem / 1.875rem
          <li><strong>Font size</strong>: 1.5rem</li>
          <li><strong>Line height</strong>: 1.875rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h4>h4</h4></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 1.375rem</li>
          <li><strong>Line height</strong>: 1.8rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h5>h5</h5></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 1.125rem</li>
          <li><strong>Line height</strong>: 1.5rem</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><h6>h6</h6></td>
      <td>
        <ul class="list list-no-disc mb-0">
          <li><strong>Font size</strong>: 1rem</li>
          <li><strong>Line height</strong>: 1.375rem</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

  
<h2 id="Font-families">Font families</h2>
<p></p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Usage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="f-fg-book d-block">Franklin gothic book</span><code>.f-fg-book</code></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="f-fg-book-light d-block">Franklin gothic book light</span><code>.f-fg-book-light</code></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="f-fg-med d-block">Franklin gothic medium</span><code>.f-fg-med</code></td>
      <td></td>
    </tr>
    <tr>
      <td><span class="f-fg-demi d-block">Franklin gothic demi</span><code>.f-fg-demi</code></td>
      <td></td>
    </tr>
  </tbody>
</table>


  

    </main>
  </div>
</div>
