<div class="footer-local" aria-label="Local footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="footer-local-title">People</h1>
        <p class="lead">We are driven by creativity and curiosity to push back the frontiers of knowledge.</p>
      </div>
      <div class="col-md-2">
        <h2 class="footer-local-subtitle">In this section</h2>
      </div>
      <div class="col-md-3">
          <h2 class="footer-local-subtitle"><a class="ga-event" data-category="local-footer" data-action="click-title" data-label="undergraduate-prospectus" href="https://www.cardiff.ac.uk/study/undergraduate/prospectus" aria-label="Undergraduate prospectus">Undergraduate prospectus 2020</a></h2>
        <p>Current staff and students can search the full University directory in the <a
            href="https://intranet.cardiff.ac.uk">intranet</a>.</p>
        <hr class="footer-local-divider">
        <h2 class="footer-local-subtitle">University switchboard</h2>
        <ul class="list list-contact">
          <li><span class="icon-phone"><span class="hidden-text">Telephone: </span></span>+44 (0)29 2087 4000</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2 class="footer-local-subtitle">Find us</h2>
        <p>Cardiff University, Cardiff, CF10 3AT</p>
      </div>
    </div>
  </div>
</div>