$loaderSize: 100px
$loaderSizeSM: 50px

.loader,
.loader:after
  border-radius: 50%
  width: $loaderSize
  height: $loaderSize
  pointer-events: none

.loader
  margin: auto
  font-size: 10px
  position: relative
  text-indent: -9999em
  border: $baseUnit solid $colourWhite
  border-top-color: rgba($colourWhite, 0.2)
  border-right-color: rgba($colourWhite, 0.2)
  border-bottom-color: rgba($colourWhite, 0.2)
  transform: translateZ(0)
  z-index: 1041

  &--black
    border-top: 1.1em solid rgba($colourBlack, 0.2)
    border-right: 1.1em solid rgba($colourBlack, 0.2)
    border-bottom: 1.1em solid rgba($colourBlack, 0.2)
    border-left: 1.1em solid $colourBlack
    
  &--sm
    width: $loaderSizeSM
    height: $loaderSizeSM
    border-width: $baseUnit * 0.5

    &:after
      width: $loaderSizeSM
      height: $loaderSizeSM

  &--silver
    border-color: $colourSilver
    border-top-color: rgba($colourSilver, 0.2)
    border-right-color: rgba($colourSilver, 0.2)
    border-bottom-color: rgba($colourSilver, 0.2)

  &--active
    animation: load-spinner 1s infinite linear

  &--centered
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    margin: auto

@keyframes load-spinner
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
