@media #{$breakpoint-xs-up}
  .teaser
    &--video
      grid-template-columns: minmax(130px, 1fr) 2fr
      align-items: start
      grid-template-areas: "video body"
      width: 100%
      column-gap: $baseUnit*2

      .teaser-body
        margin-top: 0