@media #{$breakpoint-xl-only}
  .teaser
    .teaser-body
      .teaser-category
        a
          &:focus
            text-decoration: none

      p
        a
          &:focus
            background-color: $colourSweetCorn
            box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn

    .teaser-title
      a
        &:focus
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          text-decoration: none
          color: $colourBlack
        &:hover
          color: darken($colourLink, 20%) // $linkColorHover