@media #{$breakpoint-sm-down}
  .teaser:not(.teaser--document).with-image
    padding-left: 0

    .teaser-image
      margin: 0 0 $baseUnit 0
      width: 100% !important

      img
        width: 100%

    &.teaser-small
      padding-left: 0

  .col-md-9
    .teaser
      &.teaser-larger
        &.with-image
          padding-left: 0

          .teaser-image
            margin: 0 0 $baseUnit 0
            width: 100% !important

            img
              width: 100%
