@media #{$breakpoint-sm-only}
  .list-teasers
    margin-left: (-($baseUnit*2))
  
  .col-md-9
    .teaser
      &.teaser-larger
        &.with-image
          padding-left: 0
          .teaser-image
            margin: 0 0 ($baseUnit*3) 0
            width: 100% !important
            img
              width: 100%