@media #{$breakpoint-md-up}
  .teaser
    &--video
      .video
        &.order-md-2
          margin-left: auto

    &.video
      &--active
        .video
          &.order-md-2
            order: 1

      &--transitioning
        .video
          &.order-md-2
            order: 1

          + .teaser-body
            order: 2

    &--document
      &.with-image
        padding-left: #{$teaserDocumentImageWidthMD + $baseUnit * 2}

      .teaser
        &-title,
        &-link
          margin-bottom: $baseUnit * 0.4

        &-description
          margin-top: 10px

        &-category
          margin-left: -#{$teaserDocumentImageWidthMD + $baseUnit * 2}
          margin-bottom: $baseUnit

          .icon
            margin-right: 10px

        &-image
          width: $teaserDocumentImageWidthMD
          margin-left: -#{$teaserDocumentImageWidthMD + $baseUnit * 2}

          img,
          .document-icon
            display: inline-block
            width: $teaserDocumentImageWidthMD
            height: $teaserDocumentImageHeightMD

          .document-icon
            box-shadow: 0px 0px #{$baseUnit * 0.5} 0px rgba($colourBlack, 0.2)
