$teaserSmallImageWidth: 70px
$teaserImageWidth: 170px
$teaserLargeImageWidth: 270px
$teaserLargerImageWidth: 370px
$teaserDocumentImageWidthSM: 80px
$teaserDocumentImageHeightSM: 104px
$teaserDocumentImageWidthMD: 100px
$teaserDocumentImageHeightMD: 140px

.list-teasers
  margin: 0 0 (0 - $baseUnit * 3)
  padding: 0
  list-style: none

  +clearfix()

  .teaser
    margin-bottom: $baseUnit

.teaser
  +clearfix()

  margin-bottom: $baseUnit * 3

  &.teaser--white
    color: $colourWhite

    a
      color: $colourWhite

      &:hover
        color: $colourWhite

      &:focus
        color: $colourBlack
        background-color: $colourSweetCorn
        box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
        outline: ($baseUnit*0.3)  solid $colourSweetCorn

    .teaser-title
      a
        color: $colourWhite

        &:hover
          color: $colourWhite

        &:focus
          color: $colourBlack
          background-color: $colourSweetCorn
          box-shadow: 0 0 0 ($baseUnit*0.3) $colourSweetCorn
          outline: ($baseUnit*0.3)  solid $colourSweetCorn

  &--video
    margin-bottom: $baseUnit * 4
    display: grid
    grid-template-columns: 1fr
    align-items: start
    grid-template-areas: 'video' 'body'
    width: 100%

    .video
      grid-area: video
      display: flex
      width: 100%
      margin: 0
      padding: 0

      img
        position: relative

    .teaser-body
      margin-top: $baseUnit
      grid-area: body
      width: 100%

.teaser-title
  font-family: $boldFontFamily
  font-size: map-get($headingFontSizes, 'normal')
  line-height: map-get($headingLineHeights, 'normal')
  margin-bottom: 0

  a:after
    content: ''

.teaser-category
  display: flex
  align-items: center
  font-family: $boldFontFamily
  font-size: map-get($fontSizes, 'sm')
  line-height: 25px
  text-transform: uppercase
  margin-bottom: 0

  a
    color: $colourRed

.list-tags.teaser-tags
  margin-top: $baseUnit
  margin-bottom: 0

.teaser-body
  position: relative

.teaser-body p
  margin-bottom: 0

.teaser-body .teaser-date
  font-family: $brandFamily
  font-size: map-get($headingFontSizes, 'smer')
  line-height: map-get($headingLineHeights, 'smaller')
  margin-bottom: #{$baseUnit / 2}
  color: $colourGrey

.teaser-comments
  margin: 0
  position: absolute
  right: 0
  top: 0
  font-size: map-get($fontSizes, 'sm')
  line-height: 25px

  .icon
    +square(map-get($fontSizes, 'sm'))

    line-height: 25px

  a
    color: $colourGreyDarker

.teaser-image
  margin: 0
  margin-left: #{-($teaserImageWidth + $baseUnit * 2)}
  float: left
  width: #{$teaserImageWidth}

  img
    +box-shadow(0 0 ($baseUnit * 0.2) rgba($colourBlack, 0.2))

    width: 100%

  a
    display: block

.teaser-small
  margin-bottom: $baseUnit

  .teaser-title
    font-size: map-get($fontSizes, 'normal')
    line-height: map-get($lineHeights, 'normal')

  .teaser-body
    font-size: map-get($fontSizes, 'sm')

  .teaser-image
    margin-left: #{-($teaserSmallImageWidth + $baseUnit)}
    width: $teaserSmallImageWidth

  .teaser-date
    line-height: $baseUnit * 2

.teaser-large
  .teaser-title
    font-family: $boldFontFamily
    font-size: map-get($headingFontSizes, 'lg')
    line-height: map-get($headingLineHeights, 'large')

  .teaser-image
    margin-left: -#{$teaserLargeImageWidth + $baseUnit * 2}
    width: $teaserLargeImageWidth

.teaser-larger
  .teaser-title
    font-family: $boldFontFamily
    font-size: map-get($headingFontSizes, 'xl')
    line-height: maop-get($headingLineHeights, 'xl')
    margin-bottom: $baseUnit

  .teaser-image
    margin-left: #{-($teaserLargerImageWidth + $baseUnit * 2)}
    width: $teaserLargerImageWidth

  .teaser-body
    font-size: 15px

.teaser.with-image
  padding-left: #{$teaserImageWidth + $baseUnit * 2}

  &.teaser-vertical
    padding-left: 0

  &.teaser-small
    padding-left: #{$teaserSmallImageWidth + $baseUnit}

    &.teaser-vertical
      padding-left: 0

  &.teaser-large
    padding-left: #{$teaserLargeImageWidth + $baseUnit * 2}

    &.teaser-vertical
      padding-left: 0

  &.teaser-larger
    padding-left: #{$teaserLargerImageWidth + $baseUnit * 2}

    &.teaser-vertical
      padding-left: 0

.teaser-vertical
  .teaser-image
    margin-left: 0
    margin-bottom: $baseUnit
    float: none
    width: 100%

.teaser-group-landscape
  display: flex
  -webkit-box-orient: horizontal
  flex-direction: row

  .teaser
    &.with-image
      margin-right: $baseUnit * 3

      p:not(.teaser-date)
        display: none

.teaser--document
  &.with-image
    padding-left: #{$teaserDocumentImageWidthSM + $baseUnit * 2}

    &-category
      margin-left: -#{$teaserDocumentImageWidthSM + $baseUnit * 2}

  .teaser
    &-title,
    &-link
      margin-bottom: $baseUnit * 0.4

    &-description
      margin-top: 10px

    &-category
      margin-left: -#{$teaserDocumentImageWidthSM + $baseUnit * 2}
      margin-bottom: $baseUnit

      .icon
        margin-right: 10px

    &-image
      width: $teaserDocumentImageWidthSM
      margin-left: -#{$teaserDocumentImageWidthSM + $baseUnit * 2}

      img,
      .document-icon
        display: inline-block
        width: $teaserDocumentImageWidthSM
        height: $teaserDocumentImageHeightSM

      .document-icon
        box-shadow: 0px 0px #{$baseUnit * 0.5} 0px rgba($colourBlack, 0.2)

@import teaser-xs-only
@import teaser-xs-up
@import teaser-sm-down
@import teaser-sm-only
@import teaser-md-only
@import teaser-md-up
@import teaser-lg-only
@import teaser-lg-up
@import teaser-xl-only
