<p class="notice">This is the default notice. <a href="">More</a></p>

<div class="notice">
    <h3 class="notice-title">This is the notice with a title</h3>
    <p>Nunc aliquet turpis nunc, non dignissim dui placerat at. Morbi ut sem sit amet lacus blandit malesuada. Vivamus ornare suscipit purus. Sed efficitur nulla et nisl feugiat, eu egestas enim ultricies <a href="">fringilla tellus</a>. </p>
</div>