<a class="module-information" href="#modal-new" data-toggle="modal" ata-module="BS1501" data-occurance="18A">Applied Stats and Maths in Econ and Business</a>

<div id="modal-new" class="modal hide fade modal-flex" tabindex="-1" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="demo-modal-heading">Module Information</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">${require-svg('close')}</button>
      </div>
      <div class="modal-summary">
        <div class="row">
          <div class="col-12">
            <h2>Applied Stats and Maths in Econ and Business</h2>
          </div>
          <div class="col-12 col-md-6">
            <p>The aim of the module is to provide non-specialist mathematicians with an introduction and grounding on
                mathematical and statistical tools necessary for quantitative analysis within business, economic and
                accounting environments.</p>
          </div>
          <div class="col-12 col-md-6">
            <table class="table footable">
              <tbody>
                <tr>
                    <th scope="row">Credits</th>
                    <td>20</td>
                </tr>
                <tr>
                    <th scope="row">Module leader</th>
                    <td>Professor Saeed Heravi</td>
                </tr>
                <tr>
                    <th scope="row">Semester</th>
                    <td>Double Semester</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h2 class="colour-red">Assessments</h2>
        <table class="table">
          <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Applied Stats And Maths In Econ And Business - Autumn Examination</td>
                <td>Examination - Autumn Semester</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Applied Stats And Maths In Econ And Business -Spring Examination</td>
                <td>Examination - Spring Semester</td>
                <td>70</td>
            </tr>
          </tbody>
        </table>
        <div id="module-modal-descriptions">
          <h3>On completion of the module a student should be able to</h3>
          <p>A&nbsp;&nbsp;&nbsp; Knowledge and Understanding:</p>
          <ul>
              <li>display a sound understanding of certain mathematical and statistical methods to enable a broad range of
                  data analysis approaches.</li>
              <li>appreciate the value and completeness of these mathematical and statistical methods in helping to
                  understand varying business/economic activity.</li>
              <li>display the progression of intellectual development beyond analysis to synthesis and evaluation.</li>
          </ul>
          <p>B&nbsp;&nbsp;&nbsp; Intellectual Skills:&nbsp;</p>
          <ul>
              <li>acquire the necessary grounding in the theory, concepts, assumptions and techniques of the varying
                  methods.</li>
          </ul>
          <p>C&nbsp;&nbsp;&nbsp; Discipline Specific Skills:&nbsp;</p>
          <ul>
              <li>display the ability to appreciate and assess empirical work, and therefore learn to employ the correct
                  technique for specific problems.&nbsp;</li>
          </ul>
          <p>D&nbsp;&nbsp;&nbsp; Transferable Skills:&nbsp;</p>
          <ul>
              <li>display transferable subject-specific and core skills.</li>
              <li>understanding the progression from problem formulation to solution identification.&nbsp;</li>
          </ul>
          <h3>How the module will be delivered</h3>
          <p>The formal timetabled components of the module comprise 34 hours of lectures and 8 hours of tutorials. The
              lecture programme is supported by detailed handouts, which strive to challenge and empower students to
              attempt tutorial questions, which are closely integrated to the lecture material. Students are supported
              throughout the module through the provision of regular surgeries (18-20 hours per year), advertised weekly
              student-lecturer private consultation, revision sessions and e-mail student-lecturer contact.</p>
          <p>Indicative study hours:&nbsp; &nbsp;200</p>
          <h3>Skills that will be practised and developed</h3>
          <h3>How the module will be assessed</h3>
          <p>The examinations contain a range of questions designed to cover the learning outcomes for the module and to
              test skill development. Questions set are not only designed to test students’ basic knowledge and
              comprehension of the syllabus, but also to assess their ability to apply such knowledge in particular
              contexts. Questions require a combination of numerical and written answers, which test students’ development
              of intellectual, communication, numeric and reasoning skills, as well as subject-specific knowledge.</p>
          <p>A varied range of tutorial, examination-standard, questions are designed to stimulate independent learning
              and to provide an ongoing mechanism for assessing the extent to which students are meeting the module’s
              learning outcomes.&nbsp;&nbsp;Students are encouraged throughout&nbsp;&nbsp;the module to submit queries,
              etc., to the module co-ordinator for discussion and where appropriate, marking.</p>
          <h3>Syllabus content</h3>
          <p>Functions, first and second derivatives. Applications including elasticity of demand. Partial
              differentiation, method of Lagrange multipliers. Series, including application within Investment Appraisal.
              Matrices, including applications to solving simultaneous equations and Lieontief input-output analysis.
              Linear programming, including shadow prices and sensitivity of the solution. Summarising information,
              including percentage frequency and cumulative frequency tables. Graphical presentation of data including Bar
              chart, Histogram. Summary Statistics for raw and grouped data including measures of central tendency.
              Probability, including binomial, Poisson and normal distributions. Central Limit Theorem, including the
              sampling distribution of percentages, point and confidence interval estimation. Hypothesis testing.
              Correlation and Regression including significance of rank correlation.</p>
          <h3>Essential Reading and Resource List</h3>
          <p>Anderson, D.R. et al. 2010.&nbsp;<em>Statistics for business and economics.</em>&nbsp;2<sup>nd</sup>&nbsp;ed.
            London: Cengage Learning. Available at Aberconway library and online at: <a
                href="http://bit.ly/2unF357">http://bit.ly/2unF357</a>&nbsp;</p>
          <p>Curwin, J. et al. 2013.&nbsp;<em>Quantitative methods for business
                  decisions.&nbsp;7</em><sup>th</sup>&nbsp;ed. Australia:&nbsp;<em>Cengage Learning.&nbsp;</em>Available
              at:&nbsp;<a href="http://bit.ly/29IwOst">http://bit.ly/29IwOst</a></p>
          <p>Waters, C.D.J. 2011.&nbsp;<em>Quantitative methods for business.</em>&nbsp;5<sup>th</sup>&nbsp;ed.
              Harlow:&nbsp;<em>Financial Times Prentice Hall</em>. Available at:&nbsp;<a
                  href="http://bit.ly/1e7DiRB">http://bit.ly/29yJdic</a></p>
          <h3>Background Reading and Resource List</h3>
        </div>
      </div>
      <div class="modal-footer">
          
      </div>
    </div>
  </div>
</div>