<div id="moduleInformation" class="modal hide fade dark" tabindex="-1" role="dialog" aria-labelledby="demo-modal-heading"
          aria-hidden="true">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
          <div class="modal-body">
              <div class="modal-summary">
                  <span id="demo-modal-heading"><em>Module information</em></span>
                  <!-- <h2>Computational Thinking</h2><p>This module aims to excite and enthuse students in the field of IT, information systems, software engineering, and computer science. It provides an introduction to some of the fundamentals of computing, explores applications of computing, and develops the relevant intellectual and learning skills. The module addresses this from both a theoretical and a practical viewpoint.</p>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Credits</th>
                       <td>20</td>
                      </tr>
                      <tr>
                        <th scope="row">Module leader</th>
                        <td>Dr Kirill Sidorov</td>
                      </tr>
                      <tr>
                        <th scope="row">Semester</th>
                        <td>Autumn Semester</td>
                      </tr>
                   </tbody>
                  </table> -->
              </div>
              <div class="modal-content">
              <!-- <h3>Assessments</h3><table class="table"><thead><tr><th>Name</th><th>Type</th><th>%</th></tr></thead><tbody></tbody></table><div id="module-modal-descriptions"><h3>Outline Description of Module</h3><p>This module aims to excite and enthuse students in the field of IT, information systems, software engineering, and computer science. It provides an introduction to some of the fundamentals of computing, explores applications of computing, and develops the relevant intellectual and learning skills. The module addresses this from both a theoretical and a practical viewpoint.</p>
                <h3>On completion of the module a student should be able to</h3><p>1. Describe the history of computing and the internal workings of a digital computer.<br>
                2. Complete basic programming tasks in high-level languages (Python).<br>
                3. Construct simple software systems and analyse their functionality.<br>
                4. Have awareness of the application of computation processes to real-world problems.<br>
                5. Begin to apply the best practices, such as using version control software and unit testing.</p>
                
                <p>&nbsp;</p>
                <h3>How the module will be delivered</h3><p>The module will be delivered through a combination of lectures, supervised lab sessions, example classes, and tutorials as appropriate.</p>
                <h3>Skills that will be practised and developed</h3><p>Elementary programming;<br>
                Analysing and solving problems using computational thinking;<br>
                Working on creative projects in teams;<br>
                Contributing effectively and conscientiously to the work of a team;<br>
                Using command line interface to manipulate files and directories, compile and run code, and interact with version control software;<br>
                Elements of personal development planning;<br>
                Communicating ideas and solutions to others;<br>
                Avoiding plagiarism and collusion;<br>
                Planning and managing own workload;<br>
                Study skills (reading, writing, listening, and note taking);<br>
                Students will have a good understanding of what they will encounter and what is expected of them on their degree scheme;<br>
                Students should understand and value the different subjects and disciplines conducted within the School;<br>
                Students will have formed “informal” support networks via team working.</p>
                <h3>How the module will be assessed</h3><p>There will be four points of assessment in the module:</p>
                
                <p>(1) There will be an individual take-home electronically submitted test that will assess the knowledge and understanding of internal workings of a digital computer (architecture, data representation). &nbsp;(LO1)</p>
                
                <p>(2) There will be an individual take-home electronically submitted test that will assess the knowledge of Python. (LO2)</p>
                
                <p>(3) Coursework: the students will complete a small individual project in Python. In doing so, they will have to adhere to best practices (e.g. using version control software and unit testing) and demonstrate their ability to analyse and design simple software systems according to specifications. (LO2,LO3,LO4,LO5)</p>
                
                <p>(4) Coursework: the students will complete a sizeable project in Python working in teams. In doing so, they will have to adhere to best practices (e.g. using version control software and unit testing), demonstrate their ability to analyse and design simple software systems according to specifications, develop basic team-working and presentations skills. (LO2, LO3, LO4,LO5)</p>
                
                <p>All assessments will allow the student to demonstrate their knowledge and practical skills and to apply the principles taught in lectures.</p>
                
                <p>The potential for reassessment in this module is an individual 100% coursework during the summer.</p>
                
                <p>&nbsp;</p>
                <h3>Syllabus content</h3><p>Student Learning<br>
                · Learning skills (meeting personal tutors, system registration, learning resources, library, ethics, plagiarism).<br>
                · Learning spaces (Introduction to the Blackboard VLE, establishing email accounts, and other learning tools).<br>
                Computation<br>
                · What is computation? (Characteristics, limits on its use, relationship to hardware, software, history and future of computing.)<br>
                · Computational thinking at multiple levels of abstraction (applications to the real world problems).<br>
                · Scientific principles underpinning computation.<br>
                · Purpose and level of programming languages.<br>
                Operation of a Digital Computer<br>
                · Basic components of a computer architecture.<br>
                · Elements of logic and Boolean algebra, binary arithmetic.<br>
                · Representation of data.<br>
                Introduction to Programming in Python<br>
                · Values, variables, data types.<br>
                · Program control flow (structured programming).<br>
                · Elementary means of abstraction.<br>
                · Input and output.<br>
                · Python standard library.<br>
                Collaborative Development<br>
                · An introduction to tools available for developing software collaboratively, e.g. Git.<br>
                · Presentation skills.</p>
                <h3>Essential Reading and Resource List</h3><p>No additional reading required.</p>
                
                <p>One free e-book is recommended:</p>
                
                <p>(1) "Think Python 2nd edition"</p>
                <h3>Background Reading and Resource List</h3><p>Not applicable</p></div> -->
                </div>
        </div>

        <!-- End UG single source layout -->



      </div>