<a href="#modal2" role="button" class="btn btn-primary" data-toggle="modal">Modal with Summary</a>

<div id="modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="demo-modal-heading" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Modal Header</p>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">${require-svg('close')}</button>
      </div>
        <div class="modal-body">
          <h2 class="colour-red">Body Header</h2>
          <p>This is some text to make up the modal body section.</p>
        </div>
    </div>
  </div>
</div>