<!-- Button to trigger modal -->
<a href="#demo-with-portrait" role="button" class="btn btn-primary" data-toggle="modal">Launch demo with image</a>

<!-- Modal -->
<div id="demo-with-portrait" class="modal modal-image modal-image--portrait fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close-modal" data-dismiss="modal">
          Close ${require-svg("close")}
        </button>
      </div>

      <div class="modal-body">
        <figure class="image image--downloadable">
          <img src="http://placehold.it/1200x1200" alt="Placeholder">
          <figcaption class="caption image__caption">
            <p class="image__caption__content"></p>
            <a href="#" class="btn btn-success image__download">Download image</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>