<!-- Button to trigger modal -->
<a href="#demo-image" role="button" class="btn btn-primary" data-toggle="modal">Launch demo with image</a>

<!-- Modal -->
<div id="demo-image" class="modal modal-image fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <iframe class="w-100" style="height: 600px"
          src="https://virtualtour.cardiff.ac.uk/central/index.html?/en/main/cathays-1" frameborder="0"></iframe>
      </div>

    </div>
  </div>
</div>