<a href="#modal3" role="button" class="btn btn-primary" data-toggle="modal">Modal with Summary</a>

<div id="modal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="demo-modal-heading" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header no-title">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">${require-svg('close')}</button>
      </div>
      <div class="modal-summary">
        <h2>Summary Header</h2>
        <div class="row">
          <div class="col-md-6">
            The aim of this module is to present the essential mathematical and physical background needed to explain
            key concepts in physical chemistry. The first part of the module therefore provides the student with the
            essential mathematical treatments and machinery required to understand the concepts in the latter part of
            the module. The module aims to provide the student with an understanding of how properties and events at
            the atomic level lead to changes and processes that can be measured at a macroscopic level.
          </div>
          <div class="col-md-6">
            <table class="table footable">
              <tbody>
                <tr>
                  <th scope="row">Credits</th>
                  <td>20</td>
                </tr>
                <tr>
                  <th scope="row">Module leader</th>
                  <td>Professor Peter Knowles</td>
                </tr>
                <tr>
                  <th scope="row">Semester</th>
                  <td>Double Semester</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h2 class="colour-red">Assessments</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Foundations Of Physical Chemistry</td>
              <td>Examination - Spring Semester</td>
              <td>60</td>
            </tr>
            <tr>
              <td>Autumn Semester Practical</td>
              <td>Practical-Based Assessment</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Spring Semester Practical</td>
              <td>Practical-Based Assessment</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Autumn Semester Tutorials</td>
              <td>Written Assessment</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Spring Semester Tutorials</td>
              <td>Written Assessment</td>
              <td>2</td>
            </tr>
            <tr>
              <td>January Test &amp; Workshops</td>
              <td>Written Assessment</td>
              <td>10</td>
            </tr>
          </tbody>
        </table>
        <div id="module-modal-descriptions">
          <h3>On completion of the module a student should be able to</h3>
          <p><strong><em>Knowledge</em></strong></p>

          <ol>
            <li>Describe Newton’s laws of motion and demonstrate their importance in conservation of momentum;</li>
            <li>Distinguish between work done, energy and power, specifically knowing the importance of potential
              energy, kinetic energy and conservation of energy;</li>
            <li>Know about the early mysteries of classical mechanics, including the nature of light, the nature of
              matter, UV catastrophe, and the quantum hypothesis as proposed by Planck;&nbsp;</li>
            <li>Relate the failings and limitations of classical mechanics to describe the properties of particles
              at the atomic scale;</li>
            <li>Describe simple harmonic motion and the modes of oscillators for diatomic and linear triatomic
              molecules;</li>
            <li>Describe the behaviour of gases in terms of molecular properties, recall the Ideal Gas Law, the
              fundamental assumptions it makes and modifications thereto for non-ideality (van der Waals), gas
              diffusion and Graham’s Law;</li>
            <li>Know the importance of Maxwell-Boltzmann velocity and speed distributions;</li>
            <li>State the rate equation for a given reaction and distinguish between molecularity and order of
              reactions, recalling the integrated rate equations for 1st , 2nd and zero order reactions;</li>
            <li>Describe the effect of temperature on reactions, recalling the Arrhenius equation and its
              relationship with the Boltzmann distribution;</li>
            <li>Describe the collision theory of reaction rates and be aware of improvements to it;</li>
            <li>Describe methods used to measure rates of reaction at different timescales;</li>
            <li>State the relationships between frequency, wavelength and energy, and list the regions of the
              electromagnetic spectrum arranged in order of energy;</li>
            <li>Describe absorption and emission processes and label lines in the H atom spectrum;</li>
            <li>Discuss electronic, vibrational, rotational and translational excitation of molecules and select
              appropriate regions of the spectrum for each;</li>
            <li>Know the classification of molecules in rotational spectra;</li>
            <li>Know the equations determining energy levels in a simple harmonic oscillator and for a linear rotor;
            </li>
            <li>Describe the diffraction of light and of electrons with awareness of the wave-particle duality;</li>
            <li>State the first and second laws of thermodynamics, and be able to explain the difference between
              work and heat, and between reversible and non-reversible processes;</li>
            <li>Define what a state function is and give examples;</li>
            <li>Define the concept of enthalpy and explain how it can be measured, specifically enthalpies of
              fusion, sublimation, ionisation, dissociation;</li>
            <li>Apply Hess’s law and use Born-Haber cycles;</li>
            <li>Estimate reaction enthalpies from average bond energies;</li>
            <li>Define entropy in relation to chemical reactions;</li>
            <li>Explain how entropy is measured and its significance in chemical reactions;</li>
            <li>Rationalise and predict the sign of an entropy change for a chemical or physical transformation;
            </li>
            <li>Define the standard Gibbs free energy and explain its relationship to equilibrium constants.</li>
          </ol>

          <p>&nbsp;<strong><em>Understanding</em></strong></p>

          <ol>
            <li>Understand how a few basic rules or ‘laws of nature’, such as Newton’s Laws of motion, demonstrated
              that disparate phenomena in nature could be explained in simple terms;</li>
            <li>Understand how periodic motion, a common form of mechanical behaviour, and its oscillatory
              characteristics, can be used to understand bonding and energy levels;</li>
            <li>Understand how classical mechanics can be generally used to derive expressions for the pressure and
              temperature of a gas in terms of the mass and velocity of its constituents;&nbsp;&nbsp;</li>
            <li>Understand how reaction rates are dictated by concentration, reaction order and temperature;</li>
            <li>Understand how spectroscopy can reveal important details of the structure of atoms and the bonding
              in molecules;</li>
            <li>Understand how different regions of the electromagnetic spectrum yield different types of
              information on the properties of atoms and molecules;</li>
            <li>Understand how thermodynamics is concerned with the study of macroscopic systems or bulk assembles,
              rather than individual molecules;</li>
            <li>Understand how and why changes in entropy and enthalpy of a substance accompany changes in phases,
              and how phase equilibria are established.</li>
          </ol>
          <h3>How the module will be delivered</h3>
          <p>33 1-hour lectures, 27 (9 x 3) hours of practical work, 4 1-hour tutorials, 4 1-hour workshops</p>
          <h3>Skills that will be practised and developed</h3>
          <p><strong>Intellectual skills</strong></p>

          <ol>
            <li>Ability to link formal theory with the observed behaviour of matter.</li>
          </ol>

          <p>&nbsp;</p>

          <p><strong>Chemistry-specific skills</strong></p>

          <ol>
            <li>Interpretation of experimental observations in terms of the molecular properties of the system;</li>
            <li>Use of measurements of quantities such as heat, composition and pressure to determine thermodynamic
              parameters, and to construct simple phase diagram;</li>
            <li>Use of integrated rate equations, initial rates and half-lives to determine reaction orders and
              hence determine activation energy and pre-exponential factor from experimental data for 1st, 2nd and
              zero order reactions;</li>
            <li>Measurement and interpretation of electronic, vibrational and rotational spectra;</li>
            <li>Obtaining information on molecular properties such as bond length and bond strength from
              spectroscopic measurements;</li>
            <li>Carrying out standard experimental techniques in connection with determination of thermodynamic and
              electrochemical quantities;</li>
            <li>Demonstration of further development in the skill of extracting fundamental information from
              experimental results.</li>
          </ol>

          <p><strong>Transferable skills</strong></p>

          <ol>
            <li>Appreciation of the requirement for accuracy and precision in obtaining, recording and reporting
              experimental measurements;</li>
            <li>Experience in the use of spreadsheets to evaluate experimental data;</li>
            <li>Use of qualitative arguments to develop a theoretical model of a process;</li>
            <li>Use of quantitative measurements to verify or disprove theoretical models.</li>
          </ol>
          <h3>How the module will be assessed</h3>
          <p>The module is assessed continuously via practical write-ups, tutorial preparation, a class test and an
            assessed workshop, and via an end of session examination.</p>

          <p>&nbsp;</p>

          <p><strong>THE OPPORTUNITY FOR REASSESSMENT IN THIS MODULE:</strong></p>

          <p>&nbsp;</p>

          <p>&nbsp;</p>

          <p>The examination element of assessment can be retaken in the August exam period.</p>
          <h3>Syllabus content</h3>
          <p><strong>Foundations of physical chemistry I</strong> (Autumn semester)</p>

          <p><em>An introduction to Physical Chemistry: </em>the states of matter, physical state, forces, energy,
            pressure, temperature, amount of substance, units.</p>

          <p><em>Circular motion &amp; simple harmonic motion</em>: measuring rotation and angular speed,
            centripetal acceleration, moving in horizontal circles, free oscillations, damped oscillations, forced
            oscillations, coupled oscillators and normal modes.</p>

          <p><em>Introduction to chemical thermodynamics</em>: open/closed/isolated systems; state functions; sample
            and molar quantities.</p>

          <p><em>Energy:</em> internal energy, work, heat and the first law; ideal gas; heat capacity;
            constant-pressure conditions and enthalpy; standard states.</p>

          <p><em>Entropy: </em>spontaneity, disorder and the second law; third law; variation of entropy with
            temperature; entropy of environment and Gibbs free energy; chemical potential; equilibrium; variation of
            free energy, chemical potential and equilibrium constants with pressure and temperature; phase changes.
          </p>

          <p><em>Mixtures</em>: variation of free energy, chemical potential and equilibrium constants with
            composition.<br>
            &nbsp;</p>

          <p><strong>Foundations of physical chemistry II </strong>(Spring semester)</p>

          <p><em>Properties of Gases: </em>ideal gas, mixtures of ideal gases, real gases, equations of state,
            intermolecular forces, liquefaction of gases, properties of gases at the molecular level, kinetic theory
            of gases, distribution of molecular speeds, diffusion, effusion.</p>

          <p><em>Chemical Kinetics:</em> experimental aspects, rate of reactions, rate laws and rate constants,
            determining the rate law of a reaction, integrated rate laws, half-life of a reaction, method of initial
            rates, temperature dependence of reaction rates (Arrhenius equation)</p>

          <p><em>An introduction to spectroscopy</em>: nature of light (wavelength, frequency and wavenumber)</p>

          <p><em>Atomic spectroscopy</em>: electronic spectrum of H atom, Bohr theory, atoms with many electrons.
          </p>

          <p><em>Molecular rotations and vibrations</em>: molecular spectra (vibrational, rotational,
            translational), classification of molecules in rotational spectra (symmetric tops, spherical tops,
            asymmetric tops), anharmonicity effects, Raman effect.</p>

          <p><em>Electronic transitions</em>: photo-electron spectroscopy, absorption spectroscopy, Beer-Lambert
            law.</p>

          <p><em>Magnetic resonance</em>: electrons and nuclei in a magnetic field (Zeeman effect), chemical shift
            and spin relaxation.</p>
          <h3>Essential Reading and Resource List</h3>
          <p>Please see Background Reading List for an indicative list.</p>
          <h3>Background Reading and Resource List</h3>
          <p>Elements of physical chemistry, P. Atkins, J. de Paula, 7<sup>th</sup>&nbsp;Ed., Oxford University
            Press, 2016.&nbsp; ISBN 978-0-19-872787-3</p>

          <p>Physical chemistry, P. Atkins, J. de Paula, 10<sup>th</sup>&nbsp;Ed., Oxford University Press,
            2014.&nbsp; ISBN 978-0-19-969740-3</p>

          <p>Basic Chemical Thermodynamics, E. B. Smith, 5<sup>th</sup> Ed., Imperial College Press, 2004. ISBN
            978-1-86094-446-8</p>

          <p>Physical chemistry, K. J. Laidler, J. H. Meiser, 3<sup>rd</sup>&nbsp;Ed., Houghton Mifflin Co.,
            1999.&nbsp; ISBN 0-395-91848-0</p>

          <p>Foundations of physical chemistry, N. Lawrence, J. Wadhawan, R. Compton, Oxford Chemistry Primers,
            1999.&nbsp; ISBN 0-19-850462-4</p>

          <p>Foundations of physics for chemists, G. A. D. Ritchie, D. S. Sivia, Oxford Chemistry Primers,
            2000.&nbsp; ISBN 0-19-850360-1</p>

          <p>Introduction to quantum theory and atomic structure, P. A. Cox, Oxford Chemistry Primers, 1996.&nbsp;
            ISBN 0-19-855916-X</p>
        </div>
      </div>
    </div>
  </div>
</div>