@media #{$breakpoint-xl-up}
  .event-schedule__item
    &__icon
      +square($baseUnit * 13.1)

      &:before
        +square($baseUnit * 14.5)

        content: ''
        border: ($baseUnit * 0.3) solid $colourSilver
        top: -$baseUnit * 0.8
        left: -$baseUnit * 0.8

      .icon
        +square($baseUnit * 6)

        top: $baseUnit * 3.5

      &:focus
        background: none
        outline: none

        &:after
          +square(149px)

          top: -$baseUnit
          left: -$baseUnit

    &__title
      font-size: 1.375rem
      line-height: 1.8rem

    &__time
      display: inline-block
