.event-schedule
  margin: ($baseUnit * 2.5) 0 0
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column

  &__item
    display: flex
    align-items: center
    margin: 0 0 $baseUnit
    width: 100%
    margin-bottom: $baseUnit * 2

    &__icon
      +square($baseUnit * 8)

      min-width: $baseUnit * 8
      position: relative
      border-radius: 100%
      border: ($baseUnit * 0.1) solid $colourGreyDarker
      margin: 0 #{$baseUnit * 2.5} #{$baseUnit * 2} #{$baseUnit * 0.6}

      &:before
        +square($baseUnit * 9)

        content: ''
        border: ($baseUnit * 0.2) solid $colourSilver
        position: absolute
        top: -$baseUnit * 0.6
        left: -$baseUnit * 0.6
        border-radius: 100%

      &:hover:before
        border-color: $colourGreyDarkest

      .icon
        +square($baseUnit * 4)

        position: absolute
        top: $baseUnit * 2
        left: 0
        right: 0
        text-align: center
        margin: 0 auto

    &__body
      text-align: left
      width: 100%

    &__title
      margin-bottom: $baseUnit * 0.5
      font-family: $boldFontFamily
      line-height: 1.8rem

      a
        color: $colourLink
        text-decoration: underline

        &:hover
          color: $colourLinkHover

    &__date
      font-family: $boldFontFamily
      margin-bottom: 0

    &__time
      font-family: $brandFamily

  &--horizontal
    margin: 0
    list-style-type: none
    align-items: normal

    .event-schedule
      &__item
        margin: #{$baseUnit * 0.5} 0 #{$baseUnit * 2}

        &:hover
          .event-schedule__item__icon:before
            border-color: $colourGreyDarkest

        &__body
          display: flex
          width: 100%
          text-align: left

          &:focus
            background: none

          &:hover
            .event-schedules-icon:before
              border-color: $colourGreyDarkest

        &__title
          font-size: 1.375rem
          line-height: 1.8rem
          font-family: $boldFontFamily

        &__icon
          +square(50px)

          min-width: 50px
          margin: 0 #{$baseUnit * 2} 0 #{$baseUnit * 0.6}

          &:before
            +square(58px)

            content: ''
            top: -5px
            left: -5px

          .icon
            +square(27px)

            top: 10px

@import event-schedule-md-up
@import event-schedule-xl-up
