@media #{$breakpoint-md-up}
  .event-schedule
    align-items: baseline
    flex-direction: row

    &__item
      flex-direction: column
      width: 20%
      margin-left: 0

      &__icon
        +square($baseUnit * 9)

        border: ($baseUnit * 0.1) solid $colourGreyDarker
        margin-right: auto
        margin-left: auto

        &:before
          +square(100px)

          content: ''
          border: ($baseUnit * 0.2) solid $colourSilver

        .icon
          +square($baseUnit * 4.5)

          top: $baseUnit * 2.2

        &:focus
          background: none
          outline: none

          &:after
            +square(104px)

            content: ''
            border: ($baseUnit * 0.2) solid $colourSweetCorn
            position: absolute
            top: -$baseUnit * 0.8
            left: -$baseUnit * 0.8
            border-radius: 100%

      &__body
        text-align: center
        padding: 0 $baseUnit

      &__title
        font-size: map-get($headingFontSizes, 'sm')
        line-height: map-get($headingLineHeights, 'sm')

      &__date
        font-size: map-get($fontSizes, 'normal')

      &__time
        display: block

    &--horizontal
      .event-schedule__item
        width: 33.3333%
        margin-bottom: $baseUnit * 1.5
        padding-right: $baseUnit * 3
        align-items: start

        &:last-child
          padding-right: 0
