<ul class="thumbnails thumbnails-condensed">
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
  <li class=""><a class="thumbnail" href="#"><img src="http://placehold.it/70x70"></a></li>
</ul>