<ul class="thumbnails thumbnails-logos">
  <li>
    <a class="thumbnail" href="http://www.nielsen.com/uk/en.html">
      <img src="https://cardiff.imgix.net/__data/assets/image/0005/136922/nielsen-logo.jpg?h=80&amp;auto=format&amp;fit=crop&amp;q=40" alt="Nielsen">
    </a>
  </li>
  </ul>