<ul class="thumbnails">
  <li class="">
    <a class="thumbnail with-modal" href="http://placehold.it/570x320" data-image-height="70" data-image-width="70">
      <img src="http://placehold.it/70x70">
    </a>
  </li>
  <li class="">
    <a class="thumbnail with-modal"
      href="https://cardiff.imgix.net/__data/assets/image/0006/129291/Alumni_book_Winters_End.png?w=570&amp;h=309&amp;auto=format&amp;q=60"
      data-caption="Figure 1: Canine mammary comedocarcinoma" data-image-height="803" data-image-width="506">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0006/129291/Alumni_book_Winters_End.png?w=70&amp;h=70&amp;auto=format&amp;fit=crop&amp;q=20"
        alt="">

      <div class="caption">Portrait</div>
    </a>
  </li>
  <li class="">
    <a class="thumbnail with-modal"
      href="https://cardiff.imgix.net/__data/assets/image/0006/2472963/Canine-mammary-comedocarcinoma-2.png?w=570&amp;h=309&amp;auto=format&amp;q=60"
      data-caption="Figure 2: Canine mammary comedocarcinoma" data-image-height="70" data-image-width="70">
      <img
        src="https://cardiff.imgix.net/__data/assets/image/0006/2472963/Canine-mammary-comedocarcinoma-2.png?w=70&amp;h=70&amp;auto=format&amp;fit=crop&amp;q=20"
        alt="">

      <div class="caption">Landscape</div>
    </a>
  </li>
  <li class="">
    <a class="thumbnail with-modal" href="http://placehold.it/570x320" data-caption="This is the caption in the modal">
      <img src="http://placehold.it/70x70">

    </a>
  </li>
  <li class="">
    <a class="thumbnail with-modal" href="http://placehold.it/570x320" data-download-link="https://www.google.com">
      <img src="http://placehold.it/70x70">
    </a>
  </li>
  <li class="">
    <a class="thumbnail with-modal" href="http://placehold.it/570x320" data-caption="This is the caption in the modal"
      data-download-link="https://www.google.com">
      <img src="http://placehold.it/70x70">
    </a>
  </li>
</ul>