<h2>Box</h2>
<h3>Search box</h3>
${require('variations/box-search')}
${require('variations/box.html')}
<h3>Horizontal box</h3>
${require('variations/box-horizontal.html')}
<h3>Secondary box</h3>
${require('variations/box-secondary.html')}
<h3>Without header</h3>
${require('variations/box-wo-header.html')}
<h3>Without footer</h3>
${require('variations/box-wo-footer.html')}
<h3>With icon</h3>
${require('variations/box-icon.html')}
<h3>With image</h3>
${require('variations/box-image.html')}
<h3>Quote</h3>
${require('variations/box-quote.html')}
<h3>Quote with source</h3>
${require('variations/box-quote-with-source')}

<div class="row">
  ${require('variations/box-primary.html')}
  ${require('variations/box-inverse.html')}
</div>

<h3>Contact</h3>
${require('variations/box-contact.html')}

<h3>Box Facilities</h3>
<div class="col-12 col-lg-8">
  ${require('variations/box-facilities.html')}
</div>

<div class="row">
  <div class="col-md-3">
    <h3>Box Calltoaction</h3>
    ${require('variations/box-calltoaction.html')}
  </div>

  <div class="col-md-3">
    <h3>Box with profile</h3>
    ${require('variations/box-profile.html')}
  </div>

  <div class="col-md-3">
    <h3>Box with profiles</h3>
    ${require('variations/box-profiles.html')}
  </div>
</div>
