.event-dates
  margin-bottom: ($baseUnit * 2)

  .event-dates-item
    display: inline-block
    margin-right: ($baseUnit * 2)

    &:last-child
      margin-right: 0

.event-metadata
  background-color: $colourGreySofter
  padding: #{($baseUnit * 1.7)} #{($baseUnit * 1.4)}
  margin-bottom: ($baseUnit * 2)

  .event-title
    padding-right: ($baseUnit * 2)
    font: $headingFontSize $headingsFontFamily
    margin-bottom: $baseUnit

  .event-section
    margin-top: ($baseUnit * 2)
    
    &:first-child
      margin-top: 0
  
  .event-email
    overflow: hidden
    text-overflow: ellipsis

  &.event-metadata-container
    padding: ($baseUnit * 2)

    hr
      border-top: ($baseUnit / 10) solid $colourBtnBorder
      border-bottom: none
  
    .btn-block
      margin: 0

@import "event-sm-up"