<h2>with video</h2>
${require('variations/callout-video.html')}

<h2>without video</h2>
${require('variations/callout-plain.html')}

<h2>video only</h2>
${require('variations/callout-video-only.html')}