@media #{$breakpoint-md-up}
  .tabs-vertical
    .nav-list
      flex-wrap: unset

  .accordion-mobile
    width: calc(100% - 410px)

    .active
      .accordion-section
        .accordion-section-body
          height: auto !important

    .accordion-section-header
      display: none

      span
        margin-left: 5px

    .accordion-section-body
      height: auto

      &.collapse
        display: block