@media #{$breakpoint-md-down}
  .tabs-vertical
    .nav-list
      display: none
    
  .accordion-mobile
    .tab-content
      .tab-pane
        display: block
          
    .accordion-section-header a
      display: block

      span
        margin-left: 5px
    
    .accordion-section
      margin: 0
      box-shadow: none
      border-radius: 0
      margin-top: (-$baseUnit * 0.2)
    
    .tab-pane
      &:first-child
        .panel
          border-radius: #{($baseUnit * 0.5)} #{($baseUnit * 0.5)} 0 0

      &:last-child
        .accordion-section
          border-radius: 0 0 #{($baseUnit * 0.5)} #{($baseUnit * 0.5)}