.table
  font-size: map-get($fontSizes, 'normal')
  margin-bottom: $baseUnit * 2.4

  th
    font-family: $boldFontFamily
    font-weight: normal
    border-bottom-width: $baseUnit * 0.1

    &:focus
      outline: none

  &-caption
    padding: 0 0 $baseUnit 0
    margin: 0
    color: $colourGreyDarker
    text-align: center
    font-size: 0.875rem

  &:not(.table-bordered)
    tr:first-child
      th,
      td
        border-top: none

  td
    width: auto !important

    h1, h2, h3, h4, h5, h6
      a
        text-decoration: none

        &:hover
          text-decoration: underline

  &.table-large
    font-size: map-get($font18, 'size')
    line-height: map-get($font18, 'line-height')

    th
      font-size: map-get($font18, 'size')
      line-height: map-get($font18, 'line-height')

    td,
    th
      padding-top: $baseUnit * 1.5
      padding-bottom: $baseUnit * 1.5
      border-top: $baseUnit * 0.2 solid $colourGreyLight

  &-sortable
    thead
      th
        cursor: pointer

.tablesorter
  &-headerUnSorted
    background-image: url('data:image/svg+xml;utf8,<svg class="icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 768 767" style="enable-background:new 0 0 768 767;" xml:space="preserve"><path d="M768,512L545,767L320,512h158V257h129v255H768z M448,256L225,1L0,256h158v255h129V256H448z"/></svg>')
    background-repeat: no-repeat
    background-position: $baseUnit 50%
    padding-left: ($baseUnit * 3.5) !important
    background-size: $baseUnit * 1.5

  &-headerDesc
    background-image: url('data:image/svg+xml;utf8,<svg class="icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 896 767" style="enable-background:new 0 0 896 767;" xml:space="preserve"><path d="M448,512L225,767L0,512h158V257h129v255H448z M384,448h256v-64H384V448z M384,256h384v-64H384V256z M896,0v64H384V0H896z"/></svg>')
    background-repeat: no-repeat
    background-position: $baseUnit 50%
    padding-left: ($baseUnit * 3.5) !important
    background-size: $baseUnit * 1.5

  &-headerAsc
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 896 767" style="enable-background: new 0 0 896 767;" xml:space="preserve"><path d="M448.5,255L224.5,0L0.5,255h158v256h129V255H448.5z M384.5,319h256v64h-256V319z M384.5,511h384v64h-384V511z M896.5,767v-64h-512v64H896.5z"/></svg>')
    background-repeat: no-repeat
    background-position: $baseUnit 50%
    padding-left: ($baseUnit * 3.5) !important
    background-size: $baseUnit * 1.5
