<div class="tab-pane squiz-bodycopy" desc="£25,000+" id="25000_1409280">
  <p>
    Mr Corin Frost (BScEcon 1991)<br />Mr Jonathan Hodge (Hon 2019)<br />Mrs Karen Hodge (Hon 2019)<br />Mr Yousef Jameel<br />Mr David Stevens CBE<br />Professor
    Heather Stevens CBE (Hon 2012)<br />Sir Stanley Thomas OBE (Hon 2011)<br />Mr David Zhang (MSc 1989)<br />Mrs May Zhang
  </p>
</div>
<div class="tab-pane squiz-bodycopy" desc="£5,000 - £24,999" id="5000_-_24999_1409286">
  <p>
    Dr Meng Cai<br />Mr A B R Cheek<br />Mrs J A Cheek<br />Mrs Kathryn Clarke<br />Mr Alastair Gibbons (BScEcon 1980)<br />Mrs Lynwen Gibbons<br />Mr
    Andy Smith<br />Mr Johnathan Smith<br />Mrs Jolander Watts<br />Dr Michael Watts (BSc 1977, PhD 1980)<br />Dr Jun Wei<br />Mrs Anne Whipp
  </p>
</div>
<div class="tab-pane squiz-bodycopy" desc="£1,000 - £4,999" id="1000_-_4999_1409293">
  <p>
    Mr Iain Anderson (PGDip 1992)<br />Mr James Armstrong (BSc 2001)<br />Mr Christopher Asprou (BSc 1979)<br />Mrs Vasoulla Asprou<br />Mr Pers
    Aswani (BScEcon 1985)<br />Professor Michael Bagshaw (MBBCh 1973)<br />Dr Carol Bell<br />Mr Stephen Bird (MBA 1995, Hon 2016)<br />Mr Andrew
    Burgess (BScEcon 1986)<br />Mr Julian Chamberlain (BSc 1973)<br />Ms Pingjun Chen (MA 1994)<br />Ms Debbie Clarke (MBA 1996)<br />Mr David Coles
    (BScEcon 1986)<br />Mrs Nancy Coles<br />Mrs Elizabeth Davidson<br />Mr Gavin Davidson (MBA 1992)<br />Mr Alistair Davies (BSc 1982)<br />Mr Paul
    Davies (LLB 1992, Mphil 1995)<br />Mr Huw Edwards (BA 1983, Hon 2003)<br />Mr John Endacott (BScEcon 1989)<br />Professor Rachel Errington (BSc
    1988)<br />Mr Graham Evans<br />Mr John Evans (BEng 1986)<br />Mr Salar Farzad (BSc 1987)<br />Mrs Enid George<br />Mr Dylan Gwyer-Roberts JP
    (BMus 1980, PGCE 1981)<br />Mrs Susan A Gwyer-Roberts DL (BA 1980, PGCE 1981, MEd 1987)<br />Mr Ian Hart (BSc 1971)<br />Mr Peter Hillier (BSc
    1982)<br />Mrs Coral Juleff<br />Mr Malcolm Juleff (BSc 1959)<br />Professor Roger King (PhD 1988)<br />Dr La-Chun Lindsay (Hon 2017)<br />Mrs
    Patricia Mains (BDS 1976)<br />Mr Stephen Mason (BSc 1987)<br />Mr Iain Maxted (Engineering 1982-84, LLM 2019)<br />Mr Angus McBride (BA 1987)<br />Mr
    Cyril Meghani (BScEcon 1992)<br />Mrs Kastur Meghani<br />Dr Gareth Morgan (BSc 1968)<br />Mr Aamir Mumtaz (BEng 1986)<br />Mr Dean Nash (LLB
    2002, PGDip 2003)<br />Dr Peter Newman (BEng 1978)<br />Mr Derek Newton (BEng 1983)<br />Mrs Melissa Newton<br />Professor Sir Michael Owen<br />Professor
    Stuart Palmer<br />Mrs Sue Palmer<br />Ms Farzana Rao (LLB 1988)<br />Mr Nick Rawlinson<br />Mrs TJ Rawlinson<br />Mrs Ruth Rees (BA 2000, MA
    2002, Ancient History 2018 -2019)<br />Professor Colin Riordan<br />Mrs Elizabeth Roberts<br />Dr Helen Routh (BSc 1983, PhD 1987)<br />Dr Martin
    Rowlands (BSc 1979, PhD 1980)<br />Mrs Jayne Sadgrove (née Young, Dowden) (BA 1978, MA 1980)<br />Dr Quentin Sandifer (MBBCH 1985, MPH 1995)<br />Dr
    Gordon Sanghera (BSc 1982, PhD 1987)<br />Mrs Sonia Sayed<br />Mr Angus Scott (BSc 1985)<br />Ms Shirley Scoulding (BA 1982)<br />Mr David
    Simpson<br />Mrs Dee Dee Simpson<br />Professor Elizabeth Treasure<br />Mr Simon Wedgbury (BSc 1985)<br />Dr Linda Wilding (BSc 1980, PhD 1985)<br />Mr
    David Williams (BSc 1984)<br />Mr Lyndon Wood (Hon 2018)<br />Mr Nicholas Wood (LLB 1983)<br />Mrs Shirley Ann Wood
  </p>
</div>
